include ../../templates/index.pug
include ../_mixins.pug

mixin button-test
  .display-flex.flex-wrap
    +mdwButton Text
    +mdwButton({ raised:true }) Contained
    +mdwButton({ raised:true, disabled:true }) Disabled
    +mdwButton({ borderInk:'default'}) Outlined
  div(style="height:24px")
  .display-flex.flex-wrap
    +mdwButton({ ink:'primary' }) Text
    +mdwButton({ ink:'primary', raised:true }) Contained
    +mdwButton({ ink:'primary', raised:true, disabled:true }) Disabled
    +mdwButton({ ink:'secondary' }) Secondary
    +mdwButton({ ink:'secondary', borderInk:true }) Outlined
  div(style="height:24px")
  .display-flex.flex-wrap
    +mdwButton({ surface:'primary 500', dark:true }) Text
    +mdwButton({ surface:'primary 500', dark:true, raised:true }) Contained
    +mdwButton({ surface:'primary 500', dark:true, raised:true, disabled:true }) Disabled
    +mdwButton({ surface:'secondary 100', light:true, raised:true }) Outlined
  div(style="height:24px")
  .display-flex.flex-wrap
    +mdwButton({ icon:true }).material-icons favorite
    +mdwButton({ ink:"warn", dark:true, icon:true }).material-icons favorite
    +mdwButton({ surface:"warn 500", dark:true, icon:true }).material-icons favorite
    +mdwButton({ surface:"warn 500", dark:true, icon:true, raised:true }).material-icons favorite
    +mdwButton({ surface:"warn 500", dark:true, icon:true, raised:true, disabled:true }).material-icons favorite
    +mdwButton({ icon:true, disabled:true }).material-icons favorite

+header("button")
  .mdw-grid(mdw-margin-top mdw-margin-bottom mdw-stretch)
    .mdw-grid__item(mdw-colspan="100%")
      .mdw-grid__content
        h5.mdw-type(mdw-baseline-next="36") Buttons communicate the action that will occur when the user touches them.
        p.mdw-type Material buttons trigger an ink reaction on press. They may display text, imagery, or both.
    .mdw-grid__item(mdw-colspan="6")
      .mdw-grid__content
        .component-sample
          .display-flex
            a.mdw-button.mdw-theme(mdw-ink="secondary") Button
    .mdw-grid__item(mdw-colspan="6")
      .mdw-grid__content
        .mdw-type(mdw-style="subtitle") Javascript
        div.docs-option-list
          +mdwSelection({ink:'secondary', name:'javascript', type:'radio', value:'required', disabled:true}) Required
          +mdwSelection({ink:'secondary', name:'javascript', type:'radio', value:'optional', checked:true}) Optional
          +mdwSelection({ink:'secondary', name:'javascript', type:'radio', value:'none'}) None
        .mdw-type(mdw-style="subtitle") Overlay
        div.docs-option-list
          +mdwSelection({ink:'secondary', name:'overlay-hover', checked:true}) Hover
          +mdwSelection({ink:'secondary', name:'overlay-focus', checked:true}) Focus
          +mdwSelection({ink:'secondary', name:'overlay-activated', checked:true}) Activated
        .mdw-type(mdw-style="subtitle") Options
        div.docs-option-list
          +mdwSelection({ink:'secondary', name:'icon'}) Icon
          +mdwSelection({ink:'secondary', name:'raised'}) Raised
          +mdwSelection({ink:'secondary', name:'ripple', checked:true}) Ripple
          +mdwSelection({ink:'secondary', name:'disabled'}) Disabled
        .mdw-type(mdw-style="subtitle") Outline
        div.docs-option-list
          +mdwSelection({ink:'secondary', name:'outline', type:'radio', value:'none', checked:true}) None
          +mdwSelection({ink:'secondary', name:'outline', type:'radio', value:'default'}) Default
          +mdwSelection({ink:'secondary', name:'outline', type:'radio', value:''}) Ink
        .mdw-type(mdw-style="subtitle") Activated Toggle
        div.docs-option-list
          +mdwSelection({ink:'secondary', name:'toggle', type:'radio', value:'', checked:true}) None
          +mdwSelection({ink:'secondary', name:'toggle', type:'radio', value:'false'}) Off
          +mdwSelection({ink:'secondary', name:'toggle', type:'radio', value:'true'}) On
        .mdw-type(mdw-style="subtitle") Ink
        div.docs-option-list
          +mdwSelection({ink:'secondary', name:'ink', type:'radio', value:'default'}) Default
          +mdwSelection({ink:'secondary', name:'ink', type:'radio', value:'primary'}) Primary
          +mdwSelection({ink:'secondary', name:'ink', type:'radio', value:'secondary', checked:true}) Secondary
          +mdwSelection({ink:'secondary', name:'ink', type:'radio', value:'warn contrast'}) Warn Contrast
          +mdwSelection({ink:'secondary', name:'ink', type:'radio', value:'purple'}) Purple
        .mdw-type(mdw-style="subtitle") Surface
        div.docs-option-list
          +mdwSelection({ink:'secondary', name:'surface', type:'radio', value:'none', checked:true}) Default
          +mdwSelection({ink:'secondary', name:'surface', type:'radio', value:'primary 500 dark'}) Primary (Dark)
          +mdwSelection({ink:'secondary', name:'surface', type:'radio', value:'secondary 100 light'}) Secondary (Light)
          +mdwSelection({ink:'secondary', name:'surface', type:'radio', value:'warn 200 light'}) Warn 200 (Light)
          +mdwSelection({ink:'secondary', name:'surface', type:'radio', value:'green 700 dark'}) Green 700 (Dark)
        .mdw-type(mdw-style="subtitle") HTML Element Type
        div.docs-option-list
          +mdwSelection({ink:'secondary', name:'htmltype', type:'radio', value:'a', checked:true}) HTMLAnchorElement
          +mdwSelection({ink:'secondary', name:'htmltype', type:'radio', value:'button'}) HTMLButtonElement
          +mdwSelection({ink:'secondary', name:'htmltype', type:'radio', value:'div'}) HTMLDivElement
    .mdw-grid__item(mdw-colspan="100%" style="max-height:0")
    .mdw-grid__item(mdw-colspan="6")
      .mdw-grid__content
        h6.mdw-type HTML Code
        .mdw-card.mdw-theme.component-code.component-html(mdw-surface="card" mdw-border-ink)
          +mdwButton({ icon:true, ink:'secondary' })#usePug(aria-pressed="false" mdw-overlay-off="activated") PUG
    .mdw-grid__item(mdw-colspan="6")
      .mdw-grid__content
        h6.mdw-type Javascript Code
        .mdw-card.mdw-theme.component-code.component-js(mdw-surface="card" mdw-border-ink)
    .mdw-grid__item(mdw-colspan="100%")
      .mdw-grid__content
        h6.mdw-type Samples
    .mdw-grid__item(mdw-colspan="6")
      .mdw-grid__content
        .render-fill.mdw-theme(mdw-surface="white" mdw-light)
          +androidstatusbar('')
          +appbar('', '', [], []) CSS Only
          .content(style="padding: 16px 0")
            div
              +button-test
          +androidnavbar
    .mdw-grid__item(mdw-colspan="6")
      .mdw-grid__content
        .render-fill.js.mdw-theme(mdw-surface="black" mdw-dark)
          +androidstatusbar('')
          +appbar('', '', [], []) Javascript Version
          .content(style="padding: 16px 0")
            div
              +button-test
          +androidnavbar
  script(src='button.min.js')