include ../_mixins.pug

+header("color")
  .mdw-grid(mdw-margin-top mdw-margin-bottom mdw-columns="4")#color-page-options
    .mdw-grid__item(mdw-colspan="4")
      .mdw-grid__content.mdw-theme(mdw-elevation="8")
        #color-sample-area
          a#sample-button.demo-core-item.mdw-overlay.mdw-elevation.mdw-ripple.mdw-theme(tabindex="0" mdw-elevation="1" mdw-surface="binary" mdw-ink="secondary contrast") Enabled
          a#sample-button__selected.demo-core-item.mdw-overlay.mdw-elevation.mdw-ripple.mdw-theme(tabindex="0" mdw-elevation="1" mdw-surface="binary" mdw-ink="secondary contrast" aria-selected="true") Selected
          a#sample-button__activated.demo-core-item.mdw-overlay.mdw-elevation.mdw-ripple.mdw-theme(tabindex="0" mdw-elevation="1" mdw-surface="binary" mdw-ink="secondary contrast" aria-pressed="true") Activated
          div(style="margin:8px")
            p.mdw-type Surface:
              span#sample-surface.mdw-theme(mdw-ink="medium")   test
            p.mdw-type Ink:
              span#sample-ink.mdw-theme(mdw-ink="medium")   test
          div(style="margin:8px")
            p.mdw-type Text Contrast:
              span#sample-contrast__text.mdw-theme(mdw-ink="medium")   test
              span  / 4.5
            p.mdw-type Selected Contrast:
              span#sample-contrast__selected.mdw-theme(mdw-ink="medium")   test
              span  / 4.5
            p.mdw-type Activated Contrast:
              span#sample-contrast__activated.mdw-theme(mdw-ink="medium")   test
              span  / 4.5
    .mdw-grid__item(mdw-colspan="2")
      .mdw-grid__content
        .mdw-type(mdw-style="subtitle") Ink
        div
          label.mdw-textfield.mdw-theme(mdw-ink="secondary" mdw-outlined)
            select.mdw-textfield__input(name="ink-color")
              option(value="default") Default
              option(value="black") Black
              option(value="white") White
              option(value="primary") Primary
              option(value="secondary" selected) Secondary
              option(value="warn") Warn
              option(value="amber") Amber
              option(value="blue") Blue
              option(value="cyan") Cyan
              option(value="red") Red
              option(value="green") Green
              option(value="deeppurple") Deeppurple
              option(value="purple") Purple
              option(value="yellow") Yellow
              option(value="teal") Teal
            .mdw-textfield__icon(mdw-dropdown)
            .mdw-textfield__border
              .mdw-textfield__outline-gap
                .mdw-textfield__label Color
          label.mdw-textfield.mdw-theme(mdw-ink="secondary" mdw-outlined)
            select.mdw-textfield__input(name="ink-tone")
              option(value="" selected) Auto
              option(value="light") Light
              option(value="contrast" selected) Contrast
              option(value="A100") A100
              option(value="A200") A200
              option(value="A400") A400
              option(value="A700") A700
            .mdw-textfield__icon(mdw-dropdown)
            .mdw-textfield__border
              .mdw-textfield__outline-gap
                .mdw-textfield__label Tone
          label.mdw-textfield.mdw-theme(mdw-ink="secondary" mdw-outlined)
            select.mdw-textfield__input(name="ink-opacity")
              option(value="" selected) Auto
              option(value="solid") Solid
              option(value="high") High
              option(value="medium") Medium
              option(value="inactive") Inactive
              option(value="divider") Divider
            .mdw-textfield__icon(mdw-dropdown)
            .mdw-textfield__border
              .mdw-textfield__outline-gap
                .mdw-textfield__label Opacity
    .mdw-grid__item(mdw-colspan="2")
      .mdw-grid__content
        .mdw-type(mdw-style="subtitle") Surface
        #color-page-options
          label.mdw-textfield.mdw-theme(mdw-ink="secondary" mdw-outlined)
            select.mdw-textfield__input(name="surface-color")
              option(value="card") Card
              option(value="binary" selected) Binary
              option(value="black") Black
              option(value="white") White
              option(value="background") Background
              option(value="primary") Primary
              option(value="secondary") Secondary
              option(value="warn") Warn
              option(value="amber") Amber
              option(value="blue") Blue
              option(value="cyan") Cyan
              option(value="red") Red
              option(value="green") Green
              option(value="deeppurple") Deeppurple
              option(value="purple") Purple
              option(value="yellow") Yellow
              option(value="teal") Teal
            .mdw-textfield__icon(mdw-dropdown)
            .mdw-textfield__border
              .mdw-textfield__outline-gap
                .mdw-textfield__label Color
          label.mdw-textfield.mdw-theme(mdw-ink="secondary" mdw-outlined)
            select.mdw-textfield__input(name="surface-tone")
              option(value="" selected) Default
              option(value="alt") Alternate
              option(value="50") 50
              option(value="100") 100
              option(value="200") 200
              option(value="300") 300
              option(value="400") 400
              option(value="500") 500
              option(value="600") 600
              option(value="700") 700
              option(value="800") 800
              option(value="900") 900
            .mdw-textfield__icon(mdw-dropdown)
            .mdw-textfield__border
              .mdw-textfield__outline-gap
                .mdw-textfield__label Tone
  script(src='color.min.js')