include ../../templates/index.pug
include ../_mixins.pug

+header("dialog")
  .mdw-grid(mdw-margin-top mdw-margin-bottom mdw-stretch)
    .mdw-grid__item(mdw-colspan="100%")
      h5.mdw-type(mdw-baseline-next="36") Dialogs inform users about a specific task and may contain critical information, require decisions, or involve multiple tasks.
      p.mdw-type Dialogs contain text and UI controls. They retain focus until dismissed or a required action has been taken. Use dialogs sparingly because they are interruptive.
    .mdw-grid__item(mdw-colspan="4")
      .mdw-grid__content
        .component-sample
          .component-sample__container
            +mdwButton()(href="#sample-dialog") Open
            .mdw-dialog#sample-dialog
              a.mdw-dialog__close(href="#")
              .mdw-dialog__popup.mdw-theme(mdw-surface="card")
                .mdw-dialog__title Sample title
                .mdw-dialog__body.mdw-theme(mdw-ink="medium") Sample body text
                .mdw-dialog__button-area
                  +mdwButton({ ink:'secondary' })(href="#") Agree
                  +mdwButton({ ink:'secondary' })(href="#") Disagree
    .mdw-grid__item(mdw-colspan="8")
      .mdw-type(mdw-style="subtitle") Javascript
      div.docs-option-list
        +mdwSelection({ink:'secondary', name:'javascript', type:'radio', value:'required'}) Required
        +mdwSelection({ink:'secondary', name:'javascript', type:'radio', value:'optional', checked:true}) Optional
        +mdwSelection({ink:'secondary', name:'javascript', type:'radio', value:'none'}) None
      .mdw-type(mdw-style="subtitle") Options
      div.docs-option-list
        +mdwSelection({ink:'secondary', name:'stacked-buttons'}) Stacked Buttons
      .mdw-type(mdw-style="subtitle") Width Units
      div.docs-option-list
        +mdwSelection({ink:'secondary', name:'width', type:'radio', value:'auto', checked:true}) Auto
        +mdwSelection({ink:'secondary', name:'width', type:'radio', value:'3'}) 3
        +mdwSelection({ink:'secondary', name:'width', type:'radio', value:'4'}) 4
        +mdwSelection({ink:'secondary', name:'width', type:'radio', value:'5'}) 5
        +mdwSelection({ink:'secondary', name:'width', type:'radio', value:'6'}) 6
        +mdwSelection({ink:'secondary', name:'width', type:'radio', value:'7'}) 7
    .mdw-grid__item(mdw-colspan="100%" style="max-height:0")
    .mdw-grid__item(mdw-colspan="100%")
      h6.mdw-type HTML Code
      .mdw-card.mdw-theme.component-code.component-html(mdw-surface="card" mdw-border-ink)
    .mdw-grid__item(mdw-colspan="100%")
      h6.mdw-type Javascript Code
      .mdw-card.mdw-theme.component-code.component-js(mdw-surface="card" mdw-border-ink)
    .mdw-grid__item(mdw-colspan="100%")
      h6.mdw-type Samples
    .mdw-grid__item.display-flex(mdw-colspan="4" flex-justify-content="center")
      .render
        div.display-flex.flex-1(flex-column style="position:relative")
          +androidstatusbar('primary 700', 'dark')
          .mdw-appbar.mdw-theme(mdw-surface="primary 500" mdw-dark)
            .mdw-appbar__action
              .mdw-appbar__start
                .mdw-tooltip__wrapper
                  +mdwButton({ icon:true }).mdw-tooltip__target.material-icons menu
                  .mdw-tooltip.mdw-theme(mdw-surface="background 700" mdw-dark) Menu
              .mdw-appbar__end
                .mdw-tooltip__wrapper
                  +mdwButton({ icon:true }).mdw-tooltip__target.material-icons(mdw-more-button) more_vert
                  .mdw-tooltip.mdw-theme(mdw-surface="background 700" mdw-dark) Options
          .content(style="padding:16px 8px;")
            +mdwButton({ surface:'primary 500', dark:true, raised:true })(href="#confirmdialog-titled") Titled
            +mdwButton({ surface:'primary 500', dark:true, raised:true })(href="#confirmdialog-text") Text
            +mdwButton({ surface:'primary 500', dark:true, raised:true })(href="#dialog-scrolling") Scrolling
            .display-flex(style="padding:16px 0").js
              +mdwButton({ surface:'primary 500', dark:true, raised:true }) JS
          .mdw-dialog#confirmdialog-titled
            a.mdw-dialog__close(href="#")
            .mdw-dialog__popup.mdw-theme(mdw-surface="card")
              .mdw-dialog__title Use Google's location service?
              .mdw-dialog__body.mdw-theme(mdw-ink="medium") Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running.
              .mdw-dialog__button-area
                +mdwButton({ ink:'secondary' })(href="#") Agree
                +mdwButton({ ink:'secondary' })(href="#") Disagree
          .mdw-dialog#dialog-scrolling
            a.mdw-dialog__close(href="#")
            .mdw-dialog__popup.mdw-theme(mdw-surface="card")
              .mdw-dialog__header
                .mdw-dialog__title Dialog header
              .mdw-divider.mdw-theme(mdw-border-ink="divider")
              .mdw-dialog__scrolling
                ul.mdw-list
                  li.mdw-list__item
                    a.mdw-list__content.mdw-overlay.mdw-ripple.mdw-theme(href='#' mdw-ink="default") Item 1
                  li.mdw-list__item
                    a.mdw-list__content.mdw-overlay.mdw-ripple.mdw-theme(href='#' mdw-ink="default") Item 2
                  li.mdw-list__item
                    a.mdw-list__content.mdw-overlay.mdw-ripple.mdw-theme(href='#' mdw-ink="default") Item 3
                  li.mdw-list__item
                    a.mdw-list__content.mdw-overlay.mdw-ripple.mdw-theme(href='#' mdw-ink="default") Item 4
                  li.mdw-list__item
                    a.mdw-list__content.mdw-overlay.mdw-ripple.mdw-theme(href='#' mdw-ink="default") Item 5
                  li.mdw-list__item
                    a.mdw-list__content.mdw-overlay.mdw-ripple.mdw-theme(href='#' mdw-ink="default") Item 6
                  li.mdw-list__item
                    a.mdw-list__content.mdw-overlay.mdw-ripple.mdw-theme(href='#' mdw-ink="default") Item 7
                  li.mdw-list__item
                    a.mdw-list__content.mdw-overlay.mdw-ripple.mdw-theme(href='#' mdw-ink="default") Item 8
                  li.mdw-list__item
                    a.mdw-list__content.mdw-overlay.mdw-ripple.mdw-theme(href='#' mdw-ink="default") Item 9
              .mdw-divider.mdw-theme(mdw-border-ink="divider")
              .mdw-dialog__button-area
                +mdwButton({ ink:'secondary' })(href="#") Agree
                +mdwButton({ ink:'secondary' })(href="#") Disagree
          .mdw-dialog#confirmdialog-text
            a.mdw-dialog__close(href="#")
            .mdw-dialog__popup.mdw-theme(mdw-surface="card")
              .mdw-dialog__body.mdw-theme(mdw-ink="medium") Discard draft?
              .mdw-dialog__button-area
                +mdwButton({ ink:'secondary' })(href="#") Discard
                +mdwButton({ ink:'secondary' })(href="#") Cancel
        +androidnavbar
  script(src='dialog.min.js')