include ../_mixins.pug

+header("ripple")
  .mdw-grid(mdw-margin-top mdw-margin-bottom mdw-stretch)
    .mdw-grid__item(mdw-colspan="4")
      .mdw-grid__content
        h6.mdw-type Javascript
        .display-flex.flex-column.js
          .demo-core-item.mdw-elevation.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="default" mdw-surface="binary") Default Ink
          .demo-core-item.mdw-elevation.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary" mdw-surface="binary") Primary Ink
          .demo-core-item.mdw-elevation.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="secondary" mdw-surface="binary") Secondary Ink
          .demo-core-item.mdw-elevation.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn" mdw-surface="binary") Warn Ink
    .mdw-grid__item(mdw-colspan="4")
      .mdw-grid__content
        h6.mdw-type CSS Only
        .display-flex.flex-column
          .demo-core-item.mdw-elevation.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="default" mdw-surface="binary") Default Ink
          .demo-core-item.mdw-elevation.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary" mdw-surface="binary") Primary Ink
          .demo-core-item.mdw-elevation.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="secondary" mdw-surface="binary") Secondary Ink
          .demo-core-item.mdw-elevation.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn" mdw-surface="binary") Warn Ink
  script(src='ripple.min.js')