include ../_mixins.pug

+header("snackbar")
  .mdw-grid(mdw-margin-top mdw-margin-bottom)
    .mdw-grid__item(mdw-colspan="100%")
      h5.mdw-type(mdw-baseline-next="36") Snackbars provide brief messages about app processes at the bottom of the screen.
      p.mdw-type Snackbars inform users of a process that an app has performed or will perform. They appear temporarily, towards the bottom of the screen. They shouldn’t interrupt the user experience, and they don’t require user input to disappear.
    .mdw-grid__item(mdw-colspan="100%")
      .mdw-grid__content.component-sample(style="padding:0")
          .mdw-grid(style="width:100%;height:100%")
            .mdw-grid__item(mdw-colspan="100%")
              div
                +mdwButton({ ink:'secondary' }) Create New
            .mdw-grid__item(mdw-colspan="100%")
              .mdw-snackbar__wrapper
                .mdw-snackbar__container
                  .mdw-snackbar.mdw-theme(aria-hidden="false" mdw-surface="background 900" mdw-dark)
                    span Short message snackbar.
                    +mdwButton({ink:'secondary'}) Action
            .mdw-grid__item(mdw-colspan="100%")
              .mdw-snackbar__wrapper
                .mdw-snackbar__container.js-sample
    .mdw-grid__item(mdw-colspan="4")
      .mdw-type(mdw-style="subtitle") Javascript
      .docs-option-list
        +mdwSelection({ink:'secondary', name:'javascript', type:'radio', value:'required', disabled:true}) Required
        +mdwSelection({ink:'secondary', name:'javascript', type:'radio', value:'optional', checked:true}) Optional
        +mdwSelection({ink:'secondary', name:'javascript', type:'radio', value:'none' }) None
      .mdw-type(mdw-style="subtitle") Text
      .docs-option-list
        +mdwSelection({ink:'secondary', name:'text', type:'radio', value:'short', checked:true}) Short
        +mdwSelection({ink:'secondary', name:'text', type:'radio', value:'long'}) Long
        +mdwSelection({ink:'secondary', name:'text', type:'radio', value:'line-break' }) Explicit line-break
      .mdw-type(mdw-style="subtitle") Button
      .docs-option-list
        +mdwSelection({ink:'secondary', name:'button', type:'radio', value:'none'}) None
        +mdwSelection({ink:'secondary', name:'button', type:'radio', value:'short', checked:true}) Short
        +mdwSelection({ink:'secondary', name:'button', type:'radio', value:'long' }) Long
      .mdw-type(mdw-style="subtitle") Visibility
      .docs-option-list
        +mdwSelection({ink:'secondary', name:'visibility', type:'radio', value:'show', checked:true}) Shos
        +mdwSelection({ink:'secondary', name:'visibility', type:'radio', value:'hide'}) Hide
      .mdw-type(mdw-style="subtitle") Position
      .docs-option-list
        +mdwSelection({ink:'secondary', name:'position', type:'radio', value:'auto', checked:true}) Start (Default)
        +mdwSelection({ink:'secondary', name:'position', type:'radio', value:'center'}) Center
        +mdwSelection({ink:'secondary', name:'position', type:'radio', value:'end'}) End
      .mdw-type(mdw-style="subtitle") Options
      .docs-option-list
        +mdwSelection({ink:'secondary', name:'stacked'}) Stacked
    .mdw-grid__item(mdw-colspan="100%" style="max-height:0")
    .mdw-grid__item(mdw-colspan="6")
      .display-flex(flex-column)
        h6.mdw-type HTML Code
        .mdw-card.mdw-theme.component-code.component-html(mdw-surface="card" mdw-border-ink)
    .mdw-grid__item(mdw-colspan="6")
      .display-flex(flex-column)
        h6.mdw-type Javascript Code
        .mdw-card.mdw-theme.component-code.component-js(mdw-surface="card" mdw-border-ink)
  script(src='snackbar.min.js')