include ../_mixins.pug

+header("tab")
  .mdw-grid(mdw-margin-top mdw-margin-bottom mdw-stretch).docs-tab
    .mdw-grid__item(mdw-colspan="100%")
      h5.mdw-type(mdw-baseline-next="36") Tabs make it easy to explore and switch between different views.
      p.mdw-type Tabs enable content organization at a high level, such as switching between views, data sets, or functional aspects of an app.
    .mdw-grid__item(mdw-colspan="8")
      .mdw-grid__content
        .component-sample
          .component-sample__container
            .mdw-tab
              .mdw-tab__list
                .mdw-tab__item.mdw-theme.mdw-overlay(mdw-ink="secondary A200" mdw-overlay-default="medium" aria-selected="true")
                  .mdw-tab__icon.material-icons looks_one
                  .mdw-tab__label Tab Item One
                .mdw-tab__item.mdw-theme.mdw-overlay(mdw-ink="secondary A200" mdw-overlay-default="medium" aria-selected="false")
                  .mdw-tab__icon.material-icons looks_two
                  .mdw-tab__label Tab Item Two
                .mdw-tab__item.mdw-theme.mdw-overlay(mdw-ink="secondary A200" mdw-overlay-default="medium" aria-selected="false")
                  .mdw-tab__icon.material-icons looks_3
                  .mdw-tab__label Tab Item Three
                .mdw-tab__indicator.mdw-theme(mdw-ink="secondary A200")
              .mdw-tab__content.mdw-theme(mdw-surface="gray 800" mdw-dark)
                .mdw-tab__panel
                  div(style="min-height:200px;padding:20px")
                    p Sample Content One
                    +mdwButton({ borderInk:true }) Unfocusable when inactive
                    p HTML Ordered List with (#) representing DOM position
                    ol
                      li.mdw-tabs__panel__active-hide (1) Layer hidden when active (peek only)
                      li.mdw-tabs__panel__active-remove (2) Layer removed when active (peek only)
                      li (3) Always visible
                      li.mdw-tabs__panel__inactive-hide (4) Layer hidden when inactive (active only)
                      li.mdw-tabs__panel__inactive-remove (5) Layer removed when inactive (active only)
                      li (6) Always visible
                .mdw-tab__panel
                  div(style="min-height:200px;padding:20px")
                    p Sample Content Two
                    +mdwButton({ borderInk:true }) Unfocusable when inactive
                    p HTML Ordered List with (#) representing DOM position
                    ol
                      li.mdw-tabs__panel__active-hide (1) Layer hidden when active (peek only)
                      li.mdw-tabs__panel__active-remove (2) Layer removed when active (peek only)
                      li (3) Always visible
                      li.mdw-tabs__panel__inactive-hide (4) Layer hidden when inactive (active only)
                      li.mdw-tabs__panel__inactive-remove (5) Layer removed when inactive (active only)
                      li (6) Always visible
                .mdw-tab__panel
                  div(style="min-height:200px;padding:20px")
                    p Sample Content Three
                    +mdwButton({ borderInk:true }) Unfocusable when inactive
                    p HTML Ordered List with (#) representing DOM position
                    ol
                      li.mdw-tabs__panel__active-hide (1) Layer hidden when active (peek only)
                      li.mdw-tabs__panel__active-remove (2) Layer removed when active (peek only)
                      li (3) Always visible
                      li.mdw-tabs__panel__inactive-hide (4) Layer hidden when inactive (active only)
                      li.mdw-tabs__panel__inactive-remove (5) Layer removed when inactive (active only)
                      li (6) Always visible
    .mdw-grid__item(mdw-colspan="4")
      .mdw-type(mdw-style="subtitle") Javascript
      .docs-option-list
        +mdwSelection({ink:'secondary', name:'javascript', type:'radio', value:'required', checked:true}) Required
        +mdwSelection({ink:'secondary', name:'javascript', type:'radio', value:'optional', disabled:true}) Optional
        +mdwSelection({ink:'secondary', name:'javascript', type:'radio', value:'none', disabled:true}) None
      .mdw-type(mdw-style="subtitle") Ink
      .docs-option-list
        +mdwSelection({ink:'secondary', name:'ink', type:'radio', value:'default'}) Default
        +mdwSelection({ink:'secondary', name:'ink', type:'radio', value:'primary 400'}) Primary A400
        +mdwSelection({ink:'secondary', name:'ink', type:'radio', value:'secondary A200', checked:true}) Secondary A200
        +mdwSelection({ink:'secondary', name:'ink', type:'radio', value:'warn'}) Warn
        +mdwSelection({ink:'secondary', name:'ink', type:'radio', value:'purple A400'}) Purple A400
      .mdw-type(mdw-style="subtitle") Surface
      .docs-option-list
        +mdwSelection({ink:'secondary', name:'surface', type:'radio', value:'none', checked:true}) None
        +mdwSelection({ink:'secondary', name:'surface', type:'radio', value:'primary dark'}) Primary (Dark)
        +mdwSelection({ink:'secondary', name:'surface', type:'radio', value:'secondary 100 dark'}) Secondary 100 (Dark)
        +mdwSelection({ink:'secondary', name:'surface', type:'radio', value:'warn 200 light'}) Warn 200 (Light)
        +mdwSelection({ink:'secondary', name:'surface', type:'radio', value:'dark 700 dark'}) Green 700 (Dark)
      .mdw-type(mdw-style="subtitle") Scrollable
      .docs-option-list
        +mdwSelection({ink:'secondary', name:'content-scrollable', checked:true}) Content
        +mdwSelection({ink:'secondary', name:'tabs-scrollable'}) Tabs
    .mdw-grid__item(mdw-colspan="100%" style="max-height:0")
    .mdw-grid__item(mdw-colspan="8")
      h6.mdw-type HTML Code
      .mdw-card.mdw-theme.component-code.component-html(mdw-surface="card" mdw-border-ink)
        +mdwButton({ icon:true, ink:'secondary' })#usePug(aria-pressed="false" mdw-overlay-off="activated") PUG
    .mdw-grid__item(mdw-colspan="4")
      h6.mdw-type Javascript Code
      .mdw-card.mdw-theme.component-code.component-js(mdw-surface="card" mdw-border-ink)
    .mdw-grid__item(mdw-colspan="100%")
      h6.mdw-type Samples
    .mdw-grid__item.display-flex(mdw-colspan="4").clipped-300
      .render-fill
        .mdw-tab
          .mdw-tab__list.mdw-theme(mdw-surface="cyan 500" mdw-dark)
            .mdw-tab__item.mdw-theme(mdw-ink="yellow A400" mdw-overlay-default="medium")
              .mdw-tab__label Item One
            .mdw-tab__item.mdw-theme(mdw-ink="yellow A400" mdw-overlay-default="medium")
              .mdw-tab__label Item Two
            .mdw-tab__item.mdw-theme(mdw-ink="yellow A400" mdw-overlay-default="medium")
              .mdw-tab__label Item Three
            .mdw-tab__indicator.mdw-theme(mdw-ink="yellow A400")
          .mdw-tab__content
            .mdw-tab__panel Item One
            .mdw-tab__panel Item Two
            .mdw-tab__panel Item Three

    .mdw-grid__item.display-flex(mdw-colspan="4").clipped-300
      .render-fill
        +androidstatusbar('cyan 700', 'dark')
        .mdw-appbar.mdw-theme(mdw-surface="cyan 500" mdw-dark mdw-prominent)
          .mdw-appbar__action
            .mdw-appbar__start
              +mdwButton({ icon:true }).material-icons menu
            .mdw-appbar__title Page title
            .mdw-appbar__end
              +mdwButton({ icon:true }).material-icons search
              +mdwButton({ icon:true }).material-icons(mdw-more-button) more_vert
          .mdw-tab
            .mdw-tab__list
              .mdw-tab__item.mdw-theme(mdw-ink="yellow A400" mdw-overlay-default="medium")
                .mdw-tab__label Item One
              .mdw-tab__item.mdw-theme(mdw-ink="yellow A400" mdw-overlay-default="medium")
                .mdw-tab__label Item Two
              .mdw-tab__item.mdw-theme(mdw-ink="yellow A400" mdw-overlay-default="medium")
                .mdw-tab__label Item Three
              .mdw-tab__indicator.mdw-theme(mdw-ink="yellow A400")
        .content

    .mdw-grid__item.display-flex(mdw-colspan="4").clipped-300
      .render-fill
        +androidstatusbar('cyan 700', 'dark')
        .mdw-tab
          .mdw-tab__list-wrapper.mdw-appbar.mdw-theme(mdw-surface="cyan 500" mdw-dark)
            .mdw-appbar__action
              .mdw-appbar__start
                +mdwButton({ icon:true }).material-icons menu
              .mdw-appbar__title Page title
              .mdw-appbar__end
                +mdwButton({ icon:true }).material-icons search
                +mdwButton({ icon:true }).material-icons(mdw-more-button) more_vert
            .mdw-tab__list
              .mdw-tab__item.mdw-theme(mdw-ink="yellow A400" mdw-overlay-default="medium")
                .mdw-tab__label Item One
              .mdw-tab__item.mdw-theme(mdw-ink="yellow A400" mdw-overlay-default="medium")
                .mdw-tab__label Item Two
              .mdw-tab__item.mdw-theme(mdw-ink="yellow A400" mdw-overlay-default="medium")
                .mdw-tab__label Item Three
              .mdw-tab__indicator.mdw-theme(mdw-ink="yellow A400")
          .mdw-tab__content
            .mdw-tab__panel Item One
            .mdw-tab__panel Item Two
            .mdw-tab__panel Item Three

    .mdw-grid__item.display-flex(mdw-colspan="4").clipped-300
      .render-fill
        +androidstatusbar('background 600', 'dark')
        .mdw-tab
          .mdw-tab__list-wrapper.mdw-appbar
            .mdw-appbar__action
              .mdw-appbar__start
                +mdwButton({ icon:true }).material-icons menu
              .mdw-appbar__title Page title
              .mdw-appbar__end
                +mdwButton({ icon:true }).material-icons search
                +mdwButton({ icon:true }).material-icons(mdw-more-button) more_vert
            .mdw-tab__list
              .mdw-tab__item.mdw-theme(mdw-ink="cyan A700" mdw-overlay-default="medium")
                .mdw-tab__label Item One
              .mdw-tab__item.mdw-theme(mdw-ink="cyan A700" mdw-overlay-default="medium")
                .mdw-tab__label Item Two
              .mdw-tab__item.mdw-theme(mdw-ink="cyan A700" mdw-overlay-default="medium")
                .mdw-tab__label Item Three
              .mdw-tab__indicator.mdw-theme(mdw-ink="cyan A700")
          .mdw-tab__content
            .mdw-tab__panel Item One
            .mdw-tab__panel Item Two
            .mdw-tab__panel Item Three

    .mdw-grid__item.display-flex(mdw-colspan="4").clipped-300
      .render-fill
        +androidstatusbar('cyan 700', 'dark')
        .mdw-appbar.mdw-theme(mdw-surface="cyan 500" mdw-dark)
          .mdw-appbar__action
            .mdw-appbar__start
              +mdwButton({ icon:true }).material-icons menu
            .mdw-appbar__title Page title
            .mdw-appbar__end
              +mdwButton({ icon:true }).material-icons search
              +mdwButton({ icon:true }).material-icons(mdw-more-button) more_vert
          .mdw-tab
            .mdw-tab__list
              .mdw-tab__item.mdw-theme(mdw-ink="yellow A400" mdw-overlay-default="medium")
                .mdw-tab__icon.material-icons phone
                .mdw-tab__label Recents
              .mdw-tab__item.mdw-theme(mdw-ink="yellow A400" mdw-overlay-default="medium")
                .mdw-tab__icon.material-icons favorite
                .mdw-tab__label Favorites
              .mdw-tab__item.mdw-theme(mdw-ink="yellow A400" mdw-overlay-default="medium")
                .mdw-tab__icon.material-icons person_pin
                .mdw-tab__label Nearby
              .mdw-tab__indicator.mdw-theme(mdw-ink="yellow A400")
        .content

    .mdw-grid__item.display-flex(mdw-colspan="4").clipped-300
      .render-fill
        +androidstatusbar('background 600', 'dark')
        .mdw-appbar
          .mdw-appbar__action
            .mdw-appbar__start
              +mdwButton({ icon:true }).material-icons menu
            .mdw-appbar__title Page title
            .mdw-appbar__end
              +mdwButton({ icon:true }).material-icons search
              +mdwButton({ icon:true }).material-icons(mdw-more-button) more_vert
          .mdw-tab
            .mdw-tab__list
              .mdw-tab__item.mdw-theme(mdw-ink="cyan A700" mdw-overlay-default="medium")
                .mdw-tab__icon.material-icons phone
              .mdw-tab__item.mdw-theme(mdw-ink="cyan A700" mdw-overlay-default="medium")
                .mdw-tab__icon.material-icons favorite
              .mdw-tab__item.mdw-theme(mdw-ink="cyan A700" mdw-overlay-default="medium")
                .mdw-tab__icon.material-icons person_pin
              .mdw-tab__indicator.mdw-theme(mdw-ink="cyan A700")
        .content
    .mdw-grid__item.display-flex(mdw-colspan="100%")
      .display-flex(flex-column style="width:100%;padding:24px;box-sizing:border-box")
        +androidstatusbar('cyan 700', 'dark')
        .mdw-tab
          .mdw-tab__list-wrapper.mdw-appbar.mdw-theme(mdw-surface="cyan 500" mdw-dark)
            .mdw-appbar__action
              .mdw-appbar__start
                +mdwButton({ icon:true }).material-icons menu
              .mdw-appbar__title Clustered
              .mdw-appbar__end
                +mdwButton({ icon:true }).material-icons search
                +mdwButton({ icon:true }).material-icons(mdw-more-button) more_vert
            .mdw-tab__list(style="align-self:center")
              .mdw-tab__item.mdw-theme(mdw-ink="yellow A400" mdw-overlay-default="medium")
                .mdw-tab__icon.material-icons phone
                .mdw-tab__label Recents
              .mdw-tab__item.mdw-theme(mdw-ink="yellow A400" mdw-overlay-default="medium")
                .mdw-tab__icon.material-icons favorite
                .mdw-tab__label Favorites
              .mdw-tab__item.mdw-theme(mdw-ink="yellow A400" mdw-overlay-default="medium")
                .mdw-tab__icon.material-icons person_pin
                .mdw-tab__label Nearby
              .mdw-tab__indicator.mdw-theme(mdw-ink="yellow A400")
          .mdw-tab__content
            .mdw-tab__panel Recents
            .mdw-tab__panel Favorites
            .mdw-tab__panel Nearby

    .mdw-grid__item(mdw-colspan="100%")
      .mdw-grid__content.js
        +androidstatusbar('cyan 700', 'dark')
        .mdw-tab
          .mdw-appbar.mdw-theme(mdw-surface="cyan 500" mdw-dark)
            .mdw-appbar__action
              .mdw-appbar__start
                +mdwButton({ icon:true }).material-icons menu
              .mdw-appbar__title Scrollable
              .mdw-appbar__end
                +mdwButton({ icon:true }).material-icons search
                +mdwButton({ icon:true }).material-icons(mdw-more-button) more_vert
            .mdw-tab__list(mdw-scrollable)
              .mdw-tab__item.mdw-theme(mdw-ink="yellow A400" mdw-overlay-default="medium")
                .mdw-tab__icon.material-icons phone
                .mdw-tab__label Recents
              .mdw-tab__item.mdw-theme(mdw-ink="yellow A400" mdw-overlay-default="medium")
                .mdw-tab__icon.material-icons favorite
                .mdw-tab__label My Oversized Favorites Tab
              .mdw-tab__item.mdw-theme(mdw-ink="yellow A400" mdw-overlay-default="medium")
                .mdw-tab__icon.material-icons person_pin
                .mdw-tab__label Nearby
              .mdw-tab__item.mdw-theme(mdw-ink="yellow A400" mdw-overlay-default="medium")
                .mdw-tab__icon.material-icons edit
                .mdw-tab__label Edit
              .mdw-tab__item.mdw-theme(mdw-ink="yellow A400" mdw-overlay-default="medium")
                .mdw-tab__icon.material-icons clear
                .mdw-tab__label Clear
              .mdw-tab__item.mdw-theme(mdw-ink="yellow A400" mdw-overlay-default="medium")
                .mdw-tab__icon.material-icons search
                .mdw-tab__label Search
              .mdw-tab__item.mdw-theme(mdw-ink="yellow A400" mdw-overlay-default="medium")
                .mdw-tab__icon.material-icons restore
                .mdw-tab__label Restore
              .mdw-tab__item.mdw-theme(mdw-ink="yellow A400" mdw-overlay-default="medium")
                .mdw-tab__icon.material-icons stars
                .mdw-tab__label Stars
              .mdw-tab__indicator.mdw-theme(mdw-ink="yellow A400")
          .mdw-tab__content
            .mdw-tab__panel 1
            .mdw-tab__panel 2
            .mdw-tab__panel 3
            .mdw-tab__panel 4
            .mdw-tab__panel 5
            .mdw-tab__panel 6
            .mdw-tab__panel 7
            .mdw-tab__panel 8
  script(src='tab.min.js')