include ../_mixins.pug

+header("card")
  .mdw-grid(mdw-margin-top mdw-margin-bottom mdw-stretch)
    .mdw-grid__item(mdw-colspan="100%")
      h5.mdw-type(mdw-baseline-next="36") Cards contain content and actions about a single subject.
      p.mdw-type(mdw-baseline-next="36") Cards are surfaces that display content and actions on a single topic.
      p.mdw-type They should be easy to scan for relevant and actionable information. Elements, like text and images, should be placed on them in a way that clearly indicates hierarchy.
    .mdw-grid__item(mdw-colspan="6")
      .mdw-grid__content.component-sample
        .display-flex
          .mdw-card.mdw-theme(mdw-raised="focus-within" mdw-surface="card" mdw-border-ink)
            +mdwButton().mdw-card__button
            .mdw-card__start
              .mdw-card__thumbnail.material-icons(style="font-size:40px") account_circle
            .mdw-card__end(style="margin:8px 0")
              +mdwButton({ icon: true }).material-icons clear
            h6.mdw-card__header(mdw-two-line) Title goes here
            .mdw-card__subheader Secondary text
            .mdw-card__media(mdw-ratio="16:9")
              img.mdw-card__image(src="https://free-images.com/md/f673/sunset_sky_red_gold_0.jpg")
            .mdw-card__supporting-text Grayhound divisively hello coldly wonderfully marginally far upon excluding.
            .mdw-card__actions
                +mdwButton({ ink:'secondary' }) Action 1
                +mdwButton({ ink:'secondary' }) Action 2
                span
                +mdwButton({ icon: true }).material-icons more_vert
    .mdw-grid__item(mdw-colspan="4")
      .mdw-type(mdw-style="subtitle") Javascript
      .docs-option-list
        +mdwSelection({ink:'secondary', name:'javascript', type:'radio', value:'required', disabled:true}) Required
        +mdwSelection({ink:'secondary', name:'javascript', type:'radio', value:'optional', disabled:true}) Optional
        +mdwSelection({ink:'secondary', name:'javascript', type:'radio', value:'none', checked:true}) None
      .mdw-type(mdw-style="subtitle") Elevation
      .docs-option-list
        +mdwSelection({ink:'secondary', name:'elevation', type:'radio', value:'auto', checked:true}) Auto
        +mdwSelection({ink:'secondary', name:'elevation', type:'radio', value:'0'}) 0dp
        +mdwSelection({ink:'secondary', name:'elevation', type:'radio', value:'1'}) 1dp
        +mdwSelection({ink:'secondary', name:'elevation', type:'radio', value:'8'}) 8dp
      .mdw-type(mdw-style="subtitle") Raise
      .docs-option-list
        +mdwSelection({ink:'secondary', name:'raise-focus-within', value:'focus-within', checked:true}) On Focus Within
        +mdwSelection({ink:'secondary', name:'raise-hover', value:'hover'}) On Hover
      .mdw-type(mdw-style="subtitle") Media Placement
      .docs-option-list
        +mdwSelection({ink:'secondary', name:'media-placement', type:'radio', value:'none'}) None
        +mdwSelection({ink:'secondary', name:'media-placement', type:'radio', value:'top'}) Top
        +mdwSelection({ink:'secondary', name:'media-placement', type:'radio', value:'middle', checked:true}) Middle
        +mdwSelection({ink:'secondary', name:'media-placement', type:'radio', value:'bottom'}) Bottom
      .mdw-type(mdw-style="subtitle") Media Ratio
      .docs-option-list
        +mdwSelection({ink:'secondary', name:'media-ratio', type:'radio', value:'none'}) None
        +mdwSelection({ink:'secondary', name:'media-ratio', type:'radio', value:'16:9', checked:true}) 16:9
        +mdwSelection({ink:'secondary', name:'media-ratio', type:'radio', value:'3:2'}) 3:2
        +mdwSelection({ink:'secondary', name:'media-ratio', type:'radio', value:'4:3'}) 4:3
        +mdwSelection({ink:'secondary', name:'media-ratio', type:'radio', value:'1:1'}) 1:1
      .mdw-type(mdw-style="subtitle") Actions
      .docs-option-list
        +mdwSelection({ink:'secondary', name:'primary-action', checked:true}) Primary
        +mdwSelection({ink:'secondary', name:'secondary-actions', checked:true}) Secondary
        +mdwSelection({ink:'secondary', name:'close-action', checked:true}) Close
      .mdw-type(mdw-style="subtitle") Surface
      .docs-option-list
        +mdwSelection({ink:'secondary', name:'surface', type:'radio', value:'card'}) Card
        +mdwSelection({ink:'secondary', name:'surface', type:'radio', value:'primary dark', checked:true}) Primary (Dark)
        +mdwSelection({ink:'secondary', name:'surface', type:'radio', value:'secondary 100 light'}) Secondary 100 (Light)
        +mdwSelection({ink:'secondary', name:'surface', type:'radio', value:'warn 200 light'}) Warn 200 (Light)
        +mdwSelection({ink:'secondary', name:'surface', type:'radio', value:'green 700 dark'}) Green 700 (Dark)
    .mdw-grid__item(mdw-colspan="100%" style="max-height:0")
    .mdw-grid__item(mdw-colspan="6")
      h6.mdw-type HTML Code
      .mdw-card.mdw-theme.component-code.component-html(mdw-surface="card")
        +mdwButton({ icon:true, ink:'secondary' })#usePug(aria-pressed="false" mdw-overlay-off="activated") PUG
  script(src='card.min.js')