include ../_mixins.pug

+header("chip")
  .mdw-grid(mdw-margin-top mdw-margin-bottom mdw-stretch).docs-chip
    .mdw-grid__item(mdw-colspan="100%")
      h5.mdw-type(mdw-baseline-next="36") Chips are compact elements that represent an input, attribute, or action.
      p.mdw-type Chips allow users to enter information, make selections, filter content, or trigger actions. Chips should appear dynamically as a group of multiple interactive elements. Unlike buttons, which should be a consistent and familiar call to action, one that a user expects to appear as the same action in the same general area.
    .mdw-grid__item(mdw-colspan="6")
      .mdw-grid__content.component-sample
        .component-sample__container
          div
            p Action
              .mdw-chip(mdw-type="action")
                .mdw-chip__item
                  .mdw-chip__input
                  .mdw-chip__text Send Message
                .mdw-chip__item
                  .mdw-chip__input
                  .mdw-chip__text Call
            p Input
            .mdw-chip(mdw-type="input")
              .mdw-chip__item
                .mdw-chip__input
                .mdw-chip__text Portland
                .mdw-chip__thumbnail.material-icons place
                .mdw-chip__remove.material-icons cancel
              .mdw-chip__item
                .mdw-chip__input
                .mdw-chip__text Biking
                .mdw-chip__thumbnail.material-icons directions_bike
                .mdw-chip__remove.material-icons cancel
            p Choice
            form.mdw-chip.mdw-theme(mdw-type="choice" mdw-ink="secondary")
              label.mdw-chip__item
                input.mdw-chip__input(type="radio" name="sample" value="a")
                .mdw-chip__text Apple
              label.mdw-chip__item
                input.mdw-chip__input(type="radio" name="sample" value="b")
                .mdw-chip__text Banana
              label.mdw-chip__item
                input.mdw-chip__input(type="radio" name="sample" value="c")
                .mdw-chip__text Cranberry
              label.mdw-chip__item
                input.mdw-chip__input(type="radio" name="sample" value="d")
                .mdw-chip__text Dragon Fruit
            p Filter
            div
              .mdw-chip(mdw-type="filter")
                label.mdw-chip__item
                  input.mdw-chip__input(type="checkbox")
                  .mdw-chip__text Elevator
                  .mdw-chip__checkmark.material-icons check
                label.mdw-chip__item
                  input.mdw-chip__input(type="checkbox")
                  .mdw-chip__text Washer/Dryer
                  .mdw-chip__checkmark.material-icons check
                label.mdw-chip__item
                  input.mdw-chip__input(type="checkbox")
                  .mdw-chip__text Fireplace
                  .mdw-chip__checkmark.material-icons check
                label.mdw-chip__item
                  input.mdw-chip__input(type="checkbox")
                  .mdw-chip__text Wheelchair access
                  .mdw-chip__checkmark.material-icons check
                label.mdw-chip__item
                  input.mdw-chip__input(type="checkbox")
                  .mdw-chip__text Dogs ok
                  .mdw-chip__checkmark.material-icons check
                label.mdw-chip__item
                  input.mdw-chip__input(type="checkbox")
                  .mdw-chip__text Cats ok
                  .mdw-chip__checkmark.material-icons check
    .mdw-grid__item(mdw-colspan="4").demo-options
      .mdw-type(mdw-style="subtitle") Javascript
      .docs-option-list
        +mdwSelection({ink:'secondary', name:'javascript', type:'radio', value:'required', disabled:true}) Required
        +mdwSelection({ink:'secondary', name:'javascript', type:'radio', value:'optional', checked:true}) Optional
        +mdwSelection({ink:'secondary', name:'javascript', type:'radio', value:'none'}) None
      .mdw-type(mdw-style="subtitle") Options
      .docs-option-list
        +mdwSelection({ink:'secondary', name:'outlined'}) Outlined
    .mdw-grid__item(mdw-colspan="100%" style="max-height:0")
    .mdw-grid__item(mdw-colspan="6")
      h6.mdw-type HTML Code
      .mdw-card.mdw-theme.component-code.component-html(mdw-surface="card" mdw-border-ink)
    .mdw-grid__item(mdw-colspan="100%")
      h6.mdw-type Javascript Code
      .mdw-card.mdw-theme.component-code.component-js(mdw-surface="card" mdw-border-ink)
    .mdw-grid__item(mdw-colspan="100%")
      h6.mdw-type Samples
  script(src='chip.min.js')