include ../_mixins.pug

+header("color")
  .mdw-grid(mdw-margin-top mdw-margin-bottom mdw-columns="4")#color-page-options
    .mdw-grid__item(mdw-colspan="4")
      .mdw-grid__content.mdw-theme(mdw-elevation="8")
        #color-sample-area
          a#sample-button.demo-core-item.mdw-overlay.mdw-elevation.mdw-ripple.mdw-theme(tabindex="0" mdw-elevation="1" mdw-surface="binary" mdw-ink="secondary contrast") Enabled
          a#sample-button__selected.demo-core-item.mdw-overlay.mdw-elevation.mdw-ripple.mdw-theme(tabindex="0" mdw-elevation="1" mdw-surface="binary" mdw-ink="secondary contrast" aria-selected="true") Selected
          a#sample-button__activated.demo-core-item.mdw-overlay.mdw-elevation.mdw-ripple.mdw-theme(tabindex="0" mdw-elevation="1" mdw-surface="binary" mdw-ink="secondary contrast" aria-pressed="true") Activated
          div(style="margin:8px")
            p.mdw-type Surface:
              span#sample-surface.mdw-theme(mdw-ink="medium")   test
            p.mdw-type Ink:
              span#sample-ink.mdw-theme(mdw-ink="medium")   test
          div(style="margin:8px")
            p.mdw-type Text Contrast:
              span#sample-contrast__text.mdw-theme(mdw-ink="medium")   test
              span  / 4.5
            p.mdw-type Selected Contrast:
              span#sample-contrast__selected.mdw-theme(mdw-ink="medium")   test
              span  / 4.5
            p.mdw-type Activated Contrast:
              span#sample-contrast__activated.mdw-theme(mdw-ink="medium")   test
              span  / 4.5
    .mdw-grid__item(mdw-colspan="2")
      .mdw-grid__content
        .mdw-type(mdw-style="subtitle") Ink
        div
          label.mdw-textfield.mdw-theme(mdw-ink="secondary" mdw-outlined)
            select.mdw-textfield__input(name="ink-color")
              option.mdw-theme(mdw-surface="card" value="default") Default
              option.mdw-theme(mdw-surface="card" value="black") Black
              option.mdw-theme(mdw-surface="card" value="white") White
              option.mdw-theme(mdw-surface="card" value="primary") Primary
              option.mdw-theme(mdw-surface="card" value="secondary" selected) Secondary
              option.mdw-theme(mdw-surface="card" value="warn") Warn
              option.mdw-theme(mdw-surface="card" value="amber") Amber
              option.mdw-theme(mdw-surface="card" value="blue") Blue
              option.mdw-theme(mdw-surface="card" value="cyan") Cyan
              option.mdw-theme(mdw-surface="card" value="red") Red
              option.mdw-theme(mdw-surface="card" value="green") Green
              option.mdw-theme(mdw-surface="card" value="deeppurple") Deeppurple
              option.mdw-theme(mdw-surface="card" value="purple") Purple
              option.mdw-theme(mdw-surface="card" value="yellow") Yellow
              option.mdw-theme(mdw-surface="card" value="teal") Teal
            .mdw-textfield__icon(mdw-dropdown)
            .mdw-textfield__border
              .mdw-textfield__outline-gap
                .mdw-textfield__label Color
          label.mdw-textfield.mdw-theme(mdw-ink="secondary" mdw-outlined)
            select.mdw-textfield__input(name="ink-tone")
              option.mdw-theme(mdw-surface="card" value="" selected) Auto
              option.mdw-theme(mdw-surface="card" value="light") Light
              option.mdw-theme(mdw-surface="card" value="contrast" selected) Contrast
              option.mdw-theme(mdw-surface="card" value="A100") A100
              option.mdw-theme(mdw-surface="card" value="A200") A200
              option.mdw-theme(mdw-surface="card" value="A400") A400
              option.mdw-theme(mdw-surface="card" value="A700") A700
            .mdw-textfield__icon(mdw-dropdown)
            .mdw-textfield__border
              .mdw-textfield__outline-gap
                .mdw-textfield__label Tone
          label.mdw-textfield.mdw-theme(mdw-ink="secondary" mdw-outlined)
            select.mdw-textfield__input(name="ink-opacity")
              option.mdw-theme(mdw-surface="card" value="" selected) Auto
              option.mdw-theme(mdw-surface="card" value="solid") Solid
              option.mdw-theme(mdw-surface="card" value="high") High
              option.mdw-theme(mdw-surface="card" value="medium") Medium
              option.mdw-theme(mdw-surface="card" value="inactive") Inactive
              option.mdw-theme(mdw-surface="card" value="divider") Divider
            .mdw-textfield__icon(mdw-dropdown)
            .mdw-textfield__border
              .mdw-textfield__outline-gap
                .mdw-textfield__label Opacity
    .mdw-grid__item(mdw-colspan="2")
      .mdw-grid__content
        .mdw-type(mdw-style="subtitle") Surface
        #color-page-options
          label.mdw-textfield.mdw-theme(mdw-ink="secondary" mdw-outlined)
            select.mdw-textfield__input(name="surface-color")
              option.mdw-theme(mdw-surface="card" value="card") Card
              option.mdw-theme(mdw-surface="card" value="binary" selected) Binary
              option.mdw-theme(mdw-surface="card" value="black") Black
              option.mdw-theme(mdw-surface="card" value="white") White
              option.mdw-theme(mdw-surface="card" value="background") Background
              option.mdw-theme(mdw-surface="card" value="primary") Primary
              option.mdw-theme(mdw-surface="card" value="secondary") Secondary
              option.mdw-theme(mdw-surface="card" value="warn") Warn
              option.mdw-theme(mdw-surface="card" value="amber") Amber
              option.mdw-theme(mdw-surface="card" value="blue") Blue
              option.mdw-theme(mdw-surface="card" value="cyan") Cyan
              option.mdw-theme(mdw-surface="card" value="red") Red
              option.mdw-theme(mdw-surface="card" value="green") Green
              option.mdw-theme(mdw-surface="card" value="deeppurple") Deeppurple
              option.mdw-theme(mdw-surface="card" value="purple") Purple
              option.mdw-theme(mdw-surface="card" value="yellow") Yellow
              option.mdw-theme(mdw-surface="card" value="teal") Teal
            .mdw-textfield__icon(mdw-dropdown)
            .mdw-textfield__border
              .mdw-textfield__outline-gap
                .mdw-textfield__label Color
          label.mdw-textfield.mdw-theme(mdw-ink="secondary" mdw-outlined)
            select.mdw-textfield__input(name="surface-tone")
              option.mdw-theme(mdw-surface="card" value="" selected) Default
              option.mdw-theme(mdw-surface="card" value="alt") Alternate
              option.mdw-theme(mdw-surface="card" value="50") 50
              option.mdw-theme(mdw-surface="card" value="100") 100
              option.mdw-theme(mdw-surface="card" value="200") 200
              option.mdw-theme(mdw-surface="card" value="300") 300
              option.mdw-theme(mdw-surface="card" value="400") 400
              option.mdw-theme(mdw-surface="card" value="500") 500
              option.mdw-theme(mdw-surface="card" value="600") 600
              option.mdw-theme(mdw-surface="card" value="700") 700
              option.mdw-theme(mdw-surface="card" value="800") 800
              option.mdw-theme(mdw-surface="card" value="900") 900
            .mdw-textfield__icon(mdw-dropdown)
            .mdw-textfield__border
              .mdw-textfield__outline-gap
                .mdw-textfield__label Tone
  script(src='color.min.js')