include ../_mixins.pug

+header("datatable")
  .mdw-grid(mdw-margin-top mdw-margin-bottom)
    .mdw-grid__item(mdw-colspan="100%")
      .mdw-card.mdw-theme(mdw-surface="card" mdw-border-ink)
        .mdw-datatable.mdw-theme(mdw-ink="primary" style="overflow-x:auto")
          table
            caption Standard HTML Table (CSS Only)
            thead
              tr
                th Dessert (100g serving)
                th Calories
                th Fat (g)
                th Carbs (g)
                th Protein (g)
                th Sodium (mg)
                th Calcium (%)
                th Iron (%)
            tbody
              tr
                td Frozen Yogurt
                td 159
                td 6.0
                td 24
                td 4.0
                td 87
                td 14%
                td 1%
              tr
                td Ice cream sandwich
                td 237
                td 9.0
                td 37
                td 4.3
                td 129
                td 8%
                td 1%
              tr
                td Eclair
                td 262
                td 16.0
                td 24
                td 6.0
                td 337
                td 6%
                td 7%
              tr
                td Cupcake
                td 305
                td 3.7
                td 67
                td 4.3
                td 413
                td 3%
                td 8%
              tr
                td Gingerbread
                td 356
                td 16.0
                td 49
                td 3.9
                td 327
                td 7%
                td 16%
              tr
                td Jelly bean
                td 375
                td 0.0
                td 94
                td 0.0
                td 50
                td 0%
                td 0%
              tr
                td Lollipop
                td 392
                td 0.2
                td 98
                td 0
                td 38
                td 0%
                td 2%
              tr
                td Honeycomb
                td 408
                td 3.2
                td 87
                td 6.5
                td 562
                td 0%
                td 45%
              tr
                td Donut
                td 452
                td 25.0
                td 51
                td 4.9
                td 326
                td 2%
                td 22%
              tr
                td Kitkat
                td 518
                td 26.0
                td 65
                td 7
                td 54
                td 12%
                td 6%
    .mdw-grid__item(mdw-colspan="100%")
      .mdw-card.mdw-theme(mdw-surface="card" mdw-border-ink)
        .mdw-datatable.js.mdw-theme(mdw-ink="primary" mdw-cell-focusable)
          .mdw-datatable__header
            .mdw-datatable__header-text Customized HTML Table
          .mdw-datatable__scroller
            table
              thead
                tr
                  th(aria-sort="none" mdw-text mdw-primary-column)
                    span.mdw-datatable__sort-icon.material-icons arrow_downward
                    span Dessert (100g serving)
                  th(aria-sort="ascending" mdw-number)
                    span.mdw-datatable__sort-icon.material-icons arrow_downward
                    span.mdw-tooltip__wrapper
                      span.mdw-tooltip__target Calories
                      .mdw-tooltip.mdw-theme(mdw-surface="background 700" mdw-dark) The total amount of food energy in the given serving size.
                  th(aria-sort="none" mdw-number)
                    span.mdw-datatable__sort-icon.material-icons arrow_downward
                    span Fat (g)
                  th(aria-sort="none" mdw-number)
                    span.mdw-datatable__sort-icon.material-icons arrow_downward
                    span Carbs (g)
                  th(aria-sort="none" mdw-number)
                    span.mdw-datatable__sort-icon.material-icons arrow_downward
                    span Protein (g)
                  th(aria-sort="none" mdw-number)
                    span.mdw-datatable__sort-icon.material-icons arrow_downward
                    span Sodium (mg)
                  th(aria-sort="none" mdw-number)
                    span.mdw-datatable__sort-icon.material-icons arrow_downward
                    span Calcium (%)
                  th(aria-sort="none" mdw-number)
                    span.mdw-datatable__sort-icon.material-icons arrow_downward
                    span Iron (%)
              tbody
                tr
                  td(mdw-text mdw-primary-column) Frozen Yogurt
                  td(mdw-number) 159
                  td(mdw-number) 6.0
                  td(mdw-number) 24
                  td(mdw-number) 4.0
                  td(mdw-number) 87
                  td(mdw-number) 14%
                  td(mdw-number) 1%
                tr
                  td(mdw-text mdw-primary-column) Ice cream sandwich
                  td(mdw-number) 237
                  td(mdw-number) 9.0
                  td(mdw-number) 37
                  td(mdw-number) 4.3
                  td(mdw-number) 129
                  td(mdw-number) 8%
                  td(mdw-number) 1%
                tr
                  td(mdw-text mdw-primary-column) Eclair
                  td(mdw-number) 262
                  td(mdw-number) 16.0
                  td(mdw-number) 24
                  td(mdw-number) 6.0
                  td(mdw-number) 337
                  td(mdw-number) 6%
                  td(mdw-number) 7%
                tr
                  td(mdw-text mdw-primary-column) Cupcake
                  td(mdw-number) 305
                  td(mdw-number) 3.7
                  td(mdw-number) 67
                  td(mdw-number) 4.3
                  td(mdw-number) 413
                  td(mdw-number) 3%
                  td(mdw-number) 8%
                tr
                  td(mdw-text mdw-primary-column) Gingerbread
                  td(mdw-number) 356
                  td(mdw-number) 16.0
                  td(mdw-number) 49
                  td(mdw-number) 3.9
                  td(mdw-number) 327
                  td(mdw-number) 7%
                  td(mdw-number) 16%
                tr
                  td(mdw-text mdw-primary-column) Jelly bean
                  td(mdw-number) 375
                  td(mdw-number) 0.0
                  td(mdw-number) 94
                  td(mdw-number) 0.0
                  td(mdw-number) 50
                  td(mdw-number) 0%
                  td(mdw-number) 0%
                tr
                  td(mdw-text mdw-primary-column) Lollipop
                  td(mdw-number) 392
                  td(mdw-number) 0.2
                  td(mdw-number) 98
                  td(mdw-number) 0
                  td(mdw-number) 38
                  td(mdw-number) 0%
                  td(mdw-number) 2%
                tr
                  td(mdw-text mdw-primary-column) Honeycomb
                  td(mdw-number) 408
                  td(mdw-number) 3.2
                  td(mdw-number) 87
                  td(mdw-number) 6.5
                  td(mdw-number) 562
                  td(mdw-number) 0%
                  td(mdw-number) 45%
                tr
                  td(mdw-text mdw-primary-column) Donut
                  td(mdw-number) 452
                  td(mdw-number) 25.0
                  td(mdw-number) 51
                  td(mdw-number) 4.9
                  td(mdw-number) 326
                  td(mdw-number) 2%
                  td(mdw-number) 22%
                tr
                  td(mdw-text mdw-primary-column) Kitkat
                  td(mdw-number) 518
                  td(mdw-number) 26.0
                  td(mdw-number) 65
                  td(mdw-number) 7
                  td(mdw-number) 54
                  td(mdw-number) 12%
                  td(mdw-number) 6%
          .mdw-datatable__footer
            .mdw-datatable__footer-options
                span Rows per page
                label.mdw-textfield(mdw-solo)
                  select.mdw-textfield__input
                    option.mdw-theme(mdw-surface="card" value="10") 10
                    option.mdw-theme(mdw-surface="card" value="25") 25
                    option.mdw-theme(mdw-surface="card" value="50") 50
                    option.mdw-theme(mdw-surface="card" value="100") 100
                  .mdw-textfield__icon(mdw-dropdown)
            .mdw-datatable__footer-details 1-10 of 10
            .mdw-datatable__footer-controls
              +mdwButton({ icon:true, disabled:true }).material-icons chevron_left
              +mdwButton({ icon: true, disabled:true }).material-icons chevron_right
    .mdw-grid__item(mdw-colspan="100%")
      .mdw-card.mdw-theme(mdw-surface="card" mdw-border-ink)
        .mdw-datatable.js#dynamic-table.mdw-theme(mdw-ink="primary" mdw-row-focusable style="max-height:80vh")
          .mdw-datatable__header
            .mdw-datatable__header-text Data Table Adapter
            .mdw-datatable__header-controls
              .mdw-menu__wrapper
                +mdwButton({ icon:true, ink:'primary' }).material-icons(mdw-overlay-default="medium" aria-pressed="false") filter_list
                .mdw-menu(mdw-position="end")
                  .mdw-menu__popup.mdw-theme(mdw-surface="card")
                    .mdw-menu__item(aria-checked="true" data-filter="none")
                      .mdw-menu__radio.mdw-theme.material-icons(mdw-ink="medium") check
                      .mdw-menu__text No filter
                    .mdw-menu__item(data-filter="md")
                      .mdw-menu__radio.mdw-theme.material-icons(mdw-ink="medium") check
                      .mdw-menu__text Contains 'md'
                    .mdw-menu__item(data-filter="div9")
                      .mdw-menu__radio.mdw-theme.material-icons(mdw-ink="medium") check
                      .mdw-menu__text Random divisible by 9
                    .mdw-menu__item(data-filter="bool")
                      .mdw-menu__radio.mdw-theme.material-icons(mdw-ink="medium") check
                      .mdw-menu__text bool is checked
              .mdw-menu__wrapper
                +mdwButton({ icon:true, ink:'medium' }).material-icons more_vert
                .mdw-menu(mdw-position="end")
                  .mdw-menu__popup.mdw-theme(mdw-surface="card")
                    .mdw-menu__item(aria-checked="true" data-option="throttle")
                      .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                      .mdw-menu__text Throttle
                    .mdw-menu__item(aria-checked="true" data-option="paginate")
                      .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                      .mdw-menu__text Paginate
  script(src='datatable.min.js')