include ../_mixins.pug

+header("dom")
  .mdw-grid(mdw-margin-top mdw-margin-bottom mdw-stretch)
    .mdw-grid__item(mdw-colspan="6")
      .mdw-grid__content.component-sample
        .display-flex(style="flex:1;height:400px;max-height:400px;overflow-y:auto")
          ul.mdw-list.mdw-theme(style="flex:1;width:100%;" mdw-surface="primary alt")

    .mdw-grid__item(mdw-colspan="100%")
      .mdw-type(mdw-style="subtitle") Optimizations
      .docs-option-list
        +mdwSelection({ink:'secondary', name:'fastMeasure', checked:true}) Fast Measure
        +mdwSelection({ink:'secondary', name:'block', checked:true}) Block-level
        +mdwSelection({ink:'secondary', name:'deferRender', checked:true}) Defer Render
        +mdwSelection({ink:'secondary', name:'equalSize', checked:false}) Equal Size
      .mdw-type(mdw-style="subtitle") Test Options
      +mdwButton() Reset
      +mdwButton() Remove #10
      +mdwButton() Increment #50
      +mdwButton() Resize #80
  script(src='dom.min.js')