include ../_mixins.pug

+header("fab")
  .comparison.js
    .render
      .display-flex.flex-1(flex-column style="position:relative")
        +androidstatusbar('primary 700', 'dark')
        +appbar('primary 500', 'dark', ['menu'], ['search']) JS
        .content(style="padding:16px 8px;")
          .mdw-type(mdw-style="subtitle") Hover
          .docs-option-list
            +mdwSelection({ink:'secondary', name:'hover'}) Open on Hover
          .mdw-type(mdw-style="subtitle") Type
          .docs-option-list
            +mdwSelection({ink:'secondary', name:'type', type:'radio', value:'regular'}) Regular (Default)
            +mdwSelection({ink:'secondary', name:'type', type:'radio', value:'mini'}) Mini
            +mdwSelection({ink:'secondary', name:'type', type:'radio', value:'extended'}) Extended
            +mdwSelection({ink:'secondary', name:'type', type:'radio', value:'extended-hover'}) Extended on Hover
          .mdw-grid(mdw-margin-bottom mdw-columns="4").docs-render-overlay
            .mdw-grid__item
              .mdw-grid__content
                .mdw-fab
                  +mdwButton({ surface:'secondary 500', dark:true }).mdw-fab__button
                    .mdw-fab__icon
                      .mdw-fab__hidden-icon.material-icons add
                      .mdw-fab__shown-icon.material-icons clear
                    .mdw-fab__text Add
                  .mdw-fab__speed-dial
                    +mdwButton().mdw-fab__button(mdw-mini)
                      .mdw-fab__icon.material-icons filter_1
                    +mdwButton().mdw-fab__button(mdw-mini)
                      .mdw-fab__icon.material-icons filter_2
                    +mdwButton().mdw-fab__button(mdw-mini)
                      .mdw-fab__icon.material-icons filter_3
                    +mdwButton().mdw-fab__button(mdw-mini)
                      .mdw-fab__icon.material-icons filter_4
                    +mdwButton().mdw-fab__button(mdw-mini)
                      .mdw-fab__icon.material-icons filter_5
      +androidnavbar
  .comparison
    .render
      .display-flex.flex-1(flex-column style="position:relative")
        +androidstatusbar('primary 700', 'dark')
        +appbar('primary 500', 'dark', ['menu'], ['search']) CSS Only
        .content(style="padding:16px 8px;") 
          .mdw-grid(mdw-margin-bottom).docs-render-overlay
            .mdw-grid__item
              .mdw-fab#my-fab
                a.mdw-fab__close(href="#my-fab-button")
                +mdwButton({ icon:true, surface:'secondary 500', dark:true})#my-fab-button.mdw-fab__button(href="#my-fab")
                  .mdw-fab__icon
                    .mdw-fab__hidden-icon.material-icons add
                    .mdw-fab__shown-icon.material-icons clear
                .mdw-fab__speed-dial
                  +mdwButton().mdw-fab__button(mdw-mini)
                    .mdw-fab__icon.material-icons filter_1
                  +mdwButton().mdw-fab__button(mdw-mini)
                    .mdw-fab__icon.material-icons filter_2
                  +mdwButton().mdw-fab__button(mdw-mini)
                    .mdw-fab__icon.material-icons filter_3
                  +mdwButton().mdw-fab__button(mdw-mini)
                    .mdw-fab__icon.material-icons filter_4
                  +mdwButton().mdw-fab__button(mdw-mini)
                    .mdw-fab__icon.material-icons filter_5
      +androidnavbar
  script(src='fab.min.js')