include ../_mixins.pug

+header("grid")
  .mdw-grid(mdw-margin-top)
    .mdw-grid__item(mdw-colspan="8")
      h5.mdw-type(mdw-baseline-next="36") The Material Design responsive layout grid adapts to screen size and orientation, ensuring consistency across layouts.
      p.mdw-type The Material Design layout grid is made up of three elements: columns, gutters, and margins.
    .mdw-grid__item(mdw-colspan="8")
      .mdw-type(mdw-style="subtitle") Margins and Gutters
      .docs-option-list
        +mdwSelection({ink:'secondary', name:'default-margins', checked:true}) Default Margins and Gutters
        +mdwSelection({ink:'secondary', name:'top-margin', checked:true}) Top Margin
        +mdwSelection({ink:'secondary', name:'bottom-margin', checked:true}) Bottom Margin
      .mdw-type(mdw-style="subtitle") Maximum Columns
      .docs-option-list
        +mdwSelection({ink:'secondary', name:'columns', type:'radio', value:'12', checked:true}) 12
        +mdwSelection({ink:'secondary', name:'columns', type:'radio', value:'8'}) 8
        +mdwSelection({ink:'secondary', name:'columns', type:'radio', value:'4'}) 4
        +mdwSelection({ink:'secondary', name:'columns', type:'radio', value:'1'}) 1
      .mdw-type(mdw-style="subtitle") Display Model
      .docs-option-list
        +mdwSelection({ink:'secondary', name:'style', type:'radio', value:'flex', checked:true}) Flexbox
        +mdwSelection({ink:'secondary', name:'style', type:'radio', value:'grid'}) Grid
      .mdw-type(mdw-style="subtitle") Options
      .docs-option-list
        +mdwSelection({ink:'secondary', name:'stretch'}) Stretch
        +mdwSelection({ink:'secondary', name:'center'}) Center
        +mdwSelection({ink:'secondary', name:'dense'}) Dense
    .mdw-grid__item(mdw-colspan="100%")
      p.mdw-type(style="text-align:center" mdw-textop-top="16dp" mdw-baseline-bottom="16dp") Click on an element to change colspan
  .docs-grid#sample-component
    .mdw-grid(mdw-margin-top mdw-margin-bottom)
      .mdw-grid__item(mdw-rowspan="2")
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="cyan 100" mdw-light mdw-border-ink) 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="card" mdw-border-ink) 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="cyan 200" mdw-light mdw-border-ink) 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="card" mdw-border-ink) 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="cyan 400" mdw-dark mdw-border-ink) 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="card" mdw-border-ink) 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="cyan 700" mdw-dark mdw-border-ink) 1
      .mdw-grid__item(mdw-rowspan="3")
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="card" mdw-border-ink) 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="red 100" mdw-light mdw-border-ink) 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="card" mdw-border-ink) 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="red 200" mdw-light mdw-border-ink) 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="card" mdw-border-ink) 1
      .mdw-grid__item(mdw-colspan="2")
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="red 400" mdw-dark mdw-border-ink) 2
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="card" mdw-border-ink) 1
      .mdw-grid__item(mdw-rowspan="5" mdw-colspan="25%")
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="red 700" mdw-dark mdw-border-ink) 25%
      .mdw-grid__item(mdw-colspan="3")
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="card" mdw-border-ink) 3
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="green 100" mdw-light mdw-border-ink) 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="card" mdw-border-ink) 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="green 200" mdw-light mdw-border-ink) 1
      .mdw-grid__item(mdw-colspan="75%")
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="card" mdw-border-ink) 75%
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="green 400" mdw-dark mdw-border-ink) 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="card" mdw-border-ink) 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="green 700" mdw-dark mdw-border-ink) 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="card" mdw-border-ink) 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="purple 100" mdw-light mdw-border-ink) 1
      .mdw-grid__item(mdw-colspan="8")
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="card" mdw-border-ink) 8
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="purple 200" mdw-light mdw-border-ink) 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="card" mdw-border-ink) 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="purple 400" mdw-dark mdw-border-ink) 1
      .mdw-grid__item(mdw-colspan="2")
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="card" mdw-border-ink) 2
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="purple 700" mdw-dark mdw-border-ink) 1
  script(src='grid.min.js')