include ../_mixins.pug

+header("menu")
  .mdw-grid(mdw-margin-top mdw-margin-bottom mdw-stretch)
    .mdw-grid__item(mdw-colspan="100%")
      .mdw-grid__content
        h5.mdw-type(mdw-baseline-next="36") Menus display a list of choices on a transient sheet of material.
        p.mdw-type(mdw-baseline-next="36") Menus appear upon interaction with a button, action, or other control. They display a list of choices, with one choice per line.
        p.mdw-type Menu items may be disabled if not applicable to a certain context. Contextual menus dynamically change their available menu items based on the current state of the app.
    .mdw-grid__item(mdw-colspan="4")
      .mdw-grid__content
        .component-sample
          .component-sample__container
            .mdw-menu__wrapper
              +mdwButton Open
              .mdw-menu
                .mdw-menu__popup.mdw-theme(mdw-surface="card")
                  .mdw-menu__item
                    .mdw-menu__icon.mdw-theme.material-icons(mdw-ink="medium") format_bold
                    .mdw-menu__text Bold
                    .mdw-menu__info ⌘B
                  .mdw-menu__item(aria-disabled="true")
                    .mdw-menu__icon.mdw-theme.material-icons(mdw-ink="medium") format_italic
                    .mdw-menu__text Italic
                    .mdw-menu__info ⌘I
                  .mdw-menu__item
                    .mdw-menu__icon.mdw-theme.material-icons(mdw-ink="medium") format_underline
                    .mdw-menu__text Underline
                    .mdw-menu__info ⌘U
                  .mdw-divider.mdw-theme(mdw-ink="divider")
                  .mdw-menu__item(aria-checked="true")
                    .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                    .mdw-menu__text Flights
                  .mdw-menu__item
                    .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                    .mdw-menu__text Apps
    .mdw-grid__item(mdw-colspan="8")
      .mdw-grid__content
        .mdw-type(mdw-style="subtitle") Javascript
        .docs-option-list
          +mdwSelection({ink:'secondary', name:'javascript', type:'radio', value:'required', checked:true}) Required
          +mdwSelection({ink:'secondary', name:'javascript', type:'radio', value:'optional'}) Optional
          +mdwSelection({ink:'secondary', name:'javascript', type:'radio', value:'none' }) None
        .mdw-type(mdw-style="subtitle") Vertical Position
        .docs-option-list
          +mdwSelection({ink:'secondary', name:'vposition', type:'radio', value:'auto', checked:true}) Auto
          +mdwSelection({ink:'secondary', name:'vposition', type:'radio', value:'bottom'}) Bottom
          +mdwSelection({ink:'secondary', name:'vposition', type:'radio', value:'top' }) Top
          +mdwSelection({ink:'secondary', name:'vposition', type:'radio', value:'vcenter' }) Center
        .mdw-type(mdw-style="subtitle") Horizontal Position
        .docs-option-list
          +mdwSelection({ink:'secondary', name:'hposition', type:'radio', value:'auto', checked:true}) Auto
          +mdwSelection({ink:'secondary', name:'hposition', type:'radio', value:'start'}) Start
          +mdwSelection({ink:'secondary', name:'hposition', type:'radio', value:'end' }) End
          +mdwSelection({ink:'secondary', name:'hposition', type:'radio', value:'left' }) Left
          +mdwSelection({ink:'secondary', name:'hposition', type:'radio', value:'right' }) Right
          +mdwSelection({ink:'secondary', name:'hposition', type:'radio', value:'hcenter' }) Center
        .mdw-type(mdw-style="subtitle") Vertical Direction
        .docs-option-list
          +mdwSelection({ink:'secondary', name:'vdirection', type:'radio', value:'auto', checked:true}) Auto
          +mdwSelection({ink:'secondary', name:'vdirection', type:'radio', value:'down'}) Down
          +mdwSelection({ink:'secondary', name:'vdirection', type:'radio', value:'up' }) Up
          +mdwSelection({ink:'secondary', name:'vdirection', type:'radio', value:'vcenter' }) Center
        .mdw-type(mdw-style="subtitle") Horizontal Direction
        .docs-option-list
          +mdwSelection({ink:'secondary', name:'hdirection', type:'radio', value:'auto', checked:true}) Auto
          +mdwSelection({ink:'secondary', name:'hdirection', type:'radio', value:'normal'}) Normal
          +mdwSelection({ink:'secondary', name:'hdirection', type:'radio', value:'reverse' }) Reverse
          +mdwSelection({ink:'secondary', name:'hdirection', type:'radio', value:'ltr'}) Left-to-Right
          +mdwSelection({ink:'secondary', name:'hdirection', type:'radio', value:'rtl' }) Right-to-Left
          +mdwSelection({ink:'secondary', name:'hdirection', type:'radio', value:'hcenter' }) Center
        .mdw-type(mdw-style="subtitle") Width Units
        .docs-option-list
          +mdwSelection({ink:'secondary', name:'width', type:'radio', value:'auto', checked:true}) Auto
          +mdwSelection({ink:'secondary', name:'width', type:'radio', value:'3' }) 3
          +mdwSelection({ink:'secondary', name:'width', type:'radio', value:'4' }) 4
          +mdwSelection({ink:'secondary', name:'width', type:'radio', value:'5' }) 5
          +mdwSelection({ink:'secondary', name:'width', type:'radio', value:'6' }) 6
          +mdwSelection({ink:'secondary', name:'width', type:'radio', value:'7' }) 7
    .mdw-grid__item(mdw-colspan="100%" style="max-height:0")
    .mdw-grid__item(mdw-colspan="6")
      .mdw-grid__content
        h6.mdw-type HTML Code
        .mdw-card.mdw-theme.component-code.component-html(mdw-surface="card" mdw-border-ink)
    .mdw-grid__item(mdw-colspan="6")
      .mdw-grid__content
        h6.mdw-type Javascript Code
        .mdw-card.mdw-theme.component-code.component-js(mdw-surface="card" mdw-border-ink)
    .mdw-grid__item(mdw-colspan="100%")
      h6.mdw-type Samples
    .mdw-grid__item.display-flex(mdw-colspan="4" flex-justify-content="center")
      .mdw-grid__content
        .render-fill
          +androidstatusbar('primary 700', 'dark')
          .mdw-appbar.mdw-theme(mdw-surface="primary 500" mdw-dark)
            .mdw-appbar__action
              .mdw-appbar__start
                .mdw-tooltip__wrapper
                  +mdwButton({ icon:true }).mdw-tooltip__target.material-icons menu
                  .mdw-tooltip.mdw-theme(mdw-surface="background 700" mdw-dark) Menu
              .mdw-appbar__end
                .mdw-tooltip__wrapper.mdw-menu__wrapper
                  +mdwButton({ icon:true }).mdw-tooltip__target.material-icons(mdw-more-button href="#moremenu") more_vert
                  .mdw-tooltip.mdw-theme(mdw-surface="background 700" mdw-dark).mdw-tooltip Options
                  .mdw-menu#moremenu(mdw-direction="reverse" mdw-position="end" mdw-width-units="3")
                    a.mdw-menu__close(href="#")
                    .mdw-menu__popup.mdw-theme(mdw-surface="card")
                      .mdw-menu__text Refresh
                      .mdw-menu__text Settings
                      .mdw-menu__text Send feedback
                      .mdw-menu__text Help
                      .mdw-menu__text Signout
          .content(style="padding:16px 8px")
            .mdw-menu__wrapper
              +mdwButton({ surface:'primary 500', dark:true, raised:true })#textmenu-button(href="#textmenu") Text
              .mdw-menu#textmenu
                a.mdw-menu__close(href="#textmenu-button")
                .mdw-menu__popup.mdw-theme(mdw-surface="card")
                  .mdw-menu__item.mdw-overlay.mdw-ripple Maps
                  .mdw-menu__item.mdw-overlay.mdw-ripple Books
                  .mdw-menu__item.mdw-overlay.mdw-ripple Flights
                  .mdw-menu__item.mdw-overlay.mdw-ripple Apps
            .mdw-menu__wrapper
              +mdwButton({ surface:'primary 500', dark:true, raised:true })#checkmenu-button(href="#checkmenu") Checks
              .mdw-menu#checkmenu
                a.mdw-menu__close(href="#checkmenu-button")
                .mdw-menu__popup.mdw-theme(mdw-surface="card")
                  .mdw-menu__item.mdw-overlay.mdw-ripple
                    .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                    .mdw-menu__text Maps
                  .mdw-menu__item.mdw-overlay.mdw-ripple(aria-checked="true")
                    .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                    .mdw-menu__text Books
                  .mdw-menu__item.mdw-overlay.mdw-ripple(aria-checked="true")
                    .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                    .mdw-menu__text Flights
                  .mdw-menu__item.mdw-overlay.mdw-ripple
                    .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                    .mdw-menu__text Apps
            div(style="height:400px")
            .mdw-menu__wrapper
              +mdwButton({ surface:'primary 500', dark:true, raised:true })#infomenu-button(href="#infomenu") Info
              .mdw-menu#infomenu(mdw-width-units=4 mdw-direction="up" mdw-position="top")
                a.mdw-menu__close(href="#infomenu-button")
                .mdw-menu__popup.mdw-theme(mdw-surface="card")
                  .mdw-menu__item.mdw-overlay.mdw-ripple(aria-disabled="true")
                    .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                    .mdw-menu__text Bold
                    .mdw-menu__info ⌘B
                  .mdw-menu__item.mdw-overlay.mdw-ripple(aria-checked="true")
                    .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                    .mdw-menu__text Italic
                    .mdw-menu__info ⌘I
                  .mdw-menu__item.mdw-overlay.mdw-ripple(aria-checked="true")
                    .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                    .mdw-menu__text Underline
                    .mdw-menu__info ⌘U
                  .mdw-divider.mdw-theme(mdw-ink="divider")
                  .mdw-menu__item.mdw-overlay.mdw-ripple(aria-checked="true")
                    .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                    .mdw-menu__text Flights
                  .mdw-menu__item.mdw-overlay.mdw-ripple
                    .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                    .mdw-menu__text Apps
            .mdw-menu__wrapper
              +mdwButton({ surface:'primary 500', dark:true, raised:true })#iconmenu-button(href="#iconmenu") Icons
              .mdw-menu#iconmenu(mdw-width-units=4 mdw-direction="up" mdw-position="top")
                a.mdw-menu__close(href="#iconmenu-button")
                .mdw-menu__popup.mdw-theme(mdw-surface="card")
                  .mdw-menu__item.mdw-overlay.mdw-ripple
                    .mdw-menu__icon.mdw-theme.material-icons(mdw-ink="medium") format_bold
                    .mdw-menu__text Bold
                    .mdw-menu__info ⌘B
                  .mdw-menu__item.mdw-overlay.mdw-ripple
                    .mdw-menu__icon.mdw-theme.material-icons(mdw-ink="medium") format_italic
                    .mdw-menu__text Italic
                    .mdw-menu__info ⌘I
                  .mdw-menu__item.mdw-overlay.mdw-ripple
                    .mdw-menu__icon.mdw-theme.material-icons(mdw-ink="medium") format_underline
                    .mdw-menu__text Underline
                    .mdw-menu__info ⌘U
            .mdw-menu__wrapper.js
              +mdwButton({ surface:'primary 500', dark:true, raised: true }) JS
              .mdw-menu(mdw-width-units=4 mdw-direction="reverse")
                .mdw-menu__popup.mdw-theme(mdw-surface="card")
                  .mdw-menu__item
                    .mdw-menu__icon.mdw-theme.material-icons(mdw-ink="medium") format_bold
                    .mdw-menu__text Bold
                    .mdw-menu__info ⌘B
                  .mdw-menu__item(aria-disabled="true")
                    .mdw-menu__icon.mdw-theme.material-icons(mdw-ink="medium") format_italic
                    .mdw-menu__text Italic
                    .mdw-menu__info ⌘I
                  .mdw-menu__item
                    .mdw-menu__icon.mdw-theme.material-icons(mdw-ink="medium") format_underline
                    .mdw-menu__text Underline
                    .mdw-menu__info ⌘U
                  .mdw-divider.mdw-theme(mdw-ink="divider")
                  .mdw-menu__item(aria-checked="true")
                    .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                    .mdw-menu__text Flights
                  .mdw-menu__item
                    .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                    .mdw-menu__text Apps
  script(src='menu.min.js')