include ../_mixins.pug

+header("selection")
  .mdw-grid(mdw-stretch)
    .mdw-grid__item(mdw-colspan="4")
      .mdw-grid__content
        .render-fill
          +androidstatusbar('teal 700', 'dark')
          .mdw-appbar.mdw-theme(mdw-surface="teal 500" mdw-dark)
            .mdw-appbar__action
              .mdw-appbar__title Styled HTMLInputElement
          .content
            .display-flex(style="padding:16px")
              +mdwSelection({ink:'blue', checked:true, prefix:true, type:'switch' }) Switch
            .display-flex(style="padding:16px")
              +mdwSelection({ink:'blue', checked:true, prefix:true }) Prefixed
            .display-flex(style="padding:16px")
              +mdwSelection({ink:'teal', checked:true }) Suffixed
            .display-flex(style="padding:16px")
              +mdwSelection({ink:'teal', checked:true, disabled:true}) Disabled
            .display-flex(style="padding:16px")
              +mdwSelection({ink:'teal', type:'radio', name:'test', checked:true }) Option A
            .display-flex(style="padding:16px")
              +mdwSelection({ink:'teal', type:'radio', name:'test' }) Option B
            .display-flex(style="padding:16px")
              +mdwSelection({ink:'teal', type:'radio', name:'test', disabled:true }) Option C
    .mdw-grid__item(mdw-colspan="4")
      .mdw-grid__content
        .render-fill
          +androidstatusbar('teal 700', 'dark')
          .mdw-appbar.mdw-theme(mdw-surface="teal 500" mdw-dark)
            .mdw-appbar__action
              .mdw-appbar__title aria-checked (JS)
          .content
            div#docs-selection-subheader1.mdw-list__subheader.mdw-theme(mdw-ink="medium") Switch
            ul.mdw-list(role="listbox" aria-labelledby='docs-selection-subheader1')
              li.mdw-list__item
                a.mdw-list__content.mdw-selection.mdw-overlay(aria-checked="true")
                  .mdw-list__text.mdw-selection__label Android Switch
                  .mdw-list__secondary.mdw-selection__icon.mdw-theme(mdw-ink="teal" mdw-switch)
              li.mdw-list__item
                a.mdw-list__content.mdw-selection.mdw-overlay(aria-checked="false" aria-disabled="true")
                  .mdw-list__text.mdw-selection__label Android Switch Disabled
                  .mdw-list__secondary.mdw-selection__icon.mdw-theme(mdw-ink="teal contrast" mdw-switch)
            .mdw-list__subheader.mdw-theme(mdw-ink="medium") .mdw-list[role="radiogroup"]
            ul.mdw-list.mdw-selection__radio-group(role="radiogroup")
              li.mdw-list__item
                a.mdw-list__content.mdw-selection.mdw-overlay(aria-checked="true")
                  .mdw-list__text.mdw-selection__label
                    .mdw-list__text-line Option 1
                    .mdw-list__text-line.mdw-theme(mdw-ink="medium") Description
                  .mdw-list__secondary.mdw-selection__icon.mdw-theme(mdw-ink="teal" mdw-radio)
              li.mdw-list__item
                a.mdw-list__content.mdw-selection.mdw-overlay(aria-checked="false")
                  .mdw-list__text.mdw-selection__label
                    .mdw-list__text-line Option 2
                    .mdw-list__text-line.mdw-theme(mdw-ink="medium") Description
                  .mdw-list__secondary.mdw-selection__icon.mdw-theme(mdw-ink="blue" mdw-radio)
            .mdw-list__subheader.mdw-theme(mdw-ink="medium") Multiple check
            ul.mdw-list(role="listbox" aria-multiselectable="true")
              li.mdw-list__item
                a.mdw-list__content.mdw-selection.mdw-overlay(aria-checked="true")
                  .mdw-list__text.mdw-selection__label Option 1
                  .mdw-list__secondary.mdw-selection__icon.mdw-theme(mdw-ink="teal" mdw-checkbox)
              li.mdw-list__item
                a.mdw-list__content.mdw-selection.mdw-overlay(aria-checked="true")
                  .mdw-list__text.mdw-selection__label Option 2
                  .mdw-list__secondary.mdw-selection__icon.mdw-theme(mdw-ink="blue" mdw-checkbox)
              li.mdw-list__item
                a.mdw-list__content.mdw-selection.mdw-overlay(aria-checked="false")
                  .mdw-list__text.mdw-selection__label Option 3
                  .mdw-list__secondary.mdw-selection__icon.mdw-theme(mdw-ink="warn" mdw-checkbox)

  script(src='selection.min.js')