include ../mixins.pug

mixin button-test
  div
    button.mdw-button Flat
    button.mdw-button(mdw-raised) Raised
    button.mdw-button(mdw-raised disabled) Disabled
    button.mdw-button(mdw-raised="always") +Raised
  div(style="height:24px")
  div
    button.mdw-button.mdw-theme__colored(mdw-color="primary") Flat
    button.mdw-button.mdw-theme__colored(mdw-color="primary" mdw-raised) Raised
    button.mdw-button.mdw-theme__colored(mdw-color="primary" mdw-raised disabled) Disabled
    button.mdw-button.mdw-theme__colored(mdw-color="accent" mdw-tone="A100") accent
  div(style="height:24px")
  div
    button.mdw-button.mdw-theme__filled(mdw-color="primary") Flat
    button.mdw-button.mdw-theme__filled(mdw-color="primary" mdw-raised) Raised
    button.mdw-button.mdw-theme__filled(mdw-color="primary" mdw-raised disabled) Disabled
    button.mdw-button.mdw-theme__filled(mdw-color="accent" mdw-tone="A100" mdw-raised) accent
  div(style="height:24px")
  div
    button.mdw-button(mdw-icon).material-icons favorite
    button.mdw-button.mdw-theme__colored(mdw-color="warn" mdw-icon).material-icons favorite
    button.mdw-button.mdw-theme__filled(mdw-color="warn" mdw-icon).material-icons favorite
    button.mdw-button.mdw-theme__filled(mdw-color="warn" mdw-icon mdw-raised).material-icons favorite
    button.mdw-button.mdw-theme__filled(mdw-color="warn" mdw-icon mdw-raised disabled).material-icons favorite
    button.mdw-button(mdw-icon disabled).material-icons favorite

.comparison
  .render
    +androidstatusbar('rgb(var(--background-400-color))')
    +toolbar('background', '50', [], []) JS+CSS
    .content.mdw-theme__filled(mdw-color="background" mdw-tone="50" style="padding: 16px 0")
      div
        +button-test
      div(style="height:24px")
      div.mdw-theme__filled(mdw-color="background" mdw-tone="900" style="padding-bottom: 8px")
        +button-test
    +androidnavbar
  +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B6Okdz75tqQsX0xZMnFkR1ZOVmc/components-buttons-main6.png')

.comparison
  .render.no-js
    +androidstatusbar('rgb(var(--background-400-color))')
    +toolbar('background', '50', [], []) Pure CSS
    .content.mdw-theme__filled(mdw-color="background" mdw-tone="50" style="padding: 16px 0")
      div
        +button-test
      div(style="height:24px")
      div.mdw-theme__filled(mdw-color="background" mdw-tone="900" style="padding-bottom: 8px")
        +button-test
    +androidnavbar
  +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B6Okdz75tqQsX0xZMnFkR1ZOVmc/components-buttons-main6.png',
  'js')
      