include ../mixins.pug

.comparison
  .render
    div.display-flex.flex-1(flex-column style="position:relative")
      +androidstatusbar('primary-700')
      .mdw-toolbar(mdw-theme-fill="primary-500")
        .mdw-toolbar__action
          .mdw-toolbar__start
            .mdw-tooltip__wrapper
              button.mdw-button(mdw-icon mdw-active).material-icons menu
              .mdw-tooltip(mdw-text="Menu")
          .mdw-toolbar__end
            .mdw-tooltip__wrapper
              button.mdw-button(mdw-icon mdw-active mdw-more-button).material-icons more_vert
              .mdw-tooltip(mdw-text="Options")
      .content(mdw-theme-fill="background-50" style="padding:16px 8px;")
        a.mdw-button(mdw-theme-fill="primary" mdw-raised href="#confirmdialog") Confirm
      .mdw-dialog#confirmdialog
        a.mdw-dialog__close(href="#")
        .mdw-dialog__popup
          .mdw-dialog__content
            .mdw-dialog__title Use Google's location service?
            .mdw-dialog__body Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running.
          .mdw-dialog__button-area
            a.mdw-button(mdw-theme-color="accent" href="#") Disagree
            a.mdw-button(mdw-theme-color="accent" href="#") Agree
    +androidnavbar
  +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0Bzhp5Z4wHba3ejNQaWYtOGdiUXM/components-dialogs-content1.png')