include ../mixins.pug

.comparison.mdw-theme-list
  .render
    +androidstatusbar('primary', '700')
    +toolbar('primary', '500', ['menu'], ['more_vert']) Topics
    .content.mdw-theme__filled(mdw-color="background" mdw-tone="50" style="padding:16px 8px")
      .mdw-menu__wrapper
        a.mdw-button.mdw-theme__filled(mdw-color="primary" mdw-raised href="#menu") Open
        .mdw-menu#menu
          a.mdw-menu__close(href="#")
          .mdw-menu__box
            .mdw-menu__list
              .mdw-menu__item Maps
              .mdw-menu__item Books
              .mdw-menu__item Flights
              .mdw-menu__item Apps
