include ../mixins.pug

.comparison
  .render
    +androidstatusbar('rgb(var(--accent-300-color))')
    +toolbar('accent', 'A100', ['arrow_back'], ['search'])
    form.content.mdw-theme__filled(mdw-color="background" mdw-tone="50" style="padding:9px 16px")
      div.display-flex(style="margin-bottom:-28px;margin-top:-24px;" flex-justify-content="center")
        i.material-icons(style="color:#ccc;font-size:256px") person
      label.mdw-textfield(mdw-color="accent")
        .mdw-textfield__icon.material-icons person
        input.mdw-textfield__input(type="text" placeholder="12345" value="Ali Connors")
        .mdw-textfield__label Name
        .mdw-textfield__border-line
      label.mdw-textfield(mdw-color="accent")
        .mdw-textfield__prefix $
        input.mdw-textfield__input(type="phone" placeholder="abc1234")
        .mdw-textfield__suffix lbs
        .mdw-textfield__label Phone number
        .mdw-textfield__border-line
      label.mdw-textfield(mdw-color="accent")
        input.mdw-textfield__input(type="text" placeholder=" ")
        .mdw-textfield__label City
        .mdw-textfield__border-line
      .horizontal-controls
        label.mdw-textfield(mdw-color="accent" style="margin-right:16px;width:88px")
          input.mdw-textfield__input(type="text" placeholder=" ")
          span.mdw-textfield__label State
          .mdw-textfield__border-line
        label.mdw-textfield.flex-1
          input.mdw-textfield__input(type="text" placeholder=" " required)
          span.mdw-textfield__label Zip code *
          .mdw-textfield__border-line
      .mdw-textfield(mdw-color="accent")
        input.mdw-textfield__input(type="text" placeholder=" ")
        label.mdw-textfield__label Phone number
        .mdw-textfield__border-line
      span * Required fields
    +androidnavbar
  +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B5ZSepuCX1xOLTFIRURTTl9mQWc/single2.png')