include ../mixins.pug

.comparison
  .render
    .mdw-navdrawer__scrim.display-flex.flex-1(flex-column)
      +androidstatusbar('primary-700')
      .mdw-toolbar
        .mdw-toolbar__action
          .mdw-toolbar__start
            .mdw-tooltip__wrapper
              button.mdw-button(mdw-icon mdw-active).material-icons menu
              .mdw-tooltip(mdw-text="Menu")
          .mdw-toolbar__end
            .mdw-tooltip__wrapper
              button.mdw-button(mdw-icon mdw-active mdw-more-button).material-icons more_vert
              .mdw-tooltip(mdw-text="Options")
      .display-flex.flex-1
        .mdw-navdrawer
          .mdw-navdrawer__account
            .mdw-navdrawer__image
              img(src="http://yesassets.okdk.co.uk/minititle/cache/minititle-5344-q90-h900-ml99-rz3-b75.jpg")
            .mdw-navdrawer__avatars
              .mdw-navdrawer__avatars-current
                button.mdw-button(mdw-image)
                  img(src="https://i.imgur.com/4YkReKZ.png")
              .mdw-navdrawer__avatars-others
                button.mdw-button(mdw-image)
                  img(src="https://i.imgur.com/4YkReKZ.png")
                button.mdw-button(mdw-image)
                  img(src="https://i.imgur.com/4YkReKZ.png")
            .mdw-button.mdw-navdrawer__subtitle
              .mdw-navdrawer__name Johnathan Lee
              .mdw-navdrawer__email heyfromjonathan@gmail.com
          .mdw-navdrawer__scroll
            .mdw-list
              .mdw-list__row
                .mdw-list__icon
                  .material-icons move_to_inbox
                .mdw-list__text Inbox
              .mdw-list__row
                .mdw-list__icon
                  .material-icons star
                .mdw-list__text Starred
              .mdw-list__row
                .mdw-list__icon
                  .material-icons send
                .mdw-list__text Sent
              .mdw-list__row
                .mdw-list__icon
                  .material-icons drafts
                .mdw-list__text Drafts
            .mdw-list
              .mdw-list__subheader Subheader
              .mdw-list__row
                .mdw-list__icon
                  .material-icons mail
                .mdw-list__text All mail
              .mdw-list__row
                .mdw-list__icon
                  .material-icons delete
                .mdw-list__text Trash
              .mdw-list__row
                .mdw-list__icon
                  .material-icons report
                .mdw-list__text Spam
        .content(mdw-theme-fill="background-50" style="padding:16px 8px;")
          p My content
        
    +androidnavbar
  +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0Bzhp5Z4wHba3eXV2RE1fQ0QtQzQ/patterns-navdrawer-metrics3.png')