include ../mixins.pug

.comparison.mdw-theme-selection
  .render
    +androidstatusbar('accent-700 dark')
    .mdw-toolbar(mdw-theme-fill="accent-500 dark")
      .mdw-toolbar__action
        .mdw-toolbar__title Title
    .content(mdw-theme-fill="background-50 light" style="padding-top:7px")
      ul.mdw-list
        li.mdw-list__subheader Switch
        li.mdw-list__row
          .mdw-list__text Android Switch On
          .mdw-list__secondary
            label.mdw-switch
              input(type="checkbox")
              .mdw-switch__icon
        li.mdw-list__row
          .mdw-list__text Android Switch Off
          .mdw-list__secondary
            label.mdw-switch
              input.mdw-switch__input(type="checkbox")
              .mdw-switch__icon
      ul.mdw-list
        li.mdw-list__subheader Single check
        label.mdw-list__row(mdw-ripple)
          .mdw-ripple
            .mdw-ripple__inner
          .mdw-list__text Option 1
          .mdw-list__secondary
            .mdw-selection(mdw-theme-color="accent-700")
              input.mdw-selection__input(type="radio" name="selectiontest" checked)
              .mdw-selection__icon
        label.mdw-list__row(mdw-ripple)
          .mdw-ripple
            .mdw-ripple__inner
          .mdw-list__text Option 2
          .mdw-list__secondary
            .mdw-selection(mdw-theme-color="primary-700")
              input.mdw-selection__input(type="radio" name="selectiontest")
              .mdw-selection__icon
      ul.mdw-list
        li.mdw-list__subheader Multiple check
        label.mdw-list__row(mdw-ripple)
          .mdw-ripple
            .mdw-ripple__inner
          .mdw-list__text Option 1
          .mdw-list__secondary
            .mdw-selection(mdw-theme-color="accent-A400")
              input.mdw-selection__input(type="checkbox" checked)
              .mdw-selection__icon
        label.mdw-list__row(mdw-ripple)
          .mdw-ripple
            .mdw-ripple__inner
          .mdw-list__text Option 2
          .mdw-list__secondary
            .mdw-selection(mdw-theme-color="primary-700")
              input.mdw-selection__input(type="checkbox" checked)
              .mdw-selection__icon
        label.mdw-list__row(mdw-ripple)
          .mdw-ripple
            .mdw-ripple__inner
          .mdw-list__text Option 3
          .mdw-list__secondary
            .mdw-selection(mdw-theme-color="warn")
              input.mdw-selection__input(type="checkbox")
              .mdw-selection__icon
  +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B57Y8yNEHsZPQXRHTEpLc0JXVnM/material-design.platform-adaptation-control-1.png')

.comparison.mdw-theme-selection
  .render
    +androidstatusbar('accent-700 dark')
    .mdw-toolbar(mdw-theme-fill="accent-500 dark")
      .mdw-toolbar__action
        .mdw-toolbar__title Title
    .content(mdw-theme-fill="background-50 light")
      div.display-flex(style="padding:16px")
        label.mdw-selection(mdw-theme-color="primary-700")
          .mdw-selection__label Prefixed
          input.mdw-selection__input(type="checkbox" checked)
          .mdw-selection__icon
      div.display-flex(style="padding:16px")
        label.mdw-selection(mdw-theme-color="accent-A700")
          input.mdw-selection__input(type="checkbox" checked)
          .mdw-selection__icon
          .mdw-selection__label Suffixed