include ../mixins.pug

.comparison.clipped.mdw-theme-tab
  .render
    +androidstatusbar('rgb(var(--primary-700-color))')
    .mdw-theme__filled(mdw-color='primary' mdw-tone=1000)
      .mdw-toolbar.mdw-theme__filled(mdw-color='cyan' mdw-tone='500')
        .mdw-toolbar__action
          .mdw-toolbar__start
            button.mdw-button(mdw-icon mdw-active).material-icons menu
          .mdw-toolbar__title Page title
          .mdw-toolbar__end
            button.mdw-button(mdw-icon mdw-active).material-icons search
            button.mdw-button(mdw-icon mdw-active mdw-more-button).material-icons more_vert
        form.mdw-tab.mdw-theme__filled(mdw-color='cyan' mdw-tone=500)
          input(type="radio" name="tab" value="one" id='text-tab1' checked)
          label.mdw-tab__action(for='text-tab1')
            span.mdw-tab__label Item One
          input(type="radio" name="tab" value="two" id='text-tab2')
          label.mdw-tab__action(for='text-tab2')
            span.mdw-tab__label Item Two
          input(type="radio" name="tab" value="three" id='text-tab3')
          label.mdw-tab__action(for='text-tab3')
            span.mdw-tab__label Item Three
          .mdw-tab__indicator
    .content.mdw-theme__filled(mdw-color="background" mdw-tone="0")
  +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B6Okdz75tqQsOUdyb0FjQTJTdlk/components-tabs-usage-mobile3.png')

.comparison.clipped.mdw-theme-tab
  .render
    +androidstatusbar('rgb(var(--primary-700-color))')
    .mdw-theme__filled(mdw-color='primary' mdw-tone=1000)
      .mdw-toolbar.mdw-theme__filled(mdw-color='cyan' mdw-tone='500')
        .mdw-toolbar__action
          .mdw-toolbar__start
            button.mdw-button(mdw-icon mdw-active).material-icons menu
          .mdw-toolbar__end
            button.mdw-button(mdw-icon mdw-active).material-icons search
            button.mdw-button(mdw-icon mdw-active mdw-more-button).material-icons more_vert
        .mdw-toolbar__content(style="font-size:2.125em;height:56px") Page title
        form.mdw-tab.mdw-theme__filled(mdw-color='cyan' mdw-tone=500)
          input(type="radio" name="tab" value="one" id='large-text-tab1' checked)
          label.mdw-tab__action(for='large-text-tab1')
            span.mdw-tab__label Item One
          input(type="radio" name="tab" value="two" id='large-text-tab2')
          label.mdw-tab__action(for='large-text-tab2')
            span.mdw-tab__label Item Two
          input(type="radio" name="tab" value="three" id='large-text-tab3')
          label.mdw-tab__action(for='large-text-tab3')
            span.mdw-tab__label Item Three
          .mdw-tab__indicator
    .content.mdw-theme__filled(mdw-color="background" mdw-tone="0")
  +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B6Okdz75tqQsc0lzb2VoMkFBNUE/components-tabs-usage-mobile1.png')


.comparison.clipped.mdw-theme-tab
  .render
    .mdw-theme__filled(mdw-color='primary' mdw-tone=1000)
      form.mdw-tab.mdw-theme__filled(mdw-color='cyan' mdw-tone=500)
        label.mdw-tab__action
          input(type="radio" name="tab" value="one" checked)
          span.mdw-tab__label Item One
        label.mdw-tab__action
          input(type="radio" name="tab" value="two")
          span.mdw-tab__label Item Two
        label.mdw-tab__action
          input(type="radio" name="tab" value="three")
          span.mdw-tab__label Item Three
        .mdw-tab__indicator
    .content.mdw-theme__filled(mdw-color="background" mdw-tone="0")
  +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B6Okdz75tqQsbmZJbkdjeHE0RW8/components-tabs-usage-mobile6.png')

.comparison.clipped.mdw-theme-tab
  .render
    +androidstatusbar('rgb(var(--background-600-color))')
    .mdw-toolbar.mdw-theme__filled(mdw-color='background' mdw-tone='100')
      .mdw-toolbar__action
        .mdw-toolbar__start
          button.mdw-button(mdw-icon mdw-active).material-icons menu
        .mdw-toolbar__title Page title
        .mdw-toolbar__end
          button.mdw-button(mdw-icon mdw-active).material-icons search
          button.mdw-button(mdw-icon mdw-active mdw-more-button).material-icons more_vert
      .mdw-toolbar__content
      form.mdw-tab
        label.mdw-tab__action
          input(type="radio" name="tab" value="one" checked)
          .mdw-tab__label Item One
        label.mdw-tab__action
          input(type="radio" name="tab" value="two")
          .mdw-tab__label Item Two
        label.mdw-tab__action
          input(type="radio" name="tab" value="three")
          .mdw-tab__label Item Three
        .mdw-tab__indicator
    .content.mdw-theme__filled(mdw-color="background" mdw-tone="0")
  +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B6Okdz75tqQsVDk4V2Nnc2U3LTQ/components-tabs-usage-mobile4.png')

.comparison.clipped.mdw-theme-tab
  .render
    +androidstatusbar('rgb(var(--primary-700-color))')
    .mdw-theme__filled(mdw-color='primary' mdw-tone=1000)
      .mdw-toolbar.mdw-theme__filled(mdw-color='cyan' mdw-tone='500')
        .mdw-toolbar__action
          .mdw-toolbar__start
            button.mdw-button(mdw-icon mdw-active).material-icons menu
          .mdw-toolbar__title Page title
          .mdw-toolbar__end
            button.mdw-button(mdw-icon mdw-active).material-icons search
            button.mdw-button(mdw-icon mdw-active mdw-more-button).material-icons more_vert
        .mdw-toolbar__content
        form.mdw-tab.mdw-theme__filled(mdw-color='cyan' mdw-tone=500)
          input(type="radio" name="tab" value="recents" id='tab-text-icon1' checked)
          label.mdw-tab__action(for='tab-text-icon1')
            .mdw-tab__icon.material-icons phone
            span.mdw-tab__label Recents
          input(type="radio" name="tab" value="favorites" id='tab-text-icon2')
          label.mdw-tab__action(for='tab-text-icon2')
            .mdw-tab__icon.material-icons favorite
            span.mdw-tab__label Favorites
          input(type="radio" name="tab" value="nearby" id='tab-text-icon3')
          label.mdw-tab__action(for='tab-text-icon3')
            .mdw-tab__icon.material-icons person_pin
            span.mdw-tab__label Nearby
          .mdw-tab__indicator
    .content.mdw-theme__filled(mdw-color="background" mdw-tone="0")
  +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B6Okdz75tqQsS2pLN2MwWmUyRW8/components-tabs-usage-specs8.png')

.comparison.clipped.mdw-theme-tab
  .render
    +androidstatusbar('rgb(var(--background-600-color))')
    .mdw-toolbar.mdw-theme__filled(mdw-color='background' mdw-tone='100')
      .mdw-toolbar__action
        .mdw-toolbar__start
          button.mdw-button(mdw-icon mdw-active).material-icons menu
        .mdw-toolbar__title Page title
        .mdw-toolbar__end
          button.mdw-button(mdw-icon mdw-active).material-icons search
          button.mdw-button(mdw-icon mdw-active mdw-more-button).material-icons more_vert
      .mdw-toolbar__content
      form.mdw-tab
        input(type="radio" name="tab" value="recents" id='tabs-icon1' checked)
        label.mdw-tab__action(for='tabs-icon1')
          .mdw-tab__icon.material-icons phone
        input(type="radio" name="tab" value="favorites" id='tabs-icon2')
        label.mdw-tab__action(for='tabs-icon2')
          .mdw-tab__icon.material-icons favorite
        input(type="radio" name="tab" value="nearby" id='tabs-icon3')
        label.mdw-tab__action(for='tabs-icon3')
          .mdw-tab__icon.material-icons person_pin
        .mdw-tab__indicator
    .content.mdw-theme__filled(mdw-color="background" mdw-tone="0")
  +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B6Okdz75tqQsQ1Y4YXpwTkZ2MFU/components-tabs-usage-mobile8.png')