include ../mixins.pug

.comparison.clipped
  .render
    +androidstatusbar('background-400 light')
    +toolbar('background-50 light', ['menu'],  ['search', 'favorite', 'more_vert']) Title
    .content(mdw-theme-fill="background-300 light")
  +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B6Okdz75tqQsU1FwTUx3cmRUNG8/layout-structure-appbar-structure2.png')

.comparison.clipped
  .render
    +androidstatusbar('black dark')
    +toolbar('background-900 dark', ['menu'], ['search', 'favorite', 'more_vert']) Title
    .content(mdw-theme-fill="background-300 light")
  +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B6Okdz75tqQsbGREMW9BdDdnSUk/layout-structure-appbar-structure3.png')

.comparison.clipped
  .render.mdw-theme-toolbar
    +androidstatusbar('primary-800 dark')
    +toolbar('primary-A200 light', ['menu'], ['search', 'favorite', 'more_vert']) Title
    .content(mdw-theme-fill="background-300 light")
  +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B6Okdz75tqQsZF9VZDhtQlF5RGM/layout-structure-appbar-structure4.png')

.comparison.clipped-304
  .render
    +androidstatusbar('background-400 light')
    +toolbar('background-50 light', ['menu'], ['search', 'favorite', 'more_vert']) Title
    .content(mdw-theme-fill="background-300 light")
  +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B6Okdz75tqQsLUFJUnFlRHVhUVU/layout-structure-appbar-metrics1.png')

.comparison.clipped-304
  .render
    +androidstatusbar('background-400 light')
    .mdw-toolbar
      .mdw-toolbar__action
        .mdw-toolbar__start
          .mdw-button(mdw-icon mdw-active).material-icons menu
        .mdw-toolbar__end
          .mdw-button(mdw-icon mdw-active).material-icons search
          .mdw-button(mdw-icon mdw-active).material-icons favorite
          .mdw-button(mdw-icon mdw-active).material-icons more_vert
      .mdw-toolbar__title Title
    .content(mdw-theme-fill="background-300 light")
  +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B6Okdz75tqQsSDBhX3BwSURRc1U/layout-structure-appbar-metrics3.png')

.comparison.clipped-304
  .render
    +androidstatusbar('background-400 light')
    .mdw-toolbar
      .mdw-toolbar__action
        .mdw-toolbar__start
          .mdw-tooltip__wrapper
            .mdw-button(mdw-icon mdw-active).material-icons arrow_back
            .mdw-tooltip(mdw-text="Back")
        .mdw-toolbar__end
          .mdw-tooltip__wrapper
            .mdw-button(mdw-icon mdw-active mdw-more-button).material-icons more_vert
            .mdw-tooltip(mdw-text="More")
      .mdw-toolbar__content
        label.mdw-textfield(style="font-size: 1.5rem")
          input.mdw-textfield__input(value="Project Properties" placeholder=" ")
          .mdw-textfield__label Title
          .mdw-textfield__border-line
        div(style="height:8px")
        label.mdw-textfield
          input.mdw-textfield__input(value="Sync with the team abo" placeholder=" ")
          .mdw-textfield__label Description
          .mdw-textfield__border-line
        div(style="height:24px")
          // Spec says 16dp, but it's actually 24dp
    .content(mdw-theme-fill="background-300 light")
  +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B6Okdz75tqQsTW1zb2x5WWg5cDA/layout-structure-appbar-metrics5.png')
  