include ../mixins.pug

+comparison(
  'rgb(var(--background-400-color))', 
  'background', '50', ['menu'],  'Title', ['search', 'favorite', 'more_vert'],
  'https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B6Okdz75tqQsU1FwTUx3cmRUNG8/layout-structure-appbar-structure2.png')
  .content__clipped.mdw-theme__filled(mdw-color="background" mdw-tone="300")

+comparison(
  'black', 
  'background', '900', ['menu'],  'Title', ['search', 'favorite', 'more_vert'],
  'https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B6Okdz75tqQsbGREMW9BdDdnSUk/layout-structure-appbar-structure3.png')
  .content__clipped.mdw-theme__filled(mdw-color="background" mdw-tone="300")

+comparison(
  'rgb(var(--primary-700-color))', 
  'primary', '500', ['menu'],  'Title', ['search', 'favorite', 'more_vert'],
  'https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B6Okdz75tqQsZF9VZDhtQlF5RGM/layout-structure-appbar-structure4.png')
  .content__clipped.mdw-theme__filled(mdw-color="background" mdw-tone="300")
