include ../mixins.pug

.comparison.type-comparison
  .content(mdw-theme-fill="background-50 light")
    div.mdw-type(mdw-style="display-4") Display 4
    div.mdw-type(mdw-style="display-3") Display 3
    div.mdw-type(mdw-style="display-2") Display 2
    div.mdw-type(mdw-style="display-1") Display 1
    div.mdw-type(mdw-style="headline") Headline
    div.mdw-type(mdw-style="title") Title
    div.mdw-type(mdw-style="subheading") Subheading
    div.mdw-type(mdw-style="body-2") Body 2
    div.mdw-type(mdw-style="body-1") Body 1
    div.mdw-type(mdw-style="caption") Caption
    div.mdw-type(mdw-style="button") Button
  +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0Bzhp5Z4wHba3alhXZ2pPWGk3Zjg/style-typography-styles-scale.png')
