@use '../../core/_type.scss' as type;

@mixin centerLabel {
  .mdw-textfield__label {
    @include type.addRules('subtitle');

    top: 50%;

    transform: translateY(-50%);
  }

  .mdw-textfield__outline-gap {
    &::before,
    :root[dir="rtl"] &::after {
      right: 50%;
      left: 0;
    }

    &::after,
    :root[dir="rtl"] &::before {
      right: 0;
      left: 50%;
    }
  }
}

@mixin floatLabel {
  .mdw-textfield__label {
    @include type.addRules('caption');
    top: 0;
    
    transform: translateY(0);
    
    .mdw-textfield[mdw-outlined] & {
      transform: translateY(-50%);
    }
  }
  
  .mdw-textfield__outline-gap {
    &::before,
    :root[dir="rtl"] &::after {
      right: 100%;
      left: 0;
    }

    &::after,
    :root[dir="rtl"] &::before {
      right: 0;
      left: 100%;
    }
  }
}
