/* https://material.io/archive/guidelines/components/text-fields.html#text-fields-states */

@use '../../core/_platform.scss' as platform;

.mdw-theme {
  --mdw-textfield__text-rgb: var(--mdw-ink-default);
  --mdw-textfield__default-text-opacity: var(--mdw-high-opacity);
  --mdw-textfield__secondary-text-opacity: var(--mdw-medium-opacity);
  --mdw-textfield__disabled-opacity: var(--mdw-inactive-opacity);
}

.mdw-theme[mdw-light] {
  --mdw-textfield__placeholder-color__focus: RGBA(var(--mdw-ink-default), 0.42);
  --mdw-textfield__filled-disabled-border-color: RGBA(var(--mdw-ink-default), 0.10);
  --mdw-textfield__filled-disabled-background-color: RGBA(var(--mdw-ink-default), 0.03);
  --mdw-textfield__fill-color: RGBA(var(--mdw-ink-default), 0.06);
  --mdw-textfield__fill-color__hover: RGBA(var(--mdw-ink-default), 0.12);
  --mdw-textfield__border-line-color: RGBA(var(--mdw-ink-default), 0.42);
  --mdw-textfield__border-line-color__hover: RGBA(var(--mdw-ink-default), 0.87);

  --mdw-textfield__warn-color: RGBA(var(--mdw-alias-warn-A700), 1.00);
  --mdw-textfield__warn-color__selection: RGBA(var(--mdw-alias-warn-A700), 0.20);

  --mdw-textfield__selection-opacity: #{0.08 + 0.12};

  --mdw-textfield__date-picker-filter: none;
}

.mdw-theme[mdw-dark] {
  --mdw-textfield__placeholder-color__focus: RGBA(var(--mdw-ink-default), 0.50);
  --mdw-textfield__filled-disabled-border-color: RGBA(var(--mdw-ink-default), 0.30);
  --mdw-textfield__filled-disabled-background-color: RGBA(var(--mdw-ink-default), 0.05);
  --mdw-textfield__fill-color: RGBA(var(--mdw-ink-default), 0.10);
  --mdw-textfield__fill-color__hover: RGBA(var(--mdw-ink-default), 0.20);
  --mdw-textfield__border-line-color: RGBA(var(--mdw-ink-default), 0.70);
  --mdw-textfield__border-line-color__hover: RGBA(var(--mdw-ink-default), 1.00);

  --mdw-textfield__warn-color: RGBA(var(--mdw-alias-warn-A200), 1.00);
  --mdw-textfield__warn-color__selection: RGBA(var(--mdw-alias-warn-A200), 0.40);

  --mdw-textfield__selection-opacity: #{0.16 + 0.24};
  --mdw-textfield__date-picker-filter: invert(1);
}

.mdw-textfield[mdw-outlined] {
  &:active > .mdw-textfield__input:not(:disabled),
  & > .mdw-textfield__input:not(:disabled):focus {
    & ~ .mdw-textfield__border {
      color: inherit;
    }
  }

  &,
  &[mdw-ink] {
    &:active > .mdw-textfield__input:not(:disabled),
    & > .mdw-textfield__input:not(:disabled):focus {
      &:invalid {
        & ~ .mdw-textfield__border,
        & ~ .mdw-textfield__border::before {
          color: var(--mdw-textfield__warn-color);
        }
      }
    }
  }
}

.mdw-textfield__error-text {
  color: var(--mdw-textfield__warn-color);
}

.mdw-textfield {
  // Focus
  &:active > .mdw-textfield__input:not(:disabled),
  & > .mdw-textfield__input:not(:disabled):active,
  & > .mdw-textfield__input:not(:disabled):focus {
    &::selection {
      background-color: RGBA(var(--mdw-ink), var(--mdw-textfield__selection-opacity));
    }

    & ~ .mdw-textfield__border {
      border-block-end-color: inherit;
      color: inherit;
    }

    & ~ .mdw-textfield__border .mdw-textfield__label {
      color: inherit;
    }

    & ~ .mdw-textfield__border::before {
      color: inherit;
    }
  }

  &:active > .mdw-textfield__input:not(:disabled):invalid,
  & > .mdw-textfield__input:not(:disabled):focus:invalid {
    caret-color: var(--mdw-textfield__warn-color);

    &::selection {
      background-color: var(--mdw-textfield__warn-color__selection);
    }

    & ~ .mdw-textfield__border {
      border-block-end-color: currentColor;
      color: var(--mdw-textfield__warn-color);
    }

    & ~ .mdw-textfield__border .mdw-textfield__label {
      // color: var(--mdw-textfield__warn-color);
    }

    & ~ .mdw-textfield__border::after {
      color: var(--mdw-textfield__warn-color);
    }

  }
}

.mdw-textfield__signifier,
.mdw-textfield__label,
.mdw-textfield__prefix,
.mdw-textfield__suffix {
  color: RGBA(var(--mdw-textfield__text-rgb), var(--mdw-textfield__secondary-text-opacity));
}

.mdw-textfield__icon[mdw-dropdown] {
  color: RGBA(var(--mdw-textfield__text-rgb), var(--mdw-textfield__secondary-text-opacity));
}

.mdw-textfield[mdw-value-empty] > input.mdw-textfield__input:not(:focus) {
  color: transparent;
}

input.mdw-textfield__input:not(:focus):placeholder-shown {
  color: transparent;
}

.mdw-textfield__input::-webkit-calendar-picker-indicator {
  filter: var(--mdw-textfield__date-picker-filter);
}

.mdw-textfield__input::selection {
  // color: inherit;
}

.mdw-textfield__input::placeholder {
  color: var(--mdw-textfield__placeholder-color__focus);
}

.mdw-textfield__input {
  caret-color: RGBA(var(--mdw-ink));

  color: RGBA(var(--mdw-textfield__text-rgb), var(--mdw-textfield__default-text-opacity));

  // Disabled
  &:disabled,
  &[aria-disabled="true"] {
    &,
    & ~ .mdw-textfield__border,
    & ~ .mdw-textfield__border .mdw-textfield__label,
    & ~ .mdw-textfield__signifier,
    & ~ .mdw-textfield__prefix,
    & ~ .mdw-textfield__suffix,
    & ~ .mdw-textfield__icon {
      color: RGBA(var(--mdw-textfield__text-rgb), var(--mdw-textfield__disabled-opacity));
    }
  }

  // Hover
  &:not(:focus):hover:not(:disabled):not(:active) ~ .mdw-textfield__border,
  &:not(:focus):not(:disabled):not(:active) ~ .mdw-textfield__border:hover {
    color: var(--mdw-textfield__border-line-color__hover);
  }

  &:not(:focus) {
    /* Rules must be separated for IE11 support */
    &:placeholder-shown ~ .mdw-textfield__prefix,
    &:placeholder-shown ~ .mdw-textfield__suffix {
      color: transparent;
    }

    .mdw-textfield[mdw-value-empty] > & ~ .mdw-textfield__prefix,
    .mdw-textfield[mdw-value-empty] > & ~ .mdw-textfield__suffix {
      color: transparent;
    }
  }
}

select.mdw-textfield__input {
  // Firefox focusring styling workaround
  // https://dxr.mozilla.org/mozilla-central/source/browser/components/extensions/extension.css
  .mdw-textfield[mdw-value-empty] > & {
    color: var(--mdw-textfield__placeholder-color__focus);

    &:focus {
      color: RGBA(var(--mdw-textfield__text-rgb), var(--mdw-textfield__secondary-text-opacity));
    }

    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 var(--mdw-textfield__placeholder-color__focus);
    }

    &:focus:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 RGBA(var(--mdw-textfield__text-rgb), var(--mdw-textfield__secondary-text-opacity));
    }
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 RGBA(var(--mdw-textfield__text-rgb), var(--mdw-textfield__secondary-text-opacity));
  }

}

.mdw-textfield__border {
  color: var(--mdw-textfield__border-line-color);
}

.mdw-textfield__helper-text {
  color: RGBA(var(--mdw-textfield__text-rgb), var(--mdw-textfield__secondary-text-opacity));
}

.mdw-textfield__input:disabled ~ .mdw-textfield__helper-text {
  color: RGBA(var(--mdw-textfield__text-rgb), var(--mdw-textfield__disabled-opacity));
}

.mdw-textfield__input:focus:invalid ~ .mdw-textfield__helper-text {
  color: transparent;
}

.mdw-textfield {
  &:not([mdw-solo]) > .mdw-textfield__input:not(:focus)::placeholder {
    color: transparent;
  }

  &:not([mdw-solo]) > .mdw-textfield__input:not(:focus):-ms-input-placeholder {
    color: transparent !important;
  }

  &:not([mdw-solo]) > .mdw-textfield__input:not(:focus)::-ms-input-placeholder {
    color: transparent !important;
  }

  .mdw-textfield__input:not(:focus) ~ .mdw-textfield__border {
    color: var(--mdw-textfield__border-line-color);
  }

  .mdw-textfield__input:disabled ~ .mdw-textfield__border {
    background-color: var(--mdw-textfield__filled-disabled-background-color);
    color: var(--mdw-textfield__filled-disabled-border-color);
  }

  &:not([mdw-outlined]) > .mdw-textfield__border {
    background-color: var(--mdw-textfield__fill-color);
  }

  &:not([mdw-outlined]) > .mdw-textfield__input:not(:disabled) {
    & ~ .mdw-textfield__border:hover,
    &:hover ~ .mdw-textfield__border {
      background-color: var(--mdw-textfield__fill-color__hover);
    }
  }
}
