// https://material.io/guidelines/components/textfields.html


@import '../common/functions.scss';
@import '../common/variables.scss';
@import '../common/motion.scss';
@import '../common/mixins.scss';


$label__padding-top: dp(16);
$label__padding-top__boxed: dp(8);
$label__padding-bottom: dp(8);
$label__padding-horizontal__boxed: dp(16);
$label__padding-top__boxed__idle: dp(20);
$label__font-size: sp(12);


$textarea__label__extra_padding-top: dp(10);
$textarea__label__padding-bottom: dp(10);

$border-line__height: dp(1);
$border-line__focused__height: dp(2);

$helper-text__padding-top: dp(8);
$helper-text__font-size: sp(12);

$textarea__padding-horizontal: dp(16);

$icon-signifier__width: dp(24);
$icon-signifier__padding-end: dp(16);

// Grid Layout
//     1   |  2  |   3    |   4   |        5        |    6   |  7
//   -------------------------------------------------------------
// 1: Gap |      | Label ----------------------------------- | Gap
// 1: Gap | Icon | Prefix | Input | Dropdown Button | Suffix | Gap
// 1: Border -----------------------------------------------------
// 2: Gap |      | Helper/Error                              | Gap
// 2: Dropdown ---------------------------------------------------

.mdw-textfield {
  position: relative;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 12px auto auto 1fr auto auto 8px;
  -ms-grid-columns: 12px auto auto 1fr auto auto 8px;
  grid-template-rows: minmax(56px, auto) auto;
  -ms-grid-rows: minmax(56px, 100%) auto;
  &[mdw-solo] {
    grid-template-columns: 0 auto auto 1fr auto auto 0;
    -ms-grid-columns: 0 auto auto 1fr auto auto 0;
    .mdw-textfield__input {
      align-self: center;
      -ms-grid-row-align: center;
      margin: 0;
    }
    .mdw-textfield__border {
      display: none;
    }
    padding: 0;
  }
  padding: 8px 0;
  align-items: flex-start;
  // font-size: sp(16);
  transition-timing-function: $motion-easing-standard;
  transition-duration: $motion-duration-desktop-default;
  @include allHandsets {
    transition-duration: $motion-duration-mobile-default;
  }
  @include allTablets {
    transition-duration: $motion-duration-tablet-default;
  }
}

.mdw-textfield[mdw-solo],
.mdw-textfield[mdw-outlined] {
  .mdw-textfield__prefix,
  .mdw-textfield__suffix,
  .mdw-textfield__icon {
    align-self: center;
    -ms-grid-row-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }
  textarea.mdw-textfield__input {
    & ~ .mdw-textfield__prefix,
    & ~ .mdw-textfield__suffix {
      align-self: flex-start;
      -ms-grid-row-align: start;
      margin-top: dp(8);
      margin-bottom: dp(8);
    }
  }
}

.mdw-textfield__prefix,
.mdw-textfield__suffix {
  grid-row: 1;
  -ms-grid-row: 1;
  //margin-top: calc(#{$label__padding-top} + #{$label__font-size} + #{$label__padding-bottom});
  
  // color: transparent;
  pointer-events: none;
  will-change: color;
  transition-property: color;
  transition-timing-function: $motion-easing-standard;
  transition-duration: $motion-duration-desktop-default;
  @include allHandsets {
    transition-duration: $motion-duration-mobile-default;
  }
  @include allTablets {
    transition-duration: $motion-duration-tablet-default;
  }
}
.mdw-textfield__prefix {
  grid-column: 3;
  -ms-grid-column: 3;
  margin-left: 0;
  margin-right: 4px;
  [dir=rtl] & {
    margin-left: 4px;
    margin-right: 0;
  }
}
.mdw-textfield__suffix {
  grid-column: 6;
  -ms-grid-column: 6;
  margin-left: 4px;
  margin-right: 0;
  html[dir=rtl] & {
    margin-left: 0;
    margin-right: 4px;
  }
}

.mdw-textfield__outline-gap {
  // Transitioning with transform would require transforming adjacent elements
  // to avoid subpixel issues from mixed 2D/3D rendering.

  grid-column: 2;
  -ms-grid-column: 2;
  grid-row: 1;
  -ms-grid-row: 1;
  position: absolute;
  border-width: inherit;
  border-style: none;
  border-bottom-color: transparent;
  margin-top: -$border-line__focused__height;
  margin-bottom: -$border-line__height;
  top: $border-line__focused__height;
  bottom: 0;
  left: 12px;
  right: 12px;

  &::before,
  &::after {
    content: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    border-top-width: $border-line__height;
    border-top-style: solid;
    border-color: inherit;
    transition-property: width;
    transition-delay: 1ms;
    transition-timing-function: $motion-easing-standard;
    transition-duration: $motion-duration-desktop-default / 2;
    @include allHandsets {
      transition-duration: $motion-duration-mobile-default / 2;
    }
    @include allTablets {
      transition-duration: $motion-duration-tablet-default / 2;
    }
  }
  &::before {
    left: 0;
    right: auto;
    html[dir=rtl] & {
      left: auto;
      right: 0;
    }
  }
  &::after {
    left: auto;
    right: 0;
    html[dir=rtl] & {
      left: 0;
      right: auto;
    }
  }
}

.mdw-textfield__border {
  position: relative;
  grid-row: 1;
  -ms-grid-row: 1;
  align-self: stretch;
  -ms-grid-row-align: stretch;
  grid-column-start: 1;
  -ms-grid-column: 1;
  grid-column-end: span 7;
  -ms-grid-column-span: 7;
  cursor: pointer;

  .mdw-textfield__input:focus ~ & {
    pointer-events: none;
  }
  .mdw-textfield__input:disabled ~ & {
    cursor: not-allowed;
  }

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-style: solid;
  border-width: $border-line__height;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  
  transition-delay: 1ms;
  transition-property: color, border-color, border-width;
  transition-timing-function: $motion-easing-standard;
  transition-duration: $motion-duration-desktop-default;
  @include allHandsets {
    transition-duration: $motion-duration-mobile-default;
  }
  @include allTablets {
    transition-duration: $motion-duration-tablet-default;
  }

  // box-sizing: border-box;
  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: -$border-line__focused__height;
    left: 0;
    right: 0;
    height: 100%;
    transform: scaleX(0) translateY(-$border-line__height/2);
    border-style: inherit;
    border-radius: inherit;
    border-bottom-style: inherit;
    border-width: $border-line__focused__height;
    border-color: currentColor;
    color: transparent;
    will-change: transform;
    transition-property: transform;
    transition-delay: 1ms;
    transition-timing-function: $motion-easing-acceleration;
    transition-duration: $motion-duration-desktop-enter;
    @include allHandsets {
      transition-duration: $motion-duration-mobile-enter;
    }
    @include allTablets {
      transition-duration: $motion-duration-tablet-enter;
    }
  }
}

.mdw-textfield[mdw-outlined] {
  .mdw-textfield__border {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-style: solid;
    border-bottom-color: currentColor;
    transition-delay: 1ms;
    transition-property: color, border-color;
    transition-duration: 0ms;

    &::before, &::after {
      top: auto;
      bottom: auto;
      left: auto;
      right: auto;
      transition-delay: inherit;
      transition-property: inherit;
      transition-duration: inherit;
      will-change: none;
    }
    &::before {
      content: '';
      position: relative;
      width: 0;
      border-width: inherit;
      border-style: none;
      border-radius: 0;
      border-top-color: currentColor;
      border-left-color: currentColor;
      border-right-color: transparent;
      border-top-style: solid;
      border-left-style: solid;
      border-right-style: none;
      border-bottom-style: solid;
      border-bottom-color: transparent;
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
      margin-right: 0;
      transform: none;
      color: inherit;
      margin-top: -$border-line__height;
      margin-left: -$border-line__height;
      min-width: 9px;
      html[dir=rtl] & {
        border-right-color: currentColor;
        border-left-color: transparent;
        border-right-style: solid;
        border-left-style: none;
        border-top-right-radius: inherit;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: inherit;
        margin-right: -$border-line__height;
        margin-left: 0;
      }
    }
    &::after {
      content: '';
      position: relative;
      order: 1;
      flex-grow: 1;
      margin-top: -$border-line__height;
      margin-left: 0;
      margin-right: -$border-line__height;
      border-width: inherit;
      border-style: none;
      border-radius: 0;
      border-top-color: currentColor;
      border-top-style: solid;
      border-bottom-style: solid;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: currentColor;
      border-left-style: none;
      border-right-style: solid;
      border-top-right-radius: inherit;
      border-bottom-right-radius: inherit;
      transform: none;
      color: inherit;
      html[dir=rtl] & {
        margin-right: 0;
        margin-left: -$border-line__height;
        border-right-color: transparent;
        border-left-color: currentColor;
        border-right-style: none;
        border-left-style: solid;
        border-top-right-radius: 0;
        border-top-left-radius: inherit;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: inherit;
      }
    }
    .mdw-textfield__outline-gap {
      position: relative;
      margin-top: -$border-line__height;
      margin-bottom: -$border-line__height;
      left: auto;
      top: auto;
      right: auto;
      bottom: auto;
      color: inherit;
      max-width: calc(100% - 24px);
      &::before, &::after {
        content: '';
        border-style: none;
        border-radius: 0;
        border-top-color: currentColor;
        border-top-style: solid;
        color: inherit;
      }
    }
  }
  .mdw-textfield__input {
    align-self: center;
    -ms-grid-row-align: center;
    border-left: 2px solid transparent;
    border-right: none;
    margin: 8px 0;
    html[dir=rtl] & {
      border-right: 2px solid transparent;
      border-left: none;
    }
  }
  .mdw-textfield__label {
    padding: 0 4px;
    top: 0;
    transform: translateY(-50%);
  }
}


.mdw-textfield[mdw-value-empty] > input.mdw-textfield__input,
.mdw-textfield[mdw-value-empty] > textarea.mdw-textfield__input {
  &:not(:focus) ~ .mdw-textfield__border {
    & .mdw-textfield__label {
      top: 50%;
      transform: translateY(-50%);
      font-size: inherit;
    }
    & .mdw-textfield__outline-gap {
      &::before,
      &::after {
        width: 50%;
      }
    }
  }
}
.mdw-textfield > input.mdw-textfield__input,
.mdw-textfield > textarea.mdw-textfield__input {
  &:not(:focus):placeholder-shown ~ .mdw-textfield__border {
    & .mdw-textfield__label {
      top: 50%;
      transform: translateY(-50%);
      font-size: inherit;
    }
    & .mdw-textfield__outline-gap {
      &::before,
      &::after {
        width: 50%;
      }
    }
  }
}

.mdw-textfield__label {
  // Default state is floating
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  top: 0;
  transform: translateY(sp(20)) translateY(-1em);
  pointer-events: none; // allow clickthrough
  will-change: top, transform, font-size;
  
  font-size: $label__font-size;
  transition-property: top, transform, font-size, color;
  transition-timing-function: $motion-easing-standard;
  transition-duration: $motion-duration-desktop-default;
  @include allHandsets {
    transition-duration: $motion-duration-mobile-default;
  }
  @include allTablets {
    transition-duration: $motion-duration-tablet-default;
  }
}

.mdw-textfield__signifier {
  grid-column: 2;
  -ms-grid-column: 2;
  grid-row: 1;
  -ms-grid-row: 1;
  align-self: center;
  -ms-grid-row-align: center;
  
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 8px;
  html[dir=rtl] & {
    margin-left: 8px;
    margin-right: 0;
  }
  
  & ~ .mdw-textfield__border .mdw-textfield__outline-gap {
    margin-left: 24px + 8px;
    margin-right: 0;
    html[dir=rtl] & {
      margin-left: 0;
      margin-right: 24px + 8px;
    }
  }
  .mdw-textfield[mdw-outlined] & ~ .mdw-textfield__border {
    &::before {
      padding-left: 0;
      padding-right: 24px + 8px;
      html[dir=rtl] & {
        padding-left: 24px + 8px;
        padding-right: 0;
      }
    }
    .mdw-textfield__outline-gap {
      margin-left: 0;
      html[dir=rtl] & {
        margin-right: 0;
      }
      max-width: calc(100% - (24px + 24px + 8px));
    }
  }
}

.mdw-textfield__input {
  z-index: 1;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;

  grid-row: 1;
  -ms-grid-row: 1;
  grid-column-start: 4;
  -ms-grid-column: 4;
  grid-column-end: span 2;
  -ms-grid-column-span: 2;
  width: 100%;
  box-sizing: border-box;

  font-size: inherit;
  font-family: inherit;
  font-weight: $font-weight-regular;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: none; // Firefox :invalid styling

  //padding-bottom: dp(8);

  min-width: 0; // Firefox CSS Grid fix

  &:not(:focus) {
    cursor: pointer;
  }
  &:disabled {
    cursor: not-allowed;
  }

  &::placeholder {
    will-change: color;
    transition-property: color;
    transition-timing-function: $motion-easing-standard;
    transition-delay: 1ms;
    transition-duration: $motion-duration-desktop-default;
    @include allHandsets {
      transition-duration: $motion-duration-mobile-default;
    }
    @include allTablets {
      transition-duration: $motion-duration-tablet-default;
    }
  }
}

.mdw-textfield__input,
.mdw-textfield__prefix,
.mdw-textfield__suffix,
.mdw-textfield__icon {
  margin-top: calc(#{sp(20)} + #{dp(8) - $border-line__height});
  margin-bottom: #{dp(8)};
  align-self: flex-start;
  -ms-grid-row-align: start;
}

textarea.mdw-textfield__input {
  resize: none;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding-bottom: 0;
  // margin: 8px 0;
  padding-left: 0;
  padding-right: $textarea__padding-horizontal;
  [dir=rtl] & {
    padding-left: $textarea__padding-horizontal;
    padding-right: 0
  }
  // grid-column-end: span 4;
  // -ms-grid-column-span: 4;
  .mdw-textfield[mdw-autosize] > & {
    min-height: 1em;
  }
}

select.mdw-textfield__input {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  option {
    font-size: inherit;
    font-family: inherit;
    font-weight: $font-weight-regular;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  &::-ms-expand {
    // Remove IE11 dropdown button
    display: none;
  }
  padding-left: 0;
  padding-right: 24px;
  [dir=rtl] & {
    padding-left: 24px;
    padding-right: 0;
  }
  &:-moz-focusring {
    color: black;
    text-shadow: none;
  }
}


.mdw-textfield__error-text {
  transform: translateY(-$helper-text__font-size / 4);
}

.mdw-textfield__helper-text,
.mdw-textfield__error-text {
  &::before {
    // Align baseline 16sp from top
    content: "";
    display: inline-block;
    vertical-align: baseline;
    margin-top: sp(16);
  }
  font-size: $helper-text__font-size;
  grid-row: 2;
  -ms-grid-row: 2;
  grid-column: 3;
  -ms-grid-column: 3;
  grid-column-end: span 4;
  -ms-grid-column-span: 4;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mdw-textfield__icon {
  &[mdw-dropdown] {
    pointer-events: none;
    &::after {
      content: "";
      width: 0;
      border-top: 5px solid currentColor;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  grid-row: 1;
  -ms-grid-row: 1;
  grid-column: 5;
  -ms-grid-column: 5;

  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
}

.mdw-textfield__dropdown {
  position: absolute;
  grid-row: 2;
  -ms-grid-row: 2;
  margin-top: 0;
  margin-bottom: 8px;
  grid-column: 1;
  -ms-grid-column: 1;
  grid-column-end: span 7;
  -ms-grid-column-span: 7;
  box-shadow: none;
  max-height: 0;
  overflow: hidden;
  z-index: 2;
  width: 100%;
  max-width: 100%;
  border-bottom-left-radius: dp(4);
  border-bottom-right-radius: dp(4);
  .mdw-textfield[mdw-outlined] & {
    margin-top: 8px;
    border-top-left-radius: dp(4);
    border-top-right-radius: dp(4);
  }
  transition-property: box-shadow, max-height;
  transition-timing-function: $motion-easing-deceleration;
  transition-duration: $motion-duration-desktop-leave;
  @include allHandsets {
    transition-duration: $motion-duration-mobile-leave;
  }
  @include allTablets {
    transition-duration: $motion-duration-tablet-leave;
  }
  &[mdw-type=list] {
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  &[mdw-show],
  &:active,
  input:focus ~ & {
    &:not([mdw-hide]) {
      &[mdw-type=list] {
        max-height: calc(300px);
      }
      transition-timing-function: $motion-easing-acceleration;
      transition-duration: $motion-duration-desktop-enter;
      @include allHandsets {
        transition-duration: $motion-duration-mobile-enter;
      }
      @include allTablets {
        transition-duration: $motion-duration-tablet-enter;
      }
      box-shadow: elevation(24);
    }
  }

}

.mdw-textfield:active > .mdw-textfield__input:not(:disabled),
.mdw-textfield > .mdw-textfield__input:not(:disabled):focus {
  // Invalid
  &:invalid {
    & ~ .mdw-textfield__border .mdw-textfield__outline-gap {
      animation-name: labelShake;
      animation-duration: 250ms;
      animation-delay: $motion-duration-desktop-default;
      @include allHandsets {
        animation-delay: $motion-duration-mobile-default;
      }
      @include allTablets {
        animation-delay: $motion-duration-tablet-default;
      }
    }
  }
}

// Focus
.mdw-textfield:not([mdw-outlined]) {
  &:active > .mdw-textfield__input:not(:disabled),
  > .mdw-textfield__input:not(:disabled):focus {
    & ~ .mdw-textfield__border::before,
    &:invalid ~ .mdw-textfield__border::after {
      transform: scaleX(1) translateY(-$border-line__height/2);
    }
  }
}

// Border change on outlined active or focus
.mdw-textfield[mdw-outlined] {
  &:active > .mdw-textfield__input:not(:disabled) ~ .mdw-textfield__border,
  .mdw-textfield__input:not(:disabled):focus ~ .mdw-textfield__border {
    border-width: $border-line__focused__height;
    &::before {
      margin-top: -$border-line__focused__height;
      margin-left: -$border-line__focused__height;
      margin-right: 0;
      html[dir=rtl] & {
        margin-left: 0;
        margin-right: -$border-line__focused__height;
      }
      min-width: 10px - $border-line__focused__height;
    }
    &::after {
      margin-top: -$border-line__focused__height;
      margin-left: 0;
      margin-right: -$border-line__focused__height;
      html[dir=rtl] & {
        margin-left: -$border-line__focused__height;
        margin-right: 0;
      }
    }
    .mdw-textfield__outline-gap {
      margin-top: -$border-line__focused__height;
      margin-bottom: -$border-line__focused__height;
      &::before, &::after {
        border-top-width: $border-line__focused__height;
      }
    }
  }
}

// Invalid
.mdw-textfield__error-text {
  .mdw-textfield__input:focus:invalid ~ & {
    transform: translateY(0);
    will-change: transform, color;
    transition-property: transform, color;
    transition-timing-function: $motion-easing-standard;
    transition-duration: $motion-duration-desktop-default;
    @include allHandsets {
      transition-duration: $motion-duration-mobile-default;
    }
    @include allTablets {
      transition-duration: $motion-duration-tablet-default;
    }
  }
}

@keyframes labelShake {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(dp(4));
  }
  66% {
    transform: translateX(dp(-4));
  }
  100% {
    transform: translateX(0);
  }
}