@mixin textfieldLightThemeVariables($primary, $accent, $warn) {
  --text-field-border-line-color: rgba(0,0,0,0.42);
  --text-field-border-line-color__hover: rgba(0,0,0,0.87);
  --text-field-border-line-color__focus: rgba(getPaletteTone($primary, "A700"), 1.0);
  --text-field-border-line-accent-color__focus: rgba(getPaletteTone($accent, "A700"), 1.0);

  --text-field-input-placeholder-color__focus: rgba(0,0,0,0.42);

  @warn 'getPaletteTone' $primary;
  --text-field-label-color__focus: rgba(getPaletteTone($primary, "A700"), 0.87);
  --text-field-label-accent-color__focus: rgba(getPaletteTone($accent, "A700"), 0.87);
  --text-field-label-warn-color__focus: rgba(getPaletteTone($warn, "A400"), 0.87);
  
}

@mixin textfieldDarkThemeVariables($primary, $accent, $warn) {
  --text-field-border-line-color: rgba(255,255,255,0.70);
  --text-field-border-line-color__hover:  rgba(255,255,255,1.0);
  --text-field-border-line-color__focus: rgba(getPaletteTone($primary, "A200"), 1.0);
  --text-field-border-line-accent-color__focus: rgba(getPaletteTone($accent, "A200"), 1.0);

  --text-field-input-placeholder-color__focus: rgba(255,255,255,0.50);

  @warn 'getPaletteTone' $primary;
  --text-field-label-color__focus: rgba(getPaletteTone($primary, "A200"), 1.0);
  --text-field-label-accent-color__focus: rgba(getPaletteTone($accent, "A200"), 1.0);
  --text-field-label-warn-color__focus: rgba(getPaletteTone($warn, "A400"), 1.0);
}