@import "../../components/theming/theming.scss";
$themes: (
  "colored": ('green', 'orange', 'red', 'deeporange', #006064, #E0F7FA),
);
$mdw-config: (
  themes: $themes,
  colors: ('amber', 'cyan', 'red', 'green', 'deeppurple', 'purple', 'blue', 'yellow', 'teal'),
  variables: ('themes', 'colors')
);
@include mdw-theme__build($mdw-config);
