@import "../../components/theming/theming.scss";
$themes: (
  // "default": ('indigo', 'pink', 'red', 'grey'),
  "colored": ('deeppurple', 'red', 'orange', 'pink', #006064, #E0F7FA),
  "bright": ('amber', 'cyan', 'red', 'green', blue, yellow),
);
$config: (
  themes: $themes,
  colors: ('deeppurple', 'blue', 'yellow', 'teal'),
  fallback: 'yes',
  variables: 'no',
);
@include mdw-theme__build($config);
