$mdw-theme__primary: 'deeppurple';
$mdw-theme__secondary: 'deeporange';
$mdw-theme__warn: 'red';
$mdw-theme__background: 'bluegray';
$mdw-theme__foreground: (#006064, #E0F7FA);
$mdw-theme__colors: ('amber', 'blue', 'cyan', 'red', 'green', 'deeppurple', 'purple', 'yellow', 'teal');
$mdw-theme__fallbacks: false;

@import "../../_theme.scss";

:root {
  font-family: Merriweather, sans-serif;
}
