@import "../../components/theming/theming.scss";

$mdw-config: (
  themes: (
    default: ('indigo', 'pink', 'red', 'grey', black, white),
    colored: ('green', 'orange', 'red', 'deeporange', #006064, #E0F7FA)
  ),
  colors: ('amber', 'cyan', 'red', 'green', 'deeppurple', 'purple', 'blue', 'yellow', 'teal'),
  fallbacks: false,
);

@include mdw-theme__build($mdw-config);
@import "../../components/theming.scss";
