$mdw-theme__primary: 'blue';
$mdw-theme__secondary: 'pink';
$mdw-theme__warn: 'red';
$mdw-theme__background: 'gray';
$mdw-theme__foreground: (#000, #fff);
$mdw-theme__colors: ('amber', 'blue', 'cyan', 'red', 'green', 'deeppurple', 'purple', 'yellow', 'teal');
$mdw-theme__variables: false;

@import "../../_theme.scss";

:root {
  font-family: Roboto, sans-serif;
}
