// https://material.io/design/components/banners.html

@use '../../core/_breakpoint.scss' as breakpoint;
@use '../../core/_length.scss' as *;
@use '../../core/_type.scss' as type;

.mdw-banner {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  border-bottom: solid dp(1);
}

.mdw-banner__container {
  @include type.addRules('body-2');

  display: flex;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  
  box-sizing: border-box;
  max-width: dp(960);
  flex: 1;
  padding-top: dp(8);
  padding-bottom: dp(7);
}

.mdw-banner__icon {
  position: absolute;
  top: dp(24);
  right: auto;
  left: dp(16);

  :root[dir="rtl"] & {
    right: dp(16);
    left: auto;
  }

  & ~ .mdw-banner__text {
    margin-right: 0;
    margin-left: dp(40 + 16);

    :root[dir="rtl"] & {
      margin-right: dp(40 + 16);
      margin-left: 0;
    }
  }
}

.mdw-banner__text {
  @include type.textTopToTop(12);
  @include type.baselineToBottom(12);

  flex-grow: 1;

  padding-right: 0;
  padding-left: dp(24);

  white-space: pre-line;

  :root[dir="rtl"] {
    padding-right: dp(24);
    padding-left: 0;
  }

  @include breakpoint.has16DPMargin() {
    padding-right: 0;
    padding-left: dp(16);

    :root[dir="rtl"] & {
      padding-right: dp(16);
      padding-left: 0;
    }
  }
}

.mdw-banner__buttons {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;
  
  max-width: 100%;
  flex: none;

  .mdw-button {
    margin-right: dp(8);
    margin-left: 0;

    text-align: end;

    :root[dir="rtl"] & {
      margin-right: 0;
      margin-left: dp(8);
    }
  }
}

@include breakpoint.minMediumWindow {
  .mdw-banner {
    flex-wrap: nowrap;
  }

  .mdw-banner__buttons {
    margin-right: 0;
    margin-left: dp(90);

    :root[dir="rtl"] & {
      margin-right: dp(90);
      margin-left: 0;
    }
  }
}
