// https://material.io/design/components/banners.html

@use '../../core/_breakpoint.scss' as breakpoint;
@use '../../core/_length.scss' as *;
@use '../../core/_type.scss' as type;

:root {
  --mdw-banner__flex-wrap: nowrap;
  --mdw-banner__text-padding-inline-start: 24px;
  --mdw-banner__buttons-margin-inline-start: 0;
  @include breakpoint.has16DPMargin() {
    --mdw-banner__text-padding-inline-start: 16px;
  }
  @include breakpoint.minMediumWindow() {
    --mdw-banner__flex-wrap: wrap;
    --mdw-banner__buttons-margin-inline-start: 90px;
  }
}

.mdw-banner {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: var(--mdw-banner__flex-wrap);
  justify-content: center;

  inline-size: 100%;
  border-block-end: solid 1px;
}

.mdw-banner__container {
  @include type.addRules('body-2');

  display: flex;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;

  box-sizing: border-box;
  max-inline-size: 960px;
  flex: 1;
  padding-block: 8px 7px;
}

.mdw-banner__icon {
  position: absolute;

  inset-block-start: 24px;
  inset-inline: 16px auto;
}

.mdw-banner__text {
  @include type.textTopToTop(12);
  @include type.baselineToBottom(12);

  flex-grow: 1;

  padding-inline-start: var(--mdw-banner__text-padding-inline-start);

  white-space: pre-line;

  .mdw-banner__icon ~ & {
    margin-inline: 56px 0; // 40 + 16
  }
}

.mdw-banner__buttons {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;

  max-inline-size: 100%;
  flex: none;
  margin-inline-start: var(--mdw-banner__buttons-margin-inline-start);

  .mdw-button {
    margin-inline: 0 8px;

    text-align: end;
  }
}
