@import '../common/theming.scss';

$mdw-banner__theme-values: (
  background:   ((#fff, 1.00), ('background', '800', 1.00)),
  text-color:   (('foreground-light', 0.87), ('foreground-dark', 1.00)),
  border-color: (('foreground-light', 0.12), ('foreground-dark', 0.12)),
) !default;

@function mdwBannerThemeValue($key, $type, $theme) {
  @return mdwGetThemeValue('banner', $mdw-banner__theme-values, $key, $type, $theme);
}

// Vary by contrast or theme
@mixin mdw-banner__theme-rules($type: 'var', $theme: null) {
  .mdw-banner {
    background-color: mdwBannerThemeValue("background", $type, $theme);
    border-color: mdwBannerThemeValue("border-color", $type, $theme);
  }

  .mdw-banner__text {
    color: mdwBannerThemeValue("text-color", $type, $theme);
  }
}

@each $name in map-keys($mdw-theme__themes) {
  $theme: map-get($mdw-theme__themes, $name);
  @include mdw-theme__add-component-fallback-rules('light', $name) {
    @include mdw-banner__theme-rules('light', $theme);
  }
  @include mdw-theme__add-component-fallback-rules('dark', $name) {
    @include mdw-banner__theme-rules('dark', $theme);
  }
}

@include mdw-theme__add-component-variable-rules('banner', $mdw-banner__theme-values) {
  @include mdw-banner__theme-rules();
}
