// https://material.io/guidelines/components/bottom-navigation.html#bottom-navigation-specs

@import '../../common/ripple.scss';
@import '../../common/functions.scss';
@import '../../common/motion.scss';
@import '../../common/variables.scss';

.mdw-bottomnav {
  min-height: dp(56);
  overflow-y: hidden;
  position: relative;
  display:flex;
  box-shadow: elevation(8);
  width: 100%;
  justify-content: center;
  flex-direction:row;
}

.mdw-bottomnav__action {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  border-radius: 0;
  z-index: 0;
  overflow: hidden;

  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  
  > .mdw-ripple {
    @include mdw-ripple__container;
  }

  & > .mdw-ripple > .mdw-ripple__inner,
  &::after {
    @include mdw-ripple__inner;
  }

  & > .mdw-ripple:active > .mdw-ripple__inner,
  &:active::after {
    @include mdw-ripple__active;
  }

  &[mdw-ripple] {
    overflow: visible;
    &::after {
      // If using custom ripple, destroy ::after object
      content: none;
    }
  }
}

.mdw-bottomnav__icon {
  padding: 0;
  margin: 0;
  user-select: none;
  pointer-events: none;
  transition-property: color, transform;
  transition-duration: 200ms;
  transition-timing-function: $motion-easing-standard;
  // color: var(--bottomnav__inactive-color);
  transform: translateY(dp(8));
  input:checked ~ &,
  .mdw-bottomnav__action[selected] > &,
  input:checked + .mdw-bottomnav__action > & {
    // color: var(--bottomnav__active-color);
    transform: translateY(dp(6));
  }
}

.mdw-bottomnav__label {
  display: flex;
  justify-content: center;
  pointer-events: none;
  min-width: dp(80);
  max-width: dp(168);
  padding-top: dp(4);
  padding-left: dp(12);
  padding-right: dp(12);
  transition-property: color, font-size, transform, min-width, max-width;
  transform: translateY(0);
  transition-duration: 200ms;
  transition-timing-function: $motion-easing-standard;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 1em; // Prevents stretching when using larger fonts
  height: auto;
  padding-bottom: insetPaddingBottom(dp(10));
  font-size: sp(12);
  text-transform: none;
  font-weight: normal;
  // color: var(--bottomnav__inactive-color);
  input:checked ~ &,
  .mdw-bottomnav__action[selected] > &,
  input:checked + .mdw-bottomnav__action > & {
    // color: var(--bottomnav__active-color);
    font-size: sp(14);
  }
}
.mdw-bottomnav input {
  // Using `display: none` breaks keyboard navigation
  opacity: 0;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  display: inline;
}

.mdw-bottomnav[mdw-shifting] {
  .mdw-bottomnav__icon {
    transform: translateY(dp(16));
  }
  
  .mdw-bottomnav__label {
    opacity: 0;
    font-size: sp(14);
    min-width: dp(56);
    max-width: dp(96);
    transform: translateY(#{$font-bottom-gap * 1em});
  }
  input:checked ~ .mdw-bottomnav__label,
  .mdw-bottomnav__action[selected] > .mdw-bottomnav__label,
  input:checked + .mdw-bottomnav__action > .mdw-bottomnav__label {
    opacity: 1;
    transform: translateY(0);
    min-width: dp(96);
    max-width: dp(168);
  }
  input:checked ~ .mdw-bottomnav__icon,
  .mdw-bottomnav__action[selected] > .mdw-bottomnav__icon,
  input:checked + .mdw-bottomnav__action > .mdw-bottomnav__icon {
    transform: translateY(dp(6))
  }
}

.mdw-bottomnav[mdw-theme-color] {
  .mdw-bottomnav__action {
    color: inherit;
    & > .mdw-ripple > .mdw-ripple__inner,
    &::after {
      background-color: currentColor;
    }
    & > .mdw-ripple:active > .mdw-ripple__inner,
    &:active::after {
      opacity: 0.26;
    }
  }
}