// https://material.io/guidelines/components/tabs.html#

@import '../../common/functions.scss';
@import '../../common/motion.scss';

.mdw-tab {
  min-height: dp(48);
  overflow-y: hidden;
  position: relative;
  display:flex;
  width: 100%;
  justify-content: center;
  flex-direction:row;
}

.mdw-tab__indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0;
  left: 0;
  right: auto;
  [dir=rtl] & {
    right: 0;
    left: auto;
  }
  background-color: currentColor;
  transition-property: transform;
  transition-timing-function: $motion-easing-standard;
  transition-duration: $motion-duration-desktop-default;
  @include allHandsets {
    transition-duration: $motion-duration-mobile-default;
  }
  @include allTablets {
    transition-duration: $motion-duration-tablet-default;
  }
  // Indicator width
  // Element position = 2 * number of input elements + 1 (itself)
  // Width = 100% / number of input elements
  @for $j from 1 through 8 {
    // Fallback for 0 width element with JS indicator
    &:nth-child(#{$j + 1}):not([mdw-js-indicator]) {
      width: #{100% / $j};
    }
    input ~ &:nth-child(#{($j * 2) + 1}):not([mdw-js-indicator]) {
      width: #{100% / $j};
    }
  }
  // Indicator offset
  @for $i from 1 through 8 {
    input:nth-of-type(#{$i}):checked ~ &:not([mdw-js-indicator]) {
      transform: translateX(#{100% * ($i - 1)});
    }
    [dir=rtl] input:nth-of-type(#{$i}):checked ~ &:not([mdw-js-indicator]) {
      transform: translateX(#{-100% * ($i - 1)});
    }
  }
  
  &[mdw-js-indicator] {
    width: auto;
    // Stretch animation
    transition-property: left, right;
    &[mdw-direction="backwards"] {
      transition-property: right, left;
    }
    transition-delay: $motion-duration-desktop-default / 2, 0ms;
    transition-duration: $motion-duration-desktop-default / 2;
    @include allHandsets {
      transition-delay: $motion-duration-mobile-default / 2, 0ms;
      transition-duration: $motion-duration-mobile-default / 2;
    }
    @include allTablets {
      transition-delay: $motion-duration-tablet-default / 2, 0ms;
      transition-duration: $motion-duration-tablet-default / 2;
    }
    transform: none;
  }
}

.mdw-tab__action {
  min-height: dp(48); // Redundant but needed for IE11
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-shadow: none;
  box-sizing: content-box;
  border-radius: 0;
  z-index: 0;
  overflow: hidden;
  cursor: pointer;
  color: black;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  input:checked + & {
    cursor: default;
  }

  > .mdw-ripple {
    @include mdw-ripple__container;
  }

  & > .mdw-ripple > .mdw-ripple__inner,
  &::after {
    @include mdw-ripple__inner;
  }

  & > .mdw-ripple:active > .mdw-ripple__inner,
  &:active::after {
    @include mdw-ripple__active;
  }

  &[mdw-ripple] {
    overflow: visible;
    &::after {
      // If using custom ripple, destroy ::after object
      content: none;
    }
  }
}

.mdw-tab__icon {
  pointer-events: none;
  transition-property: color;
  transition-duration: 200ms;
  transition-timing-function: $motion-easing-standard;
  margin-top: 12px;
  &:last-child {
    margin-bottom: 12px;
  }
}

.mdw-tab__label {
  display: block;
  text-align: center;

  pointer-events: none;
  min-width: dp(80);
  max-width: dp(168);
  padding-left: dp(12);
  padding-right: dp(12);
  transition-property: color;
  transition-duration: 200ms;
  transition-timing-function: $motion-easing-standard;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 1em; // Prevents stretching when using larger fonts
  height: auto;
  font-size: sp(14);
  text-transform: uppercase;
  font-weight: $font-weight-medium;

  // 10dp top padding
  &::before {
    content: "\200D"; // &zwj;
    display: inline-block;
    margin-top: dp(10);
    line-height: 1;
    vertical-align: text-bottom;
  }

  // 20dp bottom padding from baseline
  &::after {
    content: "\200D"; // &zwj;
    display: inline-block;
    line-height: 1;
    margin-bottom: dp(20);
    vertical-align: text-top;
  }

  .mdw-tab__icon ~ & {
    &::after {
      content: "\200D"; // &zwj;
      display: inline-block;
      line-height: 1;
      margin-bottom: dp(16);
      vertical-align: text-top;
    }
  }
}

.mdw-tab input {
  // Using `display: none` breaks keyboard navigation
  opacity: 0;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  display: inline;
}

.mdw-tab[mdw-theme-color] {
  .mdw-tab__action,
  .mdw-tab__indicator {
    color: inherit;
  }
}