// https://material.io/guidelines/components/tabs.html#

@import '../../common/functions.scss';
@import '../../common/motion.scss';

$tab__max-width: dp(160);
$tab__scrollable-max-width: dp(256);

.mdw-tab {
  display: flex;
  flex-direction: column;
}

.mdw-tab__items {
  min-height: dp(48);
  overflow-y: hidden;
  position: relative;
  display:flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: row;
  &[mdw-scrollable] {
    overflow-x: scroll;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    > .mdw-tab__item {
      min-width: dp(160);
      max-width: $tab__scrollable-max-width;
      flex-basis: $tab__scrollable-max-width;
    }
    > .mdw-tab__indicator {
      margin-left: 40px;
      max-width: $tab__scrollable-max-width;
    }
  }
}

.mdw-tab__indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0;
  left: 0;
  right: auto;
  max-width: $tab__max-width;
  html[dir=rtl] & {
    right: 0;
    left: auto;
  }
  background-color: currentColor;
  transition-property: transform;
  transition-timing-function: $motion-easing-standard;
  transition-duration: $motion-duration-desktop-default;
  @include allHandsets {
    transition-duration: $motion-duration-mobile-default;
  }
  @include allTablets {
    transition-duration: $motion-duration-tablet-default;
  }
  // Indicator width
  // Element position = 2 * number of input elements + 1 (itself)
  // Width = 100% / number of input elements
  @for $j from 1 through 8 {
    &:nth-child(#{$j + 1}) {
      width: #{100% / $j};
    }
  }
  // Indicator offset
  @for $i from 1 through 8 {
    .mdw-tab__input:checked:nth-of-type(#{$i}) ~ .mdw-tab__items > &,
    .mdw-tab__input:checked:nth-of-type(#{$i}) ~ .mdw-tab__items-wrapper .mdw-tab__items > &,
    .mdw-tab__item[mdw-selected]:nth-of-type(#{$i}) ~ & {
      transform: translateX(#{100% * ($i - 1)});
    }
    html[dir=rtl] .mdw-tab__input:checked:nth-of-type(#{$i}) ~ .mdw-tab__items > &,
    html[dir=rtl] .mdw-tab__input:checked:nth-of-type(#{$i}) ~ .mdw-tab__items-wrapper .mdw-tab__items > &,
    html[dir=rtl] .mdw-tab__item[mdw-selected]:nth-of-type(#{$i}) ~ & {
      transform: translateX(#{-100% * ($i - 1)});
    }
  }
  
  .mdw-tab__items[mdw-scrollable] > &[mdw-js-indicator] {
    width: auto;
    max-width: none;
    transition-property: left, right;
    transform: none;
  }
}

.mdw-tab__item {
  min-height: dp(48); // Redundant but needed for IE11
  position: relative;
  display: flex;
  min-width: dp(72);
  max-width: $tab__max-width;
  flex-basis: $tab__max-width;
  flex-grow: 0;
  flex-shrink: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-shadow: none;
  box-sizing: content-box;
  border-radius: 0;
  z-index: 0;
  overflow: hidden;
  cursor: pointer;
  color: black;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  .mdw-tab__input:checked + & {
    cursor: default;
  }

  > .mdw-ripple {
    @include mdw-ripple__container;
  }

  & > .mdw-ripple > .mdw-ripple__inner,
  &::after {
    @include mdw-ripple__inner;
  }

  & > .mdw-ripple:active > .mdw-ripple__inner,
  &:active::after {
    @include mdw-ripple__active;
  }

  &[mdw-ripple] {
    overflow: visible;
    &::after {
      // If using custom ripple, destroy ::after object
      content: none;
    }
  }
}

.mdw-tab__icon {
  pointer-events: none;
  transition-property: color;
  transition-timing-function: $motion-easing-standard;
  transition-duration: $motion-duration-desktop-default;
  @include allHandsets {
    transition-duration: $motion-duration-mobile-default;
  }
  @include allTablets {
    transition-duration: $motion-duration-tablet-default;
  }
  margin-top: 12px;
  &:last-child {
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    @include IEOnly() {
      // Fix IE min-height flexbug
      &::after {
        content: '';
        min-height: inherit;
        width: 0;
      }
    }
  }
}

.mdw-tab__label {
  text-align: center;
  pointer-events: none;
  padding-left: dp(12);
  padding-right: dp(12);
  transition-property: color;
  transition-timing-function: $motion-easing-standard;
  transition-duration: $motion-duration-desktop-default;
  @include allHandsets {
    transition-duration: $motion-duration-mobile-default;
  }
  @include allTablets {
    transition-duration: $motion-duration-tablet-default;
  }
  text-overflow: ellipsis;
  white-space: nowrap;
  height: auto;
  font-size: sp(14);
  text-transform: uppercase;
  font-weight: $font-weight-medium;

  
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include IEOnly() {
    // Fix IE min-height flexbug
    &::after {
      content: '';
      min-height: inherit;
      width: 0;
    }
  }

  .mdw-tab__icon ~ & {
    min-height: 0;
    display: block;
    // 10dp top padding
    &::before {
      content: "\200D"; // &zwj;
      display: inline-block;
      margin-top: dp(10);
      line-height: 1;
      vertical-align: text-bottom;
    }
    &::after {
      content: "\200D"; // &zwj;
      display: inline-block;
      line-height: 1;
      margin-bottom: dp(16);
      vertical-align: text-top;
    }
  }
}

.mdw-tab__input {
  // Using `display: none` breaks keyboard navigation
  opacity: 0;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  display: inline;
}

.mdw-tab__items[mdw-theme-color] {
  .mdw-tab__item,
  .mdw-tab__indicator {
    color: inherit;
  }
}

.mdw-tab__content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: stretch;
  overflow-x: hidden;
  position: relative;
}

.mdw-tab__content-item {
  flex-basis: 100%;
  flex-shrink: 0;
  transition-property: transform, opacity;
  transition-timing-function: $motion-easing-standard;
  transition-duration: $motion-duration-desktop-default;
  @include allHandsets {
    transition-duration: $motion-duration-mobile-default;
  }
  @include allTablets {
    transition-duration: $motion-duration-tablet-default;
  }
  @for $j from 1 through 8 {
    .mdw-tab__content[mdw-selected-index="#{$j - 1}"] > &,
    .mdw-tab__input:checked:nth-of-type(#{$j}) ~ .mdw-tab__content > & {
      transform: translateX(#{-100% * ($j - 1)});
    }
    html[dir=rtl] .mdw-tab__content[mdw-selected-index="#{$j - 1}"] > &,
    html[dir=rtl] .mdw-tab__input:checked:nth-of-type(#{$j}) ~ .mdw-tab__content > & {
      transform: translateX(#{100% * ($j - 1)});
    }
  }
}

.mdw-tab__content[mdw-scrollsnap] {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  .mdw-tab__content-item {
    scroll-snap-align: start none;
  }
}