// https://material.io/design/components/bottom-navigation.html#specs

@use '../../core/_length.scss' as *;
@use '../../core/_motion.scss' as motion;
@use '../../core/_type.scss' as type;

:root {
  --mdw-bottomnav__label-opacity: 1;
  --mdw-bottomnav__label-transform: none;
  --mdw-bottomnav__icon-transform: #{translateY(8px)};
}

.mdw-bottomnav {
  display: flex;
  position: relative;
  justify-content: center;
  overflow: hidden;

  min-block-size: 56px;
  inline-size: 100%;

  &[mdw-shifting] {
    .mdw-bottomnav__item:not([aria-selected="true"]) {
      --mdw-bottomnav__label-opacity: 0;
      --mdw-bottomnav__label-transform: #{translateY(8px)};
      --mdw-bottomnav__icon-transform: #{translateY(16px)};
    }
  }
}

.mdw-bottomnav__item {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  overflow: visible;

  min-inline-size: 80px;
  flex: 168px;
  flex-grow: 0;
  // flex-shrink: 1;
  // flex-basis: 168px;
  margin: 0;
  padding: 0;

  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  z-index: 0;

  border-radius: 0;
  box-shadow: none;
}

.mdw-bottomnav__icon {
  display: flex;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 50%;

  margin-inline-start: -12px;

  margin: 0;
  padding: 0;

  pointer-events: none;

  transition-duration: motion.$shapeChangeDuration, motion.$simpleDuration;
  transition-property: transform, color;
  transition-timing-function: motion.$standardEasing;

  transform: var(--mdw-bottomnav__icon-transform);

  &:last-child {
    // No label
    transform: translateY(16px);
  }
}

.mdw-bottomnav__badge {
  position: absolute;
  inset-block-start: 0;
  inset-inline: 16px auto;

  box-sizing: border-box;
  min-block-size: 8px;
  min-inline-size: 8px;
  padding: 2px;

  visibility: hidden;

  z-index: 1;

  border-radius: 8px;

  font: inherit;

  font-weight: type.$weightRegular;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: normal;

  &[mdw-badge] {
    visibility: visible;

    &::before {
      content: attr(mdw-badge);
    }
  }

  &[data-mdw-badge] {
    visibility: visible;

    &::before {
      content: attr(data-mdw-badge);
    }
  }
}

.mdw-bottomnav__label {
  @include type.addRules('caption');
  @include type.textTopToTop(32);
  @include type.baselineToBottom(8);

  // Overriding 12dp for baseline bottom with 8dp for oversized and textwrapped
  // Baseline top will ensure type.baselineToBottom is 12dp for standard layouts

  box-sizing: border-box;
  max-inline-size: 100%;
  padding: 0 12px;

  pointer-events: none;

  transition-duration: motion.$shapeChangeDuration;
  transition-property: transform, opacity, color;
  transition-timing-function: motion.$standardEasing;

  opacity: var(--mdw-bottomnav__label-opacity);
  transform: var(--mdw-bottomnav__label-transform);

  text-align: center;
  word-break: break-all;
  word-break: break-word;
}
