// https://material.io/design/components/bottom-navigation.html#specs

@import '../ripple/ripple.scss';
@import '../common/functions.scss';
@import '../common/motion.scss';
@import '../common/variables.scss';
@import '../common//type.scss';

.mdw-bottomnav {
  position: relative;
  width: 100%;
  min-height: dp(56);
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  box-shadow: elevation(8);
  overflow: hidden;
}

.mdw-bottomnav__item {
  position: relative;
  min-width: dp(80);
  max-width: dp(168);
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  overflow: visible;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 0;

  
  > .mdw-ripple {
    @include mdw-ripple__container;
  }

  & > .mdw-ripple > .mdw-ripple__inner,
  &::after {
    @include mdw-ripple__inner;
  }

  & > .mdw-ripple:active > .mdw-ripple__inner,
  &:active::after {
    @include mdw-ripple__active;
  }

  &[mdw-ripple] {
    overflow: visible;
    &::after {
      // If using custom ripple, destroy ::after object
      content: none;
    }
  }
}

.mdw-bottomnav__icon {
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  margin-left: dp(-12);
  padding: 0;

  pointer-events: none;
  transform: translateY(dp(8));
  transition-property: transform, color;
  transition-duration: 200ms;
  transition-timing-function: $motion-easing-standard;

  &:last-child {
    // No label
    transform: translateY(dp(16));
  }
}

.mdw-bottomnav__item[mdw-badge]::before {
  content: attr(mdw-badge);
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: dp(4);
  padding: dp(2);
  min-width: dp(8);
  min-height: dp(8);
  border-radius: dp(8);
  box-sizing: border-box;

  font-size: dp(10);
  font-weight: $font-weight-regular;
  letter-spacing: normal;
  line-height: dp(12);

  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: $motion-easing-standard;
  transform: translateY(dp(8));

  z-index: 1;
}

.mdw-bottomnav__item[data-mdw-badge]::before {
  content: attr(data-mdw-badge);
}

.mdw-bottomnav__label {
  @include type-rules('caption');
  @include baseline-top(56-12);
  @include baseline-bottom(8);

  // Overriding 12dp for baseline bottom with 8dp for oversized and textwrapped
  // Baseline top will ensure baseline-bottom is 12dp for standard layouts

  max-width: 100%;
  box-sizing: border-box;
  padding: 0 dp(12);
  pointer-events: none;
  transition-property: transform, opacity, color;
  transition-duration: 200ms;
  transition-timing-function: $motion-easing-standard;
  text-align: center;

  word-break: break-all;
  word-break: break-word;
}

.mdw-bottomnav__input {
  display: inline-block;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;

  outline: none;
  pointer-events: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.mdw-bottomnav[mdw-shifting] {
  .mdw-bottomnav__icon,
  .mdw-bottomnav__item::before {
    transform: translateY(dp(16));
  }

  .mdw-bottomnav__label {
    opacity: 0;
    transform: translateY(dp(8));
  }
  .mdw-bottomnav__input:checked ~ .mdw-bottomnav__label,
  .mdw-bottomnav__item[mdw-selected] > .mdw-bottomnav__label,
  .mdw-bottomnav__input:checked + .mdw-bottomnav__item > .mdw-bottomnav__label {
    opacity: 1;
    transform: translateY(0);
  }
  .mdw-bottomnav__input:checked ~ .mdw-bottomnav__icon,
  .mdw-bottomnav__item[mdw-selected] > .mdw-bottomnav__icon,
  .mdw-bottomnav__input:checked + .mdw-bottomnav__item > .mdw-bottomnav__icon {
    transform: translateY(dp(8));
  }

  .mdw-bottomnav__item[mdw-selected]::before,
  .mdw-bottomnav__input:checked + .mdw-bottomnav__item::before {
    transform: translateY(dp(8));
  }
}

.mdw-bottomnav[mdw-theme-color] {
  .mdw-bottomnav__item {
    color: inherit;
    & > .mdw-ripple > .mdw-ripple__inner,
    &:after {
      color: inherit;
    }
  }
}