// https://material.io/guidelines/components/bottom-navigation.html#bottom-navigation-specs

@import '../common/functions.scss';
@import '../common/motion.scss';

.mdw-bottomnav {
  
  min-height: dp(56);
  overflow-y: hidden;
  position: relative;
  display:flex;
  box-shadow: elevation(8);
  width: 100%;
  justify-content: center;
  align-self: flex-end;
  flex-direction:row;
}

.mdw-bottomnav__action {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  border-radius: 0;
  z-index: 0;
  overflow: hidden;
  
  // If using JS ripple, destroy ::after object
  &[mdw-js-ripple]::after {
    content: none
  }
    
  & > .mdw-ripple,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    // background-image: radial-gradient(circle at center, var(--button__ripple-color) 10%, transparent 10.0001%);
    transform: scale(10); // 10.0 has subpixel rendering issues
    transition-property: transform, opacity;
    transition-duration: 700ms;
    opacity: 0;
  }
  
  &:active {
    & > .mdw-ripple,
    &::after {
      transform: scale(0);
      transition-delay: 0ms;
      transition-duration: 0s;
      opacity: 1;
    }
  }
}

.mdw-bottomnav__icon {
  padding: 0;
  margin: 0;
  pointer-events: none;
  transition-property: color, transform;
  transition-duration: 200ms;
  transition-timing-function: $motion-easing-standard;
  // color: var(--bottomnav__inactive-color);
  transform: translateY(dp(8));
  input:checked + .mdw-bottomnav__action > &,
  input:checked ~ & {
    // color: var(--bottomnav__active-color);
    transform: translateY(dp(6));
  }
}

.mdw-bottomnav__label {
  display: flex;
  justify-content: center;
  pointer-events: none;
  min-width: dp(80);
  max-width: dp(168);
  padding-top: dp(4);
  padding-left: dp(12);
  padding-right: dp(12);
  transition-property: color, font-size, transform, min-width, max-width;
  transform: translateY(0);
  transition-duration: 200ms;
  transition-timing-function: $motion-easing-standard;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: sp(14); // Prevents stretching when using larger fonts
  height: auto;
  padding-bottom: calc(#{dp(10)} - #{sp(14*0.25)});
  font-size: sp(12);
  text-transform: none;
  font-weight: normal;
  // color: var(--bottomnav__inactive-color);
  input:checked + .mdw-bottomnav__action > &,
  input:checked ~ & {
    // color: var(--bottomnav__active-color);
    font-size: sp(14);
  }
}
.mdw-bottomnav input {
  // Using `display: none` breaks keyboard navigation
  opacity: 0;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  display: inline;
}

.mdw-bottomnav[mdw-shifting] {
  .mdw-bottomnav__label {
    font-size: sp(14);
    min-width: dp(56);
    max-width: dp(96);
  }
  input:checked + * .mdw-bottomnav__label {
    min-width: dp(96);
    max-width: dp(168);
  }
  
  input:not(:checked) + .mdw-bottomnav__action {
    & > .mdw-bottomnav__icon {
      transform: translateY(16px);
    }
    & > .mdw-bottomnav__label {
      color: transparent;
      transform: translateY(0.25em);
    }
  }
  
}

