@import '../common/functions.scss';
@import '../common/mixins.scss';

$bottomnavColors: (
  active-color:         (inherit, inherit),
  filled-active-color:  (inherit, ('foreground-dark', 1.0)),
  inactive-color:       (('foreground-light', 0.54), ('foreground-dark', 0.70)),
  overlay-color:        (('foreground-light', 1.00), ('foreground-dark', 1.00)),
  pressed-opacity:      (0.16, 0.32),
  badge-background:     (('warn', '500', 1.00), ('warn', '500', 1.00)),
  badge-foreground:     (('foreground-dark', 1), ('foreground-dark', 1.00)),
);

@function bottomnavThemeValue($key, $type, $theme) {
  @return themeValue('bottomnav', $bottomnavColors, $key, $type, $theme);
}

@mixin bottomnavThemeVariables($color, $lightness) {
  @include themeVariables('bottomnav', $bottomnavColors, $color, $lightness);
}

@mixin internalBottomnavContrastRules($type, $theme: null) {
  @at-root {
    #{&}.mdw-bottomnav[mdw-theme-fill]:not([mdw-theme-color]) {
      input:checked ~ .mdw-bottomnav__icon,
      input:checked ~ .mdw-bottomnav__label,
      .mdw-bottomnav__item[mdw-selected] > .mdw-bottomnav__icon,
      .mdw-bottomnav__item[mdw-selected] > .mdw-bottomnav__label,
      input:checked + .mdw-bottomnav__item > .mdw-bottomnav__icon,
      input:checked + .mdw-bottomnav__item > .mdw-bottomnav__label {
        color: bottomnavThemeValue("filled-active-color", $type, $theme);
      }
    }
  }
}

// Vary by contrast
@mixin bottomnavContrastAndThemeRules($type: 'var', $theme: null) {
  @include internalBottomnavContrastRules($type, $theme);
  @if ($type != 'var') {
    :not([mdw-theme-fill]) {
      @include internalBottomnavContrastRules($type, $theme);
    }
  }
  .mdw-bottomnav__icon,
  .mdw-bottomnav__label {
    color: bottomnavThemeValue("inactive-color", $type, $theme);
  }

  input:checked ~ .mdw-bottomnav__icon,
  input:checked ~ .mdw-bottomnav__label,
  .mdw-bottomnav__item[mdw-selected] > .mdw-bottomnav__icon,
  .mdw-bottomnav__item[mdw-selected] > .mdw-bottomnav__label,
  input:checked + .mdw-bottomnav__item > .mdw-bottomnav__icon,
  input:checked + .mdw-bottomnav__item > .mdw-bottomnav__label {
    color: bottomnavThemeValue("active-color", $type, $theme);
  }

  .mdw-bottomnav__item {
    & > .mdw-ripple > .mdw-ripple__inner,
    &::after {
      color: bottomnavThemeValue("overlay-color", $type, $theme);
      opacity: bottomnavThemeValue("pressed-opacity", $type, $theme);
    }
  }
}

// Varies by theme
@mixin bottomnavThemeRules($theme: null) {
  .mdw-bottomnav__item {
    &::before {
      background-color: bottomnavThemeValue("badge-background", null, $theme);
      color: bottomnavThemeValue("badge-foreground", null, $theme);
    }
  }
}