@import '../../core/theme/exports.scss';

$mdw-bottomnav__theme-values: (
  active-color:         $mdw-theme__default-ink,
  inactive-color:       $mdw-theme__medium-ink,
  badge-background:     (('warn', '500', 1.00), ('warn', '500', 1.00)),
  badge-foreground:     (('foreground-dark', 1.00), ('foreground-dark', 1.00)),
) !default;

@function mdwBottomnavThemeValue($key, $type, $theme) {
  @return mdwGetThemeValue('bottomnav', $mdw-bottomnav__theme-values, $key, $type, $theme);
}

@mixin mdw-bottomnav__theme-rules($type: 'var', $theme: null) {
  .mdw-bottomnav:not([mdw-ink]) {
    color: mdwBottomnavThemeValue("active-color", $type, $theme);
  }

  .mdw-bottomnav__icon::before {
    background-color: mdwBottomnavThemeValue("badge-background", null, $theme);
    color: mdwBottomnavThemeValue("badge-foreground", null, $theme);
  }

  .mdw-bottomnav__item[aria-selected="false"] > .mdw-bottomnav__icon,
  .mdw-bottomnav__item[aria-selected="false"] > .mdw-bottomnav__label {
    color: mdwBottomnavThemeValue("inactive-color", $type, $theme);
  }
}

@each $name in map-keys($mdw-theme__themes) {
  $theme: map-get($mdw-theme__themes, $name);
  @include mdw-theme__add-component-fallback-rules('light', $name) {
    @include mdw-bottomnav__theme-rules('light', $theme);
  }
  @include mdw-theme__add-component-fallback-rules('dark', $name) {
    @include mdw-bottomnav__theme-rules('dark', $theme);
  }
}

@include mdw-theme__add-component-variable-rules('bottomnav', $mdw-bottomnav__theme-values) {
  @include mdw-bottomnav__theme-rules();
}
