@import '../common/theming.scss';

$mdw-bottomnav__theme-values: (
  active-color:         (inherit, inherit),
  filled-active-color:  (inherit, ('foreground-dark', 1.0)),
  inactive-color:       (('foreground-light', 0.54), ('foreground-dark', 0.70)),
  overlay-color:        (('foreground-light', 1.00), ('foreground-dark', 1.00)),
  pressed-opacity:      (0.16, 0.32),
  badge-background:     (('warn', '500', 1.00), ('warn', '500', 1.00)),
  badge-foreground:     (('foreground-dark', 1), ('foreground-dark', 1.00)),
) !default;

@function mdwBottomnavThemeValue($key, $type, $theme) {
  @return themeValue('bottomnav', $mdw-bottomnav__theme-values, $key, $type, $theme);
}

@mixin mdw-bottomnav__theme-variables($lightness: null) {
  @include themeVariables('bottomnav', $mdw-bottomnav__theme-values, $lightness);
}

@mixin __mdw-bottomnav__contrast-and-theme-rules($type, $theme: null) {
  @at-root {
    #{&}.mdw-bottomnav[mdw-theme-fill]:not([mdw-theme-color]) {
      input:checked ~ .mdw-bottomnav__icon,
      input:checked ~ .mdw-bottomnav__label,
      .mdw-bottomnav__item[mdw-selected] > .mdw-bottomnav__icon,
      .mdw-bottomnav__item[mdw-selected] > .mdw-bottomnav__label,
      input:checked + .mdw-bottomnav__item > .mdw-bottomnav__icon,
      input:checked + .mdw-bottomnav__item > .mdw-bottomnav__label {
        color: mdwBottomnavThemeValue("filled-active-color", $type, $theme);
      }
    }
  }
}

// Vary by contrast and theme
@mixin mdw-bottomnav__contrast-and-theme-rules($type: 'var', $theme: null) {
  @include __mdw-bottomnav__contrast-and-theme-rules($type, $theme);
  @if ($type != 'var') {
    :not([mdw-theme-fill]) {
      @include __mdw-bottomnav__contrast-and-theme-rules($type, $theme);
    }
  }

  .mdw-bottomnav__icon,
  .mdw-bottomnav__label {
    color: mdwBottomnavThemeValue("inactive-color", $type, $theme);
  }

  input:checked ~ .mdw-bottomnav__icon,
  input:checked ~ .mdw-bottomnav__label,
  .mdw-bottomnav__item[mdw-selected] > .mdw-bottomnav__icon,
  .mdw-bottomnav__item[mdw-selected] > .mdw-bottomnav__label,
  input:checked + .mdw-bottomnav__item > .mdw-bottomnav__icon,
  input:checked + .mdw-bottomnav__item > .mdw-bottomnav__label {
    color: mdwBottomnavThemeValue("active-color", $type, $theme);
  }

  .mdw-bottomnav__item {
    & > .mdw-ripple > .mdw-ripple__inner,
    &::after {
      opacity: mdwBottomnavThemeValue("pressed-opacity", $type, $theme);

      color: mdwBottomnavThemeValue("overlay-color", $type, $theme);
    }
  }
}

// Varies by theme
@mixin mdw-bottomnav__theme-rules($theme: null) {
  .mdw-bottomnav__item {
    &::before {
      background-color: mdwBottomnavThemeValue("badge-background", null, $theme);
      color: mdwBottomnavThemeValue("badge-foreground", null, $theme);
    }
  }
}
