// https://material.io/guidelines/layout/responsive-ui.html
// https://material.io/archive/guidelines/layout/responsive-ui.html

@import '../../core/_motion.scss';
@import '../../core/_platform.scss';
@import '../../core/_breakpoint.scss';

$mdw-grid__margin: dp(24) !default;
$mdw-grid__gutter: dp(24) !default;

.mdw-grid {
  display: flex;
  flex-wrap: wrap;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-template-columns: repeat(12, 1fr);

  margin-top: -$mdw-grid__gutter;

  margin-left: -$mdw-grid__gutter;
  padding-right: $mdw-grid__margin;

  padding-left: $mdw-grid__margin;
  -ms-grid-columns: unquote("(1fr)[12]");
  -ms-grid-rows: auto;

  &[mdw-grid] {
    // IE11 is currently unsupported due to lack of automatic placement
    display: grid;
    display: -ms-grid;
  }

  &[mdw-dense] {
    grid-auto-flow: row dense;
  }

  &[mdw-center] {
    justify-content: center;
  }

  &[mdw-margin-top] {
    padding-top: $mdw-grid__margin;
  }

  &[mdw-margin-bottom] {
    padding-bottom: $mdw-grid__margin;
  }

}

@mixin mdw-grid__item($columnCount) {
  &[mdw-colspan="1"],
  &:not([mdw-colspan]) {
    width: calc(100% / #{$columnCount});
  }

  &[mdw-stretch] {
    max-width: none;
  }
  @for $i from 2 to 12 {
    &[mdw-colspan="#{$i}"] {
      @if ($i > $columnCount) {
        -ms-grid-column-span: #{$columnCount};
        grid-column-end: span #{$columnCount};

        width: 100%;
      } @else {
        width: calc((#{$i} * 100% / #{$columnCount}));
      }
    }
  }
  @each $percent in (25, 50, 75, 100) {
    &[mdw-colspan="#{$percent}%"] {
      $value: $percent / 100 * $columnCount;
      -ms-grid-column-span: #{$value};
      grid-column-end: span #{$value};
      @if ($value < 1) {
        $value: $columnCount;
        width: 100%;
      }
    }
  }
}

.mdw-grid__item {

  @include mdw-grid__item(12);
  box-sizing: border-box;
  max-width: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  padding-top: $mdw-grid__gutter;
  padding-left: $mdw-grid__gutter;

  transition-duration: $mdw-motion__shape-change-duration;
  transition-property: flex, width, padding;
  transition-timing-function: $mdw-motion__standard-easing;

  .mdw-grid[mdw-grid] > & {
    min-width: 100%;
  }

  .mdw-grid[mdw-stretch] > & {
    flex-grow: 1;
  }

  &[mdw-colspan="25%"] {
    width: 25%;
  }

  &[mdw-colspan="50%"] {
    width: 50%;
  }

  &[mdw-colspan="75%"] {
    width: 75%;
  }

  &[mdw-colspan="100%"] {
    width: 100%;
  }

  @for $i from 2 to 12 {
    &[mdw-rowspan="#{$i}"] {
      -ms-grid-row-span: #{$i};
      grid-row-end: span #{$i};
    }

    &[mdw-colspan="#{$i}"] {
      -ms-grid-column-span: #{$i};
      grid-column-end: span #{$i};
    }
  }
}

@include mdw-breakpoint__16dp-margin {
  .mdw-grid {
    margin-top: dp(-16);
    margin-left: dp(-16);
    padding-right: dp(16);
    padding-left: dp(16);

    &[mdw-margin-top] {
      padding-top: dp(16);
    }

    &[mdw-margin-bottom] {
      padding-bottom: dp(16);
    }

    & > .mdw-grid__item {
      padding-top: dp(16);
      padding-left: dp(16);
    }
  }
}

.mdw-grid__content {
  box-sizing: border-box;
  max-height: 100%;
  height: 100%;
  max-width: 100%;
  width: 100%;
  flex: 100%;
}

// 8 Columns (Explicit on >=840dp, Implicit on < 840dp)
.mdw-grid[mdw-columns="8"] {
  grid-template-columns: repeat(8, 1fr);
  -ms-grid-columns: unquote("(1fr)[8]");

  & > .mdw-grid__item {
    @include mdw-grid__item(8);
  }
}
@include mdw-breakpoint__8-columns__max {
  .mdw-grid {
    grid-template-columns: repeat(8, 1fr);
    -ms-grid-columns: unquote("(1fr)[8]");
  }

  .mdw-grid__item {
    @include mdw-grid__item(8);
  }
}

// 4 Columns (Explicit on >=600dp, Implicit on <600dp)
.mdw-grid[mdw-columns="4"] {
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-columns: unquote("(1fr)[4]");

  & > .mdw-grid__item {
    @include mdw-grid__item(4);
  }
}

@include mdw-breakpoint__4-columns() {
  .mdw-grid,
  .mdw-grid[mdw-columns="8"] {
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-columns: unquote("(1fr)[4]");
  }

  .mdw-grid__item,
  .mdw-grid[mdw-columns="8"] > .mdw-grid__item {
    @include mdw-grid__item(4);
  }
}

// 1 Column (Explicit on all)
.mdw-grid[mdw-columns="1"] {
  grid-template-columns: 1fr;
  -ms-grid-columns: 1fr;

  & > .mdw-grid__item {
    @include mdw-grid__item(1);
  }
}

// 1-column uses same margin values as 12-column
@each $value in (0, 8, 16, 24, 40) {
  .mdw-grid[mdw-margin="#{$value}"],
  .mdw-grid[mdw-columns="1"][mdw-margin="#{$value}"],
  .mdw-grid[mdw-columns="8"][mdw-margin-8col="#{$value}"],
  .mdw-grid[mdw-columns="4"][mdw-margin-4col="#{$value}"], {
    padding-right: dp($value);
    padding-left: dp($value);

    &[mdw-margin-bottom] {
      padding-bottom: dp($value);
    }

    &[mdw-margin-top] {
      padding-top: dp($value);
    }
  }

  .mdw-grid[mdw-gutter="#{$value}"],
  .mdw-grid[mdw-columns="1"][mdw-gutter="#{$value}"],
  .mdw-grid[mdw-columns="8"][mdw-gutter-8col="#{$value}"],
  .mdw-grid[mdw-columns="4"][mdw-gutter-4col="#{$value}"] {
    margin-top: dp(-$value);
    margin-left: dp(-$value);

    & > .mdw-grid__item {
      padding-top: dp($value);
      padding-left: dp($value);
    }
  }
}

// 8-col grids use 8col variable
@include mdw-breakpoint__8-columns__max {
  @each $value in (0, 8, 16, 24, 40) {
    .mdw-grid[mdw-margin-8col="#{$value}"] {
      padding-right: dp($value);
      padding-left: dp($value);

      &[mdw-margin-bottom] {
        padding-bottom: dp($value);
      }

      &[mdw-margin-top] {
        padding-top: dp($value);
      }
    }

    .mdw-grid[mdw-gutter-8col="#{$value}"] {
      margin-top: dp(-$value);
      margin-left: dp(-$value);

      & > .mdw-grid__item {
        padding-top: dp($value);
        padding-left: dp($value);
      }
    }
  }
}

// 4col grids use 4col variable
// Overrides 8col and 12col
@include mdw-breakpoint__4-columns {
  @each $value in (0, 8, 16, 24, 40) {
    .mdw-grid,
    .mdw-grid[mdw-columns="8"] {
      &[mdw-margin-4col="#{$value}"] {
        padding-right: dp($value);
        padding-left: dp($value);

        &[mdw-margin-bottom] {
          padding-bottom: dp($value);
        }

        &[mdw-margin-top] {
          padding-top: dp($value);
        }
      }

      &[mdw-gutter-4col="#{$value}"] {
        margin-top: dp(-$value);
        margin-left: dp(-$value);

        > .mdw-grid__item {
          padding-top: dp($value);
          padding-left: dp($value);
        }
      }
    }
  }
}
