// https://material.io/guidelines/layout/responsive-ui.html
// https://material.io/archive/guidelines/layout/responsive-ui.html

@use "sass:math";

@use '../../core/_breakpoint.scss' as breakpoint;
@use '../../core/_length.scss' as *;
@use '../../core/_motion.scss' as motion;

:root {
  --mdw-grid__margin: 24px;
  --mdw-grid__gutter: 24px;
  @include breakpoint.has16DPMargin() {
    --mdw-grid__margin: 16px;
    --mdw-grid__gutter: 16px;
  }
}

.mdw-grid {
  --mdw-grid__columns: 12;
  --mdw-grid__item-flex-grow: 0;
  --mdw-grid__item-min-width: none;

  display: flex;
  flex-wrap: wrap;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-template-columns: repeat(var(--mdw-grid__columns), 1fr);

  margin-block-start: calc(-1 * var(--mdw-grid__gutter));
  margin-inline-start: calc(-1 * var(--mdw-grid__gutter));
  padding-inline: var(--mdw-grid__margin);

  &[mdw-grid] {
    --mdw-grid__item-min-width: 100%;
    display: grid;
  }

  &[mdw-dense] {
    grid-auto-flow: row dense;
  }

  &[mdw-center] {
    justify-content: center;
  }

  &[mdw-margin-top] {
    padding-block-start: var(--mdw-grid__margin);
  }

  &[mdw-margin-bottom] {
    padding-block-end: var(--mdw-grid__margin);
  }

  &[mdw-columns="8"] {
    --mdw-grid__columns: 8;
  }

  &[mdw-columns="4"] {
    --mdw-grid__columns: 4;
  }

  &[mdw-columns="1"] {
    --mdw-grid__columns: 1;

    & > .mdw-grid__item {
      inline-size: 100%;
    }
  }

  &[mdw-stretch] {
    --mdw-grid__item-flex-grow: 1;
  }

}

.mdw-grid__item {
  box-sizing: border-box;
  min-inline-size: var(--mdw-grid__item-min-width);
  max-inline-size: 100%;

  inline-size: calc(100% / var(--mdw-grid__columns));
  flex-grow: var(--mdw-grid__item-flex-grow);
  flex-shrink: 1;
  padding-block-start: var(--mdw-grid__gutter);
  padding-inline-start: var(--mdw-grid__gutter);

  transition-duration: motion.$shapeChangeDuration;
  transition-property: flex, width, padding;
  transition-timing-function: motion.$standardEasing;

  &[mdw-stretch] {
    max-inline-size: none;
  }

  @for $i from 2 to 12 {
    &[mdw-colspan="#{$i}"] {
      grid-column-end: span min(#{$i}, var(--mdw-grid__columns));

      inline-size: calc(#{$i} * 100% / var(--mdw-grid__columns));
    }
    &[mdw-rowspan="#{$i}"] {
      grid-row-end: span #{$i};
    }
  }
  @each $percent in (25, 50, 75, 100) {
    &[mdw-colspan="#{$percent}%"] {
      grid-column-end: span calc($percent / 100 * var(--mdw-grid__columns));

      inline-size: #{$percent + '%'};
    }
  }
}

.mdw-grid__content {
  box-sizing: border-box;
  max-block-size: 100%;
  block-size: 100%;
  max-inline-size: 100%;
  inline-size: 100%;
  flex: 100%;
}

// 1-column uses same margin values as 12-column
@each $value in (0, 8, 16, 24, 40) {
  .mdw-grid[mdw-margin="#{$value}"],
  .mdw-grid[mdw-columns="1"][mdw-margin="#{$value}"],
  .mdw-grid[mdw-columns="8"][mdw-margin-8col="#{$value}"],
  .mdw-grid[mdw-columns="4"][mdw-margin-4col="#{$value}"] {
    --mdw-grid__margin: #{dp($value)};
  }

  .mdw-grid[mdw-gutter="#{$value}"],
  .mdw-grid[mdw-columns="1"][mdw-gutter="#{$value}"],
  .mdw-grid[mdw-columns="8"][mdw-gutter-8col="#{$value}"],
  .mdw-grid[mdw-columns="4"][mdw-gutter-4col="#{$value}"] {
    --mdw-grid__gutter: #{dp($value)};
  }
}

@include breakpoint.max8Columns() {
  .mdw-grid {
    --mdw-grid__columns: 8;
    @each $value in (0, 8, 16, 24, 40) {
      &[mdw-margin-8col="#{$value}"] {
        --mdw-grid__margin: #{dp($value)};
      }

      &[mdw-gutter-8col="#{$value}"] {
        --mdw-grid__gutter: #{dp($value)};
      }
    }
  }
}

@include breakpoint.is4Columns() {
  .mdw-grid {
    --mdw-grid__columns: 4;
    @each $value in (0, 8, 16, 24, 40) {
      &[mdw-margin-4col="#{$value}"] {
        --mdw-grid__margin: #{dp($value)};
      }

      &[mdw-gutter-4col="#{$value}"] {
        --mdw-grid__gutter: #{dp($value)};
      }
    }
  }
}
