// https://material.io/guidelines/layout/structure.html#structure-app-bar
// https://material.io/archive/guidelines/components/toolbars.html

@use '../../core/_breakpoint.scss' as breakpoint;
@use '../../core/_length.scss' as *;
@use '../../core/_type.scss' as type;

:root {
  --mdw-appbar__min-block-size: 64px;
  --mdw-appbar__min-block-size__dense: 48px;
  --mdw-appbar__min-block-size__prominent: 128px;
  --mdw-appbar__min-block-size__prominent__dense: 96px;
  --mdw-appbar__min-block-size__mobile: 56px;
  --mdw-appbar__min-block-size__mobile__landscape: 48px;
  --mdw-appbar__content-margin-inline: 24px;
  --mdw-appbar__start-margin-inline-start: 8px;
  @include breakpoint.has16DPMargin() {
    --mdw-appbar__content-margin-inline: 16px;
    --mdw-appbar__start-margin-inline-start: 0;
  }
  @include breakpoint.maxTabletDevice {
    // No high density on mobile
    --mdw-appbar__min-block-size: var(--mdw-appbar__min-block-size__mobile);
    --mdw-appbar__min-block-size__dense: var(--mdw-appbar__min-block-size__mobile);
    --mdw-appbar__min-block-size__prominent__dense: var(--mdw-appbar__min-block-size__prominent);
  }
  @include breakpoint.isMobileDeviceLandscape {
    --mdw-appbar__min-block-size: var(--mdw-appbar__min-block-size__mobile__landscape);
    --mdw-appbar__min-block-size__dense: var(--mdw-appbar__min-block-size__mobile__landscape);
  }
  --mdw-appbar__icon-min-block-size: 40px;
}

.mdw-appbar {
  display: grid;

  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;

  min-block-size: var(--mdw-appbar__min-block-size);

  transition-duration: inherit;
  transition-property: min-block-size;
  transition-timing-function: inherit;

  z-index: 1;

  &[mdw-centered] {
    grid-template-columns: minmax(auto, 1fr) minmax(0, auto) minmax(auto, 1fr);
  }

  &[mdw-dense] {
    --mdw-appbar__min-block-size: var(--mdw-appbar__min-block-size__dense);
  }
}

.mdw-appbar__action {
  display: grid;
  grid-template-columns: auto 1fr auto;

  min-block-size: var(--mdw-appbar__min-block-size);

  transition-duration: inherit;
  transition-property: min-block-size;
  transition-timing-function: inherit;

  z-index: 1;
}

.mdw-appbar__content {
  display: flex;
  flex-direction: column;

  grid-column: 1 / span 3;
  grid-row: 2;

  margin-inline: var(--mdw-appbar__content-margin-inline);
  padding-inline-start: 56px;
}

.mdw-appbar__title {
  display: flex;
  align-items: center;

  align-self: center;

  grid-column: 2;
  grid-row: 1 / span 2;

  overflow: hidden;

  min-block-size: auto;

  block-size: auto;
  margin: 0 16px;

  transition-duration: inherit;
  transition-property: font, letter-spacing, margin-block-size;
  transition-timing-function: inherit;

  text-overflow: ellipsis;
  white-space: nowrap;

  @include type.addRules('h6');

  // TODO: Use CSS Variables instead of nesting
  .mdw-appbar[mdw-prominent] & {
    min-block-size: var(--mdw-appbar__min-block-size__prominent);

    white-space: normal;
    @include type.addRules('h5');
  }

  .mdw-appbar[mdw-prominent][mdw-dense] & {
    min-block-size: var(--mdw-appbar__min-block-size__prominent__dense);
  }

  &[mdw-custom] {
    margin-block-start: 0;

    &::after {
      display: none;
    }
  }
}

.mdw-appbar__start {
  grid-column: 1;

  margin-inline-start: var(--mdw-appbar__start-margin-inline-start);

  padding-inline: 8px;
}

.mdw-appbar__end {
  grid-column: 3;
  justify-content: flex-end;

  margin-inline-end: -12px;
  padding-inline-end: var(--mdw-appbar__content-margin-inline);
}

.mdw-appbar__start,
.mdw-appbar__end {
  display: flex;
  align-items: center;
  flex-direction: row;
  grid-row: 1/1;

  min-block-size: inherit;

  transition-property: margin-block-start;
}

.mdw-appbar__start .mdw-button {
  margin: 0;
}

.mdw-appbar__end .mdw-button {
  margin: 0 4px;

  &[mdw-more-button] {
    margin-inline-end: -2px;
  }
}
