// https://material.io/guidelines/components/progress-activity.html#

@import '../common/motion.scss';
@import '../common/platform.scss';

$radius: 8.75;
$pi: 3.14159265359;
$circumference: 2 * $pi * $radius;
$duration: 1500ms;

/* 
 * SVG Animated Material Spin Animation
 * radius = 8.75
 * pi = 3.14159
 * circumference = 2 * pi * r = (54.977825)
 * dash-length = circumference * (100-x)/100 
 *
 * Every cycle rotates entire shape an additional -90deg (CCW)
 * 
 * Entire animation rotates 4x speed (CW)
 * 
 * 1. Start 0.072% from head
 * 2. Increase to 75% from head
 * 3. Reduce tail to 0.521% from tail 
 * 4. Rotate -90 deg
 *
 * Animate with ease-in-out
 */


@function circlePercentage($percent, $limit: 100) {
  @return $circumference * ((3 * ($limit/100)) - $percent/100);
}

@keyframes rotate-clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-counterclockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg)
  }
}

@keyframes mdw-progress-dash {
  0% {
    stroke-dashoffset: circlePercentage(0.5, 75);
  }
  50% {
    stroke-dashoffset: circlePercentage(75,75);
  }
  100% {
    stroke-dashoffset: circlePercentage(149.5,75);
  }
}

.mdw-progress-circle {
  width: 48px;
  height: 48px;
  stroke-width: 2.5;
  margin: 8px;
  svg {
    width:100%;
    height:100%;
    transform: rotate(0deg);
    will-change: transform;
    animation-name: rotate-clockwise;
    animation-duration: $duration;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    & > path {
      fill: none;
      stroke-width: inherit;
      stroke: currentColor;
      transform-origin: center center;
      &:nth-child(1) {
        stroke-linecap: square;
        stroke-dasharray: $circumference * 0.75;
        stroke-dashoffset: circlePercentage(33.33, 75);
        transform: rotate(0deg);
        will-change: stroke-dashoffset, transform;
        animation-name: mdw-progress-dash, rotate-counterclockwise;
        animation-duration: $duration, $duration * 4;
        animation-timing-function: $motion-easing-standard, steps(4,end);
        animation-iteration-count: infinite;
      }
      &:nth-child(2) {
        display: none;
        transition-property: stroke-dashoffset;
        transition-duration: $duration;
        stroke-dashoffset: circlePercentage(0, 100);
        stroke-dasharray: $circumference;
      }
      
    }
  }
  
  // IE and Edge do not support animated SVG
  @include MSOnly {
    &:not([mdw-determinate]) svg {
      animation-duration: $duration / 2;
    }
  }
}

.mdw-progress-circle[mdw-determinate] {
  svg {
    animation: none;
    will-change: none;
    transform: none;
    & > path {
      &:nth-child(1) {
        display: none;
        animation: none;
        will-change: none;
        transform: none;
      }
      &:nth-child(2) {
        display: inline;
      }
    }
  }
}

.mdw-progress-circle[value='100'] {
  svg {
    & > path:nth-child(2) {
      stroke-dashoffset: circlePercentage(100);
    }
  }
}