**/**/node_modules/*
dist/*
api/**
types/**
.test/*
.nyc_output/*
**/**/.DS_Store
demo/**.min.js
demo/**.min.css
demo/**.min.js.*
demo/**.min.css.*
demo/rollup.*.json
demo/meta.json
demo/theme.css
coverage/**
screenshots/difference/*
!api/README.md
!types/README.md
