include mixins.pug

+header()
  +navdrawer("Home")
    .mdw-layout(mdw-margin-top mdw-margin-bottom)
      .mdw-layout__item(mdw-colspan="100%")
        h1.mdw-type Material Design Web
  script(src='index.min.js')
