@use '../../core/theme/index.scss' as theme;

$themeValues: (
  text-color:    (('foreground-light', 0.87), ('foreground-dark', 1.00)),
  border-color:  (('primary', '700', 0.87), ('primary', '200', 1.0)),
) !default;

@function getThemeValue($key, $type) {
  @return theme.getThemeValue('template', $themeValues, $key, $type);
}

@mixin addThemeRules($theme: null) {
  .mdw-template[mdw-surface] {
    border-color: templateThemeValue('border-color', null);
  }
}

@include theme.addComponentFallbackRules('light') {
  @include addThemeRules('light');
}
@include theme.addComponentFallbackRules('dark') {
  @include addThemeRules('dark');
}

@include theme.addComponentCSSVariableRules('template', $themeValues) {
  @include addThemeRules();
}
