/* https://material.io/design/components/cards.html#specs */

@use "sass:math";

@use '../../core/_breakpoint.scss' as breakpoint;
@use '../../core/_elevation.scss' as elevation;
@use '../../core/_length.scss' as *;
@use '../../core/_motion.scss' as motion;
@use '../../core/_platform.scss' as platform;
@use '../../core/_type.scss' as type;

$horizontalPadding: 16px !default;

:root {
  --mdw-card__inline-start: left;
  --mdw-card__inline-end: right;
  --mdw-card__box-shadow: #{elevation.boxShadow(0)};
  --mdw-card__border-color: inherit;

  &[dir="rtl"] {
    --mdw-card__inline-start: right;
    --mdw-card__inline-end: left;
  }

  @include breakpoint.maxTabletDevice() {
    --mdw-card__box-shadow: #{elevation.boxShadow(1)};
    --mdw-card__border-color: transparent;
  }
}

.mdw-card {
  @include type.addRules('body-2');

  display: block;

  position: relative;

  outline: none;

  transition-duration: motion.$shapeChangeDuration;
  transition-property: box-shadow;
  transition-timing-function: motion.$standardEasing;

  border-radius: 4px;
  box-shadow: var(--mdw-card__box-shadow);

  &::before {
    // Outline is behind content, not around it
    content: "";

    position: absolute;
    inset: 0;

    // Separated to avoid minification
    border-block-style: solid;
    border-block-width: 1px;
    border-inline-style: solid;
    border-inline-width: 1px;

    pointer-events: none;

    border-color: var(--mdw-card__border-color, inherit);

    border-radius: inherit;

  }

  &[mdw-elevation="1"] {
    box-shadow: elevation.boxShadow(1);
  }

  &[mdw-elevation="8"],
  &[mdw-raised~="hover"]:hover,
  &[mdw-raised~="focus"]:focus,
  &[mdw-raised~="focus-within"]:focus-within {
    box-shadow: elevation.boxShadow(8);
  }

  &[mdw-elevation="1"],
  &[mdw-elevation="8"] {
    &::before {
      border-color: transparent;
    }
  }
}

.mdw-card__actions,
.mdw-card__start,
.mdw-card__end {
  // Position z-index higher than .mdw-card__button
  position: relative;

  z-index: 2;
}

.mdw-card__header,
.mdw-card__subheader,
.mdw-card__supporting-text,
.mdw-card__content {
  padding: 0 $horizontalPadding;
}

.mdw-card__supporting-text {
  @include type.textTopToTop(14);
  @include type.baselineToBottom(16);
}

.mdw-card > .mdw-divider {
  inline-size: calc(100% - #{$horizontalPadding * 2});
  margin-inline: $horizontalPadding;
}

.mdw-card__thumbnail {
  margin-block: 16px 0;
  margin-inline: $horizontalPadding;
}

.mdw-card__start {
  float: var(--mdw-card__inline-start);
  float: inline-start;
}

.mdw-card__end {
  float: var(--mdw-card__inline-end);
  float: inline-end;
}

.mdw-card__image {
  block-size: auto;
  inline-size: 100%;
}

.mdw-card__media {
  position: relative;

  line-height: 0;

  &[mdw-ratio] > .mdw-card__image {
    position: absolute;

    block-size: 100%;

    object-fit: cover;
  }

  &[mdw-ratio]::after {
    content: '';

    display: inline-block;

    block-size: 0;
    inline-size: auto;
  }

  &[mdw-ratio="16:9"]::after {
    padding-block-end: #{math.div(100%, 16) * 9};
  }

  &[mdw-ratio="3:2"]::after {
    padding-block-end: #{math.div(100%, 3) * 2};
  }

  &[mdw-ratio="4:3"]::after {
    padding-block-end: #{math.div(100%, 4) * 3};
  }

  &[mdw-ratio="1:1"]::after {
    padding-block-end: #{math.div(100%, 1) * 1};
  }
}

.mdw-card__header-thumbnail {
  align-self: center;

  min-block-size: 40px;
  min-inline-size: 40px;
  margin-inline: 0 $horizontalPadding;
}

.mdw-card__header {
  margin: 0;
}

h5.mdw-card__header {
  @include type.textTopToTop(16);
  @include type.addRules('h5');
  @include type.baselineToBottom(28);
  margin-block-end: -28px;
}

h6.mdw-card__header {
  @include type.textTopToTop(14);
  @include type.addRules('h6');
}

.mdw-card__header[mdw-two-line] {
  @include type.baselineToBottom(22);
  margin-block-end: -22px;

  & ~ .mdw-card__subheader {
    @include type.textTopToTop(8);
    @include type.baselineToBottom(16);
  }
}

.mdw-card__actions {
  display: flex;

  padding-block-start: 8px;
  padding-inline: 4px;

  & > .mdw-button {
    margin: 0 4px;
  }

  & > span {
    flex: 1;
  }
}

.mdw-card__actions,
.mdw-card__supporting-text {
  &:last-child {
    padding-block-end: 8px;
  }
}

.mdw-button.mdw-card__button {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;

  block-size: 100%;
  inline-size: 100%;
  margin: 0;
  padding: 0;

  z-index: 1;

  border-radius: inherit;
}
