// https://material.io/design/components/cards.html#specs

@import '../common/functions.scss';
@import '../common/motion.scss';
@import '../common/variables.scss';

$mdw-card__horizontal-padding: dp(16);

.mdw-card {
  border-radius: dp(4);
  box-shadow: elevation(0);
  display: block;
  outline: none;
  @include type-rules('body-2');

  position: relative;

  &::before {
    // Outline is behind content, not around it
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    border: solid dp(1);
    border-color: inherit;
    pointer-events: none;
  }

  @include allHandsetsAndTablets() {
    &:not([mdw-elevation]) {
      box-shadow: elevation(1);
      &::before {
        border-color: transparent;
      }
    }
  }

  &[mdw-elevation="1"] {
    box-shadow: elevation(1);
  }

  &[mdw-elevation="8"],
  &[mdw-raised~="hover"]:hover,
  &[mdw-raised~="focus"]:focus,
  &[mdw-raised~="focus-within"]:focus-within {
    box-shadow: elevation(8);
  }

  &[mdw-elevation="1"],
  &[mdw-elevation="8"] {
    &::before {
      border-color: transparent;
    }
  }

  transition-property: box-shadow;
  transition-timing-function: $motion-easing-standard;
  transition-duration: $motion-duration-desktop-default;
  @include allHandsets {
    transition-duration: $motion-duration-mobile-default;
  }
  @include allTablets {
    transition-duration: $motion-duration-tablet-default;
  }
}


.mdw-card__header,
.mdw-card__subheader,
.mdw-card__supporting-text,
.mdw-card__content {
  padding: 0 $mdw-card__horizontal-padding;
}

.mdw-card__supporting-text {
  @include texttop-to-top(14);
  @include baseline-bottom(16);
}
.mdw-card > .mdw-divider {
  width: calc(100% - #{$mdw-card__horizontal-padding * 2});
  margin-left: $mdw-card__horizontal-padding;
  margin-right: $mdw-card__horizontal-padding;
}

.mdw-card__thumbnail {
  margin-top: dp(16);
  margin-bottom: 0;
  margin-right: $mdw-card__horizontal-padding;
  margin-left: $mdw-card__horizontal-padding;
}

.mdw-card__start {
  float: left;
  html[dir=rtl] & {
    float: right;
  }
}

.mdw-card__end {
  float: right;
  html[dir=rtl] & {
    float: left;
  }
}

.mdw-card__image {
  width: 100%;
  height: auto;
}

.mdw-card__media {
  line-height: 0;
  position: relative;
  &[mdw-ratio] > .mdw-card__image {
    position: absolute;
    height: 100%;
    object-fit: cover;
  }
  &[mdw-ratio]::after {
    content: '';
    display: inline-block;
    width: auto;
    height: 0;
  }
  &[mdw-ratio="16:9"]::after {
    padding-bottom: calc(100% / 16 * 9);
  }
  &[mdw-ratio="3:2"]::after {
    padding-bottom: calc(100% / 3 * 2);
  }
  &[mdw-ratio="4:3"]::after {
    padding-bottom: calc(100% / 4 * 3);
  }
  &[mdw-ratio="1:1"]::after {
    padding-bottom: calc(100% / 1 * 1);
  }
}

.mdw-card__header-thumbnail {
  align-self: center;
  min-height: 40px;
  min-width: 40px;
  margin-left: 0;
  margin-right: $mdw-card__horizontal-padding;
  html[dir=rtl] & {
    margin-left: $mdw-card__horizontal-padding;
    margin-right: 0;
  }
}

.mdw-card__header {
  margin: 0;
}
h5.mdw-card__header {
  @include texttop-to-top(16);
  @include type-rules('h5');
  @include baseline-bottom(28);
  margin-bottom: dp(-28);
}

h6.mdw-card__header {
  @include texttop-to-top(14);
  @include type-rules('h6');
}

.mdw-card__header[mdw-two-line] {
  @include baseline-bottom(22);
  margin-bottom: dp(-22);
  & ~ .mdw-card__subheader {
    @include texttop-to-top(8);
    @include baseline-bottom(16);
  }
}

.mdw-card__actions {
  display: flex;
  padding-top: dp(8);
  padding-right: dp(4);
  padding-left: dp(4);



  > .mdw-button {
    margin: 0 dp(4);
  }
  > span {
    flex: 1;
  }
}

.mdw-card__actions,
.mdw-card__supporting-text {
  &:last-child {
    padding-bottom: dp(8);
  }
}

.mdw-button.mdw-card__button {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.mdw-card__actions,
.mdw-card__start,
.mdw-card__end {
  // Position z-index higher than .mdw-card__button
  position: relative;
  z-index: 2;
}