// https://material.io/design/components/cards.html#specs

@import '../common/motion.scss';
@import '../common/platform.scss';
@import '../common/breakpoint.scss';
@import '../common/type.scss';

$mdw-card__horizontal-padding: dp(16) !default;

.mdw-card {
  @include type-rules('body-2');

  display: block;
  position: relative;

  outline: none;

  transition-duration: $mdw-motion__default-duration__desktop;
  @include mdw-breakpoint__mobile-device {
    transition-duration: $mdw-motion__default-duration__mobile;
  }
  @include mdw-breakpoint__tablet-device {
    transition-duration: $mdw-motion__default-duration__tablet;
  }
  transition-property: box-shadow;
  transition-timing-function: $mdw-motion__standard-easing;

  border-radius: dp(4);
  box-shadow: mdwElevation(0);

  &::before {
    // Outline is behind content, not around it
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border: solid dp(1);
    
    pointer-events: none;

    border-color: inherit;
    border-radius: inherit;
  }

  @include mdw-breakpoint__tablet-device__max() {
    &:not([mdw-elevation]) {
      box-shadow: mdwElevation(1);

      &::before {
        border-color: transparent;
      }
    }
  }

  &[mdw-elevation="1"] {
    box-shadow: mdwElevation(1);
  }

  &[mdw-elevation="8"],
  &[mdw-raised~="hover"]:hover,
  &[mdw-raised~="focus"]:focus,
  &[mdw-raised~="focus-within"]:focus-within {
    box-shadow: mdwElevation(8);
  }

  &[mdw-elevation="1"],
  &[mdw-elevation="8"] {
    &::before {
      border-color: transparent;
    }
  }
}


.mdw-card__actions,
.mdw-card__start,
.mdw-card__end {
  // Position z-index higher than .mdw-card__button
  position: relative;
  
  z-index: 2;
}

.mdw-card__header,
.mdw-card__subheader,
.mdw-card__supporting-text,
.mdw-card__content {
  padding: 0 $mdw-card__horizontal-padding;
}

.mdw-card__supporting-text {
  @include texttop-to-top(14);
  @include baseline-bottom(16);
}

.mdw-card > .mdw-divider {
  width: calc(100% - #{$mdw-card__horizontal-padding * 2});
  margin-right: $mdw-card__horizontal-padding;
  margin-left: $mdw-card__horizontal-padding;
}

.mdw-card__thumbnail {
  margin-top: dp(16);
  margin-right: $mdw-card__horizontal-padding;
  margin-bottom: 0;
  margin-left: $mdw-card__horizontal-padding;
}

.mdw-card__start {
  float: left;

  :root[dir="rtl"] & {
    float: right;
  }
}

.mdw-card__end {
  float: right;

  :root[dir="rtl"] & {
    float: left;
  }
}

.mdw-card__image {
  height: auto;
  width: 100%;
}

.mdw-card__media {
  position: relative;

  line-height: 0;

  &[mdw-ratio] > .mdw-card__image {
    position: absolute;

    height: 100%;

    object-fit: cover;
  }

  &[mdw-ratio]::after {
    content: '';

    display: inline-block;

    height: 0;
    width: auto;
  }

  &[mdw-ratio="16:9"]::after {
    padding-bottom: calc(100% / 16 * 9);
  }

  &[mdw-ratio="3:2"]::after {
    padding-bottom: calc(100% / 3 * 2);
  }

  &[mdw-ratio="4:3"]::after {
    padding-bottom: calc(100% / 4 * 3);
  }

  &[mdw-ratio="1:1"]::after {
    padding-bottom: calc(100% / 1 * 1);
  }
}

.mdw-card__header-thumbnail {
  align-self: center;

  min-height: dp(40);
  min-width: dp(40);
  margin-right: $mdw-card__horizontal-padding;
  margin-left: 0;

  :root[dir="rtl"] & {
    margin-right: 0;
    margin-left: $mdw-card__horizontal-padding;
  }
}

.mdw-card__header {
  margin: 0;
}

h5.mdw-card__header {
  @include texttop-to-top(16);
  @include type-rules('h5');
  @include baseline-bottom(28);
  margin-bottom: dp(-28);
}

h6.mdw-card__header {
  @include texttop-to-top(14);
  @include type-rules('h6');
}

.mdw-card__header[mdw-two-line] {
  @include baseline-bottom(22);
  margin-bottom: dp(-22);

  & ~ .mdw-card__subheader {
    @include texttop-to-top(8);
    @include baseline-bottom(16);
  }
}

.mdw-card__actions {
  display: flex;

  padding-top: dp(8);
  padding-right: dp(4);
  padding-left: dp(4);

  & > .mdw-button {
    margin: 0 dp(4);
  }

  & > span {
    flex: 1;
  }
}

.mdw-card__actions,
.mdw-card__supporting-text {
  &:last-child {
    padding-bottom: dp(8);
  }
}

.mdw-button.mdw-card__button {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  z-index: 1;

  border-radius: inherit;
}

