@import '../common/theming.scss';

$cardColors: (
  background:   ((#fff, 1.00), ('background', '800', 1.00)),
  text-color:   (('foreground-light', 0.87), ('foreground-dark', 1.00)),
  border-color: (('foreground-light', 0.12), ('foreground-dark', 0.12)),
  focus-color:  (('foreground-light', 0.06), ('foreground-dark', 0.10)),
);

@function cardThemeValue($key, $type, $theme) {
  @return themeValue('card', $cardColors, $key, $type, $theme);
}

@mixin cardThemeVariables($lightness) {
  @include themeVariables('card', $cardColors, $lightness);
}

@mixin internalContrastAndThemeRules($type, $theme: null) {
  @at-root {
    #{&}.mdw-card{
      &:not([mdw-theme-fill]) {
        background-color: cardThemeValue("background", $type, $theme);
      }
      &:not([mdw-theme-color]) {
        color: cardThemeValue("text-color", $type, $theme);
      }
      border-color: cardThemeValue("border-color", $type, $theme);
      &:focus::before {
        background-color: cardThemeValue("focus-color", $type, $theme);
      }
    }
  }
}
// Vary by contrast or theme
@mixin cardContrastAndThemeRules($type: 'var', $theme: null) {
  @include internalContrastAndThemeRules($type, $theme);
  @if ($type != 'var') {
    :not([mdw-theme-fill]) {
      @include internalContrastAndThemeRules($type, $theme);
    }
  }
}