@import '../../core/theme/exports.scss';

$mdw-card__theme-values: (
  background:   ((#fff, 1.00), ('background', '800', 1.00)),
  border-color: (('foreground-light', 0.12), ('foreground-dark', 0.12)),
  focus-color:  (('foreground-light', 0.06), ('foreground-dark', 0.10)),
) !default;

@function mdwCardThemeValue($key, $type, $theme) {
  @return mdwGetThemeValue('card', $mdw-card__theme-values, $key, $type, $theme);
}

@mixin mdw-card__theme-rules($type: 'var', $theme: null) {
  .mdw-card {
    border-color: mdwCardThemeValue("border-color", $type, $theme);

    &:not([mdw-fill]) {
      background-color: mdwCardThemeValue("background", $type, $theme);
    }

    &:focus::before {
      background-color: mdwCardThemeValue("focus-color", $type, $theme);
    }
  }
}

@each $name in map-keys($mdw-theme__themes) {
  $theme: map-get($mdw-theme__themes, $name);
  @include mdw-theme__add-component-fallback-rules('light', $name) {
    @include mdw-card__theme-rules('light', $theme);
  }
  @include mdw-theme__add-component-fallback-rules('dark', $name) {
    @include mdw-card__theme-rules('dark', $theme);
  }
}

@include mdw-theme__add-component-variable-rules('card', $mdw-card__theme-values) {
  @include mdw-card__theme-rules();
}
