@import '../common/theming.scss';

$mdw-card__theme-values: (
  background:   ((#fff, 1.00), ('background', '800', 1.00)),
  border-color: (('foreground-light', 0.12), ('foreground-dark', 0.12)),
  focus-color:  (('foreground-light', 0.06), ('foreground-dark', 0.10)),
) !default;

@function mdwCardThemeValue($key, $type, $theme) {
  @return mdwGetThemeValue('card', $mdw-card__theme-values, $key, $type, $theme);
}

@mixin mdw-card__theme-variables($lightness) {
  @include mdw-theme__variables('card', $mdw-card__theme-values, $lightness);
}

// Vary by contrast or theme
@mixin mdw-card__contrast-and-theme-rules($type: 'var', $theme: null) {
  .mdw-card {
    border-color: mdwCardThemeValue("border-color", $type, $theme);

    &:not([mdw-fill]) {
      background-color: mdwCardThemeValue("background", $type, $theme);
    }

    &:focus::before {
      background-color: mdwCardThemeValue("focus-color", $type, $theme);
    }
  }
}
