.mdw-overlay {
  position: relative;

  outline: none;
  -webkit-tap-highlight-color: transparent;
  // Remove Firefox inner
  &::-moz-focus-inner {
    border: 0;
  }

  
  &::before {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    transition-delay: 1ms;
    transition-duration: 0ms;
    transition-property: opacity, color, background-color;

    opacity: 0;
    pointer-events: none;

    background-color: currentColor;
    border-radius: inherit;
  }
}
