// https://material.io/design/interaction/states.html

@import '../theme/index.scss';

$mdw-overlay__theme-values: (
  overlay-color:                 $mdw-theme__foreground,

  high-opacity:                  $mdw-theme__high-opacity,
  medium-opacity:                $mdw-theme__medium-opacity,
  inactive-opacity:              $mdw-theme__inactive-opacity,
  divider-opacity:               $mdw-theme__divider-opacity,
  
  disabled-opacity:              (0.38, 0.50),
  
  // states   

  hover-opacity:                 (0.04, 0.08),
  focus-opacity:                 (0.12, 0.24),
  selected-opacity:              (0.08, 0.16),
  activated-opacity:             (0.12, 0.24),
  
  hover-focus-opacity:           (0.04 + 0.12, 0.08 + 0.24),

  selected-hover-opacity:        (0.08 + 0.04, 0.16 + 0.08),
  selected-focus-opacity:        (0.08 + 0.12, 0.16 + 0.24),
  selected-hover-focus-opacity:  (0.08 + 0.04 + 0.12, 0.16 + 0.08 + 0.24),

  activated-hover-opacity:       (0.12 + 0.04, 0.24 + 0.08),
  activated-focus-opacity:       (0.12 + 0.12, 0.24 + 0.24),
  activated-hover-focus-opacity: (0.12 + 0.04 + 0.12, 0.24 + 0.08 + 0.24),
) !default;

@function mdwOverlayThemeValue($key, $type) {
  @return mdwGetThemeValue('overlay', $mdw-overlay__theme-values, $key, $type);
}

@mixin mdw-overlay__theme-rules($type: 'var') {
  .mdw-overlay {
    &,
    &[aria-pressed="false"]:active,
    &[aria-selected="true"],
    &[aria-pressed="true"],
    &[aria-current] {
      &::before {
        @if ($type == 'var') {
          color: RGB(var(--mdw-ink));
        } @else {
          // Handled by mdw-color
        }
      }
    }

    &[aria-selected="false"],
    &[aria-pressed="false"],
    &[aria-disabled="true"],
    &[aria-disabled="true"]:active {
      &::before {
        @if ($type == 'var') {
          color: RGB(mdwOverlayThemeValue("overlay-color", $type));
        } @else {
          background-color: RGB(mdwOverlayThemeValue("overlay-color", $type));
        }
      }
    }

    // Off color
    &[aria-selected="false"],
    &[aria-pressed="false"],
    &[aria-selected="true"]:not([aria-current]) {
      #{if($type == 'var', '&', '&,&.mdw-theme')} {
        color: RGBA(mdwOverlayThemeValue("overlay-color", $type), mdwOverlayThemeValue("high-opacity", $type));
        &[mdw-border-ink] {
          border-color: RGBA(mdwOverlayThemeValue("overlay-color", $type), mdwOverlayThemeValue("divider-opacity", $type));
        }
        &[mdw-overlay-default="medium"] {
          color: RGBA(mdwOverlayThemeValue("overlay-color", $type), mdwOverlayThemeValue("medium-opacity", $type));
        }
        &[mdw-overlay-default="inactive"] {
          color: RGBA(mdwOverlayThemeValue("overlay-color", $type), mdwOverlayThemeValue("inactive-opacity", $type));
        }
        &[mdw-overlay-default="divider"] {
          color: RGBA(mdwOverlayThemeValue("overlay-color", $type), mdwOverlayThemeValue("divider-opacity", $type));
        }
      }
    }

    &[aria-disabled="true"] {
      &[mdw-overlay-disabled="ink"] {
        color: RGBA(mdwOverlayThemeValue("overlay-color", $type), mdwOverlayThemeValue("inactive-opacity", $type));
      }
      &:not([mdw-overlay-disabled]) {
        opacity: mdwOverlayThemeValue("disabled-opacity", $type);
      }
    }

    &:not([mdw-overlay-touch="true"]) {
      &:focus:not([mdw-overlay-off~="focus"]):not([mdw-overlay-touch="true"])::before {
        opacity: mdwOverlayThemeValue("focus-opacity", $type);
      }

      &:not([aria-disabled="true"]):not([mdw-overlay-touch="true"]) {
        &:hover:not([mdw-overlay-off~="hover"])::before {
          opacity: mdwOverlayThemeValue("hover-opacity", $type);
        }

        &:hover:focus:not([mdw-overlay-off~="hover"]):not([mdw-overlay-off~="focus"])::before {
          opacity: mdwOverlayThemeValue("hover-focus-opacity", $type);
        }
      }
    }

    // Selected
    &[aria-selected="true"]:not([mdw-overlay-off~="selected"]) {
      &::before {
        opacity: mdwOverlayThemeValue("selected-opacity", $type);
      }

      &:not([mdw-overlay-touch="true"]) {
        &:focus:not([mdw-overlay-off~="focus"])::before {
          opacity: mdwOverlayThemeValue("selected-focus-opacity", $type);
        }

        &:not([aria-disabled="true"]) {
          &:hover:not([mdw-overlay-off~="hover"])::before {
            opacity: mdwOverlayThemeValue("selected-hover-opacity", $type);
          }

          &:hover:focus:not([mdw-overlay-off~="hover"]):not([mdw-overlay-off~="focus"])::before {
            opacity: mdwOverlayThemeValue("selected-hover-focus-opacity", $type);
          }
        }
      }
    }

    // Activated
    &[aria-current]:not([mdw-overlay-off~="activated"]),
    &[aria-pressed="true"]:not([mdw-overlay-off~="activated"]) {
      &::before {
        opacity: mdwOverlayThemeValue("activated-opacity", $type);
      }

      &:not([mdw-overlay-touch="true"]) {
        &:focus:not([mdw-overlay-off~="focus"])::before {
          opacity: mdwOverlayThemeValue("activated-focus-opacity", $type);
        }

        &:not([aria-disabled="true"]) {
          &:hover:not([mdw-overlay-off~="hover"])::before {
            opacity: mdwOverlayThemeValue("activated-hover-opacity", $type);
          }

          &:hover:focus:not([mdw-overlay-off~="hover"]):not([mdw-overlay-off~="focus"])::before {
            opacity: mdwOverlayThemeValue("activated-hover-focus-opacity", $type);
          }
        }
      }
    }
  }
}

@include mdw-theme__add-component-fallback-rules('light') {
  @include mdw-overlay__theme-rules('light');
}
@include mdw-theme__add-component-fallback-rules('dark') {
  @include mdw-overlay__theme-rules('dark');
}


@include mdw-theme__add-component-variable-rules('overlay', $mdw-overlay__theme-values) {
  @include mdw-overlay__theme-rules();
}
