// https://material.io/design/interaction/states.html

.mdw-theme {
  --mdw-overlay__overlay-rgb: var(--mdw-ink-default);
  --mdw-overlay__high-opacity: var(--mdw-high-opacity);
  --mdw-overlay__medium-opacity: var(--mdw-medium-opacity);
  --mdw-overlay__inactive-opacity: var(--mdw-inactive-opacity);
  --mdw-overlay__divider-opacity: var(--mdw-divider-opacity);
  --mdw-overlay__base-opacity: var(--mdw-overlay__base-opacity-value);
  --mdw-overlay__disabled-opacity: var(--mdw-overlay__disabled-opacity-value);
  --mdw-overlay__hover-opacity: var(--mdw-overlay__hover-opacity-value);
  --mdw-overlay__focus-opacity: var(--mdw-overlay__focus-opacity-value);
  --mdw-overlay__selected-opacity: var(--mdw-overlay__selected-opacity-value);
  --mdw-overlay__activated-opacity: var(--mdw-overlay__activated-opacity-value);

}

.mdw-theme[mdw-light] {
  --mdw-overlay__base-opacity-value: 0;
  --mdw-overlay__base-opacity-elevation_1: 0;
  --mdw-overlay__base-opacity-elevation_2: 0;
  --mdw-overlay__base-opacity-elevation_3: 0;
  --mdw-overlay__base-opacity-elevation_4: 0;
  --mdw-overlay__base-opacity-elevation_6: 0;
  --mdw-overlay__base-opacity-elevation_8: 0;
  --mdw-overlay__base-opacity-elevation_9: 0;
  --mdw-overlay__base-opacity-elevation_12: 0;
  --mdw-overlay__base-opacity-elevation_16: 0;
  --mdw-overlay__base-opacity-elevation_24: 0;
  --mdw-overlay__disabled-opacity-value: 0.38;
  --mdw-overlay__hover-opacity-value: 0.04;
  --mdw-overlay__focus-opacity-value: 0.12;
  --mdw-overlay__selected-opacity-value: 0.08;
  --mdw-overlay__activated-opacity-value: 0.12;
}

.mdw-theme[mdw-dark] {
  --mdw-overlay__base-opacity-value: 0;
  --mdw-overlay__base-opacity-elevation_1: 0.05;
  --mdw-overlay__base-opacity-elevation_2: 0.07;
  --mdw-overlay__base-opacity-elevation_3: 0.08;
  --mdw-overlay__base-opacity-elevation_4: 0.09;
  --mdw-overlay__base-opacity-elevation_6: 0.11;
  --mdw-overlay__base-opacity-elevation_8: 0.12;
  --mdw-overlay__base-opacity-elevation_9: 0.13;
  --mdw-overlay__base-opacity-elevation_12: 0.14;
  --mdw-overlay__base-opacity-elevation_16: 0.15;
  --mdw-overlay__base-opacity-elevation_24: 0.16;
  --mdw-overlay__disabled-opacity-value: 0.50;
  --mdw-overlay__hover-opacity-value: 0.08;
  --mdw-overlay__focus-opacity-value: 0.24;
  --mdw-overlay__selected-opacity-value: 0.16;
  --mdw-overlay__activated-opacity-value: 0.24;
}

.mdw-overlay {
  // Disable Hover State
  &[aria-disabled="true"],
  &[mdw-overlay-touch="true"],
  &[mdw-overlay-off~="hover"],
  &:not(:hover) {
    --mdw-overlay__hover-opacity: 0;
  }

  // Disable Focus State
  &[aria-disabled="true"],
  &[mdw-overlay-touch="true"],
  &[mdw-overlay-off~="focus"],
  &:not(:focus) {
    --mdw-overlay__focus-opacity: 0;
  }

  // Disable Selected State
  // Activated overrides Selected
  &[mdw-overlay-off~="selected"],
  &:not([aria-selected="true"]),
  &[aria-current],
  &[aria-pressed="true"] {
    --mdw-overlay__selected-opacity: 0;
  }

  &[mdw-overlay-off~="activated"],
  &:not([aria-current]):not([aria-pressed="true"]) {
    --mdw-overlay__activated-opacity: 0;
  }

  &::before {
    opacity: calc(var(--mdw-overlay__base-opacity) + var(--mdw-overlay__hover-opacity) + var(--mdw-overlay__focus-opacity) + var(--mdw-overlay__selected-opacity) + var(--mdw-overlay__activated-opacity));

    color: RGB(var(--mdw-overlay__overlay-rgb));
  }

  &:hover,
  &:focus,
  &[aria-pressed="false"]:active,
  &[aria-selected="true"],
  &[aria-pressed="true"],
  &[aria-current] {
    &::before {
      color: RGB(var(--mdw-ink));
    }
  }

  &[aria-selected="false"],
  &[aria-pressed="false"],
  &[aria-disabled="true"],
  &[aria-disabled="true"]:active {
    &::before {
      color: RGB(var(--mdw-overlay__overlay-rgb));
    }
  }

  // Off color
  &[aria-selected="false"],
  &[aria-pressed="false"],
  &[aria-selected="true"]:not([aria-current]) {
    --mdw-overlay__text-opacity: var(--mdw-overlay__high-opacity);

    color: RGBA(var(--mdw-overlay__overlay-rgb), var(--mdw-overlay__text-opacity));

    &[mdw-overlay-default="medium"] {
      --mdw-overlay__text-opacity: var(--mdw-overlay__medium-opacity);
    }

    &[mdw-overlay-default="inactive"] {
      --mdw-overlay__text-opacity: var(--mdw-overlay__inactive-opacity);
    }

    &[mdw-overlay-default="divider"] {
      --mdw-overlay__text-opacity: var(--mdw-overlay__divider-opacity);
    }

    &[mdw-border-ink] {
      border-color: RGBA(var(--mdw-overlay__overlay-rgb), var(--mdw-overlay__divider-opacity));
    }
  }

  &[aria-disabled="true"] {
    &[mdw-overlay-disabled="ink"] {
      color: RGBA(var(--mdw-overlay__overlay-rgb), var(--mdw-overlay__inactive-opacity));
    }

    &:not([mdw-overlay-disabled]) {
      opacity: var(--mdw-overlay__disabled-opacity);
    }
  }
}
