include ../_mixins.pug

#dialog-alert.mdw-dialog(mdw-width-units="5")
  .mdw-dialog__popup.mdw-theme(mdw-surface="card")
    .mdw-dialog__title title
    .mdw-dialog__body.mdw-theme(mdw-ink="medium") body
    .mdw-dialog__button-area
      +mdwButton({ ink:'secondary' })(mdw-autofocus) OK
#dialog-confirm.mdw-dialog(mdw-width-units="5")
  .mdw-dialog__popup.mdw-theme(mdw-surface="card")
    .mdw-dialog__title title
    .mdw-dialog__body.mdw-theme(mdw-ink="medium") body
    .mdw-dialog__button-area
      +mdwButton({ ink:'secondary' })(mdw-autofocus) Yes
      +mdwButton({ ink:'secondary' }) No