#dialog-alert.mdw-dialog(mdw-width-units="5")
  .mdw-dialog__popup
    .mdw-dialog__title title
    .mdw-dialog__body body
    .mdw-dialog__button-area
      button.mdw-button.mdw-theme(mdw-color="accent" tabindex="0" mdw-autofocus) OK
#dialog-confirm.mdw-dialog(mdw-width-units="5")
  .mdw-dialog__popup
    .mdw-dialog__title title
    .mdw-dialog__body body
    .mdw-dialog__button-area
      button.mdw-button.mdw-theme(mdw-color="accent" tabindex="0" mdw-autofocus) Yes
      button.mdw-button.mdw-theme(mdw-color="accent" tabindex="0") No