#sample-menu.mdw-menu(mdw-width-units="4")
  .mdw-menu__popup
    .mdw-menu__item(data-action="connect")
      .mdw-menu__icon.material-icons &#xE61D;
      .mdw-menu__text Connect
    .mdw-menu__item(data-action="hold")
      .mdw-menu__icon.material-icons &#xE620;
      .mdw-menu__text Hold
    .mdw-menu__item(data-action="disconnect")
      .mdw-menu__icon.material-icons &#xE0B1;
      .mdw-menu__text Disconnect