// https://material.io/guidelines/components/tooltips.html

$tooltip__margin__desktop: dp(14);
$tooltip__margin__mobile: dp(24);
$tooltip__background-color: #616161; // material-grey-700

.mdw-tooltip__wrapper {
  position: relative;
  overflow: visible;
}

.mdw-tooltip {
  position: absolute;
  cursor: none;
  top: 100%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  background-color: $tooltip__background-color;
  color: white;
  font-weight: $font-weight-medium;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 150ms;
  transition-timing-function: $motion-easing-deceleration;
  z-index: 8;
  border-radius: dp(2);
  pointer-events: none;
  line-height: normal;
  font-size: sp(10);
  min-height: dp(22);
  padding-left: dp(8);
  padding-right: dp(8);
  transform: translateX(-50%) translateY($tooltip__margin__desktop);

  *:hover > &,
  *:focus > &,
  .mdw-tooltip__wrapper > *:hover ~ &,
  .mdw-tooltip__wrapper > *:not([tabindex="-1"]):focus ~ & {
    opacity: 0.9;
    transition-timing-function: $motion-easing-acceleration;
  }

  &[mdw-position="start"],
  &[mdw-position="end"],
  &[mdw-position="left"],
  &[mdw-position="right"] {
    left: 0;
    top: 50%;
  }

  &[mdw-position="start"],
  &[mdw-position="left"],
  [dir=rtl] &[mdw-position="end"] {
    transform: translateY(-50%) translateX(-100%) translateX(-$tooltip__margin__desktop);
  }

  &[mdw-position="end"],
  &[mdw-position="right"],
  [dir=rtl] &[mdw-position="start"] {
    transform: translateY(-50%) translateX(100%) translateX($tooltip__margin__desktop);
  }

  &[mdw-position="top"] {
    top: 0;
    transform: translateX(-50%) translateY(-100%) translateY(-$tooltip__margin__desktop);
  }
  
}

// Button position fix
.mdw-tooltip__wrapper > .mdw-button[mdw-icon] ~ .mdw-tooltip {
  margin-top: -8px;
  &[mdw-position="top"] {
    margin-top: 8px;
  }
}

// Menu flicker fix
.mdw-menu__wrapper > .mdw-menu:target ~ .mdw-tooltip,
.mdw-menu__wrapper > .mdw-menu[mdw-show]:not([mdw-hide]) ~ .mdw-tooltip {
  opacity: 0;
  transition-delay: 0;
}

@media (any-pointer: coarse) {
  .mdw-tooltip {
    transition-delay: 1.5s;
    font-size: sp(14);
    min-height: dp(32);
    padding-left: dp(16);
    padding-right: dp(16);
    transform: translateX(-50%) translateY($tooltip__margin__mobile);

    &[mdw-position="start"],
    &[mdw-position="left"],
    [dir=rtl] &[mdw-position="end"] {
      transform: translateY(-50%) translateX(-100%) translateX(-$tooltip__margin__mobile);
    }

    &[mdw-position="end"],
    &[mdw-position="right"],
    [dir=rtl] &[mdw-position="start"] {
      transform: translateY(-50%) translateX(100%) translateX($tooltip__margin__mobile);
    }

    &[mdw-position="top"] {
      transform: translateX(-50%) translateY(-100%) translateY(-$tooltip__margin__mobile);
    }

    // Don't change opacity unless active
    *:focus:not(:active) > &,
    .mdw-tooltip__wrapper > *:not([tabindex="-1"]):focus:not(:active) ~ & {
      opacity: 0;
    }

    *:active > &,
    .mdw-tooltip__wrapper > *:active ~ .mdw-tooltip {
      opacity: 0.9;
      transition-timing-function: $motion-easing-acceleration;
    }
  }

}
