@import '../../core/theme/index.scss';

$mdw-dialog__theme-values: (
  title-color:        $mdw-theme__default-ink,
  body-color:         $mdw-theme__medium-ink,
  background-color:   $mdw-theme__card-surface,
) !default;

@function mdwDialogThemeValue($key, $type, $theme) {
  @return mdwGetThemeValue('dialog', $mdw-dialog__theme-values, $key, $type, $theme);
}

@mixin mdw-dialog__theme-rules($type: 'var', $theme: null) {
  .mdw-dialog__popup {
    background-color: mdwDialogThemeValue("background-color", $type, $theme);
  }
  
  .mdw-dialog__title {
    color: mdwDialogThemeValue("title-color", $type, $theme);
  }
  
  .mdw-dialog__body {
    color: mdwDialogThemeValue("body-color", $type, $theme);
  }
}

@each $name in map-keys($mdw-theme__themes) {
  $theme: map-get($mdw-theme__themes, $name);
  @include mdw-theme__add-component-fallback-rules('light', $name) {
    @include mdw-dialog__theme-rules('light', $theme);
  }
  @include mdw-theme__add-component-fallback-rules('dark', $name) {
    @include mdw-dialog__theme-rules('dark', $theme);
  }
}

@include mdw-theme__add-component-variable-rules('dialog', $mdw-dialog__theme-values) {
  @include mdw-dialog__theme-rules();
}
