:host {
  --mdw-shape__size: 28px;
  --mdw-container__elevation__opacity: var(--mdw-container__elevation__opacity__3);
  --mdw-container__box-shadow: var(--mdw-container__box-shadow__3);
  --mdw-bg: var(--mdw-color__surface);
  --mdw-ink: var(--mdw-color__on-surface);
  --mdw-dialog__expand-duration: var(--mdw-motion-expand-duration, 250ms);
  --mdw-dialog__simple-duration: var(--mdw-motion-simple-duration, 100ms);
  --mdw-dialog__standard-easing: var(--mdw-motion-standard-easing, cubic-bezier(0.4, 0.0, 0.2, 1));
  --mdw-dialog__deceleration-easing: var(--mdw-motion-deceleration-easing, cubic-bezier(0.0, 0.0, 0.2, 1));

  --mdw-dialog__fade-in-duration: var(--mdw-motion-fade-in-duration, 150ms);
  --mdw-dialog__scrim__visibility: hidden;

  --mdw-bg: var(--mdw-color__surface);
  --mdw-ink: var(--mdw-color__on-surface);

  --mdw-dialog__edge-distance: 48px;

  position: fixed;
  inset: 0;

  pointer-events: none;

  /* Handled by theme */
  /* background-color: rgba(0, 0, 0, 0.50); */

  z-index: 24;
}

@media (min-width: 1440px) {
  :host {
    --mdw-dialog__edge-distance: 56px;
  }
}

dialog {
  display: flex;
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;

  align-items: center;
  flex-direction: row;
  justify-content: center;

  box-sizing: border-box;
  block-size:100%;
  max-block-size: none;
  inline-size:100%;
  max-inline-size: none;
  margin:0;
  border: none;
  padding: var(--mdw-dialog__edge-distance);

  /* Handled by theme */
  /* background-color: rgba(0, 0, 0, 0.50); */

  transition: none;

  transition-duration: motion.$fadeOutDuration;
  transition-property: opacity;
  transition-timing-function: motion.$accelerateEasing;
  will-change: opacity;

  opacity: 0;
  visibility: hidden;

  z-index: 24;

  background-color: transparent;
}

dialog::backdrop {
  /** Use scrim instead */
  display: none;
}

dialog[aria-hidden="false"],
dialog:modal {
  --mdw-dialog__scrim__visibility: visible;
  pointer-events: auto;

  transition-duration: var(--mdw-dialog__fade-in-duration);
  transition-property: opacity;
  transition-timing-function: var(--mdw-dialog__deceleration-easing);

  opacity: 1;
  visibility: visible;
}

#scrim {
  position: fixed;
  inset: 0;

  overflow-y: scroll;
  overscroll-behavior: none;
  overscroll-behavior: contain;
  scrollbar-width: none;

  block-size: 100%;
  inline-size: 100%;

  cursor: default;

  pointer-events: inherit;
  -webkit-tap-highlight-color: transparent;

  opacity: 0.38;
  visibility: var(--mdw-dialog__scrim__visibility);

  z-index:0;

  background-color: black;

}

#scrim::-webkit-scrollbar {
  display: none;
}

#scrim::after {
  content: '';

  display: block;

  block-size: 200%;
  inline-size: 200%;
}

@keyframes scaleUpAnimation {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

dialog[aria-hidden="false"] #container,
dialog:modal #container {
  animation-name: scaleUpAnimation;
  animation-duration: var(--mdw-dialog__fade-in-duration);
  animation-direction: forwards;
}

#container {
  /* --mdw-shape__size: 28px;
  --mdw-container__elevation__opacity: var(--mdw-container__elevation__opacity__3);
  --mdw-container__box-shadow: var(--mdw-container__box-shadow__3);

  --mdw-type__font-weight: var(--mdw-typescale__body-medium__font-weight);
  --mdw-type__font-size: var(--mdw-typescale__body-medium__font-size);
  --mdw-type__line-height: var(--mdw-typescale__body-medium__line-height);
  --mdw-type__font-family: var(--mdw-typescale__body-medium__font-family);
  --mdw-type__letter-spacing: var(--mdw-typescale__body-medium__letter-spacing); */

  display: flex;

  position: relative;
  align-items: center;
  flex-direction: column;
  flex-direction: column;

  overflow-y: auto;

  overscroll-behavior: none;
  overscroll-behavior: contain;

  box-sizing: border-box;
  max-block-size: 100%;

  min-inline-size: 280px;
  max-inline-size: 560px;

  flex-shrink: 1;

  padding: 24px;

  will-change: display, transform;

  transform: scale(1);
  transform-origin: bottom center;
  z-index: 24;

  background-color: rgb(var(--mdw-color__surface));
  color: rgb(var(--mdw-color__on-surface-variant));

  -webkit-overflow-scrolling: touch;
}

#headline {
  --mdw-type__font-weight: var(--mdw-typescale__headline-small__font-weight);
  --mdw-type__font-size: var(--mdw-typescale__headline-small__font-size);
  --mdw-type__line-height: var(--mdw-typescale__headline-small__line-height);
  --mdw-type__font-family: var(--mdw-typescale__headline-small__font-family);
  --mdw-type__letter-spacing: var(--mdw-typescale__headline-small__letter-spacing);
  margin-block-end: 16px;
}

#icon {
  --mdw-icon__size: 24px;
  margin-block-end: 16px;

  color: rgb(var(--mdw-color__secondary));
}

#body[slotted] {
  display:block;
  overflow-y: auto;

  border-style: solid none;

  border-width: 1px 0;

  border-color: rgb(var(--mdw-color__outline));
}
