// https://material.io/guidelines/components/dialogs.html

// https://material.io/guidelines/components/menus.html

// https://material.io/guidelines/motion/choreography.html#choreography-creation

$dialog__unit-width: dp(56);

.mdw-dialog__close {
  visibility: hidden;
  pointer-events: inherit;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // z-index: -1; // Safari has a negative z-index bug
  cursor: default;
  background-color: rgba(black, 0.50);
}

.mdw-dialog {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: dp(24) dp(40);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  pointer-events: none;
  z-index: 24;
  transition-property: opacity;
  transition-timing-function: $motion-easing-deceleration;
  transition-duration: $motion-duration-desktop-leave;
  @include allHandsets {
    transition-duration: $motion-duration-mobile-leave;
  }
  @include allTablets {
    transition-duration: $motion-duration-tablet-leave;
  }
  @for $i from 3 to 7 {
    &[mdw-width-units="#{$i}"] {
      width: calc(#{$dialog__unit-width} * #{$i});
    }
  }
  opacity: 0;
  &[mdw-show]:not([mdw-hide]),
  &[id]:target {
    opacity: 1;
    pointer-events: auto;
    transition-timing-function: $motion-easing-acceleration;
    transition-duration: $motion-duration-desktop-enter;
    @include allHandsets {
      transition-duration: $motion-duration-mobile-enter;
    }
    @include allTablets {
      transition-duration: $motion-duration-tablet-enter;
    }
    .mdw-dialog__close {
      visibility: visible;
    }
    .mdw-dialog__popup {
      transform: scale(1);
    }
  }
}

.mdw-dialog__popup {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  min-width: dp(224);
  border-radius: dp(2);
  box-shadow: elevation(24);
  transition-property: transform;
  transition-duration: inherit;
  transition-timing-function: inherit;
  z-index: 24;
  transform-origin: center bottom;
  transform: scale(0);
}

.mdw-dialog__content {
  display: flex;
  flex-direction: column;
  padding: 0 dp(24);
}
.mdw-dialog__title {
  font-weight: $font-weight-medium;
  line-height: dp(28);
  font-size: sp(20);
  
  // 24dp top padding
  &::before {
    content: "\200D"; // &zwj;
    display: inline-block;
    margin-top: dp(24);
    line-height: 1;
    vertical-align: text-bottom;
  }

  // 20dp bottom padding from baseline
  // 10dp from self and 10dp from next
  &::after {
    content: "\200D"; // &zwj;
    display: inline-block;
    line-height: 1;
    margin-bottom: dp(10);
    vertical-align: text-top;
  }
  &:last-child::after {
    content: "\200D"; // &zwj;
    display: inline-block;
    line-height: 1;
    margin-bottom: dp(20);
    vertical-align: text-top;
  }
}

.mdw-dialog__body {
  font-weight: $font-weight-regular;
  line-height: dp(24);
  font-size: sp(16);
  
  // 24dp top padding or 10+10 if followed by title
  &::before {
    content: "\200D"; // &zwj;
    display: inline-block;
    margin-top: dp(24);
    line-height: 1;
    vertical-align: text-bottom;
    .mdw-dialog__title ~ & {
      margin-top: dp(10);
    }
  }

  // 20dp bottom padding from baseline
  &::after {
    content: "\200D"; // &zwj;
    display: inline-block;
    line-height: 1;
    vertical-align: text-top;
    margin-bottom: dp(20);
  }
}



// 10dp top padding to complete previous item
.mdw-dialog__button-area {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin-top: dp(8);
  margin-bottom: dp(8);
  flex-wrap: wrap;
  &[mdw-stacked] {
    margin-top: 0;
    .mdw-button {
      flex-basis: 100%;
      min-height: dp(48);
      padding-left: dp(16);
      padding-right: dp(16);
      justify-content: flex-end;
      margin-right: 0;
      &, html[dir=rtl] & {
        margin-left: 0;
      }
    }
  }
  .mdw-button {
    text-align: end;
    margin-left: 0;
    margin-right: dp(8);
    html[dir=rtl] & {
      margin-right: 0;
      margin-left: dp(8);
    }
  }
}
