// https://material.io/guidelines/components/dialogs.html

// https://material.io/guidelines/components/menus.html

// https://material.io/guidelines/motion/choreography.html#choreography-creation

@import '../common/type.scss';

$dialog__unit-width: dp(56);

.mdw-dialog__close {
  visibility: hidden;
  pointer-events: inherit;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // z-index: -1; // Safari has a negative z-index bug
  cursor: default;
  background-color: rgba(0, 0, 0, 0.50);
}

.mdw-dialog {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: dp(84) dp(40);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  pointer-events: none;
  z-index: 24;
  transition-property: opacity;
  transition-timing-function: $motion-easing-deceleration;
  transition-duration: $motion-duration-desktop-leave;
  @include allHandsets {
    transition-duration: $motion-duration-mobile-leave;
  }
  @include allTablets {
    transition-duration: $motion-duration-tablet-leave;
  }
  @for $i from 3 to 8 {
    &[mdw-width-units="#{$i}"] {
      .mdw-dialog__popup {
        min-width: calc(#{$dialog__unit-width} * #{$i});
      }
    }
  }
  opacity: 0;
  &[mdw-show]:not([mdw-hide]),
  &[id]:target {
    opacity: 1;
    pointer-events: auto;
    transition-timing-function: $motion-easing-acceleration;
    transition-duration: $motion-duration-desktop-enter;
    @include allHandsets {
      transition-duration: $motion-duration-mobile-enter;
    }
    @include allTablets {
      transition-duration: $motion-duration-tablet-enter;
    }
    .mdw-dialog__close {
      visibility: visible;
    }
    .mdw-dialog__popup {
      transform: scale(1);
    }
  }
}

.mdw-dialog__popup {
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  min-width: dp(224);
  border-radius: dp(2);
  box-shadow: elevation(24);
  transition-property: transform;
  transition-duration: inherit;
  transition-timing-function: inherit;
  z-index: 24;
  transform-origin: center bottom;
  transform: scale(0);
}

.mdw-dialog__title {
  padding: 0 dp(24);
  @include type-rules('h6');
  @include texttop-to-top(20);
  @include baseline-bottom(36);
  margin-bottom: dp(-36);
  
}

.mdw-dialog__body {
  padding: 0 dp(24);
  @include type-rules('body');
  @include texttop-to-top(20);
  @include baseline-bottom(28);
}

.mdw-dialog__header {
  min-height: dp(64);
}

.mdw-dialog__scrolling {
  overflow-y: scroll;
}


.mdw-dialog__button-area {
  flex: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin-top: dp(8);
  margin-bottom: dp(8);
  flex-wrap: wrap;
  &[mdw-stacked] {
    margin-top: 0;
    .mdw-button {
      flex-basis: 100%;
      min-height: dp(48);
      padding-left: dp(16);
      padding-right: dp(16);
      justify-content: flex-end;
      margin-right: 0;
      &, html[dir=rtl] & {
        margin-left: 0;
      }
    }
  }
  .mdw-button {
    text-align: end;
    margin-left: 0;
    margin-right: dp(8);
    html[dir=rtl] & {
      margin-right: 0;
      margin-left: dp(8);
    }
  }
}
