// https://material.io/guidelines/components/dialogs.html
// https://material.io/guidelines/motion/choreography.html#choreography-creation

@import '../common/motion.scss';
@import '../common/platform.scss';
@import '../common/responsive.scss';
@import '../common/type.scss';

$dialog__unit-width: dp(56);

.mdw-dialog__close {
  pointer-events: inherit;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  cursor: default;

  overflow-y: scroll;
  // Scroll mask
  overscroll-behavior: none;
  overscroll-behavior: contain;
  -ms-scroll-chaining: none;

  // Hide scrollbar
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display:none;
  }
  scrollbar-width: none;
  &::after {
    display: block;
    content: '';
    width: 200%;
    height: 200%;
  }
}

.mdw-dialog {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: dp(84) dp(40);
  background-color: rgba(0, 0, 0, 0.50);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  pointer-events: none;
  z-index: 24;
  transition-property: opacity, visibility;
  transition-timing-function: $mdw-motion__decelerate-easing;
  transition-duration: $mdw-motion__leave-duration__desktop;
  @include allHandsets {
    transition-duration: $mdw-motion__leave-duration__mobile;
  }
  @include allTablets {
    transition-duration: $mdw-motion__leave-duration__tablet;
  }
  @for $i from 3 to 8 {
    &[mdw-width-units="#{$i}"] {
      .mdw-dialog__popup {
        min-width: calc(#{$dialog__unit-width} * #{$i});
      }
    }
  }
  visibility: hidden;
  opacity: 0;
  &[aria-hidden="false"],
  &[id]:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition-timing-function: $mdw-motion__accelerate-easing;
    transition-duration: $mdw-motion__enter-duration__desktop;
    @include allHandsets {
      transition-duration: $mdw-motion__enter-duration__mobile;
    }
    @include allTablets {
      transition-duration: $mdw-motion__enter-duration__tablet;
    }
    .mdw-dialog__popup {
      transform: scale(1);
    }
  }
}

.mdw-dialog__popup {
  position: relative;
  

  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  min-width: dp(224);
  border-radius: dp(4);
  box-shadow: mdwElevation(24);
  transition-property: transform;
  transition-duration: inherit;
  transition-timing-function: inherit;
  transform-origin: bottom center;
  transform: scale(0);
  z-index: 24;
  overflow-y: auto;
  overscroll-behavior: none;
  overscroll-behavior: contain;
  -ms-scroll-chaining: none;

}


.mdw-dialog__title {
  padding: 0 dp(24);
  @include type-rules('h6');
  @include texttop-to-top(20);
  @include baseline-bottom(36);
  margin-bottom: dp(-36);
  
}

.mdw-dialog__body {
  padding: 0 dp(24);
  @include type-rules('body');
  @include texttop-to-top(20);
  @include baseline-bottom(28);
}

.mdw-dialog__header {
  min-height: dp(64);
}

.mdw-dialog__scrolling {
  overflow-y: scroll;
}

.mdw-dialog__button-area {
  flex: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin-top: dp(8);
  margin-bottom: dp(8);
  flex-wrap: wrap;
  &[mdw-stacked] {
    margin-top: 0;
    .mdw-button {
      flex-basis: 100%;
      min-height: dp(48);
      padding-left: dp(16);
      padding-right: dp(16);
      justify-content: flex-end;
      margin-right: 0;
      &, html[dir=rtl] & {
        margin-left: 0;
      }
    }
  }
  .mdw-button {
    text-align: end;
    margin-left: 0;
    margin-right: dp(8);
    html[dir=rtl] & {
      margin-right: 0;
      margin-left: dp(8);
    }
  }
}
