@import '../common/theming.scss';

$mdw-dialog__theme-values: (
  text-color:           (('foreground-light', 0.87), ('foreground-dark', 1.00)),
  secondary-text-color: (('foreground-light', 0.54), ('foreground-dark', 0.70)),
  background-color:     ((#fff, 1.00), ('background', '800', 1.00)),
) !default;

@function mdwDialogThemeValue($key, $type, $theme) {
  @return mdwGetThemeValue('dialog', $mdw-dialog__theme-values, $key, $type, $theme);
}

@mixin mdw-dialog__theme-variables($lightness) {
  @include mdw-theme__variables('dialog', $mdw-dialog__theme-values, $lightness);
}

@mixin mdw-dialog__theme-rules($type: 'var', $theme: null) {
  .mdw-dialog__popup {
    background-color: mdwDialogThemeValue("background-color", $type, $theme);
  }
  
  .mdw-dialog__title {
    color: mdwDialogThemeValue("text-color", $type, $theme);
  }
  
  .mdw-dialog__body {
    color: mdwDialogThemeValue("secondary-text-color", $type, $theme);
  }
}