@import '../common/functions.scss';
@import '../common/mixins.scss';

$dialogColors: (
  text-color:           (('foreground-light', 0.87), ('foreground-dark', 1.00)),
  secondary-text-color: (('foreground-light', 0.54), ('foreground-dark', 0.70)),
  background-color:     ((#fff, 1.00), ('background', '800', 1.00)),
);

@function dialogThemeValue($key, $type, $theme) {
  @return themeValue('dialog', $dialogColors, $key, $type, $theme);
}

@mixin dialogThemeVariables($color, $lightness) {
  @include themeVariables('dialog', $dialogColors, $color, $lightness);
}

// Vary by contrast or theme
@mixin dialogContrastAndThemeRules($type: 'var', $theme: null) {
  .mdw-dialog__popup {
    background-color: dialogThemeValue("background-color", $type, $theme);
  }
  .mdw-dialog__title {
    color: dialogThemeValue("text-color", $type, $theme);
  }
  .mdw-dialog__body {
    color: dialogThemeValue("secondary-text-color", $type, $theme);
  }
}