// https://material.io/guidelines/components/selection-controls.html#
// https://material.io/guidelines/patterns/selection.html#selection-item-selection

@import '../common/variables.scss';

$ripple-size: dp(48);
$checkbox-size: dp(18);
$border-size: dp(2);
$horizontal-margin: dp(2);
// from ic_check_black_18px.svg
// rotated 45°
$checkbox-icon-height: dp(12.73);
$checkbox-icon-width: dp(5.93);
$checkbox-icon-thickness: dp(1.5);
$checkbox-icon-offset-y: dp(2.64) - $checkbox-icon-thickness - $border-size;
$checkbox-icon-offset-x: dp(6.04) - $border-size;

.mdw-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mdw-checkbox > input {
  display: inline-flex;
  order: 0;
  min-width: $checkbox-size;
  min-height: $checkbox-size;
  width: $checkbox-size;
  height: $checkbox-size;
  appearance: none;
  outline: none;
  padding: 0;
  margin-left: $horizontal-margin;
  margin-right: $horizontal-margin;
  margin-top: $border-size;
  margin-bottom: 0;
  background-color: var(--button__ripple-color);
  border-radius: 50%;
  transform: scale(1);
  opacity: 0;
  transition-property: transform, opacity, background-color;
  transition-timing-function: $motion-easing-standard;
  transition-duration: $motion-duration-desktop-default;
  @include allHandsets {
    transition-duration: $motion-duration-mobile-default;
  }
  @include allTablets {
    transition-duration: $motion-duration-tablet-default;
  }
  &:active,
  &:focus {
    opacity: 1;
    transform: scale($ripple-size/$checkbox-size);
  }
  &:checked {
    background-color: unquote("rgba(var(--primary-color), 0.26)");
  }
}
.mdw-checkbox__icon {
  display: inline-flex;
  pointer-events: none;
  order: -1;
  position: relative;
  box-sizing: border-box;
  width: 0px;
  height: $checkbox-size;
  appearance: none;
  outline: none;
  padding: 0;
  z-index: 0;
  margin-top: $border-size;
  transform: translateX($horizontal-margin);
  transition-property: background-color, border-color;
  transition-timing-function: $motion-easing-standard;
  transition-duration: 200ms;
  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: $checkbox-size;
    height: $checkbox-size;
    border-color: var(--secondary-text-color);
    border-width: dp(2);
    border-style: solid;
    border-radius: dp(2);
    box-sizing: border-box;
    transition-property: border-width, border-color, background-color;
    transition-duration: $motion-duration-desktop-enter;
    @include allHandsets {
      transition-duration: $motion-duration-mobile-enter;
    }
    @include allTablets {
      transition-duration: $motion-duration-tablet-enter;
    }
  }
  input:checked ~ &::before,
  input:active ~ &::before {
    border-width: $checkbox-size / 2;
  }
  input:checked ~ &::before {
    border-color: unquote("rgb(var(--primary-color))");
    background-color: unquote("rgb(var(--primary-color))");
  }
  &::after {
    content: "";
    position: absolute;
    top: $border-size;
    left: $border-size;
    margin-left: $checkbox-icon-offset-x;
    margin-top: $checkbox-icon-offset-y;
    height: $checkbox-icon-height;
    width: $checkbox-icon-width;
    animation-timing-function: $motion-easing-deceleration;
    animation-duration: $motion-duration-desktop-enter;
    @include allHandsets {
      animation-duration: $motion-duration-mobile-enter;
    }
    @include allTablets {
      animation-duration: $motion-duration-tablet-enter;
    }
    
  }
  input:checked ~ &::after {
    border-width: $checkbox-icon-thickness;
    background-color: transparent;
    box-sizing: border-box;
    transform: rotate(45deg);
    border-bottom-style: solid;
    border-right-style: solid;
    border-color: white;
    animation-name: showCheck;
    animation-fill-mode: forwards;
  }
}

.mdw-checkbox__label {
  order: -1;
  padding: 0 dp(8);
}
.mdw-checkbox__label ~ .mdw-checkbox__icon {
  order: 1;
  transform: translateX(- ($checkbox-size + $horizontal-margin) );
}
.mdw-checkbox__icon ~ .mdw-checkbox__label {
  order: 1;
}

.mdw-checkbox[mdw-color] {
  > input:checked {
    background-color: unquote("rgba(var(--color), 0.26)");
    ~ .mdw-checkbox__icon::before {
      background-color: unquote("rgb(var(--color))");
      border-color: unquote("rgb(var(--color))");
    }
  }
}


@keyframes showCheck {
  // Animation is applied to pre-rotated box;
  // Clip box completely horizontally and vertically upto bottom border
  0% {
    clip: rect($checkbox-icon-height - $checkbox-icon-thickness, 0, auto, auto)
  }
  // Remove horizontal clip
  // % = stroke length upto corner
  #{$checkbox-icon-width / ($checkbox-icon-width + $checkbox-icon-height) * 100%} {
    clip: rect($checkbox-icon-height - $checkbox-icon-thickness, $checkbox-icon-width, auto, auto)
  }
  // Remove vertical clip
  100% {
    clip: rect(0, $checkbox-icon-width, auto, auto)
  }
}
