// https://material.io/guidelines/components/selection-controls.html#
// https://material.io/guidelines/patterns/selection.html#selection-item-selection

@import '../common/variables.scss';

$checkbox-size: dp(18);
$border-size: dp(2);

// from ic_check_black_18px.svg
// rotated 45°
$checkbox-icon-height: dp(12.73);
$checkbox-icon-width: dp(5.93);
$checkbox-icon-thickness: dp(1.5);
$checkbox-icon-offset-y: dp(2.64) - $checkbox-icon-thickness - $border-size;
$checkbox-icon-offset-x: dp(6.04) - $border-size;

.mdw-checkbox {
  position: relative;
  min-width: $checkbox-size - (2 * $border-size);
  min-height: $checkbox-size - (2 * $border-size);
  appearance: none;
  outline: none;
  margin: 0;
  padding: 0;
  z-index: 0;
  transition-property: background-color, border-color;
  transition-timing-function: $motion-easing-standard;
  transition-duration: 200ms;
  border-width: dp(2);
  border-style: solid;
  
  border-radius: dp(2);
  box-sizing: content-box;
  
  border-color: var(--secondary-text-color);
  background-color: transparent;
  &:checked {
    border-color: transparent;
    background-color: unquote("rgb(var(--primary-color))");
    &[mdw-color] {
      background-color: unquote("rgb(var(--color))");
    }
  }
  &:active {
    border-color: transparent;
    background-color: var(--secondary-text-color);
  }
  &::after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    animation-timing-function: $motion-easing-deceleration;
    animation-duration: $motion-duration-desktop-enter;
    @include allHandsets {
      animation-duration: $motion-duration-mobile-enter;
    }
    @include allTablets {
      animation-duration: $motion-duration-tablet-enter;
    }
    
  }
  &:checked::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin-left: $checkbox-icon-offset-x;
    margin-top: $checkbox-icon-offset-y;
    height: $checkbox-icon-height;
    width: $checkbox-icon-width;
    border-width: $checkbox-icon-thickness;
    background-color: transparent;
    box-sizing: border-box;
    transform: rotate(45deg);
    border-bottom-style: solid;
    border-right-style: solid;
    border-color: white;
    animation-name: showCheck;
    animation-fill-mode: forwards;
  }
}

@keyframes showCheck {
  0% {
    clip: rect($checkbox-icon-height - $checkbox-icon-thickness, 0, auto, auto)
  }
  31% {
    clip: rect($checkbox-icon-height - $checkbox-icon-thickness, $checkbox-icon-width, auto, auto)
  }
  100% {
    clip: rect(0, $checkbox-icon-width, auto, auto)
  }
}
