@import '../common/elevation.scss';

[mdw-elevation="1"] {
  box-shadow: mdwElevation(1);
}
[mdw-elevation="2"] {
  box-shadow: mdwElevation(2);
}
[mdw-elevation="3"] {
  box-shadow: mdwElevation(3);
}
[mdw-elevation="4"] {
  box-shadow: mdwElevation(4);
}
[mdw-elevation="6"] {
  box-shadow: mdwElevation(6);
}
[mdw-elevation="8"] {
  box-shadow: mdwElevation(8);
}
[mdw-elevation="9"] {
  box-shadow: mdwElevation(9);
}
[mdw-elevation="12"] {
  box-shadow: mdwElevation(12);
}
[mdw-elevation="16"] {
  box-shadow: mdwElevation(16);
}
[mdw-elevation="24"] {
  box-shadow: mdwElevation(24);
}