@import '../common/functions.scss';

[mdw-elevation="1"] {
  box-shadow: elevation(1);
}
[mdw-elevation="2"] {
  box-shadow: elevation(2);
}
[mdw-elevation="3"] {
  box-shadow: elevation(3);
}
[mdw-elevation="4"] {
  box-shadow: elevation(4);
}
[mdw-elevation="6"] {
  box-shadow: elevation(6);
}
[mdw-elevation="8"] {
  box-shadow: elevation(8);
}
[mdw-elevation="9"] {
  box-shadow: elevation(9);
}
[mdw-elevation="12"] {
  box-shadow: elevation(12);
}
[mdw-elevation="16"] {
  box-shadow: elevation(16);
}
[mdw-elevation="24"] {
  box-shadow: elevation(24);
}