@import "../core/theme/index.scss";

$mdw-config: (
  themes: (
    colored: ('green', 'orange', 'red', 'deeporange', #006064, #E0F7FA)
  ),
  fallbacks: false,
  variables: ('colors', 'themes', 'supports'),
);

@include mdw-theme__build($mdw-config);
@import "../_theme.scss";
