include mixins.pug

+header("Home")
  .mdw-grid(mdw-margin-top mdw-margin-bottom mdw-stretch)
    .mdw-grid__item(mdw-colspan="100%")
      .mdw-grid__content
        h1.mdw-type Material Design Web
        a.mdw-button.mdw-overlay.mdw-ripple(href="https://github.com/clshortfuse/materialdesignweb") GitHub
  script(src='index.min.js')
