// https://material.io/guidelines/components/buttons.html#buttons-raised-buttons
// https://material.io/guidelines/style/icons.html#

@use '../../core/_elevation.scss' as elevation;
@use '../../core/_length.scss' as *;
@use '../../core/_motion.scss' as motion;
@use '../../core/_platform.scss' as platform;
@use '../../core/_type.scss' as type;

:root {
  --mdw-button__click-target-size: 48px;
  --mdw-button__outline-size: 1px;
}

.mdw-button {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  box-sizing: border-box;
  block-size: 36px;
  min-inline-size: 64px;
  margin: 0 8px;
  border: none;
  padding: 0 8px;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  transition-duration: motion.$shapeChangeDuration, motion.$simpleDuration;
  transition-property: box-shadow, background-color, color;
  transition-timing-function: motion.$standardEasing;

  z-index: 0;

  border-radius: 4px;
  color: inherit;

  text-align: center;
  text-decoration: none;

  // Remove Firefox inner

  &::-moz-focus-inner {
    border: 0;
  }

  &[mdw-border-ink],
  &[mdw-surface] {
    padding: 0 16px;
  }

  &:not([mdw-surface]) {
    background-color: transparent;
  }

  // Don't override font icon properties

  &:not([mdw-icon]) {
    @include type.addRules('button');
    font-family: inherit;
    word-spacing: normal;
  }

  &[mdw-border-ink] {
    border-style: solid;
    border-width: var(--mdw-button__outline-size);

    &::before,
    & > .mdw-ripple {
      box-sizing: content-box;
      block-size: 100%;
      inline-size: 100%;
      margin-block-start: calc(-1 * var(--mdw-button__outline-size));
      margin-inline-start: calc(-1 * var(--mdw-button__outline-size));
      padding-block-end: calc(2 * var(--mdw-button__outline-size));
      padding-inline-end: calc(2 * var(--mdw-button__outline-size));
    }
  }

  // Icon properties

  &[mdw-icon] {
    block-size: 40px;
    min-inline-size: 40px;
    padding: 8px;

    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    border-radius: 50%;

    font-size: 24px; // Internal padding provided by font
  }

  &[mdw-image] {
    block-size: 24px;
    min-inline-size: 24px;
    margin: 0;
    padding: 0;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    border-radius: 50%;

    & > {
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;

      block-size: 100%;
      inline-size: auto;
    }
  }
}

// Extended touch target
@mixin touchTarget {
  @include platform.ifHasTouch() {
    content: "";

    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 0;

    block-size: var(--mdw-button__click-target-size);
    inline-size: 100%;

    transform: translateY(-50%);
  }
}

// Raised

.mdw-button[mdw-raised]:not([disabled]):not([aria-disabled="true"]) {
  @include elevation.boxShadowMixin(2);

  &:active {
    @include elevation.boxShadowMixin(8);
  }
}

// Disabled
.mdw-button[disabled],
.mdw-button[aria-disabled="true"] {
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  cursor: not-allowed;
}
