// https://material.io/guidelines/components/buttons.html#buttons-raised-buttons
// https://material.io/guidelines/style/icons.html#

@import '../../core/_breakpoint.scss';
@import '../../core/_elevation.scss';
@import '../../core/_motion.scss';
@import '../../core/_platform.scss';
@import '../../core/_type.scss';

$mdw-button__external-padding: dp(8) !default;
$mdw-button__minimum-click-target: dp(48) !default;
$mdw-button__outline-size: dp(1) !default;

.mdw-button {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  box-sizing: border-box;
  min-height: dp(36);
  min-width: dp(64);
  margin: 0 dp(8);
  border: none;
  padding: 0 dp(8);

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  transition-duration: $mdw-motion__default-duration__desktop;
  @include mdw-breakpoint__mobile-device {
    transition-duration: $mdw-motion__default-duration__mobile;
  }
  @include mdw-breakpoint__tablet-device {
    transition-duration: $mdw-motion__default-duration__tablet;
  }
  transition-property: box-shadow, background-color, color;
  transition-timing-function: $mdw-motion__standard-easing;

  z-index: 0;

  border-radius: dp(4);
  color: inherit;

  text-align: center;
  text-decoration: none;
  
  // Remove Firefox inner
  &::-moz-focus-inner {
    border: 0;
  }

  &[mdw-outline],
  &[mdw-surface] {
    padding: 0 dp(16);
  }

  &:not([mdw-surface]) {
    background-color: transparent;
  }

  // Don't override font icon properties
  &:not([mdw-icon]) {
    @include type-rules('button');
    font-family: inherit;
    word-spacing: normal;
  }

  &[mdw-outline] {
    border-style: solid;
    border-width: $mdw-button__outline-size;

    &::before,
    & > .mdw-ripple {
      box-sizing: content-box;
      height: 100%;
      width: 100%;
      margin-top: -$mdw-button__outline-size;
      margin-left: -$mdw-button__outline-size;
      padding-right: 2 * $mdw-button__outline-size;
      padding-bottom: 2 * $mdw-button__outline-size;
    }
  }

  // Icon properties
  &[mdw-icon] {
    min-height: dp(40);
    min-width: dp(40);
    padding: dp(8);

    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    border-radius: 50%;

    font-size: dp(24); // Internal padding provided by font
  }

  &[mdw-image] {
    min-height: dp(24);
    min-width: dp(24);
    margin: 0;
    padding: 0;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    border-radius: 50%;

    & > {
      position: absolute;
      top: 0;
      left: 0;
      
      height: 100%;
      width: auto;
    }
  }
}

// Fix anchor line-height on IE11
@include mdw-platform__ie {
  a.mdw-button:not([mdw-icon]) {
    line-height: 2.5em !important;
  }
}

// Extended touch target
@mixin mdw-button__touch-target {
  @include mdw-platform__has-touch-support {
    content: "";

    position: absolute;
    top: 50%;
    left: 0;
    
    height: $mdw-button__minimum-click-target;
    width: 100%;

    transform: translateY(-50%);
  }
}

// Raised
.mdw-button[mdw-raised] {
  box-shadow: mdwElevation(2);

  &:active {
    box-shadow: mdwElevation(8);
  }
}

.mdw-button[disabled],
.mdw-button[aria-disabled="true"] {
  cursor: not-allowed;

  &,
  &[mdw-raised] {
    box-shadow: mdwElevation(0);
  }
}
