// https://material.io/guidelines/components/buttons.html#buttons-raised-buttons
// https://material.io/guidelines/style/icons.html#

@use '../../core/_breakpoint.scss' as breakpoint;
@use '../../core/_elevation.scss' as elevation;
@use '../../core/_length.scss' as *;
@use '../../core/_motion.scss' as motion;
@use '../../core/_platform.scss' as platform;
@use '../../core/_type.scss' as type;

$externalPadding: dp(8) !default;
$minimumClickTarget: dp(48) !default;
$outlineSize: dp(1) !default;

.mdw-button {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  box-sizing: border-box;
  height: dp(36);
  min-width: dp(64);
  margin: 0 dp(8);
  border: none;
  padding: 0 dp(8);

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  transition-duration: motion.$shapeChangeDuration, motion.$simpleDuration;
  transition-property: box-shadow, background-color, color;
  transition-timing-function: motion.$standardEasing;

  z-index: 0;

  border-radius: dp(4);
  color: inherit;

  text-align: center;
  text-decoration: none;
  
  // Remove Firefox inner
  &::-moz-focus-inner {
    border: 0;
  }

  &[mdw-border-ink],
  &[mdw-surface] {
    padding: 0 dp(16);
  }

  &:not([mdw-surface]) {
    background-color: transparent;
  }

  // Don't override font icon properties
  &:not([mdw-icon]) {
    @include type.addRules('button');
    font-family: inherit;
    word-spacing: normal;
  }

  &[mdw-border-ink] {
    border-style: solid;
    border-width: $outlineSize;

    &::before,
    & > .mdw-ripple {
      box-sizing: content-box;
      height: 100%;
      width: 100%;
      margin-top: -$outlineSize;
      margin-left: -$outlineSize;
      padding-right: 2 * $outlineSize;
      padding-bottom: 2 * $outlineSize;
    }
  }

  // Icon properties
  &[mdw-icon] {
    height: dp(40);
    min-width: dp(40);
    padding: dp(8);

    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    border-radius: 50%;

    font-size: dp(24); // Internal padding provided by font
  }

  &[mdw-image] {
    height: dp(24);
    min-width: dp(24);
    margin: 0;
    padding: 0;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    border-radius: 50%;

    & > {
      position: absolute;
      top: 0;
      left: 0;
      
      height: 100%;
      width: auto;
    }
  }
}

// Extended touch target
@mixin touchTarget {
  @include platform.ifHasTouch() {
    content: "";

    position: absolute;
    top: 50%;
    left: 0;
    
    height: $minimumClickTarget;
    width: 100%;

    transform: translateY(-50%);
  }
}

// Raised
.mdw-button[mdw-raised] {
  box-shadow: elevation.boxShadow(2);

  &:active {
    box-shadow: elevation.boxShadow(8);
  }
}

.mdw-button[disabled],
.mdw-button[aria-disabled="true"] {
  cursor: not-allowed;

  &,
  &[mdw-raised] {
    box-shadow: elevation.boxShadow(0);
  }
}
