// https://material.io/design/interaction/states.html
// https://material.io/design/components/buttons.html
// https://material.io/design/iconography/system-icons.html#color

.mdw-theme {
  --mdw-button__default-text-rgb: var(--mdw-ink-default);
  --mdw-button__disabled-text-rgb: var(--mdw-ink-default);
  --mdw-button__disabled-surface-text-rgb: var(--mdw-ink-default);
  --mdw-button__disabled-surface-background-rgb: var(--mdw-ink-default);
  --mdw-button__default-text-opacity: var(--mdw-high-opacity);
  --mdw-button__disabled-text-opacity: var(--mdw-inactive-opacity);
  --mdw-button__disabled-surface-text-opacity: var(--mdw-high-opacity);
  --mdw-button__disabled-surface-background-opacity: var(--mdw-inactive-opacity);
}

.mdw-button {
  &:disabled:not([aria-disabled="true"]) {
    color: RGBA(var(--mdw-button__disabled-text-rgb), var(--mdw-button__disabled-text-opacity));

    &.mdw-overlay::before {
      display: none;
    }
  }

  &.mdw-overlay[aria-disabled="true"] {
    // Sets foreground to default ink color
    color: RGBA(var(--mdw-button__default-text-rgb), var(--mdw-button__default-text-opacity));

    &[mdw-surface] {
      background-color: RGBA(var(--mdw-button__disabled-surface-background-rgb), var(--mdw-button__disabled-surface-background-opacity));
      color: RGBA(var(--mdw-button__disabled-surface-text-rgb), var(--mdw-button__disabled-surface-text-opacity));

      &[mdw-dark],
      &[mdw-light] {
        --mdw-button__disabled-surface-text-rgb: inherit;
        --mdw-button__disabled-surface-text-opacity: inherit;
        --mdw-button__disabled-surface-background-rgb: inherit;
        --mdw-button__disabled-surface-background-opacity: inherit;
      }
    }
  }
}
