/* https://material.io/guidelines/components/buttons.html#buttons-raised-buttons */
/* https://material.io/guidelines/style/icons.html# */

:host {
  --mdw-shape__size: var(--mdw-shape__full);

  --mdw-container__box-shadow: none;
  --mdw-container__elevation__opacity: 0;

  --mdw-button__icon__size: 24px;
  --mdw-button__icon__display: block;
  --mdw-button__outline__opacity: 1;

  --mdw-button__icon__font-variation-settings: 'FILL' 0;
  --mdw-icon-button__background-alpha: 1;
  --mdw-button__outline__size: 0;

  min-block-size: 40px;
  block-size: 40px;
  min-inline-size: 40px;
  inline-size: 40px;
  padding: 0;

  color: rgb(var(--mdw-color__on-surface-variant));

  /** Standard default is same as unselected */
}

.mdw-button__icon {
  margin: 0;
}

:host([aria-pressed="true"]) {
  --mdw-button__icon__font-variation-settings: 'FILL' 1;
}

:host(:where([aria-pressed="true"])) {
  color: rgb(var(--mdw-color__primary));
}

/** Filled default is same as selected */

:host(:where([mdw-filled])) {
  --mdw-button__icon__font-variation-settings: 'FILL' 1;
  --mdw-surface: var(--mdw-color__primary);
  background-color: rgb(var(--mdw-surface));
  color: rgb(var(--mdw-color__on-primary));
}

:host(:where([mdw-filled="tonal"])) {
  --mdw-button__icon__font-variation-settings: 'FILL' 1;
  background-color: rgb(var(--mdw-color__secondary-container));
  color: rgb(var(--mdw-color__on-secondary-container));
}

:host([mdw-filled][aria-pressed="false"]) {
  --mdw-button__icon__font-variation-settings: 'FILL' 0;
  background-color: rgb(var(--mdw-color__surface-variant));
  color: rgb(var(--mdw-surface));
}

:host([mdw-filled="tonal"][aria-pressed="false"]) {
  --mdw-button__icon__font-variation-settings: 'FILL' 0;
  background-color: rgb(var(--mdw-color__surface-variant));
  color: rgb(var(--mdw-color__on-surface-variant));
}

/** Outlined default is same as unselected */

:host(:where([mdw-outlined])) {
  --mdw-surface: var(--mdw-color__inverse-surface);
  --mdw-ink: var(--mdw-color__inverse-on-surface);
  --mdw-button__icon__font-variation-settings: 'FILL' 0;
  --mdw-button__outline__size: 1px;
}

:host(:where([mdw-outlined]:not([aria-pressed]))) {
  --mdw-ink: var(--mdw-color__on-surface-variant);
  color: rgb(var(--mdw-ink));
}

:host([mdw-outlined][aria-pressed="false"]) {
  background-color: transparent;
  color: rgb(var(--mdw-color__on-surface-variant));
}

:host(:focus) {
  --mdw-button__outline__rgb: var(--mdw-color__outline);
}

:host([mdw-ink]:focus) {
  --mdw-button__outline__rgb: var(--mdw-ink);
}

:host([mdw-outlined]:active) {
  color: rgb(var(--mdw-color__on-surface)); /* Spec Typo? */
}

:host([mdw-outlined][aria-pressed="true"]) {
  --mdw-button__icon__font-variation-settings: 'FILL' 1;
  --mdw-button__outline__size: 0;

  background-color: rgba(var(--mdw-surface), var(--mdw-icon-button__background-alpha));
  color: rgb(var(--mdw-ink));
}

:host([aria-disabled="true"][aria-disabled="true"]) {
  --mdw-button__outline__opacity: 0.12;
  --mdw-icon-button__background-alpha: 0.12;

  cursor: not-allowed;

  /* color: rgba(var(--mdw-color__on-surface), 0.38); */
}
