/* https://material.io/guidelines/components/buttons.html#buttons-raised-buttons */
/* https://material.io/guidelines/style/icons.html# */

:host {
  --mdw-surface: var(--mdw-color__secondary-container);
  --mdw-ink: var(--mdw-color__on-secondary-container);

  display: flex;
}

:host([mdw-color]) {
  background-color: transparent;
}
