// https://material.io/guidelines/components/buttons.html#buttons-raised-buttons

@import '../common/functions.scss';
@import '../common/variables.scss';
@import '../common/motion.scss';
@import '../common/mixins.scss';

$button__external-padding: dp(8);
$button__minimum-click-target: dp(48);
$button__background-color-pressed: rgba(#999, 0.40);
$button__focus-animation-delay: 2000ms;
$button__focus-animation-duration: 1667ms;

.mdw-button {
  position: relative;
  font-family: Roboto, sans-serif;
  -webkit-appearance: none;
  
  outline: none;
  font-size: sp(14);
  line-height: normal;
  text-transform: uppercase;
  min-width: dp(64);
  min-height: dp(36);
  padding-left: dp(8);
  padding-right: dp(8);
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 8px;
  border: none;
  border-radius: dp(2);
  word-spacing: normal;
  font-weight: 500;
  color: var(--primary-text-color);
  box-sizing: border-box;
  overflow: hidden;
  transition: box-shadow 200ms $motion-easing-standard;
  

  background-color: transparent;


  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;


  // ::before - focus overlay
  // ::after - ripple effect

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &::before {
    // Background-size does not animate smoothly.
    background-color: transparent;
    background-image: radial-gradient(
      circle at center,
      transparent 0%,
      transparent 10%,
      $button__background-color-pressed 10.00001%);
    background-position: center center;
    transform: scale(10);
    transition: background-color 200ms, transform 200ms;
    transition-timing-function: $motion-easing-standard;
  }

  &:focus::before {
    background-color: rgba(black, 0.12);
  }

  &:focus:not(:active)::before {
    transform: scale(7.5);
    transition: background-color 200ms, transform ($button__focus-animation-delay) ($button__focus-animation-delay);
    animation-duration: $button__focus-animation-duration;
    animation-timing-function: $motion-easing-standard;
    animation-delay: $button__focus-animation-delay * 2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: focus-pulse;
  }

  &:active::before,
  &:active:focus::before {
    transform: scale(10);
  }

  
  // Extended touch target
  @media (any-pointer: coarse) {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: $button__minimum-click-target;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

}

.mdw-button[mdw-raised] {
  box-shadow: elevation(2);
  &:active {
    box-shadow: elevation(8);
  }
  @media (any-pointer: fine) {
    box-shadow: elevation(0);
    &:hover {
      box-shadow: elevation(2);
    }
    &:active,
    &:hover:active {
      box-shadow: elevation(8);
    }
  }
}

@keyframes focus-pulse {
  from { transform: scale(7.5); }
  to { transform: scale(8.0) }
}