// https://material.io/design/interaction/states.html
// https://material.io/design/components/buttons.html
// https://material.io/design/iconography/system-icons.html#color

@import '../common/theming.scss';

$mdw-button__theme-values: (
  text-color:                    (('foreground-light', 0.87), ('foreground-dark', 1.00)),
  text-opacity:                  (0.87, 1.00),

  // icon
  active-icon-color__focus:      (('foreground-light', 0.87), ('foreground-dark', 1.00)),
  active-icon-color:             (('foreground-light', 0.54), ('foreground-dark', 0.70)),
  inactive-icon-color:           (('foreground-light', 0.38), ('foreground-dark', 0.50)),

  // states
  overlay-color:                 (('foreground-light', 1.00), ('foreground-dark', 1.00)),

  hover-opacity:                 (0.04, 0.08),
  focus-opacity:                 (0.12, 0.24),
  hover-focus-opacity:           (0.04 + 0.12, 0.08 + 0.24),

  activated-opacity:             (0.12, 0.24),

  activated-hover-opacity:       (0.12 + 0.04, 0.24 + 0.4),
  activated-focus-opacity:       (0.12 + 0.12, 0.24 + 0.12),
  activated-hover-focus-opacity: (0.12 + 0.04 + 0.12, 0.24 + 0.4 + 0.12),

  pressed-opacity:               (0.16, 0.32),

  // disabled
  disabled-text-opacity:         (0.26, 0.30),
  disabled-text-color:           (('foreground-light', 0.26), ('foreground-dark', 0.30)),
  disabled-background-color:     (('foreground-light', 0.12), ('foreground-dark', 0.12)),

  outline-color:                 (('foreground-light', 0.12), ('foreground-dark', 0.12)),

) !default;

@function mdwButtonThemeValue($key, $type, $theme) {
  @return mdwGetThemeValue('button', $mdw-button__theme-values, $key, $type, $theme);
}

@mixin mdw-button__theme-variables($lightness) {
  @include mdw-theme__variables('button', $mdw-button__theme-values, $lightness);
}

@mixin __mdw-button__contrast-and-theme-rules($type, $theme: null) {
  @at-root {
    #{&}.mdw-button {
      @if ($type == 'var') {
        color: rgba(var(--color), mdwButtonThemeValue('text-opacity', $type, $theme));

        &::before,
        & > .mdw-ripple > .mdw-ripple__inner,

        &::after {
          color: unquote("rgb(var(--color))");
        }
      } @else {
        &:not([mdw-theme-color]) {
          color: mdwButtonThemeValue("text-color", $type, $theme);

          &::before,
          & > .mdw-ripple > .mdw-ripple__inner,

          &::after {
            color: mdwButtonThemeValue("overlay-color", $type, $theme);
          }
        }
      }

      & > .mdw-ripple > .mdw-ripple__inner,
      &::after {
        opacity: mdwButtonThemeValue("pressed-opacity", $type, $theme);
      }

      &[mdw-inactive] {
        color: mdwButtonThemeValue("inactive-icon-color", $type, $theme);
      }

      &[mdw-active]:not([mdw-theme-color]):not([disabled]) {
        color: mdwButtonThemeValue("active-icon-color", $type, $theme);

        &:focus {
          color: mdwButtonThemeValue("active-icon-color__focus", $type, $theme);
        }
      }

      &:hover::before {
        opacity: mdwButtonThemeValue("hover-opacity", $type, $theme);
      }

      &:focus::before {
        opacity: mdwButtonThemeValue("focus-opacity", $type, $theme);
      }

      &:hover:focus::before {
        opacity: mdwButtonThemeValue("hover-focus-opacity", $type, $theme);
      }

      &[mdw-activated] {
        &::before {
          opacity: mdwButtonThemeValue("activated-opacity", $type, $theme);
        }

        &:hover::before {
          opacity: mdwButtonThemeValue("activated-hover-opacity", $type, $theme);
        }

        &:focus::before {
          opacity: mdwButtonThemeValue("activated-focus-opacity", $type, $theme);
        }

        &:hover:focus::before {
          opacity: mdwButtonThemeValue("activated-hover-focus-opacity", $type, $theme);
        }
      }

      &[mdw-outline] {
        border-color: mdwButtonThemeValue('outline-color', $type, $theme);
      }

      &[disabled] {
        @if ($type == 'var') {
          color: rgba(var(--color), mdwButtonThemeValue('disabled-text-opacity', $type, $theme));
        } @else {
          color: mdwButtonThemeValue("disabled-text-color", $type, $theme);
        }
        
        &[mdw-theme-fill] {
          // Disabled filled buttons use parent's theming context
          @if ($type == 'var') {
            --color: inherit;
            --button__disabled-text-opacity: inherit;
            --button__disabled-background-color: inherit;
            background-color: mdwButtonThemeValue("disabled-background-color", $type, $theme);
          } @else {
            $bgLight: mdwButtonThemeValue("disabled-background-color", 'light', $theme);
            $bgDark: mdwButtonThemeValue("disabled-background-color", 'dark', $theme);
            $colorLight: mdwButtonThemeValue("disabled-text-color", 'light', $theme);
            $colorDark: mdwButtonThemeValue("disabled-text-color", 'dark', $theme);

            background-color: mix($bgLight, $bgDark);
            color: mix($colorLight, $colorDark);
          }
        }
      }
    }
  }
}

// Vary by contrast
@mixin mdw-button__contrast-and-theme-rules($type: 'var', $theme: null) {
  @include __mdw-button__contrast-and-theme-rules($type, $theme);
  @if ($type != 'var') {
    :not([mdw-theme-fill]) {
      @include __mdw-button__contrast-and-theme-rules($type, $theme);
    }
  }
}
