$button__focus-light-overlay: rgba(white, 0.30);
$button__focus-dark-overlay: rgba(black, 0.12);
$button__dark-background-focus-overlay: rgba(white, 0.20);
// 

@mixin buttonLightThemeVariables($color) {
  --button__ripple-color: rgba(black, 0.12);
  --button__press-color: rgba(#999, 0.40);
  --button__focus-overlay: $button__focus-dark-overlay;
  --button__disabled-text-color: rgba(#000, 0.26); 
  --button__disabled-background-color: rgba(#000, 0.12);
  --button__colored-focus-overlay: unquote("rgba(var(--color), 0.12)");
  --button__colored-press-color: unquote("rgba(var(--color), 0.40)");
}

@mixin buttonDarkThemeVariables($color) {
  --button__ripple-color: rgba(white, 0.30);
  --button__filled-ripple-color: rgba(white, 0.20);
  --button__press-color: rgba(#CCC, 0.25);
  @if ($color == 'background') {
    --button__focus-overlay: $button__dark-background-focus-overlay;
  } @else {
    --button__focus-overlay: $button__focus-dark-overlay;
  }
  --button__disabled-text-color: rgba(#fff, 0.30);
  --button__disabled-background-color: rgba(#fff, 0.12);
  --button__colored-focus-overlay: unquote("rgba(var(--color), 0.12)");
  --button__colored-press-color: unquote("rgba(var(--color), 0.25)");
}