// https://material.io/design/components/navigation-drawer.html
// https://material.io/archive/guidelines/patterns/navigation-drawer.html
// https://material.io/archive/guidelines/layout/metrics-keylines.html#metrics-keylines-keylines-spacing

@import '../../core/_elevation.scss';
@import '../../core/_motion.scss';
@import '../../core/_platform.scss';
@import '../../core/_breakpoint.scss';
@import '../../core/_type.scss';
@import './_mixins.scss';

$mdw-layout__scrim-color: rgba(0, 0, 0, 0.50) !default;
$mdw-layout__sheet-min-width: dp(256) !default;
$mdw-layout__sheet-max-width__mini: dp(72) !default;

$mdw-layout__fab-size: dp(56) !default;
$mdw-layout__fab-cut-size: dp(72) !default;
$mdw-layout__fab-cut-delay: 100ms !default;

$mdw-layout__top-row: 1 !default;
$mdw-layout__banner-row: 2 !default;
$mdw-layout__content-row: 3 !default;
$mdw-layout__bottom-row: 4 !default;

$mdw-layout__navdrawer-column: 1 !default;
$mdw-layout__content-column: 2 !default;
$mdw-layout__sidesheet-column: 3 !default;
$mdw-layout__viewport-end-column: 4 !default;

$mdw-layout__body-overflow-y: hidden !default;
$mdw-layout__body-overflow-y__sticky: auto !default;
$mdw-layout__content-overflow-y: auto !default;
$mdw-layout__content-overflow-y__sticky: visible !default;

.mdw-layout {
  overflow-y: hidden;
  
  min-height: 100%;
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;

  // TODO: Move fonts out of app-layout
  // Prefer iOS Dynamic Type for accessibility support
  font: -apple-system-body;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mdw-layout__body {
  @include type-rules('body');

  display: -ms-grid;
  display: grid;
  position: relative;
  // start | main | end
  // Use minmax(0, 1fr) to clamp horizontally oversized grid-items
  grid-template-columns: auto minmax(0, 1fr) auto;
  -ms-grid-columns: auto minmax(0, 1fr) auto;
  // top | banner | content | bottom
  grid-template-rows: auto auto 1fr auto;
  -ms-grid-rows: auto auto 1fr auto;
  overflow-x: hidden;
  overflow-y: $mdw-layout__body-overflow-y;
  -webkit-overflow-scrolling: touch;

  height: 100%;
  max-width: 100vw;
  width: 100vw;
  margin: 0;
  padding: 0;

  transition-duration: $mdw-motion__simple-duration;
  transition-timing-function: $mdw-motion__standard-easing;

  background-color: inherit;
}

.mdw-layout__appbar {
  @include mdw-layout__grid-column($mdw-layout__content-column);
  @include mdw-layout__grid-row($mdw-layout__top-row);

  position: static;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: sticky;
  top: 0;
  
  margin-top: 0;

  transition-duration: $mdw-motion__expand-duration;
  transition-property: transform, margin-top;
  transition-timing-function: $mdw-motion__decelerate-easing;
  will-change: transform, margin-top;

  transform: translateY(0); // browser hint
  z-index: 4;

  &[mdw-hide] {
    transition-duration: $mdw-motion__collapse-duration;
    transition-timing-function: $mdw-motion__accelerate-easing;
  }
}

.mdw-layout[mdw-ios][mdw-standalone] {
  .mdw-layout__appbar,
  .mdw-layout__navdrawer,
  .mdw-layout__sidesheet {
    padding-top: dp(20);
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }
}

.mdw-layout__scrim {
  content: '';

  position: fixed;
  top: 0;
  left: 0;
  // Scroll mask
  -ms-overflow-style: none;
  overflow-y: scroll;
  overscroll-behavior: none;
  overscroll-behavior: contain;
  -ms-scroll-chaining: none;
  scrollbar-width: none;

  height: 100%;
  width: 100%;

  cursor: auto;
  outline: none;
  -webkit-tap-highlight-color: transparent;

  transition-duration: $mdw-motion__fade-out-duration;
  transition-property: background-color;
  transition-timing-function: $mdw-motion__accelerate-easing;

  pointer-events: none;
  z-index: 16;

  background-color: transparent;

  // Hide scrollbar
  &::-webkit-scrollbar {
    display: none;
  }

  &::after {
    display: block;
    content: '';

    height: 200%;
    width: 200%;
  }
}

.mdw-layout__navdrawer,
.mdw-layout__sidesheet {
  @include mdw-layout__grid-row($mdw-layout__top-row, $mdw-layout__bottom-row);

  box-sizing: border-box;
  max-height: 100vh;
  height: 100%;
  max-width: calc(100vw - #{dp(56)});
  @mixin mdw-breakpoint__xsmall-window {
    max-width: calc(100vw - #{dp(64)}); // Tablet or Desktop
  }
  width: $mdw-layout__sheet-min-width;

  transition-duration: $mdw-motion__expand-duration;
  transition-property: width, max-width, transform;
  transition-timing-function: $mdw-motion__decelerate-easing;

  will-change: max-width, transform, position;

  transform: translateX(0);
  z-index: 5; // Above appbar shadow

  background-color: inherit;
  box-shadow: mdwElevation(0);
}

.mdw-layout__sheet-content {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  box-sizing: border-box;
  max-height: 100%;
  height: 100%;
  border-width: dp(1);
}

.mdw-layout__navdrawer {
  @include mdw-layout__grid-column($mdw-layout__navdrawer-column);

  .mdw-list__content.mdw-overlay {
    &::before,
    & > .mdw-ripple__container {
      margin: dp(4) dp(8);

      border-radius: dp(4);
    }
  }
}

.mdw-layout__sidesheet {
  @include mdw-layout__grid-column($mdw-layout__sidesheet-column);
}

.mdw-layout__navdrawer .mdw-layout__sheet-content,
:root[dir="rtl"] .mdw-layout__sidesheet .mdw-layout__sheet-content {
  border-right-style: solid;
  border-left-style: none;
}

/* stylelint-disable-next-line no-descending-specificity */
.mdw-layout__sidesheet .mdw-layout__sheet-content,
:root[dir="rtl"] .mdw-layout__navdrawer .mdw-layout__sheet-content {
  border-right-style: none;
  border-left-style: solid;
}

@each $side in ('navdrawer', 'sidesheet') {
  @include mdw-layout__modal($side) {
    .mdw-layout__#{$side}-hide {
      display: none;
    }

    .mdw-layout__#{$side} {
      // Safari bug prevents using position:fixed with grid on resize
      // Switching between display:block and display:flex will force Safari to rerender
      // https://codepen.io/shortfuse/pen/pYqLbQ
      
      display: inline-block;
      position: fixed;
      top: 0;
      bottom: 0;

      flex-direction: column;

      // Transition visibility
      transition-duration: $mdw-motion__collapse-duration;
      transition-property: max-width, transform, visibility;
      transition-timing-function: $mdw-motion__accelerate-easing;

      // Prevent tabbing
      visibility: hidden;
      z-index: 17; // Above scrim

      .mdw-layout__sheet-content {
        border-width: 0;
      }
      @if ($side == 'navdrawer') {
        right: auto;
        left: 0;

        transform: translateX(-100%);

        :root[dir="rtl"] & {
          right: 0;
          left: auto;

          transform: translateX(100%);
        }
      } @else {
        right: 0;
        left: auto;

        transform: translateX(100%);

        :root[dir="rtl"] & {
          right: auto;
          left: 0;

          transform: translateX(-100%);
        }
      }

      // Shown
      &[id]:target,
      &[aria-hidden="false"] {
        // Change visibility immediately
        transition-duration: $mdw-motion__expand-duration;
        transition-property: max-width, transform;
        transition-timing-function: $mdw-motion__decelerate-easing;

        transform: translateX(0);
        visibility: visible;

        box-shadow: mdwElevation(16);

        & ~ .mdw-layout__scrim {
          pointer-events: auto;
    
          background-color: $mdw-layout__scrim-color;
        }

        &,
        &.mdw-layout__appbar {
          .mdw-layout__#{$side}-show {
            display: none;
          }
        }
      }
    }
  }
}

.mdw-layout__banner {
  @include mdw-layout__grid-row($mdw-layout__banner-row);
  @include mdw-layout__grid-column($mdw-layout__content-column);
  z-index: 0;
}

.mdw-layout__content {
  @include mdw-layout__grid-row($mdw-layout__content-row);
  @include mdw-layout__grid-column($mdw-layout__content-column);

  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  overflow-x: visible;
  overflow-y: $mdw-layout__content-overflow-y;
  -webkit-overflow-scrolling: touch;
}


.mdw-layout__content-page {
  width: 100%;
}

.mdw-layout__fab,
.mdw-layout__snackbar {
  // Aligned to bottom-anchor
  @include mdw-layout__grid-row($mdw-layout__bottom-row);
  @include mdw-layout__grid-column($mdw-layout__content-column);

  position: static;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: sticky;
  top: auto;
  bottom: 0;

  width: auto;

  transition-duration: $mdw-motion__expand-duration;
  transition-property: transform;
  transition-timing-function: $mdw-motion__decelerate-easing;

  pointer-events: none;
  transform: translateY(-100%);
  z-index: 6;

}

.mdw-layout__menus {
  position: absolute;

  z-index: 8;
}

.mdw-layout__dialogs {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  pointer-events: none;

  z-index: 24;
}

.mdw-layout__snackbar-anchor {
  position: absolute;
  right: auto;
  bottom: 0;
  left: 0;

  // Snackbars are not aligned with layout
  box-sizing: border-box;
  padding-top: dp(24 / 2);
  padding-right: 0;
  padding-bottom: dp(24 / 2);
  padding-left: dp(24 / 2);
  @include mdw-breakpoint__16dp-margin {
    padding-top: dp(16 / 2);
    padding-right: 0;
    padding-bottom: dp(16 / 2);
    padding-left: dp(16 / 2);
  }

  transition-duration: inherit;
  transition-property: transform, bottom;
  transition-timing-function: inherit;

  :root[dir="rtl"] & {
    right: 0;
    left: auto;

    padding-top: dp(24 / 2);
    padding-right: dp(24 / 2);
    padding-bottom: dp(24 / 2);
    padding-left: 0;
    @include mdw-breakpoint__16dp-margin {
      padding-top: dp(16 / 2);
      padding-right: dp(16 / 2);
      padding-bottom: dp(16 / 2);
      padding-left: dp(0);
    }
  }
}

.mdw-layout__snackbar .mdw-snackbar__container {
  position: relative;
}

.mdw-layout__fab-anchor {
  position: absolute;

  // Left aligned
  right: 0;
  bottom: 0;
  left: auto;

  padding: dp(24);
  @include mdw-breakpoint__16dp-margin {
    padding: dp(16);
  }

  transition-duration: inherit;
  transition-property: transform, right, padding-top, padding-bottom;
  transition-timing-function: inherit;

  :root[dir="rtl"] & {
    right: 100%;

    transform: translateX(100%);
  }
}

.mdw-layout__fab-anchor .mdw-fab {
  transition-duration: $mdw-motion__collapse-duration;
  transition-property: transform;
  transition-timing-function: $mdw-motion__accelerate-easing;

  transform: scale(0);
}

.mdw-layout__bottomnav {
  @include mdw-layout__grid-column($mdw-layout__content-column);
  @include mdw-layout__grid-row($mdw-layout__bottom-row);

  position: static;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: sticky;
  bottom: 0;
  
  z-index: 4;

  box-shadow: mdwElevation(8);
}

.mdw-layout__appbar-shape {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  height: 100%;
  width: 100%;

  transition-duration: inherit;
  transition-property: box-shadow;
  transition-timing-function: inherit;

  box-shadow: mdwElevation(4);
  
  color: transparent;

  .mdw-layout__appbar[mdw-autoraise]:not([mdw-raise]) & {
    filter: none;

    box-shadow: mdwElevation(0);
  }

  &::before,
  &::after {
    content: '';

    min-width: dp(24);
    @include mdw-breakpoint__16dp-margin {
      min-width: dp(16);
    }
  }
}

.mdw-layout__fab-cut-track {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  flex-direction: row;

  height: 100%;
  width: 100%;

  transition-duration: $mdw-motion__shape-change-duration;
  transition-property: transform;
  transition-timing-function: $mdw-motion__standard-easing;

  transform: translateX(100%) translateX(-($mdw-layout__fab-size / 2));

  &::before,
  &::after,
  & > svg {
    position: absolute;
    top: 0;

    height: 100%;
  }

  &::before,
  &::after {
    content: '';

    width: 100%;
    margin-left: -$mdw-layout__fab-cut-size / 2;

    background-color: currentColor;
  }

  &::before {
    left: -100%;
  }

  &::after {
    left: $mdw-layout__fab-cut-size;
  }

  & > svg {
    left: -$mdw-layout__fab-cut-size / 2;

    width: $mdw-layout__fab-cut-size;

    fill: currentColor;
  }
}

.mdw-layout__fab-mask-shape {
  transition-delay: $mdw-layout__fab-cut-delay;
  transition-duration: $mdw-motion__collapse-duration;
  transition-property: transform;
  transition-timing-function: $mdw-motion__accelerate-easing;

  // Closed
  transform: scale(0);
}

@include mdw-breakpoint__xsmall-window {
  .mdw-layout__appbar[mdw-autohide~="mobile"][mdw-hide] {
    transform: translateY(-100%);

    &[mdw-bottom] {
      transform: translateY(100%);

      & ~ .mdw-layout__fab,
      & ~ .mdw-layout__snackbar {
        transition-duration: $mdw-motion__collapse-duration;
        transition-property: transform;
        transition-timing-function: $mdw-motion__accelerate-easing;

        transform: translateY(0);
      }
    }
    
    .mdw-layout__appbar-shape {
      filter: none;

      box-shadow: mdwElevation(0);
    }
  }
}

@include mdw-breakpoint__small-window {
  .mdw-layout__appbar[mdw-autohide~="tablet"][mdw-hide] {
    transform: translateY(-100%);

    &[mdw-bottom] {
      transform: translateY(100%);

      & ~ .mdw-layout__fab,
      & ~ .mdw-layout__snackbar {
        transition-duration: $mdw-motion__collapse-duration;
        transition-property: transform;
        transition-timing-function: $mdw-motion__accelerate-easing;

        transform: translateY(0);
      }
    }

    .mdw-layout__appbar-shape {
      filter: none;

      box-shadow: mdwElevation(0);
    }
  }
}

@include mdw-breakpoint__small-window__max {
  .mdw-layout__appbar[mdw-bottom] {
    @include mdw-layout__grid-row($mdw-layout__bottom-row);
    top: auto;
    bottom: 0;

    z-index: 8;

    .mdw-layout__appbar-shape {
      box-shadow: mdwElevation(8);
    }

    &[mdw-fab-cut] {
      & ~ .mdw-layout__fab {
        transform: translateY(-100%) translateY(#{$mdw-layout__fab-size / 2});
      }
  
      .mdw-layout__appbar-shape {
        transition-property: filter;
  
        filter: mdwElevation(8, true);
        
        box-shadow: mdwElevation(0);
      }
      
      .mdw-layout__fab-mask-shape {
        transform: scale(0);
      }
    }

    &[mdw-fab-cut~="open"] {
      .mdw-layout__fab-mask-shape {
        transition-delay: 0s;
        transition-duration: $mdw-motion__expand-duration;
        transition-timing-function: $mdw-motion__decelerate-easing;

        transform: scale(1);
      }
    }
  }

  .mdw-layout__appbar[mdw-autohide=""][mdw-hide] {
    transform: translateY(-100%);

    &[mdw-bottom] {
      transform: translateY(100%);

      & ~ .mdw-layout__fab,
      & ~ .mdw-layout__snackbar {
        transition-duration: $mdw-motion__collapse-duration;
        transition-property: transform;
        transition-timing-function: $mdw-motion__accelerate-easing;

        transform: translateY(0);
      }
    }

    .mdw-layout__appbar-shape {
      filter: none;

      box-shadow: mdwElevation(0);
    }

  }

  .mdw-layout__snackbar-anchor {
    &,
    :root[dir="rtl"] & {
      right: 0;
      left: 0;

      padding: dp(24 / 2);
      @include mdw-breakpoint__16dp-margin {
        padding: dp(16 / 2);
      }
    }
  }

  .mdw-layout__fab[mdw-mobile] {
    & ~ .mdw-layout__snackbar .mdw-layout__snackbar-anchor {
      bottom: dp(24);
      @include mdw-breakpoint__16dp-margin {
        bottom: dp(16);
      }

      transform: translateY(#{dp(-56)});
    }

    & ~ .mdw-layout__content {
      padding-bottom: #{$mdw-layout__fab-size + dp(24)};
    }

    &[aria-hidden="false"] .mdw-fab {
      transition-duration: $mdw-motion__expand-duration;
      transition-timing-function: $mdw-motion__decelerate-easing;

      transform: scale(1);
    }
  }

  .mdw-layout__appbar[mdw-fab-cut~="center"] .mdw-layout__fab-cut-track,
  .mdw-layout__fab[mdw-mobile="center"] .mdw-layout__fab-anchor {
    right: 50%;

    transform: translateX(50%);
  }

  .mdw-layout__appbar[mdw-fab-cut~="full"] .mdw-layout__fab-cut-track,
  .mdw-layout__fab[mdw-mobile="full"] .mdw-layout__fab-anchor {
    right: 0;
    left: 0;

    transform: none;
  }

  .mdw-layout__fab[mdw-mobile="full"] .mdw-fab__button {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  .mdw-layout__appbar[mdw-fab-cut][mdw-bottom]:not([mdw-hide]) {
    & ~ .mdw-layout__fab {
      z-index: 8; // Fab is cut into appbar, therefore elevation must match or be above

      .mdw-fab {
        transform: scale(0);
      }

      &[aria-hidden="false"] .mdw-fab {
        transition-delay: $mdw-layout__fab-cut-delay;
        transition-duration: $mdw-motion__expand-duration;
        transition-timing-function: $mdw-motion__decelerate-easing;

        transform: scale(1);
      }

      .mdw-layout__fab-anchor {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    & ~ .mdw-layout__snackbar .mdw-layout__snackbar-anchor {
      bottom: 0;

      transform: translateY(-$mdw-layout__fab-size / 2);
    }
  }
}

@include mdw-breakpoint__medium-window__min {
  .mdw-layout__body:not([mdw-navdrawer-toggle]):not([mdw-navdrawer-style="modal"]) {
    .mdw-layout__navdrawer-show,
    .mdw-layout__navdrawer-hide,
    .mdw-layout__navdrawer-toggle {
      display: none;
    }
  }

  .mdw-layout__body:not([mdw-sidesheet-toggle]):not([mdw-sidesheet-style="modal"]) {
    .mdw-layout__sidesheet-show,
    .mdw-layout__sidesheet-hide,
    .mdw-layout__sidesheet-toggle {
      display: none;
    }
  }

  .mdw-layout__navdrawer,
  .mdw-layout__sidesheet {
    // Full-height
    position: static;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: sticky;
    top: 0;
    bottom: auto;

    transform: none;
  }

  .mdw-layout__snackbar-anchor {
    width: 50%;
  }

  .mdw-layout__body[mdw-navdrawer-style~="clipped"],
  .mdw-layout__body[mdw-sidesheet-style~="clipped"] {
    overflow-y: $mdw-layout__body-overflow-y;

    & > .mdw-layout__content {
      overflow-y: $mdw-layout__content-overflow-y;
    }
  }

  .mdw-layout__fab[mdw-desktop] {
    &[aria-hidden="false"] .mdw-fab {
      transition-duration: $mdw-motion__expand-duration;
      transition-timing-function: $mdw-motion__decelerate-easing;

      transform: scale(1);
    }

    &:not([mdw-desktop="appbar"]) ~ .mdw-layout__content {
      padding-bottom: #{$mdw-layout__fab-size + dp(24)};
    }
  }

  .mdw-layout__fab[mdw-desktop="appbar"] {
    @include mdw-layout__grid-row($mdw-layout__top-row);
    top: 0;
    bottom: auto;

    transform: translateY(100%);

    &[aria-hidden="false"] .mdw-fab {
      transition-duration: $mdw-motion__expand-duration;
      transition-timing-function: $mdw-motion__decelerate-easing;

      transform: translateY(-50%) scale(1);
    }

    & ~ .mdw-layout__snackbar .mdw-layout__snackbar-anchor {
      width: 75%;
    }

    .mdw-layout__fab-anchor {
      top: 0;
      right: auto;
      bottom: auto;
      left: 0;

      padding-top: 0;
      padding-right: dp(8);
      padding-bottom: 0;
      padding-left: dp(8);

      transform: none;

      :root[dir="rtl"] & {
        right: 0;
        left: auto;
      }
    }
  }

  .mdw-layout__fab[mdw-desktop="appbar"][aria-hidden="true"] .mdw-fab,
  .mdw-layout__appbar[mdw-hide] ~ .mdw-layout__fab[mdw-desktop="appbar"] .mdw-fab {
    transform: translateY(-50%) scale(0);
  }

  .mdw-layout__body[mdw-navdrawer-style~="clipped"] .mdw-layout__navdrawer,
  .mdw-layout__body[mdw-sidesheet-style~="clipped"] .mdw-layout__sidesheet {
    @include mdw-layout__grid-row($mdw-layout__banner-row, $mdw-layout__bottom-row);
    z-index: 0;
  }
  
  .mdw-layout__body[mdw-navdrawer-style~="clipped"] {
    .mdw-layout__appbar,
    .mdw-layout__fab[mdw-desktop="appbar"] {
      @include mdw-layout__grid-column($mdw-layout__navdrawer-column, $mdw-layout__content-column);
    }
  }

  .mdw-layout__body[mdw-sidesheet-style~="clipped"] {
    .mdw-layout__appbar,
    .mdw-layout__fab[mdw-desktop="appbar"] {
      @include mdw-layout__grid-column($mdw-layout__content-column, $mdw-layout__sidesheet-column);
    }
  }

  .mdw-layout__body[mdw-navdrawer-style~="clipped"][mdw-sidesheet-style~="clipped"] {
    .mdw-layout__appbar,
    .mdw-layout__fab[mdw-desktop="appbar"] {
      @include mdw-layout__grid-column($mdw-layout__navdrawer-column, $mdw-layout__sidesheet-column);
    }
  }
  
  .mdw-layout__body[mdw-navdrawer-style~="floating"] .mdw-layout__navdrawer,
  .mdw-layout__body[mdw-sidesheet-style~="floating"] .mdw-layout__sidesheet {
    @include mdw-layout__grid-row($mdw-layout__content-row, $mdw-layout__bottom-row);

    & .mdw-layout__sheet-content {
      height: auto;
      border-width: 0;
    }
  }

  .mdw-layout__body[mdw-navdrawer-style~="floating"] {
    .mdw-layout__banner,
    .mdw-layout__bottomnav {
      @include mdw-layout__grid-column($mdw-layout__navdrawer-column, $mdw-layout__content-column);
    }
  }

  .mdw-layout__body[mdw-sidesheet-style~="floating"] {
    .mdw-layout__banner,
    .mdw-layout__bottomnav {
      @include mdw-layout__grid-column($mdw-layout__content-column, $mdw-layout__sidesheet-column);
    }
  }

  .mdw-layout__body[mdw-navdrawer-style~="floating"][mdw-sidesheet-style~="floating"] {
    .mdw-layout__banner,
    .mdw-layout__bottomnav {
      @include mdw-layout__grid-column($mdw-layout__navdrawer-column, $mdw-layout__sidesheet-column);
    }
  }

  .mdw-layout__body[mdw-navdrawer-style~="card"] .mdw-layout__navdrawer,
  .mdw-layout__body[mdw-sidesheet-style~="card"] .mdw-layout__sidesheet {
    margin: 0 dp(24);
    padding: dp(24) 0;

    & > .mdw-layout__sheet-content {
      box-shadow: mdwElevation(8);
    }
  }

  .mdw-layout__body[mdw-navdrawer-toggle~="dismissible"]:not([mdw-navdrawer-style="modal"]) .mdw-layout__navdrawer:not([aria-hidden="false"]),
  .mdw-layout__body[mdw-sidesheet-toggle~="dismissible"]:not([mdw-sidesheet-style="modal"]) .mdw-layout__sidesheet:not([aria-hidden="false"]) {
    max-width: 0;
    width: 0;
    margin-right: 0;
    margin-left: 0;

    transition-duration: $mdw-motion__collapse-duration;
    transition-property: width, max-width, margin, transform, visibility;
    transition-timing-function: $mdw-motion__accelerate-easing;
    
    visibility: hidden;

    .mdw-layout__sheet-content {
      box-shadow: mdwElevation(0);
    }
  }

  .mdw-layout__body[mdw-navdrawer-toggle~="mini"]:not([mdw-navdrawer-style="modal"]) {
    .mdw-layout__navdrawer:not([aria-hidden="false"]) {
      max-width: $mdw-layout__sheet-max-width__mini;
      width: $mdw-layout__sheet-max-width__mini;

      transition-duration: $mdw-motion__collapse-duration;
      transition-timing-function: $mdw-motion__accelerate-easing;
    }
  }

  .mdw-layout__body[mdw-sidesheet-toggle~="mini"]:not([mdw-sidesheet-style="modal"]) {
    .mdw-layout__sidesheet:not([aria-hidden="false"]) {
      max-width: $mdw-layout__sheet-max-width__mini;
      width: $mdw-layout__sheet-max-width__mini;

      transition-duration: $mdw-motion__collapse-duration;
      transition-timing-function: $mdw-motion__accelerate-easing;
    }
  }

  .mdw-layout__appbar[mdw-autohide=""][mdw-hide] {
    transform: translateY(-100%);

    .mdw-layout__appbar-shape {
      filter: none;

      box-shadow: mdwElevation(0);
    }
  }
}

@supports (position: sticky) or (position: -webkit-sticky) or (position: -moz-sticky) {
  .mdw-layout__body {
    overflow-y: $mdw-layout__body-overflow-y__sticky;

    & > .mdw-layout__content {
      overflow-y: $mdw-layout__content-overflow-y__sticky;
    }
  }
}
