@import '../../core/_breakpoint.scss';
@import '../../core/theme/index.scss';

$mdw-layout__theme-values: (
  divider-color:         $mdw-theme__divider-ink,
  
  content-background:    $mdw-theme__content-surface,
) !default;

@function mdwLayoutThemeValue($key, $type, $theme) {
  @return mdwGetThemeValue('layout', $mdw-layout__theme-values, $key, $type, $theme);
}

@mixin mdw-layout__theme-rules($type: 'var', $theme: null) {
  .mdw-layout__sheet-content {
    border-color: mdwLayoutThemeValue("divider-color", $type, $theme);
  }
  @if ($type == 'var') {
    .mdw-layout__appbar[mdw-fab-cut],
    .mdw-layout__appbar.mdw-theme[mdw-fab-cut] {
      background-color: transparent;
    }

    .mdw-layout__appbar-shape {
      color: RGB(var(--surface-color));
    }
  }

  @include mdw-breakpoint__medium-window__min {
    .mdw-layout__body[mdw-navdrawer-style~="floating"]:not([mdw-navdrawer-style~="card"]) > .mdw-layout__navdrawer,
    .mdw-layout__body[mdw-sidesheet-style~="floating"]:not([mdw-sidesheet-style~="card"]) > .mdw-layout__sidesheet {
      & > .mdw-layout__sheet-content {
        background-color: transparent
      }
    }
  }
}

@each $name in map-keys($mdw-theme__themes) {
  $theme: map-get($mdw-theme__themes, $name);
  @include mdw-theme__add-component-fallback-rules('light', $name) {
    @include mdw-layout__theme-rules('light', $theme);
  }
  @include mdw-theme__add-component-fallback-rules('dark', $name) {
    @include mdw-layout__theme-rules('dark', $theme);
  }
}

@include mdw-theme__add-component-variable-rules('layout', $mdw-layout__theme-values) {
  @include mdw-layout__theme-rules();
}

