@import '../../core/_breakpoint.scss';
@import '../../core/theme/index.scss';

$mdw-layout__theme-values: (
  divider-color:         $mdw-theme__divider-ink,
) !default;

@function mdwLayoutThemeValue($key, $type) {
  @return mdwGetThemeValue('layout', $mdw-layout__theme-values, $key, $type);
}

@mixin mdw-layout__theme-rules($type: 'var') {
  @if ($type == 'var') {
    .mdw-layout__appbar[mdw-fab-cut],
    .mdw-layout__appbar.mdw-theme[mdw-fab-cut] {
      background-color: transparent;
    }

    .mdw-layout__appbar-shape {
      color: RGB(var(--surface-color));
    }
  }

  @include mdw-breakpoint__medium-window__min {
    .mdw-layout__body[mdw-navdrawer-style~="floating"]:not([mdw-navdrawer-style~="card"]) > .mdw-layout__navdrawer,
    .mdw-layout__body[mdw-sidesheet-style~="floating"]:not([mdw-sidesheet-style~="card"]) > .mdw-layout__sidesheet {
      & > .mdw-layout__sheet-content {
        background-color: transparent;
      }
    }
  }
}


@include mdw-theme__add-component-fallback-rules('light') {
  @include mdw-layout__theme-rules('light');
}
@include mdw-theme__add-component-fallback-rules('dark') {
  @include mdw-layout__theme-rules('dark');
}


@include mdw-theme__add-component-variable-rules('layout', $mdw-layout__theme-values) {
  @include mdw-layout__theme-rules();
}

