@use '../../core/_breakpoint.scss' as breakpoint;

.mdw-layout__appbar[mdw-fab-cut],
.mdw-layout__appbar.mdw-theme[mdw-fab-cut] {
  background-color: transparent;
}

.mdw-layout__appbar-shape {
  color: RGB(var(--mdw-surface));
}

@include breakpoint.minMediumWindow {
  .mdw-layout__body[mdw-navdrawer-style~="floating"]:not([mdw-navdrawer-style~="card"]) > .mdw-layout__navdrawer,
  .mdw-layout__body[mdw-sidesheet-style~="floating"]:not([mdw-sidesheet-style~="card"]) > .mdw-layout__sidesheet {
    & > .mdw-layout__sheet-content {
      background-color: transparent;
    }
  }
}
