@import '../common/breakpoint.scss';

@mixin mdw-layout__modal($side) {
  .mdw-layout__body[mdw-#{$side}-style='modal'] {
    @content;
  }

  @include mdw-breakpoint__small-window__max {
    @content;
  }
}

@mixin mdw-layout__grid-column($start, $end: null) {
  @if ($end == null) {
    $end: $start;
  }
  -ms-grid-column: $start;
  grid-column-start: $start;
  -ms-grid-column-span: #{($end - $start) + 1};
  grid-column-end: span #{($end - $start) + 1};
}


@mixin mdw-layout__grid-row($top, $bottom: null) {
  @if ($bottom == null) {
    $bottom: $top;
  }
  -ms-grid-row: $top;
  grid-row-start: $top;
  -ms-grid-row-span: #{($bottom  - $top) + 1};
  grid-row-end: span #{($bottom  - $top) + 1};
}

