// https://material.io/guidelines/layout/responsive-ui.html


$layout__margin: dp(8);
$layout__margin: dp(16);
$layout__gutter: dp(24);

.mdw-layout {
  display: flex;
  grid-auto-flow: row;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  &[mdw-grid] {
    // IE11 is unsupported due to lack of automatic placement
    display: grid;
  }
  &[mdw-dense] {
    grid-auto-flow: row dense;
  }
  &[mdw-stretch] {
    > .mdw-layout__item {
      flex-grow: 1;
    }
  }

  &[mdw-center] {
    justify-content: center;
  }
  flex-wrap: wrap;
  margin-left: -$layout__margin;
  margin-bottom: $layout__margin;
  padding-left: $layout__gutter;
  padding-right: $layout__gutter;
  @include gutter16dp() {
    padding-left: dp(16);
    padding-right: dp(16);
  }
  

  @each $value in (0, 8, 16, 24, 40) {
    &[mdw-gutter="#{$value}"] {
      padding-left: dp($value);
      padding-right: dp($value);
    }
    &[mdw-margin="#{$value}"] {
      margin-left: dp(-$value);
      margin-bottom: dp($value);
      > .mdw-layout__item {
        border-left-width: dp($value);
        margin-top: dp($value);
      }
    }
  }

  @media screen and (max-width: dp(840) - 1) {
    grid-template-columns: repeat(8, 1fr);
  }
  @media screen and (max-width: dp(600) - 1) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include allHandsets {
    @each $value in (0, 8, 16, 24, 40) {
      &[mdw-gutter-mobile][mdw-gutter-mobile="#{$value}"] {
        padding-left: dp($value);
        padding-right: dp($value);
      }
      &[mdw-margin-mobile][mdw-margin-mobile="#{$value}"] {
        margin-left: dp(-$value);
        margin-bottom: dp($value);
        > .mdw-layout__item {
          border-left-width: dp($value);
          margin-top: dp($value);
        }
      }
    }
  }
    
  @include allTablets {
    @each $value in (0, 8, 16, 24, 40) {
      &[mdw-gutter-tablet][mdw-gutter-tablet="#{$value}"] {
        padding-left: dp($value);
        padding-right: dp($value);
      }
      &[mdw-margin-tablet][mdw-margin-tablet="#{$value}"] {
        margin-left: dp(-$value);
        margin-bottom: dp($value);
        > .mdw-layout__item {
          border-left-width: dp($value);
          margin-top: dp($value);
        }
      }
    }
  }
}

.mdw-layout__item {
  flex-grow: 0;
  flex-shrink: 1;
  box-sizing: border-box;
  margin-top: $layout__margin;
  border-left-width: $layout__margin;
  border-left-style: solid;
  border-left-color: transparent;
  flex-basis: calc(100% / 12);
  @for $i from 2 to 8 {
    &[mdw-rowspan="#{$i}"] {
      grid-row-end: span #{$i};
    }
  }
  @for $i from 2 to 12 {
    &[mdw-colspan="#{$i}"] {
      flex-basis: calc((#{$i} * 100% / 12));
      grid-column-end: span #{$i};
    }
  }
  &[mdw-colspan="25%"] {
    flex-basis: 25%;
    grid-column-end: span (1/4 * 12);
  }
  &[mdw-colspan="50%"] {
    flex-basis: 50%;
    grid-column-end: span (2/4 * 12);
  }
  &[mdw-colspan="75%"] {
    flex-basis: 75%;
    grid-column-end: span (3/4 * 12);
  }
  &[mdw-colspan="100%"] {
    flex-basis: 100%;
    grid-column-end: span (4/4 * 12);
  }
  @media screen and (max-width: dp(840) - 1) {
    flex-basis: calc(100% / 8);
    @for $i from 2 to 12 {
      &[mdw-colspan="#{$i}"] {
        flex-basis: calc((#{$i} * 100% / 8));
        @if ($i > 8) {
          grid-column-end: span 8;
        }
      }
    }
    &[mdw-colspan="25%"] {
      grid-column-end: span (1/4 * 8)
    }
    &[mdw-colspan="50%"] {
      grid-column-end: span (2/4 * 8)
    }
    &[mdw-colspan="75%"] {
      grid-column-end: span (3/4 * 8)
    }
    &[mdw-colspan="100%"] {
      grid-column-end: span (4/4 * 8)
    }
  }
  @media screen and (max-width: dp(600) - 1) {
    flex-basis: calc(100% / 4);
    @for $i from 2 to 12 {
      &[mdw-colspan="#{$i}"] {
        flex-basis: calc((#{$i} * 100% / 4));
        @if ($i > 4) {
          grid-column-end: span 4;
        }
      }
    }
    &[mdw-colspan="25%"] {
      grid-column-end: span (1/4 * 4)
    }
    &[mdw-colspan="50%"] {
      grid-column-end: span (1/2 * 4)
    }
    &[mdw-colspan="75%"] {
      grid-column-end: span (3/4 * 4)
    }
    &[mdw-colspan="100%"] {
      grid-column-end: span (4/4 * 4)
    }
  }

  transition-property: flex-basis;
  transition-timing-function: $motion-easing-standard;
  transition-duration: $motion-duration-desktop-default;
  @include allHandsets {
    transition-duration: $motion-duration-mobile-default;
  }
  @include allTablets {
    transition-duration: $motion-duration-tablet-default;
  }

  

  // Stretch children
  display: flex;
  > :first-child {
    flex: auto;
  }
}