@import '../../core/breakpoint.scss';
@import '../../core/theme/exports.scss';

$mdw-layout__theme-values: (
  selected-color:        (('foreground-light', 1.00), ('foreground-dark', 1.00)),
  text-color:            (('foreground-light', 0.87), ('foreground-dark', 1.00)),
  secondary-text-color:  (('foreground-light', 0.54), ('foreground-dark', 0.70)),
  divider-color:         (('foreground-light', 0.12), ('foreground-dark', 0.12)),
  drawer-background:     ((#fff, 1.00),               ('background', '800', 1.00)),
  appbar-background:     ((#fff, 1.00),               ('background', '800', 1.00)),
  content-background:    (('background', '50', 1.00), ('background', '900' , 1.00))
) !default;

@function mdwLayoutThemeValue($key, $type, $theme) {
  @return mdwGetThemeValue('layout', $mdw-layout__theme-values, $key, $type, $theme);
}

@mixin mdw-layout__theme-rules($type: 'var', $theme: null) {
  .mdw-layout__body {
    background-color: mdwLayoutThemeValue("content-background", $type, $theme);
    color: mdwLayoutThemeValue("text-color", $type, $theme);
  }

  .mdw-layout__sheet-content {
    background-color: mdwLayoutThemeValue("drawer-background", $type, $theme);
    border-color: mdwLayoutThemeValue("divider-color", $type, $theme);
  }

  .mdw-layout__navdrawer {
    .mdw-list__subheader {
      color: mdwLayoutThemeValue("secondary-text-color", $type, $theme);
    }
  }

  .mdw-layout__appbar:not([mdw-surface]) {
    background-color: mdwLayoutThemeValue("appbar-background", $type, $theme);
  }

  .mdw-layout__appbar-shape {
    color: transparent;
  }

  .mdw-layout__appbar[mdw-fab-cut] {
    background-color: transparent;

    .mdw-layout__appbar-shape {
      color: mdwLayoutThemeValue("appbar-background", $type, $theme);
    }
  }

  @include mdw-breakpoint__12-columns {
    .mdw-layout__body[mdw-navdrawer-style~="floating"]:not([mdw-navdrawer-style~="card"]) > .mdw-layout__navdrawer,
    .mdw-layout__body[mdw-sidesheet-style~="floating"]:not([mdw-sidesheet-style~="card"]) > .mdw-layout__sidesheet {
      & > .mdw-layout__sheet-content:not([mdw-surface]) {
        background-color: mdwLayoutThemeValue("content-background", $type, $theme);
      }
    }
  }
}

@each $name in map-keys($mdw-theme__themes) {
  $theme: map-get($mdw-theme__themes, $name);
  @include mdw-theme__add-component-fallback-rules('light', $name) {
    @include mdw-layout__theme-rules('light', $theme);
  }
  @include mdw-theme__add-component-fallback-rules('dark', $name) {
    @include mdw-layout__theme-rules('dark', $theme);
  }
}

@include mdw-theme__add-component-variable-rules('layout', $mdw-layout__theme-values) {
  @include mdw-layout__theme-rules();
}

