@use "../../core/theme" with (
  $alias: (
    'primary': 'deeppurple',
    'secondary': 'deeporange',
    'warn': 'red',
    'background': 'bluegray',
  )
);

@use "../../core/overlay";
@use "../../core/ripple";

@use "../../components/appbar";
@use "../../components/banner";
@use "../../components/button";
@use "../../components/card";
@use "../../components/dialog";
@use "../../components/divider";
@use "../../components/fab";
@use "../../components/grid";
@use "../../components/layout";
@use "../../components/list";
@use "../../components/menu";
@use "../../components/selection";
@use "../../components/snackbar";
@use "../../components/type";

:root {
  --mdw-ink-default-light: 0,96,100;
  --mdw-ink-default-dark: 224,247,250;
}
