$mdw-theme__primary: 'deeppurple';
$mdw-theme__secondary: 'deeporange';
$mdw-theme__warn: 'red';
$mdw-theme__background: 'bluegray';
$mdw-theme__foreground: (#006064, #E0F7FA);

@import "../../core/color/index.scss";
@import "../../core/overlay/index.scss";
@import "../../core/ripple/index.scss";

@import "../../components/appbar/index.scss";
@import "../../components/banner/index.scss";
@import "../../components/button/index.scss";
@import "../../components/card/index.scss";
@import "../../components/dialog/index.scss";
@import "../../components/divider/index.scss";
@import "../../components/fab/index.scss";
@import "../../components/grid/index.scss";
@import "../../components/layout/index.scss";
@import "../../components/list/index.scss";
@import "../../components/menu/index.scss";
@import "../../components/selection/index.scss";
@import "../../components/snackbar/index.scss";
@import "../../components/type/index.scss";
