@use "../../core/theme/_config.scss" with (
  $primary: 'deeppurple',
  $secondary: 'deeporange',
  $warn: 'red',
  $background: 'bluegray',
  $foreground: (#006064, #E0F7FA),
);

@use "../../core/color";
@use "../../core/overlay";
@use "../../core/ripple";

@use "../../components/appbar";
@use "../../components/banner";
@use "../../components/button";
@use "../../components/card";
@use "../../components/dialog";
@use "../../components/divider";
@use "../../components/fab";
@use "../../components/grid";
@use "../../components/layout";
@use "../../components/list";
@use "../../components/menu";
@use "../../components/selection";
@use "../../components/snackbar";
@use "../../components/type";
