// https://material.io/guidelines/components/dialogs.html

// https://material.io/guidelines/components/menus.html


$dialog__unit-width: dp(56);

.mdw-dialog__close {
  visibility: hidden;
  pointer-events: inherit;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: default;
  background-color: rgba(black, 0.50);
}

.mdw-dialog {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  pointer-events: none;
  z-index: 1;
  transition-property: opacity;
  transition-timing-function: $motion-easing-deceleration;
  transition-duration: $motion-duration-desktop-leave;
  @include allHandsets {
    transition-duration: $motion-duration-mobile-leave;
  }
  @include allTablets {
    transition-duration: $motion-duration-tablet-leave;
  }
  @for $i from 3 to 7 {
    &[mdw-width-units="#{$i}"] {
      width: calc(#{$dialog__unit-width} * #{$i});
    }
  }
  opacity: 0;
  &[mdw-show]:not([mdw-hide]),
  &:target {
    pointer-events: auto;
    transition-timing-function: $motion-easing-acceleration;
    transition-duration: $motion-duration-desktop-enter;
    opacity: 1;
    @include allHandsets {
      transition-duration: $motion-duration-mobile-enter;
    }
    @include allTablets {
      transition-duration: $motion-duration-tablet-enter;
    }
    .mdw-dialog__close {
      visibility: visible;
    }
  }
}

.mdw-dialog__popup {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  min-width: dp(224);
  border-radius: dp(2);
  box-shadow: elevation(24);
  transition-duration: inherit;
  transition-timing-function: inherit;
  margin: dp(40);
}

.mdw-dialog__content {
  display: flex;
  flex-direction: column;
  padding: 0 dp(24);
}
.mdw-dialog__title {
  font-weight: $font-weight-medium;
  line-height: sp(28);
  font-size: sp(20);
  padding-top: insetPaddingTop(dp(24), sp(28));
  padding-bottom: insetPaddingBottom(dp(10), sp(28));
}

.mdw-dialog__body {
  font-weight: $font-weight-regular;
  line-height: sp(24);
  font-size: sp(16);
  padding-top: insetPaddingTop(dp(24), sp(24));
  padding-bottom: insetPaddingBottom(dp(24), sp(24));
  .mdw-dialog__title ~ & {
    padding-top: insetPaddingTop(dp(10), sp(24));
  }
}



.mdw-dialog__button-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: dp(8) 0;
  .mdw-button {
    margin: 0;
    justify-content: flex-end;
    &:last-child {
      margin: 0 dp(8);
    }
  }
}
