// https://material.io/design/components/sliders.html#spec

@use '../../core/_length.scss' as *;

@mixin track {
  width: 100%;
  height: dp(2);
  background-color: currentColor;
  border-color: transparent;
  color: inherit;
}

@mixin thumb {
  height: dp(12);
  width: dp(12);
  border-radius: 50%;
  background-color: currentColor;
  color: inherit;
  cursor: pointer;
}

.mdw-slider__input {
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  color: inherit;
  background: transparent;
  
  
  &:focus {
    outline: none;
  }
  
  &::-ms-track {
    width: 100%;
    cursor: pointer;
  
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }
  
  &::-moz-range-track {
    @include track;
  }
  &::-ms-track {
    @include track;
  }
  &::-webkit-slider-runnable-track {
    @include track;
  }
  &::-ms-thumb {
    @include thumb;
  }
  &::-moz-range-thumb {
    @include thumb;
  }
  &::-webkit-slider-thumb {
    @include thumb;
    -webkit-appearance: none;
    margin-top: dp(-5);
  }
}

