// https://material.io/design/components/sliders.html#spec

@use '../../core/_length.scss' as *;

@mixin track {
  block-size: 2px;
  inline-size: 100%;

  background-color: currentColor;
  border-color: transparent;
  color: inherit;
}

@mixin thumb {
  block-size: 12px;
  inline-size: 12px;

  cursor: pointer;

  background-color: currentColor;
  border-radius: 50%;
  color: inherit;
}

.mdw-slider__input {
  inline-size: 100%;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  background: transparent;
  color: inherit;

  &:focus {
    outline: none;
  }

  &::-moz-range-track {
    @include track;
  }

  &::-webkit-slider-runnable-track {
    @include track;
  }

  &::-moz-range-thumb {
    @include thumb;
    border: none;
  }

  &::-webkit-slider-thumb {
    @include thumb;
    margin-block-start: -5px;

    /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
    -webkit-appearance: none;
  }
}
