// https://material.io/design/components/sliders.html#spec

@mixin mdw-slider__track {
  width: 100%;
  height: dp(2);
  background-color: currentColor;
  border-color: transparent;
  color: inherit;
}

@mixin mdw-slider__thumb {
  height: dp(12);
  width: dp(12);
  border-radius: 50%;
  background-color: currentColor;
  color: inherit;
  cursor: pointer;
}

.mdw-slider__input {
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  color: inherit;
  background: transparent;
  
  
  &:focus {
    outline: none;
  }
  
  &::-ms-track {
    width: 100%;
    cursor: pointer;
  
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }
  
  &::-moz-range-track {
    @include mdw-slider__track;
  }
  &::-ms-track {
    @include mdw-slider__track;
  }
  &::-webkit-slider-runnable-track {
    @include mdw-slider__track;
  }
  &::-ms-thumb {
    @include mdw-slider__thumb;
  }
  &::-moz-range-thumb {
    @include mdw-slider__thumb;
  }
  &::-webkit-slider-thumb {
    @include mdw-slider__thumb;
    -webkit-appearance: none;
    margin-top: dp(-5);
  }
}

