@import './_palettes.scss';

@function __mdwGetThemeValue($component, $colorMap, $key, $type) {
  @if ($type == 'var') {
    @return var(--mdw-#{$component}__#{$key});
  }
  $item: __mdwGetThemeMapItem($colorMap, $key, $type);
  $length: length($item);
  @if ($length == 1) {
    @if (type_of($item) == color) {
      @return red($item),green($item),blue($item);
    }
    @return $item;
  } @else if ($length == 2) {
    $color: nth($item, 1);
    $opacity: nth($item, 2);
    @if (type_of($color) == string) {
      $color: mdwGetThemeParamColor($color);
    }
    @return red($color),green($color),blue($color),$opacity;
  } @else {
    $color: nth($item, 1);
    $tone: nth($item, 2);
    $opacity: nth($item, 3);
    $value: mdwGetThemeParamColor($color, $tone);
    @if ($opacity == null) {
      @return red($value),green($value),blue($value);
    }
    @return red($value),green($value),blue($value),$opacity;
  }
  @return null;
}

@mixin __mdw-theme__add-variables($component, $map, $lightness) {
  @each $key in map-keys($map) {
    $item: __mdwGetThemeMapItem($map, $key, $lightness);
    $value: null;
    $length: length($item);
    @if ($length == 1) {
      @if (type_of($item) == color) {
        $value: red($item),green($item),blue($item);
      } @else {
        $value: $item;
      }
    } @else if ($length == 2) {
      $color: nth($item, 1);
      $opacity: nth($item, 2);
      @if (type_of($color) == string) {
        $color: mdwGetThemeParamColor($color);
      }
      $value: red($color),green($color),blue($color),$opacity;
    } @else {
      $color: nth($item, 1);
      $tone: nth($item, 2);
      $opacity: nth($item, 3);
      @if ($tone == null) {
        @error '$tone cannot be null';
      }
      @if ($color == null) {
        $value: var(--#{$tone}-color);
      } @else {
        @if (type_of($color) == string) {
          $color: mdwGetThemeParamColor($color, $tone);
        }
        @if ($opacity == null) {
          $value: red($color),green($color),blue($color);
        } @else {
          $value: red($color),green($color),blue($color),$opacity;
        }
      }
    }
    --mdw-#{$component}__#{$key}: #{$value};
  }
}

@function __mdwGetThemeMapItem($colorMap, $key, $lightness) {
  $list: map-get($colorMap, $key);
  $length: length($list);

  @if ($lightness == 'dark') {
    @if ($length > 1) {
      @return nth($list, 2);
    } @else {
      @error 'Variable not found' $key;
    }
  }
  @return nth($list, 1);
}

@mixin __mdw-theme__add-component-variable-rules($component, $values) {
  :root,
  .mdw-theme[mdw-light] {
    @include __mdw-theme__add-variables($component, $values, 'light');
  }

  .mdw-theme[mdw-dark] {
    @include __mdw-theme__add-variables($component, $values, 'dark');
  }
}

@mixin __mdw-theme__fallbacks($scope) {
  @if ($scope == 'global') {
    @content;
  } @else if ($scope == 'light') {
    .mdw-theme[mdw-light],
    .mdw-theme[mdw-dark] .mdw-theme[mdw-light] {
      @content;
    }
  } @else if ($scope == 'dark') {
    .mdw-theme[mdw-dark],
    .mdw-theme[mdw-light] .mdw-theme[mdw-dark] {
      @content;
    }
  }
}
