@use 'sass:map';
@use './_config.scss' as *;
@use './_palettes.scss' as *;

@function getRGB($item) {
  @return red($item),green($item),blue($item);
}

@function getAllTones() {
  $result: ();
  @each $toneKey in $ink-tones {
    @if (index($result, $toneKey) == null) {
      $result: append($result, $toneKey);
    }
  }
  @each $toneKey in $surface-tones {
    @if (index($result, $toneKey) == null) {
      $result: append($result, $toneKey);
    }
  }
  @return $result;
}
