$mdw-theme__themes: (
  "default": ('blue', 'pink', 'red', 'grey', black, white),
) !default;
$mdw-theme__colors: () !default;
$mdw-theme__fallbacks: ('rules', 'colors', 'themes', 'ieonly') !default;
$mdw-theme__variables: ('rules', 'colors', 'themes', 'supports') !default;

$mdw-theme__default-ink: (('foreground-light', 0.87), ('foreground-dark', 1.00)) !default;
$mdw-theme__medium-ink: (('foreground-light', 0.60), ('foreground-dark', 0.70)) !default;
$mdw-theme__inactive-ink: (('foreground-light', 0.38), ('foreground-dark', 0.50)) !default;
$mdw-theme__divider-ink: (('foreground-light', 0.12), ('foreground-dark', 0.24)) !default;
