$fallbacks: 'ieonly' !default;
$cssvars: 'supports' !default;

$inks: ('primary', 'secondary', 'warn') !default;
$surfaces: ('primary', 'secondary', 'warn', 'background') !default;
$ink-tones: ("A100", "A200", "A400", "A700") !default;
$surface-tones: ("50", "100", "200", "300", "400", "500", "600", "700", "800", "900") !default;
$primary: 'blue' !default;
$secondary: 'pink' !default;
$warn: 'red' !default;
$background: 'gray' !default;
$foreground: (#000, #fff) !default;

$high-opacity: (0.87, 1.00) !default;
$medium-opacity: (0.60, 0.70) !default;
$inactive-opacity: (0.38, 0.50) !default;
$divider-opacity: (0.12, 0.24) !default;

$default-color-surface: ('50', '900') !default;
$alt-color-surface: ('100', '800') !default;

$default-color-ink: ('A700', 'A200') !default;
$contrast-color-ink: ('A700', 'A100') !default;
$light-color-ink: ('A400', 'A100') !default;