@import '../platform.scss';
@import './palettes.scss';

$mdw-theme__themes: (
  "default": ('indigo', 'pink', 'red', 'grey', black, white),
) !default;
$mdw-theme__colors: () !default;
$mdw-theme__fallbacks: ('rules', 'colors', 'themes', 'ieonly') !default;
$mdw-theme__variables: ('rules', 'colors', 'themes', 'supports') !default;

$mdw-theme__default-ink:     (('foreground-light', 0.87), ('foreground-dark', 1.00)) !default;
$mdw-theme__medium-ink:      (('foreground-light', 0.60), ('foreground-dark', 0.70)) !default;
$mdw-theme__inactive-ink:    (('foreground-light', 0.38), ('foreground-dark', 0.50)) !default;
$mdw-theme__divider-ink:     (('foreground-light', 0.12), ('foreground-dark', 0.24)) !default;
$mdw-theme__card-surface:    ((#fff, 1.00), ('background', '800', 1.00)) !default;
$mdw-theme__content-surface: (('background', '50', 1.00), ('background', '900', 1.00)) !default;

@mixin __mdw-theme__add-component-variable-rules($component, $values) {
  :root,
  .mdw-theme[mdw-light] {
    @include mdw-theme__variables($component, $values, 'light');
  }

  .mdw-theme[mdw-dark] {
    @include mdw-theme__variables($component, $values, 'dark');
  }
}

@mixin mdw-theme__add-component-variable-rules($component, $values) {
  @if index($mdw-theme__variables, 'rules') {
    @if index($mdw-theme__variables, 'supports') {
      @supports(--v:v) {
        @include __mdw-theme__add-component-variable-rules($component, $values);
        @content;
      }
    } @else {
      @include __mdw-theme__add-component-variable-rules($component, $values);
      @content;
    }
  }
}

@mixin __mdw-theme__fallbacks($lightness, $name) {
  $theme: map-get($mdw-theme__themes, $name);
  $namespace: '.mdw-theme[mdw-theme="#{$name}"]';
  @if ($lightness == 'light') {
    #{$namespace}[mdw-light],
    #{$namespace}[mdw-dark] .mdw-theme[mdw-light],
    #{$namespace} .mdw-theme[mdw-light],
    #{$namespace} .mdw-theme[mdw-dark] .mdw-theme[mdw-light] {
      @content;
    }
  } @else if ($lightness == 'dark') {
    #{$namespace}[mdw-dark],
    #{$namespace}[mdw-light] .mdw-theme[mdw-dark],
    #{$namespace} .mdw-theme[mdw-dark],
    #{$namespace} .mdw-theme[mdw-light] .mdw-theme[mdw-dark] {
      @content;
    }
  }
}

@mixin mdw-theme__add-component-fallback-rules($lightness, $name) {
  @if index($mdw-theme__fallbacks, 'rules') {
    @if (index($mdw-theme__fallbacks, 'ieonly')) {
      @include mdw-platform__ie() {
        @include __mdw-theme__fallbacks($lightness, $name) {
          @content;
        }
      }
    } @else {
      @include __mdw-theme__fallbacks($lightness, $name) {
        @content;
      }
    }
  }
}

@function mdwGetThemeMapItem($colorMap, $key, $lightness) {
  $list: map-get($colorMap, $key);
  $length: length($list);

  @if ($lightness == 'dark') {
    @if ($length > 1) {
      @return nth($list, 2);
    } @else {
      @error 'Variable not found' $key;
    }
  }
  @return nth($list, 1);
}

@function mdwGetThemeValue($component, $colorMap, $key, $type, $theme: null) {
  @if ($type == 'var') {
    @return var(--#{$component}__#{$key});
  }
  $item: mdwGetThemeMapItem($colorMap, $key, $type);
  $length: length($item);
  @if ($length == 1) {
    @return $item;
  } @else if ($length == 2) {
    $color: nth($item, 1);
    $opacity: nth($item, 2);
    @if (type_of($color) == string) {
      $color: mdwGetThemeParamColor($color, null, $type, $theme);
    }
    @return rgba($color, $opacity);
  } @else {
    $color: nth($item, 1);
    $tone: nth($item, 2);
    $opacity: nth($item, 3);
    $value: mdwGetThemeParamColor($color, $tone, $type, $theme);
    @if ($opacity == null) {
      $opacity: 1.0;
    }
    @return rgba($value, $opacity);
  }
  @return null;
}

@function mdwGetThemeParamValue($param, $theme) {
  @if ($param == 'primary') {
    @if ($theme != null) {
      @return map-get($mdw-theme__palettes, nth($theme, 1));
    }
    @error 'Missing primary color!';
  } @else if ($param == 'accent') {
    @if (length($theme) > 1) {
      @return map-get($mdw-theme__palettes, nth($theme, 2));
    }
    @error 'Missing accent color!';
  } @else if ($param == 'warn') {
    @if (length($theme) > 2) {
      @return map-get($mdw-theme__palettes, nth($theme, 3));
    }
    @return map-get($mdw-theme__palettes, 'red');
  } @else if ($param == 'background') {
    @if (length($theme) > 3) {
      @return map-get($mdw-theme__palettes, nth($theme, 4));
    }
    @return map-get($mdw-theme__palettes, 'grey');
  } @else if ($param == 'foreground-light') {
    @if (length($theme) > 4) {
      @return nth($theme, 5);
    }
    @return #000000;
  } @else if ($param == 'foreground-dark') {
    @if (length($theme) > 5) {
      @return nth($theme, 6);
    }
    @return #FFFFFF;
  }
  @error "Unrecognized Theme Palette!" ;
}

@function mdwGetThemeParamColor($param, $tone, $type, $theme: null) {
  @if ($type == 'var' or ($type == null and $theme == null)) {
    @if ($tone == null) {
      @return var(--#{$param}-color);
    }
    @return var(--#{$param}-#{$tone}-color);
  }
  @if ($tone == null) {
    $tone: '500';
  }

  $paramValue: mdwGetThemeParamValue($param, $theme);
  @if (($param == 'foreground-light') or ($param == 'foreground-dark')) {
    @return $paramValue;
  }
  @return map-get($paramValue, $tone);
}

// Theming mixins

@mixin mdw-theme__variables($component, $map, $lightness) {
  @each $key in map-keys($map) {
    $item: mdwGetThemeMapItem($map, $key, $lightness);
    $value: null;
    $length: length($item);
    @if ($length == 1) {
      $value: $item;
    } @else if ($length == 2) {
      $color: nth($item, 1);
      $opacity: nth($item, 2);
      @if (type_of($color) == string) {
        $value: rgba(var(--#{$color}-color), #{$opacity});
      } @else {
        $value: rgba($color, $opacity);
      }
    } @else {
      $color: nth($item, 1);
      $tone: nth($item, 2);
      $opacity: nth($item, 3);
      @if ($tone == null or tone == '500') {
        $value: unquote("rgba(var(--#{$color}-color), #{$opacity})");
      } @else {
        $value: unquote("rgba(var(--#{$color}-#{$tone}-color), #{$opacity})");
      }
    }
    --#{$component}__#{$key}: #{$value};
  }
}
