@import './exports.scss';

$mdw-theme__global-variables: (
  text-color:           (('foreground-light', 0.87), ('foreground-dark', 1.00)),
  secondary-text-color: (('foreground-light', 0.54), ('foreground-dark', 0.70)),
) !default;

@function mdwThemeGlobalValue($key, $type, $theme) {
  @return mdwGetThemeValue('theme', $mdw-theme__global-variables, $key, $type, $theme);
}

@mixin mdw-theme__global-theme-variables($lightness) {
  @include mdw-theme__variables('theme', $mdw-theme__global-variables, $lightness);
}

// Vary by contrast and theme
@mixin mdw-theme__global-contrast-and-theme-rules($type: 'var', $theme: null) {
  @if ($type == 'var') {
    @at-root {
      .mdw-theme[mdw-surface]:not([mdw-ink]) {
        color: mdwThemeGlobalValue("text-color", $type, $theme);
      }
    }
  }


  // color: globalThemeValue("text-color", $type);
  .mdw-theme__primary-text {
    color: mdwThemeGlobalValue("text-color", $type, $theme);
  }

  .mdw-theme__secondary-text {
    color: mdwThemeGlobalValue("secondary-text-color", $type, $theme);
  }
}
