@forward './_variables.scss';
@forward './_palettes.scss';

@use '../_platform.scss' as platform;
@use './_variables.scss' as variables;
@use './_palettes.scss' as palettes;

@mixin _addCSSVariables($component, $map, $lightness) {
  @each $key in map-keys($map) {
    $item: _getThemeMapItem($map, $key, $lightness);
    $value: null;
    $length: length($item);
    @if ($length == 1) {
      @if (type_of($item) == color) {
        $value: red($item),green($item),blue($item);
      } @else {
        $value: $item;
      }
    } @else if ($length == 2) {
      $color: nth($item, 1);
      $opacity: nth($item, 2);
      @if (type_of($color) == string) {
        $color: _getThemeParamColor($color);
      }
      $value: red($color),green($color),blue($color),$opacity;
    } @else {
      $color: nth($item, 1);
      $tone: nth($item, 2);
      $opacity: nth($item, 3);
      @if ($tone == null) {
        @error '$tone cannot be null';
      }
      @if ($color == null) {
        $value: var(--#{$tone}-color);
      } @else {
        @if (type_of($color) == string) {
          $color: _getThemeParamColor($color, $tone);
        }
        @if ($opacity == null) {
          $value: red($color),green($color),blue($color);
        } @else {
          $value: red($color),green($color),blue($color),$opacity;
        }
      }
    }
    --mdw-#{$component}__#{$key}: #{$value};
  }
}

@mixin _addComponentCSSVariableRules($component, $values) {
  :root,
  .mdw-theme[mdw-light] {
    @include _addCSSVariables($component, $values, 'light');
  }

  .mdw-theme[mdw-dark] {
    @include _addCSSVariables($component, $values, 'dark');
  }
}

@mixin addComponentCSSVariableRules($component, $values) {
  @if (variables.$cssvars == 'supports') {
    @supports(--v:v) {
      @content;
      @include _addComponentCSSVariableRules($component, $values);
    }
  } @else if (variables.$cssvars != false) {
    @content;
    @include _addComponentCSSVariableRules($component, $values);
  }
}

@mixin addComponentFallbackRules($lightness) {
  @if (variables.$fallbacks == 'ieonly') {
    @include platform.ifIE() {
      @include fallbackWrapper($lightness) {
        @content;
      }
    }
  } @else if (variables.$fallbacks != false) {
    @include fallbackWrapper($lightness) {
      @content;
    }
  }
}

@function getThemeParamValue($param) {
  @if ($param == 'primary') {
    @return map-get(palettes.$palettes, variables.$primary);
  } @else if ($param == 'secondary') {
    @return map-get(palettes.$palettes, variables.$secondary);
  } @else if ($param == 'warn') {
    @return map-get(palettes.$palettes, variables.$warn);
  } @else if ($param == 'background') {
    @return map-get(palettes.$palettes, variables.$background);
  } @else if ($param == 'foreground-light') {
    @return nth(variables.$foreground, 1);
  } @else if ($param == 'foreground-dark') {
    @return nth(variables.$foreground, length(variables.$foreground));
  } @else {
    @return map-get(palettes.$palettes, $param);
  }
}

@function _getThemeParamColor($param, $tone: null) {
  $paramValue: getThemeParamValue($param);
  @if (($param == 'foreground-light') or ($param == 'foreground-dark')) {
    @return $paramValue;
  }
  @return map-get($paramValue, $tone);
}

@function _getThemeMapItem($colorMap, $key, $lightness) {
  $list: map-get($colorMap, $key);
  $length: length($list);

  @if ($lightness == 'dark') {
    @if ($length > 1) {
      @return nth($list, 2);
    } @else {
      @error 'Variable not found' $key;
    }
  }
  @return nth($list, 1);
}

@function getThemeValue($component, $colorMap, $key, $type) {
  @if ($type == 'var') {
    @return var(--mdw-#{$component}__#{$key});
  }
  $item: _getThemeMapItem($colorMap, $key, $type);
  $length: length($item);
  @if ($length == 1) {
    @if (type_of($item) == color) {
      @return red($item),green($item),blue($item);
    }
    @return $item;
  } @else if ($length == 2) {
    $color: nth($item, 1);
    $opacity: nth($item, 2);
    @if (type_of($color) == string) {
      $color: _getThemeParamColor($color);
    }
    @return red($color),green($color),blue($color),$opacity;
  } @else {
    $color: nth($item, 1);
    $tone: nth($item, 2);
    $opacity: nth($item, 3);
    $value: _getThemeParamColor($color, $tone);
    @if ($opacity == null) {
      @return red($value),green($value),blue($value);
    }
    @return red($value),green($value),blue($value),$opacity;
  }
  @return null;
}

@mixin fallbackWrapper($scope) {
  @if ($scope == 'global') {
    @content;
  } @else if ($scope == 'light') {
    .mdw-theme[mdw-light],
    .mdw-theme[mdw-dark] .mdw-theme[mdw-light] {
      @content;
    }
  } @else if ($scope == 'dark') {
    .mdw-theme[mdw-dark],
    .mdw-theme[mdw-light] .mdw-theme[mdw-dark] {
      @content;
    }
  }
}
