@import '../common/theming.scss';

$globalColors: (
  text-color:           (('foreground-light', 0.87), ('foreground-dark', 1.00)),
  secondary-text-color: (('foreground-light', 0.54), ('foreground-dark', 0.70)),
);

@function globalThemeValue($key, $type, $theme) {
  @return themeValue('mdw', $globalColors, $key, $type, $theme);
}

@mixin globalThemeVariables($lightness) {  
  @include themeVariables('mdw', $globalColors, $lightness);
}

// Vary by contrast and theme
@mixin globalContrastAndThemeRules($type: 'var', $theme: null) {
  @if ($type != 'var') {
    color: globalThemeValue("text-color", $type, $theme);
  } @else {
    @at-root {
      *[mdw-theme-fill] {
        color: globalThemeValue("text-color", $type, $theme);
      }
    }
  }
  // color: globalThemeValue("text-color", $type);
  .mdw__primary-text {
    color: globalThemeValue("text-color", $type, $theme);
  }
  .mdw__secondary-text {
    color: globalThemeValue("secondary-text-color", $type, $theme);
  }
}
