// https://material.io/design/components/tooltips.html#spec

@import '../../core/_motion.scss';
@import '../../core/_platform.scss';
@import '../../core/_type.scss';

// Guidelines state background is #616161, which is Gray 700

$mdw-tooltip__desktop-margin: dp(14) !default;
$mdw-tooltip__mobile-margin: dp(24) !default;
$mdw-tooltip__touch-fade-out-time: 1.5s !default;
$mdw-tooltip__touch-min-hold-time: 500ms !default;


.mdw-tooltip__wrapper {
  position: relative;
  overflow: visible;
}

.mdw-tooltip,
.mdw-tooltip__target {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.mdw-tooltip {
  @include type-rules('caption');

  position: absolute;

  top: 100%;
  left: 50%;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: auto;
  padding: dp(6) dp(8);
  
  cursor: none;
  
  transition-duration: $mdw-motion__fade-out-duration;
  transition-property: opacity;
  transition-timing-function: $mdw-motion__accelerate-easing;
  
  opacity: 0;
  pointer-events: none;
  // Default Alignment is Center
  
  transform: translateX(-50%) translateY($mdw-tooltip__desktop-margin);
  z-index: 8;

  border-radius: dp(4);

  line-height: 1;
  white-space: nowrap;

  .mdw-tooltip__target:hover > &,
  .mdw-tooltip__target:focus > &,
  .mdw-tooltip__wrapper > .mdw-tooltip__target:hover ~ &,
  .mdw-tooltip__wrapper > .mdw-tooltip__target:not([tabindex="-1"]):focus ~ & {
    transition-duration: $mdw-motion__fade-in-duration;
    transition-timing-function: $mdw-motion__accelerate-easing;
    
    opacity: 0.9;
  }

  &[mdw-align="start"],
  :root[dir="rtl"] &[mdw-align="end"] {
    right: auto;
    left: 0;
  }

  &[mdw-align="end"],
  :root[dir="rtl"] &[mdw-align="start"] {
    right: 0;
    left: auto;
  }

  &[mdw-align="start"],
  &[mdw-align="end"] {
    transform: translateY($mdw-tooltip__desktop-margin);
  }

  &[mdw-position="start"],
  &[mdw-position="end"],
  &[mdw-position="left"],
  &[mdw-position="right"] {
    top: 50%;
    left: 0;
  }

  &[mdw-position="start"],
  &[mdw-position="left"],
  :root[dir="rtl"] &[mdw-position="end"] {
    margin: 0;

    transform: translateY(-50%) translateX(-100%);
  }

  &[mdw-position="end"],
  &[mdw-position="right"],
  :root[dir="rtl"] &[mdw-position="start"] {
    transform: translateY(-50%) translateX(100%);
  }

  &[mdw-position="top"] {
    top: 0;

    transform: translateX(-50%) translateY(-100%) translateY(-$mdw-tooltip__desktop-margin);

    &[mdw-align="start"],
    &[mdw-align="end"] {
      transform: translateY(-100%) translateY(-$mdw-tooltip__desktop-margin);
    }
  }
  
}

// Button position fix
.mdw-tooltip__wrapper > .mdw-button[mdw-icon] ~ .mdw-tooltip {
  &:not([mdw-position]) {
    // Bottom
    margin-top: dp(-8);
  }

  &[mdw-position="top"] {
    margin-top: dp(8);
  }
}

// Menu flicker fix
.mdw-menu__wrapper > .mdw-menu:target ~ .mdw-tooltip,
.mdw-menu__wrapper > .mdw-menu[mdw-show]:not([mdw-hide]) ~ .mdw-tooltip {
  transition-delay: 0;

  opacity: 0;
}

@include mdw-platform__has-touch-support {
  .mdw-tooltip {
    padding: dp(10) dp(16);

    transition-delay: $mdw-tooltip__touch-min-hold-time;

    transform: translateX(-50%) translateY($mdw-tooltip__mobile-margin);

    font-size: sp(14);

    &[mdw-align="start"],
    &[mdw-align="end"] {
      transform: translateY($mdw-tooltip__mobile-margin);
    }

    &[mdw-position="top"] {
      transform: translateX(-50%) translateY(-100%) translateY(-$mdw-tooltip__mobile-margin);

      &[mdw-align="start"],
      &[mdw-align="end"] {
        transform: translateY(-100%) translateY(-$mdw-tooltip__mobile-margin);
      }
    }

    // Don't change opacity unless active
    .mdw-tooltip__target:hover:not(:active) > &,
    .mdw-tooltip__target:focus:not(:active) > &,
    .mdw-tooltip__wrapper > .mdw-tooltip__target:hover:not(:active) ~ &,
    .mdw-tooltip__wrapper > .mdw-tooltip__target:not([tabindex="-1"]):focus:not(:active) ~ & {
      transition-delay: $mdw-tooltip__touch-fade-out-time;

      opacity: 0;
    }

    .mdw-tooltip__target:active > &,
    .mdw-tooltip__wrapper > .mdw-tooltip__target:active ~ .mdw-tooltip {
      transition-duration: $mdw-motion__fade-in-duration;
      transition-timing-function: $mdw-motion__accelerate-easing;

      opacity: 0.9;
    }
  }

}
