// https://material.io/design/components/tooltips.html#spec

@use '../../core/_length.scss' as *;
@use '../../core/_motion.scss' as motion;
@use '../../core/_platform.scss' as platform;
@use '../../core/_type.scss' as type;

// Guidelines state background is #616161, which is Gray 700

$desktop-margin: 14px !default;
$mobile-margin: 24px !default;
$touch-fade-out-time: 1.5s !default;
$touch-min-hold-time: 500ms !default;

.mdw-tooltip__wrapper {
  position: relative;
  overflow: visible;
}

.mdw-tooltip,
.mdw-tooltip__target {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.mdw-tooltip {
  @include type.addRules('caption');

  position: absolute;

  inset-block-start: 100%;
  inset-inline-start: 50%;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  inline-size: auto;
  padding: 6px 8px;

  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  cursor: none;
  pointer-events: none;

  transition-duration: motion.$fadeOutDuration;
  transition-property: opacity;
  transition-timing-function: motion.$accelerateEasing;

  opacity: 0;
  // Default Alignment is Center

  transform: translateX(-50%) translateY($desktop-margin);
  z-index: 8;

  border-radius: 4px;

  line-height: 1;
  white-space: nowrap;

  .mdw-tooltip__target:hover > &,
  .mdw-tooltip__target:focus > &,
  .mdw-tooltip__wrapper > .mdw-tooltip__target:hover ~ &,
  .mdw-tooltip__wrapper > .mdw-tooltip__target:not([tabindex="-1"]):focus ~ & {
    transition-duration: motion.$fadeInDuration;
    transition-timing-function: motion.$accelerateEasing;

    opacity: 0.9;
  }

  &[mdw-align="start"],
  :root[dir="rtl"] &[mdw-align="end"] {
    inset-inline: 0 auto;
  }

  &[mdw-align="end"],
  :root[dir="rtl"] &[mdw-align="start"] {
    inset-inline: auto 0;
  }

  &[mdw-align="start"],
  &[mdw-align="end"] {
    transform: translateY($desktop-margin);
  }

  &[mdw-position="start"],
  &[mdw-position="end"],
  &[mdw-position="left"],
  &[mdw-position="right"] {
    inset-block-start: 50%;
    inset-inline-start: 0;
  }

  &[mdw-position="start"],
  &[mdw-position="left"],
  :root[dir="rtl"] &[mdw-position="end"] {
    margin: 0;

    transform: translateY(-50%) translateX(-100%);
  }

  &[mdw-position="end"],
  &[mdw-position="right"],
  :root[dir="rtl"] &[mdw-position="start"] {
    transform: translateY(-50%) translateX(100%);
  }

  &[mdw-position="top"] {
    inset-block-start: 0;

    transform: translateX(-50%) translateY(-100%) translateY(-$desktop-margin);

    &[mdw-align="start"],
    &[mdw-align="end"] {
      transform: translateY(-100%) translateY(-$desktop-margin);
    }
  }

}

// Button position fix
.mdw-tooltip__wrapper > .mdw-button[mdw-icon] ~ .mdw-tooltip {
  &:not([mdw-position]) {
    // Bottom
    margin-block-start: -8px;
  }

  &[mdw-position="top"] {
    margin-block-start: 8px;
  }
}

// Menu flicker fix
.mdw-menu__wrapper > .mdw-menu:target ~ .mdw-tooltip,
.mdw-menu__wrapper > .mdw-menu[mdw-show]:not([mdw-hide]) ~ .mdw-tooltip {
  transition-delay: 0;

  opacity: 0;
}

@include platform.ifHasTouch() {
  .mdw-tooltip {
    padding: 10px 16px;

    transition-delay: $touch-min-hold-time;

    transform: translateX(-50%) translateY($mobile-margin);

    font-size: sp(14);

    &[mdw-align="start"],
    &[mdw-align="end"] {
      transform: translateY($mobile-margin);
    }

    &[mdw-position="top"] {
      transform: translateX(-50%) translateY(-100%) translateY(-$mobile-margin);

      &[mdw-align="start"],
      &[mdw-align="end"] {
        transform: translateY(-100%) translateY(-$mobile-margin);
      }
    }

    // Don't change opacity unless active
    .mdw-tooltip__target:hover:not(:active) > &,
    .mdw-tooltip__target:focus:not(:active) > &,
    .mdw-tooltip__wrapper > .mdw-tooltip__target:hover:not(:active) ~ &,
    .mdw-tooltip__wrapper > .mdw-tooltip__target:not([tabindex="-1"]):focus:not(:active) ~ & {
      transition-delay: $touch-fade-out-time;

      opacity: 0;
    }

    .mdw-tooltip__target:active > &,
    .mdw-tooltip__wrapper > .mdw-tooltip__target:active ~ .mdw-tooltip {
      transition-duration: motion.$fadeInDuration;
      transition-timing-function: motion.$accelerateEasing;

      opacity: 0.9;
    }
  }

}
