// Motion Durations
// https://material.io/guidelines/motion/duration-easing.html#duration-easing-dynamic-durations

$simpleDuration: 100ms !default;
$fadeInDuration: 150ms !default;
$fadeOutDuration: 75ms !default;

$shapeChangeDuration: 200ms !default;
$iconDuration: 500ms !default;

$expandDuration: 250ms !default;
$collapseDuration: 200ms !default;

$expandDurationFull: 300ms !default;
$collapseDurationFull: 250ms !default;

// Motion Easing Curves
// https://material.io/guidelines/motion/duration-easing.html#duration-easing-natural-easing-curves

// FastOutSlowInInterpolator
$standardEasing: cubic-bezier(0.4, 0.0, 0.2, 1) !default;
$standardPeakVelocity: 0.30 !default;

// LinearOutSlowInInterpolator
$decelerateEasing: cubic-bezier(0.0, 0.0, 0.2, 1) !default;

// FastOutLinearInInterpolator
$accelerateEasing: cubic-bezier(0.4, 0.0, 1, 1) !default;

// FastOutLinearInInterpolator
$sharpEasing: cubic-bezier(0.4, 0.0, 0.6, 1) !default;
