@import '../theming/palettes';

@function sp($multiplier) {
  @return ($multiplier/16.0) * 1rem;
}

@function dp($multiplier) {
  @return $multiplier * 1px;
}

@function elevation($dp) {
  @return unquote(map-get($drop-shadow-values, $dp));
}

@function parseThemeItem($item, $theme: null) {
  $length: length($item);
  @if ($length == 1) {
    @return rgb(nth($item, 1));
  } @else if ($length == 2) {
    @return rgba(nth($item, 1), nth($item, 2));
  } @else {
    $color: nth($item, 1);
    $tone: nth($item, 2);
    $opacity: nth($item, 3);
    @return unquote("rgba(#{getThemePaletteColor($color, $tone, $theme)}, #{$opacity})");
  }
  @return null;
}

@function getThemeMapItem($colorMap, $key, $type) {
  $list: map-get($colorMap, $key);
  $firstItem: nth($list, 1);
  @if (type-of($firstItem) != 'list') {
    // List within single-length list Sass workaround
    @return $list;
  }
  $length: length($list);
  @if ($type == 'dark-background') {
    @if ($length >= $dark-background) {
      @return nth($list, $dark-background);
    }
    $type: 'dark';
  }

  @if ($type == 'dark') {
    @if ($length >= $dark) {
      @return nth($list, $dark);
    }
  }
  @return nth($list, $light);
}

@function themeValue($component, $colorMap, $key, $type, $theme: null) {
  @if ($type == 'var') {
    @return unquote("var(--#{$component}__#{$key})");
  }
  $item: getThemeMapItem($colorMap, $key, $type);
  @return parseThemeItem($item, $theme);
}

@function getThemePaletteColor($color, $tone, $theme: null) {
  @if ($theme == null) {
    @if ($tone == null) {
      @return "var(--#{$color}-color)";
    }
    @return "var(--#{$color}-#{$tone}-color)";
  }
  @if ($tone == null) {
    $tone: '500';
  }
  $name: map-get($theme, $color);
  $palette: map-get($palettes, $name);
  $value: map-get($palette, $tone);
  $rgbValue: red($value), green($value), blue($value);
  @return $rgbValue;
}

// from Sketch
$drop-shadow-values: (
  0: "none",
  1: "0 0 2px 0 rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20)",
  2: "0 2px 4px 0 rgba(0,0,0,0.14), 0 3px 4px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20)",
  3: "0 3px 3px 0 rgba(0,0,0,0.14), 0 3px 4px 0 rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20)",
  4: "0 2px 4px 0 rgba(0,0,0,0.14), 0 4px 5px 0 rgba(0,0,0,0.12), 0 1px 10px 0 rgba(0,0,0,0.20)",
  6: "0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px 0 rgba(0,0,0,0.20)",
  8: "0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 3px rgba(0,0,0,0.12), 0 4px 5px 0 rgba(0,0,0,0.20)",
  9: "0 9px 12px 1px rgba(0,0,0,0.14), 0 3px 16px 2px rgba(0,0,0,0.12), 0 5px 6px 0 rgba(0,0,0,0.20)",
  12: "0 12px 17px 2px rgba(0,0,0,0.14), 0 5px 22px 4px rgba(0,0,0,0.12), 0 7px 8px 0 rgba(0,0,0,0.20)",
  16: "0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px 0 rgba(0,0,0,0.20)",
  24: "0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px 0 rgba(0,0,0,0.20)"
);