// Motion Durations
// https://material.io/guidelines/motion/duration-easing.html#duration-easing-dynamic-durations

$motion-duration-mobile-default: 300ms;
$motion-duration-mobile-complex: 375ms;
$motion-duration-mobile-enter: 225ms;
$motion-duration-mobile-leave: 195ms;
$motion-duration-mobile-max: 400ms;

$motion-duration-tablet-default: $motion-duration-mobile-default * 1.30;
$motion-duration-tablet-complex: $motion-duration-mobile-complex * 1.30;
$motion-duration-tablet-enter: $motion-duration-mobile-enter * 1.30;
$motion-duration-tablet-leave: $motion-duration-mobile-leave * 1.30;
$motion-duration-tablet-max: $motion-duration-mobile-max * 1.30;

$motion-duration-wearable-default: $motion-duration-mobile-default * 0.70;
$motion-duration-wearable-complex: $motion-duration-mobile-complex * 0.70;
$motion-duration-wearable-enter: $motion-duration-mobile-enter * 0.70;
$motion-duration-wearable-leave: $motion-duration-mobile-leave * 0.70;
$motion-duration-wearable-max: $motion-duration-mobile-max * 0.70;

// Self-estimated
$motion-duration-desktop-default: 175ms;
$motion-duration-desktop-complex: 200ms;
$motion-duration-desktop-enter: 185ms;
$motion-duration-desktop-leave: 150ms;
$motion-duration-desktop-max: 300ms;

// Motion Easing Curves
// https://material.io/guidelines/motion/duration-easing.html#duration-easing-natural-easing-curves

$motion-easing-standard: cubic-bezier(0.4, 0.0, 0.2, 1);
$motion-easing-deceleration: cubic-bezier(0.0, 0.0, 0.2, 1);
$motion-easing-acceleration: cubic-bezier(0.4, 0.0, 1, 1);
$motion-easing-sharp: cubic-bezier(0.4, 0.0, 0.6, 1);

