@mixin mdw-ripple__container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
}

@mixin mdw-ripple__inner {
  content: '';
  display: table; // Fixes Safari flexbox bug
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  user-select: none;
  pointer-events: none;
  height: 0;
  width: 100%;
  padding-top: 100%;
  transform: translateX(-50%) translateY(-50%) scale(1);
  transition-property: transform, opacity;
  transition-duration: 700ms;
  opacity: 0;
}

@mixin mdw-ripple__active {
  transform: translateX(-50%) translateY(-50%) scale(0);
  transition-duration: 0s;
  opacity: 1;
}