@import "./mixins.scss";

$ripple-duration: 500ms;
@mixin mdw-ripple__container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
}

@mixin mdw-ripple__inner {
  content: '';
  display: table; // Fixes Safari flexbox bug
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  user-select: none;
  pointer-events: none;
  height: 0;
  width: 100%;
  padding-top: 100%;
  opacity: 0;
  background-color: transparent;
  color: transparent;
  transform: translateX(-50%) translateY(-50%) scale(1);
  transition-delay:
    0s,
    $motion-duration-desktop-max / 2,
    $motion-duration-desktop-max / 2,
    $motion-duration-desktop-max / 2;
  transition-duration:
    $motion-duration-desktop-max,
    $motion-duration-desktop-max / 2,
    $motion-duration-desktop-max / 2,
    $motion-duration-desktop-max / 2;
    
  @include allHandsets {
    transition-delay:
      0s,
      $motion-duration-mobile-max / 2,
      $motion-duration-mobile-max / 2,
      $motion-duration-mobile-max / 2;
    transition-duration:
      $motion-duration-mobile-max,
      $motion-duration-mobile-max / 2,
      $motion-duration-mobile-max / 2,
      $motion-duration-mobile-max / 2;
  }
  @include allTablets {
    transition-delay:
      0s,
      $motion-duration-tablet-max / 2,
      $motion-duration-tablet-max / 2,
      $motion-duration-tablet-max / 2;
    transition-duration:
      $motion-duration-tablet-max,
      $motion-duration-tablet-max / 2,
      $motion-duration-tablet-max / 2,
      $motion-duration-tablet-max / 2;
  }
  transition-property:
    transform,
    opacity,
    background-color,
    color;
  transition-timing-function: $motion-easing-sharp;
  will-change:
    transform,
    opacity,
    background-color,
    color;
}

@mixin mdw-ripple__active {
  transform: translateX(-50%) translateY(-50%) scale(0);
  transition-duration: 0s;
  transition-delay: 0s;
  opacity: 0.26;
  background-color: currentColor;
  color: inherit;
}


// Target
// size     0.000   -->   0.500   -->   1.000
// opacity  0.000   -->   1.000   -->   0.000

// Implemenation
// scale    0.000   -->   0.500   -->   1.000
// opacity  0.000   -->   1.000   -->   1.000
// color    solid   -->   solid   -->   trans

