$desktop-breakpoint-offset: dp(16);

$breakpoint-portrait-handset-small: dp(0);
$breakpoint-portrait-handset-medium: dp(360);
$breakpoint-portrait-handset-large: dp(400);
$breakpoint-portrait-handset-max: dp(600);

$breakpoint-portrait-tablet-small: dp(600);
$breakpoint-portrait-tablet-large: dp(720);
$breakpoint-portrait-tablet-max: dp(840);

$breakpoint-landscape-handset-small: dp(480);
$breakpoint-landscape-handset-medium: dp(600);
$breakpoint-landscape-handset-large: dp(720);
$breakpoint-landscape-handset-max: dp(960);

$breakpoint-landscape-tablet-small: dp(960);
$breakpoint-landscape-tablet-large: dp(1024);
$breakpoint-landscape-tablet-max: dp(1280);

$breakpoint-window-xsmall: dp(0);
$breakpoint-window-small: dp(600);
$breakpoint-window-medium: dp(1024);
$breakpoint-window-large: dp(1440);
$breakpoint-window-xlarge: dp(1920);

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400; // normal
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;
