// https://material.io/design/components/chips.html

@use '../../core/_length.scss' as *;

$borderWidth: 1px !default;

.mdw-chip {
  margin-block: 0 -8px;
  margin-inline: -8px 0;
}

.mdw-chip__item {
  display: inline-flex;
  position: relative;
  align-items: center;
  overflow: hidden;

  min-block-size: 32px;

  margin-block: 0 8px;
  margin-inline: 8px 0;
  padding: 0 12px;

  transition: inherit;

  border-radius: 32px; // unlikely to be taller than 64dp
}

.mdw-chip__checkmark,
.mdw-chip__thumbnail {
  display: flex;
  align-items: center;
  order: -1;

  margin-inline: -8px 8px;

  transition: inherit;
  transition-property: max-inline-size, opacity;

}

.mdw-chip__input {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;

  box-sizing: border-box;
  block-size: 100%;
  inline-size: 100%;
  margin: 0;
  border-style: solid;
  border-width: $borderWidth;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;

  transition: inherit;
  transition-property: none;

  border-color: transparent;
  border-radius: inherit;

  &::before {
    content: '';

    position: absolute;
    inset: -$borderWidth;

    transition: inherit;
    transition-property: background-color, opacity;

    border-radius: inherit;
  }

  & ~ .mdw-chip__checkmark {
    max-inline-size: 0;

    opacity: 0;
  }

  &:checked ~ .mdw-chip__checkmark {
    max-inline-size: 24px;

    opacity: 1;
  }
}

.mdw-chip__text {
  transition: inherit;
  transition-property: color;
}

.mdw-chip__remove {
  display: flex;
  align-items: center;
  order: 1;

  margin-inline: 8px -4px;

  cursor: pointer;

  z-index: 1;

  /* stylelint-disable-next-line selector-class-pattern */
  &.material-icons {
    font-size: 18px;
  }
}
