/* https://material.io/design/interaction/states.html */
/* https://material.io/design/components/chips.html */
/* https://material.io/design/iconography/system-icons.html#color */

.mdw-theme {
  --mdw-chip__text-color: var(--mdw-text-color);
  --mdw-chip__background-color: var(--mdw-divider-color);
  --mdw-chip__active-icon-color__focus: var(--mdw-text-color);
  --mdw-chip__active-icon-color: var(--mdw-medium-color);
  --mdw-chip__inactive-icon-color: var(--mdw-inactive-color);
  --mdw-chip__overlay-color: RGBA(var(--mdw-ink-default), 1.00);

  --mdw-chip__disabled-background-color: RGBA(var(--mdw-ink-default), 0.12);
  --mdw-chip__outline-color: RGBA(var(--mdw-ink-default), 0.12);

  --mdw-chip__default-opacity: var(--mdw-chip__default-opacity-value);
  --mdw-chip__hover-opacity: var(--mdw-chip__hover-opacity-value);
  --mdw-chip__focus-opacity: var(--mdw-chip__focus-opacity-value);
  --mdw-chip__selected-opacity: var(--mdw-chip__selected-opacity-value);
  --mdw-chip__outlined-opacity: var(--mdw-chip__outlined-opacity-value);
  --mdw-chip__activated-opacity: var(--mdw-chip__activated-opacity-value);
}

.mdw-theme[mdw-light] {
  --mdw-chip__default-opacity-value: 0.12;
  --mdw-chip__hover-opacity-value: 0.04;
  --mdw-chip__focus-opacity-value: 0.12;
  --mdw-chip__selected-opacity-value: 0.08;
  --mdw-chip__outlined-opacity-value: 0.00;
  --mdw-chip__activated-opacity-value: 0.12;
  --mdw-chip__activated-text-color: inherit;

  --mdw-chip__pressed-opacity: 0.16;

  --mdw-chip__disabled-text-color: RGBA(var(--mdw-ink-default-light), 0.26);
}

.mdw-theme[mdw-dark] {
  --mdw-chip__default-opacity-value: 0.24;
  --mdw-chip__hover-opacity-value: 0.08;
  --mdw-chip__focus-opacity-value: 0.24;
  --mdw-chip__selected-opacity-value: 0.16;
  --mdw-chip__outlined-opacity-value: 0.00;
  --mdw-chip__activated-opacity-value: 0.24;
  --mdw-chip__activated-text-color: var(--mdw-text-color);

  --mdw-chip__pressed-opacity: 0.32;

  --mdw-chip__disabled-text-color: RGBA(var(--mdw-ink-default-dark), 0.30);
}

.mdw-chip {
  --mdw-chip__base-opacity: var(--mdw-chip__default-opacity);
  --mdw-chip__border-color: transparent;

  &[mdw-outlined] {
    --mdw-chip__base-opacity: var(--mdw-chip__outlined-opacity);
    --mdw-chip__border-color: var(--mdw-chip__outline-color);
  }
}

.mdw-chip__thumbnail,
.mdw-chip__remove,
.mdw-chip__text {
  color: var(--mdw-chip__text-color);
}

.mdw-chip__input {
  border-color: var(--mdw-chip__border-color);
  color: inherit;

  &:not(:hover) {
    --mdw-chip__hover-opacity: 0;
  }

  &:not(:focus) {
    --mdw-chip__focus-opacity: 0;
  }

  &:not(:checked) {
    --mdw-chip__selected-opacity: 0;
  }

  &::before {
    opacity: calc(var(--mdw-chip__base-opacity) + var(--mdw-chip__hover-opacity) + var(--mdw-chip__focus-opacity) + var(--mdw-chip__selected-opacity));

    background-color: var(--mdw-chip__overlay-color);
  }

  &:checked::before {
    color: inherit;
  }

  &:checked {
    & ~ .mdw-chip__text {
      color: var(--mdw-chip__activated-text-color);
    }

    &[type="radio"] {
      &::before {
        background: currentColor;
      }
    }
  }
}
