/* https://m3.material.io/components/bottom-app-bar/specs */

:host {
  --mdw-elevation__opacity: var(--mdw-elevation__opacity__2);
  --mdw-elevation__opacity__hovered: var(--mdw-elevation__opacity__2);
  --mdw-bg: var(--mdw-color__surface);
  --mdw-ink: var(--mdw-color__on-surface);
}

#shape {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-start;

  box-sizing: border-box;
  block-size: 80px;
  padding-block: 12px;
  padding-inline: 8px 16px;

  box-shadow: none;

  direction: ltr;
}