:host {
  display: block;
}

:host([inline]) {
  display: inline-block;
}

:host([flex]:where([inline])) {
  display: inline-flex;
}

:host([color]) {
  background-color: rgb(var(--mdw-bg));
  color: rgb(var(--mdw-ink));
}

:host([ink]) {
  color: rgb(var(--mdw-ink));
}

#slot[type-style] {
  /* TODO: Work around Firefox bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1822718 */
  font: var(--mdw-type__font);
  letter-spacing: var(--mdw-type__letter-spacing);
}