/* https://m3.material.io/components/buttons/specs */

:host {
  --mdw-shape__size: var(--mdw-shape__full);
  --mdw-ink: var(--mdw-color__primary);

  --mdw-type__font: var(--mdw-typescale__label-large__font);
  --mdw-type__letter-spacing: var(--mdw-typescale__label-large__letter-spacing);

  display: inline-flex;
  align-items: stretch;
  justify-content: center;

  cursor: pointer;

  color: rgb(var(--mdw-ink));
}

:host(:where([elevated],[filled])) {
  will-change: filter;
}

/** Elevated Color Defaults */
:host(:where([elevated])) {
  --mdw-bg: var(--mdw-color__surface);
  --mdw-ink: var(--mdw-color__primary);
  --mdw-elevation__filter__resting: var(--mdw-elevation__filter__1);
  --mdw-elevation__filter__hover: var(--mdw-elevation__filter__2);
  --mdw-elevation__opacity: var(--mdw-elevation__opacity__1);
  --mdw-elevation__opacity__hovered: var(--mdw-elevation__opacity__2);
}
/** Filled Color Defaults */
:host(:where([filled])) {
  --mdw-bg: var(--mdw-color__primary);
  --mdw-ink: var(--mdw-color__on-primary);
  --mdw-elevation__filter__resting: var(--mdw-elevation__filter__0);
  --mdw-elevation__filter__hover: var(--mdw-elevation__filter__1);
  --mdw-elevation__opacity: 0;
  --mdw-elevation__opacity__hovered: var(--mdw-elevation__opacity__1);
}
/** Filled Tonal Color Defaults */
:host(:where([filled="tonal"])) {
  --mdw-bg: var(--mdw-color__secondary-container);
  --mdw-ink: var(--mdw-color__on-secondary-container);
}
/** Outlined Color Defaults */
:host(:where([outlined])) {
  --mdw-ink: var(--mdw-color__primary);
}

#label {
  position: relative;

  display:flex;
  align-items: center;
  gap: 0;
  justify-content: center;

  box-sizing: border-box;
  block-size: auto;
  min-block-size: 40px;
  min-block-size: none;
  max-block-size: none;
  inline-size: auto;
  min-inline-size: 48px;
  min-inline-size: none;
  max-inline-size: none;
  flex:1;
  margin: 0;
  border: none;
  padding: 0;
  padding-inline: 12px;

  cursor: inherit;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  z-index: 0;

  background-color: transparent;
  color: inherit;

  font: var(--mdw-type__font);
  letter-spacing: var(--mdw-type__letter-spacing);

  text-decoration: none;
  white-space: nowrap;
}

#label:where([icon]) {
  gap: 8px;

  padding-inline: 12px 16px;
}

#label:where([elevated],[filled],[color]) {
  background-color: rgb(var(--mdw-bg));
}

#label:where([outlined], [elevated], [filled]) {
  padding-inline: 24px 24px;
}

#label:where([icon]):where([outlined], [elevated], [filled]) {
  gap: 8px;

  padding-inline: 16px 24px;
}

#label[disabled] {
  cursor: not-allowed;

  color: rgba(var(--mdw-color__on-surface), 0.38);
}

#label[disabled]:is([elevated], [filled]) {
  background-color: rgba(var(--mdw-color__on-surface), 0.12);
  color: rgba(var(--mdw-color__on-surface), 0.38);
}

#slot {
  text-align: center;
}

#slot[disabled] {
  color: rgba(var(--mdw-color__on-surface), 0.38);
}

#icon {
  font-size: 18px;
  font-variation-settings: 'FILL' 1;
}

#icon[outlined] {
  font-variation-settings: 'FILL' 0;
}

#icon[disabled] {
  opacity: 0.38;

  color: rgba(var(--mdw-color__on-surface));
}

#touch-target {
  position: absolute;
  inset: 50%;

  block-size: 10mm;
  inline-size: 10mm;

  transform: translateX(-50%) translateY(-50%);

  visibility: hidden;
}

@media (any-pointer: coarse) {
  #touch-target {
    visibility: visible;
  }
}
