/* https://m3.material.io/components/buttons/specs */

:host {
  --mdw-shape__size: 20px;
  --mdw-button__padding-inline-start: 12px;
  --mdw-button__padding-inline-end: 12px;
  --mdw-button__icon__display: none;
  --mdw-button__icon__font-variation-settings: 'FILL' 1;
  --mdw-button__icon__margin-inline-start: 12px;
  --mdw-button__icon__margin-inline-end: 8px;
  --mdw-button__icon__opacity: 1;
  --mdw-button__icon__size: 18px;
  --mdw-button__outline__size: 1px;
  --mdw-button__outline__visibility: hidden;
  --mdw-button__outline__opacity: 1;
  --mdw-button__outline__rgb: var(--mdw-color__outline);
  --mdw-button__touch-target__size: 10mm;
  --mdw-ink: var(--mdw-color__primary);

  --label-bg: transparent;
  display: inline-flex;
  align-items: stretch;
  justify-content: center;

  min-block-size: 40px;
  min-inline-size: 48px;

  cursor: pointer;

  color: rgb(var(--mdw-ink));

  font: var(--mdw-typescale__label-large__font);
  letter-spacing: var(--mdw-typescale__label-large__letter-spacing);
}

:host(:is([color],[surface])) {
  --label-bg: rgb(var(--mdw-bg));
  background-color: transparent;
}

:host(:where([elevated],[filled])) {
  --mdw-container__will-change: box-shadow;
  --label-bg: rgb(var(--mdw-bg));
}

/** Elevated Color Defaults */
:host(:where([elevated])) {
  --mdw-bg: var(--mdw-color__surface);
  --mdw-ink: var(--mdw-color__primary);
}
/** Filled Color Defaults */
:host(:where([filled])) {
  --mdw-bg: var(--mdw-color__primary);
  --mdw-ink: var(--mdw-color__on-primary);
}
/** Filled Tonal Color Defaults */
:host(:where([filled="tonal"])) {
  --mdw-bg: var(--mdw-color__secondary-container);
  --mdw-ink: var(--mdw-color__on-secondary-container);
}
/** Outlined Color Defaults */
:host(:where([outlined])) {
  color: rgb(var(--mdw-color__primary));
}

:host(:where([outlined="surface"])) {
  --label-bg: rgb(var(--mdw-color__surface));
}

:host(:where([outlined], [elevated], [filled], [icon])) {
  --mdw-button__icon__display: block;
  --mdw-button__padding-inline-start: 0;
  --mdw-button__padding-inline-end: 24px;
}

:host(:is([outlined], [elevated], [filled])) {
  --mdw-button__icon__margin-inline-start: 16px;
}

:host([disabled]) {
  --mdw-button__outline__opacity: 0.12;

  cursor: not-allowed;

  color: rgba(var(--mdw-color__on-surface), 0.38);
}

:host([disabled]:is([elevated], [filled])) {
  --label-bg: rgba(var(--mdw-color__on-surface), 0.12);
  color: rgba(var(--mdw-color__on-surface), 0.38);
}

:host(:focus) {
  --mdw-button__outline__rgb: var(--mdw-ink);
}

/* Elevation */

/* Use CSS instead of [elevation] to avoid JS calls */
:host(:where([elevated],[filled]:hover:not(:active))) {
  --mdw-container__elevation__opacity: var(--mdw-container__elevation__opacity__1);
  --mdw-container__box-shadow: var(--mdw-container__box-shadow__1);
}

:host([elevated]:hover:not(:active)) {
  --mdw-container__elevation__opacity: var(--mdw-container__elevation__opacity__2);
  --mdw-container__box-shadow: var(--mdw-container__box-shadow__2);
}

/* Outlined */

:host([outlined]) {
  --mdw-button__outline__visibility: visible;
}

#outline {
  position: absolute;
  inset: 0;

  border-style: solid;
  border-width: var(--mdw-button__outline__size);

  pointer-events: none;

  visibility: var(--mdw-button__outline__visibility);

  border-color: currentColor;
  border-radius: inherit;

  color: rgba(var(--mdw-button__outline__rgb), var(--mdw-button__outline__opacity));
  /* box-shadow: 0 0 var(--mdw-button__outline__size) 0 currentColor; */
}

#icon {
  --mdw-icon__font-variation-settings: var(--mdw-button__icon__font-variation-settings);
  --mdw-icon__opacity: var(--mdw-button__icon__opacity);
  --mdw-icon__size: var(--mdw-button__icon__size);

  order: -1;

  display: var(--mdw-button__icon__display);

  margin-inline-start: var(--mdw-button__icon__margin-inline-start);
  margin-inline-end: var(--mdw-button__icon__margin-inline-end);
}

:host(:not([icon])) #icon {
  inline-size: 0;
}

:host([disabled]) #icon {
  /* filter: grayscale(); */
  --mdw-icon__image__opacity: 0.38;
}

/* Remove Firefox inner */
#touch-target {
  position: absolute;
  inset: 50%;

  block-size: var(--mdw-button__touch-target__size);
  inline-size: var(--mdw-button__touch-target__size);

  transform: translateX(-50%) translateY(-50%);

  visibility: hidden;
}

@media (any-pointer: coarse) {
  #touch-target {
    visibility: visible;
  }
}

label {
  position: relative;

  display:flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  block-size: auto;
  min-block-size: none;
  max-block-size: none;
  inline-size: auto;
  min-inline-size: none;
  max-inline-size: none;
  flex:1;
  margin: 0;
  border: none;
  padding: 0;
  padding-inline-start: var(--mdw-button__padding-inline-start);
  padding-inline-end: var(--mdw-button__padding-inline-end);

  cursor: inherit;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  z-index: 0;

  background-color: var(--label-bg);
  border-radius: inherit;
  color: inherit;

  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  text-decoration: none;
  white-space: nowrap;
}

#slot {
  text-align: center;
}

#state[touched] ~ #outline {
  --mdw-button__outline__rgb: var(--mdw-color__outline);
}