/* https://m3.material.io/components/cards/specs */

:host {
  --mdw-shape__size: 12px;
  --mdw-elevation__opacity: var(--mdw-elevation__opacity__0);
  --mdw-elevation__opacity__hovered: var(--mdw-elevation__opacity);

  --mdw-elevation__filter__resting: none;
  --mdw-elevation__filter__hover: var(--mdw-elevation__filter__resting);

  position: relative;

  display: inline-block;
  align-items: flex-start;

  box-sizing: border-box;
  /* padding-inline: 12px; */
}

:host(:where([filled])) {
  --mdw-bg: var(--mdw-color__surface-variant);
  --mdw-ink: var(--mdw-color__on-surface-variant);
}

:host(:where([elevated])) {
  --mdw-bg: var(--mdw-color__surface);
  --mdw-ink: var(--mdw-color__on-surface);
}

:host([filled]) {
  --mdw-elevation__opacity: var(--mdw-elevation__opacity__0);
  --mdw-elevation__filter__resting: var(--mdw-elevation__filter__0);
}

:host([filled][actionable]) {
  --mdw-elevation__opacity__hovered: var(--mdw-elevation__opacity__1);
  --mdw-elevation__filter__hover: var(--mdw-elevation__filter__1);
}

:host([elevated]) {
  --mdw-elevation__opacity: var(--mdw-elevation__opacity__1);
  --mdw-elevation__filter__resting: var(--mdw-elevation__filter__1);
}

:host([elevated][actionable]) {
  --mdw-elevation__opacity__hovered: var(--mdw-elevation__opacity__2);
  --mdw-elevation__filter__hover: var(--mdw-elevation__filter__2);
}

#shape[disabled] {
  cursor: not-allowed;

  /* Works on images */
  filter: grayscale();

  opacity: 0.38;

  color: rgb(var(--mdw-color__on-surface));
}

#outline[disabled] {
  color: rgba(var(--mdw-color__on-surface), calc(0.12/0.38));
}

/** Firefox and Safari do not support [inert] */

#inert-blocker {
  position: absolute;
  inset: 0;

  cursor: not-allowed;
  pointer-events: auto;

  z-index: 99;
}

#shape[disabled][elevated] {
  background-color: rgba(var(--mdw-color__surface-variant));
}

#action {
  --mdw-ink: inherit;
  --mdw-shape__size: 0;

  position: absolute;
  inset: 0;

  padding: 0;

  z-index: 1;

  color: inherit
}
