/* https://m3.material.io/components/cards/specs */

:host {
  --mdw-shape__size: 12px;
  --mdw-card__elevation__visiblity: visible;

  position: relative;

  display: inline-block;
  align-items: flex-start;

  box-sizing: border-box;
  /* padding-inline: 12px; */
}

:host([actionable]) {
  /** State, ripples, and box-shadows are shown by the primary action instead */
  --mdw-card__elevation__visiblity: hidden;

  box-shadow: none;
}

:host([disabled]) #shape {
  --mdw-outline__opacity: 0.12;

  cursor: not-allowed;

  color: rgba(var(--mdw-color__on-surface), 0.38);
}

:host([disabled]:is([elevated],[filled])) #shape {
  background-color: rgba(var(--mdw-color__on-surface), 0.12);
}

:host([disabled]) #slot::slotted(:first-child) {
  --mdw-card-action-area__pointer-events: none;
}

:host([disabled]) #primary-action {
  visibility: hidden;
}

#elevation {
  visibility: var(--mdw-card__elevation__visiblity);
}

#primary-action::slotted(:first-child) {
  --mdw-ink: inherit;
  --mdw-shape__size: inherit;
  --mdw-surface__elevation__opacity: inherit;
  --mdw-surface__box-shadow: inherit;

  position: absolute;
  inset: 0;

  padding: 0;

  z-index: 1;

  background-color: transparent;
  color: var(--mdw-ink);
}

:host(:where([elevated])) {
  --mdw-surface__will-change: filter;

  --mdw-bg: var(--mdw-color__surface);
  --mdw-ink: var(--mdw-color__on-surface);
}

:host([elevated]) {
  --mdw-elevation__opacity__resting: var(--mdw-elevation__opacity__1);
  --mdw-elevation__filter__resting: var(--mdw-elevation__filter__1);
  --mdw-elevation__opacity__hover: var(--mdw-elevation__opacity__2);
  --mdw-elevation__filter__hover: var(--mdw-filter__filter__2);
}

:host(:is([elevated],[filled])[color]:not([color*="surface"])) {
  --mdw-elevation__opacity__resting: 0;
  --mdw-elevation__opacity__hover: 0;
}

/* Filled */

:host(:where([filled])) {
  --mdw-bg: var(--mdw-color__surface-variant);
  --mdw-ink: var(--mdw-color__on-surface-variant);
}

:host([filled]) #primary-action:hover {
  --mdw-surface__box-shadow: var(--mdw-surface__box-shadow__1);
}

#slot {
  overflow: hidden;
}

#fieldset {
  display: contents;
}