/* https://m3.material.io/components/checkbox/specs */

:host {
  --mdw-ink: var(--mdw-color__on-primary);
  --mdw-bg: var(--mdw-color__primary);

  display: inline-grid;
  align-items: center;
  gap: 12px;
  grid-auto-flow: column;
  justify-content: flex-start;

  cursor: pointer;

  transition: none 100ms cubic-bezier(0.4, 0.0, 1, 1);
}

#control {
  grid-column: 1/1;

  cursor: inherit;
}

#label {
  cursor: inherit;
}

#label[disabled] {
  cursor: not-allowed;
}

#state,
#ripple-container {
  inset-block-start: 50%;
  inset-inline-start: 50%;

  block-size: 40px;
  inline-size: 40px;

  transform: translateX(-50%) translateY(-50%);

  border-radius: 50%;
}

:host([disabled]) {
  opacity: 0.38;
}

#checkbox {
  position: relative;

  display: inline-flex;

  grid-column: 1 / 1;

  pointer-events: none;

  color: rgb(var(--mdw-color__on-surface));
}

#checkbox[selected] {
  color: rgb(var(--mdw-bg));
}

#checkbox[disabled] {
  color: rgb(var(--mdw-color__on-surface));
}

#checkbox[errored] {
  color: rgb(var(--mdw-color__error));
}

#icon {
  --mdw-ink: inherit;
  --mdw-bg: inherit;
  --disabled-opacity: 1;
}
