/* https://m3.material.io/components/chips/specs */

:host {
  --mdw-shape__size: 8px;
  --mdw-ink: var(--mdw-color__on-surface);
}

:host(:where([suggestion])) {
  --mdw-ink: var(--mdw-color__on-surface-variant);
}

#label {
  min-block-size: 32px;
  padding-inline: 16px;

  color: rgb(var(--mdw-ink));
}

#label:where([icon]) {
  gap: 8px;

  padding-inline: 8px 16px;
}

#outline {
  --mdw-ink: rgb(var(--mdw-color__on-surface-variant));
}

#outline:is([ink],[color]) {
  /* stylelint-disable-next-line rule-selector-property-disallowed-list */
  --mdw-ink: inherit;
}

#slot[disabled],
#icon[disabled] {
  color: rgba(var(--mdw-color__on-surface), 0.38);
}
