/* https://m3.material.io/components/chips/specs */

:host {
  --mdw-ink: var(--mdw-color__primary);
  --mdw-shape__size: 8px;
  --mdw-button__icon__size: 18px;
  --mdw-button__icon__display: block;
  --mdw-button__padding-inline-start: 0;
  --mdw-button__padding-inline-end: 16px;
  --mdw-button__icon__margin-inline-start: 16px;
  --mdw-button__outline__visibility: visible;

  --mdw-chip__trailing-icon__size: 18px;
  --mdw-chip__trailing-icon__opacity: 1;
  --mdw-chip__trailing-icon__display: block;
  --mdw-chip__trailing-icon__font-variation-settings: 'FILL' 1;
  --mdw-chip__label-color: var(--mdw-color__on-surface);

  min-block-size: 32px;

  color: rgb(var(--mdw-chip__label-color));
}

:host([elevated]) {
  color: rgb(var(--mdw-chip__label-color));
}

:host(:where([suggestion])) {
  --mdw-ink: var(--mdw-color__on-surface-variant);
  --mdw-chip__label-color: var(--mdw-ink);
}

.mdw-button__text {
  block-size: 32px;

  padding-inline-start: 0;
  padding-inline-end: 16px;
}

#outline {
  --mdw-button__outline__rgb: var(--mdw-color__outline);
}

:host([elevated]) #outline {
  visibility: hidden;
}

#icon {
  --mdw-button__icon__margin-inline-start: 8px;
  --mdw-button__icon__margin-inline-end: 8px;
  color: rgb(var(--mdw-ink));
}

#slot,
#state,
#ripple {
  color: rgb(var(--mdw-chip__label-color));
}

:host([disabled]) :is(#slot, #icon) {
  color: rgba(var(--mdw-color__on-surface), 0.38);
}
