
/* private static final float SHADOW_RADIUS_MULTIPLIER = .75f; */

/* private static final float SHADOW_OFFSET_MULTIPLIER = .25f; */

:host {
  --mdw-container__elevation__opacity: 0;
  --mdw-container__elevation__visibility: visible;
  --mdw-container__elevation__color: var(--mdw-color__primary);

  --mdw-container__box-shadow: var(--mdw-container__box-shadow__0dp);
  --mdw-container__filter: var(--mdw-container__elevation__filter__0dp);

  --mdw-container__box-shadow__0dp: none;
  --mdw-container__box-shadow__1dp: 0 0 02px 0 rgba(var(--mdw-color__shadow), 0.14), 0 02px 02px 0 rgba(var(--mdw-color__shadow), 0.12), 0 01px 03px 0 rgba(var(--mdw-color__shadow), 0.20);
  --mdw-container__box-shadow__2dp: 0 0 04px 0 rgba(var(--mdw-color__shadow), 0.14), 0 03px 04px 0 rgba(var(--mdw-color__shadow), 0.12), 0 01px 05px 0 rgba(var(--mdw-color__shadow), 0.20);
  --mdw-container__box-shadow__3dp: 0 03px 03px 0 rgba(var(--mdw-color__shadow), 0.14), 0 03px 04px 0 rgba(var(--mdw-color__shadow), 0.12), 0 01px 08px 0 rgba(var(--mdw-color__shadow), 0.20);
  --mdw-container__box-shadow__4dp: 0 02px 04px 0 rgba(var(--mdw-color__shadow), 0.14), 0 04px 05px 0 rgba(var(--mdw-color__shadow), 0.12), 0 01px 10px 0 rgba(var(--mdw-color__shadow), 0.20);
  --mdw-container__box-shadow__6dp: 0 06px 10px 0 rgba(var(--mdw-color__shadow), 0.14), 0 01px 18px 0 rgba(var(--mdw-color__shadow), 0.12), 0 03px 05px 0 rgba(var(--mdw-color__shadow), 0.20);
  --mdw-container__box-shadow__8dp: 0 08px 10px 1px rgba(var(--mdw-color__shadow), 0.14), 0 03px 14px 3px rgba(var(--mdw-color__shadow), 0.12), 0 04px 15px 0 rgba(var(--mdw-color__shadow), 0.20);
  --mdw-container__box-shadow__9dp: 0 09px 12px 1px rgba(var(--mdw-color__shadow), 0.14), 0 03px 16px 2px rgba(var(--mdw-color__shadow), 0.12), 0 05px 06px 0 rgba(var(--mdw-color__shadow), 0.20);
  --mdw-container__box-shadow__12dp: 0 12px 17px 2px rgba(var(--mdw-color__shadow), 0.14), 0 05px 22px 4px rgba(var(--mdw-color__shadow), 0.12), 0 07px 08px 0 rgba(var(--mdw-color__shadow), 0.20);
  --mdw-container__box-shadow__16dp: 0 16px 24px 2px rgba(var(--mdw-color__shadow), 0.14), 0 06px 30px 5px rgba(var(--mdw-color__shadow), 0.12), 0 08px 10px 0 rgba(var(--mdw-color__shadow), 0.20);
  --mdw-container__box-shadow__24dp: 0 24px 38px 3px rgba(var(--mdw-color__shadow), 0.14), 0 09px 46px 8px rgba(var(--mdw-color__shadow), 0.12), 0 11px 15px 0 rgba(var(--mdw-color__shadow), 0.20);

  --mdw-container__elevation__opacity__1: 0.05;
  --mdw-container__elevation__opacity__2: 0.08;
  --mdw-container__elevation__opacity__3: 0.11;
  --mdw-container__elevation__opacity__4: 0.12;
  --mdw-container__elevation__opacity__5: 0.14;

  --mdw-container__box-shadow__1: var(--mdw-container__box-shadow__1dp);
  --mdw-container__box-shadow__2: var(--mdw-container__box-shadow__3dp);
  --mdw-container__box-shadow__3: var(--mdw-container__box-shadow__6dp);
  --mdw-container__box-shadow__4: var(--mdw-container__box-shadow__8dp);
  --mdw-container__box-shadow__5: var(--mdw-container__box-shadow__12dp);

  --mdw-container__elevation__filter__0dp: none;
  --mdw-container__elevation__filter__1dp: drop-shadow(0 00.92px 00.5px rgba(var(--mdw-color__shadow), 0.26)) drop-shadow(0 0 00.67px rgba(var(--mdw-color__shadow), 0.08));
  --mdw-container__elevation__filter__2dp: drop-shadow(0 01.83px 01.0px rgba(var(--mdw-color__shadow), 0.26)) drop-shadow(0 0 01.33px rgba(var(--mdw-color__shadow), 0.08));
  --mdw-container__elevation__filter__3dp: drop-shadow(0 02.75px 01.5px rgba(var(--mdw-color__shadow), 0.26)) drop-shadow(0 0 02.00px rgba(var(--mdw-color__shadow), 0.08));
  --mdw-container__elevation__filter__4dp: drop-shadow(0 03.67px 02.0px rgba(var(--mdw-color__shadow), 0.26)) drop-shadow(0 0 02.67px rgba(var(--mdw-color__shadow), 0.08));
  --mdw-container__elevation__filter__6dp: drop-shadow(0 05.50px 03.0px rgba(var(--mdw-color__shadow), 0.26)) drop-shadow(0 0 04.00px rgba(var(--mdw-color__shadow), 0.08));
  --mdw-container__elevation__filter__8dp: drop-shadow(0 07.33px 04.0px rgba(var(--mdw-color__shadow), 0.26)) drop-shadow(0 0 05.33px rgba(var(--mdw-color__shadow), 0.08));
  --mdw-container__elevation__filter__9dp: drop-shadow(0 08.25px 04.5px rgba(var(--mdw-color__shadow), 0.26)) drop-shadow(0 0 06.00px rgba(var(--mdw-color__shadow), 0.08));
  --mdw-container__elevation__filter__12dp: drop-shadow(0 11.00px 06.0px rgba(var(--mdw-color__shadow), 0.26)) drop-shadow(0 0 08.00px rgba(var(--mdw-color__shadow), 0.08));
  --mdw-container__elevation__filter__16dp: drop-shadow(0 14.67px 08.0px rgba(var(--mdw-color__shadow), 0.26)) drop-shadow(0 0 10.67px rgba(var(--mdw-color__shadow), 0.08));
  --mdw-container__elevation__filter__24dp: drop-shadow(0 22.12px 12.0px rgba(var(--mdw-color__shadow), 0.26)) drop-shadow(0 0 16.00px rgba(var(--mdw-color__shadow), 0.08));

  --mdw-container__transition-property: background-color, color, border-radius, box-shadow;

  --mdw-shape__size: 0;
  --mdw-shape__size__top-start-size: var(--mdw-shape__size);
  --mdw-shape__size__top-end-size: var(--mdw-shape__size);
  --mdw-shape__size__bottom-start-size: var(--mdw-shape__size);
  --mdw-shape__size__bottom-end-size: var(--mdw-shape__size);

  display: block;
  position: relative;

  border-start-start-radius: var(--mdw-shape__size__top-start-size);
  border-start-end-radius: var(--mdw-shape__size__top-end-size);
  border-end-start-radius: var(--mdw-shape__size__bottom-start-size);
  border-end-end-radius: var(--mdw-shape__size__bottom-end-size);

  transition-delay: 1ms;
  transition-duration: 100ms;
  transition-property: var(--mdw-container__transition-property);

  box-shadow: var(--mdw-container__box-shadow);
}

:host([color]:where(:not([disabled]))) {
  background-color: rgb(var(--mdw-bg));
  color: rgb(var(--mdw-ink));
}

:host([color="primary"]) {
  --mdw-bg: var(--mdw-color__primary);
  --mdw-ink: var(--mdw-color__on-primary);
}

:host([color="primary-container"]) {
  --mdw-bg: var(--mdw-color__primary-container);
  --mdw-ink: var(--mdw-color__on-primary-container);
}

:host([color="secondary"]) {
  --mdw-bg: var(--mdw-color__secondary);
  --mdw-ink: var(--mdw-color__on-secondary);
}

:host([color="secondary-container"]) {
  --mdw-bg: var(--mdw-color__secondary-container);
  --mdw-ink: var(--mdw-color__on-secondary-container);
}

:host([color="tertiary"]) {
  --mdw-bg: var(--mdw-color__tertiary);
  --mdw-ink: var(--mdw-color__on-tertiary);
}

:host([color="tertiary-container"]) {
  --mdw-bg: var(--mdw-color__tertiary-container);
  --mdw-ink: var(--mdw-color__on-tertiary-container);
}

:host([color="error"]) {
  --mdw-bg: var(--mdw-color__error);
  --mdw-ink: var(--mdw-color__on-error);
}

:host([color="error-container"]) {
  --mdw-bg: var(--mdw-color__error-container);
  --mdw-ink: var(--mdw-color__on-error-container);
}

:host([color="background"]) {
  --mdw-bg: var(--mdw-color__background);
  --mdw-ink: var(--mdw-color__on-background);
}

:host([color|="surface"]) {
  --mdw-bg: var(--mdw-color__surface);
  --mdw-ink: var(--mdw-color__on-surface);
}

/* @QOL */
:host([color="surface-primary"]) {
  --mdw-ink: var(--mdw-color__primary);
}

:host([color="surface-variant"]) {
  --mdw-bg: var(--mdw-color__surface-variant);
  --mdw-ink: var(--mdw-color__on-surface-variant);
}

:host([color|="inverse"]) {
  --mdw-bg: var(--mdw-color__inverse-surface);
}

:host([color="inverse-surface"]) {
  --mdw-ink: var(--mdw-color__inverse-on-surface);
}

:host([color="inverse-primary"]) {
  --mdw-ink: var(--mdw-color__inverse-primary);
}

:host([disabled]) {
  --mdw-container__elevation__visibility: hidden;
  filter: none;

  box-shadow: none;
}

:host([color|="surface"]) {
  /* --mdw-container__box-shadow: var(--mdw-container__box-shadow-0dp); */
}

:host([color|="surface"][elevation="1"]) {
  --mdw-container__elevation__opacity: var(--mdw-container__elevation__opacity__1);
  --mdw-container__box-shadow: var(--mdw-container__box-shadow__1);
}

:host([color|="surface"][elevation="2"]) {
  --mdw-container__elevation__opacity: var(--mdw-container__elevation__opacity__2);
  --mdw-container__box-shadow: var(--mdw-container__box-shadow__2);
}

:host([color|="surface"][elevation="3"]) {
  --mdw-container__elevation__opacity: var(--mdw-container__elevation__opacity__3);
  --mdw-container__box-shadow: var(--mdw-container__box-shadow__3);
}

:host([color|="surface"][elevation="4"]) {
  --mdw-container__elevation__opacity: var(--mdw-container__elevation__opacity__4);
  --mdw-container__box-shadow: var(--mdw-container__box-shadow__4);
}

:host([color|="surface"][elevation="5"]) {
  --mdw-container__elevation__opacity: var(--mdw-container__elevation__opacity__5);
  --mdw-container__box-shadow: var(--mdw-container__box-shadow__5);
}

:host([color][disabled]) {
  /* background-color: rgba(var(--mdw-color__on-surface), 0.12); */
  /* color: rgba(var(--mdw-color__on-surface), 0.38); */
}

:host([shape-style="extra-small"]) {
  --mdw-shape__size: var(--mdw-shape__extra-small);
}

:host([shape-style="small"]) {
  --mdw-shape__size: var(--mdw-shape__small);
}

:host([shape-style="medium"]) {
  --mdw-shape__size: var(--mdw-shape__medium);
}

:host([shape-style="large"]) {
  --mdw-shape__size: var(--mdw-shape__large);
}

:host([shape-style="extra-large"]) {
  --mdw-shape__size: var(--mdw-shape__extra-large);
}

:host([shape-style="full"]) {
  --mdw-shape__size: var(--mdw-shape__full);
}

:host([shape-top]) {
  --mdw-shape__size__bottom-start-size: 0;
  --mdw-shape__size__bottom-end-size: 0;
}

:host([shape-bottom]) {
  --mdw-shape__size__top-start-size: 0;
  --mdw-shape__size__top-end-size: 0;
}

:host([shape-start]) {
  --mdw-shape__size__top-end-size: 0;
  --mdw-shape__size__bottom-end-size: 0;
}

:host([mdw-shape-end]) {
  --mdw-shape__size__top-start-size: 0;
  --mdw-shape__size__bottom-start-size: 0;
}

#elevation {
  position: absolute;
  inset: 0;

  pointer-events: none;

  transition-delay: 1ms;
  transition-duration: 100ms;
  transition-property: opacity, color, background-color;

  opacity: var(--mdw-container__elevation__opacity, 0);
  visibility: var(--mdw-container__elevation__visibility);

  background-color: rgb(var(--mdw-container__elevation__color));

  border-radius: inherit;
}