
:host {
  --mdw-container__box-shadow__1dp: 0 0 02px 0 rgba(var(--mdw-color__shadow), 0.14), 0 02px 02px 0 rgba(var(--mdw-color__shadow), 0.12), 0 01px 03px 0 rgba(var(--mdw-color__shadow), 0.20);
  /* --mdw-container__box-shadow__2dp: 0 0 04px 0 rgba(var(--mdw-color__shadow), 0.14), 0 03px 04px 0 rgba(var(--mdw-color__shadow), 0.12), 0 01px 05px 0 rgba(var(--mdw-color__shadow), 0.20); */
  --mdw-container__box-shadow__3dp: 0 03px 03px 0 rgba(var(--mdw-color__shadow), 0.14), 0 03px 04px 0 rgba(var(--mdw-color__shadow), 0.12), 0 01px 08px 0 rgba(var(--mdw-color__shadow), 0.20);
  /* --mdw-container__box-shadow__4dp: 0 02px 04px 0 rgba(var(--mdw-color__shadow), 0.14), 0 04px 05px 0 rgba(var(--mdw-color__shadow), 0.12), 0 01px 10px 0 rgba(var(--mdw-color__shadow), 0.20); */
  --mdw-container__box-shadow__6dp: 0 06px 10px 0 rgba(var(--mdw-color__shadow), 0.14), 0 01px 18px 0 rgba(var(--mdw-color__shadow), 0.12), 0 03px 05px 0 rgba(var(--mdw-color__shadow), 0.20);
  --mdw-container__box-shadow__8dp: 0 08px 10px 1px rgba(var(--mdw-color__shadow), 0.14), 0 03px 14px 3px rgba(var(--mdw-color__shadow), 0.12), 0 04px 15px 0 rgba(var(--mdw-color__shadow), 0.20);
  /* --mdw-container__box-shadow__9dp: 0 09px 12px 1px rgba(var(--mdw-color__shadow), 0.14), 0 03px 16px 2px rgba(var(--mdw-color__shadow), 0.12), 0 05px 06px 0 rgba(var(--mdw-color__shadow), 0.20); */
  --mdw-container__box-shadow__12dp: 0 12px 17px 2px rgba(var(--mdw-color__shadow), 0.14), 0 05px 22px 4px rgba(var(--mdw-color__shadow), 0.12), 0 07px 08px 0 rgba(var(--mdw-color__shadow), 0.20);
  /* --mdw-container__box-shadow__16dp: 0 16px 24px 2px rgba(var(--mdw-color__shadow), 0.14), 0 06px 30px 5px rgba(var(--mdw-color__shadow), 0.12), 0 08px 10px 0 rgba(var(--mdw-color__shadow), 0.20); */
  /* --mdw-container__box-shadow__24dp: 0 24px 38px 3px rgba(var(--mdw-color__shadow), 0.14), 0 09px 46px 8px rgba(var(--mdw-color__shadow), 0.12), 0 11px 15px 0 rgba(var(--mdw-color__shadow), 0.20); */

  --mdw-container__box-shadow__1: var(--mdw-container__box-shadow__1dp);
  --mdw-container__box-shadow__2: var(--mdw-container__box-shadow__3dp);
  --mdw-container__box-shadow__3: var(--mdw-container__box-shadow__6dp);
  --mdw-container__box-shadow__4: var(--mdw-container__box-shadow__8dp);
  --mdw-container__box-shadow__5: var(--mdw-container__box-shadow__12dp);

  --mdw-container__box-shadow: none;

  --mdw-container__elevation__color: var(--mdw-color__primary);
  --mdw-container__elevation__opacity__1: 0.05;
  --mdw-container__elevation__opacity__2: 0.08;
  --mdw-container__elevation__opacity__3: 0.11;
  --mdw-container__elevation__opacity__4: 0.12;
  --mdw-container__elevation__opacity__5: 0.14;
  --mdw-container__elevation__opacity: 0;
  --mdw-container__elevation__visibility: visible;

  --mdw-container__transition-property: background-color, color, border-radius, box-shadow;
  --mdw-container__will-change: none;
  --mdw-shape__size: 0;
  --mdw-shape__size__top-start-size: var(--mdw-shape__size);
  --mdw-shape__size__top-end-size: var(--mdw-shape__size);
  --mdw-shape__size__bottom-start-size: var(--mdw-shape__size);
  --mdw-shape__size__bottom-end-size: var(--mdw-shape__size);

  position: relative;

  display: block;

  border-start-start-radius: var(--mdw-shape__size__top-start-size);
  border-start-end-radius: var(--mdw-shape__size__top-end-size);
  border-end-start-radius: var(--mdw-shape__size__bottom-start-size);
  border-end-end-radius: var(--mdw-shape__size__bottom-end-size);

  box-shadow: var(--mdw-container__box-shadow);

  transition-delay: 1ms;
  transition-duration: 100ms;
  transition-property: var(--mdw-container__transition-property);
  will-change: var(--mdw-container__will-change);
}

:host([shape-style="extra-small"]) {
  --mdw-shape__size: var(--mdw-shape__extra-small);
}

:host([shape-style="small"]) {
  --mdw-shape__size: var(--mdw-shape__small);
}

:host([shape-style="medium"]) {
  --mdw-shape__size: var(--mdw-shape__medium);
}

:host([shape-style="large"]) {
  --mdw-shape__size: var(--mdw-shape__large);
}

:host([shape-style="extra-large"]) {
  --mdw-shape__size: var(--mdw-shape__extra-large);
}

:host([shape-style="full"]) {
  --mdw-shape__size: var(--mdw-shape__full);
}

:host([shape-top]) {
  --mdw-shape__size__bottom-start-size: 0;
  --mdw-shape__size__bottom-end-size: 0;
}

:host([shape-bottom]) {
  --mdw-shape__size__top-start-size: 0;
  --mdw-shape__size__top-end-size: 0;
}

:host([shape-start]) {
  --mdw-shape__size__top-end-size: 0;
  --mdw-shape__size__bottom-end-size: 0;
}

:host([shape-end]) {
  --mdw-shape__size__top-start-size: 0;
  --mdw-shape__size__bottom-start-size: 0;
}

#elevation {
  position: absolute;
  inset: 0;

  pointer-events: none;

  opacity: var(--mdw-container__elevation__opacity, 0);
  visibility: var(--mdw-container__elevation__visibility);

  background-color: rgb(var(--mdw-container__elevation__color));
  border-radius: inherit;

  transition-delay: 1ms;
  transition-duration: 100ms;
  transition-property: opacity, color, background-color;
}