$theme-default-primary: 'indigo' !default;
$theme-default-accent: 'pink' !default;
$theme-default-warn: 'red' !default;
$theme-default-background: 'grey' !default;
$theme-default-variation: 'light' !default;

@import './theming/theming.scss';
@include addTheme(
  $theme-default-primary,
  $theme-default-accent,
  $theme-default-warn,
  $theme-default-background,
  $theme-default-variation
);
@include buildThemes();
@import './all-components.scss';