/* https://m3.material.io/components/dialogs/specs */

:host {
  --mdw-dialog__expand-duration: var(--mdw-motion-expand-duration, 250ms);
  --mdw-dialog__simple-duration: var(--mdw-motion-simple-duration, 100ms);
  --mdw-dialog__standard-easing: var(--mdw-motion-standard-easing, cubic-bezier(0.4, 0.0, 0.2, 1));
  --mdw-dialog__deceleration-easing: var(--mdw-motion-deceleration-easing, cubic-bezier(0.0, 0.0, 0.2, 1));
  --mdw-dialog__fade-in-duration: var(--mdw-motion-fade-in-duration, 150ms);

  --mdw-bg: var(--mdw-color__surface);
  --mdw-ink: var(--mdw-color__on-surface);

  position: fixed;
  inset: 0;

  pointer-events: none;

  z-index: 24;
}

#dialog {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  box-sizing: border-box;
  block-size:100%;
  max-block-size: none;
  inline-size:100%;
  max-inline-size: none;
  margin:0;
  border: none;
  padding: 48px;

  opacity: 0;
  visibility: hidden;
  z-index: 24;

  background-color: transparent;

  transition: none;
  transition-duration: motion.$fadeOutDuration, 200ms;
  transition-property: opacity, padding;
  transition-timing-function: motion.$accelerateEasing, linear;
  will-change: opacity;
}

@media (min-width: 1440px) {
  #dialog {
    padding: 56px;
  }
}

#dialog::backdrop {
  /** Use scrim instead */
  display: none;
}

#dialog[aria-hidden="false"],
#dialog:modal {
  pointer-events: auto;

  opacity: 1;
  visibility: visible;

  transition-duration: var(--mdw-dialog__fade-in-duration);
  transition-property: opacity;
  transition-timing-function: var(--mdw-dialog__deceleration-easing);
}

#scrim {
  position: fixed;
  inset: 0;

  overflow-y: scroll;
  overscroll-behavior: none;
  overscroll-behavior: contain;
  scrollbar-width: none;

  block-size: 100%;
  inline-size: 100%;

  cursor: default;
  pointer-events: inherit;
  -webkit-tap-highlight-color: transparent;

  opacity: 0.38;
  z-index: 0;

  background-color: rgb(var(--mdw-color__scrim));
}

#scrim::-webkit-scrollbar {
  display: none;
}

#scrim::after {
  content: '';

  display: block;

  block-size: 200%;
  inline-size: 200%;
}
@keyframes scaleUpAnimation {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

#surface {
  --mdw-shape__size: 28px;
  --mdw-elevation__opacity: var(--mdw-elevation__opacity__3);
  --mdw-elevation__opacity__hovered: var(--mdw-elevation__opacity__3);
  --mdw-elevation__filter__resting: var(--mdw-elevation__filter__3);

  position: relative;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  max-block-size: 100%;
  min-inline-size: 280px;
  max-inline-size: 560px;
  flex-shrink: 1;

  transform: scale(1);
  transform-origin: bottom center;
  z-index: 24;

  will-change: display, transform;

}

#surface::part(shape) {
  /* font: var(--mdw-typescale__body-medium__font); */
  /* letter-spacing: var(--mdw-typescale__body-medium__letter-spacing); */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
  overscroll-behavior: contain;

  padding-block-start: 8px;

  /* background-color: rgb(var(--mdw-color__surface)); */
  /* color: rgb(var(--mdw-color__on-surface-variant)); */
}

#surface[icon]::part(shape) {
  align-items: center;
}

#surface[open] {
  animation-name: scaleUpAnimation;
  animation-duration: var(--mdw-dialog__fade-in-duration);
  animation-direction: forwards;
}

#icon {
  padding-block-start: 16px;

  font-size: 24px;
}

#headline {
  display: block;

  padding-block-start: 16px;
  padding-inline: 24px;

  color: rgb(var(--mdw-color__on-surface));

  font: var(--mdw-typescale__headline-small__font);
  letter-spacing: var(--mdw-typescale__headline-small__letter-spacing);
}

#headline:not([slotted]):empty {
  display: none;
}

#body {
  padding-block: 16px;
}

.content {
  padding-inline: 24px;
}

#divider-top {
  padding-block-start: 16px;
}

mdw-divider:not([size]) {
  color: transparent;
}

mdw-divider[size="inset"] {
  padding-inline: 24px;
}

#fixed {
  display:block;

  padding-block-start: 16px;

  color: rgb(var(--mdw-color__on-surface-variant));

  font: var(--mdw-typescale__body-medium__font);
  letter-spacing: var(--mdw-typescale__body-medium__letter-spacing);
}

#fixed:not([slotted]) {
  display: none;
}

#slot {
  display:block;

  overflow-y: auto;

  color: rgb(var(--mdw-color__on-surface-variant));

  font: var(--mdw-typescale__body-medium__font);
  letter-spacing: var(--mdw-typescale__body-medium__letter-spacing);
}

#scroller {
  display: block;
  overflow-y: auto;
}

#form {
  display: contents;
}

#form-slot::slotted(form) {
  display: contents;
}