/* https://m3.material.io/components/dividers/specs */

:host {
  position: relative;

  display: block;
  overflow: visible;

  box-sizing: border-box;
  block-size: 0;
  inline-size: 100%;

  color: rgb(var(--mdw-color__outline-variant));
}

:host::before {
  content: '';

  display: block;

  box-sizing: border-box;
  block-size: 1px;
  inline-size: auto;
  padding: inherit;

  background-color: currentcolor;
}

:host([vertical]) {
  display: inline-flex;
  vertical-align: top;

  block-size: auto;
  min-block-size: 100%;
  inline-size: 0;
}

:host([vertical])::before {
  block-size: auto;
  min-inline-size: 1px;
}
