/* https://m3.material.io/components/floating-action-button/specs */

:host {
  --mdw-shape__size: 16px;
  --mdw-button__icon__display: block;
  --mdw-button__icon__size: 24px;

  min-block-size: 56px;
  min-inline-size: 56px;
}

#label {
  padding: 0;
}

#icon {
  margin: 0;
}

:host([fab-size="small"]) {
  --mdw-shape__size: 12px;

  min-block-size: 40px;
  min-inline-size: 40px;
}

:host([fab-size="large"]) {
  --mdw-shape__size: 28px;
  --mdw-button__icon__size: 36px;

  min-block-size: 96px;
  min-inline-size: 96px;
}
