/* https://m3.material.io/components/floating-action-button/specs */

#label {
  --mdw-shape-size: 16px;
  min-block-size: 56px;
  min-inline-size: 56px;
  padding: 0;
}

#icon {
  font-size: 24px;
}

#icon[fab-size="large"] {
  font-size: 36px;
}

#label[fab-size="small"] {
  /* stylelint-disable-next-line rule-selector-property-disallowed-list */
  --mdw-shape__size: 12px;

  min-block-size: 40px;
  min-inline-size: 40px;
}

#label[fab-size="large"] {
  /* stylelint-disable-next-line rule-selector-property-disallowed-list */
  --mdw-shape__size: 28px;

  min-block-size: 96px;
  min-inline-size: 96px;
}
