/* https://m3.material.io/components/chips/specs */

/* Filter Chips can be elevated */

:host {
  --mdw-ink: var(--mdw-color__on-secondary-container);
  --mdw-bg: var(--mdw-color__secondary-container);
}

:host(:focus) {
  --mdw-outline__rgb: var(--mdw-color__outline);
}

#icon[selected] {
  font-variation-settings: 'FILL' 1;
}

#label {
  background-color: transparent;
  color: rgb(var(--mdw-color__on-surface-variant));
}

#label:where([trailing-icon]) {
  padding-inline: 8px;
}

#label[elevated] {
  background-color: rgb(var(--mdw-color__surface));
}

#label[selected] {
  background-color: rgb(var(--mdw-bg));
  color: rgb(var(--mdw-ink));
}

#outline[selected] {
  opacity: 0;
}

#trailing-icon {
  position: relative;

  font-size: 18px;
}

.mdw-chip__checkbox {
  position: absolute;

  max-block-size: 0;
  max-inline-size: 0;

  appearance: none;
  pointer-events: none;
}

#check-icon {
  font-size: 0;
}

#check-icon[selected] {
  font-size: 18px;
}

#check-icon[disabled] {
  color: rgba(var(--mdw-color__on-surface), 0.38);
}

#label[disabled]:is([elevated],[selected]) {
  background-color: rgba(var(--mdw-color__on-surface), 0.12);
  /* color: rgba(var(--mdw-color__on-surface), 0.38); */
}
