/* https://m3.material.io/components/chips/specs */

:host {
  --mdw-ink: var(--mdw-color__on-secondary-container);
  --mdw-bg: var(--mdw-color__secondary-container);
  color: rgb(var(--mdw-color__on-surface__variant));
}

#slot,
#state,
#ripple,
#icon {
  color: inherit;
}

#label {
  padding: 0;
}

:host(:focus) {
  --mdw-button__outline__rgb: var(--mdw-color__outline);
}

:host([disabled][selected]) {
  background-color: rgba(var(--mdw-color__on-surface), 0.12);
  /* color: rgba(var(--mdw-color__on-surface), 0.38); */
}

:host([selected]) {
  --mdw-button__icon__font-variation-settings: 'FILL' 1;
  background-color: rgb(var(--mdw-bg));
  color: rgb(var(--mdw-ink));
}

:host([selected]) #outline {
  color:transparent;
}

:host(:not([selected])) {
  background-color: transparent;
  color: rgb(var(--mdw-color__on-surface__variant));
}

#trailing-icon {
  --mdw-icon__size: var(--mdw-chip__trailing-icon__size);
  --mdw-icon__opacity: var(--mdw-chip__trailing-icon__opacity);
  --mdw-icon__display: var(--mdw-chip__trailing-icon__display);
  --mdw-icon__font-variation-settings: var(--mdw-chip__trailing-icon__font-variation-settings);

  position: relative;
  order: 1;

  margin-inline-start: 8px;
  margin-inline-end: 8px;
}

.mdw-chip__checkbox {
  position: absolute;

  max-block-size: 0;
  max-inline-size: 0;

  appearance: none;
  pointer-events: none;
}

:host(:not([trailing-icon])) #trailing-icon {
  --mdw-chip__trailing-icon__size: 0;
}

#check-icon {
  --mdw-icon__size: 0;
  order: -1;

  margin-inline: 8px;
}

:host(:not([icon])) #icon {
  display: none;
}

:host([icon]) #check-icon {
  display: none;
}

:host([selected]) #check-icon {
  --mdw-icon__size: 18px;
}

/** Filter **/
:host([type="checkbox"]) :is(#slot, #state, #ripple, #icon, #check-icon) {
  color: inherit;
}

:host([disabled]) :is(#check-icon) {
  color: rgba(var(--mdw-color__on-surface), 0.38);
}