/* https://m3.material.io/components/icon-buttons/specs */

:host {
  --mdw-shape__size: var(--mdw-shape__full);
  --mdw-container__box-shadow: none;
  --mdw-container__elevation__opacity: 0;
  --mdw-button__icon__size: 24px;
  --mdw-button__icon__display: block;
  --mdw-button__outline__opacity: 1;
  --mdw-button__target__size: 48px;
  --mdw-button__icon__font-variation-settings: 'FILL' 0;
  --mdw-icon-button__background-alpha: 1;
  --mdw-button__outline__size: 0;
  --mdw-ink: var(--mdw-color__on-surface-variant);

  display: flex;
  align-items: center;
  justify-content: center;

  block-size: auto;
  min-block-size: 0;
  inline-size: auto;
  min-inline-size: 0;

  background-color: transparent;

  font-size: 24px;
}

:host([color]) {
  background-color: transparent;
}

:host(:where([type="checkbox"])[selected]) {
  --mdw-button__icon__font-variation-settings: 'FILL' 1;
}

/** Standard default is same as unselected */
:host(:where([type="checkbox"]):not([selected])) {
  color: rgb(var(--mdw-color__on-surface-variant));
}

/** Filled default is same as selected */
:host(:where([filled])) {
  --mdw-ink: var(--mdw-color__on-primary);
  --mdw-bg: var(--mdw-color__primary);
  --mdw-button__icon__font-variation-settings: 'FILL' 1;
  /* background-color: rgb(var(--mdw-bg)); */
  /* color: rgb(var(--mdw-color__on-primary)); */
}

:host(:where([filled="tonal"])) {
  --mdw-ink: var(--mdw-color__on-secondary-container);
  --mdw-bg: var(--mdw-color__secondary-container);
}

:host(:where([filled][type="checkbox"]):not([selected])) {
  --mdw-button__icon__font-variation-settings: 'FILL' 0;
  --label-bg: rgb(var(--mdw-color__surface-variant));
  color: rgb(var(--mdw-bg));
}

:host(:where([filled="tonal"][type="checkbox"]):not([selected])) {
  --mdw-button__icon__font-variation-settings: 'FILL' 0;
  --label-bg: rgb(var(--mdw-color__surface-variant));
  color: rgb(var(--mdw-color__on-surface-variant));
}

/** Outlined default is same as unselected */
:host(:where([outlined])) {
  --mdw-bg: var(--mdw-color__inverse-surface);
  --mdw-ink: var(--mdw-color__inverse-on-surface);
  --mdw-button__icon__font-variation-settings: 'FILL' 0;
  --mdw-button__outline__size: 1px;
  --label-bg: transparent;
  color: rgb(var(--mdw-color__on-surface-variant));
}

:host(:where([outlined][type="checkbox"]):not([selected])) {
  /* Needed to override custom colors */
  --label-bg: transparent;
  color: rgb(var(--mdw-color__on-surface-variant));
}

:host(:where([outlined][type="checkbox"])[selected]) {
  --mdw-button__icon__font-variation-settings: 'FILL' 1;
  --mdw-button__outline__size: 0;
  --label-bg: rgba(var(--mdw-bg), var(--mdw-icon-button__background-alpha));
  color: rgb(var(--mdw-ink));
}

/** Disabled */
:host([disabled]) {
  --mdw-button__outline__opacity: 0.12;
  --mdw-icon-button__background-alpha: 0.12;
  cursor: not-allowed;

  color: rgba(var(--mdw-color__on-surface), 0.38);
}

:host([disabled]:is([filled],[outlined][type="checkbox"][selected])) {
  --label-bg: rgba(var(--mdw-color__on-surface), 0.12);
}

:host(:focus) {
  --mdw-button__outline__rgb: var(--mdw-color__outline);
}

:host([ink]:focus) {
  --mdw-button__outline__rgb: var(--mdw-ink);
}

label {
  border-radius: 50%;
  block-size:auto;
  inline-size:auto;
  flex: 0;
  padding: 8px;

  background-color: var(--label-bg);
}

#icon {
  margin: 0px;

}

:host(:not([icon])) #icon {
  inline-size: 1em;
}
