/* https://m3.material.io/components/icon-buttons/specs */

:host {
  --mdw-shape__size: var(--mdw-shape__full);
  --mdw-container__box-shadow: none;
  --mdw-container__elevation__opacity: 0;
  --mdw-button__icon__size: 24px;
  --mdw-button__icon__display: block;
  --mdw-outline__opacity: 1;
  --mdw-button__target__size: 48px;
  --mdw-button__icon__font-variation-settings: 'FILL' 0;
  --mdw-icon-button__background-alpha: 1;
  --mdw-outline__size: 0;
  --mdw-ink: var(--mdw-color__on-surface-variant);

  --label-bg: rgb(var(--mdw-bg));

  display: flex;
  align-items: center;
  justify-content: center;

  block-size: auto;
  min-block-size: 0;
  inline-size: auto;
  min-inline-size: 0;

  background-color: transparent;

  font-size: 24px;
}

:host(:focus) {
  --mdw-outline__rgb: var(--mdw-color__outline);
}

:host([ink]:focus) {
  --mdw-outline__rgb: var(--mdw-ink);
}

#label {
  block-size:auto;
  inline-size:auto;
  padding: 8px;
}

#icon {
  margin: 0px;

}

:host(:not([icon])) #icon {
  inline-size: 1em;
}

/* Unchecked | Default */
#label[toggle] {
  color: rgb(var(--mdw-color__on-surface-variant));
}

/* Checked */
#label[selected] {
  --mdw-button__icon__font-variation-settings: 'FILL' 1;
  color: inherit;
}

/** Filled | Filled Checked */
:host(:where([filled])) {
  --label-bg: rgb(var(--mdw-bg));
  --mdw-ink: var(--mdw-color__on-primary);
  --mdw-bg: var(--mdw-color__primary);
  --mdw-button__icon__font-variation-settings: 'FILL' 1;
  /* background-color: rgb(var(--mdw-bg)); */
  /* color: rgb(var(--mdw-color__on-primary)); */
}

/** Tonal | Tonal Checked */
:host(:where([filled="tonal"])) {
  --mdw-ink: var(--mdw-color__on-secondary-container);
  --mdw-bg: var(--mdw-color__secondary-container);
}

/** Filled Unchecked */
#label:where([filled][toggle]:not([selected])) {
  --mdw-button__icon__font-variation-settings: 'FILL' 0;
  background-color: rgb(var(--mdw-color__surface-variant));
  color: rgb(var(--mdw-bg));
}

/** Filled Tonal Unchecked */
#label:where([filled="tonal"][toggle]:not([selected])) {
  color: rgb(var(--mdw-color__on-surface-variant));
}

/** Outlined | Outlined Unchecked */
:host(:where([outlined])) {
  --mdw-bg: var(--mdw-color__inverse-surface);
  --mdw-ink: var(--mdw-color__inverse-on-surface);
  --mdw-button__icon__font-variation-settings: 'FILL' 0;
  --mdw-outline__size: 1;
  --label-bg: transparent;
  color: rgb(var(--mdw-color__on-surface-variant));
}

#label:where([outlined])[toggle] {
  background-color: transparent;
  color: rgb(var(--mdw-color__on-surface-variant));
}

#label:where([outlined])[selected] {
  --mdw-button__icon__font-variation-settings: 'FILL' 1;
  --mdw-outline__size: 0;
  background-color: rgba(var(--mdw-bg), var(--mdw-icon-button__background-alpha));
  color: rgb(var(--mdw-ink));
}

#outline[selected] {
  opacity: 0;
}

/** Disabled */
#label[disabled] {
  --mdw-outline__opacity: 0.12;
  --mdw-icon-button__background-alpha: 0.12;
  cursor: not-allowed;

  color: rgba(var(--mdw-color__on-surface), 0.38);
}

#label[disabled][filled],
#label[disabled][outlined][selected] {
  background-color: rgba(var(--mdw-color__on-surface), 0.12);
}
