/* https://material.io/design/iconography/system-icons.html */

:host {
  --mdw-icon__size: 18px;
  --mdw-icon__opacity: 1;
  --mdw-icon__margin-inline-start: 12px;
  --mdw-icon__margin-inline-end: 8px;
  --mdw-icon__font-variation-settings: 'FILL' 1;
  --mdw-icon__image__opacity: 1;

  block-size: var(--mdw-icon__size);
  inline-size: var(--mdw-icon__size);

  user-select: none;

  transition-duration: 100ms;
  /* stylelint-disable-next-line liberty/use-logical-spec -- Safari does not animate inline-size */
  transition-property: inline-size, width;
}

#icon {
  position: absolute;

  display: var(--mdw-icon__display, block);

  /* Clip bounds in case font is not ready */
  overflow: clip;

  block-size: var(--mdw-icon__size);
  inline-size: var(--mdw-icon__size);

  opacity: var(--mdw-icon__opacity);

  font-size: var(--mdw-icon__size);
  font-variation-settings: var(--mdw-icon__font-variation-settings);

  transition-delay: 1ms;
  transition-duration: 100ms;

  transition-property: font-variation-settings, opacity;
}

svg, img {
  position: absolute;
  inset: 0;

  block-size: 100%;
  inline-size: 100%;

  opacity: var(--mdw-icon__image__opacity);

  object-fit: cover;
}

.material-symbols-outlined {
  /* https://github.com/google/material-design-icons/issues/750 */
  direction: inherit;
}