/* https://material.io/design/iconography/system-icons.html */

:host {
  display: inline-block;
  vertical-align: -11.5%;

  block-size: 1em;
  inline-size: 1em;

  -webkit-user-select: none;
  user-select: none;

  font-variation-settings: 'FILL' 1;

  transition-duration: 200ms;
  /* stylelint-disable-next-line liberty/use-logical-spec -- Safari does not animate inline-size */
  transition-property: inline-size, width;
}

:host(:is([color],[ink])) {
  color: rgb(var(--mdw-ink));
}

#icon {
  /* Clip bounds in case font is not ready */
  display: block;
  overflow: clip;

  block-size: 1em;
  inline-size: 1em;

  font-size: inherit;
  font-variation-settings: inherit;

  transition-delay: 1ms;
  transition-duration: 200ms;

  transition-property: font-variation-settings;
}

#icon[hidden] {
  display: none;
}

#svg {
  display: block;

  block-size: inherit;
  inline-size: inherit;

  fill: currentColor;

  object-fit: cover;
}

#img {
  display: block;

  block-size: inherit;
  inline-size: inherit;

  object-fit: cover;

  transition-delay: 1ms;
  transition-duration: 200ms;
  transition-property: filter;
}

#img[disabled] {
  filter: grayscale();
}

.material-symbols-outlined {
  /* https://github.com/google/material-design-icons/issues/750 */
  direction: inherit;
}
