:host {
  --mdw-bg: var(--mdw-color__secondary-container);
  --mdw-ink: var(--mdw-color__on-secondary-container)
}

#anchor {
  cursor: pointer;
}

#anchor[selected] {
  background-color: rgb(var(--mdw-bg));
  color: rgb(var(--mdw-ink));
}

#anchor[disabled] {
  cursor: not-allowed;
  pointer-events: none;
}

#content {
  -webkit-user-select: none;
  user-select: none;
}