/* https://m3.material.io/components/lists/specs */

:host {
  --mdw-shape__size: 0px;
  display: block;
}

:host([href]) {
  cursor: pointer;
}

#anchor {
  /* Grid does not auto collapse columns, leaving gaps */
  display: flex;
  align-items: center;
  gap: 16px;

  border: none;
  padding-block: 8px;
  padding-inline: 8px 24px;

  outline: none;

  color: inherit;

  text-decoration: none;
}

#anchor[video] {
  padding-inline-start: 0;
}

#anchor[lines="3"] {
  align-items: flex-start;

  padding-block: 12px;
}

#content {
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  flex: 1;

  padding-block: calc(8px + (var(--mdw-density) * 2px));
}

#content:is([has-supporting], [lines="2"]) {
  box-sizing: border-box;
  min-block-size: calc(8px + calc(48px + var(--mdw-density) * 2px));
  padding-block: calc(4px + var(--mdw-density) * 2px);
}

#content:is([lines="3"]) {
  box-sizing: border-box;
  min-block-size: calc(8px + calc(48px + var(--mdw-density) * 2px));
  padding-block: calc(0 + var(--mdw-density) * 2px);
}

#icon {
  font-size: 18px;
}

#trailing-icon {
  font-size: 24px;
}


#divider {
  position: absolute;
  inset-block-end: 0;

  display: block;

  color: rgb(var(--mdw-color__surface-variant));
}

#divider[divider="inset"] {
  padding-inline: 16px 24px;
}

#slot {
  max-block-size: var(--mdw-typescale__body-large__line-height) * 2;

  pointer-events: none;

  /* background-color: rgba(255,0,0,0.10); */

  color: var(--mdw-color__on-surface);

  font: var(--mdw-typescale__body-large__font);
  letter-spacing: var(--mdw-typescale__body-large__letter-spacing);
}

#supporting {
  max-block-size: calc(var(--mdw-typescale__body-medium__line-height) * 2);

  /* background-color: rgba(0,255,0,0.10); */

  color: var(--mdw-color__on-surface-variant);

  font: var(--mdw-typescale__body-medium__font);
  letter-spacing: var(--mdw-typescale__body-medium__letter-spacing);
}

#trailing {
  color: var(--mdw-color__on-surface-variant);

  font: var(--mdw-typescale__body-medium__font);
  letter-spacing: var(--mdw-typescale__body-medium__letter-spacing);
}

#slot, #supporting {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;

  text-align: start;
  text-overflow: ellipsis;
  text-transform: none;
  white-space: normal;
  word-break: break-word;
}

#supporting[lines="2"] {
  min-block-size: var(--mdw-typescale__body-medium__line-height);
  max-block-size: var(--mdw-typescale__body-medium__line-height);
}

#supporting[lines="3"] {
  min-block-size: calc(var(--mdw-typescale__body-medium__line-height) * 2);
  max-block-size: calc(var(--mdw-typescale__body-medium__line-height) * 2);
}

@supports(width: 1lh) {
  #slot {
    max-block-size: 1lh;
  }

  #supporting {
    max-block-size: 2lh;
  }

  #supporting[lines="2"] {
    min-block-size: 1lh;
    max-block-size: 1lh;
  }

  #supporting[lines="3"] {
    min-block-size: 2lh;
    max-block-size: 2lh;
  }
}

@supports(-webkit-line-clamp:1) {
  #slot {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  #supporting {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  #supporting[lines="2"] {
    -webkit-line-clamp: 1;
  }
}

#avatar {
  display: flex;
  align-items: center;
  justify-content: center;

  block-size: 40px;
  inline-size: 40px;

  border-radius: 50%;
}

#img {
  block-size: 56px;
  max-block-size: 56px;
  inline-size: 56px;
  max-inline-size: 56px;

  object-fit: cover;
  object-position: center center;
}

#img[video] {
  block-size: 64px;
  max-block-size: 64px;
  inline-size: 114px;
  max-inline-size: 114px;
}


#checkbox {
  /* stylelint-disable-next-line declaration-property-value-disallowed-list */
  margin: 3px;
}

#radio {
  /* stylelint-disable-next-line declaration-property-value-disallowed-list */
  margin: 2px;
}

.trailing {
  order: 1;
}

#anchor[disabled] {
  opacity: 0.38;

  color: rgb(var(--mdw-color__on-surface));
}
