/* https://m3.material.io/components/menus/specs */

:host {
  cursor: pointer;

  font: var(--mdw-typescale__label-large__font);
  letter-spacing: var(--mdw-typescale__label-large__letter-spacing);

  white-space: nowrap;
}

#anchor {
  display: flex;
  align-items: center;

  min-block-size: 48px;

  min-block-size: 48px;
  padding: 0;

  white-space: nowrap;
}

#content {
  padding-inline: 12px;
}

#icon {
  transition-duration: 100ms;
  transition-property: opacity;
  will-change: opacity;
}

.leading {
  margin: 0;
  margin-inline-start: 12px;
}

.trailing {
  margin-block: 0;
  margin-inline-end: 12px;
}

#trailing,
#icon {
  color: rgb(var(--mdw-color__on-surface-variant));
}

#selection {
  opacity: 0;

  font-size: 18px;
}

#selection.trailing {
  font-size: 24px;
}

#selection[selected] {
  opacity: 1;
}

#label[selected] #icon {
  opacity: 1;
}

:host([disabled]) {
  cursor: not-allowed;
}