/* https://m3.material.io/components/menus/specs */

:host {
  --mdw-menu__transform-origin-inline-start: left;
  --mdw-menu__transform-origin-inline-end: right;
  /* Normal */
  --mdw-menu__transform-origin-x: var(--mdw-menu__transform-origin-inline-start);
  /* Down */
  --mdw-menu__transform-origin-y: top;
  --mdw-menu__inline-base: 56px;
  --mdw-menu__size: 2;
  --mdw-bg: var(--mdw-color__surface);
  --mdw-ink: var(--mdw-color__on-surface);
  position: absolute;
  /* Default position is bottom */
  /* Default direction is start */
  inset-block: 100% auto;
  inset-inline: auto 0;

  display: block;
  /* Hide scrollbar */
  -ms-overflow-style: none;
  /* Scroll mask */
  overscroll-behavior: none;
  overscroll-behavior: contain;
  scrollbar-width: none;

  pointer-events: none;

  transform-origin: var(--mdw-menu__transform-origin-x) var(--mdw-menu__transform-origin-y);

  transition-duration: motion.$fadeOutDuration;
  transition-property: none;
  transition-timing-function: motion.$decelerateEasing;
}

:host(::after) {
  content: '';

  display: block;

  block-size: 200%;
  inline-size: 200%;
}

:host(::-webkit-scrollbar) {
  display: none;
}

:host([position~="top"]) {
  inset-block: 0 auto;
}

:host([position~="bottom"]) {
  inset-block: auto 0;
}

:host([position~="vcenter"]) {
  inset-block: 50% auto;
}
/** Horizontal Position */
:host([position~="start"]) {
  inset-inline: auto 100%;
}

:host([position~="end"]) {
  inset-inline: 100% auto;
}

:host([position~="left"]) {
  /* stylelint-disable-next-line liberty/use-logical-spec */
  right: 100%;
  /* stylelint-disable-next-line liberty/use-logical-spec */
  left: auto;
}

:host([position~="right"]) {
  /* stylelint-disable-next-line liberty/use-logical-spec */
  right: auto;
  /* stylelint-disable-next-line liberty/use-logical-spec */
  left: 100%;
}

:host([position~="hcenter"]) {
  inset-inline: 50% auto;
}
/** Vertical Direction */
:host([direction~="down"]) {
  /* --mdw-menu__transform-origin-y: top; */
}

:host([direction~="up"]) {
  --mdw-menu__transform-origin-y: bottom;
}
/** Horizontal Direction */
:host([direction~="normal"]) {
  /* --mdw-menu__transform-origin-x: var(--mdw-menu__transform-origin-inline-start); */
}

:host([direction~="reverse"]) {
  --mdw-menu__transform-origin-x: var(--mdw-menu__transform-origin-inline-end);
}

:host([mdw-direction~="ltr"]) {
  --mdw-menu__transform-origin-x: left;
}

:host([mdw-direction~="rtl"]) {
  --mdw-menu__transform-origin-x: right;
}

dialog {
  position: fixed;
  inset: 0;

  box-sizing: border-box;
  block-size:100%;
  max-block-size: none;
  inline-size:100%;
  max-inline-size: none;
  margin: 0;
  border: none;
  padding: 0;

  opacity: 0;
  visibility: hidden;
  z-index: 24;

  background-color: transparent;

  transition: none;
  transition-property: opacity;
  will-change: opacity;
}

dialog::backdrop {
  /** Use scrim instead */
  display: none;
}

dialog[aria-hidden="false"],
dialog:modal {
  --mdw-dialog__scrim__visibility: visible;
  display: block;

  pointer-events: none;

  opacity: 1;
  visibility: visible;

  transition-duration: var(--mdw-dialog__fade-in-duration);
  transition-property: opacity;
  transition-timing-function: var(--mdw-dialog__deceleration-easing);
}

#scrim {
  position: fixed;
  inset: 0;

  overflow-y: scroll;
  overscroll-behavior: none;
  overscroll-behavior: contain;
  scrollbar-width: none;

  block-size: 100%;
  inline-size: 100%;

  cursor: default;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;

  visibility: hidden; /* Only show if [modal] */

  z-index:0;
}

form {
  display: contents;
}

#scrim::-webkit-scrollbar {
  display: none;
}

#scrim::after {
  content: '';

  display: block;

  block-size: 200%;
  inline-size: 200%;
}

#container {
  --mdw-shape__size: var(--mdw-shape__extra-small);
  --mdw-container__elevation__opacity: var(--mdw-container__elevation__opacity__2);
  --mdw-container__box-shadow: var(--mdw-container__box-shadow__2);
  position: relative;

  display: inline-flex;
  align-items: stretch;
  flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
  overscroll-behavior: none;
  overscroll-behavior: contain;

  inline-size: calc(var(--mdw-menu__size) * var(--mdw-menu__inline-base));
  min-inline-size: calc(var(--mdw-menu__inline-base) * 2);
  max-inline-size: 100vw;
  padding-block: 8px;

  pointer-events: auto;

  background-color: rgb(var(--mdw-color__surface));
  color: rgb(var(--mdw-color__on-surface));

  will-change: top, left;
}

:host([modal]) #scrim {
  visibility: visible;
}