/* https://m3.material.io/components/navigation-bar/specs */

:host {
  position: sticky;
  inset-block-end: 0;
  order:1; /* Nav Bars are at top of tab order, but bottom of page */

  overflow: hidden; /* Don't expand viewport when contents translates */

  flex-shrink: 0;

  box-shadow: none;
}

#nav {
  display: grid;
  align-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  grid-auto-columns: minmax(48px, 1fr);
  grid-auto-flow: column;

  box-sizing: border-box;
  min-block-size: 80px;
  inline-size: 100%;

  transform: translateY(0);

  text-align: center;

  will-change: transform;
}

#slot::slotted(mdw-nav-item) {
  --mdw-nav-item__anchor__display: block;
  --mdw-nav-item__badge__font: var(--mdw-typescale__label-small__font);
  --mdw-nav-item__badge__letter-spacing: var(--mdw-typescale__label-small__letter-spacing);
  --mdw-nav-item__badge__background: rgb(var(--mdw-color__error));
  --mdw-nav-item__badge__color: rgb(var(--mdw-color__on-error));

  grid: auto-flow auto / auto;
  grid-template: "x a y" 32px "b b b" minmax(16px, min-content) / auto 64px auto;

  padding-block: 12px 4px;
}