/* https://material.io/guidelines/components/buttons.html#buttons-raised-buttons */
/* https://material.io/guidelines/style/icons.html# */

:host {
  display: grid;

  gap: 8px;
  grid-auto-columns: minmax(48px, 1fr);
  grid-auto-flow: column;
  grid-template-rows: minmax(80px, min-content);

  box-sizing: border-box;

  inline-size: 100%;

  box-shadow: none;

  text-align: center;
}

#slot {
  --mdw-nav-item__padding-block: 8px 16px;
  --mdw-nav-item__indicator__inline-size: 64px;
}