/* https://m3.material.io/components/navigation-bar/specs */
/* https://m3.material.io/components/navigation-drawer/specs */
/* https://m3.material.io/components/navigation-rail/specs */

:host {
  --mdw-badge__scale: 0;
  --mdw-shape__size: var(--mdw-shape__full);
  --mdw-nav-item__offset-y: 0;
  position: relative;

  display: grid;
  align-content: center;
  align-items: center;
  grid-auto-flow: row;
  grid-auto-rows: minmax(20px, min-content);
  grid-template-rows: [icon] minmax(32px, 1fr);
  grid-template-columns: [icon] minmax(56px, 1fr);

  justify-items: center;
  row-gap: 4px;

  box-sizing: border-box;
  min-block-size: 56px;

  padding-inline: 0;

  cursor: pointer;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  user-select: none;

  font: var(--mdw-typescale__label-large__font);
  letter-spacing: var(--mdw-typescale__label-large__letter-spacing);

  text-align: center;
}

:host(:not([color])) {
  --mdw-ink: var(--mdw-color__on-secondary-container);
  --mdw-bg: var(--mdw-color__secondary-container);
}

:host([color]) {
  background-color: transparent;
  color: rgb(var(--mdw-color__on-surface-variant));
}

#slot {
  display: contents;
  align-items: center;
  flex-direction: column;
  grid-area: label;
  justify-content: center;
  color: rgb(var(--mdw-color__on-surface-variant));

  grid-column: 1 /4;

  grid-row: 2;

  flex: 1;

  cursor: inherit;
  outline: none;

  transform: translateY(var(--mdw-nav-item__offset-y));

  transition: opacity, color, transform 200ms;
  will-change: opacity, transform;
}

#anchor {
  position: absolute;
  inset: 0;
}

#shape {
  position: absolute;
  /* stylelint-disable-next-line liberty/use-logical-spec */
  top: 50%;
  /* stylelint-disable-next-line liberty/use-logical-spec */
  left: 50%;

  block-size: 100%;
  inline-size: 100%;
  max-inline-size: 56px;

  grid-column: icon;
  grid-row: 1 / 1;

  transform: translateX(-50%) translateY(-50%) translateY(var(--mdw-nav-item__offset-y));
  z-index: 0;

  background-color: transparent;

  transition: transform 200ms;
  will-change: transform;
}

#icon {
  position: relative;
  align-self: center;
  color: rgb(var(--mdw-color__on-surface-variant));


  grid-area: icon;

  transform: translateY(var(--mdw-nav-item__offset-y));
  z-index: 3;

  font-size: 24px;
  font-variation-settings: 'FILL' 0;

  transition: transform 200ms;
  will-change: transform;
}

#state {
  z-index: 2;
}

#badge {
  --mdw-badge__scale: 0;
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;

  overflow: hidden;

  max-inline-size: 50%;
  grid-column: 1 / 4;

  grid-row: 1 / 2;

  transform: translateY(-100%) translateY(var(--mdw-nav-item__offset-y)) scale(var(--mdw-badge__scale));
  z-index: 4;

  text-align: start;
  text-overflow: ellipsis;
  text-transform: none;
  white-space: nowrap;
  word-break: normal;

  transition: transform 200ms;
  will-change: transform;
}

#badge[badge] {
  --mdw-badge__scale: 1;
}

#ripple {
  color: rgb(var(--mdw-bg));
}

#ripple-container {
  z-index:1;
}

#ripple {
  opacity: 1;
}

#shape[active] {
  color: rgb(var(--mdw-ink));
}

#icon[active] {
  color: rgb(var(--mdw-ink));

  font-variation-settings: 'FILL' 1;
}

#slot[active] {
  color: inherit;
}

:host([show-label]) {
  --mdw-nav-item__offset-y: 12px;
}

:host([show-label="active"][active]) {
  --mdw-nav-item__offset-y: 0;
}