/* https://material.io/guidelines/components/buttons.html#buttons-raised-buttons */
/* https://material.io/guidelines/style/icons.html# */

:host {
  --mdw-ink: var(--mdw-color__on-secondary-container);
  --mdw-bg: var(--mdw-color__secondary-container);

  display: grid;
  align-content: center;
  align-items: center;

  grid: auto-flow minmax(20px, min-content) / auto;

  grid-template: "a" minmax(32px, 1fr) / auto;

  justify-items: center;
  row-gap: 4px;

  box-sizing: content-box;

  box-sizing: border-box;
  min-block-size: 56px;
  padding: 0;

  cursor: pointer;

  background-color: transparent;
  color: rgb(var(--mdw-color__on-surface-variant));
}

:host([color]) {
  background-color: transparent;
  color: inherit;
}

#slot {
  grid-row: 2;
}

a {
  display: var(--mdw-nav-item__anchor__display, contents);
  position: inherit;
  align-items: center;
  flex-direction: column;
  grid-area: b;

  justify-content: center;

  flex: 1;

  cursor: inherit;
  outline: none;

  color: inherit;

  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  letter-spacing: inherit;

  text-decoration: inherit;
}

#indicator {
  display: flex;
  position: absolute;
  inset: 0;
  grid-area: var(--mdw-nav-item__indicator__grid-area, a);
  z-index: 0;

  border-radius: 999px;

}

#icon {
  --mdw-icon__size: 24px;
  position: relative;
  align-self: center;
  grid-area: a;

  z-index: 3;
}

#overlay {
  z-index: 2;
}

#badge {
  --mdw-badge__scale: 0;
  display: flex;
  position: var(--mdw-nav-item__badge__position, absolute);
  inset-block-start: 50%;
  inset-inline-start: 50%;
  align-items: center;
  grid-area: var(--mdw-nav-item__badge__grid-area, a);

  justify-content: center;

  box-sizing: border-box;

  block-size: 16px;
  min-inline-size: 16px;
  padding: 4px;

  transition: transform 200ms;
  will-change: transform;

  transform: var(--mdw-nav-item__badge__transform, translateY(-50%) translateX(4px) translateY(-8px) scale(var(--mdw-badge__scale)));

  z-index: 4;

  background: var(--mdw-nav-item__badge__background, transparent);
  border-radius: 8px;
  color: var(--mdw-nav-item__badge__color, inherit);

  font-weight: var(--mdw-nav-item__badge__font-weight, inherit);
  font-size: var(--mdw-nav-item__badge__font-size, inherit);
  line-height: var(--mdw-nav-item__badge__line-height, inherit);
  font-family: var(--mdw-nav-item__badge__font-family, inherit);
  letter-spacing: var(--mdw-nav-item__badge__letter-spacing, inherit);
}

#badge::after {
  content: attr(badge);
}

#badge[badge] {
  --mdw-badge__scale: 1;
}

#badge[badge=""] {
  block-size: 6px;
  min-inline-size: 6px;
  margin-inline-start: 5px;
  padding: 0;

  border-radius: 50%;
}

/* Fix active ripple state */
a:active #ripple-inner {
  animation-name: var(--mdw-ripple__fade-in-name), none;
}

:host([active]) #ripple-inner {
  /* Hold fade-in animation while held (active) */
  animation-name: var(--mdw-ripple__fade-in-name), none;
}

:host([active]) #indicator {
  color: rgb(var(--mdw-ink));
}

#ripple-inner {
  opacity: 1;

  color: rgb(var(--mdw-bg));
}

:host([active]) {
  color: inherit;
}

:host([active]) #slot {
  color: inherit;
}

:host[show-label="active"]:not([active]) {}