/* https://m3.material.io/components/navigation-bar/specs */
/* https://m3.material.io/components/navigation-drawer/specs */
/* https://m3.material.io/components/navigation-rail/specs */

:host {
  --mdw-badge__scale: 0;
  display: grid;
  align-content: center;
  align-items: center;
  grid: auto-flow minmax(20px, min-content) / auto;
  grid-template: "a" minmax(32px, 1fr) / 56px;
  justify-items: center;
  row-gap: 4px;

  box-sizing: content-box;
  box-sizing: border-box;
  min-block-size: 56px;
  padding-inline: 0;

  cursor: pointer;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  user-select: none;

  background-color: transparent;
  color: rgb(var(--mdw-color__on-surface-variant));
}

:host(:not([color])) {
  --mdw-ink: var(--mdw-color__on-secondary-container);
  --mdw-bg: var(--mdw-color__secondary-container);
}

:host([color]) {
  background-color: transparent;
  color: inherit;
}

#slot {
  grid-row: 2;
}

a {
  position: inherit;

  display: var(--mdw-nav-item__anchor__display, contents);
  align-items: center;
  flex-direction: column;
  grid-area: b;
  justify-content: center;

  flex: 1;

  cursor: inherit;
  outline: none;

  opacity: var(--mdw-nav-item__anchor__opacity, 1);
  transform: translateY(var(--mdw-nav-item__offset-y, 0));

  color: inherit;

  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  text-decoration: inherit;

  transition: opacity, color, transform 200ms;
  will-change: opacity, transform;
}

#indicator {
  position: absolute;
  inset: 0;

  display: flex;
  grid-area: var(--mdw-nav-item__indicator__grid-area, a);

  transform: translateY(var(--mdw-nav-item__offset-y, 0));
  z-index: 0;

  border-radius: 999px;

  transition: transform 200ms;
  will-change: transform;
}

#icon {
  --mdw-icon__size: 24px;
  --mdw-icon__font-variation-settings: 'FILL' 0;
  position: relative;
  align-self: center;

  grid-area: a;

  transform: translateY(var(--mdw-nav-item__offset-y, 0));
  z-index: 3;

  transition: transform 200ms;
  will-change: transform;
}

#state {
  z-index: 2;
}

#badge {
  position: var(--mdw-nav-item__badge__position, absolute);
  inset-block-start: 50%;
  inset-inline-start: 50%;

  grid-area: var(--mdw-nav-item__badge__grid-area, a);

  transform: var(--mdw-nav-item__badge__transform, translateY(-50%) translateX(4px) translateY(-8px) translateY(var(--mdw-nav-item__offset-y, 0)) scale(var(--mdw-badge__scale)));
  z-index: 4;

  background: var(--mdw-nav-item__badge__background, transparent);
  color: var(--mdw-nav-item__badge__color, inherit);

  transition: transform 200ms;
  will-change: transform;
}

:host([badge]) {
  --mdw-badge__scale: 1;
}

#ripple-inner {
  opacity: 1;

  color: rgb(var(--mdw-bg));
}

:host([active]) #ripple-inner {
  /* Hold fade-in animation while selected */
  animation-name: var(--mdw-ripple__fade-in-name), none;
}
/* Fix active ripple state */
a:active #ripple-inner {
  animation-name: var(--mdw-ripple__fade-in-name), none;
}

:host([active]) #indicator {
  color: rgb(var(--mdw-ink));
}

:host([active]) #icon {
  --mdw-icon__font-variation-settings: 'FILL' 1;
  color: rgb(var(--mdw-ink));
}

:host([active]) #slot {
  color: inherit;
}

:host(:is([show-label="never"],[show-label="active"]:not([active]))) {
  --mdw-nav-item__anchor__opacity: 0;
  --mdw-nav-item__offset-y: 12px;
}