/* https://m3.material.io/components/navigation-rail/specs */

:host{
  display: inline-block;
}

#nav {
  display: grid;
  align-items: stretch;
  flex-direction: column;
  grid-template-rows: minmax(auto, 1fr) minmax(0, auto) minmax(auto, 1fr);
  grid-template-columns: minmax(80px, auto);
  justify-items: center;

  block-size: 100%;

  min-inline-size: 80px;

  background-color: rgb(var(--mdw-color__surface));
  box-shadow: none;

  text-align: center;
}

:host([align="start"]) #nav {
  grid-template-rows: min-content;
}

:host([align="end"]) #nav {
  grid-template-rows: 1fr;
}

#group {
  --mdw-nav-item__badge__font: var(--mdw-typescale__label-small__font);
  --mdw-nav-item__badge__letter-spacing: var(--mdw-typescale__label-small__letter-spacing);
  --mdw-nav-item__badge__background: rgb(var(--mdw-color__error));
  --mdw-nav-item__badge__color: rgb(var(--mdw-color__on-error));

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  overflow-x: hidden;
  overflow-y: auto;

  box-sizing: border-box;
  inline-size: 100%;
  min-inline-size: 56px;
}

#start {
  display: flex;
  align-items: center;
  flex-direction: column;
}
