/* https://m3.material.io/foundations/interaction-states */

:host {
  position: relative;

  outline: none;
  -webkit-tap-highlight-color: transparent;
}

/* Remove Firefox inner */
:host(::-moz-focus-inner) {
  border: 0;
}

:host {
  --mdw-overlay__hover-opacity: 0.08;
  --mdw-overlay__focus-opacity: 0.12;
  --mdw-overlay__pressed-opacity: 0.12;
  --mdw-overlay__dragged-opacity: 0.12;
}

#overlay {
  position: absolute;
  inset: 0;

  pointer-events: auto;

  opacity: calc(
    var(--mdw-overlay__hover-opacity) +
    var(--mdw-overlay__focus-opacity) +
    var(--mdw-overlay__pressed-opacity) +
    var(--mdw-overlay__dragged-opacity)
  );
  /* opacity handled by theme engine */
  background-color: currentColor;
  border-radius: inherit;

  transition-delay: 1ms;
  transition-duration: 0ms;
  transition-property: opacity, color, background-color;
  will-change: opacity;
  z-index: 24;
}

#overlay[touched] {
  --mdw-overlay__hover-opacity: 0;
  --mdw-overlay__focus-opacity: 0;
}

/* Remove Hover State */
#overlay:is(
[disabled]:not([overlay-disabled~="hover"]),
[mdw-overlay-off~="hover"],
:not(:hover)) {
  --mdw-overlay__hover-opacity: 0;
}

/* Remove Focus State */
#overlay:is(
[disabled]:not([overlay-disabled~="focus"]),
[overlay-off~="focus"],
:not([focus])) {
  --mdw-overlay__focus-opacity: 0;
}

/* Remove Pressed State */
#overlay:is(
[disabled]:not([overlay-disabled~="pressed"]),
[overlay-off~="pressed"],
:not(:active))  {
  --mdw-overlay__pressed-opacity: 0;
}

/* Remove Dragged State */
#overlay:is(
[disabled]:not([overlay-disabled~="dragged"]),
[overlay-off~="dragged"],
:not([aria-dragged="true"])) {
  --mdw-overlay__dragged-opacity: 0;
}

/* Disabled */
#overlay[disabled]:not([overlay-disabled]) {
  display: none;
}
