/* https://m3.material.io/components/progress-indicators/specs */

:host {
  --mdw-bg: var(--mdw-color__surface-variant);
  --mdw-ink: var(--mdw-color__primary);
  --mdw-progress__opacity__duration: 500ms;
  position: relative;

  display: inline-block;
  overflow: hidden;

  min-block-size: 4px;
  inline-size: 100%;

  opacity: 1;

  background-color: rgb(var(--mdw-bg));
  color: rgb(var(--mdw-ink));

  transition: opacity 500ms 275ms;
}

:host([auto-hide]) {
  will-change: opacity;
}

:host([auto-hide][value="100"]) {
  opacity:0;

  transition: opacity 1s 1s;
}

:host([value]) #indeterminate {
  display: none;
}

progress {
  --value: 0;
  position: absolute;
  inset: 0;

  box-sizing: border-box;
  block-size: 100%;
  inline-size: 100%;
  border: none; /* FireFox */

  -moz-appearance: none;
  appearance: none;

  opacity:0;
  transform: scaleX(var(--value, 0));
  transform-origin: 0 0;

  background-color: currentColor;
  color: inherit;

  transition: transform 275ms, opacity var(--mdw-progress__opacity__duration);
  will-change: transform, opacity;
}

progress::-webkit-progress-bar {
  display: none;
}

progress::-moz-progress-bar  {
  display: none; /* Doesn't always work */

  block-size: 0;
}

progress[value] {
  opacity:1;
  transform: scaleX(var(--value, 0));
}

