/** https://github.com/material-components/material-components-android/blob/ed77ab36ccac98df24e55060d58406c5981a9062/lib/java/com/google/android/material/progressindicator/ */

:host {
  --mdw-bg: var(--mdw-color__surface-variant);
  --mdw-ink: var(--mdw-color__primary);

  --mdw-progress__opacity__duration: 500ms;

  display: inline-block;
  position: relative;
  overflow: hidden;

  min-block-size: 4px;
  inline-size: 100%;

  transition: opacity 500ms 275ms;

  opacity: 1;

  background-color: rgb(var(--mdw-bg));
  color: rgb(var(--mdw-ink));
}

:host([auto-hide]) {
  will-change: opacity;
}

:host([auto-hide][value="100"]) {
  transition: opacity 1s 1s;

  opacity:0;
}

progress {
  --value: 0;

  position: absolute;
  inset: 0;

  box-sizing: border-box;
  block-size: 100%;
  inline-size: 100%;
  border: none; /* FireFox */

  -moz-appearance: none;
  appearance: none;

  transition: transform 275ms, opacity var(--mdw-progress__opacity__duration);
  will-change: transform, opacity;

  opacity:0;
  transform: scaleX(var(--value, 0));
  transform-origin: 0 0;

  background-color: currentColor;

  color: inherit;
}

progress::-webkit-progress-bar {
  display: none;
}

progress::-moz-progress-bar  {
  display: none; /* Doesn't always work */

  block-size: 0;
}

progress[value] {
  opacity:1;
  transform: scaleX(var(--value, 0));
}
