/* https://m3.material.io/components/radio-button/specs */

:host {
  --mdw-ink: var(--mdw-color__primary);
  gap: var(--mdw-radio__gap, 8px);

  direction: var(--mdw-radio__direction, initial);
}

:host([ink]) {
  color: inherit;
}

#label {
  display: inline-grid;
  align-items: center;
  gap: inherit;
  grid-auto-flow: column;
  grid-template-rows: minmax(40px, min-content);
  grid-template-columns: 40px;
  justify-content: center;

  cursor: pointer;

  border-radius: 50%;
}

#label[disabled] {
  cursor: not-allowed;

  opacity: 0.38;
}
