/* https://m3.material.io/components/radio/specs */

:host {
  --mdw-ink: var(--mdw-color__primary);
  --mdw-radio__size: 20px;
  --mdw-radio__state-size: 40px;
  --mdw-radio__margin: calc((var(--mdw-radio__state-size) - var(--mdw-radio__size)) / 2);
  --mdw-shape__size: var(--mdw-shape__full);

  gap: var(--mdw-radio__gap, calc(var(--mdw-radio__margin)));

  direction: var(--mdw-radio__direction, initial);
}

#label {
  display: inline-grid;
  align-items: center;
  gap: inherit;
  grid-auto-flow: column;
  grid-template-rows: minmax(var(--mdw-radio__size), min-content);
  grid-template-columns: var(--mdw-radio__size);

  cursor: pointer;

  transition: none 100ms cubic-bezier(0.4, 0.0, 1, 1);
}

#control {
  line-height: 0;
}

#state {
  pointer-events: auto;
}

#state,
#ripple-container {
  inset-block-start: 50%;
  inset-inline-start: 50%;

  block-size: var(--mdw-radio__state-size);
  inline-size: var(--mdw-radio__state-size);

  transform: translateX(-50%) translateY(-50%);

  border-radius: 50%;
}

#label[disabled] {
  cursor: not-allowed;

  opacity: 0.38;
}

#target {
  position: relative;

  display: inline-flex;

  grid-column: 1 / 1;

  pointer-events: none;

  color: rgb(var(--mdw-color__on-surface));
}

#target[selected] {
  color: rgb(var(--mdw-ink));
}

#target[disabled] {
  color: rgb(var(--mdw-color__on-surface));
}

#target[errored] {
  color: rgb(var(--mdw-color__error));
}

#icon {
  --mdw-ink: inherit;
  --disabled-opacity: 1;
}