/* https://android.googlesource.com/platform/frameworks/base/+/dbcbca4/graphics/java/android/graphics/drawable/Ripple.java */

/**
 * Ripple starts at 100% opacity
 * Ripple fills linearly
 * Ripple fills on touch down with duration: 1000ms * √(radius / 1024)
 * Ripple fills on touch up with duration: 1000ms * √(Δradius / (1024 + 3400)
 * Ripple opacity down to 0 on touch-up event with deceleration and duration: 1000ms / 3.0
 * Use motion.$expandDuration temporarily
 * TODO: Use variable ripple scale durations
 * TODO: Use enter-delay with JS Ripple
 *
 * --Issues rendering a circle inside an element--
 * See: https://codepen.io/shortfuse/pen/VxYxYj
 *
 * When using block display:
 * - Firefox incorrectly stretches ripple when inside flexbox
 * - Safari incorrectly inherit parent's padding
 *
 * Using using table display:
 * - Firefox renders correctly
 * - Safari renders correctly
 * - IE and Edge don't animate opacity correctly
 * - Ripples don't show if inside actual table
 *
 * When using JS (wrapped with block element):
 * - Firefox renders correctly
 * - Safari renders correctly
 * - IE and Edge renders correctly but still has forced 0.26 opacity
 *
 * Chrome works fine under all conditions
 *
 */

:host {
  --enter-delay: 80ms;
  --fade-out-duration: calc(1000ms / 3.0);
  --touch-down-acceleration: 1024;
  --touch-up-acceleration: 3400;
  --mdw-ripple-expand-duration: var(--mdw-motion-expand-duration, 250ms);
  --mdw-ripple-simple-duration: var(--mdw-motion-simple-duration, 100ms);
  --mdw-ripple-standard-easing: var(--mdw-motion-standard-easing, cubic-bezier(0.4, 0.0, 0.2, 1));
  --mdw-ripple-deceleration-easing: var(--mdw-motion-deceleration-easing, cubic-bezier(0.0, 0.0, 0.2, 1));
  --mdw-ripple__visibility: visible;
}

:host(:not([mdw-ripple="none"])) {
  /* Use ripple for pressed state */
  --mdw-overlay__pressed-opacity: 0;
}

:host([mdw-ripple="none"]) {
  --mdw-ripple__visibility: hidden;
}

:host {
  -webkit-tap-highlight-color: transparent;
}

#ripple {
  position: absolute;
  inset: 0;
  overflow: hidden;

  box-sizing: border-box;

  pointer-events: none;

  visibility: var(--mdw-ripple__visibility);

  z-index: 1;

  border-radius: inherit;
}

#ripple-inner {
  --mdw-ripple__fade-in-name: ripple-fade-in;

  display: block;
  position: absolute;

  pointer-events: none;

  animation:
    var(--mdw-ripple__fade-in-name) var(--mdw-ripple-expand-duration) linear,
    ripple-fade-out calc(1000ms / 3.0) var(--mdw-ripple-deceleration-easing);
  animation-name: none, none;
  animation-direction: normal;
  animation-fill-mode: forwards;
  transition-delay: 0s;
  transition-duration: var(--mdw-ripple-simple-duration);
  transition-property: background-color, color;
  transition-timing-function: var(--mdw-ripple-standard-easing);
  /* stylelint-disable-next-line liberty/use-logical-spec */
  will-change: transform, opacity;

  opacity: 0.12;
  transform: scale(0);

  background-color: currentColor;

  border-radius: 50%;
}

#ripple-inner[mdw-fade-in-repeat] {
  --mdw-ripple__fade-in-name: ripple-fade-in-repeat;
}

#ripple-inner[mdw-fade-in] {
  animation-name: var(--mdw-ripple__fade-in-name), none;
}

#ripple-inner[mdw-fade-in-complete] {
  animation-name: none, ripple-fade-out;
}

#ripple-inner[mdw-fade-out] {
  animation-name: none, ripple-fade-out;
}

:host(:active) #ripple-inner {
  /* Hold fade-in animation while held (active) */
  animation-name: var(--mdw-ripple__fade-in-name), none;
}

:host([disabled]) {
  --mdw-ripple__visibility: hidden;
}

@keyframes ripple-fade-in {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(2);
  }
}

@keyframes ripple-fade-in-repeat {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(2);
  }
}

@keyframes ripple-fade-out {
  from {
    transform: scale(2);
  }

  to {
    opacity: 0;
    transform: scale(2);
  }
}
