/* https://m3.material.io/components/segmented-buttons/specs */

:host {
  --mdw-bg: var(--mdw-color__secondary-container);
  --mdw-ink: var(--mdw-color__on-secondary-container);

  display: flex;
}

:host([color]) {
  background-color: transparent;
}
