/* https://m3.material.io/components/segmented-buttons/specs */

:host {
  --mdw-shape__size: var(--mdw-shape__full);
  --mdw-button__outline__size: 1px;
  --mdw-ink: var(--mdw-color__on-surface);
  color: rgb(var(--mdw-ink));
}

:host([inner-segmented-button]) {
  --mdw-shape__size: 0px;
  --mdw-shape__rounded: 1;
  --mdw-shape__mask-border-source: none;
}

#outline {
  inset-inline-end: calc(-1 * var(--mdw-button__outline__size));
}

:host([shape-end]) #outline {
  inset-inline-end: 0;
}

#label[selected] {
  background-color: rgb(var(--mdw-bg));
  color: rgb(var(--mdw-ink));
}

#icon {
  inline-size: 0;

  opacity: 1;
}

#icon[has-icon] {
  inline-size: 18px;

  opacity: 1;
}

#icon[selected] {
  inline-size: 18px;

  opacity: 0;
}

#check-icon {
  position: absolute;
  inset-inline-start: 16px;

  order: -1;

  display: block;

  overflow: visible;

  margin: 0;

  opacity: 0;

  font-size: 18px;
  font-variation-settings: 'FILL' 1;
}

#check-icon[selected] {
  opacity: 1;

  font-size: 18px;
}

#icon[disabled] {
  color: rgba(var(--mdw-color__on-surface), 0.38);
}

#label[disabled][selected] {
  background-color: rgba(var(--mdw-color__on-surface), 0.12);
  color: rgba(var(--mdw-color__on-surface), 0.38);
}
