#slot {
  display: none;
}

#label {
  padding: 0;

  cursor: pointer;
}

#label[disabled] {
  cursor: not-allowed;
}

#icon {
  position: absolute;

  /* padding-inline-start: 12px; */
}

#trailing-icon {
  position: absolute;
  inset-inline-end: 16px;
}

#control {
  padding-inline-start: 16px;
  padding-inline-end: calc(16px + 24px + 16px);
  accent-color: rgb(var(--mdw-ink));

  cursor: inherit;
}

#control[icon] {
  margin-inline-start: calc(16px + 24px);
  padding-inline-start: 0;
}

option {
  accent-color: rgb(var(--mdw-ink));

  min-block-size: var(--mdw-typescale__label-large__line-height);

  appearance: none;

  background-color: rgb(var(--mdw-color__surface)) !important;
  border-radius: 0;
  color: rgb(var(--mdw-color__on-surface)) !important;

  font: var(--mdw-typescale__label-large__font);
  letter-spacing: var(--mdw-typescale__label-large__letter-spacing);
}