/* https://m3.material.io/components/sliders/specs */

:host {
  --mdw-ink: var(--mdw-color__on-primary);
  --mdw-bg: var(--mdw-color__primary);

  display: block;

  min-block-size: 40px;
  min-inline-size: 88px;

  background-color: transparent;
  /* border-radius: 99px; */

  direction: var(--mdw-radio__direction, initial);
}

:host,
:host([color]) {
  background-color: transparent;
}

#label {
  position: absolute;
  inset: 0;

  display: block;

  cursor: pointer;

  /* border-radius: 50%; */
  color: rgb(var(--mdw-bg));
}

#control {
  overflow: visible;

  block-size: 40px;

  appearance: none;

  cursor: inherit;

  background-color: transparent;
  color: inherit;
}

#control::-webkit-slider-runnable-track {
  margin-inline:-10px;

  appearance: none;

  background-color: transparent;
}

@supports (-moz-appearance:none ){
  #control {
    inset-inline: -10px;

    inline-size: calc(100% + 20px);
  }
}

#control::-moz-range-track {
  inline-size: calc(100% + 20px) !important;

  appearance: none;
}

#control::-webkit-slider-thumb {
  display: block;

  block-size: 20px;
  inline-size: 20px;

  -webkit-appearance: none;
  cursor: inherit;

  transform: scale(2);

  background-color: transparent; /* Safari */

  border-radius: 50%;
  box-shadow: none; /* Safari */
}

#control::-moz-range-thumb {
  display: block;

  box-sizing: content-box;
  block-size: 20px;
  inline-size: 20px;
  border: none;

  appearance: none;
  cursor: inherit;

  transform: scale(2);

  background-color: transparent;
  border-radius: 50%;
}

#track {
  --value: 0.5;
  position: absolute;
  inset-block-start: 50%;
  inset-inline: 0;

  block-size: 4px;
  margin-block-start: -2px;

  pointer-events: none;
  user-select: none;

  background-color: rgb(var(--mdw-color__surface-variant));
  border-radius: inherit;
}

#thumb {
  position: absolute;
  inset-block-start: -18px;
  inset-inline-start: -20px;

  display: flex;
  align-items: center;
  justify-content: center;

  block-size: 40px;
  inline-size: 40px;

  pointer-events: none;

  border-radius: 50%;
  overflow: hidden;

  color: rgb(var(--mdw-bg));
}

#thumb::before {
  content: '';

  display: block;

  block-size: 20px;
  inline-size: 20px;

  background-color: currentColor;
  border-radius: 50%;

  transition: background-color 100ms;
}

/* Inactive ticks */

#ticks::before,
#ticks::after {
  content: '';

  position: absolute;
  inset: 0;

  padding-inline: 10px;

  background-clip: content-box;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  background-image: radial-gradient(circle at center, var(--tick-color) 0, var(--tick-color) 1px, transparent 0);
  background-position: center center;
  background-repeat: repeat-x;
  background-size: 0 100%;
  background-size: calc(100% / var(--ticks, 0)) 2px;
}

#ticks::before {
  --tick-color: rgb(var(--mdw-color__on-surface-variant));
}

#ticks::after {
  --tick-color: rgb(var(--mdw-ink));
  /* TODO: Use single-paint implementation */
  padding-inline-end: calc(100% - (100% * var(--value)) + 10px);

  z-index: 1;

  will-change: padding-inline-end;
}
/* Active Indicator */
#track-active {
  position: absolute;
  inset: 0;

  overflow: hidden;

  border-radius: 99px;
}

#track-active::before {
  content: '';

  position: absolute;
  inset: 0;

  transform: scaleX(var(--value));
  transform-origin: 0 0;

  background-color: rgb(var(--mdw-bg));

  will-change: transform;
}

#thumb-anchor {
  position: absolute;
  inset-inline: 0;

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  inline-size: 1%;

  transform: translateX(calc(var(--value) * 100 * 100%));
  transform-origin: 0 0;
  z-index: 24;

  will-change: transform;
}

#thumb-label {
  position: absolute;
  inset-block-end: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: content-box;
  margin-block-end: 6px;

  transform: translateX(-50%) scale(1);
  transform-origin: 50% 100%;

  font-weight: var(--mdw-typescale__label-medium__font-weight);
  line-height: var(--mdw-typescale__label-medium__line-height);
  font-family: var(--mdw-typescale__label-medium__font-family);
  letter-spacing: var(--mdw-typescale__label-medium__letter-spacing);

  transition: transform 200ms;
  will-change: transform;
}

#thumb-label:is([hidden],[text=""]) {
  transform: translateX(-50%) scale(0);
}

#thumb-label::before {
  content: attr(text);

  display: flex;
  align-items: center;
  justify-content: center;

  min-block-size: 28px;
  min-inline-size: 28px;

  z-index: 1;

  background-color: rgb(var(--mdw-bg));
  border-radius: 50%;
  color: rgb(var(--mdw-ink));
}

#thumb-label::after {
  /* Values from Figma SVG */
  --x-start: 14.6446%; /*4.1005px*/
  --x-end: 85.3554%;
  --y: 70.7106%; /*24.0416px*/

  content: "";

  position: absolute;
  inset: 0;
  inset-block-end: -6px;

  clip-path: polygon(var(--x-start) var(--y), var(--x-end) var(--y), 50% 100%, var(--x-start) var(--y));

  background-color: rgb(var(--mdw-bg));
}

#track[disabled] {
  background-color: rgb(var(--mdw-color__on-surface), calc(0.12 / 0.38));
}

#label[disabled],
#track[disabled] {
  --mdw-bg: var(--mdw-color__on-surface);
  cursor: not-allowed;

  opacity: 0.38;
}
