/* https://m3.material.io/components/sliders/specs */

:host {
  --mdw-slider__hover-opacity: 0.08;
  --mdw-slider__focus-opacity: 0.12;
  --mdw-slider__pressed-opacity: 0.12;
  --mdw-slider__cursor: pointer;

  --mdw-ink: var(--mdw-color__on-primary);
  --mdw-bg: var(--mdw-color__primary);

  display: block;

  min-block-size: 4px;
  min-inline-size: 88px;

  background-color: transparent;
  border-radius: 99px;

  direction: var(--mdw-radio__direction, initial);
}

:host,
:host([color]) {
  background-color: transparent;
}

label {
  position: absolute;
  inset: 0;

  display: block;

  border-radius: 50%;
  color: rgb(var(--mdw-bg));
}

:host([disabled]) label {
  cursor: not-allowed;

  opacity: 0.38;
}

#control {
  inset-block: -18px;

  overflow: visible;

  block-size: 40px;

  appearance: none;

  opacity: 1;
  z-index: 1;

  background-color: transparent;
  color: inherit;
}

#control:not(:focus) {
  --mdw-slider__focus-opacity: 0;
}

#control::-webkit-slider-runnable-track {
  margin-inline:-10px;

  appearance: none;

  background-color: transparent;
}

@supports (-moz-appearance:none ){
  #control {
    inset-inline: -10px;

    inline-size: calc(100% + 20px);
  }
}

#control::-moz-range-track {
  inline-size: calc(100% + 20px) !important;

  appearance: none;
}

#control::-webkit-slider-thumb {
  display: block;

  box-sizing: content-box;
  block-size: 10px;
  inline-size: 10px;
  border: solid 5px rgba(var(--mdw-bg),
  calc(var(--mdw-slider__hover-opacity) + var(--mdw-slider__focus-opacity) + var(--mdw-slider__pressed-opacity)));

  -webkit-appearance: none;
  cursor: var(--mdw-slider__cursor);

  transform: scale(2);

  background-clip: content-box;
  background-color: currentColor;
  border-radius: 50%;
  color: inherit;

  transition: border-color 100ms;
}

#control::-webkit-slider-thumb:not(:active) {
  --mdw-slider__pressed-opacity: 0;
}

#control::-webkit-slider-thumb:not(:hover) {
  --mdw-slider__hover-opacity: 0;
}

#control::-moz-range-thumb {
  display: block;

  box-sizing: content-box;
  block-size: 10px;
  inline-size: 10px;
  border: solid 5px rgba(var(--mdw-bg),
  calc(var(--mdw-slider__hover-opacity) + var(--mdw-slider__focus-opacity) + var(--mdw-slider__pressed-opacity)));

  appearance: none;
  cursor: var(--mdw-slider__cursor);

  transform: scale(2);

  background-clip: content-box;
  background-color: currentColor;
  border-radius: 50%;
  color: inherit;

  transition: border-color 100ms;
}

#control::-moz-range-thumb:not(:active) {
  --mdw-slider__pressed-opacity: 0;
}

#control::-moz-range-thumb:not(:hover) {
  --mdw-slider__hover-opacity: 0;
}

#track {
  --value: 0.5;
  position: absolute;
  inset: 0;

  pointer-events: none;
  user-select: none;

  background-color: rgb(var(--mdw-color__surface-variant));
  border-radius: inherit;
}
/* Inactive ticks */
#ticks {
  display: none;
}

:host([ticks]) #ticks {
  display: block;
}

#ticks::before,
#ticks::after {
  content: '';

  position: absolute;
  inset: 0;

  padding-inline: 10px;

  background-clip: content-box;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  background-image: radial-gradient(circle at center, var(--tick-color) 0, var(--tick-color) 1px, transparent 0);
  background-position: center center;
  background-repeat: repeat-x;
  background-size: 0 100%;
  background-size: calc(100% / var(--ticks, 0)) 2px;
}

#ticks::before {
  --tick-color: rgb(var(--mdw-color__on-surface-variant));
}

#ticks::after {
  --tick-color: rgb(var(--mdw-ink));
  /* TODO: Use single-paint implementation */
  padding-inline-end: calc(100% - (100% * var(--value)) + 10px);

  z-index: 1;

  will-change: padding-inline-end;
}
/* Active Indicator */
#track-active {
  position: absolute;
  inset: 0;

  overflow: hidden;

  border-radius: 99px;
}

#track-active::before {
  content: '';

  position: absolute;
  inset: 0;

  transform: scaleX(var(--value));
  transform-origin: 0 0;

  background-color: rgb(var(--mdw-bg));

  will-change: transform;
}

#track-label-anchor {
  position: absolute;
  inset-block-end: 16px;
  inset-inline: 0;

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  block-size: auto;
  inline-size: 1%;

  transform: translateX(calc(var(--value) * 100 * 100%));
  transform-origin: 0 0;
  z-index: 24;

  will-change: transform;
}

#track-label {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: content-box;
  margin-block-end: 6px;

  transform: translateX(-50%) scale(1);
  transform-origin: 50% 100%;

  font-weight: var(--mdw-typescale__label-medium__font-weight);
  line-height: var(--mdw-typescale__label-medium__line-height);
  font-family: var(--mdw-typescale__label-medium__font-family);
  letter-spacing: var(--mdw-typescale__label-medium__letter-spacing);

  transition: transform 200ms;
  will-change: transform;
}

#track-label:is([hidden],[text=""]) {
  transform: translateX(-50%) scale(0);
}

#track-label::before {
  content: attr(text);

  display: flex;
  align-items: center;
  justify-content: center;

  min-block-size: 28px;
  min-inline-size: 28px;

  z-index: 1;

  background-color: rgb(var(--mdw-bg));
  border-radius: 50%;
  color: rgb(var(--mdw-ink));
}

#track-label::after {
  content: "";

  position: absolute;
  inset-block: 50% -6px;
  inset-inline: 4px;

  margin-block-start: 5px;

  clip-path: polygon(-25% 0%, 125% 0%, 50% 100%);

  background-color: rgb(var(--mdw-bg));
}

:host([disabled]) {
  --mdw-slider__cursor: not-allowed;
  --mdw-bg: var(--mdw-color__on-surface);
  opacity: 0.38;

  background-color: rgb(var(--mdw-color__on-surface), calc(0.12 / 0.38));
}

:host([disabled]) label {
  opacity: 1;
}

#control:disabled {
  --mdw-slider__hover-opacity: 0;
  --mdw-slider__focus-opacity: 0;
  --mdw-slider__pressed-opacity: 0;
  opacity: 1;
}