:host {
  --mdw-shape__bg: rgb(var(--mdw-color__surface));
  --mdw-ink: var(--mdw-color__on-surface);
  position: relative;

  color: rgb(var(--mdw-ink));

  font: var(--mdw-type__font);
  letter-spacing: var(--mdw-type__letter-spacing);
}
