/* https://m3.material.io/components/switch/specs */

:host {
  /*FastOutLinearInInterpolator*/
  --mdw-switch__transition-timing__collapse: cubic-bezier(0.4, 0.0, 1, 1);
  --mdw-switch__transition-duration__collapse: 375ms;
  /*LinearOutSlowInInterpolator*/
  --mdw-switch__transition-timing__expand: cubic-bezier(0.0, 0.0, 0.2, 1);
  --mdw-switch__transition-duration__expand: 500ms;
  --scale-delay: var(--mdw-switch__transition-duration);
}

#switch {
  --mdw-switch__transition-duration: var(--mdw-switch__transition-duration__collapse);
  --mdw-switch__transition-timing: var(--mdw-switch__transition-timing__collapse);
  --mdw-switch__transition-delay__color: calc(var(--mdw-switch__transition-duration) / 2);
  --mdw-switch__transition-delay__translate: calc(var(--mdw-switch__transition-duration) / 2);
  --mdw-switch__transition-delay__scale: calc(var(--mdw-switch__transition-duration) / 2);

  transition-delay: var(--mdw-switch__transition-delay__color);
  transition-duration: calc(var(--mdw-switch__transition-duration) / 2);
  /* 2 legged animation */
  transition-timing-function: var(--mdw-switch__transition-timing);
}

#track {
  transition-delay: var(--mdw-switch__transition-delay__color);
  transition-duration: inherit;
  transition-property: background-color;
  transition-timing-function: inherit;
}

#outline {
  transition-delay: var(--mdw-switch__transition-delay__color);
  transition-duration: inherit;
  transition-property: background-color, color;
  transition-timing-function: inherit;
}

#thumb {
  transition-delay: var(--mdw-switch__transition-delay__translate);
  transition-duration: inherit;
  transition-property: transform;
  transition-timing-function: inherit;
}

#thumb-shape, .icon {
  /* (selected => unselected): stall color+scale */
  transition-delay: var(--mdw-switch__transition-delay__scale), var(--mdw-switch__transition-delay__color), var(--mdw-switch__transition-delay__color);
  transition-duration: inherit;
  transition-property: transform, background-color, color;
  transition-timing-function: inherit;
}

#switch[icon] {
  --mdw-switch__transition-delay__translate: 0s;
}

.icon {
  transition-property: transform, opacity, color;
}

/* unselected => selected  */
#switch[selected] {
  /* --mdw-switch__transition-delay__color: 0s; */
  --mdw-switch__transition-delay__scale: 0s;
  /* --mdw-switch__transition-delay__translate: 0s; */
  --mdw-switch__transition-duration: var(--mdw-switch__transition-duration__expand);
  --mdw-switch__transition-timing: var(--mdw-switch__transition-timing__expand);
}

/* active => selected */
#switch[selected][pressed] {
  /* --mdw-switch__transition-delay__color: 0s; */
  /* --mdw-switch__transition-delay__scale: 0s; */
  --mdw-switch__transition-delay__translate: 0s;
}

/* selected => unselected */
#switch:not([selected]) {
  /* --mdw-switch__transition-delay__color: 0s; */
  /* --mdw-switch__transition-delay__scale: 0s; */
  --mdw-switch__transition-delay__translate: 0s;
}

/* unselected => active */
#switch[pressed]:not([selected]) {
  /* --mdw-switch__transition-delay__color: 0s; */
  --mdw-switch__transition-delay__scale: 0s;
  /* --mdw-switch__transition-delay__translate: 0s; */
}