/* https://m3.material.io/components/switch/specs */

:host {
  --mdw-ink: var(--mdw-color__on-primary);
  --mdw-bg: var(--mdw-color__primary);
  --mdw-shape__size: var(--mdw-shape__full);
  --mdw-switch__value: 0;
  container-type: inline-size;
  container-name: switch-icon;

  position: relative;

  display: inline-block;

  box-sizing: border-box;
  block-size: 32px;
  inline-size: 52px;
}

:host([selected]) {
  --mdw-switch__value: 1;
}

:host([disabled]) {
  opacity: 0.38;
}

#track{
  position: absolute;
  inset: 0;

  background-color: rgb(var(--mdw-color__surface-variant));
}

#track[selected] {
  background-color: rgb(var(--mdw-bg));
}

#track[disabled] {
  opacity: calc(0.12/0.38);
}

#track[disabled][selected] {
  background-color: rgb(var(--mdw-color__on-surface));
}

#outline {
  filter:
    drop-shadow(1px 0px 0px currentColor)
    drop-shadow(0px 1px 0px currentColor)
    drop-shadow(-1px 0px 0px currentColor)
    drop-shadow(0px -1px 0px currentColor);

  color: rgb(var(--mdw-color__outline));
}

#outline:is([pressed],[focused]) {
  color: rgb(var(--mdw-color__outline));
}

#outline[disabled] {
  color: rgb(var(--mdw-color__on-surface));
}

#outline[selected] {
  color: transparent;
}

/** Thumb (state) **/

#thumb {
  --thumb-color: var(--mdw-ink);
  position: absolute;
  inset-block: 0;
  inset-inline-start: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateX(calc(var(--mdw-dir, 1) * var(--mdw-switch__value) * (52px - 100%)));

  aspect-ratio: 1/1;
}

:dir(rtl) #thumb {
  --mdw-dir: -1;
}

@supports(width: 1cqw) {
  #thumb {
    transform: translateX(calc(var(--mdw-dir, 1) * var(--mdw-switch__value) * (100cqw - 100%)));
  }
}

#slot {
  color: rgb(var(--mdw-color__on-surface));
}

#slot[selected] {
  color: rgb(var(--mdw-bg));
}

/** Thumb Shape **/

#thumb-shape {
  --mdw-shape__size: inherit;

  position: absolute;

  inset: 2px;

  transform: scale(calc(16/28));
  z-index: 0;
}

#thumb-shape[icon] {
  transform: scale(calc(24/28));
}

#thumb-shape:not([selected]) {
  --mdw-bg: var(--mdw-color__outline);
  --mdw-ink: var(--mdw-color__surface-variant);
}

#thumb-shape[selected] {
  transform: scale(calc(24/28));
}

#thumb-shape[selected]:not([active]) {
  --mdw-bg: var(--thumb-color);
}

#thumb-shape[pressed]:not([disabled]) {
  transform: scale(1);
}

/** Thumb Icons **/

.icon {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;

  opacity: 0;
  transform: translateX(-50%) translateY(-50%);

  font-size: 16px;

  /* border-radius: 50%; */
}

.icon:not([src]):empty {
  display: none;
}

#icon, #unselected-icon {
  opacity: 1;

  font-variation-settings: 'FILL' 0;
}

#unselected-icon[selected] {
  opacity: 0;
}

#selected-icon[selected] {
  opacity: 1;
}

#icon[selected] {
  font-variation-settings: 'FILL' 1;
}

#thumb[disabled] {
  color: rgb(var(--mdw-color__on-surface));
}
