/* https://m3.material.io/components/switch/specs */

:host {
  --mdw-ink: var(--mdw-color__on-primary);
  --mdw-bg: var(--mdw-color__primary);
  --mdw-shape__size: var(--mdw-shape__full);

  flex-direction: var(--mdw-switch__direction, row);
  gap: var(--mdw-switch__gap, 8px);

}

#label {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: inherit;
  gap: inherit;

  cursor: pointer;

  /* border-radius: 50%; */
}

/** Track **/

#track {
  position: relative;

  display: flex;
  align-items: center;

  box-sizing: border-box;
  block-size: 32px;
  inline-size: 52px;
}

/** Track Shape **/

#track-shape{
  z-index: 0;

  background-color: rgb(var(--mdw-color__surface-variant));

}

#track-shape[selected] {
  background-color: rgb(var(--mdw-bg));
}

/** Track Outline **/

#outline {
  filter:
    drop-shadow(1px 0px 0px currentColor)
    drop-shadow(0px 1px 0px currentColor)
    drop-shadow(-1px 0px 0px currentColor)
    drop-shadow(0px -1px 0px currentColor);
}

/* #outline[selected] {
  color: transparent;
} */

/** Thumb **/

#thumb {
  --x: 16px;
  --scale: calc(16/24);
  position: absolute;
  inset-inline-start: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* Sized to state layer */
  block-size: 40px;
  inline-size: 40px;

  transform: translateX(calc(var(--mdw-dir, 1) * -50%)) translateX(calc(var(--mdw-dir,1) * var(--x)));

  color: rgb(var(--mdw-color__outline));
}

:dir(rtl) #thumb {
  --mdw-dir: -1;
}

#thumb[selected] {
  --scale: calc(24/24);
  --x: calc(52px - 16px);
  color: rgb(var(--mdw-ink));
}

#thumb[pressed]:not([disabled]) {
  --scale: calc(28/24);
}

/** Thumb Shape **/

#thumb-shape {
  --mdw-shape__size: inherit;

  position: absolute;

  block-size: 24px;
  inline-size: 24px;

  transform: scale(var(--scale));
  z-index: 0;

  background-color: currentColor;
  /* border-radius: 50%; */
}

#thumb-shape[icon] {
  transform: scale(max(1, var(--scale)));
}

/** Thumb Icons **/

.icon {
  --mdw-icon__size: 16px;

  position: absolute;

  opacity: 0;
  transform: scale(max(1, var(--scale)));

  /* border-radius: 50%; */
}

.icon:not([src]):empty {
  display: none;
}

#selected-icon {
  color: rgb(var(--mdw-bg));
}

#icon, #unselected-icon {
  --mdw-icon__font-variation-settings: 'FILL' 0;
  opacity: 1;

  color: rgb(var(--mdw-color__surface-variant));
}

#unselected-icon[selected] {
  opacity: 0;
}

#selected-icon[selected] {
  opacity: 1;
}

#icon[selected] {
  --mdw-icon__font-variation-settings: 'FILL' 1;
  color: rgb(var(--mdw-bg));
}

/** State **/

#state {
  position: absolute;
  inset-inline-start: 0;

  block-size: 40px;
  inline-size: 40px;

  border-radius: 50%;
}

/** Disabled **/

#label[disabled] {
  --mdw-ink: var(--mdw-color__on-surface); /* selected icon */
  --mdw-bg: var(--mdw-color__surface);
  cursor: not-allowed;

  opacity: 0.38;
}

#outline[disabled] {
  color: rgb(var(--mdw-color__on-surface));
}

#thumb[disabled] {
  color: rgb(var(--mdw-color__on-surface));
}

#track-shape[disabled] {
  background-color: rgb(var(--mdw-color__surface-variant));
  opacity: calc(0.12/0.38);
}

#track-shape[disabled][selected] {
  background-color: rgb(var(--mdw-color__on-surface));
}

/** Outline Selected (Enabled/Disabled) */

#outline[selected] {
  color: transparent;
}