/* https://m3.material.io/components/switch/specs */

:host {
  --mdw-ink: var(--mdw-color__on-primary);
  --mdw-bg: var(--mdw-color__primary);
  position: relative;

  display: inline-flex;
  align-items: center;

  gap: 12px;
  vertical-align: middle;

}

#touch-target {
  z-index: 0;
}

#label {
  display: contents;

  cursor: pointer;

  /* border-radius: 50%; */
}

/** Switch **/

#switch {
  --mdw-bg: inherit;
  --mdw-ink: inherit;
  flex:1;

  pointer-events: none;
}

/** State **/

#state {
  position: absolute;
  inset: 50%;

  block-size: 100%;
  min-block-size: 40px;
  inline-size: 100%;
  min-inline-size: 40px;

  pointer-events: none;

  transform: translateX(-50%) translateY(-50%);

  border-radius: 50%;
}

/** Disabled **/

#label[disabled] {
  --mdw-ink: var(--mdw-color__on-surface); /* selected icon */
  --mdw-bg: var(--mdw-color__surface);
  cursor: not-allowed;

  opacity: 0.38;
}
