/* https://m3.material.io/components/radio-button/specs */

:host {
  /*FastOutLinearInInterpolator*/
  --mdw-switch__transition-timing__collapse: cubic-bezier(0.4, 0.0, 1, 1);
  --mdw-switch__transition-duration__collapse: 200ms;

  /*LinearOutSlowInInterpolator*/
  --mdw-switch__transition-timing__expand: cubic-bezier(0.0, 0.0, 0.2, 1);
  --mdw-switch__transition-duration__expand: 250ms;

  --scale-delay: var(--mdw-switch__transition-duration);
}

#track {
  --mdw-switch__transition-duration: var(--mdw-switch__transition-duration__collapse);
  --mdw-switch__transition-timing: var(--mdw-switch__transition-timing__collapse);
  --mdw-switch__transition-delay__color: calc(var(--mdw-switch__transition-duration) / 2);
  --mdw-switch__transition-delay__translate: calc(var(--mdw-switch__transition-duration) / 2);
  --mdw-switch__transition-delay__scale: calc(var(--mdw-switch__transition-duration) / 2);

  transition-delay: var(--mdw-switch__transition-delay__color);

  transition-duration: calc(var(--mdw-switch__transition-duration) / 2);
  /* 2 legged animation */

  transition-property: border-color, background-color, color;
  transition-timing-function: var(--mdw-switch__transition-timing);
}

#thumb {
  transition-delay: var(--mdw-switch__transition-delay__translate);
  transition-duration: inherit;

  transition-property: transform;
  transition-timing-function: inherit;
}

#thumb:before, .icon {
  /* (checked => unchecked): stall color+scale */
  transition-delay: var(--mdw-switch__transition-delay__scale), var(--mdw-switch__transition-delay__color), var(--mdw-switch__transition-delay__color);
  transition-duration: inherit;

  transition-property: transform, background-color, color;
  transition-timing-function: inherit;

}

:host(:is([icon], [src], [unchecked-icon], [unchecked-src])) #track {
  --mdw-switch__transition-delay__translate: 0s;
}

.icon {
  transition-property: transform, opacity, color;
}

/* unchecked => checked  */
:host([checked]) #track {
  /* --mdw-switch__transition-delay__color: 0s; */
  --mdw-switch__transition-delay__scale: 0s;
  /* --mdw-switch__transition-delay__translate: 0s; */
  --mdw-switch__transition-duration: var(--mdw-switch__transition-duration__expand);
  --mdw-switch__transition-timing: var(--mdw-switch__transition-timing__expand);
}

/* active => checked */
:host([checked]:active) #track {
  /* --mdw-switch__transition-delay__color: 0s; */
  /* --mdw-switch__transition-delay__scale: 0s; */
  --mdw-switch__transition-delay__translate: 0s;

}

/* checked => unchecked */
:host(:not([checked])) #track {
  /* --mdw-switch__transition-delay__color: 0s; */
  /* --mdw-switch__transition-delay__scale: 0s; */
  --mdw-switch__transition-delay__translate: 0s;
}

/* unchecked => active */
:host(:active:not([checked])) #track {
  /* --mdw-switch__transition-delay__color: 0s; */
  --mdw-switch__transition-delay__scale: 0s;
  /* --mdw-switch__transition-delay__translate: 0s; */
}