:host([ink]) {
  color: rgb(var(--mdw-ink));
}

:host([ink="inverse-primary"]) {
  --mdw-ink: var(--mdw-color__inverse-primary);
}

:host([ink="primary"]) {
  --mdw-ink: var(--mdw-color__primary);
}

:host([ink="secondary"]) {
  --mdw-ink: var(--mdw-color__secondary);
}

:host([ink="tertiary"]) {
  --mdw-ink: var(--mdw-color__tertiary);
}

:host([ink="error"]) {
  --mdw-ink: var(--mdw-color__error);
}

:host([ink="outline"]) {
  --mdw-ink: var(--mdw-color__outline);
}
