/* https://m3.material.io/styles/typography/type-scale-tokens */

:host([block]) {
  display: block;
}

:host([type-style|="display"]) {
  font: var(--mdw-typescale__display-large__font);
  letter-spacing: var(--mdw-typescale__display-large__letter-spacing);
}

:host([type-style="display-medium"]) {
  font: var(--mdw-typescale__display-medium__font);
  letter-spacing: var(--mdw-typescale__display-medium__letter-spacing);
}

:host([type-style="display-small"]) {
  font: var(--mdw-typescale__display-small__font);
  letter-spacing: var(--mdw-typescale__display-small__letter-spacing);
}

:host([type-style|="headline"]) {
  font: var(--mdw-typescale__headline-large__font);
  letter-spacing: var(--mdw-typescale__headline-large__letter-spacing);
}

:host([type-style="headline-medium"]),
h2 {
  font: var(--mdw-typescale__headline-medium__font);
  letter-spacing: var(--mdw-typescale__headline-medium__letter-spacing);
}

:host([type-style="headline-small"]),
h3 {
  font: var(--mdw-typescale__headline-small__font);
  letter-spacing: var(--mdw-typescale__headline-small__letter-spacing);
}

:host([type-style|="title"]),
h4 {
  font: var(--mdw-typescale__title-large__font);
  letter-spacing: var(--mdw-typescale__title-large__letter-spacing);
}

:host([type-style="title-medium"]),
h5 {
  font: var(--mdw-typescale__title-medium__font);
  letter-spacing: var(--mdw-typescale__title-medium__letter-spacing);
}

:host([type-style="title-small"]),
h6 {
  font: var(--mdw-typescale__title-small__font);
  letter-spacing: var(--mdw-typescale__title-small__letter-spacing);
}

:host([type-style|="label"]) {
  font: var(--mdw-typescale__label-large__font);
  letter-spacing: var(--mdw-typescale__label-large__letter-spacing);
}

:host([type-style="label-medium"]) {
  font: var(--mdw-typescale__label-medium__font);
  letter-spacing: var(--mdw-typescale__label-medium__letter-spacing);
}

:host([type-style="label-small"]) {
  font: var(--mdw-typescale__label-small__font);
  letter-spacing: var(--mdw-typescale__label-small__letter-spacing);
}

:host([type-style|="body"]) {
  font: var(--mdw-typescale__body-large__font);
  letter-spacing: var(--mdw-typescale__body-large__letter-spacing);
}

:host([type-style="body-medium"]) {
  font: var(--mdw-typescale__body-medium__font);
  letter-spacing: var(--mdw-typescale__body-medium__letter-spacing);
}

:host([type-style="body-small"]) {
  font: var(--mdw-typescale__body-small__font);
  letter-spacing: var(--mdw-typescale__body-small__letter-spacing);
}
