/* https://m3.material.io/components/text-fields/specs */

/**
 * States:      Enabled            / Hover              / Focus              / Error              / Error Hover        / Error Focus
 * Input:       on-surface         / on-surface         / on-surface         / on-surface         / on-surface         / on-surface
 * Inline:      on-surface-variant / on-surface-variant / on-surface-variant / on-surface-variant / on-surface-variant / on-surface-variant
 * Label:       on-surface-variant / on-surface*        / ink                / error              / on-error-container / error
 * Indicator:   on-surface-variant / on-surface         / ink                / error              / on-error-container / error
 * Caret:       (any)              / (any)              / ink                / (any)              / (any)              / error
 * Outline:     outline            / on-surface         / ink                / error              / on-error-container / error
 * Selection:   on-*               / on-*               / ink                / error              / on-error-container / error
 *
 *
 * *Filled hovered unpopulated label may be on-surface-variant instead
 *
 * Input: Always on-surface
 * Inline: Always on-surface-variant
 * Indicator: same as label
 * Label: same as indicator
 * Outline: outline default, same as label+indicator on :hover or :focus
 * Caret: same as label+indicator+outline (cannot inherit color or use currentColor)
 * Selection:  (cannot inherit color or use currentColor)
 */

:host {
  --mdw-shape__size: var(--mdw-shape__extra-small);
  --mdw-shape__size__bottom-start-size: 0;
  --mdw-shape__size__bottom-end-size: 0;

  --mdw-bg: var(--mdw-color__surface-variant);
  --mdw-ink: var(--mdw-color__primary);

  --mdw-type__font-weight: var(--mdw-typescale__body-large__font-weight);
  --mdw-type__font-size: var(--mdw-typescale__body-large__font-size);
  --mdw-type__line-height: var(--mdw-typescale__body-large__line-height);
  --mdw-type__font-family: var(--mdw-typescale__body-large__font-family);
  --mdw-type__letter-spacing: var(--mdw-typescale__body-large__letter-spacing);

  --border-width: 1px;
  --border-width__focused: 2px;
  --padding-inline-start: 16px;
  --padding-inline-end: 16px;
  --icon__inline-footprint-start: 0px;
  --icon__inline-footprint-end: 0px;
  --label__inline-start: calc(var(--padding-inline-start) + var(--icon__inline-footprint-start));
  --label__inline-end: calc(var(--padding-inline-start) + var(--icon__inline-footprint-end));
  --control__margin-top: 8px;
  --control__padding-top: var(--mdw-typescale__body-small__line-height);
  --control__padding-bottom: 8px;
  --control__margin-bottom: 0px;

  --mdw-textinput__dense: 12px;

  --container-color: rgb(var(--mdw-bg));
  --inline-color: rgb(var(--mdw-color__on-surface-variant));
  --outline-color: rgb(var(--mdw-color__outline));
  --label-color: rgb(var(--mdw-color__on-surface-variant));

  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;

  cursor: pointer;

  background-color: transparent;

  /* State layer */
  color: rgb(var(--mdw-color__on-surface));
}

:host([icon]) {
  --padding-inline-start: 12px;
  --icon__inline-footprint-start: 40px;
}

:host([trailing-icon]) {
  --padding-inline-end: 12px;
  --icon__inline-footprint-end: 40px;
}

:host(:is([color], [ink])) {
  background-color: transparent;
  color: rgb(var(--mdw-color__on-surface));
}

:host(:hover) {
  --label-color: rgb(var(--mdw-color__on-surface));
}

:host(:is(:focus,:hover:focus)) {
  --label-color: rgb(var(--mdw-ink));
  --border-width: var(--border-width__focused);
}

:host(:is(:hover, :focus)) {
  --outline-color: var(--label-color);
}

label {
  position: relative;

  display: flex;

  align-items: flex-end;

  /* block-size: 56px; */
  padding-inline-start: var(--padding-inline-start);
  padding-inline-end: var(--padding-inline-end);

  cursor: inherit;

  background-color: var(--container-color);
  border-radius: inherit;

  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  letter-spacing: inherit;
}

#prefix,
#suffix,
#control::placeholder {
  opacity: 0;

  color: var(--inline-color);

  transition: opacity 200ms;
  will-change: opacity;
}

#control {
  position: relative;

  align-self: flex-start;

  display: inline;

  block-size: auto;
  inline-size: 0;

  min-inline-size: none;
  flex: 1;

  margin-block: var(--control__margin-top) var(--control__margin-bottom);
  padding-block: var(--control__padding-top) var(--control__padding-bottom);

  appearance: none;
  caret-color: var(--label-color);
  cursor: auto;

  opacity: 1;

  background-color: transparent;
  color: inherit; /* rgb(var(--mdw-color__on-surface)); */

  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  letter-spacing: inherit;
}

#suffix,
#prefix {
  /* Symmetrical to allow centering */
  padding-block: var(--control__padding-bottom);
}

/* stylelint-disable-next-line plugin/no-unsupported-browser-features */
#control::selection {
  background-color: var(--label-color);
  color: rgb(var(--mdw-color__surface));
}

#overlay {
  --mdw-overlay__focus-opacity: 0;
}

mdw-icon {
  --mdw-icon__size: 24px;
  align-self: center;

  color: var(--inline-color);
}

#icon {
  order: -2;

  margin-inline-end: 16px;
}

#prefix {
  order: -1;
}

#suffix {
  order: 1;
}

#trailing-icon {
  order: 2;

  margin-inline-start: 16px;
}

#indicator {
  position: absolute;
  inset: 0;

  display: flex;

  border-block-end: 2px solid var(--label-color);

  pointer-events: none;

  transform: scaleY(0.5);
  transform-origin: 0% 100%;

  transition: transform 200ms cubic-bezier(0.0, 0.0, 0.2, 1);
  will-change: transform;
}

:host(:focus) #indicator {
  transform: scaleY(1);

  transition: transform 100ms cubic-bezier(0.4, 0.0, 1, 1);
}

slot {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: var(--label__inline-start);
  inset-inline-end: var(--label__inline-end);

  display: block;
  overflow-x: clip;
  overflow-y: hidden; /* FireFox bug */

  opacity: 1;
  transform: translateY(calc((var(--control__margin-top) + var(--control__padding-top) + 100% + var(--control__padding-bottom) + var(--control__margin-bottom)) / 2)) translateY(-50%);

  color: var(--label-color);

  text-overflow: ellipsis;
  white-space: nowrap;

  transition: inherit;
  transition-property: font-size, transform;
  /*Expand*/

  will-change: font-size, transform;
}

:host([outlined]) {
  --label__inline-start: 0;
  --label__inline-end: 0;
}

:host(:is(:focus, [populated])) :is(#prefix, #suffix) {
  opacity: 1;
}

:host(:is(:focus, [populated])) #control::placeholder {
  opacity: 0.70;
}

:host([input-suffix]) #control {
  text-align: end;
}

:host(:is(:focus, [populated])) slot {
  transform: translateY(8px);

  font-weight: var(--mdw-typescale__body-small__font-weight); /* Not spec */
  font-size: var(--mdw-typescale__body-small__font-size);
  line-height: var(--mdw-typescale__body-small__line-height);
  font-family: var(--mdw-typescale__body-small__font-family); /* Not spec */
  letter-spacing: var(--mdw-typescale__body-small__letter-spacing); /* Not spec */
}

/** Outlined **/

:host([outlined]) #indicator {
  display: none;
}

:host([outlined]) #outline {
  --psuedo-content: '';
  position: absolute;
  inset: 0;

  display: flex;

  border: solid var(--border-width) transparent;

  pointer-events: none;

  border-block-end-color: var(--outline-color);
  border-radius: inherit;
}

#outline::before,
#outline::after {
  content: var(--psuedo-content, none);

  box-sizing: border-box;
  margin-block: calc(var(--border-width) * -1);
  margin-inline: calc(var(--border-width) * -1);
  border: solid var(--border-width) var(--outline-color);

  border-block-end-color: transparent;
}

#outline::before {
  inline-size: 16px;

  margin-inline-end: 0;

  border-start-start-radius: inherit;
  border-end-start-radius: inherit;
  border-inline-end: none;

}

#outline::after {
  margin-inline-start: 0;

  border-start-end-radius: inherit;
  border-end-end-radius: inherit;
  border-inline-start: none;

}

#gap::before,
#gap::after {
  content: var(--psuedo-content, none);

  position: absolute;
  inset: 0;

  border-block-start: solid var(--border-width) var(--outline-color);

  transition: inherit;
  transition-property: transform;

  will-change: transform;

}

#gap::before {
  /* Slightly oversized to overlap */
  /* TODO: Consider cloned text to force center */
  transform: var(--gap-transform, scaleX(0.45));
  transform-origin: 0 0;
}

#gap::after {
  /* Slightly oversized to overlap */
  transform: var(--gap-transform, scaleX(0.65));
  transform-origin: 100% 0;
}

#gap {
  /* Close gap */
  transition: padding 200ms cubic-bezier(0.0, 0.0, 0.2, 1);
}

:host(:is(:focus,[populated])) #gap {
  /* Open gap */
  --gap-transform: scaleX(0);
  transition: padding 100ms cubic-bezier(0.4, 0.0, 1, 1);
  /* transition-delay: 100ms; */
}

:host([outlined]) label {
  align-items: center;
}

:host([outlined]) #gap {
  position: relative;

  box-sizing: border-box;
  max-inline-size: calc(100% - 24px);
  margin-block: calc(var(--border-width) * -1);
  padding-inline-start: calc(4px + var(--icon__inline-footprint-start, 0px));
  padding-inline-end: calc(4px + var(--icon__inline-footprint-end, 0px));

  /* Padding instead of transform because max content width changes based on font-size and icon */
  transition-property: padding;
}

:host([outlined]) #outline::before {
  inline-size: 12px;
  flex: none;
}

:host([outlined]) {
  --mdw-shape__size__bottom-start-size: var(--mdw-shape__size);
  --mdw-shape__size__bottom-end-size: var(--mdw-shape__size);
  --control__margin-top: 0px;
  --control__margin-bottom: 0px;
  --control__padding-top: 16px;
  --control__padding-bottom: 16px;
}

:host([outlined]) slot {
  position: relative;
}

:host([outlined]) #overlay {
  display: none;
}

:host([outlined]) {
  --container-color: transparent;
}

#outline {
  border-color: rgb(var(--mdw-color__outline));
}

#outline:is(:hover,:focus) {
  border-color: currentColor;
}

#outline::after {
  min-inline-size: 12px;
  flex: 1;

  /* background-color: rgba(0,255,0,.20); */
}

:host([outlined][dense]) {
  --control__padding-top: var(--mdw-textinput__dense);
  --control__padding-bottom: var(--mdw-textinput__dense);
}

:host([outlined]:is(:focus, [populated])) {
  --icon__inline-footprint-start: 0px;
}

:host([outlined]:is(:focus, [populated])) slot {
  transform: translateY(-50%);
}

#supporting {
  min-block-size: var(--mdw-typescale__body-small__line-height);
  margin-block-start: 4px;
  margin-inline: 16px;

  font-weight: var(--mdw-typescale__body-small__font-weight); /* Not spec */
  font-size: var(--mdw-typescale__body-small__font-size);
  line-height: var(--mdw-typescale__body-small__line-height);
  font-family: var(--mdw-typescale__body-small__font-family); /* Not spec */
  letter-spacing: var(--mdw-typescale__body-small__letter-spacing); /* Not spec */
}

#supporting:empty {
  display: none;
}

:host([supporting]) #supporting {
  display: block;
}

:host(:is([error],[invalid])) {
  --label-color: rgb(var(--mdw-color__error));
  --outline-color: var(--label-color);
}

:host(:is([error],[invalid]):hover) {
  --label-color: rgb(var(--mdw-color__on-error-container));
}

:host(:is([error],[invalid]):focus) {
  --label-color: rgb(var(--mdw-color__error));
}

:host(:is([disabled],[disabled]:hover)) {
  --label-color: rgb(var(--mdw-color__on-surface));
  --outline-color: rgba(var(--mdw-color__on-surface), calc(0.12/0.38));
  --container-color: rgba(var(--mdw-color__on-surface), calc(0.04/0.38));
  opacity: 0.38;

  color: rgb(var(--mdw-color__on-surface));
}

:host([disabled][outlined]) {
  --container-color: transparent;
}
