/* https://m2.material.io/components/tooltips */

:host {
  --mdw-shape__size: var(--mdw-shape__extra-small);
  --mdw-ink: var(--mdw-color__on-surface-variant);
  --mdw-bg: var(--mdw-color__surface-variant);

  pointer-events: none;

  opacity: 0;
  transform: scale(0);
  z-index: 24;

  font: var(--mdw-typescale__label-medium__font);
  letter-spacing: var(--mdw-typescale__label-medium__letter-spacing);

  transition: transform 200ms, opacity 200ms;
}

#shape {
  display: block;
  vertical-align: middle;

  box-sizing: border-box;
  margin-inline: auto;
  padding-block: 4px;
  padding-inline: 8px;
}

:host(:where([touch])) #shape {
  padding-block: 6px;
  padding-inline: 16px;

  font: var(--mdw-typescale__label-large__font);
  letter-spacing: var(--mdw-typescale__label-large__letter-spacing);
}

:host([open]) {
  opacity: 1;
  transform: scale(1);
}