// https://material.io/guidelines/components/lists.html
// https://material.io/guidelines/components/lists-controls.html

@import '../../core/_platform.scss';
@import '../../core/_type.scss';

$mdw-list__divider-height: dp(1) !default;

.mdw-list {
  padding-top: dp(8);
  padding-bottom: dp(8);
}

ul.mdw-list,
ul.mdw-list__item-group {
  margin: 0;
  padding-right: 0;
  padding-left: 0;

  list-style-type: none;
}

.mdw-list__item-group {
  display: flex;
  flex-direction: column;
}


li.mdw-list__item {
  position: relative;

  margin: 0;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  
  text-align: start;
  text-decoration: none;
  text-transform: none;
}

a.mdw-list__content {
  text-decoration: none;
}

.mdw-list__subheader,
.mdw-list__content {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: stretch;
  overflow: hidden;
  
  min-height: dp(48);
  flex: 1;
  padding: 0 dp(24);
  @include mdw-breakpoint__16dp-margin() {
    padding: 0 dp(16);
  }
}

.mdw-list__subheader {
  @include type-rules('body-2');
}

.mdw-list__content {
  @include type-rules('subtitle');
  cursor: pointer;

  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;

  &[aria-hidden="true"] {
    display: none;
  }
}

.mdw-list__avatar,
.mdw-list__icon {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  order: -1;
  
  min-width: dp(72 - 16);
  max-width: dp(72 - 16);
  margin: dp(16) 0;
}


.mdw-list__avatar {
  min-height: dp(40);
}

.mdw-list__item {
  display: flex;
  outline: none;
  flex-direction: column;
}

.mdw-list__item[aria-expanded] {
  position: relative;

  &::before,
  &::after {
    content: '';
    
    position: absolute;
    right: 0;
    left: 0;
    background-color: transparent;

    transition-property: background-color;
    transition-duration: $mdw-motion__shape-change-duration;
    transition-timing-function: $mdw-motion__standard-easing;
    height: dp(1);
  }

  &::before {
    top: dp(-1);
  }

  &::after {
    bottom: 0;
  }

  & > .mdw-list__content .mdw-list__secondary {
    min-height: dp(48);

    transition-duration: $mdw-motion__shape-change-duration;
    transition-property: transform;
    transition-timing-function: $mdw-motion__standard-easing;

    pointer-events: none;
    transform: rotate(0deg);
  }

  & > .mdw-list__item-group > .mdw-list__item {
    overflow: hidden;
    flex-basis: 0;
    animation-duration: $mdw-motion__collapse-duration;
    animation-timing-function: $mdw-motion__accelerate-easing;
    animation-fill-mode: forwards;
  }

  &[aria-expanded="false"] {
    & > .mdw-list__item-group > .mdw-list__item {
      animation-name: collapseRow;
    }
  }
  &[aria-expanded="true"] {
    & > .mdw-list__content .mdw-list__secondary {
      transform: rotate(180deg);
    }

   & > .mdw-list__item-group > .mdw-list__item {
      animation-name: expandRow;
      animation-duration: $mdw-motion__expand-duration;
      animation-timing-function: $mdw-motion__decelerate-easing;
    }

    & + .mdw-list__list-item[aria-expanded="true"]::before {
      display: none;
    }
  }

  &:not([mdw-expander-js]) > .mdw-list__item-group .mdw-list__item {
    animation-duration: 0s;
  }

}



@keyframes expandRow {
  0% {
    min-height: 0;
    flex-basis: 0;
  }

  99.99% {
    min-height: dp(48);
    flex-basis: 0;
  }

  100% {
    min-height: dp(48);
    flex-basis: 100%;
  }
}

@keyframes collapseRow {
  0% {
    min-height: dp(48);
    flex-basis: 0;
  }

  100% {
    min-height: 0;
    flex-basis: 0;
  }
}

.mdw-list__expand-checkbox {
  display: none;

  max-height: 0;
  max-width: 0;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  pointer-events: none;

}

.mdw-list__secondary {
  display: flex;
  align-items: center;
  flex-direction: row;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  justify-content: center;
  order: 1;

  min-height: dp(56);
  min-width: dp(24);
  margin-right: 0;
  margin-left: dp(16);

  z-index: 1;

  pointer-events: none;

  :root[dir="rtl"] & {
    margin-right: dp(16);
    margin-left: 0;
  }

}

@include mdw-platform__ie() {
  .mdw-list__icon::after,
  .mdw-list__secondary::after {
    // Fix IE min-height flexbug
    content: '';
    
    min-height: inherit;
    width: 0;
  }
}

// In order to render 48px, 64px, 72px and 88px heights, lines are rendered bottom-up

.mdw-list__text {
  position: static;
  overflow-x: hidden;

  flex-grow: 1;
  
  pointer-events: none;

  text-overflow: ellipsis;
}


.mdw-list[mdw-divider] .mdw-list__item:not(:last-child) {
  .mdw-list__text::after {
    content: '';

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: $mdw-list__divider-height;
    width: 100%;
  }

  .mdw-list__avatar ~ .mdw-list__text::after,
  .mdw-list[mdw-divider] > .mdw-list__item:not(:last-child) .mdw-list__icon ~ .mdw-list__text::after {
    margin-left: dp(72);
  }
}

.mdw-list__text-line {
  overflow-x: hidden;
  overflow-y: hidden;

  text-overflow: ellipsis;
}

// First line and meta baseline alignment
.mdw-list__text-line:first-child,
.mdw-list__text-block:first-child,
.mdw-list__meta {
  @include baseline-top(28);
}

.mdw-list__meta {
  @include type-rules('caption');
  align-self: flex-start;

  margin-right: 0;
  margin-left: dp(28);

  :root[dir="rtl"] & {
    margin-right: dp(28);
    margin-left: 0;
  }
}


// First line is pushed up 20dp
.mdw-list__text-line:first-child {
  @include baseline-bottom(20);
}

// Second and third lines are pushed up 20dp and its above element is pushed 20dp
.mdw-list__text-line:not(:first-child),
.mdw-list__text-block:not(:first-child) {
  @include type-rules('body-2');
  @include baseline-top(20);
  margin-top: dp(-20);
}

// Second line is pushed up 16dp from baseline
.mdw-list__text-line:last-child {
  @include baseline-bottom(16);
}


// When 3-lines, 2nd and 3rd lines are pushed up 20dp
.mdw-list__text-line:nth-child(3),
.mdw-list__text-line:not(:first-child):not(:last-child) {
  @include baseline-bottom(20);
}


.mdw-list__text-block {
  display: block;
  display: -webkit-box;
  overflow-x: hidden;
  overflow-y: hidden;
  
  
  pointer-events: none;

  text-align: start;
  text-overflow: ellipsis;
  text-transform: none;
  white-space: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-word;


  &:not(:only-child) {
    max-height: sp(20 * 2);
    height: sp(20 * 2);
    margin-bottom: dp(16);
    padding-bottom: dp(4);
  }
  
  &:only-child {
    @include baseline-bottom(16);
  }
}
