@import '../../core/_platform.scss';
@import '../../core/theme/index.scss';

$mdw-list__theme-values: (
  divider-color:        $mdw-theme__divider-ink,

  focus-opacity:                 (0.12, 0.24),
  hover-focus-opacity:           (0.04 + 0.12, 0.08 + 0.24),
  selected-focus-opacity:        (0.08 + 0.12, 0.16 + 0.24),
  selected-hover-focus-opacity:  (0.08 + 0.04 + 0.12, 0.16 + 0.08 + 0.24),

  activated-focus-opacity:       (0.12 + 0.12, 0.24 + 0.24),
  activated-hover-focus-opacity: (0.12 + 0.04 + 0.12, 0.24 + 0.08 + 0.24),

) !default;

@function mdwListThemeValue($key, $type) {
  @return mdwGetThemeValue('list', $mdw-list__theme-values, $key, $type);
}

@mixin mdw-list__theme-rules($type: 'var') {

  .mdw-list__content {
    &[mdw-ink][aria-current],
    &[mdw-ink][aria-selected="true"] {
      .mdw-list__icon,
      .mdw-list__text {
        color: inherit;
      }
    }
  }

  .mdw-list[mdw-divider] {
    & > .mdw-list__item:not(:last-child) .mdw-list__text::after {
      background-color: mdwListThemeValue("divider-color", $type);
    }
  }

  .mdw-list__item[aria-expanded]:focus {
    & > .mdw-list__content {
      &:not([mdw-overlay-touch="true"]) {
        &:not([mdw-overlay-off~="focus"]):not([mdw-overlay-touch="true"])::before {
          opacity: mdwListThemeValue("focus-opacity", $type);
        }
  
        &:not([disabled]):not([aria-disabled="true"]):not([mdw-overlay-touch="true"]) {
          &:hover:not([mdw-overlay-off~="hover"]):not([mdw-overlay-off~="focus"])::before {
            opacity: mdwListThemeValue("hover-focus-opacity", $type);
          }
        }
      }
  
      // Selected
      &[aria-selected="true"]:not([mdw-overlay-off~="selected"]) {
        &:not([mdw-overlay-touch="true"]) {
          &:focus:not([mdw-overlay-off~="focus"])::before {
            opacity: mdwListThemeValue("selected-focus-opacity", $type);
          }
  
          &:not([disabled]):not([aria-disabled="true"]) {
            &:hover:not([mdw-overlay-off~="hover"]):not([mdw-overlay-off~="focus"])::before {
              opacity: mdwListThemeValue("selected-hover-focus-opacity", $type);
            }
          }
        }
      }
  
      // Activated
      &[aria-current]:not([mdw-overlay-off~="current"]),
      &[aria-pressed="true"]:not([mdw-overlay-off~="activated"]) {
        &:not([mdw-overlay-touch="true"]) {
          &:not([mdw-overlay-off~="focus"])::before {
            opacity: mdwListThemeValue("activated-focus-opacity", $type);
          }
  
          &:not([disabled]):not([aria-disabled="true"]) {
            &:hover:not([mdw-overlay-off~="hover"]):not([mdw-overlay-off~="focus"])::before {
              opacity: mdwListThemeValue("activated-hover-focus-opacity", $type);
            }
          }
        }
      }
    }
  }

  .mdw-list__item[aria-expanded="true"] {
    &::before,
    &::after {
      background-color: mdwListThemeValue("divider-color", $type);
    }

    &[mdw-ink][aria-expanded="true"] {
      & > .mdw-list__content,
      & > .mdw-list__content::before,
      & > .mdw-list__content > .mdw-list__text {
        color: inherit;
      }
    }
  }
  
}


@include mdw-theme__add-component-fallback-rules('light') {
  @include mdw-list__theme-rules('light');
}
@include mdw-theme__add-component-fallback-rules('dark') {
  @include mdw-list__theme-rules('dark');
}

@include mdw-theme__add-component-variable-rules('list', $mdw-list__theme-values) {
  @include mdw-list__theme-rules();
}
