// https://material.io/guidelines/components/lists.html
// https://material.io/guidelines/components/lists-controls.html

@import '../common/variables.scss';

$list__divider-height: dp(1);

// single     = 48dp
// two-line   = 72dp
// three-line = 88dp
// 2x + y = 72 
// 3x + y = 88
// x = 32, y = 8 or x = 40, y = 16
// row-height: 32px or 40px
// base-height: 8px or 16px

.mdw-list {
  display: block;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  width: 100%;
}
.mdw-list__subheader {
  display: flex;
  flex-direction: row;
  min-height: dp(48);
  align-items: center;
  justify-content: stretch;
  padding-left: dp(16);
  color: var(--secondary-text-color);
  font-size: sp(14);
  font-weight: $font-weight-medium;
  &[mdw-avatar] {
    padding-left: dp(72);
  }
}
.mdw-list__row {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: dp(48);
  &,
  &.mdw-button {
    align-items: center;
    justify-content: stretch;
    margin: 0;
    padding: 0 dp(16);
    text-transform: none;
    color: var(--primary-text-color);
    font-weight: $font-weight-regular;
    font-size: sp(16);
  }
  
  text-align: start;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;


  
}

.mdw-list > .mdw-list__row:first-child {
  margin-top: dp(8);
}

.mdw-list__start {
  order: -1;
  min-width: dp(72 - 16);
  max-width: dp(72 - 16);
  &[mdw-avatar] {
    min-height: dp(56);
  }
}

.mdw-list__end {
  order: 1;
  min-width: dp(24 + 16);
  max-width: dp(24 + 16);
}

.mdw-list__text {
  position: static;
  pointer-events: none;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  &,
  & > span {
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  [mdw-divider] > .mdw-list__row:not(:last-child) &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: $list__divider-height;
    background-color: var(--divider-color);
  }
  
  [mdw-divider] > .mdw-list__row:not(:last-child) .mdw-list__start ~ &::after {
    margin-left: dp(72);
  }
}

.mdw-list__text-line {
  &,
  & > span {
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  &:not(:first-child) {
    font-size: sp(14);
    line-height: sp(16);
  }
  &:only-child {
    // only of its type
    margin: 0;
  }
  &:first-child {
    line-height: sp(24);
  }
  &:last-child {
    margin-bottom: dp(16);
  }
  &:first-child:not(:only-child) {
    margin-top: dp(16);
  }
  &:last-child:not(:only-child) {
    color: var(--primary-text-color);
    &:nth-child(3) {
      color: var(--secondary-text-color);
      line-height: 1.5rem;
      margin-bottom: sp(14);
    }
  }

  .mdw-list[mdw-rows="3"] & {
    &:first-child {
      margin-top: dp(10);
    }
  }
  
}

.mdw-list__text-line > span,
.mdw-list__text-block > span {
  color: var(--secondary-text-color);
}

.mdw-list__text-block {
  pointer-events: none;
  font-size: sp(14);
  font-weight: normal;
  text-transform: none;
  text-align: start;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: normal;
  &:first-of-type {
    font-size: sp(16);
  }
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: sp(14);
  line-height: sp(20);
  height: sp(20*2);
  max-height: sp(20*2);
}