@import '../common/platform.scss';
@import '../common/theming.scss';

$listColors: (
  text-color:           (('foreground-light', 0.87), ('foreground-dark', 1.00)),
  secondary-text-color: (('foreground-light', 0.54), ('foreground-dark', 0.70)),
  divider-color:        (('foreground-light', 0.12), ('foreground-dark', 0.12)),

  pressed-opacity:      (0.16, 0.32),
  press-color:          (('foreground-light', 0.16), ('foreground-dark', 0.32)),
  selected-color:       (('foreground-light', 0.16), ('foreground-dark', 0.32)),
  ripple-color:         (('foreground-light', 1.00), ('foreground-dark', 1.00)),
);

@function listThemeValue($key, $type) {
  @return mdwGetThemeValue('list', $listColors, $key, $type);
}

@mixin listThemeVariables($lightness) {
  @include mdw-theme__variables('list', $listColors, $lightness);
}

// Vary by contrast
@mixin listContrastAndThemeRules($type: 'var', $theme: null) {
  .mdw-list__item {
    &:not([mdw-color]) {
      color: listThemeValue("text-color", $type)
    }
    &[mdw-selected] {
      background-color: listThemeValue("selected-color", $type);
    }
    &[tabindex]:active:focus::before {
      background-color: listThemeValue("press-color", $type);
    }
    &:active:not(:focus-within)::before,
    &:active[tabindex]:focus:not(:focus-within)::before {
      background-color: listThemeValue("press-color", $type);
    }

    // IE and Edge does not support :focus-within
    @include mdw-platform__ms {
      &:active::before {
        background-color: listThemeValue("press-color", $type);
      }
    }
    & > .mdw-ripple > .mdw-ripple__inner,
    &:after {
      opacity: listThemeValue("pressed-opacity", $type);
      color: listThemeValue("ripple-color", $type);
    }
  }
  
  .mdw-list__meta {
    color: listThemeValue("secondary-text-color", $type);
  }
  .mdw-list__text {
    [mdw-divider] > .mdw-list__item:not(:last-child) &::after {
      background-color: listThemeValue("divider-color", $type);
    }
  }
  .mdw-list__divider {
    border-top-color: listThemeValue("divider-color", $type);
  }
  .mdw-list__icon {
    color: listThemeValue("secondary-text-color", $type);
  }
  .mdw-list__expander {
    &::before,
    &::after {
      background-color: listThemeValue("divider-color", $type);
    }
    > .mdw-list__item:first-child {
      .mdw-list__secondary {
        color: listThemeValue("secondary-text-color", $type);
      }
    } 
  }
  .mdw-list__text-line,
  .mdw-list__text-block {
    &:not(:first-child) {
      color: listThemeValue("secondary-text-color", $type);
    }
  }
}
