@mixin modal($side) {
  .mdw-app[mdw-#{$side}-style="modal"] {
    @content;
  }
  @include viewport-max-8-columns {
    @content;
  }
}
@mixin modal__shown($side) {
  .mdw-app[mdw-#{$side}-style="modal"][mdw-#{$side}-show] {
    @content;
  }
  @include viewport-max-8-columns {
    .mdw-app[mdw-#{$side}-show] {
      @content;
    }
  }
}


@mixin cssGridRow($top, $bottom: null) {
  @if ($bottom == null) {
    $bottom: $top;
  }
  grid-row-start: $top;
  grid-row-end: span #{($bottom  - $top) + 1};
  -ms-grid-row: $top;
  -ms-grid-row-span: #{($bottom  - $top) + 1};
}

@mixin cssGridColumn($start, $end: null) {
  @if ($end == null) {
    $end: $start;
  }
  grid-column-start: $start;
  grid-column-end: span #{($end - $start) + 1};
  -ms-grid-column: $start;
  -ms-grid-column-span: span #{($end - $start) + 1};
}