// https://material.io/design/components/navigation-drawer.html
// https://material.io/archive/guidelines/patterns/navigation-drawer.html
// https://material.io/archive/guidelines/layout/metrics-keylines.html#metrics-keylines-keylines-spacing

@import './mixins.scss';
@import '../common/elevation.scss';
@import '../common/motion.scss';
@import '../common/platform.scss';
@import '../common/breakpoint.scss';
@import '../common/type.scss';

$mdw-app__scrim-color: rgba(0, 0, 0, 0.50) !default;
$mdw-app__sheet-min-width: dp(256) !default;
$mdw-app__sheet-max-width__mini: dp(56) !default;

$mdw-app__fab-size: dp(56) !default;
$mdw-app__fab-cut-size: dp(72) !default;

$mdw-app__top-row: 1 !default;
$mdw-app__banner-row: 2 !default;
$mdw-app__content-row: 3 !default;
$mdw-app__bottom-row: 4 !default;

$mdw-app__navdrawer-column: 1 !default;
$mdw-app__content-column: 2 !default;
$mdw-app__sidesheet-column: 3 !default;
$mdw-app__viewport-end-column: 4 !default;

.mdw-app {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;

  // Prefer iOS Dynamic Type for accessibility support
  font: -apple-system-body;
  font-family: Roboto, sans-serif;

}

.mdw-app__body {
  @include type-rules('body');

  display: -ms-grid;
  display: grid;
  position: relative;
  // start | main | end
  grid-template-columns: auto 1fr auto;
  -ms-grid-columns: auto 1fr auto;
  // top | banner | content | bottom
  grid-template-rows: auto auto 1fr auto;
  -ms-grid-rows: auto auto 1fr auto;
  overflow-x: hidden;
  overflow-y: hidden; // auto if sticky
  
  height: 100vh; // auto if sticky
  margin: 0;
  padding: 0;

  transition-duration: $mdw-motion__default-duration__desktop;
  @include mdw-breakpoint__mobile-device {
    transition-duration: $mdw-motion__default-duration__mobile;
  }
  @include mdw-breakpoint__tablet-device {
    transition-duration: $mdw-motion__default-duration__tablet;
  }
  transition-timing-function: $mdw-motion__standard-easing;

  background-color: inherit;
}

.mdw-app__appbar {
  @include mdw-app__grid-column($mdw-app__content-column);
  @include mdw-app__grid-row($mdw-app__top-row);

  position: static;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: sticky;
  top: 0;
  
  margin-top: 0;

  transition-duration: $mdw-motion__default-duration__desktop, $mdw-motion__enter-duration__desktop;
  transition-property: box-shadow, transform, margin-top;
  transition-timing-function: $mdw-motion__standard-easing, $mdw-motion__accelerate-easing;
  will-change: box-shadow, transform, margin-top;

  transform: translateY(0); // browser hint
  z-index: 4;
  
  .mdw-app[mdw-appbar-autohide][mdw-appbar-hide] & {
    transition-duration: $mdw-motion__default-duration__desktop, $mdw-motion__leave-duration__desktop;
    transition-timing-function: $mdw-motion__standard-easing, $mdw-motion__decelerate-easing;
  }
  
  @include mdw-breakpoint__mobile-device {
    transition-duration: $mdw-motion__default-duration__mobile, $mdw-motion__enter-duration__mobile;

    .mdw-app[mdw-appbar-autohide][mdw-appbar-hide] & {
      transition-duration: $mdw-motion__default-duration__mobile, $mdw-motion__leave-duration__mobile;
    }
  }

  // Tablet
  @include mdw-breakpoint__tablet-device {
    transition-duration: $mdw-motion__default-duration__tablet, $mdw-motion__enter-duration__tablet;

    .mdw-app[mdw-appbar-autohide][mdw-appbar-hide] & {
      transition-duration: $mdw-motion__default-duration__tablet, $mdw-motion__leave-duration__tablet;
    }
  }
}

.mdw-app__scrim {
  content: '';

  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  cursor: auto;

  transition-duration: inherit;
  transition-property: background-color;
  transition-timing-function: inherit;

  pointer-events: none;
  z-index: 16;

  background-color: transparent;
}

.mdw-app__navdrawer,
.mdw-app__sidesheet {
  @include mdw-app__grid-row($mdw-app__top-row, $mdw-app__bottom-row);
  
  max-height: 100vh;
  height: 100%;
  max-width: calc(100vw - #{dp(56)});
  @mixin mdw-breakpoint__4-columns {
    max-width: calc(100vw - #{dp(64)}); // Tablet or Desktop
  }
  width: $mdw-app__sheet-min-width;

  transition-duration: inherit;
  transition-property: max-width, transform;
  transition-timing-function: inherit;

  transform: translateX(0);
  z-index: 4; // Match app-bar when full-height

  background-color: inherit;
  box-shadow: mdwElevation(0);
}

.mdw-app__sheet-content {
  overflow-y: auto;

  box-sizing: border-box;
  max-height: 100%;
  height: 100%;
  border-width: dp(1);
}

.mdw-app__navdrawer {
  @include mdw-app__grid-column($mdw-app__navdrawer-column);
}

.mdw-app__sidesheet {
  @include mdw-app__grid-column($mdw-app__sidesheet-column);
}

.mdw-app__navdrawer,
:root[dir="rtl"] .mdw-app__sidesheet {
  .mdw-app__sheet-content {
    border-right-style: solid;
    border-left-style: none;
  }
}

.mdw-app__sidesheet,
:root[dir="rtl"] .mdw-app__navdrawer {
  .mdw-app__sheet-content {
    border-right-style: none;
    border-left-style: solid;
  }
}

@each $side in ('navdrawer', 'sidesheet') {
  @include mdw-app__modal($side) {
    .mdw-app__#{$side}-hide {
      display: none;

    }

    .mdw-app__#{$side} {
      position: fixed;
      top: 0;
      bottom: 0;
      
      z-index: 16;

      .mdw-app__sheet-content {
        border-width: 0;
      }
      @if ($side == 'navdrawer') {
        right: auto;
        left: 0;

        transform: translateX(-100%);

        :root[dir="rtl"] & {
          right: 0;
          left: auto;

          transform: translateX(100%);
        }
      } @else {
        right: 0;
        left: auto;

        transform: translateX(100%);

        :root[dir="rtl"] & {
          right: auto;
          left: 0;

          transform: translateX(-100%);
        }
      }
    }
  }
  @include mdw-app__modal-shown($side) {
    .mdw-app__scrim {
      pointer-events: auto;

      background-color: $mdw-app__scrim-color;
    }

    .mdw-app__#{$side}-show {
      display: none;
    }

    .mdw-app__#{$side} {
      transform: translateX(0);

      box-shadow: mdwElevation(16);
    }
  }
}

.mdw-app__banner {
  @include mdw-app__grid-row($mdw-app__banner-row);
  @include mdw-app__grid-column($mdw-app__content-column);
  z-index: 0;
}

.mdw-app__content {
  @include mdw-app__grid-row($mdw-app__content-row);
  @include mdw-app__grid-column($mdw-app__content-column);

  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}


.mdw-app__content-page {
  max-width: dp(960);
  width: 100%;
}

.mdw-app__fab,
.mdw-app__snackbar {
  // Aligned to bottom-anchor
  @include mdw-app__grid-row($mdw-app__bottom-row);
  @include mdw-app__grid-column($mdw-app__content-column);

  position: static;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: sticky;
  top: auto;
  bottom: 0;

  width: auto;

  transition-duration: inherit;
  transition-property: transform;
  transition-timing-function: inherit;

  pointer-events: none;
  transform: translateY(-100%);
  z-index: 6;

}

.mdw-app__dialogs {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  pointer-events: none;

  z-index: 24;
  
}

.mdw-app__snackbar-anchor {
  position: absolute;
  right: auto;
  bottom: 0;
  left: 0;

  // Snackbars are not aligned with layout
  box-sizing: border-box;
  padding-top: dp(24 / 2);
  padding-right: 0;
  padding-bottom: dp(24 / 2);
  padding-left: dp(24 / 2);
  @include mdw-breakpoint__16dp-margin {
    padding-top: dp(16 / 2);
    padding-right: 0;
    padding-bottom: dp(16 / 2);
    padding-left: dp(16 / 2);
  }

  transition-duration: inherit;
  transition-property: transform, bottom;
  transition-timing-function: inherit;

  :root[dir="rtl"] & {
    right: 0;
    left: auto;

    padding-top: dp(24 / 2);
    padding-right: dp(24 / 2);
    padding-bottom: dp(24 / 2);
    padding-left: 0;
    @include mdw-breakpoint__16dp-margin {
      padding-top: dp(16 / 2);
      padding-right: dp(16 / 2);
      padding-bottom: dp(16 / 2);
      padding-left: dp(0);
    }
  }
}

.mdw-app__snackbar .mdw-snackbar__container {
  position: relative;
}

.mdw-app__fab-anchor {
  position: absolute;

  // Left aligned
  right: 0;
  bottom: 0;
  left: auto;

  padding: dp(24);
  @include mdw-breakpoint__16dp-margin {
    padding: dp(16);
  }

  transition-duration: inherit;
  transition-property: transform, right, padding-top, padding-bottom;
  transition-timing-function: inherit;

  :root[dir="rtl"] & {
    right: 100%;

    transform: translateX(100%);
  }
}

@include mdw-breakpoint__4-columns {
  .mdw-app[mdw-appbar-autohide~="mobile"][mdw-appbar-hide] {
    .mdw-app__appbar {
      transform: translateY(-100%);
    }

    .mdw-app__appbar-shape {
      filter: none;

      box-shadow: mdwElevation(0);
    }

    &[mdw-appbar-bottom] {
      .mdw-app__appbar {
        transform: translateY(100%);
      }

      .mdw-app__fab,
      .mdw-app__snackbar {
        transform: translateY(0);
      }
    }
  }
}

@include mdw-breakpoint__8-columns {
  .mdw-app[mdw-appbar-autohide~="tablet"][mdw-appbar-hide] {
    .mdw-app__appbar {
      transform: translateY(-100%);
    }

    .mdw-app__appbar-shape {
      filter: none;

      box-shadow: mdwElevation(0);
    }

    &[mdw-appbar-bottom] {
      .mdw-app__appbar {
        transform: translateY(100%);
      }

      .mdw-app__fab,
      .mdw-app__snackbar {
        transform: translateY(0);
      }
    }
  }
}

@include mdw-breakpoint__8-columns__max {
  .mdw-app[mdw-appbar-autoraise][mdw-scrolltop]:not([mdw-appbar-bottom]) .mdw-app__appbar-shape {
    filter: none;

    box-shadow: mdwElevation(0);
  }

  .mdw-app[mdw-appbar-autohide=""][mdw-appbar-hide] {
    .mdw-app__appbar {
      transform: translateY(-100%);
    }

    .mdw-app__appbar-shape {
      filter: none;

      box-shadow: mdwElevation(0);
    }

    &[mdw-appbar-bottom] {
      .mdw-app__appbar {
        transform: translateY(100%);
      }

      .mdw-app__fab,
      .mdw-app__snackbar {
        transform: translateY(0);
      }
    }
  }

  .mdw-app[mdw-appbar-bottom] {
    .mdw-app__appbar {
      @include mdw-app__grid-row($mdw-app__bottom-row);
      top: auto;
      bottom: 0;

      z-index: 8;
    }

    .mdw-app__appbar-shape {
      box-shadow: mdwElevation(8);
    }

    &[mdw-fab-mobile-cut] .mdw-app__appbar-shape {
      transition-property: filter;

      filter: mdwElevation(8, true);

      box-shadow: mdwElevation(0);
    }

    &[mdw-appbar-autoraise][mdw-scrollbottom] .mdw-app__appbar-shape {
      filter: none;

      box-shadow: mdwElevation(0);
    }
  }

  .mdw-app__snackbar-anchor {
    &,
    :root[dir="rtl"] & {
      right: 0;
      left: 0;

      padding: dp(24 / 2);
      @include mdw-breakpoint__16dp-margin {
        padding: dp(16 / 2);
      }
    }
  }

  // Mobile+Tablet
  .mdw-app[mdw-fab-mobile] {
    .mdw-app__snackbar-anchor {
      bottom: dp(24);
      @include mdw-breakpoint__16dp-margin {
        bottom: dp(16);
      }

      transform: translateY(#{dp(-56)});
    }

    .mdw-app__content {
      padding-bottom: #{$mdw-app__fab-size + dp(24)};
    }

    &[mdw-fab-show] {
      &[mdw-fab-mobile-cut][mdw-appbar-bottom] .mdw-app__fab-cut-track mask > ellipse,
      .mdw-app__fab .mdw-fab {
        transform: scale(1);
      }
    }

    &[mdw-fab-mobile-cut][mdw-appbar-bottom]:not([mdw-appbar-hide]) {
      .mdw-app__fab-anchor {
        padding-top: 0;
        padding-bottom: 0;
      }

      .mdw-app__fab .mdw-fab {
        transform: translateY(50%) scale(0);
      }

      &[mdw-fab-show] .mdw-app__fab .mdw-fab {
        transform: translateY(50%) scale(1);
      }

      .mdw-app__snackbar-anchor {
        bottom: 0;

        transform: translateY(-$mdw-app__fab-size / 2);
      }
    }
  }

  .mdw-app[mdw-fab-mobile="center"] {
    .mdw-app__fab-cut-track,
    .mdw-app__fab-anchor {
      right: 50%;

      transform: translateX(50%);
    }
  }

  .mdw-app[mdw-fab-mobile="full"] .mdw-app__fab-anchor {
    right: 0;
    left: 0;

    transform: none;

    .mdw-fab__button {
      width: 100%;
    }
  }

}

@include mdw-breakpoint__12-columns {
  .mdw-app[mdw-appbar-autoraise][mdw-scrolltop] .mdw-app__appbar-shape {
    filter: none;

    box-shadow: mdwElevation(0);
  }

  .mdw-app[mdw-appbar-autohide=""][mdw-appbar-hide] {
    .mdw-app__appbar {
      transform: translateY(-100%);
    }

    .mdw-app__appbar-shape {
      filter: none;

      box-shadow: mdwElevation(0);
    }
  }

  .mdw-app__snackbar-anchor {
    width: 50%;
  }

  .mdw-app[mdw-fab-desktop] {
    &[mdw-fab-show] .mdw-app__fab .mdw-fab {
      transform: scale(1);
    }

    &:not([mdw-fab-desktop="appbar"]) .mdw-app__content {
      padding-bottom: #{$mdw-app__fab-size + dp(24)};
    }
  }

  .mdw-app[mdw-fab-desktop="appbar"] {
    .mdw-app__snackbar-anchor {
      width: 75%;
    }

    .mdw-app__fab-anchor {
      top: 0;
      right: auto;
      bottom: auto;
      left: 0;

      padding-top: 0;
      padding-right: dp(8);
      padding-bottom: 0;
      padding-left: dp(8);

      transform: none;

      :root[dir="rtl"] & {
        right: 0;
        left: auto;
      }
    }

    .mdw-app__fab {
      @include mdw-app__grid-row($mdw-app__top-row);
      top: 0;
      bottom: auto;

      transform: translateY(100%);
    }

    .mdw-app__fab .mdw-fab,
    &[mdw-fab-show][mdw-appbar-hide] .mdw-app__fab .mdw-fab {
      transform: translateY(-50%) scale(0);
    }

    &[mdw-fab-show] .mdw-app__fab .mdw-fab {
      transform: translateY(-50%) scale(1);
    }
  }
}

.mdw-app__fab-anchor .mdw-fab {
  transition-duration: inherit;
  transition-property: transform;
  transition-timing-function: inherit;

  transform: scale(0);
}

.mdw-app__bottomnav {
  @include mdw-app__grid-column($mdw-app__content-column);
  @include mdw-app__grid-row($mdw-app__bottom-row);

  display: none;
  position: static;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: sticky;
  bottom: 0;

  z-index: 4;
}

@include mdw-breakpoint__12-columns {
  .mdw-app:not([mdw-navdrawer-toggle]):not([mdw-navdrawer-style="modal"]) {
    .mdw-app__navdrawer-show,
    .mdw-app__navdrawer-hide,
    .mdw-app__navdrawer-toggle {
      display: none;
    }
  }

  .mdw-app:not([mdw-sidesheet-toggle]):not([mdw-sidesheet-style="modal"]) {
    .mdw-app__sidesheet-show,
    .mdw-app__sidesheet-hide,
    .mdw-app__sidesheet-toggle {
      display: none;
    }
  }

  .mdw-app__navdrawer,
  .mdw-app__sidesheet {
    // Full-height
    position: static;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: sticky;
    top: 0;
    bottom: auto;

    transform: none;
  }

  .mdw-app[mdw-navdrawer-style~="clipped"] .mdw-app__navdrawer,
  .mdw-app[mdw-sidesheet-style~="clipped"] .mdw-app__sidesheet {
    @include mdw-app__grid-row($mdw-app__banner-row, $mdw-app__bottom-row);
    z-index: 0;
  }
  
  .mdw-app[mdw-navdrawer-style~="clipped"][mdw-fab-appbar] .mdw-app__fab,
  .mdw-app[mdw-navdrawer-style~="clipped"] .mdw-app__appbar {
    @include mdw-app__grid-column($mdw-app__navdrawer-column, $mdw-app__content-column);
  }

  .mdw-app[mdw-navdrawer-style~="clipped"][mdw-sidesheet-style~="clipped"][mdw-fab-appbar] .mdw-app__fab,
  .mdw-app[mdw-sidesheet-style~="clipped"] .mdw-app__appbar {
    @include mdw-app__grid-column($mdw-app__content-column, $mdw-app__sidesheet-column);
  }

  .mdw-app[mdw-navdrawer-style~="clipped"][mdw-sidesheet-style~="clipped"][mdw-fab-appbar] .mdw-app__fab,
  .mdw-app[mdw-navdrawer-style~="clipped"][mdw-sidesheet-style~="clipped"] .mdw-app__appbar {
    @include mdw-app__grid-column($mdw-app__navdrawer-column, $mdw-app__sidesheet-column);
  }
  
  .mdw-app[mdw-navdrawer-style~="floating"] .mdw-app__navdrawer,
  .mdw-app[mdw-sidesheet-style~="floating"] .mdw-app__sidesheet {
    @include mdw-app__grid-row($mdw-app__content-row, $mdw-app__bottom-row);

    & .mdw-app__sheet-content {
      height: auto;
      border-width: 0;
    }
  }

  .mdw-app[mdw-navdrawer-style~="floating"] .mdw-app__banner {
    @include mdw-app__grid-column($mdw-app__navdrawer-column, $mdw-app__content-column);
  }

  .mdw-app[mdw-sidesheet-style~="floating"] .mdw-app__banner {
    @include mdw-app__grid-column($mdw-app__content-column, $mdw-app__sidesheet-column);
  }

  .mdw-app[mdw-navdrawer-style~="floating"][mdw-sidesheet-style~="floating"] .mdw-app__banner {
    @include mdw-app__grid-column($mdw-app__navdrawer-column, $mdw-app__sidesheet-column);
  }
  
  .mdw-app[mdw-navdrawer-style~="floating"] .mdw-app__bottomnav {
    @include mdw-app__grid-column($mdw-app__navdrawer-column, $mdw-app__content-column);
  }

  .mdw-app[mdw-sidesheet-style~="floating"] .mdw-app__bottomnav {
    @include mdw-app__grid-column($mdw-app__content-column, $mdw-app__sidesheet-column);
  }

  .mdw-app[mdw-navdrawer-style~="floating"][mdw-sidesheet-style~="floating"] .mdw-app__bottomnav {
    @include mdw-app__grid-column($mdw-app__navdrawer-column, $mdw-app__sidesheet-column);
  }

  .mdw-app[mdw-navdrawer-style~="clipped"] .mdw-app__body,
  .mdw-app[mdw-sidesheet-style~="clipped"] .mdw-app__body {
    overflow-y: hidden;

    height: 100vh;
  }

  .mdw-app[mdw-navdrawer-style~="card"] .mdw-app__navdrawer,
  .mdw-app[mdw-sidesheet-style~="card"] .mdw-app__sidesheet {
    margin: 0 dp(24);
    padding: dp(24) 0;

    z-index: 8;

    & > .mdw-app__sheet-content {
      box-shadow: mdwElevation(8);
    }
  }

  .mdw-app[mdw-navdrawer-toggle~="dismissible"]:not([mdw-navdrawer-style="modal"]):not([mdw-navdrawer-show]) {
    .mdw-app__navdrawer {
      max-width: 0;
      margin: 0;
      padding: 0;

      .mdw-app__sheet-content {
        box-shadow: mdwElevation(0);
      }
    }
  }

  .mdw-app[mdw-sidesheet-toggle~="dismissible"]:not([mdw-sidesheet-style="modal"]):not([mdw-sidesheet-show]) {
    .mdw-app__sidesheet {
      max-width: 0;
      margin: 0;
      padding: 0;

      .mdw-app__sheet-content {
        box-shadow: mdwElevation(0);
      }
    }
  }

  .mdw-app[mdw-navdrawer-toggle~="mini"]:not([mdw-navdrawer-style="modal"]):not([mdw-navdrawer-show]) {
    .mdw-app__navdrawer {
      min-width: $mdw-app__sheet-max-width__mini;
      max-width: $mdw-app__sheet-max-width__mini;
    }
  }

  .mdw-app[mdw-sidesheet-toggle~="mini"]:not([mdw-sidesheet-style="modal"]):not([mdw-sidesheet-show]) {
    .mdw-app__sidesheet {
      min-width: $mdw-app__sheet-max-width__mini;
      max-width: $mdw-app__sheet-max-width__mini;
    }
  }
}

@supports (position: sticky) or (position: -webkit-sticky) or (position: -moz-sticky) {
  .mdw-app__body {
    overflow-y: auto;

    height: auto;
  }
}

.mdw-app__appbar-shape {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  height: 100%;
  width: 100%;

  transition-duration: inherit;
  transition-property: box-shadow;
  transition-timing-function: inherit;
  
  box-shadow: mdwElevation(4);

  &::before,
  &::after {
    content: '';

    min-width: dp(24);
    @include mdw-breakpoint__16dp-margin {
      min-width: dp(16);
    }
  }
}

.mdw-app__fab-cut-track {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  flex-direction: row;

  height: 100%;
  width: 100%;

  transition-property: transform;

  transform: translateX(100%) translateX(-($mdw-app__fab-size / 2));

  &::before,
  &::after,
  & > svg {
    position: absolute;
    top: 0;

    height: 100%;
  }

  &::before,
  &::after {
    content: '';

    width: 100%;
    margin-left: -$mdw-app__fab-cut-size / 2;

    background-color: currentColor;
  }

  &::before {
    left: -100%;
  }

  &::after {
    left: $mdw-app__fab-cut-size;
  }

  &,
  & > svg,
  & > svg > mask,
  & > svg > mask > ellipse {
    transition-duration: inherit;
    transition-timing-function: inherit;
  }

  & > svg {
    left: -$mdw-app__fab-cut-size / 2;

    width: $mdw-app__fab-cut-size;

    fill: currentColor;
  }
  
  mask > ellipse {
    transition-property: transform;
    
    transform: scale(0);
  }
}
