@import '../common/breakpoint.scss';
@import '../common/theming.scss';

$mdw-app__theme-values: (
  selected-color:        (('foreground-light', 1.00), ('foreground-dark', 1.00)),
  text-color:            (('foreground-light', 0.87), ('foreground-dark', 1.00)),
  secondary-text-color:  (('foreground-light', 0.54), ('foreground-dark', 0.70)),
  divider-color:         (('foreground-light', 0.12), ('foreground-dark', 0.12)),
  drawer-background:     ((#fff, 1.00),               ('background', '800', 1.00)),
  appbar-background:     ((#fff, 1.00),               ('background', '800', 1.00)),
  content-background:    (('background', '50', 1.00), ('background', '900' , 1.00))
) !default;

@function mdwAppThemeValue($key, $type, $theme) {
  @return mdwGetThemeValue('app', $mdw-app__theme-values, $key, $type, $theme);
}

@mixin mdw-app__theme-rules($type: 'var', $theme: null) {
  .mdw-app__body {
    background-color: mdwAppThemeValue("content-background", $type, $theme);
    color: mdwAppThemeValue("text-color", $type, $theme);
  }

  .mdw-app__sheet-content {
    background-color: mdwAppThemeValue("drawer-background", $type, $theme);
    border-color: mdwAppThemeValue("divider-color", $type, $theme);
  }

  .mdw-app__navdrawer {
    .mdw-list__item[mdw-selected]:not([mdw-color]) {
      color: mdwAppThemeValue("selected-color", $type, $theme);
    }

    .mdw-list__item:not([mdw-selected]) {
      .mdw-list__icon {
        color: mdwAppThemeValue("secondary-text-color", $type, $theme);
      }

      .mdw-list__text {
        color: mdwAppThemeValue("text-color", $type, $theme);
      }
    }

    .mdw-list__subheader {
      color: mdwAppThemeValue("secondary-text-color", $type, $theme);
    }
  }

  .mdw-app__appbar {
    background-color: mdwAppThemeValue("appbar-background", $type, $theme);
  }

  .mdw-app__appbar-shape {
    color: transparent;
  }

  .mdw-app__appbar[mdw-fab-cut] {
    background-color: transparent;

    .mdw-app__appbar-shape {
      color: mdwAppThemeValue("appbar-background", $type, $theme);
    }
  }

  @include mdw-breakpoint__12-columns {
    .mdw-app[mdw-navdrawer-style~="floating"]:not([mdw-navdrawer-style~="card"]) .mdw-app__navdrawer .mdw-app__sheet-content,
    .mdw-app[mdw-sidesheet-style~="floating"]:not([mdw-sidesheet-style~="card"]) .mdw-app__sidesheet .mdw-app__sheet-content {
      background-color: mdwAppThemeValue("content-background", $type, $theme);
    }
  }
}

@each $name in map-keys($mdw-theme__themes) {
  $theme: map-get($mdw-theme__themes, $name);
  @include mdw-theme__add-component-fallback-rules('light', $name) {
    @include mdw-app__theme-rules('light', $theme);
  }
  @include mdw-theme__add-component-fallback-rules('dark', $name) {
    @include mdw-app__theme-rules('dark', $theme);
  }
}

@include mdw-theme__add-component-variable-rules('app', $mdw-app__theme-values) {
  @include mdw-app__theme-rules();
}

