// https://android.googlesource.com/platform/frameworks/base/+/dbcbca4/graphics/java/android/graphics/drawable/Ripple.java

@import "../_breakpoint.scss";
@import "../_platform.scss";
@import "../_motion.scss";

$mdw-ripple__enter-delay: 80ms !default;

$mdw-ripple__fade-out-duration: 1000ms / 3.0 !default;
$mdw-ripple__touch-down-acceleration: 1024 !default;
$mdw-ripple__touch-up-acceleration: 3400 !default;

// Ripple starts at 100% opacity
// Ripple fills linearly
// Ripple fills on touch down with duration: 1000ms * √(radius / 1024)
// Ripple fills on touch up with duration: 1000ms * √(Δradius / (1024 + 3400)
// Ripple opacity down to 0 on touch-up event with deceleration and duration: 1000ms / 3.0

// Use $mdw-motion__expand-duration temporarily

// TODO: Use variable ripple scale durations
// TODO: Use enter-delay with JS Ripple

/**
 * --Issues rendering a circle inside an element--
 * See: https://codepen.io/shortfuse/pen/VxYxYj
 *
 * When using block display:
 * - Firefox incorrectly stretches ripple when inside flexbox
 * - Safari incorrectly inherit parent's padding
 *
 * Using using table display:
 * - Firefox renders correctly
 * - Safari renders correctly
 * - IE and Edge don't animate opacity correctly
 * - Ripples don't show if inside actual table
 *
 * When using JS (wrapped with block element):
 * - Firefox renders correctly
 * - Safari renders correctly
 * - IE and Edge renders correctly but still has forced 0.26 opacity
 *
 * Chrome works fine under all conditions
 *
 */

.mdw-ripple {
  -webkit-tap-highlight-color: transparent;
}

.mdw-ripple:not([mdw-ripple-js]) {
  overflow: hidden;
  // Do not override any declarations
}

.mdw-ripple__container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  
  box-sizing: border-box;

  pointer-events: none;
  z-index: 1;

  border-radius: inherit;
}

.mdw-ripple__inner {
  display: block;
  position: absolute;

  animation-name: none;
  animation-duration: $mdw-motion__expand-duration;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  transition-delay: 0s;
  transition-duration: $mdw-motion__simple-duration;
  transition-property: color;
  transition-timing-function: $mdw-motion__standard-easing;

  opacity: 0.16;
  pointer-events: none;
  transform: scale(0);
  
  background-color: currentColor;
  
  border-radius: 50%;

  &[mdw-fade-in-out] {
    animation-name: ripple-fade-in, ripple-fade-out;
    animation-duration: $mdw-motion__expand-duration, $mdw-ripple__fade-out-duration;
    animation-timing-function: linear, $mdw-motion__decelerate-easing;
    animation-delay: 0ms, $mdw-motion__expand-duration;
  }
}

.mdw-ripple__inner[mdw-fade-in] {
  animation-name: ripple-fade-in;
}

.mdw-ripple__inner[mdw-fade-in-repeat] {
  animation-name: ripple-fade-in-repeat;
}

.mdw-ripple:not(:active) > .mdw-ripple__container > .mdw-ripple__inner[mdw-fade-in-complete][mdw-fade-in],
.mdw-ripple__inner[mdw-fade-out] {
  animation-name: ripple-fade-out;
  animation-duration: $mdw-ripple__fade-out-duration;
  animation-timing-function: $mdw-motion__decelerate-easing;
}


@keyframes ripple-fade-in {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(2);
  }
}

@keyframes ripple-fade-in-repeat {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(2);
  }
}

@keyframes ripple-fade-out {
  from {
    transform: scale(2);
  }

  to {

    transform: scale(2);

    opacity: 0;
  }
}

.mdw-ripple::after {
  display: table; // See above
  position: absolute;
  top: 50%;
  left: 50%;

  height: 0;
  width: 0;
  padding: 50%;
  // z-index: -1; // Safari has a negative z-index scrolling bug (hides elements)
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  transition-delay:
    $mdw-ripple__enter-delay,
    $mdw-ripple__enter-delay + $mdw-motion__expand-duration;
  transition-duration:
    $mdw-motion__expand-duration + $mdw-ripple__fade-out-duration,
    $mdw-ripple__fade-out-duration;
  transition-property:
    transform,
    background-color;
  transition-timing-function:
    linear,
    $mdw-motion__decelerate-easing;
  will-change:
    transform,
    background-color;

  opacity: 0.16;
  pointer-events: none;
  transform: translateX(-50%) translateY(-50%) scale(2);

  background-color: transparent;
  border-radius: 50%;
  color: inherit;
  content: '';
}

// On active, pop up initial state
.mdw-ripple:active::after {
  transition-delay: 0s;
  transition-duration: 0s;

  transform: translateX(-50%) translateY(-50%) scale(0);

  background-color: currentColor;
}

.mdw-ripple[mdw-ripple-js]::after {
  display: none;
}

.mdw-ripple[disabled],
.mdw-ripple[aria-disabled="true"] {
  & > .mdw-ripple__container,
  &::after {
    display: none;
  }
}

