/* https://material.io/design/interaction/states.html */
/* https://material.io/design/components/buttons.html */
/* https://material.io/design/iconography/system-icons.html#color */

.mdw-theme[mdw-light] {
  --mdw-ripple__pressed-opacity: 0.16;
}

.mdw-theme[mdw-dark] {
  --mdw-ripple__pressed-opacity: 0.32;
}

.mdw-ripple {
  & > .mdw-ripple__container > .mdw-ripple__inner,
  &::after {
    opacity: var(--mdw-ripple__pressed-opacity);

    color: RGB(var(--mdw-ink));
  }
}
