// https://material.io/design/interaction/states.html
// https://material.io/design/components/buttons.html
// https://material.io/design/iconography/system-icons.html#color

@import '../theme/index.scss';

$mdw-ripple__theme-values: (
  overlay-color:                 (('foreground-light', 1.00), ('foreground-dark', 1.00)),
  pressed-opacity:               (0.16, 0.32),
) !default;

@function mdwRippleThemeValue($key, $type) {
  @return mdwGetThemeValue('ripple', $mdw-ripple__theme-values, $key, $type);
}

@mixin mdw-ripple__theme-rules($type: 'var') {
  .mdw-ripple {
    & > .mdw-ripple__container > .mdw-ripple__inner,
    &::after {
      opacity: mdwRippleThemeValue("pressed-opacity", $type);
      color: inherit;
      @if ($type == 'var') {
        // Fallback handed by previous inherit rule
        color: RGB(var(--mdw-ink));
      }
    }
  }
}


@include mdw-theme__add-component-fallback-rules('light') {
  @include mdw-ripple__theme-rules('light');
}
@include mdw-theme__add-component-fallback-rules('dark') {
  @include mdw-ripple__theme-rules('dark');
}

@include mdw-theme__add-component-variable-rules('ripple', $mdw-ripple__theme-values) {
  @include mdw-ripple__theme-rules();
}
