// https://material.io/design/interaction/states.html

@import '../theme/index.scss';

$mdw-color__theme-values: (
  default-ink:                $mdw-theme__foreground,

  high-ink-opacity:           $mdw-theme__high-opacity,
  medium-ink-opacity:         $mdw-theme__medium-opacity,
  inactive-ink-opacity:       $mdw-theme__inactive-opacity,
  divider-ink-opacity:        $mdw-theme__divider-opacity,

  card-surface:           ((#fff, null),               ('background', '800', null)),
  binary-surface:         ((#fff, null),               (#000, null)),
) !default;

@each $color in join($mdw-theme__colors, ('primary', 'secondary', 'warn', 'background')) {
  @if ($color != 'background') {
    $newInkMap: (
      #{$color}-default-ink: (($color, nth($mdw-theme__default-color-ink, 1),null), ($color, nth($mdw-theme__default-color-ink, 2), null)),
      #{$color}-contrast-ink: (($color, nth($mdw-theme__contrast-color-ink, 1),null), ($color, nth($mdw-theme__contrast-color-ink, 2), null)),
      #{$color}-light-ink: (($color, nth($mdw-theme__light-color-ink, 1),null), ($color, nth($mdw-theme__light-color-ink, 2), null)),
    );
    $mdw-color__theme-values: map-merge($mdw-color__theme-values, $newInkMap);
  }
  $newSurfaceMap: (
    #{$color}-default-surface: (($color, nth($mdw-theme__default-color-surface, 1),null), ($color, nth($mdw-theme__default-color-surface, 2), null)),
    #{$color}-alt-surface: (($color, nth($mdw-theme__alt-color-surface, 1),null), ($color, nth($mdw-theme__alt-color-surface, 2), null)),
  );
  $mdw-color__theme-values: map-merge($mdw-color__theme-values, $newSurfaceMap);
}

@function mdwColorThemeValue($key, $type) {
  @return mdwGetThemeValue('color', $mdw-color__theme-values, $key, $type);
}

@mixin mdw-color__theme-rules($type: 'var') {
  @if ($type == 'var') {
    .mdw-theme {
      /** Surface Colors **/

      &[mdw-surface] {
        background-color: RGB(var(--mdw-surface));
      }

      &[mdw-surface]svg {
        background-color: transparent;

        fill: RGB(var(--mdw-surface));
      }

      &[mdw-surface]:not([mdw-ink]) {
        --mdw-ink: #{mdwColorThemeValue("default-ink", $type)};
        --mdw-ink-opacity: #{mdwColorThemeValue("high-ink-opacity", $type)};
        color: RGBA(var(--mdw-ink),var(--mdw-ink-opacity));
      }

      &[mdw-surface="white"] {
        --mdw-surface: 255,255,255;
      }

      &[mdw-surface="black"] {
        --mdw-surface: 0,0,0;
      }

      &[mdw-surface="binary"] {
        --mdw-surface: #{mdwColorThemeValue("binary-surface", $type)};
      }
    
      &[mdw-surface="card"] {
        --mdw-surface: #{mdwColorThemeValue("card-surface", $type)};
      }

      @each $color in join(('primary', 'secondary', 'warn', 'background'), $mdw-theme__colors) {
        &[mdw-surface~="#{$color}"] {
          --mdw-surface: #{mdwColorThemeValue("#{$color}-default-surface", $type)};

          $palette: mdwGetThemeParamValue($color);
          @each $tone in map-keys(map-remove($palette, "light", "dark")) {
            $value: map-get($palette, $tone);
            --#{$tone}-surface: #{red($value),green($value),blue($value)};
          }
        }

        &[mdw-surface="#{$color} alt"] {
          --mdw-surface: #{mdwColorThemeValue("#{$color}-alt-surface", $type)};
        }
      }

      @each $tone in $mdw-theme__tone-list {
        &[mdw-surface~="#{$tone}"] {
          --mdw-surface: var(--#{$tone}-surface);
        }
      }

      /** Ink Color **/

      &[mdw-ink] {
        --mdw-ink: #{mdwColorThemeValue("default-ink", $type)};
        --mdw-ink-opacity: 1;
        color: RGBA(var(--mdw-ink),var(--mdw-ink-opacity));
      }

      &[mdw-ink=""],
      &[mdw-ink~="default"] {
        --mdw-ink: #{mdwColorThemeValue("default-ink", $type)};
        --mdw-ink-opacity: #{mdwColorThemeValue("high-ink-opacity", $type)};
      }

      &[mdw-ink~="white"] {
        --mdw-ink: 255,255,255;
      }

      &[mdw-ink~="black"] {
        --mdw-ink: 0,0,0;
      }

      @each $color in join(('primary', 'secondary', 'warn'), $mdw-theme__colors) {
        &[mdw-ink~="#{$color}"] {
          --mdw-ink: #{mdwColorThemeValue("#{$color}-default-ink", $type)};

          $palette: mdwGetThemeParamValue($color);
          @each $tone in map-keys(map-remove($palette, "light", "dark")) {
            $value: map-get($palette, $tone);
            --mdw-ink-#{$tone}: #{red($value),green($value),blue($value)};
          }
        }

        &[mdw-ink^="#{$color} contrast"] {
          --mdw-ink: #{mdwColorThemeValue("#{$color}-contrast-ink", $type)};
        }

        &[mdw-ink^="#{$color} light"] {
          --mdw-ink: #{mdwColorThemeValue("#{$color}-light-ink", $type)};
        }
      }

      @each $tone in $mdw-theme__tone-list {
        &[mdw-ink~="#{$tone}"] {
          --mdw-ink: var(--mdw-ink-#{$tone});
        }
      }

      /** Ink Opacity **/

      &[mdw-ink~="solid"] {
        --mdw-ink-opacity: 1;
      }

      &[mdw-ink~="high"] {
        --mdw-ink-opacity: #{mdwColorThemeValue("high-ink-opacity", $type)};
      }
    
      &[mdw-ink~="medium"] {
        --mdw-ink-opacity: #{mdwColorThemeValue("medium-ink-opacity", $type)};
      }
    
      &[mdw-ink~="inactive"] {
        --mdw-ink-opacity: #{mdwColorThemeValue("inactive-ink-opacity", $type)};
      }
    
      &[mdw-ink~="divider"] {
        --mdw-ink-opacity: #{mdwColorThemeValue("divider-ink-opacity", $type)};
      }

      /** Border Ink **/

      &[mdw-border-ink] {
        border-color: #{RGBA(var(--mdw-ink), mdwColorThemeValue("divider-ink-opacity", $type))};
      }

      &[mdw-border-ink="default"] {
        border-color: #{RGBA(mdwColorThemeValue("default-ink", $type), mdwColorThemeValue("divider-ink-opacity", $type))};
      }

      &[mdw-border-ink="none"] {
        border-color: transparent;
      }
    }
  } @else {
    & {
      &[mdw-ink="default"],
      &[mdw-surface]:not([mdw-ink]) {
        color: RGBA(mdwColorThemeValue("default-ink", $type),mdwColorThemeValue("high-ink-opacity", $type));
      }
      
      &[mdw-surface="binary"] {
        background-color: RGB(mdwColorThemeValue("binary-surface", $type));
      }
    
      &[mdw-surface="card"] {
        background-color: RGB(mdwColorThemeValue("card-surface", $type));
      }

      @each $color in join(('primary', 'secondary', 'warn', 'background'), $mdw-theme__colors) {
        &[mdw-surface="#{$color}"] {
          background-color: RGB(mdwColorThemeValue("#{$color}-default-surface", $type));
        }

        &[mdw-surface="#{$color} alt"] {
          background-color: RGB(mdwColorThemeValue("#{$color}-alt-surface", $type));
        }
      }

      &[mdw-ink~="solid"] {
        color: RGB(mdwColorThemeValue("default-ink", $type));
      }

      &[mdw-ink~="high"] {
        color: RGBA(mdwColorThemeValue("default-ink", $type),mdwColorThemeValue("high-ink-opacity", $type));
      }
    
      &[mdw-ink~="medium"] {
        color: RGBA(mdwColorThemeValue("default-ink", $type),mdwColorThemeValue("medium-ink-opacity", $type));
      }
    
      &[mdw-ink~="inactive"] {
        color: RGBA(mdwColorThemeValue("default-ink", $type),mdwColorThemeValue("inactive-ink-opacity", $type));
      }
    
      &[mdw-ink~="divider"] {
        color: RGBA(mdwColorThemeValue("default-ink", $type),mdwColorThemeValue("divider-ink-opacity", $type));
      }

      @each $color in join($mdw-theme__colors, ('primary', 'secondary', 'warn')) {
        &[mdw-ink="#{$color}"] {
          &,
          &.mdw-overlay::before {
            color: RGB(mdwColorThemeValue("#{$color}-default-ink", $type));
          }
        }
        
        &[mdw-ink="#{$color} contrast"] {
          &,
          &.mdw-overlay::before {
            color: RGB(mdwColorThemeValue("#{$color}-contrast-ink", $type));
          }
        }

        &[mdw-ink="#{$color} light"] {
          &,
          &.mdw-overlay::before {
            color: RGB(mdwColorThemeValue("#{$color}-light-ink", $type));
          }
        }
      }

      &[mdw-border-ink],
      &[mdw-border-ink="default"] {
        border-color: RGBA(mdwColorThemeValue("default-ink", $type), mdwColorThemeValue("divider-ink-opacity", $type));
      }

      &[mdw-border-ink="none"] {
        border-color: transparent;
      }
    }
  }
}

@mixin __mdw-color__add-fallbacks() {
  .mdw-theme[mdw-surface="white"] {
    background-color: #fff;
  }

  .mdw-theme[mdw-surface="black"] {
    background-color: #000;
  }

  @each $color in join(('primary', 'secondary', 'warn', 'background'), $mdw-theme__colors) {
    $palette: mdwGetThemeParamValue($color);
    @each $tone in map-keys(map-remove($palette, "light", "dark")) {
      $value: map-get($palette, $tone);

      .mdw-theme[mdw-surface="#{$color} #{$tone}"] {
        background-color: #{$value};
      }
    }
  }

  /** Ink Fallback Colors **/

  .mdw-theme[mdw-ink~="white"] {
    &,
    &.mdw-overlay::before {
      color: #fff;
    }
  }

  .mdw-theme[mdw-ink~="black"] {
    &,
    &.mdw-overlay::before {
      color: #000;
    }
  }

  @each $tone in $mdw-theme__tone-list {
    @each $param in ('primary', 'secondary', 'warn', 'background') {
      $palette: mdwGetThemeParamValue($param);
      $value: map-get($palette, $tone);

      .mdw-theme[mdw-surface="#{$param} #{$tone}"] {
        background-color: #{$value};
      }

      .mdw-theme[mdw-ink^="#{$param} #{$tone}"] {
        &,
        &.mdw-overlay::before {
          color: #{$value};
        }
      }
    }
    @each $color in $mdw-theme__colors {
      $palette: map-get($mdw-theme__palettes, $color);
      $value: map-get($palette, $tone);

      .mdw-theme[mdw-surface^="#{$color} #{$tone}"] {
        background-color: #{$value};
      }

      .mdw-theme[mdw-ink^="#{$color} #{$tone}"] {
        &,
        &.mdw-overlay::before {
          color: #{$value};
        }
      }
    }
  }

  .mdw-theme[mdw-light],
  .mdw-theme[mdw-light] .mdw-theme:not([mdw-dark]) {
    @include mdw-color__theme-rules('light');
  }

  .mdw-theme[mdw-dark],
  .mdw-theme[mdw-dark] .mdw-theme:not([mdw-light]) {
    @include mdw-color__theme-rules('dark');
  }
}

@if ($mdw-theme__fallbacks == 'ieonly') {
  @include mdw-platform__ie() {
    @include __mdw-color__add-fallbacks();
  }
} @else if ($mdw-theme__fallbacks != false) {
  @include __mdw-color__add-fallbacks();
}

@include mdw-theme__add-component-variable-rules('color', $mdw-color__theme-values) {
  @include mdw-color__theme-rules();
}
