// https://material.io/design/interaction/states.html

@import '../theme/index.scss';

@function resortColors($list) {
  $newList: ();
  @each $color in $list {
    @if (index($newList, $color) == null) {
      $newList: append($newList, $color);
      $palette: mdwGetThemeParamValue($color);
      @each $color2 in $list {
        @if (index($newList, $color2) == null) {
          $palette2: mdwGetThemeParamValue($color2);
          @if ($palette == $palette2) {
            $newList: append($newList, $color2);
          }
        }
      }
    }
  }
  @return $newList;
}

// Resort colors with aliases for CSS rule merging
$mdw-theme__inks: resortColors($mdw-theme__inks);
$mdw-theme__surfaces: resortColors($mdw-theme__surfaces);

$mdw-color__theme-values: (
  default-ink:                $mdw-theme__foreground,

  high-ink-opacity:           $mdw-theme__high-opacity,
  medium-ink-opacity:         $mdw-theme__medium-opacity,
  inactive-ink-opacity:       $mdw-theme__inactive-opacity,
  divider-ink-opacity:        $mdw-theme__divider-opacity,

  card-surface:           ((#fff, null),               (#121212, null)),
  binary-surface:         ((#fff, null),               (#000, null)),
) !default;

@each $color in $mdw-theme__inks {
  $newInkMap: (
    #{$color}-default-ink: (($color, nth($mdw-theme__default-color-ink, 1),null), ($color, nth($mdw-theme__default-color-ink, 2), null)),
    #{$color}-contrast-ink: (($color, nth($mdw-theme__contrast-color-ink, 1),null), ($color, nth($mdw-theme__contrast-color-ink, 2), null)),
    #{$color}-light-ink: (($color, nth($mdw-theme__light-color-ink, 1),null), ($color, nth($mdw-theme__light-color-ink, 2), null)),
  );
  $mdw-color__theme-values: map-merge($mdw-color__theme-values, $newInkMap);
}

@each $color in $mdw-theme__surfaces {
  $newSurfaceMap: (
    #{$color}-default-surface: (($color, nth($mdw-theme__default-color-surface, 1),null), ($color, nth($mdw-theme__default-color-surface, 2), null)),
    #{$color}-alt-surface: (($color, nth($mdw-theme__alt-color-surface, 1),null), ($color, nth($mdw-theme__alt-color-surface, 2), null)),
  );
  $mdw-color__theme-values: map-merge($mdw-color__theme-values, $newSurfaceMap);
}

@function mdwColorThemeValue($key, $type) {
  @return mdwGetThemeValue('color', $mdw-color__theme-values, $key, $type);
}

@mixin mdw-color__theme-rules($type: 'var') {
  @if ($type == 'var') {
    .mdw-theme {
      /** Surface Colors **/

      &[mdw-surface] {
        background-color: RGB(var(--mdw-surface));
      }

      &[mdw-surface]svg {
        background-color: transparent;

        fill: RGB(var(--mdw-surface));
      }

      &[mdw-surface]:not([mdw-ink]) {
        --mdw-ink: #{mdwColorThemeValue("default-ink", $type)};
        --mdw-ink-opacity: #{mdwColorThemeValue("high-ink-opacity", $type)};
        color: RGBA(var(--mdw-ink),var(--mdw-ink-opacity));
      }

      &[mdw-surface="white"] {
        --mdw-surface: 255,255,255;
      }

      &[mdw-surface="black"] {
        --mdw-surface: 0,0,0;
      }

      &[mdw-surface="binary"] {
        --mdw-surface: #{mdwColorThemeValue("binary-surface", $type)};
      }
    
      &[mdw-surface="card"] {
        --mdw-surface: #{mdwColorThemeValue("card-surface", $type)};
      }

      @each $surface in $mdw-theme__surfaces {
        &[mdw-surface~="#{$surface}"] {
          --mdw-surface: #{mdwColorThemeValue("#{$surface}-default-surface", $type)};
        }
      }
      
      @each $surface in $mdw-theme__surfaces {
        &[mdw-surface~="#{$surface}"] {
          $palette: mdwGetThemeParamValue($surface);
          @each $tone in $mdw-theme__surface-tones {
            $value: map-get($palette, $tone);
            --#{$tone}-surface: #{red($value),green($value),blue($value)};
          }
        }
      }

      @each $surface in $mdw-theme__surfaces {
        &[mdw-surface="#{$surface} alt"] {
          --mdw-surface: #{mdwColorThemeValue("#{$surface}-alt-surface", $type)};
        }
      }

      @each $tone in $mdw-theme__surface-tones {
        &[mdw-surface~="#{$tone}"] {
          --mdw-surface: var(--#{$tone}-surface);
        }
      }

      /** Ink Color **/

      &[mdw-ink] {
        --mdw-ink: #{mdwColorThemeValue("default-ink", $type)};
        --mdw-ink-opacity: 1;
        color: RGBA(var(--mdw-ink),var(--mdw-ink-opacity));
      }

      &[mdw-ink=""],
      &[mdw-ink~="default"] {
        --mdw-ink: #{mdwColorThemeValue("default-ink", $type)};
        --mdw-ink-opacity: #{mdwColorThemeValue("high-ink-opacity", $type)};
      }

      &[mdw-ink~="white"] {
        --mdw-ink: 255,255,255;
      }

      &[mdw-ink~="black"] {
        --mdw-ink: 0,0,0;
      }

      @each $ink in $mdw-theme__inks {
        &[mdw-ink~="#{$ink}"] {
          --mdw-ink: #{mdwColorThemeValue("#{$ink}-default-ink", $type)};
        }
      }

      @each $ink in $mdw-theme__inks {
        &[mdw-ink~="#{$ink}"] {
          $palette: mdwGetThemeParamValue($ink);
          @each $tone in $mdw-theme__ink-tones {
            $value: map-get($palette, $tone);
            --mdw-ink-#{$tone}: #{red($value),green($value),blue($value)};
          }
        }
      }

      @each $ink in $mdw-theme__inks {
        &[mdw-ink^="#{$ink} contrast"] {
          --mdw-ink: #{mdwColorThemeValue("#{$ink}-contrast-ink", $type)};
        }
      }

      @each $ink in $mdw-theme__inks {
        @if ($ink != 'background') {
          &[mdw-ink^="#{$ink} light"] {
            --mdw-ink: #{mdwColorThemeValue("#{$ink}-light-ink", $type)};
          }
        }
      }

      @each $tone in $mdw-theme__ink-tones {
        &[mdw-ink~="#{$tone}"] {
          --mdw-ink: var(--mdw-ink-#{$tone});
        }
      }

      /** Ink Opacity **/

      &[mdw-ink~="solid"] {
        --mdw-ink-opacity: 1;
      }

      &[mdw-ink~="high"] {
        --mdw-ink-opacity: #{mdwColorThemeValue("high-ink-opacity", $type)};
      }
    
      &[mdw-ink~="medium"] {
        --mdw-ink-opacity: #{mdwColorThemeValue("medium-ink-opacity", $type)};
      }
    
      &[mdw-ink~="inactive"] {
        --mdw-ink-opacity: #{mdwColorThemeValue("inactive-ink-opacity", $type)};
      }
    
      &[mdw-ink~="divider"] {
        --mdw-ink-opacity: #{mdwColorThemeValue("divider-ink-opacity", $type)};
      }

      /** Border Ink **/

      &[mdw-border-ink] {
        border-color: #{RGBA(var(--mdw-ink), mdwColorThemeValue("divider-ink-opacity", $type))};
      }

      &[mdw-border-ink="default"] {
        border-color: #{RGBA(mdwColorThemeValue("default-ink", $type), mdwColorThemeValue("divider-ink-opacity", $type))};
      }

      &[mdw-border-ink="none"] {
        border-color: transparent;
      }
    }
  } @else {
    & {
      &[mdw-ink="default"],
      &[mdw-surface]:not([mdw-ink]) {
        color: RGBA(mdwColorThemeValue("default-ink", $type),mdwColorThemeValue("high-ink-opacity", $type));
      }
      
      &[mdw-surface="binary"] {
        background-color: RGB(mdwColorThemeValue("binary-surface", $type));
      }
    
      &[mdw-surface="card"] {
        background-color: RGB(mdwColorThemeValue("card-surface", $type));
      }

      @each $surface in $mdw-theme__surfaces {
        &[mdw-surface="#{$surface}"] {
          background-color: RGB(mdwColorThemeValue("#{$surface}-default-surface", $type));
        }
      }

      @each $surface in $mdw-theme__surfaces {
        &[mdw-surface="#{$surface} alt"] {
          background-color: RGB(mdwColorThemeValue("#{$surface}-alt-surface", $type));
        }
      }

      &[mdw-ink~="solid"] {
        color: RGB(mdwColorThemeValue("default-ink", $type));
      }

      &[mdw-ink~="high"] {
        color: RGBA(mdwColorThemeValue("default-ink", $type),mdwColorThemeValue("high-ink-opacity", $type));
      }
    
      &[mdw-ink~="medium"] {
        color: RGBA(mdwColorThemeValue("default-ink", $type),mdwColorThemeValue("medium-ink-opacity", $type));
      }
    
      &[mdw-ink~="inactive"] {
        color: RGBA(mdwColorThemeValue("default-ink", $type),mdwColorThemeValue("inactive-ink-opacity", $type));
      }
    
      &[mdw-ink~="divider"] {
        color: RGBA(mdwColorThemeValue("default-ink", $type),mdwColorThemeValue("divider-ink-opacity", $type));
      }

      @each $ink in $mdw-theme__inks {
        &[mdw-ink="#{$ink}"] {
          &,
          &.mdw-overlay::before {
            color: RGB(mdwColorThemeValue("#{$ink}-default-ink", $type));
          }
        }
      }

      @each $ink in $mdw-theme__inks {
        &[mdw-ink="#{$ink} contrast"] {
          &,
          &.mdw-overlay::before {
            color: RGB(mdwColorThemeValue("#{$ink}-contrast-ink", $type));
          }
        }
      }

      @each $ink in $mdw-theme__inks {
        &[mdw-ink="#{$ink} light"] {
          &,
          &.mdw-overlay::before {
            color: RGB(mdwColorThemeValue("#{$ink}-light-ink", $type));
          }
        }
      }

      &[mdw-border-ink],
      &[mdw-border-ink="default"] {
        border-color: RGBA(mdwColorThemeValue("default-ink", $type), mdwColorThemeValue("divider-ink-opacity", $type));
      }

      &[mdw-border-ink="none"] {
        border-color: transparent;
      }
    }
  }
}

@mixin __mdw-color__add-fallbacks() {
  .mdw-theme[mdw-surface="white"] {
    background-color: #fff;
  }

  .mdw-theme[mdw-surface="black"] {
    background-color: #000;
  }

  @each $surface in $mdw-theme__surfaces {
    $palette: mdwGetThemeParamValue($surface);
    @each $tone in $mdw-theme__surface-tones {
      $value: map-get($palette, $tone);

      .mdw-theme[mdw-surface="#{$surface} #{$tone}"] {
        background-color: #{$value};
      }
    }
  }

  /** Ink Fallback Colors **/

  .mdw-theme[mdw-ink~="white"] {
    &,
    &.mdw-overlay::before {
      color: #fff;
    }
  }

  .mdw-theme[mdw-ink~="black"] {
    &,
    &.mdw-overlay::before {
      color: #000;
    }
  }

  @each $tone in $mdw-theme__surface-tones {
    @each $surface in $mdw-theme__surfaces {
      $palette: mdwGetThemeParamValue($surface);
      $value: map-get($palette, $tone);

      .mdw-theme[mdw-surface^="#{$surface} #{$tone}"] {
        background-color: #{$value};
      }
    }
  }

  @each $tone in $mdw-theme__ink-tones {
    @each $ink in $mdw-theme__inks {
      $palette: mdwGetThemeParamValue($ink);
      $value: map-get($palette, $tone);
      .mdw-theme[mdw-ink^="#{$ink} #{$tone}"] {
        &,
        &.mdw-overlay::before {
          color: #{$value};
        }
      }
    }
  }

  .mdw-theme[mdw-light],
  .mdw-theme[mdw-light] .mdw-theme:not([mdw-dark]) {
    @include mdw-color__theme-rules('light');
  }

  .mdw-theme[mdw-dark],
  .mdw-theme[mdw-dark] .mdw-theme:not([mdw-light]) {
    @include mdw-color__theme-rules('dark');
  }
}

@if ($mdw-theme__fallbacks == 'ieonly') {
  @include mdw-platform__ie() {
    @include __mdw-color__add-fallbacks();
  }
} @else if ($mdw-theme__fallbacks != false) {
  @include __mdw-color__add-fallbacks();
}

@include mdw-theme__add-component-variable-rules('color', $mdw-color__theme-values) {
  @include mdw-color__theme-rules();
}
