/* https://material.io/guidelines/components/buttons.html#buttons-raised-buttons */

/* https://material.io/guidelines/style/icons.html# */

:host {
  --mdw-input__padding-inline-start: 0;
  --mdw-input__padding-inline-end: 0;
  display: inline-flex;
}

/* Remove Firefox inner */

:host(::-moz-focus-inner) {
  border: 0;
}

label {
  flex: 1;
}

input {
  position: absolute;

  inset: 0;

  block-size: 100%;
  inline-size: 100%;

  margin: 0;
  border: 0;
  padding: 0;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  cursor: inherit;
  outline: none;

  /** Firefox requires at least 1px "visible" for screen reading */
  opacity: 0;
}

input::-moz-focus-inner {
  border: 0;
}

/* Fix active ripple state */
input:active ~ #ripple > #ripple-inner {
  animation-name: var(--mdw-ripple__fade-in-name), none;
}