// https://material.io/guidelines/components/buttons-floating-action-button.html

@import '../../core/_breakpoint.scss';
@import '../../core/_elevation.scss';
@import '../../core/_motion.scss';
@import '../../core/_platform.scss';

$mdw-fab__delay: 40ms !default;
$mdw-fab__padding: dp(16) !default;
$mdw-fab__size: dp(56) !default;
$mdw-fab__mini-size: dp(40) !default;
$mdw-fab__mini-padding: dp(8) !default;
$mdw-fab__icon-size: dp(24) !default;

.mdw-fab {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: column-reverse;
  justify-content: center;

  min-height: dp(56);

  pointer-events: none;
  z-index: 6;

  &[mdw-horizontal] {
    flex-direction: row-reverse;
  }
}

.mdw-fab__close {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  cursor: default;

  pointer-events: auto;
  visibility: hidden;
  // z-index: -1; // Safari has a negative z-index bug
}

.mdw-fab__button.mdw-button {
  order: -1;

  min-height: 0;
  min-width: 0;
  margin: 0;
  padding: dp(16);

  pointer-events: auto;

  border-radius: dp(32);
  box-shadow: mdwElevation(6);

  &:active {
    box-shadow: mdwElevation(12);
  }

  &[mdw-extended] {
    padding: dp(12);
  }

  &[mdw-mini] {
    padding: dp(8);
  }
}

.mdw-fab__speed-dial {
  display: flex;
  position: absolute;
  bottom: 100%;
  align-items: center;
  flex-direction: inherit;
  order: 1;

  pointer-events: none;
  z-index: inherit;

  > .mdw-fab__button.mdw-button {
    margin: 0 0 dp(16) 0;

    transition-duration: $mdw-motion__collapse-duration;
    transition-property: transform, opacity;
    transition-timing-function: $mdw-motion__accelerate-easing;

    opacity: 0;
    transform: scale(0);

    &[mdw-mini] {
      margin: 0 dp(8) dp(16) dp(8);

      .mdw-fab__button[mdw-mini] ~ & {
        margin: 0 0 dp(16) 0;
      }

      .mdw-fab__button[mdw-extended] ~ & {
        margin: 0 dp(4) dp(16) dp(4);
      }
    }
    @for $i from 1 through 7 {
      &:nth-last-child(#{$i}) {
        transition-delay: #{($i - 1) * $mdw-fab__delay};
      }
    }
  }
}

.mdw-fab__icon {
  position: relative;

  min-height: $mdw-fab__icon-size;
  min-width: $mdw-fab__icon-size;

  transition-duration: 200ms;
  transition-property: margin;
  transition-timing-function: linear;
}

.mdw-fab__text {
  overflow: hidden;

  transition-duration: 200ms;
  transition-property: font-size, margin-left, margin-right;
  transition-timing-function: linear;
  will-change: font-size;

  font-size: 0;
  letter-spacing: 0;
}

.mdw-fab__button[mdw-extended]:not([mdw-extended="hover"]),
.mdw-fab__button[mdw-extended="hover"]:hover, {
  padding: dp(12) dp(16);

  .mdw-fab__text {
    font-size: inherit;
    letter-spacing: inherit;
  }

  .mdw-fab__icon + .mdw-fab__text {
    margin-right: dp(4);
    margin-left: dp(8);

    :root[dir="rtl"] & {
      margin-right: dp(8);
      margin-left: dp(4);
    }
  }
}

.mdw-fab__hidden-icon,
.mdw-fab__shown-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.mdw-fab__shown-icon {
  display: none;
}

.mdw-fab:target > .mdw-fab__button {
  // Hack to allow __close to capture click event
  pointer-events: none;
}


.mdw-fab:target,
.mdw-fab[mdw-show]:not([mdw-hide]) {
  > .mdw-fab__button {
    .mdw-fab__hidden-icon {
      display: none;
    }

    .mdw-fab__shown-icon {
      display: block;
    }
  }

  > .mdw-fab__close {
    visibility: visible;
  }
}

.mdw-fab__speed-dial {
  .mdw-fab:target > &,
  .mdw-fab[mdw-show]:not([mdw-hide]) > &,
  .mdw-fab__button:hover + &[mdw-hover],
  &[mdw-hover]:hover {
    pointer-events: auto;

    > .mdw-fab__button.mdw-button {
      transition-duration: $mdw-motion__expand-duration;
      transition-timing-function: $mdw-motion__decelerate-easing;

      opacity: 1;
      transform: scale(1);

      box-shadow: mdwElevation(6);

      &:active {
        box-shadow: mdwElevation(12);
      }
      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          transition-delay: #{($i - 1) * $mdw-fab__delay};
        }
      }
    }
  }
}
