// https://material.io/guidelines/components/buttons-floating-action-button.html

@use '../../core/_elevation.scss' as elevation;
@use '../../core/_length.scss' as *;
@use '../../core/_motion.scss' as motion;

$delay: 40ms !default;
$padding: 16px !default;
$size: 56px !default;
$miniSize: 40px !default;
$miniPadding: 8px !default;
$iconSize: 24px !default;

.mdw-fab {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: column-reverse;
  justify-content: center;

  block-size: 56px;

  pointer-events: none;

  z-index: 6;

  &[mdw-horizontal] {
    flex-direction: row-reverse;
  }
}

.mdw-fab__close {
  position: fixed;
  inset: 0;

  cursor: default;

  pointer-events: auto;

  visibility: hidden;
  // z-index: -1; // Safari has a negative z-index bug
}

.mdw-fab__button.mdw-button {
  order: -1;

  box-sizing: content-box;
  block-size: 24px;
  min-inline-size: 24px;
  margin: 0;
  padding: 16px;

  pointer-events: auto;

  border-radius: 32px;
  box-shadow: elevation.boxShadow(6);

  &:active {
    box-shadow: elevation.boxShadow(12);
  }

  &[mdw-extended] {
    padding: 12px;
  }

  &[mdw-mini] {
    padding: 8px;
  }
}

.mdw-fab__speed-dial {
  display: flex;
  position: absolute;
  inset-block-end: 100%;
  inset-inline: auto 0;

  align-items: center;
  flex-direction: inherit;
  order: 1;

  pointer-events: none;

  z-index: inherit;

  & > .mdw-fab__button.mdw-button {
    margin: 0 0 16px 0;

    transition-duration: motion.$collapseDuration;
    transition-property: transform, opacity;
    transition-timing-function: motion.$accelerateEasing;

    opacity: 0;
    transform: scale(0);

    &[mdw-mini] {
      margin: 0 8px 16px 8px;

      .mdw-fab__button[mdw-mini] ~ & {
        margin: 0 0 16px 0;
      }

      .mdw-fab__button[mdw-extended] ~ & {
        margin: 0 4px 16px 4px;
      }
    }
    @for $i from 1 through 7 {
      &:nth-last-child(#{$i}) {
        transition-delay: #{($i - 1) * $delay};
      }
    }
  }
}

.mdw-fab__icon {
  position: relative;

  block-size: $iconSize;
  inline-size: $iconSize;

  transition-duration: 200ms;
  transition-property: margin;
  transition-timing-function: linear;
}

.mdw-fab__text {
  overflow: hidden;

  transition-duration: 200ms;
  transition-property: font-size, margin-inline;
  transition-timing-function: linear;
  will-change: font-size;

  font-size: 0;
  letter-spacing: 0;
}

.mdw-fab__button[mdw-extended]:not([mdw-extended="hover"]),
.mdw-fab__button[mdw-extended="hover"]:hover {
  padding: 12px 16px;

  .mdw-fab__text {
    font-size: inherit;
    letter-spacing: inherit;
  }

  .mdw-fab__icon + .mdw-fab__text {
    margin-inline: 8px 4px;
  }
}

.mdw-fab__hidden-icon,
.mdw-fab__shown-icon {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
}

.mdw-fab__shown-icon {
  display: none;
}

.mdw-fab:target > .mdw-fab__button {
  // Hack to allow __close to capture click event
  pointer-events: none;
}

.mdw-fab:target,
.mdw-fab[mdw-show]:not([mdw-hide]) {
  > .mdw-fab__button {
    .mdw-fab__hidden-icon {
      display: none;
    }

    .mdw-fab__shown-icon {
      display: block;
    }
  }

  > .mdw-fab__close {
    visibility: visible;
  }
}

.mdw-fab__speed-dial {
  .mdw-fab:target > &,
  .mdw-fab[mdw-show]:not([mdw-hide]) > &,
  .mdw-fab__button:hover + &[mdw-hover],
  &[mdw-hover]:hover {
    pointer-events: auto;

    > .mdw-fab__button.mdw-button {
      transition-duration: motion.$expandDuration;
      transition-timing-function: motion.$decelerateEasing;

      opacity: 1;
      transform: scale(1);

      box-shadow: elevation.boxShadow(6);

      &:active {
        box-shadow: elevation.boxShadow(12);
      }
      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          transition-delay: #{($i - 1) * $delay};
        }
      }
    }
  }
}
