// https://material.io/archive/guidelines/components/selection-controls.html#selection-controls-switch

@use '../../core/_platform.scss' as platform;

.mdw-theme {
  --mdw-selection__icon-color: var(--mdw-medium-color);
  --mdw-selection__track-on-opacity: 0.50;
  --mdw-selection__track-off-color: RGBA(var(--mdw-ink-default), 1.00);

  --mdw-selection__hover-opacity: var(--mdw-selection__hover-opacity-value);
  --mdw-selection__focus-opacity: var(--mdw-selection__focus-opacity-value);
  --mdw-selection__selected-opacity: var(--mdw-selection__selected-opacity-value);
}

.mdw-theme[mdw-light] {
  --mdw-selection__track-off-opacity: 0.38;
  --mdw-selection__thumb-off-color: RGBA(var(--mdw-alias-background-50), 1.00);
  --mdw-selection__thumb-disabled-color: RGBA(var(--mdw-alias-background-400), 1.00);
  --mdw-selection__disabled-opacity: 0.38;
  --mdw-selection__hover-opacity-value: 0.04;
  --mdw-selection__focus-opacity-value: 0.12;
  --mdw-selection__selected-opacity-value: 0.08;
}

.mdw-theme[mdw-dark] {
  --mdw-selection__track-off-opacity: 0.30;
  --mdw-selection__thumb-off-color: RGBA(var(--mdw-alias-background-400), 1.00);
  --mdw-selection__thumb-disabled-color: RGBA(var(--mdw-alias-background-800), 1.00);
  --mdw-selection__disabled-opacity: 0.50;
  --mdw-selection__hover-opacity-value: 0.08;
  --mdw-selection__focus-opacity-value: 0.24;
  --mdw-selection__selected-opacity-value: 0.16;
}

.mdw-selection[aria-checked="true"],
.mdw-selection__input:checked, {
  --mdw-selection__icon-color: RGB(var(--mdw-ink));
}

.mdw-selection__input {
  opacity: calc(var(--mdw-selection__hover-opacity) + var(--mdw-selection__focus-opacity) + var(--mdw-selection__selected-opacity));

  &,
  &.mdw-theme {
    color: var(--mdw-selection__icon-color);
  }

  &[mdw-overlay-off~="hover"],
  &:not(:hover) {
    --mdw-selection__hover-opacity-value: 0;
  }

  &[mdw-overlay-off~="focus"],
  &:not(:focus) {
    --mdw-selection__focus-opacity-value: 0;
  }

  // Unselected (unchecked) state
  &:not([aria-checked="true"]):not(:checked),
  &[aria-checked="false"],
  &[mdw-overlay-touch="true"],
  &[mdw-overlay-off~="selected"] {
    --mdw-selection__selected-opacity-value: 0;
  }

  // No overlay when disabled, touch, not hovered, or not focused
  .mdw-selection[aria-disabled="true"] > &,
  &[aria-disabled="true"],
  &[disabled],
  &[mdw-overlay-touch="true"],
  &:not(:focus):not(:hover) {
    opacity: 0;
  }
}

.mdw-selection__icon {
  // Checkbox check default
  &[mdw-checkbox]::after {
    // Checkbox color is based on currently filled background-color
    border-color: RGB(var(--mdw-surface));
  }

  // Switch track default
  &[mdw-switch]::after {
    opacity: var(--mdw-selection__track-on-opacity);
  }

  .mdw-selection[aria-disabled="true"] &,
  .mdw-selection__input:disabled ~ & {
    opacity: var(--mdw-selection__disabled-opacity);

    &[mdw-switch] {
      // Thumb
      &::before {
        background-color: var(--mdw-selection__thumb-disabled-color);
      }
      // Track
      &::after {
        background-color: var(--mdw-selection__track-off-color);
      }
    }
  }

  // Unchecked or disabled HTMLInputElement
  .mdw-selection[aria-checked="false"] &,
  .mdw-selection[aria-disabled="true"] &,
  .mdw-selection__input:disabled ~ &,
  input.mdw-selection__input:not(:checked) ~ & {
    &[mdw-checkbox],
    &[mdw-radio] {
      color: var(--mdw-selection__icon-color);
    }

    &[mdw-switch] {
      // Thumb
      &::before {
        background-color: var(--mdw-selection__thumb-off-color);
      }
      // Track
      &::after {
        opacity: var(--mdw-selection__track-off-opacity);

        background-color: var(--mdw-selection__track-off-color);
      }
    }
  }
}

.mdw-selection__label {
  .mdw-selection[aria-disabled="true"] &,
  .mdw-selection__input:disabled ~ & {
    opacity: var(--mdw-selection__disabled-opacity);
  }
}
