@import '../common/functions.scss';
@import '../common/mixins.scss';

$selectionColors: (
  color:                 ((#000, 0.54), (#fff, 0.70)),
  color__checked:        (('accent', '500', 1.0)),
  ripple-color:          ((#000, 0.12), (#fff, 0.30), (#fff, 0.20)),
  ripple-color__checked: (('accent', '500', 0.26), ('accent', '500', 0.26))
);

@function selectionThemeValue($key, $type, $theme) {
  @return themeValue('selection', $selectionColors, $key, $type, $theme);
}

@mixin selectionThemeVariables($color, $lightness) {
  @include themeVariables('selection', $selectionColors, $color, $lightness);
}

// Vary by contrast
@mixin selectionContrastRules($type: 'var', $theme: null) {
  .mdw-selection > input {
    background-color: selectionThemeValue("ripple-color", $type, $theme);
    &:not(:checked) ~ .mdw-selection__icon::before {
      border-color: selectionThemeValue("color", $type, $theme);
    }
    &[type="radio"]:not(:checked) ~ .mdw-selection__icon::after {
      background-color: selectionThemeValue("color", $type, $theme);
    }
    &[type="checkbox"]:checked ~ .mdw-selection__icon::after {
      // Checkbox color is based on currently filled background-color
      @if($type == 'var') {
        border-color: unquote("rgb(var(--background-color))");
      } @else {
        // IE11 Fallback
        border-color: white;
      }
    }
  }
}

// Varies by current color
@mixin selectionColoredRules($value: "var(--color)") {
  @at-root {
    #{&}.mdw-selection.mdw-theme__colored {
      > input:checked {
        background-color: unquote("rgba(#{$value}, 0.26)");
        ~ .mdw-selection__icon::before {
          // TODO: Move outside for IE11 size reduction
          // Edge support for --color in psuedo elements is buggy
          border-color: currentColor;
        }
      }
      input[type="radio"]:checked {
        & ~ .mdw-selection__icon::after {
          // TODO: Move outside for IE11 size reduction
          // Edge support for --color in psuedo elements is buggy
          background-color: currentColor;
        }
      }
    }
  }
}

// Varies by theme
@mixin selectionThemeRules($theme: null) {
  .mdw-selection > input {
    &:checked {
      background-color: selectionThemeValue("ripple-color__checked", null, $theme);
    }
  }
  .mdw-selection__icon {
    input:checked ~ &::before {
      border-color: selectionThemeValue("color__checked", null, $theme);
    }
  }
  .mdw-selection > input[type="radio"] {
    &:checked ~ .mdw-selection__icon::after {
      background-color: selectionThemeValue("color__checked", null, $theme);
    }
  }
}