@use "../../core/theme/_config.scss" with (
  $alias: (
    'primary': 'deeppurple',
    'secondary': 'deeporange',
    'warn': 'red',
    'background': 'bluegray'
  )
);
@use "../../core/theme/_aliases.scss";

:root {
  --mdw-ink-default-light: 0,96,100;
  --mdw-ink-default-dark: 224,247,250;
  font-family: Merriweather, sans-serif;
}
