@use "../../core/theme/_config.scss" with (
  $primary: 'blue',
  $secondary: 'pink',
  $warn: 'red',
  $background: 'gray',
  $foreground: (#000, #fff),
  $inks: ('primary', 'secondary', 'warn', 'amber', 'blue', 'cyan', 'red', 'green', 'deeppurple', 'purple', 'yellow', 'teal'),
  $surfaces: ('primary', 'secondary', 'warn', 'background', 'amber', 'blue', 'cyan', 'red', 'green', 'deeppurple', 'purple', 'yellow', 'teal'),
  $fallbacks: false,
);

@use "./_component-themes.scss";

:root {
  font-family: Roboto, sans-serif;
}

