@use "../../_theme.scss" with (
  $primary: 'deeppurple',
  $secondary: 'deeporange',
  $warn: 'red',
  $background: 'bluegray',
  $foreground: (#006064, #E0F7FA),
  $inks: ('primary', 'secondary', 'warn', 'amber', 'blue', 'cyan', 'red', 'green', 'deeppurple', 'purple', 'yellow', 'teal'),
  $surfaces: ('primary', 'secondary', 'warn', 'background', 'amber', 'blue', 'cyan', 'red', 'green', 'deeppurple', 'purple', 'yellow', 'teal'),
  $fallbacks: false,
);

:root {
  font-family: Merriweather, sans-serif;
}
