#tooltip {
  position:absolute;

  overflow: hidden;

  box-sizing: content-box;

  block-size: 0;
  inline-size: 0;
  margin: 0;
  padding: 0;

  transform: none;
}

#tooltip[open] {
  display: block;

  block-size: auto;
  inline-size: auto;

  cursor: default;
  pointer-events:auto;

  opacity: 0;
  transform: none;
}
