:host {
  --mdw-type__font: var(--mdw-typescale__headline-large__font);
  --mdw-type__letter-spacing: var(--mdw-typescale__headline-large__letter-spacing);
}

:host([size="medium"]) {
  --mdw-type__font: var(--mdw-typescale__headline-medium__font);
  --mdw-type__letter-spacing: var(--mdw-typescale__headline-medium__letter-spacing);
}

:host([size="small"]) {
  --mdw-type__font: var(--mdw-typescale__headline-small__font);
  --mdw-type__letter-spacing: var(--mdw-typescale__headline-small__letter-spacing);
}