:host {
  --mdw-type__font: var(--mdw-typescale__label-large__font);
  --mdw-type__letter-spacing: var(--mdw-typescale__body-large__letter-spacing);
}

:host([size="medium"]) {
  --mdw-type__font: var(--mdw-typescale__label-medium__font);
  --mdw-type__letter-spacing: var(--mdw-typescale__body-medium__letter-spacing);
}

:host([size="small"]) {
  --mdw-type__font: var(--mdw-typescale__label-small__font);
  --mdw-type__letter-spacing: var(--mdw-typescale__body-small__letter-spacing);
}