// https://material.io/guidelines/components/data-tables.html
// https://material.io/guidelines/patterns/selection.html#selection-item-selection


table.mdw-table,
.mdw-table table {
  display: table;
  border-collapse: collapse;
}

.mdw-table caption,
.mdw-table__header {
  font-size: sp(20);
  font-weight: $font-weight-regular;
}

.mdw-table caption {
  caption-side: top;
  line-height: dp(64);
  text-align: left;
  text-align: start;
  padding: 0 dp(24);
}

.mdw-table__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mdw-table__header-text,
.mdw-table__header-actions {
  flex-grow: 1;
}
.mdw-table__header-text,
.mdw-table__header-actions,
.mdw-table__header-controls {
  display: flex;
}

.mdw-table__header-text {
  padding-left: dp(24);
}

.mdw-table tr {
  border-bottom-style: solid;
  border-bottom-width: dp(1);
}

.mdw-table thead > tr {
  font-size: sp(12);
  font-weight: $font-weight-medium;
  height: dp(56);
}
.mdw-table tbody > tr {
  font-size: sp(13);
  font-weight: $font-weight-regular;
  height: dp(48);
}

.mdw-table th,
.mdw-table td {
  padding-top: dp(8);
  padding-bottom: dp(8);
  padding-right: dp(56);
  &:first-of-type {
    padding-left: dp(24);
  }
  &[mdw-table-checkbox],
  &:last-of-type {
    padding-right: dp(24);
  }

  .mdw-selection__input {
    // Remove ripple
    visibility: hidden;
  }
}

.mdw-table th[mdw-table-checkbox] + th,
.mdw-table td[mdw-table-checkbox] + td {
  padding-right: dp(24);
}

.mdw-table td[mdw-table-number] {
  text-align: right;
  text-align: end;
}

.mdw-table__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: sp(12);
  font-weight: $font-weight-regular;
}

.mdw-table__header,
.mdw-table__footer {
  min-height: 64px;
  @include IEOnly() {
    // Fix IE min-height flexbug
    &::after {
      content: '';
      min-height: inherit;
      width: 0;
    }
  }
}

.mdw-table__footer-rowcount,
.mdw-table__footer-pagination {
  margin-left: dp(18);
  margin-right: dp(14);
}

.mdw-table__header-controls,
.mdw-table__footer-controls {
  display: inline-flex;
  margin-left: dp(2);
  margin-right: dp(2);
  .mdw-button {
    margin: 0 dp(4);
  }
}

.mdw-table__footer-rowcount {
  display: flex;
  align-items: center;
  select.mdw-textfield__input {
    min-width: dp(40 + 24);
    direction: rtl;
    [dir=rtl] & {
      direction: ltr;
    }
  }
}

