// https://material.io/guidelines/components/lists.html
// https://material.io/guidelines/components/lists-controls.html

@import '../../common/variables.scss';

$list__divider-height: dp(1);

// single     = 48dp
// two-line   = 72dp
// three-line = 88dp
// 2x + y = 72 
// 3x + y = 88
// x = 32, y = 8 or x = 40, y = 16
// row-height: 32px or 40px
// base-height: 8px or 16px

.mdw-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  min-width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}
.mdw-list__divider {
  min-width: 100%;
  border-top-style: solid;
  border-top-width: 1px;
  height: 0;
}

.mdw-list__subheader {
  display: flex;
  flex-direction: row;
  min-height: dp(48);
  align-items: center;
  justify-content: stretch;
  padding-left: dp(16);
  padding-right: dp(16);
  // color: var(--secondary-text-color);
  font-size: sp(14);
  font-weight: $font-weight-medium;
  &:first-child {
    margin-top: -8px;
  }
}
.mdw-list__row {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: dp(48);
  align-items: center;
  justify-content: stretch;
  margin: 0;
  padding: 0 dp(16);
  text-transform: none;
  // color: var(--primary-text-color);
  font-weight: $font-weight-regular;
  font-size: sp(16);

  text-align: start;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; // Contain ripple
  z-index: 0;
  outline: none;

  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  &[hidden] {
    display: none;
  }
}

.mdw-list__avatar,
.mdw-list__icon {
  display: flex;
  flex-direction: row;
  order: -1;
  min-width: dp(72 - 16);
  max-width: dp(72 - 16);
  align-self: flex-start;
  justify-content: flex-start;
  margin-top: dp(12); // min-height - 24px / 2
  // 2px from material-icon inset padding
}

.mdw-list__avatar {
  min-height: dp(56);
}

.mdw-list__secondary {
  z-index: 1;
  order: 1;
  min-width: dp(24 + 16);
  min-height: dp(56);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.mdw-list__icon,
.mdw-list__secondary {
  @include IEOnly() {
    // Fix IE min-height flexbug
    &::after {
      content: '';
      min-height: inherit;
      width: 0;
    }
  }
}

.mdw-list__text {
  position: static;
  pointer-events: none;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  &,
  & > span {
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  [mdw-divider] > .mdw-list__row:not(:last-child) &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: $list__divider-height;
    // background-color: var(--divider-color);
  }
  
  [mdw-divider] > .mdw-list__row:not(:last-child) .mdw-list__avatar ~ &::after,
  [mdw-divider] > .mdw-list__row:not(:last-child) .mdw-list__icon ~ &::after {
    margin-left: dp(72);
  }
}

.mdw-list__text-line {
  overflow-y: hidden;
  &,
  & > span {
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  &:not(:first-child) {
    font-size: sp(14);
    line-height: sp(16);
    min-height: sp(16);
  }
  &:only-child {
    // only of its type
    margin: 0;
  }
  &:first-child {
    line-height: sp(24);
  }
  &:last-child {
    margin-bottom: dp(16);
  }
  &:first-child:not(:only-child) {
    margin-top: dp(16);
  }
  &:last-child:not(:only-child) {
    // color: var(--primary-text-color);
    &:nth-child(3) {
      // color: var(--secondary-text-color);
      line-height: 1.5rem;
      margin-bottom: sp(14);
    }
  }

  .mdw-list[mdw-rows="3"] & {
    &:first-child {
      margin-top: dp(10);
    }
  }
  
}

.mdw-list__text-line > span,
.mdw-list__text-block > span {
  color: var(--secondary-text-color);
}

.mdw-list__text-block {
  pointer-events: none;
  font-size: sp(14);
  font-weight: normal;
  text-transform: none;
  text-align: start;
  text-overflow: ellipsis;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: normal;
  &:first-of-type {
    font-size: sp(16);
  }
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: sp(14);
  line-height: sp(20);
  height: sp(20*2);
  max-height: sp(20*2);
}

.mdw-list__row > .mdw-ripple {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mdw-list__row {
  // Long press color
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition-property: background-color;
    transition-duration: 500ms;
    transition-delay: 5ms;
    transition-timing-function: $motion-easing-standard;
    pointer-events: none;
  }

  > .mdw-ripple {
    @include mdw-ripple__container;
  }

  & > .mdw-ripple > .mdw-ripple__inner,
  &::after {
    @include mdw-ripple__inner;
  }

  & > .mdw-ripple:active > .mdw-ripple__inner,
  &:active::after {
    @include mdw-ripple__active;
  }

  &[mdw-ripple] {
    overflow-y: visible;
    &::after {
      // If using custom ripple, destroy ::after object
      content: none;
    }
  }
}