include ../mixins.pug

mixin button-test
  div.display-flex.flex-wrap
    .mdw-button Flat
      .mdw-button__focus-ring
    .mdw-button(mdw-raised) Raised
      .mdw-button__focus-ring
    .mdw-button(mdw-raised disabled) Disabled
      .mdw-button__focus-ring
    .mdw-button(mdw-raised="always") +Raised
      .mdw-button__focus-ring
  div(style="height:24px")
  div.display-flex.flex-wrap
    .mdw-button(mdw-theme-color="primary") Flat
      .mdw-button__focus-ring
    .mdw-button(mdw-theme-color="primary" mdw-raised) Raised
      .mdw-button__focus-ring
    .mdw-button(mdw-theme-color="primary" mdw-raised disabled) Disabled
      .mdw-button__focus-ring
    .mdw-button(mdw-theme-color="accent-A100") accent
      .mdw-button__focus-ring
  div(style="height:24px")
  div.display-flex.flex-wrap
    .mdw-button(mdw-theme-fill="primary dark") Flat
      .mdw-button__focus-ring
    .mdw-button(mdw-theme-fill="primary dark" mdw-raised) Raised
      .mdw-button__focus-ring
    .mdw-button(mdw-theme-fill="primary dark" mdw-raised disabled) Disabled
      .mdw-button__focus-ring
    .mdw-button(mdw-theme-fill="accent-A100 light" mdw-raised) accent
      .mdw-button__focus-ring
  div(style="height:24px")
  div.display-flex.flex-wrap
    .mdw-button(mdw-icon).material-icons favorite
    .mdw-button(mdw-theme-color="warn dark" mdw-icon).material-icons favorite
    .mdw-button(mdw-theme-fill="warn dark" mdw-icon).material-icons favorite
    .mdw-button(mdw-theme-fill="warn dark" mdw-icon mdw-raised).material-icons favorite
    .mdw-button(mdw-theme-fill="warn dark" mdw-icon mdw-raised disabled).material-icons favorite
    .mdw-button(mdw-icon disabled).material-icons favorite

+header()
  +navdrawer("button")
    .mdw-layout(mdw-stretch)
      .mdw-layout__item(mdw-colspan="100%")
        div
          .mdw-type(mdw-style="headline") Buttons communicate the action that will occur when the user touches them.
          .mdw-type(mdw-style="body") Material buttons trigger an ink reaction on press. They may display text, imagery, or both.
          .mdw-type(mdw-style="body")
      .mdw-layout__item(mdw-colspan="4")
        .component-sample
          .mdw-button Button
      .mdw-layout__item(mdw-colspan="8")
        div
          .mdw-type(mdw-style="subheading") Framework
          div
            label.mdw-selection(mdw-theme-color="accent" style="margin:16px 8px")
              input.mdw-selection__input(type="radio" name="framework" value="css" checked)
              .mdw-selection__icon
              .mdw-selection__label CSS Only
            label.mdw-selection(mdw-theme-color="accent" style="margin:16px 8px")
              input.mdw-selection__input(type="radio" name="framework" value="js")
              .mdw-selection__icon
              .mdw-selection__label JavaScript
          .mdw-type(mdw-style="subheading") Elevation
          div
            label.mdw-selection(mdw-theme-color="accent" style="margin:16px 8px")
              input.mdw-selection__input(type="radio" name="elevation" value="flat" checked)
              .mdw-selection__icon
              .mdw-selection__label Flat
            label.mdw-selection(mdw-theme-color="accent" style="margin:16px 8px")
              input.mdw-selection__input(type="radio" name="elevation" value="raised")
              .mdw-selection__icon
              .mdw-selection__label Raised
            label.mdw-selection(mdw-theme-color="accent" style="margin:16px 8px")
              input.mdw-selection__input(type="radio" name="elevation" value="raised-always")
              .mdw-selection__icon
              .mdw-selection__label Always Raised
          .mdw-type(mdw-style="subheading") Content
          div
            label.mdw-selection(mdw-theme-color="accent" style="margin:16px 8px")
              input.mdw-selection__input(type="radio" name="content" value="text" checked)
              .mdw-selection__icon
              .mdw-selection__label Text
            label.mdw-selection(mdw-theme-color="accent" style="margin:16px 8px")
              input.mdw-selection__input(type="radio" name="content" value="icon")
              .mdw-selection__icon
              .mdw-selection__label Icon
          .mdw-type(mdw-style="subheading") Options
          div
            label.mdw-selection(mdw-theme-color="accent" style="margin:16px 8px")
              input.mdw-selection__input(type="checkbox" name="disabled")
              .mdw-selection__icon
              .mdw-selection__label Disabled
            label.mdw-selection(mdw-theme-color="accent" style="margin:16px 8px")
              input.mdw-selection__input(type="checkbox" name="focus-ring")
              .mdw-selection__icon
              .mdw-selection__label Focus Ring
          .mdw-type(mdw-style="subheading") Color
          div
            label.mdw-selection(mdw-theme-color="accent" style="margin:16px 8px")
              input.mdw-selection__input(type="radio" name="color" value="default" checked)
              .mdw-selection__icon
              .mdw-selection__label Default
            label.mdw-selection(mdw-theme-color="accent" style="margin:16px 8px")
              input.mdw-selection__input(type="radio" name="color" value="primary")
              .mdw-selection__icon
              .mdw-selection__label Primary
            label.mdw-selection(mdw-theme-color="accent" style="margin:16px 8px")
              input.mdw-selection__input(type="radio" name="color" value="accent-A100")
              .mdw-selection__icon
              .mdw-selection__label Accent A100
            label.mdw-selection(mdw-theme-color="accent" style="margin:16px 8px")
              input.mdw-selection__input(type="radio" name="color" value="warn")
              .mdw-selection__icon
              .mdw-selection__label Warn
            label.mdw-selection(mdw-theme-color="accent" style="margin:16px 8px")
              input.mdw-selection__input(type="radio" name="color" value="purple-A400")
              .mdw-selection__icon
              .mdw-selection__label Purple-A400
          .mdw-type(mdw-style="subheading") Fill
          div
            label.mdw-selection(mdw-theme-color="accent" style="margin:16px 8px")
              input.mdw-selection__input(type="radio" name="fill" value="none" checked)
              .mdw-selection__icon
              .mdw-selection__label None
            label.mdw-selection(mdw-theme-color="accent" style="margin:16px 8px")
              input.mdw-selection__input(type="radio" name="fill" value="primary dark")
              .mdw-selection__icon
              .mdw-selection__label Primary
            label.mdw-selection(mdw-theme-color="accent" style="margin:16px 8px")
              input.mdw-selection__input(type="radio" name="fill" value="accent-A100 light")
              .mdw-selection__icon
              .mdw-selection__label Accent A100
            label.mdw-selection(mdw-theme-color="accent" style="margin:16px 8px")
              input.mdw-selection__input(type="radio" name="fill" value="warn-200 light")
              .mdw-selection__icon
              .mdw-selection__label Warn 200
            label.mdw-selection(mdw-theme-color="accent" style="margin:16px 8px")
              input.mdw-selection__input(type="radio" name="fill" value="green-700 dark")
              .mdw-selection__icon
              .mdw-selection__label Green 700
          .mdw-type(mdw-style="subheading") HTML Element Type
          div
            label.mdw-selection(mdw-theme-color="accent" style="margin:16px 8px")
              input.mdw-selection__input(type="radio" name="htmltype" value="div" checked)
              .mdw-selection__icon
              .mdw-selection__label HTMLElement
            label.mdw-selection(mdw-theme-color="accent" style="margin:16px 8px")
              input.mdw-selection__input(type="radio" name="htmltype" value="button")
              .mdw-selection__icon
              .mdw-selection__label HTMLButtonElement
            label.mdw-selection(mdw-theme-color="accent" style="margin:16px 8px")
              input.mdw-selection__input(type="radio" name="htmltype" value="a")
              .mdw-selection__icon
              .mdw-selection__label HTMLAnchorElement
      .mdw-layout__item(mdw-colspan="100%" style="max-height:0")
      .mdw-layout__item(mdw-colspan="6")
        .display-flex(flex-column)
          .mdw-type(mdw-style="title") HTML Code
          .mdw-card.component-code.component-html
      .mdw-layout__item(mdw-colspan="2")
        .display-flex(flex-column)
          .mdw-type(mdw-style="title") Javascript Code
          .mdw-card.component-code.component-js
      .mdw-layout__item(mdw-colspan="100%")
        .mdw-type(mdw-style="title") Samples
      .mdw-layout__item(mdw-colspan="6")
        .render
          +androidstatusbar('')
          +toolbar('', [], []) CSS Only
          .content(style="padding: 16px 0")
            div
              +button-test
          +androidnavbar
      .mdw-layout__item(mdw-colspan="6")
        .render.js
          +androidstatusbar('')
          +toolbar('', [], []) Javascript Version
          .content(style="padding: 16px 0")
            div
              +button-test
          +androidnavbar
  script(src='button.min.js')