<!DOCTYPE html>
<html lang="en">

<head>
  <title>Buttons</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
  <link rel="stylesheet" href="../theme.css" />
  <link rel="stylesheet" href="../demo.css" />
  <script src="../demo.min.js"></script>
</head>

<body>
  <demo-page>
    <mdw-box gap=16 padding=pane>
      <mdw-grid gap=16 role=region y=stretch>
        <mdw-headline text-padding=0>Common Buttons</mdw-headline>

        <demo-preview-card label="Elevated buttons" col-span=8 col-span-12=6 code="
        <mdw-box row gap=8 x=center wrap>
          <mdw-button elevated>Default</mdw-button>
          <mdw-button elevated icon=search ink=tertiary>Icon Tertiary</mdw-button>
          <mdw-button elevated ink=yellow>Custom Color</mdw-button>
        </mdw-box>
        <mdw-box row gap=8 x=center wrap>
          <mdw-button disabled elevated>Default</mdw-button>
          <mdw-button disabled elevated icon=search ink=tertiary>Icon Tertiary</mdw-button>
          <mdw-button disabled elevated ink=yellow>Custom Color</mdw-button>
        </mdw-box>">
          <mdw-box row gap=8 x=center wrap>
            <mdw-button elevated>Default</mdw-button>
            <mdw-button elevated icon=search ink=tertiary>Icon Tertiary</mdw-button>
            <mdw-button elevated ink=yellow>Custom Color</mdw-button>
          </mdw-box>
          <mdw-box row gap=8 x=center wrap>
            <mdw-button disabled elevated>Default</mdw-button>
            <mdw-button disabled elevated icon=search ink=tertiary>Icon Tertiary</mdw-button>
            <mdw-button disabled elevated ink=yellow>Custom Color</mdw-button>
          </mdw-box>
          
        </demo-preview-card>

        <demo-preview-card label="Filled buttons" col-span=8 col-span-12=6 code="
        <mdw-box row gap=8 x=center wrap>
          <mdw-button filled>Default</mdw-button>
          <mdw-button filled icon=search color=tertiary>Icon Tertiary</mdw-button>
          <mdw-button filled color=yellow>Custom Color</mdw-button>
        </mdw-box>
        <mdw-box row gap=8 x=center wrap>
          <mdw-button disabled filled>Default</mdw-button>
          <mdw-button disabled filled icon=search color=tertiary>Icon Tertiary</mdw-button>
          <mdw-button disabled filled color=yellow>Custom Color</mdw-button>
        </mdw-box>">
          <mdw-box row gap=8 x=center wrap>
            <mdw-button filled>Default</mdw-button>
            <mdw-button filled icon=search color=tertiary>Icon Tertiary</mdw-button>
            <mdw-button filled color=yellow>Custom Color</mdw-button>
          </mdw-box>
          <mdw-box row gap=8 x=center wrap>
            <mdw-button disabled filled>Default</mdw-button>
            <mdw-button disabled filled icon=search color=tertiary>Icon Tertiary</mdw-button>
            <mdw-button disabled filled color=yellow>Custom Color</mdw-button>
          </mdw-box>
        </demo-preview-card>

        <demo-preview-card label="Filled tonal buttons" col-span=8 col-span-12=6 code="
        <mdw-box row gap=8 x=center wrap>
          <mdw-button filled=tonal>Default</mdw-button>
          <mdw-button filled=tonal icon=search color=tertiary-container>Icon Tertiary</mdw-button>
          <mdw-button filled=tonal color=yellow-container>Custom Color</mdw-button>
        </mdw-box>
        <mdw-box row gap=8 x=center wrap>
          <mdw-button disabled filled=tonal>Default</mdw-button>
          <mdw-button disabled filled=tonal icon=search color=tertiary-container>Icon Tertiary</mdw-button>
          <mdw-button disabled filled=tonal color=yellow-container>Custom Color</mdw-button>
        </mdw-box>">
          <mdw-box row gap=8 x=center wrap>
            <mdw-button filled=tonal>Default</mdw-button>
            <mdw-button filled=tonal icon=search color=tertiary-container>Icon Tertiary</mdw-button>
            <mdw-button filled=tonal color=yellow-container>Custom Color</mdw-button>
          </mdw-box>
          <mdw-box row gap=8 x=center wrap>
            <mdw-button disabled filled=tonal>Default</mdw-button>
            <mdw-button disabled filled=tonal icon=search color=tertiary-container>Icon Tertiary</mdw-button>
            <mdw-button disabled filled=tonal color=yellow-container>Custom Color
            </mdw-button>
          </mdw-box>
        </demo-preview-card>

        <demo-preview-card label="Outlined buttons" col-span=8 col-span-12=6 code="
        <mdw-box row gap=8 x=center wrap>
          <mdw-button outlined>Default</mdw-button>
          <mdw-button outlined color=surface-primary>Surface Primary</mdw-button>
          <mdw-button outlined icon=search ink=tertiary>Icon Tertiary</mdw-button>
          <mdw-button outlined ink=yellow>Custom Color</mdw-button>
        </mdw-box>
        <mdw-box row gap=8 x=center wrap>
          <mdw-button disabled outlined>Default</mdw-button>
          <mdw-button disabled outlined color=surface-primary>Surface Primary</mdw-button>
          <mdw-button disabled outlined icon=search ink=tertiary>Icon Tertiary</mdw-button>
          <mdw-button disabled outlined ink=yellow>Custom Color</mdw-button>
        </mdw-box>">
          <mdw-box row gap=8 x=center wrap>
            <mdw-button outlined>Default</mdw-button>
            <mdw-button outlined color=surface-primary>Surface Primary</mdw-button>
            <mdw-button outlined icon=search ink=tertiary>Icon Tertiary</mdw-button>
            <mdw-button outlined ink=yellow>Custom Color</mdw-button>
          </mdw-box>
          <mdw-box row gap=8 x=center wrap>
            <mdw-button disabled outlined>Default</mdw-button>
            <mdw-button disabled outlined color=surface-primary>Surface Primary</mdw-button>
            <mdw-button disabled outlined icon=search ink=tertiary>Icon Tertiary</mdw-button>
            <mdw-button disabled outlined ink=yellow>Custom Color</mdw-button>
          </mdw-box>
        </demo-preview-card>

        <demo-preview-card label="Text buttons" col-span=8 col-span-12=6 code="
        <mdw-box row gap=8 x=center wrap>
          <mdw-button>Default</mdw-button>
          <mdw-button icon=search ink=tertiary>Icon Tertiary</mdw-button>
          <mdw-button ink=yellow>Custom Color</mdw-button>
        </mdw-box>
        <mdw-box row gap=8 x=center wrap>
          <mdw-button disabled>Default</mdw-button>
          <mdw-button disabled icon=search ink=tertiary>Icon Tertiary</mdw-button>
          <mdw-button disabled ink=yellow>Custom Color</mdw-button>
        </mdw-box>
        ">
          <mdw-box row gap=8 x=center wrap>
            <mdw-button>Default</mdw-button>
            <mdw-button icon=search ink=tertiary>Icon Tertiary</mdw-button>
            <mdw-button ink=yellow>Custom Color</mdw-button>
          </mdw-box>
          <mdw-box row gap=8 x=center wrap>
            <mdw-button disabled>Default</mdw-button>
            <mdw-button disabled icon=search ink=tertiary>Icon Tertiary</mdw-button>
            <mdw-button disabled ink=yellow>Custom Color</mdw-button>
          </mdw-box>
        </demo-preview-card>
      </mdw-grid>

      <mdw-grid gap=16 role=region y=stretch>
        <mdw-headline text-padding=0>FAB</mdw-headline>

        <demo-preview-card label="Normal" col-span=8 col-span-12=6 code="
        <mdw-box row gap=8 x=center wrap>
          <mdw-fab icon=edit>Default</mdw-fab>
          <mdw-fab color=secondary-container icon=edit>Secondary Container</mdw-fab>
          <mdw-fab color=tertiary-container icon=edit>Tertiary Container</mdw-fab>
          <mdw-fab color=yellow-container icon=edit>Custom (Yellow)</mdw-fab>
        </mdw-box>
        ">
          <mdw-box row gap=8 x=center wrap>
            <mdw-fab icon="edit">Default</mdw-fab>
            <mdw-fab color=secondary-container icon="edit">Secondary Container</mdw-fab>
            <mdw-fab color=tertiary-container icon="edit">Tertiary Container</mdw-fab>
            <mdw-fab color=yellow-container icon="edit">Custom (Yellow)</mdw-fab>
          </mdw-box>
        </demo-preview-card>

        <demo-preview-card label="Small" col-span=8 col-span-12=6 code="
        <mdw-box row gap=8 x=center wrap>
          <mdw-fab fab-size=small icon=edit>Default</mdw-fab>
          <mdw-fab fab-size=small color=secondary-container icon=edit>Secondary Container</mdw-fab>
          <mdw-fab fab-size=small color=tertiary-container icon=edit>Tertiary Container</mdw-fab>
          <mdw-fab fab-size=small color=yellow-container icon=edit>Custom (Yellow)</mdw-fab>
        </mdw-box>
        ">
          <mdw-box row gap=8 x=center wrap>
            <mdw-fab fab-size=small icon=edit>Default</mdw-fab>
            <mdw-fab fab-size=small color=secondary-container icon="edit">Secondary Container</mdw-fab>
            <mdw-fab fab-size=small color=tertiary-container icon="edit">Tertiary Container</mdw-fab>
            <mdw-fab fab-size=small color=yellow-container icon="edit">Custom (Yellow)</mdw-fab>
          </mdw-box>
        </demo-preview-card>

        <demo-preview-card label="Large" col-span=8 col-span-12=6 code="
        <mdw-box row gap=8 x=center wrap>
          <mdw-fab fab-size=large icon=edit>Default</mdw-fab>
          <mdw-fab fab-size=large color=secondary-container icon=edit>Secondary Container</mdw-fab>
          <mdw-fab fab-size=large color=tertiary-container icon=edit>Tertiary Container</mdw-fab>
          <mdw-fab fab-size=large color=yellow-container icon=edit>Custom (Yellow)</mdw-fab>
        </mdw-box>
        ">
          <mdw-box row gap=8 x=center wrap>
            <mdw-fab fab-size=large icon=edit>Default</mdw-fab>
            <mdw-fab fab-size=large color=secondary-container icon="edit">Secondary Container</mdw-fab>
            <mdw-fab fab-size=large color=tertiary-container icon="edit">Tertiary Container</mdw-fab>
            <mdw-fab fab-size=large color=yellow-container icon="edit">Custom (Yellow)</mdw-fab>
          </mdw-box>
        </demo-preview-card>

        <demo-preview-card label="Lowered" col-span=8 col-span-12=6 code="
        <mdw-box row gap=12 y=center wrap>
          <mdw-fab lowered fab-size=small icon=edit>Default (Small)</mdw-fab>
          <mdw-fab lowered fab-size=small color=surface ink=yellow icon=edit>Surface + Yellow</mdw-fab>
          <mdw-fab lowered fab-size=small color=orange-container icon=edit>Orange Container</mdw-fab>
          <mdw-fab lowered color=green-container icon=edit>Green Container</mdw-fab>
          <mdw-fab lowered fab-size=large color=alias-container icon=edit>Alias Container (Large)</mdw-fab>
        </mdw-box>
        ">
          <mdw-box row gap=12 y=center wrap>
            <mdw-fab lowered fab-size=small icon=edit>Default (Small)</mdw-fab>
            <mdw-fab lowered fab-size=small color=surface ink=yellow icon="edit">Surface + Yellow</mdw-fab>
            <mdw-fab lowered fab-size=small color=orange-container icon="edit">Orange Container</mdw-fab>
            <mdw-fab lowered color=green-container icon="edit">Green Container</mdw-fab>
            <mdw-fab lowered fab-size=large color=alias-container icon="edit">Alias Container (Large)</mdw-fab>
          </mdw-box>
        </demo-preview-card>

      </mdw-grid>

      <mdw-grid gap=16 role=region y=stretch>
        <mdw-headline text-padding=0>Extended FAB</mdw-headline>

        <demo-preview-card label="With Icon" col-span=8 col-span-12=6 code="
        <mdw-box row gap=8 x=center wrap>
          <mdw-fab extended icon=edit>Compose</mdw-fab>
          <mdw-fab extended color=secondary-container icon=edit>Compose</mdw-fab>
          <mdw-fab extended color=tertiary-container icon=edit>Compose</mdw-fab>
        </mdw-box>
        ">
          <mdw-box row gap=8 x=center wrap>
            <mdw-fab extended icon=edit>Compose</mdw-fab>
            <mdw-fab extended color=secondary-container icon=edit>Compose</mdw-fab>
            <mdw-fab extended color=tertiary-container icon=edit>Compose</mdw-fab>
          </mdw-box>
        </demo-preview-card>

        <demo-preview-card label="Without Icon" col-span=8 col-span-12=6 code="
        <mdw-box row gap=8 x=center wrap>
          <mdw-fab extended color=yellow>Compose</mdw-fab>
          <mdw-fab extended color=green>Compose</mdw-fab>
          <mdw-fab extended color=alias>Compose</mdw-fab>
        </mdw-box>
        ">
          <mdw-box row gap=8 x=center wrap>
            <mdw-fab extended color=yellow>Compose</mdw-fab>
            <mdw-fab extended color=green>Compose</mdw-fab>
            <mdw-fab extended color=alias>Compose</mdw-fab>
          </mdw-box>
        </demo-preview-card>

      </mdw-grid>

      <mdw-box x=stretch role=region gap=16>
        <mdw-headline text-padding=0>Icon buttons</mdw-headline>
        <mdw-grid gap=16 role=region y=stretch>
          <mdw-headline size=medium text-padding=0>Filled icon buttons</mdw-headline>

          <demo-preview-card label="No toggle" col-span=8 col-span-12=6 code="
          <mdw-box row gap=8 x=center wrap>
            <mdw-icon-button filled icon=settings>Settings</mdw-icon-button>
            <mdw-icon-button filled color=tertiary icon=favorite>Favorite</mdw-icon-button>
            <mdw-icon-button filled color=yellow icon=edit>Edit</mdw-icon-button>
          </mdw-box>
          <mdw-box row gap=8 x=center wrap col-span=8 col-span-12=6>
            <mdw-icon-button disabled filled icon=settings>Settings</mdw-icon-button>
            <mdw-icon-button disabled filled color=tertiary icon=favorite>Favorite</mdw-icon-button>
            <mdw-icon-button disabled filled color=yellow icon=edit>Edit</mdw-icon-button>
          </mdw-box>
          ">
            <mdw-box row gap=8 x=center wrap>
              <mdw-icon-button filled icon=settings>Settings</mdw-icon-button>
              <mdw-icon-button filled color=tertiary icon=favorite>Favorite</mdw-icon-button>
              <mdw-icon-button filled color=yellow icon=edit>Edit</mdw-icon-button>
            </mdw-box>
            <mdw-box row gap=8 x=center wrap col-span=8 col-span-12=6>
              <mdw-icon-button disabled filled icon=settings>Settings</mdw-icon-button>
              <mdw-icon-button disabled filled color=tertiary icon=favorite>Favorite</mdw-icon-button>
              <mdw-icon-button disabled filled color=yellow icon=edit>Edit</mdw-icon-button>
            </mdw-box>
          </demo-preview-card>

          <demo-preview-card label="Toggle" col-span=8 col-span-12=6 code="
          <mdw-box row gap=8 x=center wrap>
            <mdw-icon-button filled type=checkbox icon=settings>Default</mdw-icon-button>
            <mdw-icon-button filled type=checkbox checked icon=settings>Default (Checked)</mdw-icon-button>
            <mdw-icon-button filled type=checkbox color=tertiary icon=favorite>Tertiary</mdw-icon-button>
            <mdw-icon-button filled type=checkbox checked color=tertiary icon=favorite>Tertiary (Checked)</mdw-icon-button>
            <mdw-icon-button filled type=checkbox color=yellow icon=edit>Yellow</mdw-icon-button>
            <mdw-icon-button filled type=checkbox checked color=yellow icon=edit>Yellow (Checked)</mdw-icon-button>
          </mdw-box>
          <mdw-box row gap=8 x=center wrap>
            <mdw-icon-button filled disabled type=checkbox icon=settings>Default</mdw-icon-button>
            <mdw-icon-button filled disabled type=checkbox checked icon=settings>Default (Checked)</mdw-icon-button>
            <mdw-icon-button filled disabled type=checkbox color=tertiary icon=favorite>Tertiary</mdw-icon-button>
            <mdw-icon-button filled disabled type=checkbox checked color=tertiary icon=favorite>Tertiary (Checked)</mdw-icon-button>
            <mdw-icon-button filled disabled type=checkbox color=yellow icon=edit>Yellow</mdw-icon-button>
            <mdw-icon-button filled disabled type=checkbox checked color=yellow icon=edit>Yellow (Checked)</mdw-icon-button>
          </mdw-box>
          ">
            <mdw-box row gap=8 x=center wrap>
              <mdw-icon-button filled type=checkbox icon="settings">Default</mdw-icon-button>
              <mdw-icon-button filled type=checkbox checked icon="settings">Default (Checked)</mdw-icon-button>
              <mdw-icon-button filled type=checkbox color=tertiary icon="favorite">Tertiary</mdw-icon-button>
              <mdw-icon-button filled type=checkbox checked color=tertiary icon="favorite">Tertiary
                (Checked)</mdw-icon-button>
              <mdw-icon-button filled type=checkbox color=yellow icon="edit">Yellow</mdw-icon-button>
              <mdw-icon-button filled type=checkbox checked color=yellow icon="edit">Yellow (Checked)</mdw-icon-button>
            </mdw-box>
            <mdw-box row gap=8 x=center wrap>
              <mdw-icon-button filled disabled type=checkbox icon="settings">Default</mdw-icon-button>
              <mdw-icon-button filled disabled type=checkbox checked icon="settings">Default (Checked)</mdw-icon-button>
              <mdw-icon-button filled disabled type=checkbox color=tertiary icon="favorite">Tertiary</mdw-icon-button>
              <mdw-icon-button filled disabled type=checkbox checked color=tertiary icon="favorite">Tertiary
                (Checked)</mdw-icon-button>
              <mdw-icon-button filled disabled type=checkbox color=yellow icon="edit">Yellow</mdw-icon-button>
              <mdw-icon-button filled disabled type=checkbox checked color=yellow icon="edit">Yellow
                (Checked)</mdw-icon-button>
            </mdw-box>
          </demo-preview-card>

        </mdw-grid>

        <mdw-grid gap=16 role=region y=stretch>
          <mdw-headline size=medium text-padding=0>Filled tonal icon buttons</mdw-headline>

          <demo-preview-card label="No toggle" col-span=8 col-span-12=6 code="
          <mdw-box row gap=8 x=center wrap>
            <mdw-icon-button filled=tonal icon=settings>Default</mdw-icon-button>
            <mdw-icon-button filled=tonal color=tertiary-container icon=favorite>Tertiary Container</mdw-icon-button>
            <mdw-icon-button filled=tonal color=yellow-container icon=edit>Yellow Container</mdw-icon-button>
          </mdw-box>
          <mdw-box row gap=8 x=center wrap>
            <mdw-icon-button filled=tonal disabled icon=settings>Default</mdw-icon-button>
            <mdw-icon-button filled=tonal disabled color=tertiary-container icon=favorite>Tertiary Container</mdw-icon-button>
            <mdw-icon-button filled=tonal disabled color=yellow-container icon=edit>Yellow Container</mdw-icon-button>
          </mdw-box>
          ">
            <mdw-box row gap=8 x=center wrap>
              <mdw-icon-button filled=tonal icon="settings">Default</mdw-icon-button>
              <mdw-icon-button filled=tonal color=tertiary-container icon="favorite">Tertiary
                Container</mdw-icon-button>
              <mdw-icon-button filled=tonal color=yellow-container icon="edit">Yellow Container</mdw-icon-button>
            </mdw-box>
            <mdw-box row gap=8 x=center wrap>
              <mdw-icon-button filled=tonal disabled icon="settings">Default</mdw-icon-button>
              <mdw-icon-button filled=tonal disabled color=tertiary-container icon="favorite">Tertiary
                Container</mdw-icon-button>
              <mdw-icon-button filled=tonal disabled color=yellow-container icon="edit">Yellow
                Container</mdw-icon-button>
            </mdw-box>
          </demo-preview-card>

          <demo-preview-card label="Toggle" col-span=8 col-span-12=6 code="
          <mdw-box row gap=8 x=center wrap>
            <mdw-icon-button filled=tonal type=checkbox icon=settings>Default</mdw-icon-button>
            <mdw-icon-button filled=tonal type=checkbox checked icon=settings>Default (Checked)</mdw-icon-button>
            <mdw-icon-button filled=tonal type=checkbox color=tertiary-container icon=favorite>Tertiary Container</mdw-icon-button>
            <mdw-icon-button filled=tonal type=checkbox checked color=tertiary-container icon=favorite>Tertiary Container (Checked)</mdw-icon-button>
            <mdw-icon-button filled=tonal type=checkbox color=yellow-container icon=edit>Yellow Container</mdw-icon-button>
            <mdw-icon-button filled=tonal type=checkbox checked color=yellow-container icon=edit>Yellow Container (Checked)</mdw-icon-button>
          </mdw-box>
          <mdw-box row gap=8 x=center wrap>
            <mdw-icon-button disabled filled=tonal type=checkbox icon=settings>Default</mdw-icon-button>
            <mdw-icon-button disabled filled=tonal type=checkbox checked icon=settings>Default (Checked)</mdw-icon-button>
            <mdw-icon-button disabled filled=tonal type=checkbox color=tertiary-container icon=favorite>Tertiary Container</mdw-icon-button>
            <mdw-icon-button disabled filled=tonal type=checkbox checked color=tertiary-container icon=favorite>Tertiary Container (Checked)</mdw-icon-button>
            <mdw-icon-button disabled filled=tonal type=checkbox color=yellow-container icon=edit>Yellow Container</mdw-icon-button>
            <mdw-icon-button disabled filled=tonal type=checkbox checked color=yellow-container icon=edit>Yellow Container (Checked)</mdw-icon-button>
          </mdw-box>
          ">
            <mdw-box row gap=8 x=center wrap>
              <mdw-icon-button filled=tonal type=checkbox icon="settings">Default</mdw-icon-button>
              <mdw-icon-button filled=tonal type=checkbox checked icon="settings">Default (Checked)</mdw-icon-button>
              <mdw-icon-button filled=tonal type=checkbox color=tertiary-container icon="favorite">Tertiary
                Container</mdw-icon-button>
              <mdw-icon-button filled=tonal type=checkbox checked color=tertiary-container icon="favorite">Tertiary
                Container (Checked)</mdw-icon-button>
              <mdw-icon-button filled=tonal type=checkbox color=yellow-container icon="edit">Yellow
                Container</mdw-icon-button>
              <mdw-icon-button filled=tonal type=checkbox checked color=yellow-container icon="edit">Yellow Container
                (Checked)</mdw-icon-button>
            </mdw-box>
            <mdw-box row gap=8 x=center wrap>
              <mdw-icon-button disabled filled=tonal type=checkbox icon="settings">Default</mdw-icon-button>
              <mdw-icon-button disabled filled=tonal type=checkbox checked icon="settings">Default
                (Checked)</mdw-icon-button>
              <mdw-icon-button disabled filled=tonal type=checkbox color=tertiary-container icon="favorite">Tertiary
                Container</mdw-icon-button>
              <mdw-icon-button disabled filled=tonal type=checkbox checked color=tertiary-container
                icon="favorite">Tertiary Container (Checked)</mdw-icon-button>
              <mdw-icon-button disabled filled=tonal type=checkbox color=yellow-container icon="edit">Yellow
                Container</mdw-icon-button>
              <mdw-icon-button disabled filled=tonal type=checkbox checked color=yellow-container icon="edit">Yellow
                Container (Checked)</mdw-icon-button>
            </mdw-box>
          </demo-preview-card>
        </mdw-grid>

        <mdw-grid gap=16 role=region y=stretch>
          <mdw-headline size=medium text-padding=0>Outlined icon buttons</mdw-headline>

          <demo-preview-card label="No toggle" col-span=8 col-span-12=6 code="
          <mdw-box row gap=8 x=center wrap>
            <mdw-icon-button outlined icon=settings>Default</mdw-icon-button>
            <mdw-icon-button outlined ink=tertiary icon=favorite>Tertiary</mdw-icon-button>
            <mdw-icon-button outlined ink=yellow icon=edit>Yellow</mdw-icon-button>
          </mdw-box>
          <mdw-box row gap=8 x=center wrap>
            <mdw-icon-button disabled outlined icon=settings>Default</mdw-icon-button>
            <mdw-icon-button disabled outlined ink=tertiary icon=favorite>Tertiary</mdw-icon-button>
            <mdw-icon-button disabled outlined ink=yellow icon=edit>Yellow</mdw-icon-button>
          </mdw-box>
          ">
            <mdw-box row gap=8 x=center wrap>
              <mdw-icon-button outlined icon="settings">Default</mdw-icon-button>
              <mdw-icon-button outlined ink=tertiary icon="favorite">Tertiary</mdw-icon-button>
              <mdw-icon-button outlined ink=yellow icon="edit">Yellow</mdw-icon-button>
            </mdw-box>
            <mdw-box row gap=8 x=center wrap>
              <mdw-icon-button disabled outlined icon="settings">Default</mdw-icon-button>
              <mdw-icon-button disabled outlined ink=tertiary icon="favorite">Tertiary</mdw-icon-button>
              <mdw-icon-button disabled outlined ink=yellow icon="edit">Yellow</mdw-icon-button>
            </mdw-box>
          </demo-preview-card>

          <demo-preview-card label="Toggle" col-span=8 col-span-12=6 code="
          <mdw-box row gap=8 x=center wrap>
            <mdw-icon-button outlined type=checkbox icon=settings>Default</mdw-icon-button>
            <mdw-icon-button outlined type=checkbox checked icon=settings>Default (Checked)</mdw-icon-button>
            <mdw-icon-button outlined type=checkbox color=tertiary icon=favorite>Tertiary</mdw-icon-button>
            <mdw-icon-button outlined type=checkbox checked color=tertiary icon=favorite>Tertiary (Checked)</mdw-icon-button>
            <mdw-icon-button outlined type=checkbox color=yellow icon=edit>Yellow</mdw-icon-button>
            <mdw-icon-button outlined type=checkbox checked color=yellow icon=edit>Yellow (Checked)</mdw-icon-button>
          </mdw-box>
          <mdw-box row gap=8 x=center wrap>
            <mdw-icon-button disabled outlined type=checkbox icon=settings>Default</mdw-icon-button>
            <mdw-icon-button disabled outlined type=checkbox checked icon=settings>Default (Checked)</mdw-icon-button>
            <mdw-icon-button disabled outlined type=checkbox color=tertiary icon=favorite>Tertiary</mdw-icon-button>
            <mdw-icon-button disabled outlined type=checkbox checked color=tertiary icon=favorite>Tertiary (Checked)</mdw-icon-button>
            <mdw-icon-button disabled outlined type=checkbox color=yellow icon=edit>Yellow</mdw-icon-button>
            <mdw-icon-button disabled outlined type=checkbox checked color=yellow icon=edit>Yellow (Checked)</mdw-icon-button>
          </mdw-box>
          ">
            <mdw-box row gap=8 x=center wrap>
              <mdw-icon-button outlined type=checkbox icon="settings">Default</mdw-icon-button>
              <mdw-icon-button outlined type=checkbox checked icon="settings">Default (Checked)</mdw-icon-button>
              <mdw-icon-button outlined type=checkbox color=tertiary icon="favorite">Tertiary</mdw-icon-button>
              <mdw-icon-button outlined type=checkbox checked color=tertiary icon="favorite">Tertiary (Checked)
              </mdw-icon-button>
              <mdw-icon-button outlined type=checkbox color=yellow icon="edit">Yellow</mdw-icon-button>
              <mdw-icon-button outlined type=checkbox checked color=yellow icon="edit">Yellow
                (Checked)</mdw-icon-button>
            </mdw-box>
            <mdw-box row gap=8 x=center wrap>
              <mdw-icon-button disabled outlined type=checkbox icon="settings">Default</mdw-icon-button>
              <mdw-icon-button disabled outlined type=checkbox checked icon="settings">Default
                (Checked)</mdw-icon-button>
              <mdw-icon-button disabled outlined type=checkbox color=tertiary icon="favorite">Tertiary</mdw-icon-button>
              <mdw-icon-button disabled outlined type=checkbox checked color=tertiary icon="favorite">Tertiary
                (Checked)</mdw-icon-button>
              <mdw-icon-button disabled outlined type=checkbox color=yellow icon="edit">Yellow</mdw-icon-button>
              <mdw-icon-button disabled outlined type=checkbox checked color=yellow icon="edit">Yellow
                (Checked)</mdw-icon-button>
            </mdw-box>
          </demo-preview-card>
        </mdw-grid>

        <mdw-grid gap=16 role=region y=stretch>
          <mdw-headline size=medium text-padding=0>Standard icon buttons</mdw-headline>

          <demo-preview-card label="No toggle" col-span=8 col-span-12=6 code="
          <mdw-box row gap=8 x=center wrap>
            <mdw-icon-button icon=settings>Settings</mdw-icon-button>
            <mdw-icon-button ink=tertiary icon=favorite>Tertiary</mdw-icon-button>
            <mdw-icon-button ink=yellow icon=edit>Yellow</mdw-icon-button>
          </mdw-box>
          <mdw-box row gap=8 x=center wrap>
            <mdw-icon-button disabled icon=settings>Settings</mdw-icon-button>
            <mdw-icon-button disabled ink=tertiary icon=favorite>Tertiary</mdw-icon-button>
            <mdw-icon-button disabled ink=yellow icon=edit>Yellow</mdw-icon-button>
          </mdw-box>
          ">
            <mdw-box row gap=8 x=center wrap>
              <mdw-icon-button icon="settings">Settings</mdw-icon-button>
              <mdw-icon-button ink=tertiary icon="favorite">Tertiary</mdw-icon-button>
              <mdw-icon-button ink=yellow icon="edit">Yellow</mdw-icon-button>
            </mdw-box>
            <mdw-box row gap=8 x=center wrap>
              <mdw-icon-button disabled icon="settings">Settings</mdw-icon-button>
              <mdw-icon-button disabled ink=tertiary icon="favorite">Tertiary</mdw-icon-button>
              <mdw-icon-button disabled ink=yellow icon="edit">Yellow</mdw-icon-button>
            </mdw-box>
          </demo-preview-card>

          <demo-preview-card label="Toggle" col-span=8 col-span-12=6 code="
          <mdw-box row gap=8 x=center wrap>
            <mdw-icon-button type=checkbox icon=settings>Default</mdw-icon-button>
            <mdw-icon-button type=checkbox checked icon=settings>Default (Checked)</mdw-icon-button>
            <mdw-icon-button type=checkbox ink=tertiary icon=favorite>Tertiary</mdw-icon-button>
            <mdw-icon-button type=checkbox checked ink=tertiary icon=favorite>Tertiary (Checked)</mdw-icon-button>
            <mdw-icon-button type=checkbox ink=yellow icon=edit>Yellow</mdw-icon-button>
            <mdw-icon-button type=checkbox checked ink=yellow icon=edit>Yellow (Checked)</mdw-icon-button>
          </mdw-box>
          <mdw-box row gap=8 x=center wrap>
            <mdw-icon-button disabled type=checkbox icon=settings>Default</mdw-icon-button>
            <mdw-icon-button disabled type=checkbox checked icon=settings>Default (Checked)</mdw-icon-button>
            <mdw-icon-button disabled type=checkbox ink=tertiary icon=favorite>Tertiary</mdw-icon-button>
            <mdw-icon-button disabled type=checkbox checked ink=tertiary icon=favorite>Tertiary (Checked)</mdw-icon-button>
            <mdw-icon-button disabled type=checkbox ink=yellow icon=edit>Yellow</mdw-icon-button>
            <mdw-icon-button disabled type=checkbox checked ink=yellow icon=edit>Yellow (Checked)</mdw-icon-button>
          </mdw-box>
          ">
            <mdw-box row gap=8 x=center wrap>
              <mdw-icon-button type=checkbox icon="settings">Default</mdw-icon-button>
              <mdw-icon-button type=checkbox checked icon="settings">Default (Checked)</mdw-icon-button>
              <mdw-icon-button type=checkbox ink=tertiary icon="favorite">Tertiary</mdw-icon-button>
              <mdw-icon-button type=checkbox checked ink=tertiary icon="favorite">Tertiary (Checked)</mdw-icon-button>
              <mdw-icon-button type=checkbox ink=yellow icon="edit">Yellow</mdw-icon-button>
              <mdw-icon-button type=checkbox checked ink=yellow icon="edit">Yellow (Checked)</mdw-icon-button>
            </mdw-box>
            <mdw-box row gap=8 x=center wrap>
              <mdw-icon-button disabled type=checkbox icon="settings">Default</mdw-icon-button>
              <mdw-icon-button disabled type=checkbox checked icon="settings">Default (Checked)</mdw-icon-button>
              <mdw-icon-button disabled type=checkbox ink=tertiary icon="favorite">Tertiary</mdw-icon-button>
              <mdw-icon-button disabled type=checkbox checked ink=tertiary icon="favorite">Tertiary
                (Checked)</mdw-icon-button>
              <mdw-icon-button disabled type=checkbox ink=yellow icon="edit">Yellow</mdw-icon-button>
              <mdw-icon-button disabled type=checkbox checked ink=yellow icon="edit">Yellow (Checked)</mdw-icon-button>
            </mdw-box>
          </demo-preview-card>

        </mdw-grid>
      </mdw-box>

      <mdw-grid gap=16 role=region y=stretch x=stretch>
        <mdw-headline text-padding=0>Segmented buttons </mdw-headline>

        <demo-preview-card label="Single selection" code="
        <form>
          <mdw-segmented-button-group>
            <mdw-segmented-button name=segmented-demo value=favorite icon=favorite>Favorite</mdw-segmented-button>
            <mdw-segmented-button name=segmented-demo value=enabled icon=star>Enabled</mdw-segmented-button>
            <mdw-segmented-button name=segmented-demo value=disabled icon=edit disabled>Disabled</mdw-segmented-button>
            <mdw-segmented-button name=segmented-demo value=text>Text only</mdw-segmented-button>
          </mdw-segmented-button-group>
        </form>
        ">
          <form>
            <mdw-segmented-button-group>
              <mdw-segmented-button name=segmented-demo value=favorite icon=favorite>Favorite</mdw-segmented-button>
              <mdw-segmented-button name=segmented-demo value=enabled icon=star>Enabled</mdw-segmented-button>
              <mdw-segmented-button name=segmented-demo value=disabled icon=edit
                disabled>Disabled</mdw-segmented-button>
              <mdw-segmented-button name=segmented-demo value=text>Text only</mdw-segmented-button>
            </mdw-segmented-button-group>
          </form>
        </demo-preview-card>

        <demo-preview-card label="Single selection (Required)" code="
        <form>
          <mdw-segmented-button-group aria-required=true>
            <mdw-segmented-button name=segmented-demo-required required value=favorite checked icon=favorite>Favorite</mdw-segmented-button>
            <mdw-segmented-button name=segmented-demo-required required value=enabled icon=star>Enabled</mdw-segmented-button>
            <mdw-segmented-button name=segmented-demo-required required value=disabled icon=edit disabled>Disabled</mdw-segmented-button>
            <mdw-segmented-button name=segmented-demo-required required value=text>Text only</mdw-segmented-button>
          </mdw-segmented-button-group>
        </form>
        ">
          <form>
            <mdw-segmented-button-group aria-required=true>
              <mdw-segmented-button name=segmented-demo-required required value=favorite checked
                icon=favorite>Favorite</mdw-segmented-button>
              <mdw-segmented-button name=segmented-demo-required required value=enabled
                icon=star>Enabled</mdw-segmented-button>
              <mdw-segmented-button name=segmented-demo-required required value=disabled icon=edit
                disabled>Disabled</mdw-segmented-button>
              <mdw-segmented-button name=segmented-demo-required required value=text>Text only</mdw-segmented-button>
            </mdw-segmented-button-group>
          </form>
        </demo-preview-card>

        <demo-preview-card label="Multi-selectable" code="
        <form>
          <mdw-segmented-button-group color=alias-container aria-multiselectable=true>
            <mdw-segmented-button type=checkbox checked icon=favorite>Favorite</mdw-segmented-button>
            <mdw-segmented-button type=checkbox checked icon=star>Enabled</mdw-segmented-button>
            <mdw-segmented-button type=checkbox icon=edit disabled>Disabled</mdw-segmented-button>
            <mdw-segmented-button type=checkbox>Text only</mdw-segmented-button>
          </mdw-segmented-button-group>
        </form>
        ">
          <form>
            <mdw-segmented-button-group color=alias-container aria-multiselectable=true>
              <mdw-segmented-button type=checkbox checked icon=favorite>Favorite</mdw-segmented-button>
              <mdw-segmented-button type=checkbox checked icon=star>Enabled</mdw-segmented-button>
              <mdw-segmented-button type=checkbox icon=edit disabled>Disabled</mdw-segmented-button>
              <mdw-segmented-button type=checkbox>Text only</mdw-segmented-button>
            </mdw-segmented-button-group>
          </form>
        </demo-preview-card>

        <demo-preview-card label="Text-only" code="
        <form>
          <mdw-segmented-button-group color=tertiary-container>
            <mdw-segmented-button name=demo-segmented-text value=$ checked>$</mdw-segmented-button>
            <mdw-segmented-button name=demo-segmented-text value=$$>$$</mdw-segmented-button>
            <mdw-segmented-button name=demo-segmented-text value=$$$ disabled>$$$</mdw-segmented-button>
            <mdw-segmented-button name=demo-segmented-text value=$$$$>$$$$</mdw-segmented-button>
          </mdw-segmented-button-group>
        </form>
        ">
          <form>
            <mdw-segmented-button-group color=tertiary-container>
              <mdw-segmented-button name=demo-segmented-text value="$" checked>$</mdw-segmented-button>
              <mdw-segmented-button name=demo-segmented-text value="$$">$$</mdw-segmented-button>
              <mdw-segmented-button name=demo-segmented-text value="$$$" disabled>$$$</mdw-segmented-button>
              <mdw-segmented-button name=demo-segmented-text value="$$$$">$$$$</mdw-segmented-button>
            </mdw-segmented-button-group>
          </form>
        </demo-preview-card>

        <demo-preview-card label="Multi-selectable text-only" code="
        <form>
          <mdw-segmented-button-group color=alias-container aria-multiselectable=true>
            <mdw-segmented-button type=checkbox checked>$</mdw-segmented-button>
            <mdw-segmented-button type=checkbox>$$</mdw-segmented-button>
            <mdw-segmented-button type=checkbox disabled>$$$</mdw-segmented-button>
            <mdw-segmented-button type=checkbox checked>$$$$</mdw-segmented-button>
          </mdw-segmented-button-group>
        </form>
        ">
          <form>
            <mdw-segmented-button-group color=alias-container aria-multiselectable=true>
              <mdw-segmented-button type=checkbox checked>$</mdw-segmented-button>
              <mdw-segmented-button type=checkbox>$$</mdw-segmented-button>
              <mdw-segmented-button type=checkbox disabled>$$$</mdw-segmented-button>
              <mdw-segmented-button type=checkbox checked>$$$$</mdw-segmented-button>
            </mdw-segmented-button-group>
          </form>
        </demo-preview-card>

      </mdw-grid>
    </mdw-box>
  </demo-page>
</body>

</html>
