<!DOCTYPE html>
<html lang="en">

<head>
  <title>Progress Indicators</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
  <link rel="stylesheet" href="../theme.css" />

  <script src="../demo.min.js"></script>
</head>

<body>
  <demo-page>
    <mdw-box gap=16 padding=pane>
      <mdw-grid gap=16 role=region y=stretch>

        <demo-preview-card label="Linear" col-span=12 code="
  &lt;mdw-progress ink=&quot;primary&quot;&gt;&lt;/mdw-progress&gt;
  &lt;mdw-progress value=&quot;30&quot; ink=&quot;secondary&quot;&gt;&lt;/mdw-progress&gt;
  &lt;mdw-progress value=&quot;60&quot; auto-hide ink=&quot;tertiary&quot;&gt;&lt;/mdw-progress&gt;
">
          <mdw-box padding=24 gap=24 style="width:100%">
            <mdw-progress ink="primary"></mdw-progress>
            <mdw-progress value="30" ink="secondary"></mdw-progress>
            <mdw-progress value="60" auto-hide ink="tertiary"></mdw-progress>
          </mdw-box>
        </demo-preview-card>

        <demo-preview-card label="Circular" col-span=12 code="
  &lt;mdw-progress circle ink=&quot;primary&quot;&gt;&lt;/mdw-progress&gt;
  &lt;mdw-progress circle value=&quot;30&quot; ink=&quot;secondary&quot;&gt;&lt;/mdw-progress&gt;
  &lt;mdw-progress circle value=&quot;60&quot; auto-hide ink=&quot;tertiary&quot;&gt;&lt;/mdw-progress&gt;
">
          <mdw-box row padding=24 gap=24>
            <mdw-progress circle ink="primary"></mdw-progress>
            <mdw-progress circle value="30" ink="secondary"></mdw-progress>
            <mdw-progress circle value="60" auto-hide ink="tertiary"></mdw-progress>
          </mdw-box>
        </demo-preview-card>

      </mdw-grid>
    </mdw-box>
  </demo-page>
</body>

</html>
