<!DOCTYPE html>
<html lang="en">

<head>
  <title>Text Select</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
  <link rel="stylesheet" href="../theme.css" />

  <script src="../demo.min.js"></script>
</head>

<body>
  <demo-page>
    <mdw-box gap=16 padding=pane>
      <mdw-grid gap=16 role=region y=stretch>

        <demo-preview-card label="Filled" col-span=12 code="
        &lt;mdw-box flex=column x=stretch gap=16 padding=24&gt;
          &lt;mdw-select filled label=&quot;Fruits&quot;&gt;
            &lt;option value=&quot;Apple&quot;&gt;Apple&lt;/option&gt;
            &lt;option value=&quot;Banana&quot; selected&gt;Banana&lt;/option&gt;
            &lt;option value=&quot;Grape&quot;&gt;Grape&lt;/option&gt;
            &lt;option value=&quot;Pear&quot;&gt;Pear&lt;/option&gt;
          &lt;/mdw-select&gt;
          &lt;mdw-select filled placeholder=&quot;Placeholder only&quot; aria-label=&quot;Blank&quot;&gt;
            &lt;option value=&quot;Apple&quot;&gt;Apple&lt;/option&gt;
            &lt;option value=&quot;Banana&quot; selected&gt;Banana&lt;/option&gt;
            &lt;option value=&quot;Grape&quot;&gt;Grape&lt;/option&gt;
            &lt;option value=&quot;Pear&quot;&gt;Pear&lt;/option&gt;
          &lt;/mdw-select&gt;
          &lt;mdw-select filled ink=tertiary label=&quot;Ink only&quot;&gt;
            &lt;option value=&quot;Apple&quot;&gt;Apple&lt;/option&gt;
            &lt;option value=&quot;Banana&quot; selected&gt;Banana&lt;/option&gt;
            &lt;option value=&quot;Grape&quot;&gt;Grape&lt;/option&gt;
            &lt;option value=&quot;Pear&quot;&gt;Pear&lt;/option&gt;
          &lt;/mdw-select&gt;
          &lt;mdw-select filled color=secondary-container ink=secondary value=&quot;default value&quot; label=&quot;Label&quot;&gt;
            &lt;option value=&quot;Apple&quot;&gt;Apple&lt;/option&gt;
            &lt;option value=&quot;Banana&quot; selected&gt;Banana&lt;/option&gt;
            &lt;option value=&quot;Grape&quot;&gt;Grape&lt;/option&gt;
            &lt;option value=&quot;Pear&quot;&gt;Pear&lt;/option&gt;
          &lt;/mdw-select&gt;
        &lt;/mdw-box&gt;
        ">
          <mdw-box flex=column x=stretch gap=16 padding=24>
            <mdw-select filled label="Fruits">
              <option value="Apple">Apple</option>
              <option value="Banana" selected>Banana</option>
              <option value="Grape">Grape</option>
              <option value="Pear">Pear</option>
            </mdw-select>
            <mdw-select filled placeholder="Placeholder only" aria-label="Blank">
              <option value="Apple">Apple</option>
              <option value="Banana" selected>Banana</option>
              <option value="Grape">Grape</option>
              <option value="Pear">Pear</option>
            </mdw-select>
            <mdw-select filled ink=tertiary label="Ink only">
              <option value="Apple">Apple</option>
              <option value="Banana" selected>Banana</option>
              <option value="Grape">Grape</option>
              <option value="Pear">Pear</option>
            </mdw-select>
            <mdw-select filled color=secondary-container ink=secondary value="default value" label="Label">
              <option value="Apple">Apple</option>
              <option value="Banana" selected>Banana</option>
              <option value="Grape">Grape</option>
              <option value="Pear">Pear</option>
            </mdw-select>
          </mdw-box>
        </demo-preview-card>

        <demo-preview-card label="Outlined" col-span=12 code="
        &lt;mdw-box flex=column x=stretch gap=16 padding=24&gt;
          &lt;mdw-select outlined label=&quot;Fruits&quot;&gt;
            &lt;option value=&quot;Apple&quot;&gt;Apple&lt;/option&gt;
            &lt;option value=&quot;Banana&quot; selected&gt;Banana&lt;/option&gt;
            &lt;option value=&quot;Grape&quot;&gt;Grape&lt;/option&gt;
            &lt;option value=&quot;Pear&quot;&gt;Pear&lt;/option&gt;
          &lt;/mdw-select&gt;
          &lt;mdw-select outlined placeholder=&quot;Placeholder only&quot; aria-label=&quot;Blank&quot;&gt;
            &lt;option value=&quot;Apple&quot;&gt;Apple&lt;/option&gt;
            &lt;option value=&quot;Banana&quot; selected&gt;Banana&lt;/option&gt;
            &lt;option value=&quot;Grape&quot;&gt;Grape&lt;/option&gt;
            &lt;option value=&quot;Pear&quot;&gt;Pear&lt;/option&gt;
          &lt;/mdw-select&gt;
          &lt;mdw-select outlined ink=tertiary label=&quot;Ink only&quot;&gt;
            &lt;option value=&quot;Apple&quot;&gt;Apple&lt;/option&gt;
            &lt;option value=&quot;Banana&quot; selected&gt;Banana&lt;/option&gt;
            &lt;option value=&quot;Grape&quot;&gt;Grape&lt;/option&gt;
            &lt;option value=&quot;Pear&quot;&gt;Pear&lt;/option&gt;
          &lt;/mdw-select&gt;
        &lt;/mdw-box&gt;
        ">
          <mdw-box flex=column x=stretch gap=16 padding=24>
            <mdw-select outlined label="Fruits">
              <option value="Apple">Apple</option>
              <option value="Banana" selected>Banana</option>
              <option value="Grape">Grape</option>
              <option value="Pear">Pear</option>
            </mdw-select>
            <mdw-select outlined placeholder="Placeholder only" aria-label="Blank">
              <option value="Apple">Apple</option>
              <option value="Banana" selected>Banana</option>
              <option value="Grape">Grape</option>
              <option value="Pear">Pear</option>
            </mdw-select>
            <mdw-select outlined ink=tertiary label="Ink only">
              <option value="Apple">Apple</option>
              <option value="Banana" selected>Banana</option>
              <option value="Grape">Grape</option>
              <option value="Pear">Pear</option>
            </mdw-select>
          </mdw-box>
        </demo-preview-card>

        <demo-preview-card label="Bare" col-span=12 code="
        &lt;mdw-box flex=column x=stretch gap=16 padding=24&gt;
          &lt;mdw-select label=&quot;Fruits&quot;&gt;
            &lt;option value=&quot;Apple&quot;&gt;Apple&lt;/option&gt;
            &lt;option value=&quot;Banana&quot; selected&gt;Banana&lt;/option&gt;
            &lt;option value=&quot;Grape&quot;&gt;Grape&lt;/option&gt;
            &lt;option value=&quot;Pear&quot;&gt;Pear&lt;/option&gt;
          &lt;/mdw-select&gt;
          &lt;mdw-select placeholder=&quot;Placeholder only&quot; aria-label=&quot;Blank&quot;&gt;
            &lt;option value=&quot;Apple&quot;&gt;Apple&lt;/option&gt;
            &lt;option value=&quot;Banana&quot; selected&gt;Banana&lt;/option&gt;
            &lt;option value=&quot;Grape&quot;&gt;Grape&lt;/option&gt;
            &lt;option value=&quot;Pear&quot;&gt;Pear&lt;/option&gt;
          &lt;/mdw-select&gt;
          &lt;mdw-select ink=tertiary label=&quot;Ink only&quot;&gt;
            &lt;option value=&quot;Apple&quot;&gt;Apple&lt;/option&gt;
            &lt;option value=&quot;Banana&quot; selected&gt;Banana&lt;/option&gt;
            &lt;option value=&quot;Grape&quot;&gt;Grape&lt;/option&gt;
            &lt;option value=&quot;Pear&quot;&gt;Pear&lt;/option&gt;
          &lt;/mdw-select&gt;
        &lt;/mdw-box&gt;
        ">
          <mdw-box flex=column x=stretch gap=16 padding=24>
            <mdw-select label="Fruits">
              <option value="Apple">Apple</option>
              <option value="Banana" selected>Banana</option>
              <option value="Grape">Grape</option>
              <option value="Pear">Pear</option>
            </mdw-select>
            <mdw-select placeholder="Placeholder only" aria-label="Blank">
              <option value="Apple">Apple</option>
              <option value="Banana" selected>Banana</option>
              <option value="Grape">Grape</option>
              <option value="Pear">Pear</option>
            </mdw-select>
            <mdw-select ink=tertiary label="Ink only">
              <option value="Apple">Apple</option>
              <option value="Banana" selected>Banana</option>
              <option value="Grape">Grape</option>
              <option value="Pear">Pear</option>
            </mdw-select>
          </mdw-box>
        </demo-preview-card>

      </mdw-grid>
    </mdw-box>
  </demo-page>
</body>

</html>
