<!DOCTYPE html>
<html lang="en">

<head>
  <title>Shape</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
  <link rel="stylesheet" href="../theme.css" />
  <link rel="stylesheet" href="../demo.css" />
  <script src="../demo.min.js"></script>
</head>

<body>
  <demo-page>
    <mdw-box gap=16 padding=pane>
      <mdw-grid gap=16 role=region y=stretch>

        <demo-preview-card label="Shapes" col-span=12 code="
&lt;mdw-box x=stretch gap=24&gt;
  &lt;mdw-box row gap=12 wrap&gt;
    &lt;mdw-surface color=primary shape-style=extra-small padding=8&gt;Extra small&lt;/mdw-surface&gt;
    &lt;mdw-surface color=primary shape-style=small padding=8&gt;Small&lt;/mdw-surface&gt;
    &lt;mdw-surface color=primary shape-style=medium padding=8&gt;Medium&lt;/mdw-surface&gt;
    &lt;mdw-surface color=primary shape-style=large padding=8&gt;Large&lt;/mdw-surface&gt;
    &lt;mdw-surface color=primary shape-style=extra-large padding=8&gt;Extra large&lt;/mdw-surface&gt;
    &lt;mdw-surface color=primary shape-style=full padding=8&gt;Full&lt;/mdw-surface&gt;
  &lt;/mdw-box&gt;
  &lt;mdw-box row gap=12 wrap&gt;
    &lt;mdw-surface outlined ink=primary shape-style=extra-small padding=8&gt;Extra small&lt;/mdw-surface&gt;
    &lt;mdw-surface outlined ink=primary shape-style=small padding=8&gt;Small&lt;/mdw-surface&gt;
    &lt;mdw-surface outlined ink=primary shape-style=medium padding=8&gt;Medium&lt;/mdw-surface&gt;
    &lt;mdw-surface outlined ink=primary shape-style=large padding=8&gt;Large&lt;/mdw-surface&gt;
    &lt;mdw-surface outlined ink=primary shape-style=extra-large padding=8&gt;Extra large&lt;/mdw-surface&gt;
    &lt;mdw-surface outlined ink=primary shape-style=full padding=8&gt;Full&lt;/mdw-surface&gt;
  &lt;/mdw-box&gt;
  &lt;mdw-box row gap=12 wrap&gt;
    &lt;mdw-surface color=secondary shape-top shape-style=extra-small padding=8&gt;Extra small top&lt;/mdw-surface&gt;
    &lt;mdw-surface color=secondary shape-top shape-style=small padding=8&gt;Small top&lt;/mdw-surface&gt;
    &lt;mdw-surface color=secondary shape-top shape-style=medium padding=8&gt;Medium top&lt;/mdw-surface&gt;
    &lt;mdw-surface color=secondary shape-top shape-style=large padding=8&gt;Large top&lt;/mdw-surface&gt;
    &lt;mdw-surface color=secondary shape-top shape-style=extra-large padding=8&gt;Extra large top&lt;/mdw-surface&gt;
  &lt;/mdw-box&gt;
  &lt;mdw-box row gap=12 wrap&gt;
    &lt;mdw-surface outlined shape-top shape-style=extra-small padding=8&gt;Extra small top&lt;/mdw-surface&gt;
    &lt;mdw-surface outlined shape-top shape-style=small padding=8&gt;Small top&lt;/mdw-surface&gt;
    &lt;mdw-surface outlined shape-top shape-style=medium padding=8&gt;Medium top&lt;/mdw-surface&gt;
    &lt;mdw-surface outlined shape-top shape-style=large padding=8&gt;Large top&lt;/mdw-surface&gt;
    &lt;mdw-surface outlined shape-top shape-style=extra-large padding=8&gt;Extra large top&lt;/mdw-surface&gt;
  &lt;/mdw-box&gt;
  &lt;mdw-box row gap=12 wrap&gt;
    &lt;mdw-surface color=secondary shape-end shape-style=extra-small padding=8&gt;Extra small end&lt;/mdw-surface&gt;
    &lt;mdw-surface color=secondary shape-end shape-style=small padding=8&gt;Small end&lt;/mdw-surface&gt;
    &lt;mdw-surface color=secondary shape-end shape-style=medium padding=8&gt;Medium end&lt;/mdw-surface&gt;
    &lt;mdw-surface color=secondary shape-end shape-style=large padding=8&gt;Large end&lt;/mdw-surface&gt;
    &lt;mdw-surface color=secondary shape-end shape-style=extra-large padding=8&gt;Extra large end&lt;/mdw-surface&gt;
  &lt;/mdw-box&gt;
  &lt;mdw-box row gap=12 wrap&gt;
    &lt;mdw-surface outlined shape-end shape-style=extra-small padding=8&gt;Extra small end&lt;/mdw-surface&gt;
    &lt;mdw-surface outlined shape-end shape-style=small padding=8&gt;Small end&lt;/mdw-surface&gt;
    &lt;mdw-surface outlined shape-end shape-style=medium padding=8&gt;Medium end&lt;/mdw-surface&gt;
    &lt;mdw-surface outlined shape-end shape-style=large padding=8&gt;Large end&lt;/mdw-surface&gt;
    &lt;mdw-surface outlined shape-end shape-style=extra-large padding=8&gt;Extra large end&lt;/mdw-surface&gt;
  &lt;/mdw-box&gt;
&lt;/mdw-box&gt;
        ">
          <mdw-box x=stretch gap=24>
            <mdw-box row gap=12 wrap>
              <mdw-surface color=primary shape-style=extra-small padding=8>Extra small</mdw-surface>
              <mdw-surface color=primary shape-style=small padding=8>Small</mdw-surface>
              <mdw-surface color=primary shape-style=medium padding=8>Medium</mdw-surface>
              <mdw-surface color=primary shape-style=large padding=8>Large</mdw-surface>
              <mdw-surface color=primary shape-style=extra-large padding=8>Extra large</mdw-surface>
              <mdw-surface color=primary shape-style=full padding=8>Full</mdw-surface>
            </mdw-box>
            <mdw-box row gap=12 wrap>
              <mdw-surface outlined ink=primary shape-style=extra-small padding=8>Extra small</mdw-surface>
              <mdw-surface outlined ink=primary shape-style=small padding=8>Small</mdw-surface>
              <mdw-surface outlined ink=primary shape-style=medium padding=8>Medium</mdw-surface>
              <mdw-surface outlined ink=primary shape-style=large padding=8>Large</mdw-surface>
              <mdw-surface outlined ink=primary shape-style=extra-large padding=8>Extra large</mdw-surface>
              <mdw-surface outlined ink=primary shape-style=full padding=8>Full</mdw-surface>
            </mdw-box>
            <mdw-box row gap=12 wrap>
              <mdw-surface color=secondary shape-top shape-style=extra-small padding=8>Extra small top</mdw-surface>
              <mdw-surface color=secondary shape-top shape-style=small padding=8>Small top</mdw-surface>
              <mdw-surface color=secondary shape-top shape-style=medium padding=8>Medium top</mdw-surface>
              <mdw-surface color=secondary shape-top shape-style=large padding=8>Large top</mdw-surface>
              <mdw-surface color=secondary shape-top shape-style=extra-large padding=8>Extra large top</mdw-surface>
            </mdw-box>
            <mdw-box row gap=12 wrap>
              <mdw-surface outlined shape-top shape-style=extra-small padding=8>Extra small top</mdw-surface>
              <mdw-surface outlined shape-top shape-style=small padding=8>Small top</mdw-surface>
              <mdw-surface outlined shape-top shape-style=medium padding=8>Medium top</mdw-surface>
              <mdw-surface outlined shape-top shape-style=large padding=8>Large top</mdw-surface>
              <mdw-surface outlined shape-top shape-style=extra-large padding=8>Extra large top</mdw-surface>
            </mdw-box>
            <mdw-box row gap=12 wrap>
              <mdw-surface color=secondary shape-end shape-style=extra-small padding=8>Extra small end</mdw-surface>
              <mdw-surface color=secondary shape-end shape-style=small padding=8>Small end</mdw-surface>
              <mdw-surface color=secondary shape-end shape-style=medium padding=8>Medium end</mdw-surface>
              <mdw-surface color=secondary shape-end shape-style=large padding=8>Large end</mdw-surface>
              <mdw-surface color=secondary shape-end shape-style=extra-large padding=8>Extra large end</mdw-surface>
            </mdw-box>
            <mdw-box row gap=12 wrap>
              <mdw-surface outlined shape-end shape-style=extra-small padding=8>Extra small end</mdw-surface>
              <mdw-surface outlined shape-end shape-style=small padding=8>Small end</mdw-surface>
              <mdw-surface outlined shape-end shape-style=medium padding=8>Medium end</mdw-surface>
              <mdw-surface outlined shape-end shape-style=large padding=8>Large end</mdw-surface>
              <mdw-surface outlined shape-end shape-style=extra-large padding=8>Extra large end</mdw-surface>
            </mdw-box>
          </mdw-box>
        </demo-preview-card>

        <demo-preview-card label="Samples" col-span=12 code="
&lt;mdw-box row gap=24 y=center wrap&gt;
  &lt;mdw-button filled&gt;Filled Button&lt;/mdw-button&gt;
  &lt;mdw-button outlined&gt;Outlined Button&lt;/mdw-button&gt;
  &lt;mdw-checkbox checked&gt;Checkbox&lt;/mdw-checkbox&gt;
  &lt;mdw-radio checked&gt;Radio&lt;/mdw-radio&gt;
  &lt;mdw-switch checked&gt;Switch&lt;/mdw-switch&gt;
  &lt;mdw-badge&gt;Badge&lt;/mdw-badge&gt;
  &lt;mdw-input outlined shape-style=full label=&quot;Outlined Text Field&quot;&gt;&lt;/mdw-input&gt;
  &lt;mdw-input filled shape-style=full label=&quot;Filled Text Field&quot;&gt;&lt;/mdw-input&gt;
  &lt;mdw-chip&gt;Chip&lt;/mdw-chip&gt;
&lt;/mdw-box&gt;
        ">
          <mdw-box row gap=24 y=center wrap>
            <mdw-button filled>Filled Button</mdw-button>
            <mdw-button outlined>Outlined Button</mdw-button>
            <mdw-checkbox checked>Checkbox</mdw-checkbox>
            <mdw-radio checked>Radio</mdw-radio>
            <mdw-switch checked>Switch</mdw-switch>
            <mdw-badge>Badge</mdw-badge>
            <mdw-input outlined shape-style=full label="Outlined Text Field"></mdw-input>
            <mdw-input filled shape-style=full label="Filled Text Field"></mdw-input>
            <mdw-chip>Chip</mdw-chip>
          </mdw-box>
        </demo-preview-card>

      </mdw-grid>
    </mdw-box>
  </demo-page>
</body>

</html>
