<!DOCTYPE html>
<html lang="en">

<head>
  <title>Typography</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
  <link rel="stylesheet" href="../theme.css" />

  <script src="../demo.min.js"></script>
</head>

<body>
  <demo-page>
    <mdw-box gap=16 padding=pane>
      <mdw-grid gap=16 role=region y=stretch>
        <demo-preview-card label="Type Styles" col-span=12 code="
&lt;mdw-box&gt;
  &lt;mdw-display text-padding=0.25em&gt;Display large&lt;/mdw-display&gt;
  &lt;mdw-display text-padding=0.25em size=medium&gt;Display medium&lt;/mdw-display&gt;
  &lt;mdw-display text-padding=0.25em size=small&gt;Display small&lt;/mdw-display&gt;
  &lt;mdw-headline text-padding=0.25em&gt;Headline large&lt;/mdw-headline&gt;
  &lt;mdw-headline text-padding=0.25em size=medium&gt;Headline medium&lt;/mdw-headline&gt;
  &lt;mdw-headline text-padding=0.25em size=small&gt;Headline small&lt;/mdw-headline&gt;
  &lt;mdw-title text-padding=0.25em&gt;Title large&lt;/mdw-title&gt;
  &lt;mdw-title text-padding=0.25em size=medium&gt;Title medium&lt;/mdw-title&gt;
  &lt;mdw-title text-padding=0.25em size=small&gt;Title small&lt;/mdw-title&gt;
  &lt;mdw-label text-padding=0.25em&gt;Label large&lt;/mdw-label&gt;
  &lt;mdw-label text-padding=0.25em size=medium&gt;Label medium&lt;/mdw-label&gt;
  &lt;mdw-label text-padding=0.25em size=small&gt;Label small&lt;/mdw-label&gt;
  &lt;mdw-body text-padding=0.25em&gt;Body large&lt;/mdw-body&gt;
  &lt;mdw-body text-padding=0.25em size=medium&gt;Body medium&lt;/mdw-body&gt;
  &lt;mdw-body text-padding=0.25em size=small&gt;Body small&lt;/mdw-body&gt;
&lt;/mdw-box&gt;
">
          <mdw-box>
            <mdw-display text-padding=0.25em>Display large</mdw-display>
            <mdw-display text-padding=0.25em size=medium>Display medium</mdw-display>
            <mdw-display text-padding=0.25em size=small>Display small</mdw-display>
            <mdw-headline text-padding=0.25em>Headline large</mdw-headline>
            <mdw-headline text-padding=0.25em size=medium>Headline medium</mdw-headline>
            <mdw-headline text-padding=0.25em size=small>Headline small</mdw-headline>
            <mdw-title text-padding=0.25em>Title large</mdw-title>
            <mdw-title text-padding=0.25em size=medium>Title medium</mdw-title>
            <mdw-title text-padding=0.25em size=small>Title small</mdw-title>
            <mdw-label text-padding=0.25em>Label large</mdw-label>
            <mdw-label text-padding=0.25em size=medium>Label medium</mdw-label>
            <mdw-label text-padding=0.25em size=small>Label small</mdw-label>
            <mdw-body text-padding=0.25em>Body large</mdw-body>
            <mdw-body text-padding=0.25em size=medium>Body medium</mdw-body>
            <mdw-body text-padding=0.25em size=small>Body small</mdw-body>
          </mdw-box>
        </demo-preview-card>
        <demo-preview-card label="Alignment Examples" col-span=12 code="
&lt;mdw-box block&gt;
  &lt;mdw-divider ink=primary&gt;&lt;/mdw-divider&gt;
  &lt;mdw-title text-leading=64 text-padding-bottom=20&gt;
    64sp leading and 20sp from baseline with &lt;mdw-icon icon=edit&gt;&lt;/mdw-icon&gt; icon.
  &lt;/mdw-title&gt;
  &lt;mdw-divider ink=primary&gt;&lt;/mdw-divider&gt;
  &lt;mdw-body text-padding-top=20 text-padding-bottom=20&gt;
    20sp padding from cap-height and 20sp from baseline.
    Supports text wrapping and multiple lines without affecting line-height.
    Uses &lt;em&gt;sp&lt;/em&gt; units to scale with root font size.
    Also supports CSS length values (eg: &lt;code&gt;16px&lt;/code&gt;;&nbsp;&lt;code&gt;4ex&lt;/code&gt;;&nbsp;&lt;code&gt;1em&lt;/code&gt;).
  &lt;/mdw-body&gt;
  &lt;mdw-divider ink=primary&gt;&lt;/mdw-divider&gt;
  &lt;mdw-divider ink=primary&gt;&lt;/mdw-divider&gt;
  &lt;mdw-body color=secondary-container text-padding-top=36 text-padding-bottom=36&gt;
    36sp padding from cap-height and 36sp from baseline.
    Bounding rectangle includes the padding to allow colored content
  &lt;/mdw-body&gt;
  &lt;mdw-divider ink=primary&gt;&lt;/mdw-divider&gt;
  &lt;mdw-box padding-y=24 gap=24 color=tertiary-container&gt;
    &lt;mdw-headline text-padding=0&gt;Evenly spaced 24px&lt;/mdw-headline&gt;
    &lt;mdw-title text-padding=0&gt;Regardless of mixed typography&lt;/mdw-title&gt;
    &lt;mdw-body text-padding=0&gt;
      This is one &lt;code&gt;mdw-body&lt;/code&gt; element with &lt;mdw-icon icon=edit&gt;&lt;/mdw-icon&gt; inline icons.
      All elements are easily placed inside one &lt;code&gt;mdw-box&lt;/code&gt; element.
      This is done completely with HTML attributes and Web Components without the need of custom author styles or Javascript.
    &lt;/mdw-body&gt;
  &lt;/mdw-box&gt;
  &lt;mdw-divider ink=primary&gt;&lt;/mdw-divider&gt;
&lt;/mdw-box&gt;
">
          <mdw-box block>
            <mdw-divider ink=primary></mdw-divider>
            <mdw-title text-leading=64 text-padding-bottom=20>
              64sp leading and 20sp from baseline with <mdw-icon icon=edit></mdw-icon> icon.
            </mdw-title>
            <mdw-divider ink=primary></mdw-divider>
            <mdw-body text-padding-top=20 text-padding-bottom=20>
              20sp padding from cap-height and 20sp from baseline.
              Supports text wrapping and multiple lines without affecting line-height.
              Uses <em>sp</em> units to scale with root font size.
              Also supports CSS length values (eg: <code>16px</code>; <code>4ex</code>; <code>1em</code>).
            </mdw-body>
            <mdw-divider ink=primary></mdw-divider>
            <mdw-divider ink=primary></mdw-divider>
            <mdw-body color=secondary-container text-padding-top=36 text-padding-bottom=36>
              36sp padding from cap-height and 36sp from baseline.
              Bounding rectangle includes the padding to allow colored content
            </mdw-body>
            <mdw-divider ink=primary></mdw-divider>
            <mdw-box padding-y=24 gap=24 color=tertiary-container>
              <mdw-headline text-padding=0>Evenly spaced 24px</mdw-headline>
              <mdw-title text-padding=0>Regardless of mixed typography</mdw-title>
              <mdw-body text-padding=0>
                This is one <code>mdw-body</code> element with <mdw-icon icon=edit></mdw-icon> inline icons.
                All elements are easily placed inside one <code>mdw-box</code> element.
                This is done completely with HTML attributes and Web Components
                without the need of custom author styles or Javascript.
              </mdw-body>
            </mdw-box>
            <mdw-divider ink=primary></mdw-divider>
          </mdw-box>
        </demo-preview-card>
      </mdw-grid>
    </mdw-box>
  </demo-page>
</body>

</html>
