// https://material.io/guidelines/components/textfields.html


@import '../../common/functions.scss';
@import '../../common/variables.scss';
@import '../../common/motion.scss';
@import '../../common/mixins.scss';


$label__padding-top: dp(16);
$label__padding-bottom: dp(8);
$label__font-size: sp(12);

$textarea__label__extra_padding-top: dp(10);
$textarea__label__padding-bottom: dp(10);

$border-line__height: dp(1);
$border-line__focused__height: dp(2);
$border-line__bottom-padding: dp(8);

$helper-text__font-size: sp(12);

$textarea__padding-start: dp(16);
$textarea__padding-end: dp(24);

$icon-signifier__width: dp(24);
$icon-signifier__padding-end: dp(16);



.mdw-textfield {
  position: relative;
  display: grid;
  justify-content: flex-start;
  // 1: Label
  // 1: Icon Prefix Input Suffix
  // 2: -----Borderline---------
  // 3: Helper/Error
  // 4: Dropdown
  grid-template-columns: auto auto minmax(88px, 1fr) auto;
  grid-template-rows: auto;
  align-items: baseline;
  flex-direction: column;
  font-size: sp(16);
}
.mdw-textfield__prefix {
  grid-column: 2;
  padding-right: 4px;
}
.mdw-textfield__suffix {
  grid-column: 4;
  padding-left: 4px;
}
.mdw-textfield__prefix,
.mdw-textfield__suffix {
  grid-row: 1;
  margin-top: calc(#{$label__padding-top} + #{$label__font-size} + #{$label__padding-bottom});
  
  // color: transparent;
  will-change: color;
  transition-property: color;
  transition-timing-function: $motion-easing-standard;
  transition-duration: $motion-duration-desktop-default;
  @include allHandsets {
    transition-duration: $motion-duration-mobile-default;
  }
  @include allTablets {
    transition-duration: $motion-duration-tablet-default;
  }
}

.mdw-textfield__label {
  // Default state is floating (ie/edge does not support placeholder-shown)
  padding: 0;
  margin: 0;
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: 5;
  -ms-grid-column-span: 5 - 2 + 1;

  align-self: flex-start;

  margin-top: $label__padding-top;
  height: $label__font-size;
  
  pointer-events: none; // allow clickthrough
  will-change: transform, font-size;
 
  transform: translateY(0);
  font-size: $label__font-size;
  transition-property: transform, font-size, grid-column-start;
  transition-timing-function: $motion-easing-standard;
  transition-duration: $motion-duration-desktop-default;
  @include allHandsets {
    transition-duration: $motion-duration-mobile-default;
  }
  @include allTablets {
    transition-duration: $motion-duration-tablet-default;
  }
  
  [mdw-box] > &,
  [mdw-textarea] > & {
    padding-top: $textarea__label__extra_padding-top;
    padding-left: $textarea__padding-start;
  }
}

.mdw-textfield__icon {
  grid-column: 1;
  grid-row: 1;
  margin-right: dp(20);
  align-self: flex-start;
  transform: translateY(#{$label__padding-top})
             translateY(#{$label__font-size})
             translateY(#{$label__padding-bottom});
}

.mdw-textfield__input {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  grid-column: 3;
  grid-row: 1;

  font-size: inherit;
  font-family: Roboto, sans-serif;
  font-weight: $font-weight-regular;
  appearance: none;

  padding-bottom: dp(8);

  min-width: 0; // Firefox CSS Grid fix

  // Offset from top = LabelTopPadding + LabelText + LabelBottomPadding + 8dp
  // Using padding-top causes overflowed text (multiline)
  margin-top: calc(#{$label__padding-top} + #{$label__font-size} + #{$label__padding-bottom});
  [mdw-solo] > & {
    margin-top: 0;
    padding-bottom: 0;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &::placeholder {
    will-change: color;
    transition-property: color;
    transition-timing-function: $motion-easing-standard;
    transition-delay: 1ms;
    transition-duration: $motion-duration-desktop-default;
    @include allHandsets {
      transition-duration: $motion-duration-mobile-default;
    }
    @include allTablets {
      transition-duration: $motion-duration-tablet-default;
    }
  }
  [mdw-box] > &,
  [mdw-textarea] > & {
    padding-left: $textarea__padding-start;
    padding-right: $textarea__padding-end;
    border-style: solid;
    // margin-top aligns border
    margin-top: $label__padding-top + $border-line__height;
    padding-top: calc(#{$label__font-size} + #{$label__padding-bottom} + #{$textarea__label__extra_padding-top});
    will-change: border-color;
    transition-property: border-color;
  }
  [mdw-box] > & {
    border-radius: dp(4);
    border-width: 0;
    border-bottom-width: $border-line__focused__height;
    margin-bottom: -$border-line__focused__height;
  }
  [mdw-textarea]:not([mdw-box]) > & {
    border-radius: dp(2);
    border-width: $border-line__height;
  }

  &:placeholder-shown ~ .mdw-textfield__label {
    transform: translateY($label__font-size) translateY($label__padding-bottom);
    font-size: inherit;
    // grid-column-start: 3;
    [mdw-textarea] > & {
      // Eyeballed due to lack of specs
      transform: translateY($label__font-size) translateY(-4px);
    }
    [mdw-box]:not([mdw-textarea]) > & {
      transform: translateY($label__font-size);
    }
  }
  &[mdw-value-empty] ~ .mdw-textfield__label {
    transform: translateY($label__font-size) translateY($label__padding-bottom);
    font-size: inherit;
    // grid-column-start: 3;
    [mdw-textarea] > & {
      // Eyeballed due to lack of specs
      transform: translateY($label__font-size) translateY(-4px);
    }
    [mdw-box]:not([mdw-textarea]) > & {
      transform: translateY($label__font-size);
    }
  }
}
textarea.mdw-textfield__input {
  resize: none;
  overflow-y: auto;
  &[mdw-multiline] {
    min-height: 1em;
    padding-right: 24px;
  }
}

select.mdw-textfield__input {
  // background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='16px' width='16px'> <text x='0' y='8' fill='black' font-size='16'>&#x25BE;</text></svg>");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  cursor: pointer;
  option {
    font-size: inherit;
    font-family: Roboto, sans-serif;
    font-weight: $font-weight-regular;
    appearance: none;
    &[value=""]:first-of-type {
      display: none;
    }
  }
  &::-ms-expand {
    // Remove IE11 dropdown button
    display: none;
  }
}

.mdw-textfield__border-line {
  grid-column-start: 2;
  grid-column-end: 5;
  -ms-grid-column-span: 5 - 2 + 1;
  grid-row: 2;
  
  [mdw-box] > &,
  [mdw-textarea] > & {
    display: none;
  }
  height: 0;
  margin-top: -$border-line__height;
  margin-bottom: $border-line__bottom-padding;
  border-top-style: solid;
  box-sizing: border-box;
  pointer-events: none;

  border-width: $border-line__height;

  &::before,
  &::after {
    content: "";
    display: block;
    transform: scaleX(0);
    border-top-style: solid;
    border-width: $border-line__focused__height;
    margin-top: -$border-line__focused__height;
    will-change: transform;
    transition-property: transform;
    transition-delay: 1ms;
  }
}

.mdw-textfield__error-text {
  transform: translateY(-$helper-text__font-size / 4);
}

.mdw-textfield__helper-text,
.mdw-textfield__error-text {
  font-size: $helper-text__font-size;
  grid-row: 3;
  grid-column-start: 2;
  grid-column-end: 5;
  -ms-grid-column-span: 5 - 2 + 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  [mdw-box] > &,
  [mdw-textarea] > & {
    padding-top: 8px;
  }
}

select.mdw-textfield__input:not(:focus)[mdw-value-empty] {
  & ~ .mdw-textfield__label {
    transform: translateY(0);
    font-size: $label__font-size;
  }
}

.mdw-textfield__dropdown {
  position: absolute;
  grid-row: 3;
  [mdw-box] > & {
    margin-top: 8px;
    grid-row: 2;
  }
  grid-column-start: 2;
  grid-column-end: 5;
  -ms-grid-column-span: 5 - 2 + 1;
  box-shadow: none;
  max-height: 0;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  transition-property: box-shadow, max-height;
  transition-duration: $motion-duration-desktop-leave;
  @include allHandsets {
    transition-duration: $motion-duration-mobile-leave;
  }
  @include allTablets {
    transition-duration: $motion-duration-tablet-leave;
  }
  &[mdw-type=list] {
    overflow-y: scroll;
  }
  &[mdw-show],
  &:active,
  input:focus ~ & {
    &:not([mdw-hide]) {
      &[mdw-type=list] {
        max-height: calc(300px);
      }
      transition-duration: $motion-duration-desktop-enter;
      @include allHandsets {
        transition-duration: $motion-duration-mobile-enter;
      }
      @include allTablets {
        transition-duration: $motion-duration-tablet-enter;
      }
      box-shadow: elevation(24);
    }
  }

}

// On Focus
.mdw-textfield:active > .mdw-textfield__input,
.mdw-textfield > .mdw-textfield__input:focus,
.mdw-textfield[mdw-box]:active > .mdw-textfield__input,
.mdw-textfield[mdw-box] > .mdw-textfield__input:focus {
  & ~ .mdw-textfield__label {
    transform: translateY(0);
    font-size: $label__font-size;
  }
  // Invalid
  &:invalid {
    & ~ .mdw-textfield__label {
      animation-name: labelShake;
      animation-duration: 250ms;
      animation-delay: $motion-duration-desktop-default;
      @include allHandsets {
        animation-delay: $motion-duration-mobile-default;
      }
      @include allTablets {
        animation-delay: $motion-duration-tablet-default;
      }
    }
  }
  & ~ .mdw-textfield__border-line::before,
  &:invalid ~ .mdw-textfield__border-line::after {
    transform: scaleX(1);
    transition-timing-function: $motion-easing-standard;
    transition-duration: $motion-duration-desktop-default;
    @include allHandsets {
      transition-duration: $motion-duration-mobile-default;
    }
    @include allTablets {
      transition-duration: $motion-duration-tablet-default;
    }
  }
}


// Hover or Focus
.mdw-textfield:active .mdw-textfield__input,
.mdw-textfield__input:focus,
.mdw-textfield__input:hover:not(:disabled) {
  [mdw-textarea]:not([mdw-box]) > & {
    border-width: $border-line__focused__height;
    margin-left: $border-line__height - $border-line__focused__height;
    margin-right: $border-line__height - $border-line__focused__height;
    margin-bottom: $border-line__height - $border-line__focused__height;
    margin-top: 16px;
  }
  & ~ .mdw-textfield__border-line {
    border-width: $border-line__focused__height;
    margin-top: -$border-line__focused__height;
  }
}

  // Disabled
.mdw-textfield__input:disabled {
  & ~ .mdw-textfield__border-line {
    border-style: dotted;
    // border-color: var(--disabled-color);
  }
}


.mdw-textfield__error-text {
  .mdw-textfield__input:focus:invalid ~ & {
    transform: translateY(0);
    will-change: transform, color;
    transition-property: transform, color;
    transition-timing-function: $motion-easing-standard;
    transition-duration: $motion-duration-desktop-default;
    @include allHandsets {
      transition-duration: $motion-duration-mobile-default;
    }
    @include allTablets {
      transition-duration: $motion-duration-tablet-default;
    }
  }
}

@keyframes labelShake {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(1ch);
  }
  66% {
    transform: translateX(-1ch);
  }
  100% {
    transform: translateX(0);
  }
}