// https://material.io/guidelines/layout/structure.html#structure-app-bar
// https://material.io/guidelines/components/toolbars.html

$toolbar-height-mobile-landscape: dp(48);
$toolbar-height-mobile-portrait: dp(56);
$toolbar-height-tablet: dp(56);
$toolbar-height-desktop: dp(56);

$toolbar-left-padding: dp(16);
$toolbar-right-padding: dp(16);
