@import '../common/functions.scss';
@import '../common/mixins.scss';

$toolbarColors: (
  text-color: ((#000, 0.87), (#fff, 1.00))
);


@function toolbarThemeValue($key, $type, $theme) {
  @return themeValue('toolbar', $toolbarColors, $key, $type, $theme);
}

@mixin toolbarThemeVariables($color, $lightness) {
  @include themeVariables('toolbar', $toolbarColors, $color, $lightness);
}

@mixin toolbarContrastRules($type: 'var', $theme: null) {
  @at-root {
    #{&}.mdw-toolbar {
      .mdw-toolbar__title,
      .mdw-toolbar__start,
      .mdw-toolbar__end {
        color: toolbarThemeValue("text-color", $type, $theme);
      }
    }
  }
}

// Varies by current color
@mixin toolbarColoredRules($value: "var(--color)") {
  // none
}

// Varies by theme
@mixin toolbarThemeRules($theme: null) {
  // none
}