// https://material.io/guidelines/patterns/navigation-drawer.html
// https://material.io/guidelines/layout/metrics-keylines.html#metrics-keylines-keylines-spacing

@import '../../common/functions.scss';
@import '../../common/motion.scss';
@import '../../common/variables.scss';

.mdw-navdrawer {
  height: 100%;
  width: 100%;
  display: grid;
  position: relative;
  overflow: hidden;
  grid-template-rows: auto 1fr 16px;
  grid-template-columns: auto 16px 1fr;
  transition-timing-function: $motion-easing-deceleration;
  transition-duration: $motion-duration-desktop-leave;
  @include allHandsets {
    transition-duration: $motion-duration-mobile-leave;
  }
  @include allTablets {
    transition-duration: $motion-duration-tablet-leave;
  }
  &:target,
  &[mdw-show]:not([mdw-hide]) {
    transition-timing-function: $motion-easing-acceleration;
    transition-duration: $motion-duration-desktop-enter;
    @include allHandsets {
      transition-duration: $motion-duration-mobile-enter;
    }
    @include allTablets {
      transition-duration: $motion-duration-tablet-enter;
    }
  }
}

.mdw-navdrawer__scrim {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 16;
  cursor: auto;
  pointer-events: none;
  background-color: transparent;
  transition-property: background-color;
  transition-timing-function: inherit;
  transition-duration: inherit;

  display: none;
}

.mdw-navdrawer__toolbar {
  grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-row-span: 1;
  grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-column-span: 2;
  .mdw-toolbar__start {
    display: none;
  }
}


.mdw-navdrawer__close {
  grid-row: 1;
  grid-column: 2;
  display: none;
  height: 40px;
  width: 40px;
  &,
  &.mdw-button {
    margin: 0;
    padding: 0;
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 8px;
  }
  align-self: flex-start;
  color: white !important;
}
.mdw-navdrawer__drawer {
  position: relative;
  align-self: flex-start;
  -ms-grid-row-align: start;
  z-index: 16;
  max-height: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-column-span: 1;
  grid-row-start: 1;
  grid-row-end: 4;
  -ms-grid-row-span: 3;
  max-width: calc(100% - 64px); // Tablet or Desktop
  @include allHandsets {
    max-width: calc(100% - 56px);
  }
  min-width: 100%;
  transform: translateX(0);
  box-shadow: elevation(0);
  transition-property: box-shadow, transform;
  transition-timing-function: inherit;
  transition-duration: inherit;
  pointer-events: auto;
  overflow-y: auto;
  border-style: solid;
  border-width: 0;
  border-right-width: 1px;
}

.mdw-navdrawer__content {
  position: relative;
  grid-row-start: 2;
  grid-row-end: 4;
  -ms-grid-row-span: 2;
  grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-column-span: 2;
  overflow-y: scroll;
}

.mdw-navdrawer__drawer .mdw-list__item[mdw-selected] {
  background-color: transparent;
  .mdw-list__icon,
  .mdw-list__text {
    color: inherit;
  }
}
.mdw-navdrawer__drawer .mdw-list__text {
  font-weight: $font-weight-medium;
  font-size: sp(14);
}

.mdw-navdrawer__drawer .mdw-list__subheader {
  font-weight: $font-weight-medium;
  font-size: sp(14);
}

.mdw-navdrawer__account {
  display: grid;
  grid-template-rows: auto minmax(64px, auto);
  grid-template-columns: auto minmax(0, 56px);
  position: relative;
  &::after {
    // Maintains a minimum 16:9 ratio
    content: '';
    grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-column-span: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-row-span: 2;
    width: auto;
    height: 0;
    padding-bottom: 56.25%;
  }
}

.mdw-navdrawer__avatars {
  grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-column-span: 2;
  grid-row: 1;
  align-self: flex-end;
  height: 64px;
  padding-top: 16px;
  padding-bottom: 4px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}

.mdw-navdrawer__avatars-current,
.mdw-navdrawer__avatars-others {
  > .mdw-button {
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
  }
}

.mdw-navdrawer__avatars-current {
  > .mdw-button {
    width: 64px;
    height: 64px;
  }
}

.mdw-navdrawer__avatars-others {
  display: flex;
  > .mdw-button {
    width: 40px;
    height: 40px;
    &:not(:last-child) {
      margin: 0 16px;
    }
  }
}

.mdw-navdrawer__image {
  grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-column-span: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  -ms-grid-row-span: 2;
  position: relative;
  // z-index: -1; // Safari has a negative z-index bug
  overflow: hidden;
  > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
}

.mdw-navdrawer__subtitle {
  grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-column-span: 2;
  grid-row: 2;
  position: relative;
  min-height: dp(56);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  align-items: flex-start;
  &,
  &.mdw-button {
    color: white !important;
    margin: 0 0 dp(8) 0;
  }
  &.mdw-button {
    align-items: flex-start;
    text-transform: none;
  }
}
.mdw-navdrawer__name {
  font-size: sp(14);
  font-weight: $font-weight-medium;
  color: inherit;
  text-overflow: ellipsis;
  overflow-x: hidden;
  max-width: 100%;
  box-sizing: border-box;
  &::after {
    content: '\25BE';
    position: absolute;
    bottom: 16px;
    right: 24px;
    font-size: 16px;
    padding: inherit;
    [dir=rtl] & {
      right: auto;
      left: 24px;
    }
  }
}

.mdw-navdrawer__email {
  font-size: sp(14);
  font-weight: $font-weight-regular;
  color: inherit;
  text-overflow: ellipsis;
  overflow-x: hidden;
  max-width: 100%;
  box-sizing: border-box;
  padding-right: 32px;
  [dir=rtl] & {
    padding-left: 32px;
    padding-right: 0;
  }
}


@mixin mdw-navdrawer__temporary {
  .mdw-navdrawer__content,
  .mdw-navdrawer__toolbar {
    grid-column-start: 1;
    -ms-grid-column-span: 4;
  }
  .mdw-navdrawer__toolbar .mdw-toolbar__start {
    display: flex;
  }
  .mdw-navdrawer__avatars {
    grid-column-end: 3;
    -ms-grid-column-span: 2;
    padding-right: 16px;
  }
  .mdw-navdrawer__close {
    display: none;
  }
  > .mdw-navdrawer__drawer {
    position: absolute;
    grid-row-start: 1;
    grid-column-end: 4;
    -ms-grid-column-span: 3;
    min-width: auto;
    box-shadow: elevation(0);
    transform: translateX(-100%);
    [dir=rtl] & {
      transform: translateX(100%);
    }
    border-right-width: 0;
    height: 100%;
    z-index: 16;
    margin: 0;
    border-radius: 0px;
  }
  > .mdw-navdrawer__scrim {
    display: block;
  }
}

@mixin mdw-navdrawer__temporary__shown {
  .mdw-navdrawer__close {
    display: none;
  }
  > .mdw-navdrawer__drawer {
    transform: translateX(0);
    box-shadow: elevation(16);
    grid-row-end: 4;
    -ms-grid-row-span: 3;
  }
  > .mdw-navdrawer__scrim {
    display: block;
    background-color: rgba(black, 0.50);
    cursor: pointer;
    pointer-events: auto;
  }
}

.mdw-navdrawer[mdw-mini] {
  .mdw-navdrawer__avatars {
    grid-column-end: 2;
    -ms-grid-column-span: 1;
    padding-right: 0;
  }
  > .mdw-navdrawer__close {
    display: flex;
  }
  &:not([mdw-show]):not(:target) {
    > .mdw-navdrawer__close {
      display: none;
    }
    .mdw-navdrawer__toolbar .mdw-toolbar__start {
      display: flex;
    }
    .mdw-navdrawer__image {
      display:none;
    }
    
    .mdw-navdrawer__account {
      // IE11 Grid does not center properly
      display: flex;
      justify-content: center;
    }
    .mdw-navdrawer__avatars {
      height: 32px;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
      justify-content: center;
      grid-column-end: 2;
      -ms-grid-column-span: 1;
    }
    
    .mdw-navdrawer__avatars-current {
      > .mdw-button {
        width: 32px;
        height: 32px;
      }
    }
    .mdw-navdrawer__avatars-others {
      display:none;
    }
    .mdw-list__subheader {
      display:none;
    }
    .mdw-list__divider {
      display: none;
    }
    .mdw-navdrawer__toolbar {
      grid-column-start: 1;
      -ms-grid-column-span: 3;
    }
    > .mdw-navdrawer__drawer {
      grid-row-start: 2;
      z-index: auto;
      > .mdw-list ~ .mdw-list {
        display: none;
      }
    }
    .mdw-navdrawer__account {
      grid-template-rows: auto;
      grid-template-columns: auto;
      &::after {
        content: none;
      }
    }
    .mdw-list__icon {
      justify-content: center;
      min-width: 100%;
      margin-top: 0;
      align-items: center;
      min-height: 56px;
    }
    .mdw-navdrawer__subtitle {
      display: none;
    }
    .mdw-list__text {
      display:none;
    }
  }
}

.mdw-navdrawer {
  &[mdw-floating] {
    > .mdw-navdrawer__drawer {
      border-right-width: 0;
      height: auto;
    }
  }
  &[mdw-floating=card] {
    > .mdw-navdrawer__content {
      grid-column-start:3;
    }
    > .mdw-navdrawer__drawer {
      grid-column-end: 2;
      -ms-grid-column-span: 1;
      margin: 8px;
      border-radius: dp(2);
      box-shadow: elevation(8);
      grid-row-end: 3;
      -ms-grid-row-span: 1;
    }
  }
  &[mdw-clipped],
  &[mdw-floating] {
    > .mdw-navdrawer__toolbar {
      grid-column-start: 1;
      -ms-grid-column-span: 3;
    }
    > .mdw-navdrawer__drawer {
      grid-row-start: 2;
      z-index: auto;
    }
  }
  &[mdw-temporary] {
    @include mdw-navdrawer__temporary;
    &:target,
    &[mdw-show]:not([mdw-hide]) {
      @include mdw-navdrawer__temporary__shown;
    }
  }
  &,
  &[mdw-mini],
  &[mdw-clipped],
  &[mdw-floating] {
    @media screen and (max-width: dp(1280) - 1){
      @include mdw-navdrawer__temporary;
      &:target,
      &[mdw-show]:not([mdw-hide]) {
        @include mdw-navdrawer__temporary__shown;
      }
    }
  }
}