// https://material.io/guidelines/patterns/navigation-drawer.html
// https://material.io/guidelines/layout/metrics-keylines.html#metrics-keylines-keylines-spacing

@import '../../common/functions.scss';
@import '../../common/motion.scss';
@import '../../common/variables.scss';

.mdw-navdrawer {
  height: 100%;
  width: 100%;
  display: grid;
  position: relative;
  overflow: hidden;
  grid-template-rows: minmax(0,auto) 1fr 16px;
  grid-template-columns: minmax(0,auto) 16px 1fr;
  transition-timing-function: $motion-easing-deceleration;
  transition-duration: $motion-duration-desktop-leave;
  @include allHandsets {
    transition-duration: $motion-duration-mobile-leave;
  }
  @include allTablets {
    transition-duration: $motion-duration-tablet-leave;
  }
  &:target,
  &[mdw-show]:not([mdw-hide]) {
    transition-timing-function: $motion-easing-acceleration;
    transition-duration: $motion-duration-desktop-enter;
    @include allHandsets {
      transition-duration: $motion-duration-mobile-enter;
    }
    @include allTablets {
      transition-duration: $motion-duration-tablet-enter;
    }
  }
}

.mdw-navdrawer__scrim {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 16;
  cursor: auto;
  pointer-events: none;
  background-color: transparent;
  transition-property: background-color;
  transition-timing-function: inherit;
  transition-duration: inherit;

  display: none;
}

.mdw-navdrawer__toolbar {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 4;
  .mdw-toolbar__start {
    display: none;
  }
}

.mdw-navdrawer__drawer {
  position: relative;
  align-self: flex-start;
  z-index: 16;
  max-height: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-end: 4;
  grid-row-start: 1;
  max-width: calc(100% - 64px); // Tablet or Desktop
  @include allHandsets {
    max-width: calc(100% - 56px);
  }
  min-width: 100%;
  transform: translateX(0);
  box-shadow: elevation(0);
  transition-property: box-shadow, transform;
  transition-timing-function: inherit;
  transition-duration: inherit;
  pointer-events: auto;
  overflow-y: scroll;
  border-style: solid;
  border-width: 0;
  border-right-width: 1px;
}

.mdw-navdrawer__content {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 4;
}

.mdw-navdrawer .mdw-list__text {
  font-weight: $font-weight-medium;
  font-size: sp(14);
}

.mdw-navdrawer .mdw-list__subheader {
  font-weight: $font-weight-medium;
  font-size: sp(14);
}

.mdw-navdrawer__account {
  display: grid;
  grid-template-rows: auto minmax(64px,auto);
  grid-template-columns: 100%;
  position: relative;
  &::after {
    // Maintains a minimum 16:9 ratio
    content: '';
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-row-span: 3;
    width: auto;
    height: 0;
    padding-bottom: 56.25%;
  }
}

.mdw-navdrawer__avatars {
  grid-column: 1;
  grid-row: 1;
  align-self: flex-end;
  height: 64px;
  padding-top: 16px;
  padding-bottom: 4px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}

.mdw-navdrawer__avatars-current {
  > .mdw-button {
    width: 64px;
    height: 64px;
  }
}

.mdw-navdrawer__avatars-others {
  display: flex;
  > .mdw-button {
    width: 40px;
    height: 40px;
    &:not(:last-child) {
      margin: 0 16px;
    }
  }
}

.mdw-navdrawer__image {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  -ms-grid-row-span: 3;
  position: relative;
  z-index: -1;
  overflow: hidden;
  > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
}

.mdw-navdrawer__subtitle {
  grid-column: 1;
  grid-row: 2;
  position: relative;
  min-height: dp(56);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  align-items: flex-start;
  &,
  &.mdw-button {
    color: white !important;
    margin: 0 0 dp(8) 0;
  }
  &.mdw-button {
    align-items: flex-start;
    text-transform: none;
  }
}
.mdw-navdrawer__name {
  font-family: Roboto, sans-serif;
  font-size: sp(14);
  font-weight: $font-weight-medium;
  color: inherit;
  text-overflow: ellipsis;
  overflow-x: hidden;
  max-width: 100%;
  box-sizing: border-box;
  &::after {
    content: '\25BE';
    position: absolute;
    bottom: 16px;
    right: 24px;
    font-size: 16px;
    padding: inherit;
    [dir=rtl] & {
      right: auto;
      left: 24px;
    }
  }
}

.mdw-navdrawer__email {
  font-family: Roboto, sans-serif;
  font-size: sp(14);
  font-weight: $font-weight-regular;
  color: inherit;
  text-overflow: ellipsis;
  overflow-x: hidden;
  max-width: 100%;
  box-sizing: border-box;
  padding-right: 32px;
  [dir=rtl] & {
    padding-left: 32px;
    padding-right: 0;
  }
}


@mixin mdw-navdrawer__temporary {
  .mdw-navdrawer__content,
  .mdw-navdrawer__toolbar {
    grid-column-start: 1;
  }
  .mdw-navdrawer__toolbar .mdw-toolbar__start {
    display: flex;
  }
  .mdw-navdrawer__drawer {
    position: absolute;
    grid-row-start: 1;
    grid-column-end: 4;
    min-width: auto;
    box-shadow: elevation(0);
    transform: translateX(-100%);
    [dir=rtl] & {
      transform: translateX(100%);
    }
    border-right-width: 0;
    height: 100%;
    z-index: 16;
    margin: 0;
    border-radius: 0px;
  }
  .mdw-navdrawer__scrim {
    display: block;
  }
}

@mixin mdw-navdrawer__temporary__shown {
  .mdw-navdrawer__drawer {
    transform: translateX(0);
    box-shadow: elevation(16);
    grid-row-end: 4;
  }
  .mdw-navdrawer__scrim {
    display: block;
    background-color: rgba(black, 0.50);
    cursor: pointer;
    pointer-events: auto;
  }
}

.mdw-navdrawer {
  &[mdw-floating] {
    .mdw-navdrawer__drawer {
      border-right-width: 0;
    }
  }
  &[mdw-floating=card] {
    .mdw-navdrawer__content {
      grid-column-start:3;
    }
    .mdw-navdrawer__drawer {
      grid-column-end: 2;
      margin: 8px;
      border-radius: dp(2);
      box-shadow: elevation(8);
      grid-row-end: 3;
    }
  }
  &[mdw-clipped],
  &[mdw-floating] {
    .mdw-navdrawer__toolbar {
      grid-column-start: 1;
    }
    .mdw-navdrawer__drawer {
      grid-row-start: 2;
      height: auto;
      z-index: auto;
    }
  }
  &[mdw-temporary] {
    @include mdw-navdrawer__temporary;
    &:target,
    &[mdw-show]:not([mdw-hide]) {
      @include mdw-navdrawer__temporary__shown;
    }
  }
  &,
  &[mdw-clipped],
  &[mdw-floating] {
    @include allHandsetsAndTablets {
      @include mdw-navdrawer__temporary;
      &:target,
      &[mdw-show]:not([mdw-hide]) {
        @include mdw-navdrawer__temporary__shown;
      }
    }
  }
}