@import '../components/index.scss';
@include buildTheme('deeppurple', 'amber', 'red', 'grey', 'light', 'textfield');
@include buildTheme('blue', 'pink', 'red', 'grey', 'light', 'toolbar');
@include buildTheme('teal', 'brown', 'red', 'grey', 'light', 'bottomnav');
@include buildTheme('teal', 'cyan', 'pink', 'grey', 'light', 'list');
@include buildTheme('blue', 'teal', 'red', 'grey', 'light', 'selection');


html {
  font-family: 'Roboto', sans-serif;
}

.comparisons {
  position: relative;
}
.comparison {
  display: flex;
  flex-direction: row;
}

.androidstatusbar {
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  height: 24px;
  padding: 0 8px;
  color: rgba(255, 255, 255, .87);
  font-size: 14px;
  background-color: black;
  .material-icons {
    font-size: 18px;
  }
}

.content {
  flex: 1;
  height: 0;
  overflow-y: scroll;
  flex-direction: column;
}

.render,
.target {
  margin: 8px;
  width: 360px;
  max-width: 360px;
  height: 640px;
  max-height: 640px;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  .clipped & {
    max-height: 190px;
  }
  .clipped-236 & {
    max-height: 236px;
  }
  .clipped-300 & {
    max-height: 300px;
  }
  .clipped-304 & {
    max-height: 304px;
  }
}


.horizontal-controls {
  display:inline-flex;
  width:100%;
}

.display-flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}

.androidnavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 48px;
  height: 48px;
  padding: 0 30px;
  background-color: black;
  color: rgba(255, 255, 255, 1);
  .material-icons {
    font-size: 20px;
  }
  .material-icons.back-button {
   transform: rotate(90deg);
  }
}


#horizontalLine {
  position: fixed;
  width: 100%;
  background-color: #0FF;
  height: 1px;
  left: 0px;
  z-index: 25;
}

#verticalLineLeft,
#verticalLineRight {
  position: fixed;
  height: 100%;
  background-color: #0FF;
  width: 1px;
  top: 0px;
  z-index: 25;
}

#verticalLineRight {
  left: 376px;
}

#Vintage50Input {
  font-size: sp(34);
}

$components: ('bottomnav', 'button', 'selection', 'list', 'textfield', 'toolbar');

input[name="show-component"]:not(:checked) {
  @each $component in $components {
    &[value="#{$component}"] ~ ##{$component}-comparisons {
      display:none
    }
  }
}
