@import './components/theming/theming.scss';
@include addTheme('indigo', 'pink', 'red', 'grey');
@include addTheme('deeppurple', 'amber', 'red', 'grey', 'textfield');
@include addTheme('blue', 'pink', 'red', 'grey', 'toolbar');
@include addTheme('teal', 'brown', 'red', 'grey', 'bottomnav');
@include addTheme('teal', 'cyan', 'pink', 'grey', 'list');
@include addTheme('blue', 'teal', 'red', 'grey', 'selection');
@include addTheme('cyan', 'yellow', 'red', 'grey', 'tab');
@include addColors('cyan', 'red', 'green','lightblue', 'purple');
@include buildVariableThemes();
@import './components/all-components.scss';

$components: (
  'bottomnav',
  'button',
  'menu',
  'selection',
  'list',
  'progress',
  'tab',
  'textfield',
  'toolbar',
  'tooltip',
  'dialog',
  'navdrawer',
  'search'
);

html {
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.page > input[name="show-component"] {
  display: none;
}

.comparison {
  display: flex;
  flex-direction: row;
  position: relative;
}

.androidstatusbar {
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  height: 24px;
  padding: 0 8px;
  color: rgba(255, 255, 255, .87);
  font-size: 14px;
  .material-icons {
    font-size: 18px;
  }
}

.content {
  flex: 1;
  overflow-y: auto;
  flex-direction: column;
}

.render,
.target {
  position: relative;
  margin: 8px;
  width: 360px;
  max-width: 360px;
  height: 640px;
  max-height: 640px;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  .clipped & {
    max-height: 190px;
  }
  .clipped-236 & {
    max-height: 236px;
  }
  .clipped-300 & {
    max-height: 300px;
  }
  .clipped-304 & {
    max-height: 304px;
  }
}


.horizontal-controls {
  display:inline-flex;
  width:100%;
}

.display-flex {
  display: flex;
}
[flex-column] {
  flex-direction: column;
}
[flex-justify-content="center"] {
  justify-content: center;
}
[flex-align-items="center"] {
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}

.androidnavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 48px;
  height: 48px;
  padding: 0 30px;
  background-color: black;
  color: rgba(255, 255, 255, 1);
  .material-icons {
    font-size: 20px;
  }
  .material-icons.back-button {
   transform: rotate(90deg);
  }
}


#horizontalLine {
  position: fixed;
  width: 100%;
  background-color: #0FF;
  height: 1px;
  left: 0px;
  z-index: 25;
}

.custom-no-results-indicator {
  margin: 8px;
  min-height: 48px;
}

#verticalLineLeft,
#verticalLineRight {
  position: fixed;
  height: 100%;
  background-color: #0FF;
  width: 1px;
  top: 0px;
  z-index: 25;
}

#verticalLineRight {
  left: 376px;
}

#Vintage50Input {
  font-size: sp(34);
}

input[name="show-component"]:not(:checked) {
  @each $component in $components {
    &[value="#{$component}"] ~ #comparison-#{$component} {
      display:none;
    }
  }
}
