doctype html
html(lang='en')
  head
    title Material Design Web Demo
    meta(name="viewport" content="initial-scale=1")
    meta(charset='utf-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='', name='description')
    meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name='viewport')
    link(rel='stylesheet' href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700')
    link(rel='stylesheet' href='./demo.min.css')
    <!--[if IE ]>
    link(rel='stylesheet' href='./demo.ie11.min.css')
    <![endif]-->
  body
    .nav
      ul.mdw-list
        label.mdw-list__row(for="show-bottomnav") bottomnav
        label.mdw-list__row(for="show-button") button
        label.mdw-list__row(for="show-list") list
        label.mdw-list__row(for="show-selection") selection
        label.mdw-list__row(for="show-tab") tab
        label.mdw-list__row(for="show-textfield") textfield
        label.mdw-list__row(for="show-toolbar") toolbar

    .page
      span Large Font Size
      input(type="checkbox" name="largeFontSize")
      div

      span RTL
      input(type="checkbox" name="rtl")
      div

      input(type="radio" name="show-component" value="bottomnav" id="show-bottomnav")
      input(type="radio" name="show-component" value="button"    id="show-button")
      input(type="radio" name="show-component" value="list"      id="show-list")
      input(type="radio" name="show-component" value="selection" id="show-selection")
      input(type="radio" name="show-component" value="tab"       id="show-tab")
      input(type="radio" name="show-component" value="textfield" id="show-textfield" checked)
      input(type="radio" name="show-component" value="toolbar"   id="show-toolbar")

      div

      #bottomnav-comparisons.comparisons
        include comparisons/bottomnav.pug
      #button-comparisons.comparisons
        include comparisons/button.pug
      #list-comparisons.comparisons
        include comparisons/list.pug
      #selection-comparisons.comparisons
        include comparisons/selection.pug
      #tab-comparisons.comparisons
        include comparisons/tab.pug
      #textfield-comparisons.comparisons
        include comparisons/textfield.pug
      #toolbar-comparisons.comparisons
        include comparisons/toolbar.pug


      #horizontalLine
      #verticalLineLeft
      #verticalLineRight
  script(src='./demo.min.js')