doctype html
html(lang='en')
  head
    title Material Design Web Demo
    meta(name="viewport" content="initial-scale=1")
    meta(charset='utf-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='', name='description')
    meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name='viewport')
    link(rel='stylesheet' href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700')
    link(rel='stylesheet' href='./demo.min.css')
    <!--[if IE ]>
    link(rel='stylesheet' href='./demo.ie11.min.css')
    <![endif]-->
  body
    
    span Large Font Size
    input(type="checkbox" name="largeFontSize")
    div

    span RTL
    input(type="checkbox" name="rtl")
    div

    span Bottom nav
    input(type="radio" name="show-component" value="bottomnav")

    span Button
    input(type="radio" name="show-component" value="button")

    span Selection
    input(type="radio" name="show-component" value="selection" checked)

    span List
    input(type="radio" name="show-component" value="list")

    span Text Field
    input(type="radio" name="show-component" value="textfield")

    span Toolbar
    input(type="radio" name="show-component" value="toolbar")

    div

    #bottomnav-comparisons.comparisons
      include comparisons/bottomnav.pug
    #button-comparisons.comparisons
      include comparisons/button.pug
    #list-comparisons.comparisons
      include comparisons/list.pug
    #selection-comparisons.comparisons
      include comparisons/selection.pug
    #textfield-comparisons.comparisons
      include comparisons/textfield.pug
    #toolbar-comparisons.comparisons
      include comparisons/toolbar.pug


    #horizontalLine
    #verticalLineLeft
    #verticalLineRight
  script(src='./demo.min.js')