doctype html
html(lang='en')
  head
    title Material Design Web Demo
    meta(name="viewport" content="initial-scale=1")
    meta(charset='utf-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='', name='description')
    meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name='viewport')
    link(rel='stylesheet' href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700')
    link(rel='stylesheet' href='./demo.min.css')
  body
    div
      span Apply fixes
      input(type="checkbox" name="applyFixes")
    div
      span Debug
      input(type="checkbox" name="debug")
    div
      span RTL
      input(type="checkbox" name="rtl")

    #comparisons.mdw-theme-default.mdw-theme-filled(mdw-color="background" mdw-tone="50")
      include textfields.pug


    #horizontalLine
    #verticalLineLeft
    #verticalLineRight
  script(src='./demo.min.js')