#components_textfields_labels1
  .content(style="padding:6px 16px")
    label.mdw-text-field#Vintage50Input
      input.mdw-text-field__input(value="Vintage 50" placeholder=" ")
      span.mdw-text-field__label Title
      .mdw-text-field__bottom-line
    div(style="display:inline-flex;width:100%")
      label.mdw-text-field(style="margin-right:16px;width:88px")
        input.mdw-text-field__input(type="text" placeholder=" ")
        span.mdw-text-field__label Price
        .mdw-text-field__bottom-line
      label.mdw-text-field(style="flex:1")
        input.mdw-text-field__input(type="text" placeholder=" ")
        span.mdw-text-field__label Location (optional)
        .mdw-text-field__bottom-line
    .mdw-text-field
      input.mdw-text-field__input(type="text" placeholder=" ")
      label.mdw-text-field__label Description
      .mdw-text-field__bottom-line
    .mdw-text-field
      input.mdw-text-field__input(type="text" placeholder="placeholder")
      label.mdw-text-field__label Placeholder text
      .mdw-text-field__bottom-line
    .mdw-text-field
      input.mdw-text-field__input(type="text" placeholder=" ")
      label.mdw-text-field__label Helper Text
      .mdw-text-field__bottom-line
      .mdw-text-field__helper-text Helper Text