#components_textfields_labels1
  .content(style="padding:6px 16px")
    label.mdw-text-field#Vintage50Input
      input.mdw-text-field__input(value="Vintage 50" placeholder=" ")
      span.mdw-text-field__label Title
      .mdw-text-field__border-line
    .horizontal-controls
      label.mdw-text-field(style="margin-right:16px;width:88px")
        input.mdw-text-field__input(type="text" placeholder=" ")
        span.mdw-text-field__label Price
        .mdw-text-field__border-line
      label.mdw-text-field.flex-1
        input.mdw-text-field__input(type="text" placeholder=" ")
        span.mdw-text-field__label Location (optional)
        .mdw-text-field__border-line
    .mdw-text-field
      input.mdw-text-field__input(type="text" placeholder=" ")
      label.mdw-text-field__label Description
      .mdw-text-field__border-line
    .mdw-text-field
      input.mdw-text-field__input(type="password" placeholder="••••••••" required minlength="8")
      label.mdw-text-field__label Password *
      .mdw-text-field__border-line
      .mdw-text-field__helper-text At least 8 characters
      .mdw-text-field__error-text Error: Password of at least 8 characters required.
    label.mdw-text-field
      input.mdw-text-field__input(type="text" placeholder="required" required)
      .mdw-text-field__label No helper
      .mdw-text-field__border-line
      .mdw-text-field__error-text Error: Required.
    label.mdw-text-field
      input.mdw-text-field__input(type="text" placeholder=" " disabled value="filled")
      .mdw-text-field__label Disabled Filled
      .mdw-text-field__border-line
      .mdw-text-field__helper-text Disabled Helper Text
#required-example
  form.content(style="padding:9px 16px")
    label.mdw-text-field(mdw-color="accent")
      input.mdw-text-field__input(type="text" placeholder=" " required)
      .mdw-text-field__label Name *
      .mdw-text-field__border-line
    label.mdw-text-field(mdw-color="accent")
      input.mdw-text-field__input(type="text" placeholder=" ")
      .mdw-text-field__label Address
      .mdw-text-field__border-line
    label.mdw-text-field(mdw-color="accent")
      input.mdw-text-field__input(type="text" placeholder=" ")
      .mdw-text-field__label City
      .mdw-text-field__border-line
    .horizontal-controls
      label.mdw-text-field(mdw-color="accent" style="margin-right:16px;width:88px")
        input.mdw-text-field__input(type="text" placeholder=" ")
        span.mdw-text-field__label State
        .mdw-text-field__border-line
      label.mdw-text-field.flex-1
        input.mdw-text-field__input(type="text" placeholder=" " required)
        span.mdw-text-field__label Zip code *
        .mdw-text-field__border-line
    .mdw-text-field(mdw-color="accent")
      input.mdw-text-field__input(type="text" placeholder=" ")
      label.mdw-text-field__label Phone number
      .mdw-text-field__border-line
    span * Required fields
#multi1.mdw-theme-alt
  .content(style="padding:9px 16px")
    label.mdw-text-field
      input.mdw-text-field__input(value="Vintage 50" placeholder=" ")
      span.mdw-text-field__label() Title
      .mdw-text-field__border-line
      .mdw-text-field__helper-text Helper
    .horizontal-controls
      label.mdw-text-field(style="margin-right:16px;width:88px")
        input.mdw-text-field__input(value="10.00" placeholder=" ")
        span.mdw-text-field__label Price
        .mdw-text-field__border-line
        .mdw-text-field__helper-text Helper
      label.mdw-text-field.flex-1
        input.mdw-text-field__input(value="Hanover" placeholder=" ")
        span.mdw-text-field__label Location (optional)
        .mdw-text-field__border-line
        .mdw-text-field__helper-text Helper
    .mdw-text-field
      textarea.mdw-text-field__input(placeholder=" " mdw-multiline)
        | Unique and rare dress from 1952. Made out of washed cotton with front pockets. Sleeveless with button closures.
      label.mdw-text-field__label Description
      .mdw-text-field__border-line
#area1.mdw-theme-alt
  .content.mdw-theme-filled(style="padding:18px 16px" mdw-color="background" mdw-tone="900")
    label.mdw-text-field(mdw-color="accent")
      input.mdw-text-field__input(placeholder=" ")
      span.mdw-text-field__label Name
      .mdw-text-field__border-line
      .mdw-text-field__error-text spacer
    label.mdw-text-field(mdw-textarea mdw-color="accent")
      textarea.mdw-text-field__input(placeholder=" " rows="5")
      span.mdw-text-field__label Message
      .mdw-text-field__border-line
    label.mdw-text-field(mdw-textarea mdw-color="accent")
      textarea.mdw-text-field__input(placeholder=" " rows="5")
      span.mdw-text-field__label Message
      .mdw-text-field__border-line
#area2.mdw-theme-alt
  .content.mdw-theme-filled(style="padding:0 16px; margin-top:-44px" mdw-color="background" mdw-tone="900")
    label.mdw-text-field(mdw-color="accent")
      input.mdw-text-field__input(placeholder=" ")
      span.mdw-text-field__label Name
      .mdw-text-field__border-line
      .mdw-text-field__error-text spacer
    label.mdw-text-field(mdw-textarea mdw-color="accent")
      textarea.mdw-text-field__input(placeholder=" " rows="5" required)
        | Just wanted to let you kn
      span.mdw-text-field__label(mdw-color="accent") Message *
      .mdw-text-field__border-line
      .mdw-text-field__helper-text Helper text.
      .mdw-text-field__error-text Error: Required.
    label.mdw-text-field(mdw-textarea)
      textarea.mdw-text-field__input(placeholder=" " rows="5" disa
      bled)
        | This textarea is disabled.
      span.mdw-text-field__label Message *
      .mdw-text-field__border-line
      .mdw-text-field__helper-text Helper text.
      .mdw-text-field__error-text Error: Required.