@import "../components/_index.scss";
$themes: (
  "default": ('indigo', 'pink', 'red'),
  "textfield": ('deeppurple', 'amber', 'red'),
  "toolbar": ('blue', 'pink', 'red'),
  "bottomnav": ('teal', 'brown', 'red'),
  "list": ('teal', 'cyan', 'pink'),
  "selection": ('blue', 'teal', 'red'),
  "tab": ('cyan', 'yellow', 'red')
);
$colors: ('cyan', 'red', 'green','lightblue', 'purple');

$components: (
  'bottomnav',
  'button',
  'list',
  'menu',
  'progress',
  'selection',
  'tab',
  'textfield',
  'toolbar',
  'tooltip',
  'dialog',
  'navdrawer',
  'search'
);
$mdw-config: (
  theme-components: $components,
  themes: $themes,
  automatic-contrast: 'no',
  explicit-colors: $colors,
  ie11-support: 'no'
);
@include buildMDWThemes($mdw-config);