include ../_mixins.pug

+header("ink")
  .mdw-grid(mdw-margin-top mdw-margin-bottom mdw-stretch)
    .mdw-grid__item(mdw-colspan="4")
      .mdw-grid__content
        h6.mdw-type Default
        .display-flex.flex-column
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="default") High Emphasis (Default)
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="medium") Medium Emphasis
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="inactive") Inactive
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="divider") Divider
    .mdw-grid__item(mdw-colspan="4")
      .mdw-grid__content
        h6.mdw-type Primary
        div
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary 50") 50
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary 100") 100
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary A100") A100
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary 200") 200
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary A200") A200
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary 300") 300
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary 400") 400
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary A400") A400
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary 500") 500
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary 600") 600
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary 700") 700
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary A700") A700
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary 800") 800
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary 900") 900
    .mdw-grid__item(mdw-colspan="4")
      .mdw-grid__content
        h6.mdw-type Accent
        div
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent 50") 50
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent 100") 100
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent A100") A100
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent 200") 200
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent A200") A200
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent 300") 300
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent 400") 400
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent A400") A400
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent 500") 500
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent 600") 600
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent 700") 700
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent A700") A700
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent 800") 800
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent 900") 900
    .mdw-grid__item(mdw-colspan="4")
      .mdw-grid__content
        h6.mdw-type Warn
        div
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn 50") 50
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn 100") 100
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn A100") A100
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn 200") 200
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn A200") A200
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn 300") 300
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn 400") 400
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn A400") A400
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn 500") 500
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn 600") 600
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn 700") 700
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn A700") A700
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn 800") 800
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn 900") 900
    .mdw-grid__item(mdw-colspan="4")
      .mdw-grid__content
        h6.mdw-type Background
        div
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background 50") 50
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background 100") 100
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background A100") A100
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background 200") 200
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background A200") A200
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background 300") 300
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background 400") 400
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background A400") A400
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background 500") 500
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background 600") 600
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background 700") 700
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background A700") A700
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background 800") 800
          .demo-ink-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background 900") 900

  script(src='ink.min.js')