include ../_mixins.pug

+header("ink")
  .mdw-grid(mdw-margin-top mdw-margin-bottom mdw-stretch)
    .mdw-grid__item(mdw-colspan="4")
      .mdw-grid__content
        h6.mdw-type Default
        .display-flex.flex-column
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="default" mdw-surface="monochrome") High Emphasis (Default)
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="medium" mdw-surface="monochrome") Medium Emphasis
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="inactive" mdw-surface="monochrome") Inactive
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="divider" mdw-surface="monochrome") Divider
    .mdw-grid__item(mdw-colspan="4")
      .mdw-grid__content
        h6.mdw-type Primary
        div
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary 50" mdw-surface="monochrome") 50
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary 100" mdw-surface="monochrome") 100
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary A100" mdw-surface="monochrome") A100
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary 200" mdw-surface="monochrome") 200
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary A200" mdw-surface="monochrome") A200
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary 300" mdw-surface="monochrome") 300
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary 400" mdw-surface="monochrome") 400
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary A400" mdw-surface="monochrome") A400
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary 500" mdw-surface="monochrome") 500
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary 600" mdw-surface="monochrome") 600
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary 700" mdw-surface="monochrome") 700
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary A700" mdw-surface="monochrome") A700
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary 800" mdw-surface="monochrome") 800
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary 900" mdw-surface="monochrome") 900
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="primary-contrast" mdw-surface="monochrome") Contrast
    .mdw-grid__item(mdw-colspan="4")
      .mdw-grid__content
        h6.mdw-type Accent
        div
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent 50" mdw-surface="monochrome") 50
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent 100" mdw-surface="monochrome") 100
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent A100" mdw-surface="monochrome") A100
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent 200" mdw-surface="monochrome") 200
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent A200" mdw-surface="monochrome") A200
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent 300" mdw-surface="monochrome") 300
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent 400" mdw-surface="monochrome") 400
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent A400" mdw-surface="monochrome") A400
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent 500" mdw-surface="monochrome") 500
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent 600" mdw-surface="monochrome") 600
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent 700" mdw-surface="monochrome") 700
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent A700" mdw-surface="monochrome") A700
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent 800" mdw-surface="monochrome") 800
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent 900" mdw-surface="monochrome") 900
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="accent-contrast" mdw-surface="monochrome") Contrast
    .mdw-grid__item(mdw-colspan="4")
      .mdw-grid__content
        h6.mdw-type Warn
        div
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn 50" mdw-surface="monochrome") 50
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn 100" mdw-surface="monochrome") 100
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn A100" mdw-surface="monochrome") A100
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn 200" mdw-surface="monochrome") 200
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn A200" mdw-surface="monochrome") A200
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn 300" mdw-surface="monochrome") 300
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn 400" mdw-surface="monochrome") 400
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn A400" mdw-surface="monochrome") A400
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn 500" mdw-surface="monochrome") 500
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn 600" mdw-surface="monochrome") 600
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn 700" mdw-surface="monochrome") 700
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn A700" mdw-surface="monochrome") A700
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn 800" mdw-surface="monochrome") 800
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn 900" mdw-surface="monochrome") 900
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="warn-contrast" mdw-surface="monochrome") Contrast
    .mdw-grid__item(mdw-colspan="4")
      .mdw-grid__content
        h6.mdw-type Background
        div
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background 50" mdw-surface="monochrome") 50
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background 100" mdw-surface="monochrome") 100
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background A100" mdw-surface="monochrome") A100
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background 200" mdw-surface="monochrome") 200
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background A200" mdw-surface="monochrome") A200
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background 300" mdw-surface="monochrome") 300
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background 400" mdw-surface="monochrome") 400
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background A400" mdw-surface="monochrome") A400
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background 500" mdw-surface="monochrome") 500
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background 600" mdw-surface="monochrome") 600
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background 700" mdw-surface="monochrome") 700
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background A700" mdw-surface="monochrome") A700
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background 800" mdw-surface="monochrome") 800
          .demo-core-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-ink="background 900" mdw-surface="monochrome") 900

  script(src='ink.min.js')