include ../_mixins.pug

+header("surface")
  .mdw-grid(mdw-margin-top mdw-margin-bottom mdw-stretch)
    .mdw-grid__item(mdw-colspan="4")
      .mdw-grid__content
        h6.mdw-type Default
        .display-flex.flex-column
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="content") Content
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="card") Card
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="black" mdw-dark) Black
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="white" mdw-light) White
    .mdw-grid__item(mdw-colspan="4")
      .mdw-grid__content
        h6.mdw-type Primary
        div
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="primary 50" mdw-light) 50
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="primary 100" mdw-light) 100
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="primary A100" mdw-light) A100
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="primary 200" mdw-light) 200
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="primary A200" mdw-light) A200
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="primary 300" mdw-light) 300
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="primary 400" mdw-light) 400
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="primary A400" mdw-light) A400
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="primary 500" mdw-dark) 500
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="primary 600" mdw-dark) 600
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="primary 700" mdw-dark) 700
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="primary A700" mdw-dark) A700
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="primary 800" mdw-dark) 800
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="primary 900" mdw-dark) 900
    .mdw-grid__item(mdw-colspan="4")
      .mdw-grid__content
        h6.mdw-type Accent
        div
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="accent 50" mdw-light) 50
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="accent 100" mdw-light) 100
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="accent A100" mdw-light) A100
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="accent 200" mdw-light) 200
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="accent A200" mdw-light) A200
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="accent 300" mdw-light) 300
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="accent 400" mdw-light) 400
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="accent A400" mdw-light) A400
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="accent 500" mdw-dark) 500
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="accent 600" mdw-dark) 600
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="accent 700" mdw-dark) 700
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="accent A700" mdw-dark) A700
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="accent 800" mdw-dark) 800
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="accent 900" mdw-dark) 900
    .mdw-grid__item(mdw-colspan="4")
      .mdw-grid__content
        h6.mdw-type Warn
        div
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="warn 50" mdw-light) 50
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="warn 100" mdw-light) 100
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="warn A100" mdw-light) A100
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="warn 200" mdw-light) 200
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="warn A200" mdw-light) A200
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="warn 300" mdw-light) 300
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="warn 400" mdw-light) 400
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="warn A400" mdw-light) A400
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="warn 500" mdw-dark) 500
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="warn 600" mdw-dark) 600
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="warn 700" mdw-dark) 700
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="warn A700" mdw-dark) A700
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="warn 800" mdw-dark) 800
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="warn 900" mdw-dark) 900
    .mdw-grid__item(mdw-colspan="4")
      .mdw-grid__content
        h6.mdw-type Background
        div
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="background 50" mdw-light) 50
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="background 100" mdw-light) 100
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="background A100" mdw-light) A100
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="background 200" mdw-light) 200
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="background A200" mdw-light) A200
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="background 300" mdw-light) 300
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="background 400" mdw-light) 400
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="background A400" mdw-light) A400
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="background 500" mdw-dark) 500
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="background 600" mdw-dark) 600
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="background 700" mdw-dark) 700
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="background A700" mdw-dark) A700
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="background 800" mdw-dark) 800
          .demo-surface-item.mdw-elevation.mdw-overlay.mdw-ripple.mdw-theme(mdw-elevation="1" mdw-surface="background 900" mdw-dark) 900

  script(src='ink.min.js')