// https://material.io/guidelines/components/bottom-navigation.html#bottom-navigation-specs

@import '../common/functions.scss';
@import '../common/motion.scss';

.mdw-bottomsheet {
  &,
  &.mdw-button {
    min-height: dp(56);
    overflow-y: hidden;
  }
  &.mdw-button {
    margin: 0;
    padding: 0;
  }
  position: relative;
  display:flex;
  box-shadow: elevation(8);
  width: 100%;
  justify-content: center;
  align-self: flex-end;
  flex-direction:row;
}

.mdw-bottomsheet__action {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin:0;
  box-shadow: none;
  box-sizing: content-box;
  --button__ripple-color: var(--bottomsheet__ripple-color);
  --button__focus-overlay: var(--bottomsheet__focus-overlay);
  --button__press-color: var(--bottomsheet__press-color);
  border-radius: 0;
}

.mdw-bottomsheet__icon {
  pointer-events: none;
  padding-top: dp(8);
  transition-property: color, transform;
  transition-duration: 200ms;
  transition-timing-function: $motion-easing-standard;
  color: var(--bottomsheet__inactive-color);
  input:checked ~ & {
    color: var(--bottomsheet__active-color);
    //transform: translateY(dp(-2));
  }
}

.mdw-bottomsheet__label {
  pointer-events: none;
  min-width: dp(80);
  max-width: dp(168);
  padding-left: dp(12);
  padding-right: dp(12);
  transition-property: color, font-size;
  transition-duration: 200ms;
  transition-timing-function: $motion-easing-standard;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: sp(14); // Prevents stretching when using larger fonts
  height: auto;
  padding-bottom: calc(#{dp(10)} - #{sp(14*0.25)});
  font-size: sp(12);
  text-transform: none;
  font-weight: normal;
  color: var(--bottomsheet__inactive-color);
  input:checked ~ & {
    color: var(--bottomsheet__active-color);
    font-size: sp(14);
  }
}
.mdw-bottomsheet input {
  // Using `display: none` breaks keyboard navigation
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.mdw-bottomsheet[mdw-shifting] {
  .mdw-bottomsheet__action{
    justify-content: flex-end
  }
  .mdw-bottomsheet__label {
    font-size: sp(14);
    min-width: dp(56);
    max-width: dp(96);
    flex-grow: 1;
  }
  input:not(:checked) ~ .mdw-bottomsheet__label {
    width: 0;
    height: 0;
    min-height: 0;
    color: transparent;
    transition-duration: 0s;
  }
  input:checked ~ .mdw-bottomsheet__label {
    min-width: dp(96);
    max-width: dp(168);
  }
  input:not(:checked) ~ .mdw-bottomsheet__icon {
    
  }
}

