@import "../common/mixins.scss";

/**
 * --Issues rendering a circle inside an element--
 * See: https://codepen.io/shortfuse/pen/VxYxYj
 *
 * When using block display:
 * - Firefox incorrectly stretches ripple when inside flexbox
 * - Safari incorrectly inherit parent's padding
 *
 * Using using table display:
 * - Firefox renders correctly
 * - Safari renders correctly
 * - IE and Edge don't animate opacity correctly
 * - Ripples don't show if inside actual table
 *
 * When using JS (wrapped with block element):
 * - Firefox renders correctly
 * - Safari renders correctly
 * - IE and Edge renders correctly but still has forced 0.26 opacity
 *
 * Chrome works fine under all conditions
 *
 */

@mixin mdw-ripple__container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: inherit;
  z-index: 1;
  & > .mdw-ripple__inner {
    border-radius: 50%;
    display: block;
    position: absolute;
    transition: none;
    transform: scale(0);
    background-color: currentColor;
    animation-name: none;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-duration: $motion-duration-desktop-default;
    @include allHandsets {
      animation-duration: $motion-duration-mobile-default;
    }
    @include allTablets {
      animation-duration: $motion-duration-tablet-default;
    }
    pointer-events: none;

    opacity: 0.24;
    &[mdw-fade-in-out] {
      animation-name: ripple-fade-in, ripple-fade-out;
      animation-timing-function: linear, $motion-easing-acceleration;
      animation-delay: 0s, $motion-duration-desktop-default;
      @include allHandsets {
        animation-delay: 0s, $motion-duration-mobile-default;
      }
      @include allTablets {
        animation-delay: 0s, $motion-duration-tablet-default;
      }
    }
    &[mdw-fade-in] {
      animation-name: ripple-fade-in;
    }
  }
  &:not(:active) > .mdw-ripple__inner[mdw-fade-out][mdw-mouseout],
  &:not(:active) > .mdw-ripple__inner[mdw-fade-out][mdw-touchcancel],
  &:not(:active) > .mdw-ripple__inner[mdw-fade-out][mdw-touchend],
  .mdw-ripple__inner[mdw-fade-out][mdw-mouseup],
  .mdw-ripple__inner[mdw-fade-out][mdw-keyup] {
    animation-name: ripple-fade-out;
    animation-timing-function: $motion-easing-acceleration;
  }
}

@keyframes ripple-idle {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(0);
  }
}

@keyframes ripple-fade-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(2);
  }
}

@keyframes ripple-fade-out {
  from {
    transform: scale(2);
    background-color: currentColor;
  }
  to {
    transform: scale(2);
    background-color: transparent;
  }
}



@mixin mdw-ripple__inner {
  content: '';
  display: table; // See above
  padding: 50%;
  height: 0;
  width: 0;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  // z-index: -1; // Safari has a negative z-index scrolling bug (hides elements)
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
  background-color: transparent;
  color: inherit;
  opacity: 0.24;
  transform: translateX(-50%) translateY(-50%) scale(1);
  transition-delay:
    0s,
    0s,
    $motion-duration-desktop-max / 2;
  transition-duration:
    $motion-duration-desktop-max,
    $motion-duration-desktop-max / 2,
    $motion-duration-desktop-max / 2;
    
  @include allHandsets {
    transition-delay:
      0s,
      0s,
      $motion-duration-mobile-max / 2;
    transition-duration:
      $motion-duration-mobile-max,
      $motion-duration-mobile-max / 2,
      $motion-duration-mobile-max / 2;
  }
  @include allTablets {
    transition-delay:
      0s,
      0s,
      $motion-duration-tablet-max / 2;
    transition-duration:
      $motion-duration-tablet-max,
      $motion-duration-tablet-max / 2,
      $motion-duration-tablet-max / 2;
  }
  transition-property:
    transform,
    opacity,
    background-color;
  transition-timing-function: $motion-easing-sharp;
  will-change:
    transform,
    opacity,
    background-color;
}

@mixin mdw-ripple__active {
  transition-duration: 0s;
  transition-delay: 0s;
  transform: translateX(-50%) translateY(-50%) scale(0);
  opacity: 0;
  background-color: currentColor;
}


// Target
// size     0.000   -->   0.500   -->   1.000
// opacity  0.000   -->   1.000   -->   0.000

// Implemenation
// scale   - 0.000   -->   0.500   -->   1.000 -  0% delay 100% duration
// opacity - 0.000   -->   1.000   -->   1.000 -  0% delay  50% duration
// color   - solid   -->   solid   -->   trans - 50% delay  50% duration

