// https://material.io/guidelines/components/data-tables.html
// https://material.io/guidelines/patterns/selection.html#selection-item-selection

@use '../../core/_length.scss' as *;
@use '../../core/_motion.scss' as motion;
@use '../../core/_platform.scss' as platform;
@use '../../core/_type.scss' as type;

$iconSize: 16px !default;

:root {
  --mdw-datatable__footer-controls-transform: scaleX(1);

  &[dir="rtl"] {
    --mdw-datatable__footer-controls-transform: scaleX(-1);
  }
}

.mdw-datatable {
  display: flex;
  flex-direction: column;
}

.mdw-datatable table {
  display: table;

  border-collapse: collapse;

  inline-size: 100%;
}

.mdw-datatable caption,
.mdw-datatable__header {
  @include type.addRules('h6');
  min-block-size: 64px;
}

.mdw-datatable caption {
  caption-side: top;

  padding: 0 16px;

  line-height: 64px;
  text-align: start;
}

.mdw-datatable__header {
  display: flex;
  align-items: center;
  flex-direction: row;

  flex: none;
}

.mdw-datatable__header-text,
.mdw-datatable__header-actions {
  flex-grow: 1;
}

.mdw-datatable__header-text,
.mdw-datatable__header-actions,
.mdw-datatable__header-controls {
  display: flex;
}

.mdw-datatable__header-text {
  padding-inline: 16px 0;
}

.mdw-datatable tr {
  block-size: 48px;
  border-block-end-style: solid;
  border-block-end-width: 1px;

  outline: none;
}

.mdw-datatable thead > tr {
  block-size: 48px;
}

.mdw-datatable td {
  @include type.addRules('body-2');
  // text-align: left;
  // Expected line-height is 20dp. Support two lines within 48dp
  padding-block: 4px 3px; // Remove 1px bottom border width

  outline: none;

}

.mdw-datatable th {
  @include type.addRules('caption');
  white-space: nowrap;
}

.mdw-datatable th,
.mdw-datatable td {
  padding-inline: 16px;

  text-align: center;

  &[mdw-checkbox] {
    line-height: 0;
  }

  &[mdw-text] {
    text-align: start;
  }

  &[mdw-number] {
    text-align: end;
  }

  &[mdw-primary-column] {
    inline-size: 100%;
    border-width: 1px;
    border-inline-end-style: solid;
  }
}

.mdw-datatable th[mdw-selector] {
  inline-size: 24px;
  padding-inline: 16px 0;

  & + td,
  & + th {
    padding-inline: 12px 16px;
  }
}

.mdw-datatable__sort-icon {
  display: inline-block;
  vertical-align: text-bottom;

  max-inline-size: 0;

  transition-duration: motion.$shapeChangeDuration;
  transition-property: transform;
  transition-timing-function: motion.$standardEasing;

  transform: translateX(-$iconSize) rotate(180deg);
  transform-origin: ($iconSize * 0.5) ($iconSize * 0.5);

  color: transparent;

  /* stylelint-disable-next-line selector-class-pattern */
  &.material-icons {
    font-size: $iconSize;
  }
}

.mdw-datatable th[aria-sort] {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  &:hover,
  &[aria-sort="ascending"] {
    .mdw-datatable__sort-icon {
      transform: translateX(-$iconSize) rotate(180deg);

      color: inherit;
    }
  }

  &[aria-sort="descending"] {
    .mdw-datatable__sort-icon {
      transform: translateX(-$iconSize) rotate(0deg);

      color: inherit;
    }
  }
}

.mdw-datatable__scroller {
  overflow: auto;
}

.mdw-datatable__footer {
  @include type.addRules('caption');
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;

  min-block-size: 56px;
  flex: none;
}

.mdw-datatable__footer-options,
.mdw-datatable__footer-details {
  margin-inline: 2px 28px;
}

.mdw-datatable__header-controls,
.mdw-datatable__footer-controls {
  display: inline-flex;

  margin-inline: 4px;

  .mdw-button {
    margin: 0 4px;
  }
}

.mdw-datatable__footer-controls {
  .mdw-button {
    transform: var(--mdw-datatable__footer-controls-transform);
  }
}

.mdw-datatable__footer-options {
  display: flex;
  align-items: center;

  select.mdw-textfield__input {
    min-inline-size: 64px; // 40 + 24;

    text-align: end;
  }
}
