// https://material.io/guidelines/components/data-tables.html
// https://material.io/guidelines/patterns/selection.html#selection-item-selection

@import '../../core/_platform.scss';
@import '../../core/_motion.scss';
@import '../../core/_breakpoint.scss';
@import '../../core/_type.scss';

$mdw-datatable__icon-size: dp(16) !default;

.mdw-datatable {
  display: flex;
  flex-direction: column;
}

.mdw-datatable table {
  display: table;

  border-collapse: collapse;

  width: 100%;
}

.mdw-datatable caption,
.mdw-datatable__header {
  @include type-rules('h6');
  min-height: dp(64);
}

.mdw-datatable caption {
  caption-side: top;

  padding: 0 dp(16);

  line-height: dp(64);
  text-align: left;
  text-align: start;

  :root[dir="rtl"] & {
    text-align: right;
    text-align: start;
  }
}

.mdw-datatable__header {
  display: flex;
  align-items: center;
  flex-direction: row;

  flex: none;
}

.mdw-datatable__header-text,
.mdw-datatable__header-actions {
  flex-grow: 1;
}

.mdw-datatable__header-text,
.mdw-datatable__header-actions,
.mdw-datatable__header-controls {
  display: flex;
}

.mdw-datatable__header-text {
  padding-right: 0;
  padding-left: dp(16);

  :root[dir="rtl"] & {
    padding-right: dp(16);
    padding-left: 0;
  }
}

.mdw-datatable tr {
  height: dp(48);
  border-bottom-style: solid;
  border-bottom-width: dp(1);

  outline: none;
}

.mdw-datatable thead > tr {
  height: dp(48);
}


.mdw-datatable td {
  @include type-rules('body-2');
  //text-align: left;
  // Expected line-height is 20dp. Support two lines within 48dp
  padding-top: dp(4);
  padding-bottom: dp(4 - 1); // Remove bottom border width

  outline: none;

  &[mdw-selector] + td {
    padding-right: dp(16);
    padding-left: dp(12);

    :root[dir="rtl"] & {
      padding-right: dp(12);
      padding-left: dp(16);
    }
  }
  
}

.mdw-datatable th[mdw-selector],
.mdw-datatable td[mdw-selector] {
  width: dp(24);
  padding-right: 0;
  padding-left: dp(16);

  :root[dir="rtl"] & {
    padding-right: dp(16);
    padding-left: 0;
  }
}

.mdw-datatable th {
  @include type-rules('caption');
  white-space: nowrap;

  &[mdw-selector] + th {
    padding-right: dp(16);
    padding-left: dp(12);

    :root[dir="rtl"] & {
      padding-right: dp(12);
      padding-left: dp(16);
    }
  }
}


.mdw-datatable th,
.mdw-datatable td {
  padding-right: dp(16);
  padding-left: dp(16);

  text-align: center;

  .mdw-selection__input {
    // Remove ripple
    visibility: hidden;
  }
}

.mdw-datatable th[mdw-primary-column],
.mdw-datatable td[mdw-primary-column] {
  width: 100%;
  border-right-style: solid;
  border-width: dp(1);

  :root[dir="rtl"] & {
    border-right-style: none;
    border-left-style: solid;
  }
}

.mdw-datatable__sort-icon {
  display: inline-block;
  vertical-align: bottom;

  max-width: 0;

  transition-duration: $mdw-motion__shape-change-duration;
  transition-property: transform;
  transition-timing-function: $mdw-motion__standard-easing;

  transform: translateX(-$mdw-datatable__icon-size) rotate(180deg);
  transform-origin: ($mdw-datatable__icon-size / 2) ($mdw-datatable__icon-size / 2);

  color: transparent;

  &.material-icons {
    font-size: $mdw-datatable__icon-size;
  }
}

.mdw-datatable th[mdw-sortable] {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  &:hover,
  &[mdw-sorted] {
    .mdw-datatable__sort-icon {
      transform: translateX(-$mdw-datatable__icon-size) rotate(180deg);

      color: inherit;
    }
  }

  &[mdw-sorted="desc"] {
    .mdw-datatable__sort-icon {
      transform: translateX(-$mdw-datatable__icon-size) rotate(0deg);
    }
  }
}



.mdw-datatable th[data-type="text"],
.mdw-datatable td[data-type="text"] {
  text-align: left;
  text-align: start;

  :root[dir="rtl"] & {
    text-align: right;
    text-align: start;
  }
}

.mdw-datatable th[data-type="number"],
.mdw-datatable td[data-type="number"] {
  text-align: right;
  text-align: end;

  :root[dir="rtl"] & {
    text-align: left;
    text-align: end;
  }
}

.mdw-datatable__scroller {
  overflow: auto;
}

.mdw-datatable__footer {
  @include type-rules('caption');
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;

  min-height: dp(56);
  flex: none;
}

.mdw-datatable__header,
.mdw-datatable__footer {
  @include mdw-platform__ie() {
    // Fix IE min-height flexbug
    &::after {
      content: '';

      min-height: inherit;
      width: 0;
    }
  }
}

.mdw-datatable__footer-options,
.mdw-datatable__footer-details {
  margin-right: dp(28);
  margin-left: dp(2);

  :root[dir="rtl"] & {
    margin-right: dp(2);
    margin-left: dp(28);
  }
}

.mdw-datatable__header-controls,
.mdw-datatable__footer-controls {
  display: inline-flex;

  margin-right: dp(4);
  margin-left: dp(4);

  .mdw-button {
    margin: 0 dp(4);
  }
}

.mdw-datatable__footer-controls {
  direction: ltr;

  :root[dir="rtl"] & {
    transform: scaleX(-1);
  }
}

.mdw-datatable__footer-options {
  display: flex;
  align-items: center;
  
  select.mdw-textfield__input {
    min-width: dp(40 + 24);

    direction: rtl;

    :root[dir="rtl"] & {
      direction: ltr;
    }
  }
}

