.mdw-theme {
  --mdw-datatable__text-rgb: var(--mdw-ink-default);
  --mdw-datatable__text-opacity: var(--mdw-high-opacity);
  --mdw-datatable__secondary-text-opacity: var(--mdw-medium-opacity);
  --mdw-datatable__divider-opacity: var(--mdw-divider-opacity);
  --mdw-datatable__hover-opacity: var(--mdw-datatable__hover-opacity-value);
  --mdw-datatable__focus-opacity: var(--mdw-datatable__focus-opacity-value);
  --mdw-datatable__selected-opacity: var(--mdw-datatable__selected-opacity-value);
  --mdw-datatable__disabled-opacity: var(--mdw-inactive-opacity);
}

.mdw-theme[mdw-light] {
  --mdw-datatable__hover-opacity-value: 0.04;
  --mdw-datatable__focus-opacity-value: 0.12;
  --mdw-datatable__selected-opacity-value: 0.08;

  // Inherit color on light theme.
  --mdw-datatable__header-fill-text: invalid;
}

.mdw-theme[mdw-dark] {
  --mdw-datatable__hover-opacity-value: 0.08;
  --mdw-datatable__focus-opacity-value: 0.24;
  --mdw-datatable__selected-opacity-value: 0.16;
  --mdw-datatable__header-fill-text: rgba(255, 255, 255, 1.00);
}

.mdw-datatable {
  --mdw-datatable__cell-focus-opacity: 0;
  --mdw-datatable__cell-hover-opacity: 0;
  --mdw-datatable__cell-disabled-opacity: 0;
  --mdw-datatable__row-background-color: var(--mdw-datatable__text-rgb);
  --mdw-datatable__row-focus-opacity: var(--mdw-datatable__focus-opacity);
  --mdw-datatable__row-hover-opacity: var(--mdw-datatable__hover-opacity);
  --mdw-datatable__row-disabled-opacity: var(--mdw-datatable__disabled-opacity);

  &[mdw-cell-focusable] {
    --mdw-datatable__cell-focus-opacity: var(--mdw-datatable__focus-opacity);
    --mdw-datatable__cell-hover-opacity: var(--mdw-datatable__hover-opacity);
    --mdw-datatable__cell-disabled-opacity: var(--mdw-datatable__disabled-opacity);
  }
}

.mdw-datatable tr,
.mdw-datatable td,
.mdw-datatable th {
  border-color: RGBA(var(--mdw-datatable__text-rgb), var(--mdw-datatable__divider-opacity));
}

.mdw-datatable th:not([mdw-selector]),
.mdw-datatable__footer {
  color: RGBA(var(--mdw-datatable__text-rgb), var(--mdw-datatable__secondary-text-opacity));
}

.mdw-datatable caption,
.mdw-datatable__header-text {
  color: RGBA(var(--mdw-datatable__text-rgb), var(--mdw-datatable__text-opacity));
}

.mdw-datatable__header-controls,
.mdw-datatable__footer-controls {
  color: RGBA(var(--mdw-datatable__text-rgb), var(--mdw-datatable__text-opacity));
}

.mdw-datatable td:not([mdw-checkbox]) {
  color: RGBA(var(--mdw-datatable__text-rgb), var(--mdw-datatable__text-opacity));
}

.mdw-datatable th[aria-sort]:not([aria-sort="none"]) {
  color: RGBA(var(--mdw-datatable__text-rgb), var(--mdw-datatable__text-opacity));
}

.mdw-datatable[mdw-has-selection] {
  caption,
  .mdw-datatable__header {
    background-color: RGBA(var(--mdw-ink), var(--mdw-datatable__selected-opacity));
  }

  caption,
  .mdw-datatable__header-text {
    // Inherit color on light theme
    color: var(--mdw-datatable__header-fill-text, inherit);
  }
}

.mdw-datatable tbody tr {
  background-color: RGBA(var(--mdw-datatable__row-background-color), calc(var(--mdw-datatable__row-hover-opacity) + var(--mdw-datatable__row-focus-opacity) + var(--mdw-datatable__selected-opacity)));

  &[aria-selected="true"] {
    --mdw-datatable__row-background-color: var(--mdw-ink);
  }

  &:not([aria-selected="true"]) {
    --mdw-datatable__selected-opacity: 0;
  }

  &:not(:hover) {
    --mdw-datatable__row-hover-opacity: 0;
  }

  &:not(:focus) {
    --mdw-datatable__row-focus-opacity: 0;
  }

  &[aria-disabled="true"] {
    --mdw-datatable__row-hover-opacity: 0;
    --mdw-datatable__row-focus-opacity: 0;
    opacity: var(--mdw-datatable__row-disabled-opacity);
  }
}

.mdw-datatable tbody td {
  background-color: RGBA(var(--mdw-datatable__text-rgb), calc(var(--mdw-datatable__cell-hover-opacity) + var(--mdw-datatable__cell-focus-opacity)));

  &:not(:hover) {
    --mdw-datatable__cell-hover-opacity: 0;
  }

  &:not(:focus) {
    --mdw-datatable__cell-focus-opacity: 0;
  }

  &[aria-disabled="true"] {
    --mdw-datatable__cell-hover-opacity: 0;
    --mdw-datatable__cell-focus-opacity: 0;
    opacity: var(--mdw-datatable__cell-disabled-opacity);
  }
}
