// https://material.io/guidelines/components/data-tables.html
// https://material.io/guidelines/patterns/selection.html#selection-item-selection

@import '../../core/platform.scss';
@import '../../core/motion.scss';
@import '../../core/breakpoint.scss';
@import '../../core/type.scss';

$mdw-datatable__icon-size: dp(16);

.mdw-datatable {
  display: flex;
  flex-direction: column;
}
.mdw-datatable table {
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.mdw-datatable caption,
.mdw-datatable__header {
  @include type-rules('h6');
  min-height: dp(64);
}

.mdw-datatable caption {
  caption-side: top;
  line-height: dp(64);
  text-align: left;
  text-align: start;
  html[dir=rtl] {
    text-align: right;
    text-align: start;
  }
  padding: 0 dp(16);
}

.mdw-datatable__header {
  flex: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mdw-datatable__header-text,
.mdw-datatable__header-actions {
  flex-grow: 1;
}
.mdw-datatable__header-text,
.mdw-datatable__header-actions,
.mdw-datatable__header-controls {
  display: flex;
}

.mdw-datatable__header-text {
  padding-left: dp(16);
  padding-right: 0;
  html[dir=rtl] & {
    padding-left: 0;
    padding-right: dp(16);
  }
}

.mdw-datatable tr {
  outline: none;
  border-bottom-style: solid;
  border-bottom-width: dp(1);
  height: dp(48);
}

.mdw-datatable thead > tr {
  height: dp(48);
}


.mdw-datatable td {
  @include type-rules('body-2');
  //text-align: left;
  // Expected line-height is 20dp. Support two lines within 48dp
  padding-top: dp(4);
  padding-bottom: dp(4 - 1); // Remove bottom border width
  outline: none;
  &[mdw-selector] + td {
    padding-left: dp(12);
    padding-right: dp(16);
    html[dir=rtl] & {
      padding-left: dp(16);
      padding-right: dp(12);
    }
  }
  
}

.mdw-datatable th[mdw-selector],
.mdw-datatable td[mdw-selector] {
  padding-left: dp(16);
  padding-right: 0;
  html[dir=rtl] & {
    padding-left: 0;
    padding-right: dp(16);
  }
  width: dp(24);
}
.mdw-datatable th {
  @include type-rules('caption');
  white-space: nowrap;
  &[mdw-selector] + th {
    padding-left: dp(12);
    padding-right: dp(16);
    html[dir=rtl] & {
      padding-left: dp(16);
      padding-right: dp(12);
    }
  }
}


.mdw-datatable th,
.mdw-datatable td {
  text-align: center;
  padding-left: dp(16);
  padding-right: dp(16);
  .mdw-selection__input {
    // Remove ripple
    visibility: hidden;
  }
}

.mdw-datatable th[mdw-primary-column],
.mdw-datatable td[mdw-primary-column] {
  width: 100%;
  border-width: dp(1);
  border-right-style: solid;
  html[dir=rtl] & {
    border-left-style: solid;
    border-right-style: none;
  }
}

.mdw-datatable__sort-icon {
  display: inline-block;
  transform: translateX(-$mdw-datatable__icon-size) rotate(180deg);
  transform-origin: ($mdw-datatable__icon-size / 2) ($mdw-datatable__icon-size / 2);
  transition-property: transform;
  vertical-align: bottom;
  max-width: 0;
  transition-timing-function: $mdw-motion__standard-easing;
  transition-duration: $mdw-motion__default-duration__desktop;
  @include mdw-breakpoint__mobile-device {
    transition-duration: $mdw-motion__default-duration__mobile;
  }
  @include mdw-breakpoint__tablet-device {
    transition-duration: $mdw-motion__default-duration__tablet;
  }
  color: transparent;
  &.material-icons {
    font-size: $mdw-datatable__icon-size;
  }
}

.mdw-datatable th[mdw-sortable] {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  &:hover,
  &[mdw-sorted] {
    .mdw-datatable__sort-icon {
      color: inherit;
      transform: translateX(-$mdw-datatable__icon-size) rotate(180deg);
    }
  }
  &[mdw-sorted=desc] {
    .mdw-datatable__sort-icon {
      transform: translateX(-$mdw-datatable__icon-size) rotate(0deg);
    }
  }
}



.mdw-datatable th[data-type="text"],
.mdw-datatable td[data-type="text"] {
  text-align: left;
  text-align: start;
  html[dir=rtl] & {
    text-align: right;
    text-align: start;
  }
}

.mdw-datatable th[data-type="number"],
.mdw-datatable td[data-type="number"] {
  text-align: right;
  text-align: end;
  html[dir=rtl] & {
    text-align: left;
    text-align: end;
  }
}

.mdw-datatable__scroller {
  overflow:auto;
}

.mdw-datatable__footer {
  flex: none;
  min-height: dp(56);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  @include type-rules('caption');
}

.mdw-datatable__header,
.mdw-datatable__footer {
  @include mdw-platform__ie() {
    // Fix IE min-height flexbug
    &::after {
      content: '';
      min-height: inherit;
      width: 0;
    }
  }
}

.mdw-datatable__footer-options,
.mdw-datatable__footer-details {
  margin-left: dp(2);
  margin-right: dp(28);
  html[dir=rtl] & {
    margin-left: dp(28);
    margin-right: dp(2);
  }
}

.mdw-datatable__header-controls,
.mdw-datatable__footer-controls {
  display: inline-flex;
  margin-left: dp(4);
  margin-right: dp(4);
  .mdw-button {
    margin: 0 dp(4);
  }
}

.mdw-datatable__footer-controls {
  direction: ltr;
  html[dir=rtl] & {
    transform: scaleX(-1);
  }
}

.mdw-datatable__footer-options {
  display: flex;
  align-items: center;
  
  select.mdw-textfield__input {
    min-width: dp(40 + 24);
    direction: rtl;
    html[dir=rtl] & {
      direction: ltr;
    }
  }
}

