// https://material.io/guidelines/components/data-tables.html
// https://material.io/guidelines/patterns/selection.html#selection-item-selection


table.mdw-datatable,
.mdw-datatable table {
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.mdw-datatable caption,
.mdw-datatable__header {
  font-size: sp(20);
  font-weight: $font-weight-regular;
}

.mdw-datatable caption {
  caption-side: top;
  line-height: dp(64);
  text-align: left;
  text-align: start;
  html[dir=rtl] {
    text-align: right;
    text-align: start;
  }
  padding: 0 dp(24);
}

.mdw-datatable__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mdw-datatable__header-text,
.mdw-datatable__header-actions {
  flex-grow: 1;
}
.mdw-datatable__header-text,
.mdw-datatable__header-actions,
.mdw-datatable__header-controls {
  display: flex;
}

.mdw-datatable__header-text {
  padding-left: dp(24);
  padding-right: 0;
  html[dir=rtl] & {
    padding-left: 0;
    padding-right: dp(24);
  }
}

.mdw-datatable tr {
  outline: none;
  border-bottom-style: solid;
  border-bottom-width: dp(1);
  font-size: sp(13);
  font-weight: $font-weight-regular;
  height: dp(48);
}

.mdw-datatable thead > tr {
  font-size: sp(12);
  font-weight: $font-weight-medium;
  height: dp(56);
}


.mdw-datatable td {
  //text-align: left;
  padding-top: dp(8);
  padding-bottom: dp(8);
  outline: none;
}
.mdw-datatable th {
  white-space: nowrap;
}
.mdw-datatable th,
.mdw-datatable td {
  text-align: center;
  padding-left: dp(28);
  padding-right: dp(24);
  &:first-of-type {
    padding-left: dp(24);
    padding-right: dp(24);
  }

  html[dir=rtl] & {
    padding-left: dp(24);
    padding-right: dp(28);
    &:first-of-type {
      padding-left: dp(24);
      padding-right: dp(24);
    }
  }

  .mdw-selection__input {
    // Remove ripple
    visibility: hidden;
  }
}

.mdw-datatable td[mdw-primary-column],
.mdw-datatable th[mdw-primary-column] {
  width: 100%;
  padding-right: dp(24);
}

.mdw-datatable__sort-icon {
  display: inline-block;
  transform: translateX(-16px) rotate(180deg);
  transform-origin: 8px 8px;
  transition-property: transform;
  vertical-align: bottom;
  max-width: 0;
  transition-timing-function: $motion-easing-standard;
  transition-duration: $motion-duration-desktop-default;
  @include allHandsets {
    transition-duration: $motion-duration-mobile-default;
  }
  @include allTablets {
    transition-duration: $motion-duration-tablet-default;
  }
  color: transparent;
  &.material-icons {
    font-size: 16px;
  }
}

.mdw-datatable th[mdw-sortable] {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  &:hover,
  &[mdw-sorted] {
    .mdw-datatable__sort-icon {
      color: inherit;
      transform: translateX(-16px) rotate(180deg);
    }
  }
  &[mdw-sorted=desc] {
    .mdw-datatable__sort-icon {
      transform: translateX(-16px) rotate(0deg);
    }
  }
}



.mdw-datatable th[data-type="text"],
.mdw-datatable td[data-type="text"] {
  text-align: left;
  text-align: start;
  html[dir=rtl] & {
    text-align: right;
    text-align: start;
  }
}

.mdw-datatable th[data-type="number"],
.mdw-datatable td[data-type="number"] {
  text-align: right;
  text-align: end;
  html[dir=rtl] & {
    text-align: left;
    text-align: end;
  }
}

.mdw-datatable__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: sp(12);
  font-weight: $font-weight-regular;
}

.mdw-datatable__header,
.mdw-datatable__footer {
  min-height: 64px;
  @include IEOnly() {
    // Fix IE min-height flexbug
    &::after {
      content: '';
      min-height: inherit;
      width: 0;
    }
  }
}

.mdw-datatable__footer-options,
.mdw-datatable__footer-details {
  margin-left: dp(18);
  margin-right: dp(14);
  html[dir=rtl] & {
    margin-left: dp(14);
    margin-right: dp(18);
  }
}

.mdw-datatable__header-controls,
.mdw-datatable__footer-controls {
  display: inline-flex;
  margin-left: dp(2);
  margin-right: dp(2);
  .mdw-button {
    margin: 0 dp(4);
  }
}

.mdw-datatable__footer-controls {
  direction: ltr;
  html[dir=rtl] & {
    transform: scaleX(-1);
  }
}

.mdw-datatable__footer-options {
  display: flex;
  align-items: center;
  
  select.mdw-textfield__input {
    min-width: dp(40 + 24);
    direction: rtl;
    html[dir=rtl] & {
      direction: ltr;
    }
  }
}

