@import '../../core/_platform.scss';

.mdw-divider {
  width: 100%;
  border-bottom: dp(1) solid;
  margin-top: dp(-1);
}
.mdw-divider__vertical {
  height: 100%;
  border-left: dp(1) solid;
  margin-right: dp(-1);
}
