@import '../common/theming.scss';

$dividerColors: (
  color: (('foreground-light', 0.12), ('foreground-dark', 0.12)),
);

@function dividerThemeValue($key, $type, $theme) {
  @return themeValue('divider', $dividerColors, $key, $type, $theme);
}

@mixin dividerThemeVariables($lightness) {
  @include themeVariables('divider', $dividerColors, $lightness);
}

@mixin dividerContrastRules($type: 'var', $theme: null) {
  .mdw-divider {
    color: dividerThemeValue("color", $type, $theme);
  }
}