@import '../common/functions.scss';
@import '../common/mixins.scss';

$navdrawerColors: (
  selected-color:       (('foreground-light', 1.00), ('foreground-dark', 1.00)),
  text-color:           (('foreground-light', 0.87), ('foreground-dark', 1.00)),
  secondary-text-color: (('foreground-light', 0.54), ('foreground-dark', 0.70)),
  divider-color:        (('foreground-light', 0.12), ('foreground-dark', 0.12)),
  drawer-background:    ((#fff,             1.00), ('background', '800', 1.00)),
  content-background:   (('background', '50', 1.00), ('background', '900', 1.00))
);

@function navdrawerThemeValue($key, $type, $theme) {
  @return themeValue('navdrawer', $navdrawerColors, $key, $type, $theme);
}

@mixin navdrawerThemeVariables($lightness) {
  @include themeVariables('navdrawer', $navdrawerColors, $lightness);
}

// Vary by contrast or theme
@mixin navdrawerContrastRules($type: 'var', $theme: null) {
  .mdw-navdrawer__avatars-current,
  .mdw-navdrawer__avatars-others {
    > .mdw-button {
      border-color: navdrawerThemeValue("divider-color", $type, $theme);
    }
  }
  .mdw-navdrawer {
    background-color: navdrawerThemeValue("content-background", $type, $theme);
  }
  .mdw-navdrawer__drawer {
    border-color: navdrawerThemeValue("divider-color", $type, $theme);
    .mdw-list__item[mdw-selected]:not([mdw-theme-color]) {
      color: navdrawerThemeValue("selected-color", $type, $theme);
    }
    .mdw-list__item:not([mdw-selected]) {
      .mdw-list__icon {
        color: navdrawerThemeValue("secondary-text-color", $type, $theme);
      }
      .mdw-list__text {
        color: navdrawerThemeValue("text-color", $type, $theme);
      }
    }
    .mdw-list__subheader {
      color: navdrawerThemeValue("secondary-text-color", $type, $theme);
    }
  }
  @include allHandsetsAndTablets {
    .mdw-navdrawer[mdw-floating] .mdw-navdrawer__drawer,
    .mdw-navdrawer__drawer {
      background-color: navdrawerThemeValue("drawer-background", $type, $theme);
    }
  }
  .mdw-navdrawer[mdw-floating=card],
  .mdw-navdrawer:not([mdw-floating]) {
    .mdw-navdrawer__drawer {
      background-color: navdrawerThemeValue("drawer-background", $type, $theme);
    }
  }
}