.display-flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

[flex-column] {
  flex-direction: column;
}

[flex-justify-content="center"] {
  justify-content: center;
}

[flex-align-items="center"] {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}
