@import './_flex.scss';

// Material Icon incorrectly changes RTL direction
.material-icons {
  direction: inherit;
}


.comparison {
  display: flex;
  flex-direction: row;
  position: relative;
}

.androidstatusbar {
  z-index: 16;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  height: 24px;
  padding: 0 8px;
  font-size: 14px;
  color: white;

  .mdw-theme[mdw-light] &,
  .mdw-theme[mdw-dark] .mdw-theme[mdw-light] & {
    &:not([mdw-surface]) {
      background-color: #E0E0E0;
      color: rgba(0, 0, 0, 0.87);
    }
  }

  .mdw-theme[mdw-dark] &,
  .mdw-theme[mdw-light] .mdw-theme[mdw-dark] & {
    &:not([mdw-surface]) {
      background-color: black;
      color: rgba(255, 255, 255, 1);
    }
  }

  .material-icons {
    font-size: 18px;
  }
}

.content {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  flex-direction: column;
}

.render,
.target {
  width: 360px;
  max-width: 360px;
}

.render-fill {
  flex: 1;
}

.render,
.render-fill {
  z-index: 1;
  overflow-x: hidden;
  max-height: 640px;
  border-color: #eee;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  .mdw-theme[mdw-light] & {
    border-color: rgba(0,0,0,0.12);
  }
  .mdw-theme[mdw-dark] & {
    border-color: rgba(255,255,255,0.12);
  }
}

.docs-option-list {
  & > .mdw-selection {
    margin:16px 8px;
  }
}

.render,
.render-fill,
.target {
  position: relative;
  margin: 8px;
  height: 640px;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  .clipped & {
    max-height: 190px;
  }
  .clipped-236 & {
    max-height: 236px;
  }
  .clipped-300 & {
    max-height: 300px;
  }
  .clipped-304 & {
    max-height: 304px;
  }
}



.horizontal-controls {
  display:inline-flex;
  width:100%;
  & > :not(:last-child) {
    margin-right: 16px;
    margin-left: 0;
  }
  [dir=rtl] & > :not(:last-child) {
    margin-left: 16px;
    margin-right: 0;
  }
}



.docs-render-overlay {
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  flex-direction:row-reverse
}

.component-sample {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  min-height: 360px;
  .mdw-theme[mdw-light] & {
    border-color: rgba(0,0,0,0.12);
  }
  .mdw-theme[mdw-dark] & {
    border-color: rgba(255,255,255,0.12);
  }
}

.component-sample__container {
  display: inline-flex;
}

.component-code {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 24px;
  white-space: pre-wrap;
  word-break: break-word;
  font-family: monospace;
  flex-grow: 1;
  position: relative;
}

#usePug {
  position: absolute;
  top: 4px;
  right: 4px;
  left: auto;
  font-size: 12px;
  margin: 0;
  :root[dir="rtl"] {
    right: auto;
    left: 4px;
  }
}


.androidnavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 48px;
  height: 48px;
  padding: 0 30px;
  background-color: black;
  color: white;
  .material-icons {
    font-size: 20px;
  }
  .material-icons.back-button {
   transform: rotate(90deg);
  }
}

.custom-no-results-indicator {
  margin: 8px;
  min-height: 48px;
}


#Vintage50Input {
  font-size: sp(34);
}

.type-comparison {
  .content {
    margin: 8px;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
  }
  .target {
    margin-top: 42px;
    background-position-x: -200px;
    width: 760px;
    height: 568px;
  }
  .mdw-type {
    position: relative; // For tooltip position
  }
}
.type-comparison-2 {
  .target {
    width: 760px;
    height: 208px;
  }
}
.type-comparison-3 {
  .target {
    width: 360px;
    height: 300px;
  }
}

.docs-grid {
  .mdw-card {
    padding: 16px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
}

.docs-elevation__item {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.docs-tab {
  .component-sample__container {
    width: 100%;
    > .mdw-tab {
      width: 100%;
    }
  }
}

.demo-core-item {
  border-radius: 8px;
  min-width: 5em;
  height: 5em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  &[demo-round] {
    border-radius: 50%;
    max-width: 5em;
    max-height: 5em;
  }
  &[demo-square] {
    border-radius: 0;
    max-width: 5em;
    max-height: 5em;
  }
}