include ./_mixins.pug

+header("Home")
  .mdw-grid(mdw-margin-top mdw-margin-bottom mdw-stretch)
    .mdw-grid__item(mdw-colspan="100%")
      .mdw-grid__content
        h1.mdw-type Material Design Web
        +mdwButton({ink:"primary"})(href="https://github.com/clshortfuse/materialdesignweb") GitHub
        +mdwButton({ink:"primary"})(href="./report.html") Bundle Analyzer Report
  script(src='index.min.js')
