html {
  overflow-y: hidden;

  block-size: 100%;
  min-block-size: 100%;
  inline-size: 100vw;

  margin: 0;
  padding: 0;

  background-color: rgb(var(--mdw-color__background));
  color: rgb(var(--mdw-color__on-background));
}

body {
  --mdw-grid__row1: "navdrawer appbar sidedrawer";
  --mdw-grid__row2: "navdrawer banner sidedrawer";
  --mdw-grid__row3: "navdrawer content sidedrawer";
  --mdw-grid__row4: "navdrawer bottom sidedrawer";
  position: relative;

  display: grid;
  grid-template-rows: [top] auto [banner] auto [content] minmax(auto,1fr) [bottom] auto;
  grid-template-columns: [start] minmax(0,auto) [center] minmax(0,100%) [end] minmax(0,auto);
  grid-template-areas: var(--mdw-grid__row1) var(--mdw-grid__row2) var(--mdw-grid__row3) var(--mdw-grid__row4);
  overflow-x: hidden;
  overflow-y: auto;

  block-size: 100%;
  inline-size: 100vw;
  max-inline-size: 100vw;
  margin: 0;

  padding: 0;

  background: repeating-conic-gradient(rgba(var(--mdw-color__on-background), 0.0333) 0% 25%, transparent 0% 50%) 50% / 16px 16px;
}

#nav {
  position: sticky;

  inset-block: 0 auto;

  grid-area: navdrawer;

  box-sizing: border-box;
  block-size: 100%;
  max-block-size: 100vh;
  inline-size: 100px;

  margin: 0;
  border: none;

  background-color: inherit;
  box-shadow: none;
}

iframe {
  border: none;
}

iframe#main {
  position: relative;

  grid-area: content;
  overflow-x: visible;
  overflow-y: visible;

  block-size: auto;
  min-block-size: 100%;
  inline-size: 100%
}

.box {
  min-inline-size: 40px;
  padding: 8px;

  text-align: center;
}

.custom-card-box {
  padding: 12px;
}

demo-flex {
  display: flex;
}

demo-flex[gap12] {
  gap: 12px;
}

demo-flex[align-center] {
  align-items: center;
}

demo-flex[wrap] {
  flex-wrap: wrap;
}

demo-flex[column] {
  flex-direction: column;
}

html[dir="rtl"] {
  --mdw-dir: -1;
}

#content {
  block-size: 100vh;
  inline-size: 100%;
  border: none;
}
