include ../mixins.pug

+header()
  +navdrawer("elevation")
    .comparison
      .display-flex.flex-wrap.flex-1(flex-justify-content="center" flex-align-items="center")
        div(style="margin:32px;padding:24px" mdw-elevation=1) 1dp elevation
        div(style="margin:32px;padding:24px" mdw-elevation=2) 2dp elevation
        div(style="margin:32px;padding:24px" mdw-elevation=3) 3dp elevation
        div(style="margin:32px;padding:24px" mdw-elevation=4) 4dp elevation
        div(style="margin:32px;padding:24px" mdw-elevation=6) 6dp elevation
        div(style="margin:32px;padding:24px" mdw-elevation=8) 8dp elevation
        div(style="margin:32px;padding:24px" mdw-elevation=9) 9dp elevation
        div(style="margin:32px;padding:24px" mdw-elevation=12) 12dp elevation
        div(style="margin:32px;padding:24px" mdw-elevation=16) 16dp elevation
        div(style="margin:32px;padding:24px" mdw-elevation=24) 24dp elevation