include ../mixins.pug

+header()
  +navdrawer("layout")
    p.mdw-type(mdw-style="body" style="text-align:center") Click on an element to change colspan
    div.display-flex(style="padding:16px")
      label.mdw-selection(mdw-theme-color="accent" style="margin:0 16px")
        input.mdw-selection__input(type="checkbox" checked)
        .mdw-selection__icon
        .mdw-selection__label Default Margins and Gutters
      label.mdw-selection(mdw-theme-color="accent" style="margin:0 16px")
        input.mdw-selection__input(type="checkbox")
        .mdw-selection__icon
        .mdw-selection__label Grid
    .mdw-layout.docs-layout
      .mdw-layout__item(mdw-rowspan="2")
        .mdw-card 1
      .mdw-layout__item(mdw-colspan="50%")
        .mdw-card 50%
      .mdw-layout__item
        .mdw-card 1
      .mdw-layout__item
        .mdw-card 1
      .mdw-layout__item
        .mdw-card 1
      .mdw-layout__item(mdw-colspan="2")
        .mdw-card 2
      .mdw-layout__item
        .mdw-card 1
      .mdw-layout__item(mdw-rowspan="3")
        .mdw-card 1
      .mdw-layout__item(mdw-colspan="5")
        .mdw-card 5
      .mdw-layout__item
        .mdw-card 1
      .mdw-layout__item
        .mdw-card 1
      .mdw-layout__item
        .mdw-card 1
      .mdw-layout__item(mdw-colspan="75%")
        .mdw-card 75%
      .mdw-layout__item
        .mdw-card 1
      .mdw-layout__item(mdw-rowspan="5")
        .mdw-card 1
      .mdw-layout__item(mdw-colspan="3")
        .mdw-card 3
      .mdw-layout__item
        .mdw-card 1
      .mdw-layout__item
        .mdw-card 1
      .mdw-layout__item
        .mdw-card 1
      .mdw-layout__item(mdw-colspan="75%")
        .mdw-card 75%
      .mdw-layout__item
        .mdw-card 1
      .mdw-layout__item
        .mdw-card 1
      .mdw-layout__item
        .mdw-card 1
      .mdw-layout__item
        .mdw-card 1
      .mdw-layout__item
        .mdw-card 1
      .mdw-layout__item(mdw-colspan="8")
        .mdw-card 8
      .mdw-layout__item
        .mdw-card 1
      .mdw-layout__item
        .mdw-card 1
  script(src='layout.min.js')