// https://material.io/design/components/tabs.html#spec

@import '../../core/_breakpoint.scss';
@import '../../core/_motion.scss';
@import '../../core/_platform.scss';
@import '../../core/_type.scss';

$mdw-tab__icon-size: 24 !default;
$mdw-tab__icon-margin-top: 12 !default;
$mdw-tab__icon-to-label-baseline: 20 !default;
$mdw-tab__icon-with-label-height: 72 !default;

.mdw-tab {
  display: flex;
  flex-direction: column;
}

.mdw-tab__list {
  display: flex; // IE11 doesn't support grid-auto-columns
  display: grid;
  position: relative;
  flex-direction: row;

  grid-auto-columns: 1fr;

  justify-content: flex-start;

  -ms-overflow-style: none;

  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;

  flex: none;
  overscroll-behavior-x: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &[mdw-scrollable] {
    display: flex;
    overflow-x: auto;
    
    box-sizing: border-box;
    
    &::before,
    &::after {

      min-width: dp(52);
      // Ensures 52dp blank space at end
      content: '';
    }

    & > .mdw-tab__item {
      min-width: dp(90);
      max-width: 100%;
      flex: none;
    }
  }
}

.mdw-tab__icon,
.mdw-tab__label,
.mdw-tab__indicator {
  transition-duration: $mdw-motion__simple-duration;
  transition-timing-function: $mdw-motion__standard-easing;
}

.mdw-tab__indicator {
  position: absolute;
  right: auto;
  bottom: 0;
  left: 0;

  height: dp(2);
  width: 0;
  width: dp(1000);

  transition-property: none;

  transform: translateX(0) scaleX(0);
  transform-origin: 0 0 0;

  background-color: currentColor;

  &[mdw-animate] {
    transition-property: transform;
  }
  
}

.mdw-tab__item {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;

  grid-row: 1;
  overflow: hidden;

  box-sizing: content-box;
  min-height: dp(48); // Redundant but needed for IE11
  flex: auto;

  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  z-index: 0;

  border-radius: 0;

  box-shadow: none;

  
}

.mdw-tab__icon {
  @include baseline-bottom($mdw-tab__icon-to-label-baseline);
  margin-top: dp($mdw-tab__icon-margin-top);
  margin-bottom: dp(-$mdw-tab__icon-to-label-baseline);

  transition-property: color;

  pointer-events: none;
}

.mdw-tab__label {
  @include type-rules('button');

  box-sizing: border-box;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 dp(16);

  transition-property: color;

  pointer-events: none;

  text-align: center;

  .mdw-tab__icon ~ & {
    @include baseline-top($mdw-tab__icon-to-label-baseline);
    @include baseline-bottom($mdw-tab__icon-with-label-height
    - $mdw-tab__icon-margin-top
    - $mdw-tab__icon-size
    - $mdw-tab__icon-to-label-baseline);

    display: block;

    min-height: 0;
    margin: 0;
  }
}

.mdw-tab__content {
  display: flex;
  position: relative;
  align-items: stretch;
  flex-direction: row;

  // Hide scrollbar
  -ms-overflow-style: none;
  overflow-x: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  
  // W3C standard
  scroll-snap-type: x mandatory;
  scrollbar-width: none;

  flex-grow: 1;

  // Snap

  // Firefox
  -webkit-scroll-snap-type-x: mandatory;
  scroll-snap-type-x: mandatory;
  -webkit-scroll-snap-points-x: repeat(100%);
  scroll-snap-points-x: repeat(100%);
  
  // Safari 9
  
  // IE + Edge
  -ms-scroll-snap-x: mandatory snapInterval(0%, 100%);
  
  overscroll-behavior-x: none;

  .mdw-tab[mdw-resize-stage] & {
    scroll-behavior: auto;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.mdw-tab__panel {
  scroll-snap-align: center;

  min-width: 100%;
  max-width: 100%;
  flex-shrink: 0;
  flex-basis: 100%;

  will-change: visibility;

  visibility: visible;

  &[aria-hidden="true"] {
    visibility: hidden;
  }


  &[aria-expanded="false"] .mdw-tabs__panel__inactive-hide,
  &[aria-expanded="true"] .mdw-tabs__panel__active-hide {
    visibility: hidden;
  }

  &[aria-expanded="false"] .mdw-tabs__panel__inactive-remove,
  &[aria-expanded="true"] .mdw-tabs__panel__active-remove {
    display: none;
  }
  
}

.mdw-tab__content[mdw-no-scroll] {
  overflow-x: hidden;
  scroll-behavior: auto;
}
