// https://material.io/design/components/tabs.html#spec

@use '../../core/_elevation.scss' as elevation;
@use '../../core/_length.scss' as *;
@use '../../core/_motion.scss' as motion;
@use '../../core/_type.scss' as type;

$icon-size: 24 !default;
$icon-margin-top: 12 !default;
$icon-to-label-baseline: 20 !default;
$icon-with-label-height: 72 !default;

.mdw-tab {
  display: flex;
  flex-direction: column;
}

.mdw-tab__list {
  display: grid;
  position: relative;
  flex-direction: row;

  grid-auto-columns: 1fr;

  justify-content: flex-start;

  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;

  flex: none;
  overscroll-behavior-x: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &[mdw-scrollable] {
    display: flex;
    overflow-x: auto;

    box-sizing: border-box;

    &::before,
    &::after {
      // Ensures 52dp blank space at end
      content: '';

      min-inline-size: 52px;
    }
  }
}

.mdw-tab__icon,
.mdw-tab__label,
.mdw-tab__indicator {
  transition-duration: motion.$simpleDuration;
  transition-timing-function: motion.$standardEasing;
}

.mdw-tab__indicator {
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0 auto;

  block-size: 2px;
  inline-size: 0;
  inline-size: 1000px;

  transition-property: none;

  transform: translateX(0) scaleX(0);
  transform-origin: 0 0 0;

  background-color: currentColor;

  &[mdw-animate] {
    transition-property: transform;
  }

}

.mdw-tab__item {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;

  grid-row: 1;
  overflow: hidden;

  box-sizing: content-box;

  min-block-size: 48px;
  flex: auto;

  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  z-index: 0;

  border-radius: 0;

  box-shadow: none;

  .mdw-tab__list[mdw-scrollable] > & {
    min-inline-size: 90px;
    max-inline-size: 100%;
    flex: none;
  }
}

.mdw-tab__icon {
  @include type.baselineToBottom($icon-to-label-baseline);
  margin-block: dp($icon-margin-top) dp(-$icon-to-label-baseline);

  pointer-events: none;

  transition-property: color;
}

.mdw-tab__label {
  @include type.addRules('button');

  box-sizing: border-box;
  margin-block: auto;
  padding: 0 16px;

  pointer-events: none;

  transition-property: color;

  text-align: center;

  .mdw-tab__icon ~ & {
    @include type.baselineToTop($icon-to-label-baseline);
    @include type.baselineToBottom($icon-with-label-height - $icon-margin-top - $icon-size - $icon-to-label-baseline);

    display: block;

    min-block-size: 0;
    margin: 0;
  }
}

.mdw-tab__content {
  display: flex;
  position: relative;
  align-items: stretch;
  flex-direction: row;

  // Hide scrollbar
  -ms-overflow-style: none;
  overflow-x: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  scroll-behavior: smooth;

  // W3C standard
  scroll-snap-type: x mandatory;
  scrollbar-width: none;

  flex-grow: 1;

  // Snap

  // Firefox
  -webkit-scroll-snap-type-x: mandatory;
  scroll-snap-type-x: mandatory;
  -webkit-scroll-snap-points-x: repeat(100%);
  scroll-snap-points-x: repeat(100%);

  overscroll-behavior-x: none;

  .mdw-tab[mdw-resize-stage] & {
    scroll-behavior: auto;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.mdw-tab__panel {
  scroll-snap-align: center;

  min-inline-size: 100%;
  max-inline-size: 100%;
  flex-shrink: 0;
  flex-basis: 100%;

  will-change: visibility;

  visibility: visible;

  &[aria-hidden="true"] {
    visibility: hidden;
  }

  &[aria-expanded="false"] .mdw-tab__panel__inactive-hide,
  &[aria-expanded="true"] .mdw-tab__panel__active-hide {
    visibility: hidden;
  }

  &[aria-expanded="false"] .mdw-tab__panel__inactive-remove,
  &[aria-expanded="true"] .mdw-tab__panel__active-remove {
    display: none;
  }

}

.mdw-tab__content[mdw-no-scroll] {
  overflow-x: hidden;
  scroll-behavior: auto;
}
