@import '../../core/theme/index.scss';

$mdw-tab__theme-values: (
  inactive-color:    $mdw-theme__medium-ink,
) !default;

@function mdwTabThemeValue($key, $type, $theme) {
  @return mdwGetThemeValue('tab', $mdw-tab__theme-values, $key, $type, $theme);
}

@mixin mdw-tab__theme-rules($type: 'var', $theme: null) {
  .mdw-tab__item[aria-selected="false"] > .mdw-tab__icon,
  .mdw-tab__item[aria-selected="false"] > .mdw-tab__label {
    color: mdwTabThemeValue("inactive-color", $type, $theme);
  }

}

@each $name in map-keys($mdw-theme__themes) {
  $theme: map-get($mdw-theme__themes, $name);
  @include mdw-theme__add-component-fallback-rules('light', $name) {
    @include mdw-tab__theme-rules('light', $theme);
  }
  @include mdw-theme__add-component-fallback-rules('dark', $name) {
    @include mdw-tab__theme-rules('dark', $theme);
  }
}

@include mdw-theme__add-component-variable-rules('tab', $mdw-tab__theme-values) {
  @include mdw-tab__theme-rules();
}
