@import '../common/functions.scss';
@import '../common/mixins.scss';

$tabColors: (
  active-color:      ((#000, 0.87), (#fff, 1.00)),
  inactive-color:    ((#000, 0.54), (#fff, 0.70)),
  ripple-opacity:    (         0.26 ,          0.30),
);

@function tabThemeValue($key, $type, $theme) {
  @return themeValue('tab', $tabColors, $key, $type, $theme);
}

@mixin tabThemeVariables($color, $lightness) {
  @include themeVariables('tab', $tabColors, $color, $lightness);
}

// Vary by contrast
@mixin tabContrastRules($type: 'var', $theme: null) {
  .mdw-tab__items:not([mdw-theme-color]) {
    color: tabThemeValue("active-color", $type, $theme);
  }
  .mdw-tab__icon,
  .mdw-tab__label {
    color: tabThemeValue("inactive-color", $type, $theme);
  }

  .mdw-tab__item {
    & > .mdw-ripple > .mdw-ripple__inner,
    &::after {
      opacity: tabThemeValue("ripple-opacity", $type, $theme);
    }
  }
}
