@import '../common/functions.scss';
@import '../common/mixins.scss';

$tabColors: (
  active-color:      (('primary', '500', 1.00), (#fff, 1.0)),
  inactive-color:    ((#000,           0.54), (#fff, 0.50)),
  indicator-color:   (('primary', '500', 1.00), ('accent', '500', 1.00)),
  press-color:       (('primary', '500', 0.40), (#ccc, 0.25)),
  ripple-color:      (('primary', '500', 0.26), (#fff, 0.30), (#fff, 0.20)),
  focus-overlay:     (('primary', '500', 0.12), (#fff, 0.20), (#fff, 0.12))
);

@function tabThemeValue($key, $type, $theme) {
  @return themeValue('tab', $tabColors, $key, $type, $theme);
}

@mixin tabThemeVariables($color, $lightness) {
  @include themeVariables('tab', $tabColors, $color, $lightness);
}

// Vary by contrast
@mixin tabContrastRules($type: 'var', $theme: null) {
  @at-root {
    #{&}.mdw-tab {
      .mdw-tab__icon,
      .mdw-tab__label {
        color: tabThemeValue("inactive-color", $type, $theme);
      }
      .mdw-tab__indicator {
        background-color: tabThemeValue("indicator-color", $type, $theme);
      }
      input:checked + .mdw-tab__action > .mdw-tab__icon,
      input:checked + .mdw-tab__action > .mdw-tab__label,
      input:checked ~ .mdw-tab__icon,
      input:checked ~ .mdw-tab__label {
          color: tabThemeValue("active-color", $type, $theme);
      }
      .mdw-tab__action {
        & > .mdw-ripple,
        &::after {
          background-image: radial-gradient(
            circle at center,
            tabThemeValue("ripple-color", $type, $theme) 10%,
            transparent 10.0001%
          );
        }
      }
    }
  }
}

// Varies by current color
@mixin tabColoredRules($value: "var(--color)") {
  // none
}

// Varies by theme
@mixin tabThemeRules($theme: null) {
  // none
}