@import '../common/theming.scss';

$tabColors: (
  active-color:      (('foreground-light', 0.87), ('foreground-dark', 1.00)),
  inactive-color:    (('foreground-light', 0.54), ('foreground-dark', 0.70)),
  ripple-opacity:    (         0.26 ,          0.30),
);

@function tabThemeValue($key, $type, $theme) {
  @return mdwGetThemeValue('tab', $tabColors, $key, $type, $theme);
}

@mixin tabThemeVariables($lightness) {
  @include mdw-theme__variables('tab', $tabColors, $lightness);
}

// Vary by contrast
@mixin tabContrastRules($type: 'var', $theme: null) {
  .mdw-tab__items:not([mdw-theme-color]) {
    color: tabThemeValue("active-color", $type, $theme);
  }
  .mdw-tab__icon,
  .mdw-tab__label {
    color: tabThemeValue("inactive-color", $type, $theme);
  }

  .mdw-tab__item {
    & > .mdw-ripple > .mdw-ripple__inner,
    &::after {
      opacity: tabThemeValue("ripple-opacity", $type, $theme);
    }
  }
}
