// https://material.io/guidelines/components/menus.html

@import '../../common/variables.scss';

$menu__unit-width: dp(56);
$menu__animation-duration: 200ms;
$menu__margin-top: dp(8);
$menu__margin-bottom: dp(14);

// from ic_check_black_18px.svg
// rotated 45°
$checkbox-icon-height: dp(12.73);
$checkbox-icon-width: dp(5.93);
$checkbox-icon-thickness: dp(1.5);
$checkbox-icon-offset-y: dp(2.64) - $checkbox-icon-thickness;
$checkbox-icon-offset-x: dp(6.04);


.mdw-menu__wrapper {
  position: relative;
  display: inline-block;
}

.mdw-menu__close {
  visibility: hidden;
  pointer-events: inherit;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  cursor: default;
}

.mdw-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  transition-property: transform box-shadow opacity;
  transition-timing-function: $motion-easing-deceleration;
  transition-duration: $motion-duration-desktop-leave;
  @include allHandsets {
    transition-duration: $motion-duration-mobile-leave;
  }
  @include allTablets {
    transition-duration: $motion-duration-tablet-leave;
  }
  @for $i from 3 to 7 {
    &[mdw-width-units="#{$i}"] {
      width: calc(#{$menu__unit-width} * #{$i});
    }
  }
  transform-origin: top left;
  transform: scaleX(0) scaleY(0);
  box-shadow: elevation(0);
  opacity: 0;
  margin-left: dp(8);
  margin-right: dp(8);
  padding-top: dp(8);
  padding-bottom: dp(8);
  border-radius: dp(2);
  min-width: $menu__unit-width * 2;
  max-width: $menu__unit-width * 5;
  top: 0;
  &[mdw-position~="top"] {
    top: 0;
  }
  &[mdw-position~="left"] {
    left: dp(4);
  }
  &[mdw-position~="right"] {
    right: dp(-4);
    transform-origin: top right;
  }
  &[mdw-position~="bottom"] {
    top: auto;
    bottom: 0;
    transform-origin: bottom left;
  }
  &[mdw-position~="bottom"][mdw-position~="right"] {
    transform-origin: bottom left;
  }
  &[mdw-show]:not([mdw-hide]),
  &:target {
    pointer-events: auto;
    transition-timing-function: $motion-easing-acceleration;
    transition-duration: $motion-duration-desktop-enter;
    opacity: 1;
    transform: none;
    box-shadow: elevation(8);
    @include allHandsets {
      transition-duration: $motion-duration-mobile-enter;
    }
    @include allTablets {
      transition-duration: $motion-duration-tablet-enter;
    }
    .mdw-menu__close {
      visibility: visible;
    }
  }
}

.mdw-menu__text {
  white-space: nowrap;
  flex-grow: 1;
}

.mdw-menu__check {
  position: relative;
  min-width: dp(40);
  &::after {
    content: "";
    position: absolute;
    bottom: dp(4);
    left: dp(4);
    margin-left: $checkbox-icon-offset-x;
    margin-top: $checkbox-icon-offset-y;
    height: $checkbox-icon-height;
    width: $checkbox-icon-width;
  }
  &[checked]::after {
    // border-width: $checkbox-icon-thickness;
    // Increase visibility
    border-width: dp(2);
    background-color: transparent;
    box-sizing: border-box;
    transform: rotate(45deg) scale(1.11);
    border-bottom-style: solid;
    border-right-style: solid;
    // border-color: unquote("rgb(var(--background-color))");
  }
}

.mdw-menu > .mdw-menu__text,
.mdw-menu__item, {
  position: relative;
  overflow: hidden;
  z-index: 0;

  display: flex;
  align-items: flex-end;
  padding-left: dp(16);
  padding-right: dp(16);
  font-family: Roboto, sans-serif;
  font-size: sp(16);
  cursor: pointer;
  height: dp(48);
  padding-bottom: calc(#{dp(20)} - #{$font-descent * 1em});
  min-height: 48px;
  box-sizing: border-box;
  flex-direction: row;

  // If using JS ripple, destroy ::after object
  &[mdw-js-ripple]::after {
    content: none
  }
    
  & > .mdw-ripple,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none; // Safari improperly captures click
    transform: scale(10); // 10.0 has subpixel rendering issues
    transition-property: transform, opacity;
    transition-duration: 700ms;
    opacity: 0;
    
  }
  
  &:active {
    & > .mdw-ripple,
    &::after {
      transform: scale(0);
      transition-delay: 0ms;
      transition-duration: 0s;
      opacity: 1;
    }
  }
}

.mdw-menu__info {
  text-align: end;
}