// https://material.io/guidelines/components/menus.html

@import '../../common/ripple.scss';
@import '../../common/variables.scss';

$menu__unit-width: dp(56);
$menu__animation-duration: 200ms;
$menu__margin-top: dp(8);
$menu__margin-bottom: dp(14);

// from ic_check_black_18px.svg
// rotated 45°
$checkbox-icon-height: dp(12.73);
$checkbox-icon-width: dp(5.93);
$checkbox-icon-thickness: dp(1.5);
$checkbox-icon-offset-y: dp(2.64) - $checkbox-icon-thickness;
$checkbox-icon-offset-x: dp(6.04);


.mdw-menu__wrapper {
  position: relative;
  display: inline-block;
}

.mdw-menu__close {
  visibility: hidden;
  pointer-events: inherit;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  // z-index: -1; // Safari has a negative z-index bug
  cursor: default;
}

.mdw-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 8;
  pointer-events: none;
  transition-property: transform, box-shadow, opacity;
  transition-timing-function: $motion-easing-deceleration;
  transition-duration: $motion-duration-desktop-leave;
  @include allHandsets {
    transition-duration: $motion-duration-mobile-leave;
  }
  @include allTablets {
    transition-duration: $motion-duration-tablet-leave;
  }
  @for $i from 3 to 7 {
    &[mdw-width-units="#{$i}"] {
      width: calc(#{$menu__unit-width} * #{$i});
    }
  }
  transform-origin: top left;
  transform: scaleX(0) scaleY(0);
  box-shadow: elevation(0);
  opacity: 0;
  margin-left: dp(8);
  margin-right: dp(8);
  padding-top: dp(8);
  padding-bottom: dp(8);
  border-radius: dp(2);
  min-width: $menu__unit-width * 2;
  max-width: $menu__unit-width * 5;
  top: 0;
  left: 0;

  &[mdw-position~="right"],
  &[mdw-position~="end"] {
    left: auto;
    right: 0;
    transform-origin: top right;
  }
  &[mdw-position~="bottom"] {
    top: auto;
    bottom: 0;
    transform-origin: bottom left;
    &[mdw-position~="right"],
    &[mdw-position~="end"] {
        transform-origin: bottom right;
    }
  }

  [dir=rtl] & {
    left: auto;
    right: 0;
    transform-origin: top right;
    &[mdw-position~="left"],
    &[mdw-position~="end"] {
      left: 0;
      right: auto;
      transform-origin: top left;
    }
    &[mdw-position~="bottom"] {
      transform-origin: bottom right;
      &[mdw-position~="left"],
      &[mdw-position~="end"] {
        left: 0;
        right: auto;
        transform-origin: bottom left;
      }
    }
  }

  &[mdw-show]:not([mdw-hide]),
  &:target {
    pointer-events: auto;
    transition-timing-function: $motion-easing-acceleration;
    transition-duration: $motion-duration-desktop-enter;
    opacity: 1;
    transform: none;
    box-shadow: elevation(8);
    @include allHandsets {
      transition-duration: $motion-duration-mobile-enter;
    }
    @include allTablets {
      transition-duration: $motion-duration-tablet-enter;
    }
    .mdw-menu__close {
      visibility: visible;
    }
  }
}

.mdw-menu__text {
  white-space: nowrap;
  flex-grow: 1;
}

.mdw-menu__check,
.mdw-menu__icon {
  min-width: dp(40);
}

.mdw-menu__check {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: dp(20);
    left: dp(4);
    margin-left: $checkbox-icon-offset-x;
    [dir=rtl] & {
      right: dp(4);
      left: auto;
      margin-left: 0;
      margin-right: $checkbox-icon-offset-x;
    }
    margin-top: $checkbox-icon-offset-y;
    height: $checkbox-icon-height;
    width: $checkbox-icon-width;
    color: inherit;
  }
  .mdw-menu__item[mdw-checked] > &::after {
    // border-width: $checkbox-icon-thickness;
    // Increase visibility
    border-width: dp(2);
    background-color: transparent;
    box-sizing: border-box;
    transform: rotate(45deg) scale(1.11);
    border-bottom-style: solid;
    border-right-style: solid;
    border-color: currentColor;
    // border-color: unquote("rgb(var(--background-color))");
  }
}

.mdw-menu__item {
  display: flex;
  align-items: flex-end;
}

.mdw-menu__divider {
  height: dp(1);
  margin-top: dp(-1);
}

.mdw-menu > .mdw-menu__text,
.mdw-menu__item, {
  position: relative;
  overflow: hidden;
  z-index: 0;
  padding-left: dp(16);
  padding-right: dp(16);
  font-size: sp(16);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  min-height: dp(48);
  box-sizing: border-box;
  flex-direction: row;
  user-select: none;
  outline: none;

  &[disabled] {
    cursor: not-allowed;
    & > .mdw-ripple,
    &::after {
      display: none;
    }
  }
  & > .mdw-ripple {
    @include mdw-ripple__container;
  }

  & > .mdw-ripple > .mdw-ripple__inner,
  &::after {
    @include mdw-ripple__inner;
  }

  & > .mdw-ripple:active > .mdw-ripple__inner,
  &:active::after {
    @include mdw-ripple__active;
  }

  &[mdw-ripple] {
    overflow: visible;
    &::after {
      // If using custom ripple, destroy ::after object
      content: none;
    }
  }
}

.mdw-menu__info {
  text-align: end;
}

.mdw-menu__check,
.mdw-menu__info,
.mdw-menu__text {
  // Text is padded 20dp from baseline
  &::before {
    content: "\200D"; // &zwj;
    display: inline-block;
    line-height: 1;
    margin-bottom: dp(20);
    vertical-align: text-top;
  }
}

.mdw-menu > .mdw-menu__text::before {
  // Ensures min-height of 48dp
  // Use padding-top since negative values are ignored
  padding-top: calc(#{dp(48 - 20)} - 1em);
  vertical-align: baseline;
}

.mdw-menu__icon {
  align-self: flex-end;
  padding-bottom: dp(20);
  &.material-icons {
    padding-bottom: dp(14);
  }
}