:host {
  --mdw-shape__size: 0;
  --mdw-type__font-weight: var(--mdw-typescale__label-large__font-weight);
  --mdw-type__font-size: var(--mdw-typescale__label-large__font-size);
  --mdw-type__line-height: var(--mdw-typescale__label-large__line-height);
  --mdw-type__font-family: var(--mdw-typescale__label-large__font-family);
  --mdw-type__letter-spacing: var(--mdw-typescale__label-large__letter-spacing);
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row: auto;

  color: rgb(var(--mdw-ink));

  white-space: nowrap;
}

#label {
  display: flex;
  align-items: center;

  min-block-size: 48px;
  padding-inline: 12px;

  cursor: pointer;

  white-space: nowrap;
}

#slot {
  display: block;

  flex: 1;
}

#icon {
  order: -1;

  padding-inline-end: 12px;

  transition-duration: 100ms;
  transition-property: opacity;
  will-change: opacity;

}

:host(:not([icon])) #icon {
  display: none;
}

#trailing {
  display: none;
  order: 1;

  padding-inline-start: 12px;
}

#trailing, #icon {
  color: rgb(var(--mdw-color__on-surface-variant));
}

#trailing-icon:not(:is([icon],[src])) {
  display: none;
}

:host(:is([trailing],[trailing-icon],[trailing-src])) #trailing {
  display: block;
}

:host(:is([type="checkbox"],[type="radio"])) #icon {
  opacity: 0;
}

:host([checked]) #icon {
  opacity: 1;
}