// https://material.io/guidelines/components/menus.html

@import '../common/ripple.scss';
@import '../common/variables.scss';

$menu__unit-width: dp(56);
$menu__animation-duration: 200ms;
$menu__margin-top: dp(8);
$menu__margin-bottom: dp(14);

// from ic_check_black_18px.svg
// rotated 45°
$checkbox-icon-height: dp(12.73);
$checkbox-icon-width: dp(5.93);
$checkbox-icon-thickness: dp(1.5);
$checkbox-icon-offset-y: dp(2.64) - $checkbox-icon-thickness;
$checkbox-icon-offset-x: dp(6.04);

.mdw-menu__wrapper {
  position: relative;
  display: inline-flex;
}
.mdw-menu__close {
  visibility: hidden;
  pointer-events: inherit;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 8;
  // z-index: -1; // Safari has a negative z-index bug
  cursor: default;
}

.mdw-menu {
  position: relative;
  display: inline-flex;
  &[mdw-show]:not([mdw-hide]),
  &[id]:target:not([mdw-hide]) {
    .mdw-menu__close {
      visibility: visible;
    }
    .mdw-menu__popup {
      pointer-events: auto;
      transition-timing-function: $motion-easing-acceleration;
      transition-duration: $motion-duration-desktop-enter;
      @include allHandsets {
        transition-duration: $motion-duration-mobile-enter;
      }
      @include allTablets {
        transition-duration: $motion-duration-tablet-enter;
      }
      transform: scale(1);
      opacity: 1;
      box-shadow: elevation(8);
    }
  }

  &[mdw-position~="right"],
  &[mdw-position~="end"] {
    .mdw-menu__popup {
      left: auto;
      right: 0;
      transform-origin: top right;
    }
  }
  &[mdw-position~="bottom"] {
    .mdw-menu__popup {
      top: auto;
      bottom: 0;
      transform-origin: bottom left;
    }
    &[mdw-position~="right"],
    &[mdw-position~="end"] {
      .mdw-menu__popup {
        transform-origin: bottom right;
      }
    }
  }

  [dir=rtl] & {
    .mdw-menu__popup {
      left: auto;
      right: 0;
      transform-origin: top right;
    }
    &[mdw-position~="left"],
    &[mdw-position~="end"] {
      .mdw-menu__popup {
        left: 0;
        right: auto;
        transform-origin: top left;
      }
    }
    &[mdw-position~="bottom"] {
      .mdw-menu__popup {
        transform-origin: bottom right;
      }
      &[mdw-position~="left"],
      &[mdw-position~="end"] {
        .mdw-menu__popup {
          left: 0;
          right: auto;
          transform-origin: bottom left;
        }
      }
    }
  }
  @for $i from 3 to 7 {
    &[mdw-width-units="#{$i}"] {
      .mdw-menu__popup {
        width: calc(#{$menu__unit-width} * #{$i});
      }
    }
  }
}

.mdw-menu__popup {
  z-index: 8;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  transition-property: transform, box-shadow, opacity;
  transition-timing-function: $motion-easing-deceleration;
  transition-duration: $motion-duration-desktop-leave;
  @include allHandsets {
    transition-duration: $motion-duration-mobile-leave;
  }
  @include allTablets {
    transition-duration: $motion-duration-tablet-leave;
  }
  
  top: 0;
  left: 0;
  transform-origin: top left;
  transform: scale(0);
  box-shadow: elevation(0);
  opacity: 0;
  margin-left: dp(8);
  margin-right: dp(8);
  padding-top: dp(8);
  padding-bottom: dp(8);
  border-radius: dp(2);
  min-width: $menu__unit-width * 2;
  max-width: $menu__unit-width * 5;
  outline: none;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  max-height: 50vh;
}

.mdw-menu__text {
  white-space: nowrap;
  flex: auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.mdw-menu__check,
.mdw-menu__icon {
  min-width: dp(40);
}

.mdw-menu__check {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: dp(12);
    @include allHandsetsAndTablets {
      bottom: dp(20);
    }
    left: dp(4);
    margin-left: $checkbox-icon-offset-x;
    [dir=rtl] & {
      right: dp(4);
      left: auto;
      margin-left: 0;
      margin-right: $checkbox-icon-offset-x;
    }
    margin-top: $checkbox-icon-offset-y;
    height: $checkbox-icon-height;
    width: $checkbox-icon-width;
    color: inherit;
  }
  .mdw-menu__item[mdw-checked] > &::after {
    // border-width: $checkbox-icon-thickness;
    // Increase visibility
    border-width: dp(2);
    background-color: transparent;
    box-sizing: border-box;
    transform: rotate(45deg) scale(1.11);
    border-bottom-style: solid;
    border-right-style: solid;
    border-color: currentColor;
    // border-color: unquote("rgb(var(--background-color))");
  }
}

.mdw-menu__item {
  display: flex;
  align-items: flex-end;
}

.mdw-menu__divider {
  height: dp(1);
  margin-top: dp(7);
  margin-bottom: dp(8);
}

.mdw-menu__popup > .mdw-menu__text,
.mdw-menu__item, {
  position: relative;
  overflow: hidden;
  z-index: 0;
  padding-left: dp(24);
  padding-right: dp(24);
  font-size: sp(15);
  min-height: dp(32);
  @include allHandsetsAndTablets {
    min-height: dp(48);
    font-size: sp(16);
    padding-left: dp(16);
    padding-right: dp(16);
  }
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  flex-direction: row;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  outline: none;

  &[disabled] {
    cursor: not-allowed;
    & > .mdw-ripple,
    &::after {
      display: none;
    }
  }
  & > .mdw-ripple {
    @include mdw-ripple__container;
  }

  & > .mdw-ripple > .mdw-ripple__inner,
  &::after {
    @include mdw-ripple__inner;
  }

  & > .mdw-ripple:active > .mdw-ripple__inner,
  &:active::after {
    @include mdw-ripple__active;
  }

  &[mdw-ripple] {
    overflow: visible;
    &::after {
      // If using custom ripple, destroy ::after object
      content: none;
    }
  }
}

.mdw-menu__info {
  text-align: right;
  text-align: end;
  padding-left: dp(16);
  padding-right: 0;
  html[dir=rtl] & {
    text-align: left;
    text-align: end;
    padding-left: 0;
    padding-right: dp(16);
  }
  
}

.mdw-menu__check,
.mdw-menu__info,
.mdw-menu__text {
  // Text is padded 20dp from baseline
  &::before {
    content: "\200D"; // &zwj;
    display: inline-block;
    line-height: 1;
    margin-bottom: dp(12);
    @include allHandsetsAndTablets {
      margin-bottom: dp(20);
    }
    vertical-align: text-top;
  }
}

.mdw-menu__popup > .mdw-menu__text::before {
  // Ensures min-height of 48dp
  // Use padding-top since negative values are ignored
  padding-top: calc(#{dp(32 - 20)} - 1em);
  @include allHandsetsAndTablets {
    padding-top: calc(#{dp(48 - 20)} - 1em);
  }
  vertical-align: baseline;
}

.mdw-menu__icon {
  align-self: flex-end;
  padding-bottom: dp(4);
  @include allHandsetsAndTablets {
    padding-bottom: dp(20);
    &.material-icons {
      padding-bottom: dp(14);
    }
  }
}