include ../mixins.pug

+header("appbar")
  .comparison.clipped
    .render
      +androidstatusbar('background 400', 'light')
      +appbar('background 50', 'light', ['menu'], ['search', 'favorite', 'more_vert']) Title
      .content.mdw-theme(mdw-surface="background 300" mdw-light)
    +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B6Okdz75tqQsU1FwTUx3cmRUNG8/layout-structure-appbar-structure2.png')

  .comparison.clipped
    .render
      +androidstatusbar('black', 'dark')
      +appbar('background 900', 'dark', ['menu'], ['search', 'favorite', 'more_vert']) Title
      .content.mdw-theme(mdw-surface="background 300" mdw-light)
    +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B6Okdz75tqQsbGREMW9BdDdnSUk/layout-structure-appbar-structure3.png')

  .comparison.clipped
    .render
      +androidstatusbar('blue 800', 'dark')
      +appbar('blue A200', 'dark', ['menu'], ['search', 'favorite', 'more_vert']) Title
      .content.mdw-theme(mdw-surface="background 300" mdw-light)
    +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B6Okdz75tqQsZF9VZDhtQlF5RGM/layout-structure-appbar-structure4.png')

  .comparison.clipped-304
    .render
      +androidstatusbar('')
      .mdw-appbar(mdw-dense)
        .mdw-appbar__action
          .mdw-appbar__start
            .mdw-button.mdw-overlay.mdw-ripple(mdw-icon).material-icons menu
          .mdw-appbar__title Dense (Desktop)
          .mdw-appbar__end
            .mdw-button.mdw-overlay.mdw-ripple(mdw-icon).material-icons more_vert
      .content.mdw-theme(mdw-surface="background 300" mdw-light)
    +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B6Okdz75tqQsLUFJUnFlRHVhUVU/layout-structure-appbar-metrics1.png')

  .comparison.clipped-304
    .render
      +androidstatusbar('')
      .mdw-appbar(mdw-prominent mdw-dense)
        .mdw-appbar__action
          .mdw-appbar__start
            .mdw-button.mdw-overlay.mdw-ripple(mdw-icon).material-icons menu
          .mdw-appbar__title Prominent Dense
          .mdw-appbar__end
            .mdw-button.mdw-overlay.mdw-ripple(mdw-icon).material-icons search
            .mdw-button.mdw-overlay.mdw-ripple(mdw-icon).material-icons more_vert
      .content.mdw-theme(mdw-surface="background 300" mdw-light)
    +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B6Okdz75tqQsSDBhX3BwSURRc1U/layout-structure-appbar-metrics3.png')

  .comparison.clipped-304
    .render
      +androidstatusbar('')
      .mdw-appbar
        .mdw-appbar__action
          .mdw-appbar__start
            .mdw-tooltip__wrapper
              .mdw-tooltip__target.mdw-button.mdw-overlay.mdw-ripple(mdw-icon).material-icons arrow_back
              .mdw-tooltip Back
          .mdw-appbar__end
            .mdw-tooltip__wrapper
              .mdw-tooltip__target.mdw-button.mdw-overlay.mdw-ripple(mdw-icon mdw-more-button).material-icons more_vert
              .mdw-tooltip More
        .mdw-appbar__content
          label.mdw-textfield.mdw-theme(mdw-ink="primary" style="font-size: 1.5rem")
            input.mdw-textfield__input(value="Project Properties" placeholder=" ")
            .mdw-textfield__border
              .mdw-textfield__outline-gap
                .mdw-textfield__label Title
          div(style="height:8px")
          label.mdw-textfield
            input.mdw-textfield__input(value="Sync with the team abo" placeholder=" ")
            .mdw-textfield__border
              .mdw-textfield__outline-gap
                .mdw-textfield__label Description
          div(style="height:24px")
            // Spec says 16dp, but it's actually 24dp
      .content.mdw-theme(mdw-surface="background 300" mdw-light)
    +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B6Okdz75tqQsTW1zb2x5WWg5cDA/layout-structure-appbar-metrics5.png')
  script(src='appbar.min.js')