include ../mixins.pug

mixin button-test
  .display-flex.flex-wrap
    button.mdw-button.mdw-overlay.mdw-ripple Text
    button.mdw-button.mdw-overlay.mdw-ripple(mdw-raised) Contained
    button.mdw-button.mdw-overlay.mdw-ripple(mdw-raised aria-disabled="true") Disabled
    button.mdw-button.mdw-overlay.mdw-ripple(mdw-outline) Outlined
  div(style="height:24px")
  .display-flex.flex-wrap
    button.mdw-button.mdw-overlay.mdw-ripple.mdw-theme(mdw-color="primary") Text
    button.mdw-button.mdw-overlay.mdw-ripple.mdw-theme(mdw-color="primary" mdw-raised) Contained
    button.mdw-button.mdw-overlay.mdw-ripple.mdw-theme(mdw-color="primary" mdw-raised aria-disabled="true") Disabled
    button.mdw-button.mdw-overlay.mdw-ripple.mdw-theme(mdw-color="accent A100") Accent
    button.mdw-button.mdw-overlay.mdw-ripple.mdw-theme(mdw-outline mdw-color="accent A100") Outlined
  div(style="height:24px")
  .display-flex.flex-wrap
    button.mdw-button.mdw-overlay.mdw-ripple.mdw-theme(mdw-fill="primary" mdw-dark) Text
    button.mdw-button.mdw-overlay.mdw-ripple.mdw-theme(mdw-fill="primary" mdw-dark mdw-raised) Contained
    button.mdw-button.mdw-overlay.mdw-ripple.mdw-theme(mdw-fill="primary" mdw-dark mdw-raised aria-disabled="true") Disabled
    button.mdw-button.mdw-overlay.mdw-ripple.mdw-theme(mdw-fill="accent A100" mdw-light mdw-raised) Accent
  div(style="height:24px")
  .display-flex.flex-wrap
    button.mdw-button.mdw-overlay.mdw-ripple.material-icons(mdw-icon) favorite
    button.mdw-button.mdw-overlay.mdw-ripple.mdw-theme(mdw-color="warn" mdw-dark mdw-icon).material-icons favorite
    button.mdw-button.mdw-overlay.mdw-ripple.mdw-theme(mdw-fill="warn" mdw-dark mdw-icon).material-icons favorite
    button.mdw-button.mdw-overlay.mdw-ripple.mdw-theme(mdw-fill="warn" mdw-dark mdw-icon mdw-raised).material-icons favorite
    button.mdw-button.mdw-overlay.mdw-ripple.mdw-theme(mdw-fill="warn" mdw-dark mdw-icon mdw-raised aria-disabled="true").material-icons favorite
    button.mdw-button.mdw-overlay.mdw-ripple(mdw-icon aria-disabled="true").material-icons favorite

+header("button")
  .mdw-grid(mdw-margin-top mdw-margin-bottom mdw-stretch)
    .mdw-grid__item(mdw-colspan="100%")
      .mdw-grid__content
        h5.mdw-type(mdw-baseline-next="36") Buttons communicate the action that will occur when the user touches them.
        p.mdw-type Material buttons trigger an ink reaction on press. They may display text, imagery, or both.
    .mdw-grid__item(mdw-colspan="6")
      .mdw-grid__content
        .component-sample
          .display-flex
            button.mdw-button.mdw-theme(mdw-color="accent A200") Button
    .mdw-grid__item(mdw-colspan="6")
      .mdw-grid__content
        .mdw-type(mdw-style="subtitle") Javascript
        div
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="javascript" value="required" disabled)
            .mdw-selection__icon
            .mdw-selection__label Required
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="javascript" value="optional" checked)
            .mdw-selection__icon
            .mdw-selection__label Optional
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="javascript" value="none")
            .mdw-selection__icon
            .mdw-selection__label None
        .mdw-type(mdw-style="subtitle") Overlay
        div
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="checkbox" name="overlay-hover" checked)
            .mdw-selection__icon
            .mdw-selection__label Hover
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="checkbox" name="overlay-focus" checked)
            .mdw-selection__icon
            .mdw-selection__label Focus
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="checkbox" name="overlay-activated" checked)
            .mdw-selection__icon
            .mdw-selection__label Activated
        .mdw-type(mdw-style="subtitle") Elevation
        div
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="elevation" value="flat" checked)
            .mdw-selection__icon
            .mdw-selection__label Flat
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="elevation" value="raised")
            .mdw-selection__icon
            .mdw-selection__label Raised
        .mdw-type(mdw-style="subtitle") Content
        div
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="content" value="text" checked)
            .mdw-selection__icon
            .mdw-selection__label Text
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="content" value="icon")
            .mdw-selection__icon
            .mdw-selection__label Icon
        .mdw-type(mdw-style="subtitle") Options
        div
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="checkbox" name="ripple" checked)
            .mdw-selection__icon
            .mdw-selection__label Ripple
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="checkbox" name="outlined")
            .mdw-selection__icon
            .mdw-selection__label Outlined
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="checkbox" name="disabled")
            .mdw-selection__icon
            .mdw-selection__label Disabled
        .mdw-type(mdw-style="subtitle") Activated Toggle
        div
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="toggle" value="" checked)
            .mdw-selection__icon
            .mdw-selection__label None
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="toggle" value="false")
            .mdw-selection__icon
            .mdw-selection__label Off
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="toggle" value="true")
            .mdw-selection__icon
            .mdw-selection__label On
        .mdw-type(mdw-style="subtitle") Color (Ink)
        div
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="color" value="default")
            .mdw-selection__icon
            .mdw-selection__label Default
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="color" value="primary 400")
            .mdw-selection__icon
            .mdw-selection__label Primary 400
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="color" value="accent A200" checked)
            .mdw-selection__icon
            .mdw-selection__label Accent A200
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="color" value="warn")
            .mdw-selection__icon
            .mdw-selection__label Warn
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="color" value="purple A400")
            .mdw-selection__icon
            .mdw-selection__label Purple A400
        .mdw-type(mdw-style="subtitle") Fill
        div
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="fill" value="none" checked)
            .mdw-selection__icon
            .mdw-selection__label None
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="fill" value="primary dark dark")
            .mdw-selection__icon
            .mdw-selection__label Primary
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="fill" value="accent A100 light")
            .mdw-selection__icon
            .mdw-selection__label Accent A100
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="fill" value="warn 200 light")
            .mdw-selection__icon
            .mdw-selection__label Warn 200
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="fill" value="green 700 dark")
            .mdw-selection__icon
            .mdw-selection__label Green 700
        .mdw-type(mdw-style="subtitle") HTML Element Type
        div
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="htmltype" value="div")
            .mdw-selection__icon
            .mdw-selection__label HTMLElement
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="htmltype" value="button" checked)
            .mdw-selection__icon
            .mdw-selection__label HTMLButtonElement
          label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="htmltype" value="a")
            .mdw-selection__icon
            .mdw-selection__label HTMLAnchorElement
    .mdw-grid__item(mdw-colspan="100%" style="max-height:0")
    .mdw-grid__item(mdw-colspan="6")
      .mdw-grid__content
        h6.mdw-type HTML Code
        .mdw-card.component-code.component-html
          #usePug.mdw-button.mdw-theme(mdw-color="accent" aria-pressed="false" mdw-overlay-off="activated" mdw-icon) PUG
    .mdw-grid__item(mdw-colspan="6")
      .mdw-grid__content
        h6.mdw-type Javascript Code
        .mdw-card.component-code.component-js
    .mdw-grid__item(mdw-colspan="100%")
      .mdw-grid__content
        h6.mdw-type Samples
    .mdw-grid__item(mdw-colspan="6")
      .mdw-grid__content
        .render-fill.mdw-theme(mdw-fill="white" mdw-light)
          +androidstatusbar('')
          +appbar('', '', [], []) CSS Only
          .content(style="padding: 16px 0")
            div
              +button-test
          +androidnavbar
    .mdw-grid__item(mdw-colspan="6")
      .mdw-grid__content
        .render-fill.js.mdw-theme(mdw-fill="black" mdw-dark)
          +androidstatusbar('')
          +appbar('', '', [], []) Javascript Version
          .content(style="padding: 16px 0")
            div
              +button-test
          +androidnavbar
  script(src='button.min.js')