include ../mixins.pug

+header("fab")
  .comparison.js
    .render
      div.display-flex.flex-1(flex-column style="position:relative")
        +androidstatusbar('primary 700', 'dark')
        +appbar('primary 500', 'dark', ['menu'], ['search']) JS
        .content(style="padding:16px 8px;")
          .mdw-type(mdw-style="subtitle") Hover
          div
            label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
              input.mdw-selection__input.mdw-overlay(type="checkbox" name="hover" value="hover")
              .mdw-selection__icon
              .mdw-selection__label Open on Hover
          .mdw-type(mdw-style="subtitle") Type
          div
            label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
              input.mdw-selection__input.mdw-overlay(type="radio" name="type" value="regular" checked)
              .mdw-selection__icon
              .mdw-selection__label Regular (Default)
            label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
              input.mdw-selection__input.mdw-overlay(type="radio" name="type" value="mini")
              .mdw-selection__icon
              .mdw-selection__label Mini
            label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
              input.mdw-selection__input.mdw-overlay(type="radio" name="type" value="extended")
              .mdw-selection__icon
              .mdw-selection__label Extended
            label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
              input.mdw-selection__input.mdw-overlay(type="radio" name="type" value="extended-hover")
              .mdw-selection__icon
              .mdw-selection__label Extended on Hover
          .mdw-grid(mdw-margin-bottom mdw-columns="4").docs-render-overlay
            .mdw-grid__item
              .mdw-grid__content
                .mdw-fab
                  .mdw-fab__button.mdw-button.mdw-overlay.mdw-ripple.mdw-theme(mdw-fill="accent" mdw-dark)
                    .mdw-fab__icon
                      .mdw-fab__hidden-icon.material-icons add
                      .mdw-fab__shown-icon.material-icons clear
                    .mdw-fab__text Add
                  .mdw-fab__speed-dial
                    .mdw-button.mdw-overlay.mdw-ripple.mdw-fab__button(mdw-mini)
                      .mdw-fab__icon.material-icons filter_1
                    .mdw-button.mdw-overlay.mdw-ripple.mdw-fab__button(mdw-mini)
                      .mdw-fab__icon.material-icons filter_2
                    .mdw-button.mdw-overlay.mdw-ripple.mdw-fab__button(mdw-mini)
                      .mdw-fab__icon.material-icons filter_3
                    .mdw-button.mdw-overlay.mdw-ripple.mdw-fab__button(mdw-mini)
                      .mdw-fab__icon.material-icons filter_4
                    .mdw-button.mdw-overlay.mdw-ripple.mdw-fab__button(mdw-mini)
                      .mdw-fab__icon.material-icons filter_5
      +androidnavbar
  .comparison
    .render
      div.display-flex.flex-1(flex-column style="position:relative")
        +androidstatusbar('primary 700', 'dark')
        +appbar('primary 500', 'dark', ['menu'], ['search']) CSS Only
        .content(style="padding:16px 8px;") 
          .mdw-grid(mdw-margin-bottom).docs-render-overlay
            .mdw-grid__item
              .mdw-fab#my-fab
                a.mdw-fab__close(href="#my-fab-button")
                a#my-fab-button.mdw-fab__button.mdw-button.mdw-overlay.mdw-ripple.mdw-theme(mdw-icon mdw-fill="accent" mdw-dark href="#my-fab")
                  .mdw-fab__icon
                    .mdw-fab__hidden-icon.material-icons add
                    .mdw-fab__shown-icon.material-icons clear
                .mdw-fab__speed-dial
                  .mdw-button.mdw-overlay.mdw-ripple.mdw-fab__button(mdw-mini)
                    .mdw-fab__icon.material-icons filter_1
                  .mdw-button.mdw-overlay.mdw-ripple.mdw-fab__button(mdw-mini)
                    .mdw-fab__icon.material-icons filter_2
                  .mdw-button.mdw-overlay.mdw-ripple.mdw-fab__button(mdw-mini)
                    .mdw-fab__icon.material-icons filter_3
                  .mdw-button.mdw-overlay.mdw-ripple.mdw-fab__button(mdw-mini)
                    .mdw-fab__icon.material-icons filter_4
                  .mdw-button.mdw-overlay.mdw-ripple.mdw-fab__button(mdw-mini)
                    .mdw-fab__icon.material-icons filter_5
      +androidnavbar
  script(src='fab.min.js')