include ../mixins.pug

+header()
  +navdrawer("fab")
    .comparison.js
      .render
        div.display-flex.flex-1(flex-column style="position:relative")
          +androidstatusbar('primary 700 dark')
          +toolbar('primary 500 dark', ['menu'], ['search']) JS
          .content(style="padding:16px 8px;")
            .mdw-type(mdw-style="subtitle") Hover
            div
              label.mdw-selection(mdw-theme-color="accent" style="margin:16px 8px")
                input.mdw-selection__input(type="checkbox" name="hover" value="hover")
                .mdw-selection__icon
                .mdw-selection__label Open on Hover
            .mdw-type(mdw-style="subtitle") Type
            div
              label.mdw-selection(mdw-theme-color="accent" style="margin:16px 8px")
                input.mdw-selection__input(type="radio" name="type" value="regular" checked)
                .mdw-selection__icon
                .mdw-selection__label Regular (Default)
              label.mdw-selection(mdw-theme-color="accent" style="margin:16px 8px")
                input.mdw-selection__input(type="radio" name="type" value="mini")
                .mdw-selection__icon
                .mdw-selection__label Mini
              label.mdw-selection(mdw-theme-color="accent" style="margin:16px 8px")
                input.mdw-selection__input(type="radio" name="type" value="extended")
                .mdw-selection__icon
                .mdw-selection__label Extended
              label.mdw-selection(mdw-theme-color="accent" style="margin:16px 8px")
                input.mdw-selection__input(type="radio" name="type" value="extended-hover")
                .mdw-selection__icon
                .mdw-selection__label Extended on Hover
            .mdw-layout(mdw-margin-bottom).docs-render-overlay
              .mdw-layout__item
                .mdw-fab
                  .mdw-fab__button.mdw-button(mdw-theme-fill="accent dark")
                    .mdw-fab__icon
                      .mdw-fab__hidden-icon.material-icons add
                      .mdw-fab__shown-icon.material-icons clear
                    .mdw-fab__text Add
                  .mdw-fab__speed-dial
                    .mdw-button.mdw-fab__button(mdw-mini)
                      .mdw-fab__icon.material-icons filter_1
                    .mdw-button.mdw-fab__button(mdw-mini)
                      .mdw-fab__icon.material-icons filter_2
                    .mdw-button.mdw-fab__button(mdw-mini)
                      .mdw-fab__icon.material-icons filter_3
                    .mdw-button.mdw-fab__button(mdw-mini)
                      .mdw-fab__icon.material-icons filter_4
                    .mdw-button.mdw-fab__button(mdw-mini)
                      .mdw-fab__icon.material-icons filter_5
        +androidnavbar
    .comparison
      .render
        div.display-flex.flex-1(flex-column style="position:relative")
          +androidstatusbar('primary 700 dark')
          +toolbar('primary 500 dark', ['menu'], ['search']) CSS Only
          .content(style="padding:16px 8px;") 
            .mdw-layout(mdw-margin-bottom).docs-render-overlay
              .mdw-layout__item
                .mdw-fab#my-fab
                  a.mdw-fab__close(href="#")
                  a.mdw-fab__button.mdw-button(mdw-icon mdw-theme-fill="accent dark" href="#my-fab")
                    .mdw-fab__icon
                      .mdw-fab__hidden-icon.material-icons add
                      .mdw-fab__shown-icon.material-icons clear
                  .mdw-fab__speed-dial
                    .mdw-button.mdw-fab__button(mdw-mini)
                      .mdw-fab__icon.material-icons filter_1
                    .mdw-button.mdw-fab__button(mdw-mini)
                      .mdw-fab__icon.material-icons filter_2
                    .mdw-button.mdw-fab__button(mdw-mini)
                      .mdw-fab__icon.material-icons filter_3
                    .mdw-button.mdw-fab__button(mdw-mini)
                      .mdw-fab__icon.material-icons filter_4
                    .mdw-button.mdw-fab__button(mdw-mini)
                      .mdw-fab__icon.material-icons filter_5
        +androidnavbar
  script(src='fab.min.js')