include ../mixins.pug

+header("grid")
  .mdw-grid(mdw-margin-top)
    .mdw-grid__item(mdw-colspan="8")
      h5.mdw-type(mdw-baseline-next="36") The Material Design responsive layout grid adapts to screen size and orientation, ensuring consistency across layouts.
      p.mdw-type The Material Design layout grid is made up of three elements: columns, gutters, and margins.
    .mdw-grid__item(mdw-colspan="8")
      .mdw-type(mdw-style="subtitle") Margins and Gutters
      div
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="checkbox" name="default-margins" checked)
          .mdw-selection__icon
          .mdw-selection__label Default Margins and Gutters
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="checkbox" name="top-margin" checked)
          .mdw-selection__icon
          .mdw-selection__label Top Margin
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="checkbox" name="bottom-margin" checked)
          .mdw-selection__icon
          .mdw-selection__label Bottom Margin
      .mdw-type(mdw-style="subtitle") Maximum Columns
      div
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="columns" value="12" checked)
          .mdw-selection__icon
          .mdw-selection__label 12
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="columns" value="8")
          .mdw-selection__icon
          .mdw-selection__label 8
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="columns" value="4")
          .mdw-selection__icon
          .mdw-selection__label 4
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="columns" value="1")
          .mdw-selection__icon
          .mdw-selection__label 1
      .mdw-type(mdw-style="subtitle") Style
      div
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="style" value="flex" checked)
          .mdw-selection__icon
          .mdw-selection__label Flex
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="style" value="grid")
          .mdw-selection__icon
          .mdw-selection__label Grid
      .mdw-type(mdw-style="subtitle") Options
      div
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="checkbox" name="stretch")
          .mdw-selection__icon
          .mdw-selection__label Stretch
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="checkbox" name="center")
          .mdw-selection__icon
          .mdw-selection__label Center
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="checkbox" name="dense")
          .mdw-selection__icon
          .mdw-selection__label Dense
    .mdw-grid__item(mdw-colspan="100%")
      p.mdw-type(style="text-align:center" mdw-textop-top="16dp" mdw-baseline-bottom="16dp") Click on an element to change colspan
  .docs-grid#sample-component
    .mdw-grid(mdw-margin-top mdw-margin-bottom)
      .mdw-grid__item(mdw-rowspan="2")
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="cyan A100" mdw-light) 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="cyan A200" mdw-light) 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="cyan A400" mdw-dark) 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="cyan A700" mdw-dark) 1
      .mdw-grid__item(mdw-rowspan="3")
        .mdw-grid__content.mdw-card 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="red A100" mdw-light) 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="red A200" mdw-light) 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card 1
      .mdw-grid__item(mdw-colspan="2")
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="red A400" mdw-dark) 2
      .mdw-grid__item
        .mdw-grid__content.mdw-card 1
      .mdw-grid__item(mdw-rowspan="5" mdw-colspan="25%")
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="red A700" mdw-dark) 25%
      .mdw-grid__item(mdw-colspan="3")
        .mdw-grid__content.mdw-card 3
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="green A100" mdw-light) 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="green A200" mdw-light) 1
      .mdw-grid__item(mdw-colspan="75%")
        .mdw-grid__content.mdw-card 75%
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="green A400" mdw-dark) 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="green A700" mdw-dark) 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="purple A100" mdw-light) 1
      .mdw-grid__item(mdw-colspan="8")
        .mdw-grid__content.mdw-card 8
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="purple A200" mdw-light) 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card 1
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="purple A400" mdw-dark) 1
      .mdw-grid__item(mdw-colspan="2")
        .mdw-grid__content.mdw-card 2
      .mdw-grid__item
        .mdw-grid__content.mdw-card.mdw-theme(mdw-surface="purple A700" mdw-dark) 1
  script(src='grid.min.js')