include ../mixins.pug

+header("layout")
  div(style="margin:16px")
    a.mdw-button.mdw-overlay.mdw-ripple(href="pwa.html" target="_blank") Open in new window
  div(style="margin:16px")
    iframe(width=1440 height=300 src="pwa.html" style="width:100%;height:80vh")