include ../_mixins.pug

+header("list")
  .comparison.js
    .render
      +androidstatusbar('teal 700', 'dark')
      +appbar('teal 500', 'dark', ['menu'], ['more_vert']) Topics
      .content(style="padding-top:2px")
        ul.mdw-list
          li.mdw-list__item
            a.mdw-list__content Attractions
          .mdw-list__expander.mdw-theme(mdw-ink="teal")
            li.mdw-list__item
              a.mdw-list__content
                .mdw-list__text Dining
                .mdw-list__secondary.material-icons expand_more
            li.mdw-list__item
              a.mdw-list__content Breakfast &amp; brunch
            li.mdw-list__item
              a.mdw-list__content New American
            li.mdw-list__item
              a.mdw-list__content Sushi bars
          li.mdw-list__item
            a.mdw-list__content Education
          li.mdw-list__item
            a.mdw-list__content Family
          li.mdw-list__item
            a.mdw-list__content Health
          li.mdw-list__item
            a.mdw-list__content Office
          li.mdw-list__item
            a.mdw-list__content Promotions
          li.mdw-list__item
            a.mdw-list__content Radio
          li.mdw-list__item
            a.mdw-list__content Recipes
          li.mdw-list__item
            a.mdw-list__content Sports
          li.mdw-list__item
            a.mdw-list__content Travel
      +androidnavbar
    +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0Bzhp5Z4wHba3bl8zNGVqM19TNWM/components-listcontrols-expand2.png')

  .comparison.js
    .render
      +androidstatusbar('pink 700', 'dark')
      +appbar('pink 500', 'dark', ['menu'], ['search', 'check_circle']) Inbox
      .content
        ul.mdw-list(mdw-divider)
          li.mdw-list__item
            a.mdw-list__content
              .mdw-list__avatar.material-icons(style="font-size:40px") &#xE853;
              .mdw-list__text
                .mdw-list__text-line Ali Connors
                .mdw-list__text-line
                  span.mdw-theme(mdw-ink="default") Brunch this weekend?
                .mdw-list__text-line I'll be in your neighborhood doing errands this weekend. Do you want to meet?
          li.mdw-list__item
            a.mdw-list__content
              .mdw-list__avatar.material-icons(style="font-size:40px") &#xE853;
              .mdw-list__text
                .mdw-list__text-line me, Scott, Jennifer
                .mdw-list__text-line
                  span.mdw-theme(mdw-ink="default") Summer BBQ
                .mdw-list__text-line Wish I could come. but I'm out of town this weekend.
          li.mdw-list__item
            a.mdw-list__content
              .mdw-list__avatar.material-icons(style="font-size:40px") &#xE853;
              .mdw-list__text
                .mdw-list__text-line Sandra Adams
                .mdw-list__text-line
                  span.mdw-theme(mdw-ink="default") Oui oui
                .mdw-list__text-line Do you have Paris recommendations? Have you ever been?
          li.mdw-list__item
            a.mdw-list__content
              .mdw-list__avatar.material-icons(style="font-size:40px") &#xE853;
              .mdw-list__text
                .mdw-list__text-line Trevor Hansen
                .mdw-list__text-line
                  span.mdw-theme(mdw-ink="default") Order Confirmation
                .mdw-list__text-line Thank you for your recent order from Google.
          li.mdw-list__item
            a.mdw-list__content
              .mdw-list__avatar.material-icons(style="font-size:40px") &#xE853;
              .mdw-list__text
                .mdw-list__text-line Britta Holt
                .mdw-list__text-line
                  span.mdw-theme(mdw-ink="default") Recipe to try
                .mdw-list__text-line We should eat this: Grated Squash, Corn, and tomatillo Tacos.
          li.mdw-list__item
            a.mdw-list__content
              .mdw-list__avatar.material-icons(style="font-size:40px") &#xE853;
              .mdw-list__text
                .mdw-list__text-line David Park
                .mdw-list__text-line
                  span.mdw-theme(mdw-ink="default") Giants game
                .mdw-list__text-line Any interest in seeing
          li.mdw-list__item
            a.mdw-list__content
              .mdw-list__avatar.material-icons(style="font-size:40px") &#xE853;
              .mdw-list__text
                .mdw-list__text-line Montauk weekend
                .mdw-list__text-line
                  span.mdw-theme(mdw-ink="default") -----
                .mdw-list__text-line -----
      +androidnavbar
    +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B6Okdz75tqQsdFNSZ1kzeXBfR1U/components-lists-keylines-three11.png')
  .comparison
    .render
      +androidstatusbar('deeppurple 700', 'dark')
      +appbar('deeppurple 500', 'dark', ['menu'], ['search', 'more_vert']) Topics (CSS-Only)
      .content(style="padding-top:2px")
        ul.mdw-list
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple Attractions
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple Dining
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple Education
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple Family
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple Health
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple Office
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple Promotions
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple Radio
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple Recipes
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple Sports
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple Travel
    +target('https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F0B54x0KDcs5U-UHcxOFd6NnQxeFE%2Fsingle-line-example-1.png')

  .comparison
    .render
      +androidstatusbar('teal 700', 'dark')
      +appbar('teal 500', 'dark', ['menu'], ['more_vert']) Topics (CSS-Only)
      .content(style="padding-top:2px")
        ul.mdw-list(mdw-divider)
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple
              .mdw-list__text Attractions
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple
              .mdw-list__text Dining
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple
              .mdw-list__text Education
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple
              .mdw-list__text Family
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple
              .mdw-list__text Health
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple
              .mdw-list__text Office
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple
              .mdw-list__text Promotions
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple
              .mdw-list__text Radio
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple
              .mdw-list__text Recipes
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple
              .mdw-list__text Sports
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple
              .mdw-list__text Travel
      +androidnavbar
    +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0Bzhp5Z4wHba3V2tZaHMwSXZuS2s/components-lists-keylines-single3.png')


  .comparison
    .render
      +androidstatusbar('deeppurple 700', 'dark')
      +appbar('deeppurple 500', 'dark', ['menu'], ['search', 'more_vert']) Topics (CSS-Only)
      .content(style="padding-top:2px")
        ul.mdw-list
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple Attractions
              .mdw-list__icon.material-icons local_activity
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple Dining
              .mdw-list__icon.material-icons local_dining
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple Education
              .mdw-list__icon.material-icons edit
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple Family
              .mdw-list__icon.material-icons people
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple Health
              .mdw-list__icon.material-icons healing
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple Office
              .mdw-list__icon.material-icons business
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple Promotions
              .mdw-list__icon.material-icons local_offer
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple Radio
              .mdw-list__icon.material-icons radio
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple Recipes
              .mdw-list__icon.material-icons book
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple Sports
              .mdw-list__icon.material-icons stars
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple Travel
              .mdw-list__icon.material-icons local_airport
    +target('https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F0B54x0KDcs5U-a1hzNEpSb1N0RTA%2Fsingle-line-example-2.png')

  .comparison
    .render
      +androidstatusbar('cyan 700', 'dark')
      +appbar('cyan 500', 'dark', ['menu'], ['search']) Inbox (CSS-Only)
      .content
        ul.mdw-list(mdw-divider)
          li.mdw-list__subheader Today
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple
              .mdw-list__avatar.material-icons(style="font-size:40px") &#xE853;
              .mdw-list__text
                .mdw-list__text-line Brunch this weekend?
                .mdw-list__text-line
                  span.mdw-theme(mdw-ink="default") Ali Connors
                  |  &mdash; I'll be in your neighborhood doing errands this weekend. Do you want to meet?
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple
              .mdw-list__avatar.material-icons(style="font-size:40px") &#xE853;
              .mdw-list__text
                .mdw-list__text-line Summer BBQ
                  span.mdw-theme(mdw-ink="medium")  4
                .mdw-list__text-line
                  span.mdw-theme(mdw-ink="default") to Alex, Scott, Jennifer
                  |  &mdash; Wish I could come. but I'm out of town this weekend.
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple
              .mdw-list__avatar.material-icons(style="font-size:40px") &#xE853;
              .mdw-list__text
                .mdw-list__text-line Oui oui
                .mdw-list__text-line
                  span.mdw-theme(mdw-ink="default") Sandra Adams
                  |  &mdash; Do you have Paris recommendations? Have you ever been?
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple
              .mdw-list__avatar.material-icons(style="font-size:40px") &#xE853;
              .mdw-list__text
                .mdw-list__text-line Birthday gift
                .mdw-list__text-line
                  span.mdw-theme(mdw-ink="default") Trevor Hansen
                  |  &mdash; Have any ideas about what we should get Heidi for her birthday?
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple
              .mdw-list__avatar.material-icons(style="font-size:40px") &#xE853;
              .mdw-list__text
                .mdw-list__text-line Recipe to try
                .mdw-list__text-line
                  span.mdw-theme(mdw-ink="default") Britta Holt
                  |  &mdash; We should eat this: Grated Squash, Corn, and tomatillo Tacos.
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple
              .mdw-list__avatar.material-icons(style="font-size:40px") &#xE853;
              .mdw-list__text
                .mdw-list__text-line Giants game
                .mdw-list__text-line
                  span.mdw-theme(mdw-ink="default") David Park
                  |  &mdash; Any interest in seeing
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple
              .mdw-list__avatar.material-icons(style="font-size:40px") &#xE853;
              .mdw-list__text
                .mdw-list__text-line Montauk weekend
                .mdw-list__text-line
                  span.mdw-theme(mdw-ink="default") -----
                  |  &mdash; -----
      +androidnavbar
    +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B6Okdz75tqQsWGQ4OWVWREpLNkU/components-lists-keylines-two8.png')

  .comparison
    .render
      +androidstatusbar('deeppurple 700', 'dark')
      +appbar('deeppurple 500', 'dark', ['menu'], ['search']) Inbox (CSS-Only)
      .content
        ul.mdw-list(mdw-divider)
          li.mdw-list__subheader Today
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple
              .mdw-list__avatar.material-icons(style="font-size:40px") &#xE853;
              .mdw-list__text
                .mdw-list__text-line Brunch this weekend?
                .mdw-list__text-block
                  span.mdw-theme(mdw-ink="default") Ali Connors 
                  |  &mdash; I'll be in your neighborhood doing errands this weekend. Do you want to meet?
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple
              .mdw-list__avatar.material-icons(style="font-size:40px") &#xE853;
              .mdw-list__text
                .mdw-list__text-line Summer BBQ
                  span.mdw-theme(mdw-ink="medium")  4
                .mdw-list__text-block
                  span.mdw-theme(mdw-ink="default") to Alex, Scott, Jennifer
                  |  &mdash; Wish I could come. but I'm out of town this weekend.
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple
              .mdw-list__avatar.material-icons(style="font-size:40px") &#xE853;
              .mdw-list__text
                .mdw-list__text-line Oui oui
                .mdw-list__text-block
                  span.mdw-theme(mdw-ink="default") Sandra Adams
                  |  &mdash; Do you have Paris recommendations? Have you ever been?
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple
              .mdw-list__avatar.material-icons(style="font-size:40px") &#xE853;
              .mdw-list__text
                .mdw-list__text-line Birthday gift
                .mdw-list__text-block
                  span.mdw-theme(mdw-ink="default") Trevor Hansen
                  |  &mdash; Have any ideas about what we should get Heidi for her birthday?
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple
              .mdw-list__avatar.material-icons(style="font-size:40px") &#xE853;
              .mdw-list__text
                .mdw-list__text-line Recipe to try
                .mdw-list__text-block 
                  span.mdw-theme(mdw-ink="default") Britta Holt
                  |  &mdash; We should eat this: Grated Squash, Corn, and tomatillo Tacos.
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple
              .mdw-list__avatar.material-icons(style="font-size:40px") &#xE853;
              .mdw-list__text
                .mdw-list__text-line Giants game
                .mdw-list__text-block
                  span.mdw-theme(mdw-ink="default") David Park
                  |  &mdash; Any interest in seeing
          li.mdw-list__item
            a.mdw-list__content.mdw-overlay.mdw-ripple
              .mdw-list__avatar.material-icons(style="font-size:40px") &#xE853;
              .mdw-list__text
                .mdw-list__text-line Montauk weekend
                .mdw-list__text-block
                  span.mdw-theme(mdw-ink="default") -----
                  |  &mdash; -----
    +target('https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F0B54x0KDcs5U-YkJoa3JqZmZvR3c%2Fthreeline-sample-1.png')
  script(src='list.min.js')