include ../_mixins.pug

+header("menu")
  .mdw-grid(mdw-margin-top mdw-margin-bottom mdw-stretch)
    .mdw-grid__item(mdw-colspan="100%")
      .mdw-grid__content
        h5.mdw-type(mdw-baseline-next="36") Menus display a list of choices on a transient sheet of material.
        p.mdw-type(mdw-baseline-next="36") Menus appear upon interaction with a button, action, or other control. They display a list of choices, with one choice per line.
        p.mdw-type Menu items may be disabled if not applicable to a certain context. Contextual menus dynamically change their available menu items based on the current state of the app.
    .mdw-grid__item(mdw-colspan="4")
      .mdw-grid__content
        .component-sample
          .component-sample__container
            .mdw-menu__wrapper
              button.mdw-button.mdw-overlay.mdw-ripple Open
              .mdw-menu
                .mdw-menu__popup.mdw-theme(mdw-surface="card")
                  .mdw-menu__item
                    .mdw-menu__icon.mdw-theme.material-icons(mdw-ink="medium") format_bold
                    .mdw-menu__text Bold
                    .mdw-menu__info ⌘B
                  .mdw-menu__item(aria-disabled="true")
                    .mdw-menu__icon.mdw-theme.material-icons(mdw-ink="medium") format_italic
                    .mdw-menu__text Italic
                    .mdw-menu__info ⌘I
                  .mdw-menu__item
                    .mdw-menu__icon.mdw-theme.material-icons(mdw-ink="medium") format_underline
                    .mdw-menu__text Underline
                    .mdw-menu__info ⌘U
                  .mdw-divider.mdw-theme(mdw-ink="divider")
                  .mdw-menu__item(aria-checked="true")
                    .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                    .mdw-menu__text Flights
                  .mdw-menu__item
                    .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                    .mdw-menu__text Apps
    .mdw-grid__item(mdw-colspan="8")
      .mdw-grid__content
        .mdw-type(mdw-style="subtitle") Javascript
        div
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="javascript" value="required" checked)
            .mdw-selection__icon
            .mdw-selection__label Required
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="javascript" value="optional")
            .mdw-selection__icon
            .mdw-selection__label Optional
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="javascript" value="none")
            .mdw-selection__icon
            .mdw-selection__label None
        .mdw-type(mdw-style="subtitle") Vertical Position
        div
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="vposition" value="auto" checked)
            .mdw-selection__icon
            .mdw-selection__label Auto
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="vposition" value="bottom")
            .mdw-selection__icon
            .mdw-selection__label Bottom
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="vposition" value="top")
            .mdw-selection__icon
            .mdw-selection__label Top
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="vposition" value="vcenter")
            .mdw-selection__icon
            .mdw-selection__label Center
        .mdw-type(mdw-style="subtitle") Horizontal Position
        div
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="hposition" value="auto" checked)
            .mdw-selection__icon
            .mdw-selection__label Auto
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="hposition" value="start")
            .mdw-selection__icon
            .mdw-selection__label Start
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="hposition" value="end")
            .mdw-selection__icon
            .mdw-selection__label End
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="hposition" value="left")
            .mdw-selection__icon
            .mdw-selection__label Left
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="hposition" value="right")
            .mdw-selection__icon
            .mdw-selection__label Right
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="hposition" value="hcenter")
            .mdw-selection__icon
            .mdw-selection__label Center
        .mdw-type(mdw-style="subtitle") Vertical Direction
        div
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="vdirection" value="auto" checked)
            .mdw-selection__icon
            .mdw-selection__label Auto
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="vdirection" value="down")
            .mdw-selection__icon
            .mdw-selection__label Down
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="vdirection" value="up")
            .mdw-selection__icon
            .mdw-selection__label Up
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="vdirection" value="vcenter")
            .mdw-selection__icon
            .mdw-selection__label Center
        .mdw-type(mdw-style="subtitle") Horizontal Direction
        div
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="hdirection" value="auto" checked)
            .mdw-selection__icon
            .mdw-selection__label Auto
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="hdirection" value="normal")
            .mdw-selection__icon
            .mdw-selection__label Normal
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="hdirection" value="reverse")
            .mdw-selection__icon
            .mdw-selection__label Reverse
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="hdirection" value="ltr")
            .mdw-selection__icon
            .mdw-selection__label Left-to-Right
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="hdirection" value="rtl")
            .mdw-selection__icon
            .mdw-selection__label Right-to-Left
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="hdirection" value="hcenter")
            .mdw-selection__icon
            .mdw-selection__label Center
        .mdw-type(mdw-style="subtitle") Width Units
        div
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="width" value="auto" checked)
            .mdw-selection__icon
            .mdw-selection__label Auto
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="width" value="3")
            .mdw-selection__icon
            .mdw-selection__label 3
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="width" value="4")
            .mdw-selection__icon
            .mdw-selection__label 4
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="width" value="5")
            .mdw-selection__icon
            .mdw-selection__label 5
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="width" value="6")
            .mdw-selection__icon
            .mdw-selection__label 6
          label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
            input.mdw-selection__input.mdw-overlay(type="radio" name="width" value="7")
            .mdw-selection__icon
            .mdw-selection__label 7
    .mdw-grid__item(mdw-colspan="100%" style="max-height:0")
    .mdw-grid__item(mdw-colspan="6")
      .mdw-grid__content
        h6.mdw-type HTML Code
        .mdw-card.mdw-theme.component-code.component-html(mdw-surface="card")
    .mdw-grid__item(mdw-colspan="6")
      .mdw-grid__content
        h6.mdw-type Javascript Code
        .mdw-card.mdw-theme.component-code.component-js(mdw-surface="card")
    .mdw-grid__item(mdw-colspan="100%")
      h6.mdw-type Samples
    .mdw-grid__item.display-flex(mdw-colspan="4" flex-justify-content="center")
      .mdw-grid__content
        .render-fill
          +androidstatusbar('primary 700', 'dark')
          .mdw-appbar.mdw-theme(mdw-surface="primary 500" mdw-dark)
            .mdw-appbar__action
              .mdw-appbar__start
                .mdw-tooltip__wrapper
                  .mdw-tooltip__target.mdw-button.mdw-overlay.mdw-ripple(mdw-icon).material-icons menu
                  .mdw-tooltip.mdw-theme(mdw-surface="background 700" mdw-dark) Menu
              .mdw-appbar__end
                .mdw-tooltip__wrapper.mdw-menu__wrapper
                  a.mdw-tooltip__target.mdw-button.mdw-overlay.mdw-ripple(mdw-icon mdw-more-button href="#moremenu").material-icons more_vert
                  .mdw-tooltip.mdw-theme(mdw-surface="background 700" mdw-dark).mdw-tooltip Options
                  .mdw-menu#moremenu.mdw-theme(mdw-direction="reverse" mdw-position="end" mdw-width-units="3" mdw-surface="light")
                    a.mdw-menu__close(href="#")
                    .mdw-menu__popup.mdw-theme(mdw-surface="card")
                      .mdw-menu__text Refresh
                      .mdw-menu__text Settings
                      .mdw-menu__text Send feedback
                      .mdw-menu__text Help
                      .mdw-menu__text Signout
          .content(style="padding:16px 8px")
            .mdw-menu__wrapper
              a#textmenu-button.mdw-button.mdw-overlay.mdw-ripple.mdw-theme(mdw-surface="primary" mdw-dark mdw-raised href="#textmenu") Text
              .mdw-menu#textmenu
                a.mdw-menu__close(href="#textmenu-button")
                .mdw-menu__popup.mdw-theme(mdw-surface="card")
                  .mdw-menu__item.mdw-overlay.mdw-ripple Maps
                  .mdw-menu__item.mdw-overlay.mdw-ripple Books
                  .mdw-menu__item.mdw-overlay.mdw-ripple Flights
                  .mdw-menu__item.mdw-overlay.mdw-ripple Apps
            .mdw-menu__wrapper
              a#checkmenu-button.mdw-button.mdw-overlay.mdw-ripple.mdw-theme(mdw-surface="primary" mdw-dark mdw-raised href="#checkmenu") Checks
              .mdw-menu#checkmenu
                a.mdw-menu__close(href="#checkmenu-button")
                .mdw-menu__popup.mdw-theme(mdw-surface="card")
                  .mdw-menu__item.mdw-overlay.mdw-ripple
                    .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                    .mdw-menu__text Maps
                  .mdw-menu__item.mdw-overlay.mdw-ripple(aria-checked="true")
                    .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                    .mdw-menu__text Books
                  .mdw-menu__item.mdw-overlay.mdw-ripple(aria-checked="true")
                    .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                    .mdw-menu__text Flights
                  .mdw-menu__item.mdw-overlay.mdw-ripple
                    .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                    .mdw-menu__text Apps
            div(style="height:400px")
            .mdw-menu__wrapper
              a#infomenu-button.mdw-button.mdw-overlay.mdw-ripple.mdw-theme(mdw-surface="primary" mdw-dark mdw-raised href="#infomenu") Info
              .mdw-menu#infomenu(mdw-width-units=4 mdw-direction="up" mdw-position="top")
                a.mdw-menu__close(href="#infomenu-button")
                .mdw-menu__popup.mdw-theme(mdw-surface="card")
                  .mdw-menu__item.mdw-overlay.mdw-ripple(aria-disabled="true")
                    .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                    .mdw-menu__text Bold
                    .mdw-menu__info ⌘B
                  .mdw-menu__item.mdw-overlay.mdw-ripple(aria-checked="true")
                    .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                    .mdw-menu__text Italic
                    .mdw-menu__info ⌘I
                  .mdw-menu__item.mdw-overlay.mdw-ripple(aria-checked="true")
                    .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                    .mdw-menu__text Underline
                    .mdw-menu__info ⌘U
                  .mdw-divider.mdw-theme(mdw-ink="divider")
                  .mdw-menu__item.mdw-overlay.mdw-ripple(aria-checked="true")
                    .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                    .mdw-menu__text Flights
                  .mdw-menu__item.mdw-overlay.mdw-ripple
                    .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                    .mdw-menu__text Apps
            .mdw-menu__wrapper
              a#iconmenu-button.mdw-button.mdw-overlay.mdw-ripple.mdw-theme(mdw-surface="primary" mdw-dark mdw-raised href="#iconmenu") Icons
              .mdw-menu#iconmenu(mdw-width-units=4 mdw-direction="up" mdw-position="top")
                a.mdw-menu__close(href="#iconmenu-button")
                .mdw-menu__popup.mdw-theme(mdw-surface="card")
                  .mdw-menu__item.mdw-overlay.mdw-ripple
                    .mdw-menu__icon.mdw-theme.material-icons(mdw-ink="medium") format_bold
                    .mdw-menu__text Bold
                    .mdw-menu__info ⌘B
                  .mdw-menu__item.mdw-overlay.mdw-ripple
                    .mdw-menu__icon.mdw-theme.material-icons(mdw-ink="medium") format_italic
                    .mdw-menu__text Italic
                    .mdw-menu__info ⌘I
                  .mdw-menu__item.mdw-overlay.mdw-ripple
                    .mdw-menu__icon.mdw-theme.material-icons(mdw-ink="medium") format_underline
                    .mdw-menu__text Underline
                    .mdw-menu__info ⌘U
            .mdw-menu__wrapper.js
              button.mdw-button.mdw-overlay.mdw-ripple.mdw-theme(mdw-surface="primary" mdw-dark mdw-raised) JS
              .mdw-menu(mdw-width-units=4 mdw-direction="reverse")
                .mdw-menu__popup.mdw-theme(mdw-surface="card")
                  .mdw-menu__item
                    .mdw-menu__icon.mdw-theme.material-icons(mdw-ink="medium") format_bold
                    .mdw-menu__text Bold
                    .mdw-menu__info ⌘B
                  .mdw-menu__item(aria-disabled="true")
                    .mdw-menu__icon.mdw-theme.material-icons(mdw-ink="medium") format_italic
                    .mdw-menu__text Italic
                    .mdw-menu__info ⌘I
                  .mdw-menu__item
                    .mdw-menu__icon.mdw-theme.material-icons(mdw-ink="medium") format_underline
                    .mdw-menu__text Underline
                    .mdw-menu__info ⌘U
                  .mdw-divider.mdw-theme(mdw-ink="divider")
                  .mdw-menu__item(aria-checked="true")
                    .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                    .mdw-menu__text Flights
                  .mdw-menu__item
                    .mdw-menu__check.mdw-theme.material-icons(mdw-ink="medium") check
                    .mdw-menu__text Apps
  script(src='menu.min.js')