include ../_mixins.pug

+header("selection")
  .comparison
    .render
      +androidstatusbar('teal 700', 'dark')
      .mdw-appbar.mdw-theme(mdw-surface="teal 500" mdw-dark)
        .mdw-appbar__action
          .mdw-appbar__title Title
      .content(style="padding-top:7px")
        ul.mdw-list
          li.mdw-list__subheader.mdw-theme(mdw-ink="medium") Switch
          li.mdw-list__item
            label.mdw-list__content.mdw-selection.mdw-overlay.mdw-theme(mdw-no-ripple mdw-ink="teal A700" mdw-switch)
              input.mdw-selection__input.mdw-overlay(type="checkbox" checked)
              .mdw-list__text.mdw-selection__label Android Switch On
              .mdw-selection__icon
          li.mdw-list__item
            label.mdw-list__content.mdw-selection.mdw-overlay.mdw-theme(mdw-no-ripple mdw-ink="teal A200" mdw-switch)
              input.mdw-selection__input.mdw-overlay(type="checkbox")
              .mdw-list__text.mdw-selection__label Android Switch Off
              .mdw-selection__icon
        ul.mdw-list
          li.mdw-list__subheader.mdw-theme(mdw-ink="medium") Single check
          li.mdw-list__item
            label.mdw-list__content.mdw-selection.mdw-overlay.mdw-theme(mdw-no-ripple mdw-ink="teal A700")
              input.mdw-selection__input.mdw-overlay(type="radio" name="selectiontest" checked)
              .mdw-list__text.mdw-selection__label
                .mdw-list__text-line Option 1
                .mdw-list__text-line.mdw-theme(mdw-ink="medium") Description
              .mdw-selection__icon
          li.mdw-list__item
            label.mdw-list__content.mdw-selection.mdw-overlay.mdw-theme(mdw-no-ripple mdw-ink="blue A700")
              input.mdw-selection__input.mdw-overlay(type="radio" name="selectiontest")
              .mdw-list__text.mdw-selection__label
                .mdw-list__text-line Option 2
                .mdw-list__text-line.mdw-theme(mdw-ink="medium") Description
              .mdw-selection__icon
        ul.mdw-list
          li.mdw-list__subheader.mdw-theme(mdw-ink="medium") Multiple check
          li.mdw-list__item
            label.mdw-list__content.mdw-selection.mdw-overlay.mdw-theme(mdw-no-ripple mdw-ink="teal A400")
              input.mdw-selection__input.mdw-overlay(type="checkbox" checked)
              .mdw-list__text.mdw-selection__label Option 1
              .mdw-selection__icon
          li.mdw-list__item
            label.mdw-list__content.mdw-selection.mdw-overlay.mdw-theme(mdw-no-ripple mdw-ink="blue A700")
              input.mdw-selection__input.mdw-overlay(type="checkbox" checked)
              .mdw-list__text.mdw-selection__label Option 2
              .mdw-selection__icon
          li.mdw-list__item
            label.mdw-list__content.mdw-selection.mdw-overlay.mdw-theme(mdw-no-ripple mdw-ink="warn")
              input.mdw-selection__input.mdw-overlay(type="checkbox")
              .mdw-list__text.mdw-selection__label Option 3
              .mdw-selection__icon
    +target('https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B57Y8yNEHsZPQXRHTEpLc0JXVnM/material-design.platform-adaptation-control-1.png')

  .comparison
    .render
      +androidstatusbar('teal 700', 'dark')
      .mdw-appbar.mdw-theme(mdw-surface="teal 500" mdw-dark)
        .mdw-appbar__action
          .mdw-appbar__title Title
      .content
        div.display-flex(style="padding:16px")
          +mdwSelection({ink:'blue A700', checked:true, prefix:true }) Prefixed
        div.display-flex(style="padding:16px")
          +mdwSelection({ink:'teal A700', checked:true }) Suffixed
        div.display-flex(style="padding:16px")
          +mdwSelection({ink:'teal A700', checked:true, disabled:true}) Disabled
        div.display-flex(style="padding:16px")
          +mdwSelection({ink:'teal A700', type:'radio', name:'test', checked:true }) Option A
        div.display-flex(style="padding:16px")
          +mdwSelection({ink:'teal A700', type:'radio', name:'test' }) Option B
        div.display-flex(style="padding:16px")
          +mdwSelection({ink:'teal A700', type:'radio', name:'test', disabled:true }) Option C
  script(src='selection.min.js')