include ../mixins.pug

+header("slider")
  .mdw-grid(mdw-margin-top mdw-margin-bottom mdw-stretch)
    .mdw-grid__item(mdw-colspan="100%")
      h5.mdw-type(mdw-baseline-next="36") Sliders allow users to make selections from a range of values.
      p.mdw-type Sliders reflect a range of values along a bar, from which users may select a single value. They are ideal for adjusting settings such as volume, brightness, or applying image filters.
    .mdw-grid__item(mdw-colspan="4")
      .component-sample
        .component-sample__container
          label.mdw-slider.mdw-theme(mdw-color="accent")
            input.mdw-slider__input(type="range" list="sample-list")
            datalist#sample-list
              option(value=0 label="None")
              option(value=50 label="Half")
              option(value=100 label="All")
  script(src='slider.min.js')