include ../_mixins.pug

+header("snackbar")
  .mdw-grid(mdw-margin-top mdw-margin-bottom)
    .mdw-grid__item(mdw-colspan="100%")
      h5.mdw-type(mdw-baseline-next="36") Snackbars provide brief messages about app processes at the bottom of the screen.
      p.mdw-type Snackbars inform users of a process that an app has performed or will perform. They appear temporarily, towards the bottom of the screen. They shouldn’t interrupt the user experience, and they don’t require user input to disappear.
    .mdw-grid__item(mdw-colspan="100%")
      .mdw-grid__content.component-sample(style="padding:0")
          .mdw-grid(style="width:100%;height:100%")
            .mdw-grid__item(mdw-colspan="100%")
              div
                button.mdw-button.mdw-overlay.mdw-ripple.mdw-theme(mdw-ink="accent") Create New
            .mdw-grid__item(mdw-colspan="100%")
              .mdw-snackbar__wrapper
                .mdw-snackbar__container
                  .mdw-snackbar(aria-hidden="false")
                    span Short message snackbar.
            .mdw-grid__item(mdw-colspan="100%")
              .mdw-snackbar__wrapper
                .mdw-snackbar__container.js-sample
    .mdw-grid__item(mdw-colspan="4")
      .mdw-type(mdw-style="subtitle") Javascript
      div
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="javascript" value="required" disabled)
          .mdw-selection__icon
          .mdw-selection__label Required
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="javascript" value="optional" checked)
          .mdw-selection__icon
          .mdw-selection__label Optional
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="javascript" value="none")
          .mdw-selection__icon
          .mdw-selection__label None
      .mdw-type(mdw-style="subtitle") Text
      div
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="text" value="short" checked)
          .mdw-selection__icon
          .mdw-selection__label Short
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="text" value="long")
          .mdw-selection__icon
          .mdw-selection__label Long
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="text" value="line-break")
          .mdw-selection__icon
          .mdw-selection__label Explicit line-break
      .mdw-type(mdw-style="subtitle") Button
      div
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="button" value="none" checked)
          .mdw-selection__icon
          .mdw-selection__label None
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="button" value="short")
          .mdw-selection__icon
          .mdw-selection__label Short
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="button" value="long")
          .mdw-selection__icon
          .mdw-selection__label Long
      .mdw-type(mdw-style="subtitle") Visibility
      div
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="visibility" value="show" checked)
          .mdw-selection__icon
          .mdw-selection__label Show
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="visibility" value="hide")
          .mdw-selection__icon
          .mdw-selection__label Hide
      .mdw-type(mdw-style="subtitle") Position
      div
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="position" value="auto" checked)
          .mdw-selection__icon
          .mdw-selection__label Start (Default)
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="position" value="center")
          .mdw-selection__icon
          .mdw-selection__label Center
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="position" value="end")
          .mdw-selection__icon
          .mdw-selection__label End
      .mdw-type(mdw-style="subtitle") Auto-Hide Time (Seconds)
      div
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="autohide" value="none" checked)
          .mdw-selection__icon
          .mdw-selection__label None
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="autohide" value="4")
          .mdw-selection__icon
          .mdw-selection__label 4
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="autohide" value="5")
          .mdw-selection__icon
          .mdw-selection__label 5
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="autohide" value="6")
          .mdw-selection__icon
          .mdw-selection__label 6
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="autohide" value="7")
          .mdw-selection__icon
          .mdw-selection__label 7
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="autohide" value="8")
          .mdw-selection__icon
          .mdw-selection__label 8
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="autohide" value="9")
          .mdw-selection__icon
          .mdw-selection__label 9
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="autohide" value="10")
          .mdw-selection__icon
          .mdw-selection__label 10
      .mdw-type(mdw-style="subtitle") Options
      div
        label.mdw-selection.mdw-theme(mdw-ink="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="checkbox" name="stacked")
          .mdw-selection__icon
          .mdw-selection__label Stacked
    .mdw-grid__item(mdw-colspan="100%" style="max-height:0")
    .mdw-grid__item(mdw-colspan="6")
      .display-flex(flex-column)
        h6.mdw-type HTML Code
        .mdw-card.component-code.component-html
    .mdw-grid__item(mdw-colspan="6")
      .display-flex(flex-column)
        h6.mdw-type Javascript Code
        .mdw-card.component-code.component-js
  script(src='snackbar.min.js')