include ../mixins.pug

+header("tab")
  .mdw-grid(mdw-margin-top mdw-margin-bottom mdw-stretch).docs-tab
    .mdw-grid__item(mdw-colspan="100%")
      h5.mdw-type(mdw-baseline-next="36") Tabs make it easy to explore and switch between different views.
      p.mdw-type Tabs enable content organization at a high level, such as switching between views, data sets, or functional aspects of an app.
    .mdw-grid__item(mdw-colspan="8")
      .mdw-grid__content
        .component-sample
          .component-sample__container
            .mdw-tab
              .mdw-tab__list.mdw-theme(mdw-color="accent A200")
                .mdw-tab__item
                  .mdw-tab__icon.material-icons looks_one
                  .mdw-tab__label Tab Item One
                .mdw-tab__item
                  .mdw-tab__icon.material-icons looks_two
                  .mdw-tab__label Tab Item Two
                .mdw-tab__item
                  .mdw-tab__icon.material-icons looks_3
                  .mdw-tab__label Tab Item Three
                .mdw-tab__indicator
              .mdw-tab__content.mdw-theme(mdw-fill="grey 800" mdw-dark)
                .mdw-tab__panel
                  div(style="min-height:200px;padding:20px")
                    p Sample Content One
                    button.mdw-button.mdw-overlay.mdw-ripple(mdw-outline) Unfocusable when inactive
                    p HTML Ordered List with (#) representing DOM position
                    ol
                      li.mdw-tabs__panel__active-hide (1) Layer hidden when active (peek only)
                      li.mdw-tabs__panel__active-remove (2) Layer removed when active (peek only)
                      li (3) Always visible
                      li.mdw-tabs__panel__inactive-hide (4) Layer hidden when inactive (active only)
                      li.mdw-tabs__panel__inactive-remove (5) Layer removed when inactive (active only)
                      li (6) Always visible
                .mdw-tab__panel
                  div(style="min-height:200px;padding:20px")
                    p Sample Content Two
                    button.mdw-button.mdw-overlay.mdw-ripple(mdw-outline) Unfocusable when inactive
                    p HTML Ordered List with (#) representing DOM position
                    ol
                      li.mdw-tabs__panel__active-hide (1) Layer hidden when active (peek only)
                      li.mdw-tabs__panel__active-remove (2) Layer removed when active (peek only)
                      li (3) Always visible
                      li.mdw-tabs__panel__inactive-hide (4) Layer hidden when inactive (active only)
                      li.mdw-tabs__panel__inactive-remove (5) Layer removed when inactive (active only)
                      li (6) Always visible
                .mdw-tab__panel
                  div(style="min-height:200px;padding:20px")
                    p Sample Content Three
                    button.mdw-button.mdw-overlay.mdw-ripple(mdw-outline) Unfocusable when inactive
                    p HTML Ordered List with (#) representing DOM position
                    ol
                      li.mdw-tabs__panel__active-hide (1) Layer hidden when active (peek only)
                      li.mdw-tabs__panel__active-remove (2) Layer removed when active (peek only)
                      li (3) Always visible
                      li.mdw-tabs__panel__inactive-hide (4) Layer hidden when inactive (active only)
                      li.mdw-tabs__panel__inactive-remove (5) Layer removed when inactive (active only)
                      li (6) Always visible
    .mdw-grid__item(mdw-colspan="4")
      .mdw-type(mdw-style="subtitle") Javascript
      div
        label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="javascript" value="required" checked)
          .mdw-selection__icon
          .mdw-selection__label Required
        label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="javascript" value="optional" disabled)
          .mdw-selection__icon
          .mdw-selection__label Optional
        label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="javascript" value="none" disabled)
          .mdw-selection__icon
          .mdw-selection__label None
      .mdw-type(mdw-style="subtitle") Color
      div
        label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="color" value="default")
          .mdw-selection__icon
          .mdw-selection__label Default
        label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="color" value="primary 400")
          .mdw-selection__icon
          .mdw-selection__label Primary 400
        label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="color" value="accent A200" checked)
          .mdw-selection__icon
          .mdw-selection__label Accent A200
        label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="color" value="warn")
          .mdw-selection__icon
          .mdw-selection__label Warn
        label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="color" value="purple A400")
          .mdw-selection__icon
          .mdw-selection__label Purple A400
      .mdw-type(mdw-style="subtitle") Fill
      div
        label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="fill" value="none" checked)
          .mdw-selection__icon
          .mdw-selection__label None
        label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="fill" value="primary dark" )
          .mdw-selection__icon
          .mdw-selection__label Primary
        label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="fill" value="accent A100 dark")
          .mdw-selection__icon
          .mdw-selection__label Accent A100
        label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="fill" value="warn 200 light")
          .mdw-selection__icon
          .mdw-selection__label Warn 200
        label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="radio" name="fill" value="green 700 dark")
          .mdw-selection__icon
          .mdw-selection__label Green 700
      .mdw-type(mdw-style="subtitle") Scrollable
      div
        label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="checkbox" name="content-scrollable" checked)
          .mdw-selection__icon
          .mdw-selection__label Content
        label.mdw-selection.mdw-theme(mdw-color="accent" style="margin:16px 8px")
          input.mdw-selection__input.mdw-overlay(type="checkbox" name="tabs-scrollable")
          .mdw-selection__icon
          .mdw-selection__label Tabs
    .mdw-grid__item(mdw-colspan="100%" style="max-height:0")
    .mdw-grid__item(mdw-colspan="8")
      h6.mdw-type HTML Code
      .mdw-card.component-code.component-html
        #usePug.mdw-button.mdw-theme(mdw-color="accent" aria-pressed="false" mdw-overlay-off="activated" mdw-icon) PUG
    .mdw-grid__item(mdw-colspan="4")
      h6.mdw-type Javascript Code
      .mdw-card.component-code.component-js
    .mdw-grid__item(mdw-colspan="100%")
      h6.mdw-type Samples
    .mdw-grid__item.display-flex(mdw-colspan="4").clipped-300
      .render-fill
        .mdw-tab
          .mdw-tab__list.mdw-theme(mdw-fill="cyan 500" mdw-dark mdw-color="yellow")
            .mdw-tab__item
              .mdw-tab__label Item One
            .mdw-tab__item
              .mdw-tab__label Item Two
            .mdw-tab__item
              .mdw-tab__label Item Three
            .mdw-tab__indicator
          .mdw-tab__content
            .mdw-tab__panel Item One
            .mdw-tab__panel Item Two
            .mdw-tab__panel Item Three

    .mdw-grid__item.display-flex(mdw-colspan="4").clipped-300
      .render-fill
        +androidstatusbar('cyan 700', 'dark')
        .mdw-appbar.mdw-theme(mdw-fill="cyan 500" mdw-dark mdw-prominent)
          .mdw-appbar__action
            .mdw-appbar__start
              .mdw-button.mdw-overlay.mdw-ripple.material-icons(mdw-icon) menu
            .mdw-appbar__title Page title
            .mdw-appbar__end
              .mdw-button.mdw-overlay.mdw-ripple.material-icons(mdw-icon) search
              .mdw-button.mdw-overlay.mdw-ripple.material-icons(mdw-icon mdw-more-button) more_vert
          .mdw-tab
            .mdw-tab__list.mdw-theme(mdw-color="yellow")
              .mdw-tab__item
                .mdw-tab__label Item One
              .mdw-tab__item
                .mdw-tab__label Item Two
              .mdw-tab__item
                .mdw-tab__label Item Three
              .mdw-tab__indicator
        .content

    .mdw-grid__item.display-flex(mdw-colspan="4").clipped-300
      .render-fill
        +androidstatusbar('cyan 700', 'dark')
        .mdw-tab
          .mdw-tab__list-wrapper.mdw-appbar.mdw-theme(mdw-fill="cyan 500" mdw-dark)
            .mdw-appbar__action
              .mdw-appbar__start
                .mdw-button.mdw-overlay.mdw-ripple.material-icons(mdw-icon) menu
              .mdw-appbar__title Page title
              .mdw-appbar__end
                .mdw-button.mdw-overlay.mdw-ripple.material-icons(mdw-icon) search
                .mdw-button.mdw-overlay.mdw-ripple.material-icons(mdw-icon mdw-more-button) more_vert
            .mdw-tab__list.mdw-theme(mdw-color="yellow")
              .mdw-tab__item
                .mdw-tab__label Item One
              .mdw-tab__item
                .mdw-tab__label Item Two
              .mdw-tab__item
                .mdw-tab__label Item Three
              .mdw-tab__indicator
          .mdw-tab__content
            .mdw-tab__panel Item One
            .mdw-tab__panel Item Two
            .mdw-tab__panel Item Three

    .mdw-grid__item.display-flex(mdw-colspan="4").clipped-300
      .render-fill
        +androidstatusbar('background 600', 'dark')
        .mdw-tab
          .mdw-tab__list-wrapper.mdw-appbar
            .mdw-appbar__action
              .mdw-appbar__start
                .mdw-button.mdw-overlay.mdw-ripple.material-icons(mdw-icon) menu
              .mdw-appbar__title Page title
              .mdw-appbar__end
                .mdw-button.mdw-overlay.mdw-ripple.material-icons(mdw-icon) search
                .mdw-button.mdw-overlay.mdw-ripple.material-icons(mdw-icon mdw-more-button) more_vert
            .mdw-tab__list.mdw-theme(mdw-color="cyan")
              .mdw-tab__item
                .mdw-tab__label Item One
              .mdw-tab__item
                .mdw-tab__label Item Two
              .mdw-tab__item
                .mdw-tab__label Item Three
              .mdw-tab__indicator
          .mdw-tab__content
            .mdw-tab__panel Item One
            .mdw-tab__panel Item Two
            .mdw-tab__panel Item Three

    .mdw-grid__item.display-flex(mdw-colspan="4").clipped-300
      .render-fill
        +androidstatusbar('cyan 700', 'dark')
        .mdw-appbar.mdw-theme(mdw-fill="cyan 500" mdw-dark)
          .mdw-appbar__action
            .mdw-appbar__start
              .mdw-button.mdw-overlay.mdw-ripple.material-icons(mdw-icon) menu
            .mdw-appbar__title Page title
            .mdw-appbar__end
              .mdw-button.mdw-overlay.mdw-ripple.material-icons(mdw-icon) search
              .mdw-button.mdw-overlay.mdw-ripple.material-icons(mdw-icon mdw-more-button) more_vert
          .mdw-tab
            .mdw-tab__list.mdw-theme(mdw-color="yellow")
              .mdw-tab__item
                .mdw-tab__icon.material-icons phone
                .mdw-tab__label Recents
              .mdw-tab__item
                .mdw-tab__icon.material-icons favorite
                .mdw-tab__label Favorites
              .mdw-tab__item
                .mdw-tab__icon.material-icons person_pin
                .mdw-tab__label Nearby
              .mdw-tab__indicator
        .content

    .mdw-grid__item.display-flex(mdw-colspan="4").clipped-300
      .render-fill
        +androidstatusbar('background 600', 'dark')
        .mdw-appbar
          .mdw-appbar__action
            .mdw-appbar__start
              .mdw-button.mdw-overlay.mdw-ripple.material-icons(mdw-icon) menu
            .mdw-appbar__title Page title
            .mdw-appbar__end
              .mdw-button.mdw-overlay.mdw-ripple.material-icons(mdw-icon) search
              .mdw-button.mdw-overlay.mdw-ripple.material-icons(mdw-icon mdw-more-button) more_vert
          .mdw-tab
            .mdw-tab__list.mdw-theme(mdw-color="cyan")
              .mdw-tab__item
                .mdw-tab__icon.material-icons phone
              .mdw-tab__item
                .mdw-tab__icon.material-icons favorite
              .mdw-tab__item
                .mdw-tab__icon.material-icons person_pin
              .mdw-tab__indicator
        .content
    .mdw-grid__item.display-flex(mdw-colspan="100%")
      .display-flex(flex-column style="width:100%;padding:24px;box-sizing:border-box")
        +androidstatusbar('cyan 700', 'dark')
        .mdw-tab
          .mdw-tab__list-wrapper.mdw-appbar.mdw-theme(mdw-fill="cyan 500" mdw-dark)
            .mdw-appbar__action
              .mdw-appbar__start
                .mdw-button.mdw-overlay.mdw-ripple.material-icons(mdw-icon) menu
              .mdw-appbar__title Clustered
              .mdw-appbar__end
                .mdw-button.mdw-overlay.mdw-ripple.material-icons(mdw-icon) search
                .mdw-button.mdw-overlay.mdw-ripple.material-icons(mdw-icon mdw-more-button) more_vert
            .mdw-tab__list.mdw-theme(mdw-color="yellow" style="align-self:center")
              .mdw-tab__item
                .mdw-tab__icon.material-icons phone
                .mdw-tab__label Recents
              .mdw-tab__item
                .mdw-tab__icon.material-icons favorite
                .mdw-tab__label Favorites
              .mdw-tab__item
                .mdw-tab__icon.material-icons person_pin
                .mdw-tab__label Nearby
              .mdw-tab__indicator
          .mdw-tab__content
            .mdw-tab__panel Recents
            .mdw-tab__panel Favorites
            .mdw-tab__panel Nearby

    .mdw-grid__item(mdw-colspan="100%")
      .mdw-grid__content.js
        +androidstatusbar('cyan 700', 'dark')
        .mdw-tab
          .mdw-appbar.mdw-theme(mdw-fill="cyan 500" mdw-dark)
            .mdw-appbar__action
              .mdw-appbar__start
                .mdw-button.mdw-overlay.mdw-ripple.material-icons(mdw-icon) menu
              .mdw-appbar__title Scrollable
              .mdw-appbar__end
                .mdw-button.mdw-overlay.mdw-ripple.material-icons(mdw-icon) search
                .mdw-button.mdw-overlay.mdw-ripple.material-icons(mdw-icon mdw-more-button) more_vert
            .mdw-tab__list.mdw-theme(mdw-color="yellow" mdw-scrollable)
              .mdw-tab__item
                .mdw-tab__icon.material-icons phone
                .mdw-tab__label Recents
              .mdw-tab__item
                .mdw-tab__icon.material-icons favorite
                .mdw-tab__label My Oversized Favorites Tab
              .mdw-tab__item
                .mdw-tab__icon.material-icons person_pin
                .mdw-tab__label Nearby
              .mdw-tab__item
                .mdw-tab__icon.material-icons edit
                .mdw-tab__label Edit
              .mdw-tab__item
                .mdw-tab__icon.material-icons clear
                .mdw-tab__label Clear
              .mdw-tab__item
                .mdw-tab__icon.material-icons search
                .mdw-tab__label Search
              .mdw-tab__item
                .mdw-tab__icon.material-icons restore
                .mdw-tab__label Restore
              .mdw-tab__item
                .mdw-tab__icon.material-icons stars
                .mdw-tab__label Stars
          .mdw-tab__content
            .mdw-tab__panel 1
            .mdw-tab__panel 2
            .mdw-tab__panel 3
            .mdw-tab__panel 4
            .mdw-tab__panel 5
            .mdw-tab__panel 6
            .mdw-tab__panel 7
            .mdw-tab__panel 8
  script(src='tab.min.js')