// https://material.io/guidelines/style/typography.html

@import '../common/platform.scss';
@import '../common/responsive.scss';
@import '../common/type.scss';

h1.mdw-type,
h2.mdw-type,
h3.mdw-type,
h4.mdw-type,
h5.mdw-type,
h6.mdw-type,
p.mdw-type {
  margin: 0;
}

p.mdw-type {
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

h1.mdw-type,
.mdw-type[mdw-style="h1"] {
  @include type-rules('h1');
}

h2.mdw-type,
.mdw-type[mdw-style="h2"] {
  @include type-rules('h2');
}

h3.mdw-type,
.mdw-type[mdw-style="h3"] {
  @include type-rules('h3');
}

h4.mdw-type,
.mdw-type[mdw-style="h4"] {
  @include type-rules('h4');
}

h5.mdw-type,
.mdw-type[mdw-style="h5"] {
  @include type-rules('h5');
}

h6.mdw-type,
.mdw-type[mdw-style="h6"] {
  @include type-rules('h6');
}

.mdw-type[mdw-style="subtitle"] {
  @include type-rules('subtitle');
}

.mdw-type[mdw-style="subtitle-2"] {
  @include type-rules('subtitle-2');
}

body.mdw-type,
p.mdw-type,
.mdw-type[mdw-style="body"] {
  @include type-rules('body');
}

.mdw-type[mdw-style="body-2"] {
  @include type-rules('body-2');
}

.mdw-type[mdw-style="button"] {
  @include type-rules('button');
}

.mdw-type[mdw-style="caption"] {
  @include type-rules('caption');
}

.mdw-type[mdw-style="overline"] {
  @include type-rules('overline');
}

// MD-2014 Typography


.mdw-type[mdw-style|="display"] {
  font-weight: $font-weight-regular;
  font-size: sp(34);
  line-height: sp(40);
}
.mdw-type[mdw-style="display-4"] {
  font-size: sp(112);
  line-height: normal;
  font-weight: $font-weight-light;
  white-space: nowrap;
}
.mdw-type[mdw-style="display-3"] {
  font-size: sp(56);
  line-height: normal;
  white-space: nowrap;
}
.mdw-type[mdw-style="display-2"] {
  font-size: sp(45);
  line-height: sp(48);
}
.mdw-type[mdw-style="headline"] {
  font-size: sp(24);
  line-height: sp(32);
  font-weight: $font-weight-regular;
}
.mdw-type[mdw-style="title"] {
  font-size: sp(20);
  font-weight: $font-weight-medium;
  white-space: nowrap;
}
.mdw-type[mdw-style|="subheading"] {
  font-size: sp(15);
  @include allHandsetsAndTablets() {
      font-size: sp(16);
  }
  font-weight: $font-weight-regular;
  line-height: sp(24);
}
.mdw-type[mdw-style="subheading-2"] {
  line-height: sp(28);
  @include allHandsetsAndTablets() {
      line-height: sp(28);
  }
}

.mdw-type[mdw-texttop-top]::before {
  content: '';
  display: inline-block;
  height: 1em;
}

.mdw-type[mdw-baseline-top]::before {
  content: '';
  display: inline-block;
}

.mdw-type[mdw-baseline-next],
.mdw-type[mdw-baseline-bottom] {
  &::after {
    content: '';
    display: inline-block;
  }
}

.mdw-type[mdw-baseline-next] {
  & + .mdw-type::before {
    content: '';
    display: inline-block;
  }
}

// 4 dp/sp baselines
$mdw-type__baselines: (
  4, 8, 12, 16, 20, 24, 28, 32, 36,
  40, 48, 56, 64) !default;

@each $bl in $mdw-type__baselines {
  .mdw-type[mdw-texttop-top="#{$bl}dp"] {
    &::before {
      margin-top: dp($bl);
    }
  }
  .mdw-type[mdw-texttop-top="#{$bl}"] {
    &::before {
      margin-top: sp($bl);
    }
  }
  .mdw-type[mdw-baseline-top="#{$bl}dp"] {
    &::before {
      height: dp($bl);
    }
  }
  .mdw-type[mdw-baseline-top="#{$bl}"] {
    &::before {
      height: sp($bl);
    }
  }
  .mdw-type[mdw-baseline-bottom="#{$bl}dp"] {
    &::after {
      vertical-align: dp(-$bl);
    }
  }
  .mdw-type[mdw-baseline-bottom="#{$bl}"] {
    &::after {
      vertical-align: sp(-$bl);
    }
  }
  .mdw-type[mdw-baseline-next="#{$bl}dp"] {
    margin-bottom: dp(-$bl);
    &::after {
      vertical-align: dp(-$bl);
    }
    & + .mdw-type::before {
      height: dp($bl);
    }
  }
  .mdw-type[mdw-baseline-next="#{$bl}"] {
    margin-bottom: sp(-$bl);
    &::after {
      vertical-align: sp(-$bl);
    }
    & + .mdw-type::before {
      height: sp($bl);
    }
  }
}