// https://material.io/guidelines/style/typography.html

@import '../common/functions.scss';

.mdw-type {
  // Sequential mdw-types will embed a 0-width joiner to align leading
  & + .mdw-type::before {
    content: "\200D"; // &zwj;
    display: inline-block;
  }
  &[mdw-style|="display"] {
    font-weight: $font-weight-regular;
    &,
    & + .mdw-type::before {
      font-size: sp(34);
      line-height: dp(40);
    }
  }
  &[mdw-style="display-4"] {
    &,
    & + .mdw-type::before {
      font-size: sp(112);
      line-height: normal;
      font-weight: $font-weight-light;
      white-space: nowrap;
    }
  }
  &[mdw-style="display-3"] {
    &,
    & + .mdw-type::before {
      font-size: sp(56);
      line-height: normal;
      white-space: nowrap;
    }
  }
  &[mdw-style="display-2"] {
    &,
    & + .mdw-type::before {
      font-size: sp(45);
      line-height: dp(48);
    }
  }
  &[mdw-style="headline"] {
    &,
    & + .mdw-type::before {
      font-size: sp(24);
      line-height: dp(32);
      font-weight: $font-weight-regular;

    }
  }
  &[mdw-style="title"] {
    &,
    & + .mdw-type::before {
      font-size: sp(20);
      font-weight: $font-weight-medium;
      white-space: nowrap;
    }
  }
  &[mdw-style|="subheading"] {
    font-size: sp(15);
    @include allHandsetsAndTablets() {
      &,
      & + .mdw-type::before {
        font-size: sp(16);
      }
    }
    &,
    & + .mdw-type::before {
      font-weight: $font-weight-regular;
      line-height: dp(24);
      font-size: sp(16);
    }
  }
  &[mdw-style="subheading-2"] {
    &,
    & + .mdw-type::before {
      line-height: dp(28);
    }
    @include allHandsetsAndTablets() {
      &,
      & + .mdw-type::before {
        line-height: dp(28);
      }
    }
  }
  &[mdw-style|="body"] {
    hyphens: auto;
    @include allHandsetsAndTablets() {
      &,
      & + .mdw-type::before {
        font-size: sp(14);
      }
    }
    &,
    & + .mdw-type::before {
      font-weight: $font-weight-regular;
      font-size: sp(13);
      line-height: dp(20);
    }
  }
  &[mdw-style="body-2"] {
    @include allHandsetsAndTablets() {
      &,
      & + .mdw-type::before {
        font-size: sp(14);
      }
    }
    &,
    & + .mdw-type::before {
      font-weight: $font-weight-medium;
      font-size: sp(13);
      line-height: dp(24);
    }
  }
  &[mdw-style="caption"] {
    &,
    & + .mdw-type::before {
      font-size: sp(12);
      font-weight: $font-weight-regular;
      white-space: nowrap;
    }
  }
  &[mdw-style="button"] {
    &,
    & + .mdw-type::before {
      font-size: sp(14);
      font-weight: $font-weight-medium;
      text-transform: uppercase;
    }
  }
}