@import '../common/theming.scss';

$typeColors: (
  primary-text-color:   (('foreground-light', 0.87), ('foreground-dark', 1.00)),
  secondary-text-color: (('foreground-light', 0.54), ('foreground-dark', 0.70)),
);

@function typeThemeValue($key, $type, $theme) {
  @return mdwGetThemeValue('type', $typeColors, $key, $type, $theme);
}

@mixin typeThemeVariables($lightness) {
  @include mdw-theme__variables('type', $typeColors, $lightness);
}

@mixin typeContrastAndThemeRules($type: 'var', $theme: null) {
  .mdw-type {
    color: typeThemeValue("primary-text-color", $type, $theme);
  }
}